.ypop-wrapper{
    overflow: hidden;
}
.ypop-container-inner{
    position: relative;
    overflow: hidden;
    height: 100%;
}

.ypop-left{
    width: 49%;
    float: left;
    margin-left: 1px;
}
.ypop-right{
    width: 50%;
    float: left;
	padding-right: 20px;
}

.ypop-wrapper  a.close{
    right: 10px;
    width: 35px;
    height: 35px;
    top: 10px;
}

.ypop-checkzone{
	position: absolute;
	bottom: 8px;
	left: 9px;
	right: 0;
	background-color: transparent;
}
.ypop-main-content{
	padding: 5px;
	position: relative;
	width: 100%;
	height: 100%;
}
.ypop-main-content:before{
	border: 1px solid red;
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	z-index: -1;
}
.ypop-header{
    text-align: center;
    margin: 20px 0px;
}
.ypop-header .ypop-title{
    font-size: 40px;
	padding: 20px 10px;
}
.ypop-footer {
	font-size: 12px;
	text-align: left;
	margin-top: 20px;
}


/* TEXT */
.ypop-content .ypop-right .ypop-content-right ul{
    list-style: none;
    margin-left: 0;
    margin-bottom: 10px;
    text-align: left;
}

.ypop-content .ypop-right .ypop-content-right ul li{
    position: relative;
    margin: 5px 0;
    padding-left: 27px;
}

.ypop-content .ypop-right .ypop-content-right ul li:before{
    width: 20px;
    height: 20px;
    display: block;
    content: '';
    position: absolute;
    background-color: #1d456b;
    border-radius: 50%;
    left: 0;
    top: 3px;
}

.ypop-content .ypop-right .ypop-content-right ul li:after{
    background: url("../images/bullett.png") no-repeat left;
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    z-index: 10;
    top: 2px;
    left: 5px;
}

/* SOCIAL */
.share-container a{
    text-decoration: none;
    text-align: center;
}
.icon-circle{
    border: 1px solid;
    text-align: center;
    margin: 15px 2px;
    text-decoration: none;
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 20px;
}

/* NEWSLETTER */

.ypop-form-newsletter-wrapper fieldset {
	border: 0;
}

.ypop-form-newsletter-wrapper ul {
	list-style: none;
	
	padding: 0;
	text-align: left;
	margin:10px 0 0;
}


.wpcf7 input,
.wpcf7 textarea,
.ypop-content-type .contact-form input,
.ypop-form-newsletter-wrapper .newsletter_form_name input,
.ypop-form-newsletter-wrapper .newsletter_form_email input{
	width: 100%;
	border: 1px solid #cecece !important;
	background-color: #fff;
	border-radius: 7px;
	margin-bottom: 10px;
	padding: 13px 5px;
	box-shadow:none;
}

.ypop-form-newsletter-wrapper label {
	color: #787878;
}

.ypop-form-newsletter-wrapper .submit-field .custom_icon {
	padding-right: 5px;
}

.ypop-form-newsletter-wrapper  .custom_icon img {
	max-width: 27px;
	max-height: 25px;
	display: inline-block;
}

.ypop-wrapper button, .ypop-content-type .contact-form input[type=submit],
.ypop-content-type .contact-form input[type=submit],
.ypop-product-wrapper  .add_to_cart a{
	padding: 15px;
	font-size: 15px;
	width: 100%;
	border-radius: 7px;
	border: 0px;
	box-shadow:none;
}

.ypop-form-newsletter-wrapper .message-box span {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin: 0;
  display: block;
}

.ypop-form-newsletter-wrapper ul {
    list-style: none;
}
/* FORM */

/*********************/
/* CONTACT FORM 7    */
/*********************/

div.wpcf7 input[type=checkbox],
div.wpcf7 input[type=radio],
.ypop-content-type .contact-form input[type=checkbox],
.ypop-content-type .contact-form input[type=radio]{
    width: auto;
}

.wpcf7 p{
	margin-bottom: 10px;
}
/*********************/
/* YIT CONTACT FORM  */
/*********************/

.user-message{
	border-radius: 7px ;
}
.msg-error{
    position: absolute;
    right: 10px;
    top: 32px;
}

.ypop-content-type .contact-form ul{
	margin-left:0px;
}
div.wpcf7 input[type=submit],
.ypop-content-type .contact-form input[type=submit]{
    width: 100%;
    padding: 15px 18px;
    font-size: 16px;
    float: right;
    border: 0px!important;
}

.user-message,
.ypop-form-newsletter-wrapper .message-box span{
    background-color: #fff;
    margin: 10px 0 0;
}

.input-prepend{
    position: relative;
}



/* WOOCOMMERCE */
.ypop-product-wrapper h4{
    font-size: 20px;
    padding-bottom: 20px;
}
.ypop-product-wrapper .ypop-woo-thumb{
    width: 100%;
    margin: 0 auto;
}
.ypop-product-wrapper  .add_to_cart{
    margin: 20px 10px;
    display: inline-block;
}

.ypop-product-wrapper  .price{
    margin-top: 10px;
    font-size: 22px;
    font-weight: 800;
    display: inline-block;
}

.ypop-product-wrapper .add_to_cart a{
    padding: 11px 18px;
}


@media(max-width: 767px) {
    .ypop-container-inner{
        padding-bottom: 30px;
    }
    .ypop-right{
        /*display: none;*/
        width: 100%
    }
    .ypop-left{
        width: 100%;
    }

    .ypop-wrapper{
        overflow: scroll;
        position: absolute !important;
    }
    .ypop-modal.open{
        overflow-y: scroll;
        position: absolute;
    }

    .ypop-overlay{
        position: fixed;
    }
}

