/*
Theme Name: Simplicity Dark
Theme URI: http://premium.wpmudev.org
Author: Cole (Incsub), Maniu(Incsub)
Author URI: http://premium.wpmudev.org
Description: Responsive theme with: max width 700px, max content width 700px
Version: 1.5
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
body, .body_style, h1, h2, h3, h4, h5, h6, td {
	font-family:Arial, Helvetica, sans-serif;
}
body, .body_style {
	font-size:12px;
	color:#ALTERNATIVE_COLOR;
}
.body_style {
	background-color:#BG_COLOR;
}


.width {
	max-width:700px;
}
.holder {
	padding:1.5%;
}


.title {
	font-size: 55px;
	line-height: 55px;
	margin:0px;
	font-weight: bold;
}
.email_content, .email_content table, .contact_info, .email_content h1, .email_content h2, .email_content h3, .email_content h4, .email_content h5, .email_content h6 {
	color: #BODY_COLOR;
}
.from, .branding_html {
	padding:15px 0 35px;
	font-weight: bold;
	font-size: 18px;
}
p {
	font-size:12px;
	line-height:22px;
}
.view_link {
	text-align: center;
}
.view_link a {
	line-height: 25px;
}
.site-link {
	padding: 20px 0;
	text-align: center;
	font-size: 11px;
}


/* 381945-1536242933-au */