<mat-progress-bar mode="determinate" [value]="spaceUsedPercent$ | async"></mat-progress-bar>

<div class="usage-info">
    <span>{{ spaceUsed$ | async | formattedFileSize }}</span>
    <span trans>of</span>
    <span>{{ spaceAvailable$ | async | formattedFileSize }}</span>
    <span trans>used</span>
</div>

<div class="upgrade-link-container">
    <a routerLink="/billing/upgrade" target="_blank" trans>Upgrade Storage</a>
</div>