@import '~@angular/material/theming';

//media queries
$phone: 576px !default;
$tablet: 768px !default;
$laptop: 1200px !default;
$desktop: 1600px !default;

//fonts
$font-family: Roboto,'Helvetica Neue',sans-serif !default;

$site-accent-color: map_get($mat-light-green, 700) !default;
$site-primary-color-100: map_get($mat-blue, 700) !default;
$site-primary-color-200: map_get($mat-blue, 800) !default;
$site-text-color-100: #fff;
$site-text-color-200: rgba(0,0,0,.38) !default;
$site-text-color-300: rgba(0,0,0,.54) !default;
$site-text-color-400: rgba(0,0,0,.87) !default;
$site-bg-color-100: #fff !default;
$site-bg-color-200: #FAFAFA !default;
$site-bg-color-300: #f1f1f1 !default;
$site-bg-color-400: #d8d7d7 !default;
$site-border-color-100: #eff1f2 !default;
$site-border-color-200: #E0E0E0 !default;
$site-selected-item-bg-color: #e8f0fe !default;
$danger-button-color: #ea6153 !default;

//contextual colors
$success-bg-color: #4CAF50 !default;
$success-text-color: #fff !default;
$danger-bg-color: #F44336 !default;
$danger-text-color: #fff !default;

//accent color
$accent-text-color: #fff !default;
$link-color: $site-primary-color-200 !default;

//Box Shadows
$box-shadow-1: 0 1px 2px rgba(0,0,0,0.15) !default;
$box-shadow-2: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12) !default;
$box-shadow-3: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12) !default;
$box-shadow-4: 0 9px 11px -5px rgba(0,0,0,.2), 0 18px 28px 2px rgba(0,0,0,.14), 0 7px 34px 6px rgba(0,0,0,.12) !default;

//icons
$icon-color-dark: rgba(0, 0, 0, 0.5) !default;
$icon-color-light: rgba(0, 0, 0, 0.3) !default;
$default-svg-icon-size: 24px !default;

//loading indicator
$loading-indicator-color: $site-primary-color-100 !default;
$loading-indicator-width: 64px !default;
$loading-indicator-height: 64px !default;

//modals
$modal-content-width: 530px !default;
$modal-header-text-color: rgb(73, 73, 73) !default;
$modal-header-font-size: 1.6rem !default;
$modal-header-font-weight: 500 !default;
$modal-header-margin: 0 0 35px !default;
$modal-input-bg-color: transparent !default;
$modal-input-hint-text-color: $site-text-color-300 !default;
$modal-close-button-size: 24px !default;
$modal-close-button-color: $icon-color-dark !default;
$modal-error-text-color: $danger-bg-color !default;

//inputs
$input-height: 46px !default;

//account settings
$acc-page-bg-color: $site-bg-color-200;
$acc-page-panel-bg-color: $site-bg-color-100;
$acc-page-border-color: $site-border-color-200;
$acc-page-input-bg-color: $site-bg-color-100;
$acc-page-secondary-text-color: $site-text-color-300;
$acc-page-margin: 0 auto;

//no results message
$no-results-message-text-color: #43484d;

//auth pages
$login-page-border-color: darken($site-bg-color-200, 5%) !default;
$login-page-bg-color: #fafafa !default;
$login-page-panel-bg-color: lighten($site-bg-color-200, 2%) !default;
$login-page-input-bg-color: #fff !default;
$login-page-text-color: inherit !default;
$login-page-secondary-text-color: #797979 !default;

//Social services colors
$envato-color: #82B541 !default;
$facebook-color: #3b5998 !default;
$twitter-color: #1da1f2 !default;
$google-color: #d34836 !default;

//admin
$admin-background-color: #fff !default;
$admin-left-col-background-color: #fff !default;
$admin-left-col-text-color: rgba(0,0,0,.64) !default;
$admin-left-col-border-color: $site-border-color-100 !default;
$admin-left-col-active-color: #ebf2fc !default;
$admin-left-col-width: 225px !default;
$admin-nav-text-color: rgba(255,255,255,0.8) !default;
$admin-nav-background-color: $site-primary-color-100 !default;
$admin-nav-height: 64px !default;
$admin-table-background-color: #fff !default;
$admin-hover-color: #ebf2fc !default;

$admin-card-border: none;
$admin-card-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);

//text editor
$text-editor-header-background-color: $site-bg-color-200 !default;
$text-editor-header-height: 37px !default;
$text-editor-button-color: #788593 !default;
$text-editor-min-height: 218px !default;
$text-editor-max-height: 600px !default;
$text-editor-submit-button-bg-color: darken($text-editor-button-color, 5%) !default;
$text-editor-submit-button-color: $accent-text-color !default;
$text-editor-button-icon-size: 22px !default;
$text-editor-button-size: $text-editor-header-height - 1 !default;
$text-editor-button-padding: ($text-editor-button-size - $text-editor-button-icon-size) / 2 !default;

//flex table
//Table panel and table styles
$table-panel-active-header-background-color: $admin-hover-color !default;
$table-panel-active-header-text-color: $site-text-color-300 !default;
$table-panel-active-header-font-size: 1.5rem !default;
$table-panel-header-height: 70px !default;
$table-panel-padding: 15px !default;

//Tables
$table-background-color: #fff !default;
$table-row-hover-background-color: $admin-hover-color !default;
$table-hover-background-color: $admin-hover-color !default;
$table-row-height: 70px !default;
$table-header-height: $table-row-height !default;
$table-text-less-emphasis-color: #999 !default;
$table-selected-row-bg-color: $table-row-hover-background-color !default;

//Navbar
$material-navbar-height: 70px;