@import "variables";

.admin-table-panel {
  position: relative;
  border: $admin-card-border;
  box-shadow: $admin-card-box-shadow;
  margin: 25px;
  background-color: #fff;
  border-radius: 3px;

  .admin-table-panel-header {
    > .header-inner {
      display: flex;
      align-items: center;
      height: 85px;
      padding: $table-panel-padding;
      border-bottom: 1px solid transparent;
      overflow: hidden;

      &.selected {
        background-color: $table-panel-active-header-background-color;
        color: $table-panel-active-header-text-color;
        font-size: $table-panel-active-header-font-size;
        border-color: $site-border-color-200;

        > .right {
          > button {
            margin: 0 4px;
            border: 1px solid $site-border-color-200;
            border-radius: 3px;
            padding: 0 8px;
            vertical-align: middle;
          }
        }
      }

      > .left {
        flex: 0 0 50%;

        > .text {
          text-transform: capitalize;
        }

        > .title {
          font-size: 1.8rem;
          color: #676a6c;
        }

        > button {
          margin-right: 5px;
        }
      }

      > .right {
        flex: 0 0 50%;
        display: flex;
        justify-content: flex-end;

        > .input-container {
          max-width: 300px;
          position: relative;

          > input {
            font-weight: 400;
            border-color: rgba(0, 0, 0, 0.12);
          }

          > .mat-icon {
            position: absolute;
            top: 10px;
            right: 5px;
          }
        }
      }
    }
  }

  .mat-table {
    padding: 0 $table-panel-padding;

    .mat-column-avatar, .mat-column-image {
      flex: 0 0 35px;
      margin: 0 35px 0 0;

      > img {
        width: 35px;
        height: 35px;
        object-fit: cover;
      }
    }

    .mat-column-select {
      overflow: initial;
      flex: 0 0 50px;
      margin-right: 25px;
    }

    .mat-column-edit {
      flex: 0 0 50px;
      color: $site-text-color-300;
      margin-left: 25px;

      &.multiple-icons {
        flex: 0 0 80px;
      }
    }

    a {
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  no-results-message {
    margin: 65px 0;
  }
}