.njba-form-error-message-required {
  background: #ff5050 none repeat scroll 0 0;
  border-radius: 50%;
  height: 20px;
  line-height: 1.5em;
  width: 20px;
}
.njba-form-error-message {
  clear: both;
  display: none;
  font-weight: bold;
  opacity: 1;
  padding: 0;
  position: absolute;
  right: 15px;
  text-align: center;
  top: 50%;
  transform: translateY(0%);
  transition: opacity 0.15s ease-in-out 0s;
  margin-top:-10px;
}
.njba-form-error-message-required::before {
  color: #f2f2f2;
  content: "!";
}
.njba-input-group {
  position: relative;
  width: 100%;
  float: left;
}
.njba-contact-form .njba-inline-group {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  float:left;
}
.njba-contact-form .njba-io-padding-right {
  padding-right: 5px;
}
.njba-contact-form textarea, .njba-contact-form input[type="text"], .njba-contact-form input[type="tel"], .njba-contact-form input[type="email"] {
  height: auto;
}
.njba-contact-form.njba-form-style2 .njba-input-group-wrap input, .njba-contact-form.njba-form-style2 .njba-input-group-wrap textarea{
  border: none;
}
.njba-contact-form.njba-form-style3 .njba-input-group-wrap input{
  border: none;
}
.njba-contact-form .njba-error .njba-contact-error {
  display: block;
}
.njba-contact-form .njba-error + .njba-contact-error {
    display: block;
}
.njba-contact-form .njba-error-msg ~ span.njba-error-email-msg {
    display: block;
}
.njba-contact-form .njba-error-msg.njba-error ~ span.njba-error-email-msg{
   display:none;
}
.njba-contact-form .njba-error-msg .njba-error-email-msg {
    display: block;
}
.njba-contact-form .njba-error-email-msg{
  color: #dd4420;
  display: none;
  font-size: 12px;
  font-weight: 400;
  margin-top: 2px;
 } 
.njba-contact-form .njba-contact-error {
  color: #dd4420;
  display: none;
  font-size: 12px;
  font-weight: 400;
  margin-top: 2px;
}
.njba-contact-form input[type=text], .njba-contact-form input[type=password], .njba-contact-form input[type=email], .njba-contact-form input[type=tel], .njba-contact-form input[type=date], .njba-contact-form input[type=month], .njba-contact-form input[type=week], .njba-contact-form input[type=time], .njba-contact-form input[type=number], .njba-contact-form input[type=search], .njba-contact-form input[type=url], .njba-contact-form textarea{
  border-radius: 0;
}
.njba-contact-submit-btn {
    text-align: center;
}
.njba-input-group-wrap {
    display: inline-block;
    width: 100%;
}
.njba-form-validation{
  position: relative;
}
.njba-input-icon {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="number"], input[type="search"], input[type="url"], textarea {
  border: 1px solid #e6e6e6;
  width: 100%;
}
textarea {
    font-family: arial;
}
@media ( max-width: 767px ) {
  .njba-contact-form .njba-inline-group { 
    width: 100%;
    padding: 0 !important;
  }
}
