/* Fix styles for some elements needed by this plugin */

/* Global fix for images inside the map */
.gm-style img,
.toolset-google-map-preview .gm-style img {
    max-width: none;
}
/* Global glow effect when updating a field */
.toolset-google-map {
    transition: all 1s linear;
}
.toolset-google-map-container {
    overflow: hidden;
}
.toolset-google-map-container .toolset-google-map.toolset-being-updated,
.toolset-google-map-container .toolset-google-map-lat.toolset-being-updated ,
.toolset-google-map-container .toolset-google-map-lon.toolset-being-updated {
    box-shadow: 0 0 10px 2px #7ad03a;
    border-color: #7ad03a;
}
.toolset-google-map-container .toolset-google-map.toolset-latlon-error,
.toolset-google-map-container .toolset-google-map-lat.toolset-latlon-error ,
.toolset-google-map-container .toolset-google-map-lon.toolset-latlon-error {
    box-shadow: 0 0 10px 2px #B94A48;
    border-color: #B94A48;
    color: #B94A48;
}
/* Global map preview dimensions */
.toolset-google-map-preview {
    width: 100%;
    height: 200px;
    float: right;
    background-color: #ccc;
    background-image: url(../images/powered-by-google-on-toolset.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.toolset-google-map-preview-closest-address {
    width: 100%;
    float: right;
    clear: right;
    background: #f1f1f1;
    margin: 0;
    font-size: 0.9em;
}
.toolset-google-map-preview-closest-address-value {
    font-size: 0.9em;
}
.toolset-google-map-preview .toolset-google-map-preview-reload {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    background-color: #ccc;
    background-image: url(../images/powered-by-google-on-toolset-reload.png);
    background-position: 50% 40%;
    background-repeat: no-repeat;
    z-index: 1000;
}
.toolset-google-map-preview .toolset-google-map-preview-reload a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    margin-left: -999999px;
}
/* Autocomplete inside dialogs z-index fix */
.pac-container {
    z-index: 100150;
}

.toolset-maps-success {
    color: green;
}
.toolset-maps-error {
    color: darkred;
}

/* Backend styles - Types field */
.wp-admin .wpt-google_address.wpt-repetitive .wpt-field-item {
    padding: 0 0 0 10px;
    border-left: solid 3px #ccc;
}
.wp-admin .toolset-google-map-container {
    overflow: hidden;
}
.wp-admin .toolset-google-map-inputs-container {
    width: 52%;
    float: left;
}
.wp-admin .toolset-google-map-preview {
    width: 45%;
    height: 200px;
    float: right;
}
.wp-admin .toolset-google-map-preview-closest-address {
    width: 45%;
    float: right;
    clear: right;
}

/* These can be shown on backend, and also on frontend, in a CRED form */
.toolset-google-map-toggle-latlon, .toolset-google-map-use-visitor-location {
    cursor: pointer;
    display: inline-block;
    margin: 5px 0 10px;
}

/* Backend styles - Types fields table */
.wp-admin .toolset-google-map-toggling-latlon {
    padding-bottom: 5px
}
.wp-admin .toolset-google-map-toggling-latlon p{
    margin: 0 0 5px 0;
}
.wp-admin .toolset-google-map-label,
.wp-admin .toolset-shortcode-gui-dialog-container .toolset-google-map-label {
    display: inline-block;
    width: 120px;
}
.wp-admin .toolset-google-map-label-radio {
    display: inline-block !important;
    width: auto;
}
.wp-admin .toolset-google-map-lat,
.wp-admin .toolset-google-map-lon{
    display: inline-block;
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);
    max-width: 300px;
}
.wp-admin #wpcf-post-relationship .toolset-google-map-inputs-container,
.wp-admin #wpcf-post-relationship .toolset-google-map-preview {
    width: 100%;
    min-width: 200px;
    float: none;
}
.wp-admin #wpcf-post-relationship .toolset-google-map-preview {
    height: 150px;
}
.wp-admin #wpcf-post-relationship .toolset-google-map-preview-closest-address {
    width: 100%;
    float: none;
    clear: both;
}
#wpcf-post-relationship table .textfield.toolset-google-map {
    width: 99% !important;
}
.wp-admin #wpcf-post-relationship .toolset-google-map-label {
    display: block;
    width: auto;
}
.wp-admin #wpcf-post-relationship .toolset-google-map-lat,
.wp-admin #wpcf-post-relationship .toolset-google-map-lon {
    width: auto;
}