.js-toolset-maps-distance-value {
    width: 100px;
}

.js-toolset-maps-distance-center {
    width: 100px;
}

.js-toolset-maps-distance-unit {
    height: 35px;
}

button.js-toolset-maps-distance-current-location {
    display: none;
}