.fl-builder-edit .njba-column-separator {
    position: relative;
}
.njba_help {
    background-color: #fff;
    color: #000;
    padding: 5px;
}
.njba-column-separator {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1
}
.njba-top-column-separator {
    top: -1px;
    bottom: auto
}
.njba-bottom-column-separator {
    top: auto;
    bottom: -1px
}
.njba-top-column-separator.njba-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: -1px;
    bottom: auto;
    width: 100%;
}
.njba-bottom-column-separator.njba-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: -1px;
    top: auto;
    width: 100%;
}
.njba-bottom-column-separator.njba-has-svg .uasvg-wave-separator {
    bottom: 0;
}
.njba-top-column-separator.njba-has-svg .uasvg-wave-separator {
    top: 0;
}
/**
 *
 *  Svg Triangle Separator
 *  Big Triangle Separator
 *  Big Triangle Left Separator
 *  Svg Half Circle Separator
 *  Curve Center Separator
 *  Waves Separator
 *
 ***************************************/
.njba-bottom-column-separator.njba-svg-triangle svg,
.njba-bottom-column-separator.njba-xlarge-triangle svg,
.njba-top-column-separator.njba-xlarge-triangle-left svg,
.njba-bottom-column-separator.njba-svg-circle svg,
.njba-bottom-column-separator.njba-xlarge-circle svg,
.njba-top-column-separator.njba-wave-separator svg {
    -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1);
}
/**
 *
 *  Big Triangle Right Separator
 *
 ***************************************/
.njba-top-column-separator.njba-xlarge-triangle-right svg {
    -webkit-transform: scale(-1);
       -moz-transform: scale(-1);
        -ms-transform: scale(-1);
         -o-transform: scale(-1);
            transform: scale(-1);
}
.njba-bottom-column-separator.njba-xlarge-triangle-right svg {
    -webkit-transform: scaleX(-1);
       -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
         -o-transform: scaleX(-1);
            transform: scaleX(-1);
}
/**
 *
 *  Curve Left Separator
 *  Curve Right Separator
 *
 ***************************************/
.njba-top-column-separator.njba-curve-up-separator svg {
     -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1);
}
.njba-top-column-separator.njba-curve-down-separator svg {
    -webkit-transform: scale(-1);
       -moz-transform: scale(-1);
        -ms-transform: scale(-1);
         -o-transform: scale(-1);
            transform: scale(-1);
}
.njba-bottom-column-separator.njba-curve-down-separator svg {
    -webkit-transform: scaleX(-1);
       -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
         -o-transform: scaleX(-1);
            transform: scaleX(-1);
}
/**
 *
 *  Tilt Left Separator
 *  Tilt Right Separator
 *
 ***************************************/
.njba-top-column-separator.njba-tilt-left-separator svg {
    -webkit-transform: scale(-1);
       -moz-transform: scale(-1);
        -ms-transform: scale(-1);
         -o-transform: scale(-1);
            transform: scale(-1);
}
.njba-top-column-separator.njba-tilt-right-separator svg{
    -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1);
}
.njba-bottom-column-separator.njba-tilt-right-separator svg {
    -webkit-transform: scaleX(-1);
       -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
         -o-transform: scaleX(-1);
            transform: scaleX(-1);
}
/**
 *
 *  Clouds Separator
 *  Multi Triangle
 *
 ***************************************/
.njba-column-separator.njba-cloud-separator svg {
    left: -1px;
    width: 100%;
}
.njba-top-column-separator.njba-cloud-separator svg,
.njba-top-column-separator.njba-multi-triangle svg {
    -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1);
}
.njba-column-separator.njba-round-split {
    z-index: 1;
    /*position: relative;*/
}
.njba-column-separator.njba-round-split:after,
.njba-column-separator.njba-round-split:before {
    left: 0;
    z-index: 10;
    width: 50%;
    background: inherit inherit/inherit inherit inherit inherit;
    content: '';
    position: absolute
}