.editable-input .multi-input-container .single-input {
    width: 210px;
}

.editable-input .multi-input-container .single-input .buttons {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.editable-input .multi-input-container .single-input .buttons span {
    cursor: pointer;
    margin-right: 5px;
}
.editable-input .multi-input-container .single-input input {
    width: 150px;
}