.Yith_WC_QOF_Main_Product_Div_Class {
    width: 100%;
    text-align: center;
}

.YITH_WC_qof_product_header {
    margin-top: 50px;
}

.YITH_WC_qof_product_line {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;
}

.YITH_WC_qof_product_line_AJAX_Selecting_Variation{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    z-index: 100;
}

.YITH_WC_qof_product_line .YITH_WC_qof_product_line_AJAX_Selecting_Variation{
    display: none;
}

.YITH_WC_qof_product_line_AJAX_Selecting_Variation img{
    margin-top: 40px;
}

.YITH_WC_qof_product_line > div {
    margin-left: 0.4rem;
    vertical-align: middle;
}

.YITH_WC_qof_product_line_image_header, .YITH_WC_qof_product_line_name_header, .YITH_WC_qof_product_line_name_SKU_header, .YITH_WC_qof_product_line_Price_header {
    display: none;
}

.YITH_WC_qof_product_line_image {
    display: block;
    position: relative;
    left: 60%;
    transform: translateX(-50%);
}

.YITH_WC_qof_product_line_name_and_SKU {
    display: block;
    margin: 5px 0 5px 0;
    vertical-align: middle;
}

.YITH_WC_qof_product_line_name {
    display: block;
}

.YITH_WC_qof_product_line_name_SKU {
    display: block;
}

.yith_wc_qof_button_and_price {
    text-align: center;
    padding: 0 0 0 0.5rem;
    display: block;
    vertical-align: middle;
    margin-top: 1rem;
}

.yith_wc_qof_button_and_price div {
    text-align: center;
    display: block;
    margin-bottom: 5px;
    vertical-align: middle;
}

.yith_wc_qof_button_and_price div button {
    text-align: center;
    vertical-align: middle;
}

.yith_wc_qof_button_and_price div input {
    width: 50px;
    border-radius: 5px;
    vertical-align: middle;
}

.entry-content .YITH_WC_qof_product_line_a {
    box-shadow: none;
}

.yith_wc_qof_dashicon_product {
    display: none;
}

.YITH_WC_qof_product_line .YITH_WC_qof_Button_Add_to_cart {
    text-align: center;
    display: none;
}

.YITH_WC_qof_product_line .YITH_WC_QOF_Horizontal_Line {
    width: 100%;
    height: 1px;
    background: rgba(193, 196, 207, 1);
    margin-top: 0;
    position: relative;
    margin: 10px 0 10px 0;
}

.YITH_WC_qof_product_line .YITH_WC_QOF_Quantity_Cart{
    text-align: center;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    width: 40px;
    display: inline-block;
    margin-right: 1px;
}

.YITH_WC_qof_product_line .yith_wc_button_plus_minus{
    background: white;
    width: 20px;
    height: 40px;
    padding: 0.625em 0.1em;
    border: 1px solid #efefef;
    color: #96588a;
    margin: 0px;
    cursor: pointer;
}

.YITH_WC_qof_product_line .yith_wc_button_plus_minus:hover{
    background: #eeeeee;
}

.YITH_WC_qof_product_line .yith_wc_button_plus{
    margin-left: -5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
}

.YITH_WC_qof_product_line .yith_wc_button_minus{
    margin-right: -5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-topright: 0;
}

.YITH_WC_QOF_Vertical_Line_Row {
    display: inline-block;
    height: 90%;
    width: 1px;
    background: rgba(193, 196, 207, 1);
}

.YITH_WC_QOF_Vertical_Line_Header {
    display: inline-block;
    height: 90%;
    width: 1px;
    background: rgba(193, 196, 207, 1);
}

.yith_wc_qof_button_and_price div {
    clear: both;
}

.Yith_WC_QOF_Variable_Product span {
    float: left;
    font-weight: bold;
}

.Yith_WC_QOF_Variable_Product_select {
    float: right;
}

form .Yith_wc_qof_Form_sorting_search_select {
    margin-top: 10px;
}

form .Yith_wc_qof_Form_sorting_search_input {
    display: inline-block;
    width: 15rem;
    margin-top: 10px;
}

.Yith_WC_QOF_Frontend_Previous_Products {
    float: left;
}

.Yith_WC_QOF_Frontend_Next_Products {
    float: right;
}

.Yith_WC_QOF_Frontend_Pagination {
    margin-top: 20px;
    text-align: center;
}

.YITH_WC_qof_product_header .YITH_WC_qof_products_found {
    font-weight: normal;

}

.Yith_wc_qof_No_products_Found {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

/*###################  _MEDIA_ 1 ######################*/

.YITH_WC_qof_product_line_media_1 {
    text-align: left;
}

.YITH_WC_qof_product_line_image_media_1 {
    display: inline-block;
    width: 6rem;
    left: 0%;
    transform: none;
}

.YITH_WC_qof_product_line_name_and_SKU_media_1 {
    display: inline-block;
}

.YITH_WC_qof_product_line_name_media_1 {
    display: block;
    width: 10rem;
}

.YITH_WC_qof_product_line_name_SKU_media_1 {
    display: block;
    width: 7rem;
}

.YITH_WC_qof_product_line_Price_media_1 {
    display: block;
    text-align: center;
}

.yith_wc_qof_button_and_price_media_1 {
    text-align: center;
    padding: 0 0 0 0.5rem;
    display: inline-block;
}

/*###################  _MEDIA_ 2 ######################*/

.Yith_WC_QOF_Main_Product_Div_Class_media_2 {
    text-align: left;
}

.YITH_WC_qof_product_line_media_2 {
    width: 100%;
}

.yith_wc_qof_button_and_price_media2 {
    float: right;
    vertical-align: middle;
    margin-top: 1.6rem;
}

.YITH_WC_qof_product_header_media_2_div {
    font-weight: bold;
    display: inline-block;
    margin-left: 0.4rem;
}

.YITH_WC_qof_product_line_image_header_media_2 {
    display: inline-block;
    width: 6rem;
}

.YITH_WC_qof_product_line_name_header_media_2 {
    display: inline-block;
    width: 12rem;
}

.YITH_WC_qof_product_line_name_SKU_header_media_2 {
    display: inline-block;
    width: 9rem;
}

.YITH_WC_qof_product_line_Precio_header_media_2 {
    display: inline-block;
    width: 6rem;
}

.YITH_WC_qof_products_found_media_2 {
    float: right;
}

.YITH_WC_qof_product_line_media_2__div {
    display: inline-block;
}

.YITH_WC_qof_product_line_image_media_2 {
    display: inline-block;
    width: 6rem;
}

.YITH_WC_qof_product_line_name_media_2 {
    display: inline-block;
    width: 12rem;
    vertical-align: middle;
}

.YITH_WC_qof_product_line_name_SKU_media_2 {
    display: inline-block;
    width: 7.8rem;
    vertical-align: middle;
}

.YITH_WC_qof_product_line_Price_media_2 {
    display: inline-block;
    width: 6rem;
}

.YITH_WC_qof_add_all_products_to_cart{
    margin-top: 50px;
    text-align: center;
}

/*@media screen and (min-width: 990px){

    .YITH_WC_qof_product_line{
        text-align: left;
    }

    .YITH_WC_qof_product_line_image{
        display: inline-block;
        width: 6rem;
        left: 0%;
        transform: none;
    }

    .YITH_WC_qof_product_line_name_and_SKU{
        display: inline-block;
    }

    .YITH_WC_qof_product_line_name{
        display: block;
        width: 15rem;
    }

    .YITH_WC_qof_product_line_name_SKU{
        display: block;
        width: 7rem;
    }

    .yith_wc_qof_button_and_price{
        text-align: center;
        padding: 0 0 0 0.5rem;
        display: inline-block;
    }

}

@media screen and (min-width: 1180px){

    .YITH_WC_qof_product_header div{
        font-weight: bold;
        display: inline-block;
        padding: 0 0.5rem 0 0.5rem;
    }

    .YITH_WC_qof_product_line_image_header{
        display: inline-block;
        width: 6rem;
    }

    .YITH_WC_qof_product_line_name_header{
        display: inline-block;
        width: 15rem;
    }

    .YITH_WC_qof_product_line_name_SKU_header{
        display: inline-block;
        width: 7rem;
    }

    .YITH_WC_qof_product_line > div{
        display: inline-block;
    }

    .YITH_WC_qof_product_line_image{
        display: inline-block;
        width: 6rem;
    }

    .YITH_WC_qof_product_line_name{
        display: inline-block;
        width: 15rem;
    }

    .YITH_WC_qof_product_line_name_SKU{
        display: inline-block;
        width: 7rem;
    }

}*/