.mu_register #password_1,
.mu_register #password_2 {
    width: 100%;
    margin: 5px 0;
}
.ultimate-branding-password {
    padding-bottom: 16px;
}
.login form .ultimate-branding-password .input {
    margin-bottom: 2px;
}
.ultimate-branding-password span {
    font-size: .9em;
    opacity: .8;
}


/* 381945-1536242933-au */