.jet-custom-nav {
  max-width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  .jet-custom-nav > .jet-custom-nav__item {
    position: relative;
    margin-bottom: 1px; }
    .jet-custom-nav > .jet-custom-nav__item > a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      padding: 10px 15px;
      background-color: #54595f;
      -webkit-transition: all 0.5s cubic-bezier(0.48, 0.01, 0.5, 0.99);
      transition: all 0.5s cubic-bezier(0.48, 0.01, 0.5, 0.99); }
  .jet-custom-nav .jet-custom-nav__item.hover-state > .jet-custom-nav__mega-sub,
  .jet-custom-nav .jet-custom-nav__item.hover-state > .jet-custom-nav__sub {
    opacity: 1;
    visibility: visible;
    pointer-events: auto; }
    body[data-elementor-device-mode="mobile"] .jet-custom-nav .jet-custom-nav__item.hover-state > .jet-custom-nav__mega-sub, body[data-elementor-device-mode="mobile"]
    .jet-custom-nav .jet-custom-nav__item.hover-state > .jet-custom-nav__sub {
      height: auto; }
  .jet-custom-nav .jet-menu-link-text {
    color: white;
    font-size: 14px; }
    .jet-custom-nav .jet-menu-link-text .jet-custom-item-desc {
      display: block;
      font-size: 12px;
      font-style: italic; }
  .jet-custom-nav .jet-menu-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 10px 0 0;
    color: white;
    border-radius: 50%;
    width: 22px;
    height: 22px; }
    .jet-custom-nav .jet-menu-icon:before {
      font-size: 12px;
      color: #7a7a7a; }
  .jet-custom-nav .jet-menu-badge {
    margin: 0 0 0 10px;
    width: 0; }
    .jet-custom-nav .jet-menu-badge .jet-menu-badge__inner {
      padding: 3px 5px;
      background-color: white;
      color: #7a7a7a;
      display: inline-block; }
  .jet-custom-nav .jet-dropdown-arrow {
    position: absolute;
    right: 15px;
    color: white;
    font-size: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white; }
    .jet-custom-nav .jet-dropdown-arrow:before {
      color: #7a7a7a; }
  .jet-custom-nav--dropdown-left-side > .jet-custom-nav__item > a,
  .jet-custom-nav--dropdown-left-side > .jet-custom-nav__item > .jet-custom-nav__sub .jet-custom-nav__item > a {
    text-align: right; }
    body:not(.rtl) .jet-custom-nav--dropdown-left-side > .jet-custom-nav__item > a, body:not(.rtl)
    .jet-custom-nav--dropdown-left-side > .jet-custom-nav__item > .jet-custom-nav__sub .jet-custom-nav__item > a {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
    .jet-custom-nav--dropdown-left-side > .jet-custom-nav__item > a .jet-menu-icon,
    .jet-custom-nav--dropdown-left-side > .jet-custom-nav__item > .jet-custom-nav__sub .jet-custom-nav__item > a .jet-menu-icon {
      margin: 0 0 0 10px; }
    .jet-custom-nav--dropdown-left-side > .jet-custom-nav__item > a .jet-menu-badge,
    .jet-custom-nav--dropdown-left-side > .jet-custom-nav__item > .jet-custom-nav__sub .jet-custom-nav__item > a .jet-menu-badge {
      direction: rtl;
      margin: 0 10px 0 0; }
    .jet-custom-nav--dropdown-left-side > .jet-custom-nav__item > a .jet-dropdown-arrow,
    .jet-custom-nav--dropdown-left-side > .jet-custom-nav__item > .jet-custom-nav__sub .jet-custom-nav__item > a .jet-dropdown-arrow {
      left: 15px;
      right: auto; }

.jet-custom-nav__mega-sub,
.jet-custom-nav__sub {
  display: block;
  position: absolute;
  margin: 0;
  background-color: white;
  list-style: none;
  top: 0;
  left: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, visibility 1s linear 0.1s;
  transition: opacity 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, visibility 1s linear 0.1s;
  pointer-events: none;
  z-index: 99; }
  body[data-elementor-device-mode="mobile"] .jet-custom-nav__mega-sub, body[data-elementor-device-mode="mobile"]
  .jet-custom-nav__sub {
    position: relative;
    min-width: 0 !important;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    left: 0;
    height: 0; }
  body[data-elementor-device-mode="mobile"] .jet-custom-nav .jet-custom-nav__item:not(.hover-state) .jet-custom-nav__mega-sub, body[data-elementor-device-mode="mobile"] .jet-custom-nav .jet-custom-nav__item:not(.hover-state)
  .jet-custom-nav__sub {
    padding: 0;
    margin: 0;
    border: none; }

.jet-custom-nav__mega-sub {
  width: 500px; }
  .jet-custom-nav--dropdown-left-side > .jet-custom-nav__item > .jet-custom-nav__mega-sub {
    left: auto;
    right: 100%; }
  body[data-elementor-device-mode="mobile"] .jet-custom-nav__mega-sub {
    width: 100% !important;
    max-width: 100%; }
  .elementor-editor-active .elementor.elementor-edit-mode .jet-custom-nav__mega-sub > .elementor > .elementor-inner {
    margin-top: 0; }

.jet-custom-nav__sub {
  min-width: 250px; }
  .jet-custom-nav__sub.inverse-side {
    left: auto;
    right: 100%; }
  .jet-custom-nav--dropdown-left-side > .jet-custom-nav__item > .jet-custom-nav__sub,
  .jet-custom-nav--dropdown-left-side > .jet-custom-nav__item > .jet-custom-nav__sub .jet-custom-nav__sub {
    left: auto;
    right: 100%; }
    .jet-custom-nav--dropdown-left-side > .jet-custom-nav__item > .jet-custom-nav__sub.inverse-side,
    .jet-custom-nav--dropdown-left-side > .jet-custom-nav__item > .jet-custom-nav__sub .jet-custom-nav__sub.inverse-side {
      right: auto;
      left: 100%; }
  .jet-custom-nav__sub .jet-custom-nav__item {
    position: relative; }
    .jet-custom-nav__sub .jet-custom-nav__item a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      padding: 10px 15px;
      background-color: #54595f;
      -webkit-transition: all 0.5s cubic-bezier(0.48, 0.01, 0.5, 0.99);
      transition: all 0.5s cubic-bezier(0.48, 0.01, 0.5, 0.99); }
      .jet-custom-nav__sub .jet-custom-nav__item a .jet-menu-link-text {
        color: white; }
    .jet-custom-nav__sub .jet-custom-nav__item.hover-state > a {
      background-color: #54595f; }
      .jet-custom-nav__sub .jet-custom-nav__item.hover-state > a .jet-menu-link-text {
        color: white; }

.jet-custom-nav--animation-none > .jet-custom-nav__item > .jet-custom-nav__mega-sub,
.jet-custom-nav--animation-none > .jet-custom-nav__item > .jet-custom-nav__sub,
.jet-custom-nav--animation-none > .jet-custom-nav__item > .jet-custom-nav__sub .jet-custom-nav__sub {
  -webkit-transition: none;
  transition: none; }

.jet-custom-nav--animation-move-up > .jet-custom-nav__item > .jet-custom-nav__mega-sub,
.jet-custom-nav--animation-move-up > .jet-custom-nav__item > .jet-custom-nav__sub,
.jet-custom-nav--animation-move-up > .jet-custom-nav__item > .jet-custom-nav__sub .jet-custom-nav__sub {
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: opacity 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, visibility 1s linear, -webkit-transform 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s;
  transition: opacity 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, visibility 1s linear, -webkit-transform 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s;
  transition: transform 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, opacity 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, visibility 1s linear;
  transition: transform 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, opacity 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, visibility 1s linear, -webkit-transform 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s; }
  body[data-elementor-device-mode="mobile"] .jet-custom-nav--animation-move-up > .jet-custom-nav__item > .jet-custom-nav__mega-sub, body[data-elementor-device-mode="mobile"]
  .jet-custom-nav--animation-move-up > .jet-custom-nav__item > .jet-custom-nav__sub, body[data-elementor-device-mode="mobile"]
  .jet-custom-nav--animation-move-up > .jet-custom-nav__item > .jet-custom-nav__sub .jet-custom-nav__sub {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

.jet-custom-nav--animation-move-up > .jet-custom-nav__item.hover-state > .jet-custom-nav__mega-sub,
.jet-custom-nav--animation-move-up > .jet-custom-nav__item.hover-state.hover-state > .jet-custom-nav__sub,
.jet-custom-nav--animation-move-up > .jet-custom-nav__item > .jet-custom-nav__sub .jet-custom-nav__item.hover-state > .jet-custom-nav__sub {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

.jet-custom-nav--animation-move-down > .jet-custom-nav__item > .jet-custom-nav__mega-sub,
.jet-custom-nav--animation-move-down > .jet-custom-nav__item > .jet-custom-nav__sub,
.jet-custom-nav--animation-move-down > .jet-custom-nav__item > .jet-custom-nav__sub .jet-custom-nav__sub {
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: opacity 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, visibility 1s linear, -webkit-transform 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s;
  transition: opacity 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, visibility 1s linear, -webkit-transform 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s;
  transition: transform 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, opacity 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, visibility 1s linear;
  transition: transform 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, opacity 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, visibility 1s linear, -webkit-transform 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s; }
  body[data-elementor-device-mode="mobile"] .jet-custom-nav--animation-move-down > .jet-custom-nav__item > .jet-custom-nav__mega-sub, body[data-elementor-device-mode="mobile"]
  .jet-custom-nav--animation-move-down > .jet-custom-nav__item > .jet-custom-nav__sub, body[data-elementor-device-mode="mobile"]
  .jet-custom-nav--animation-move-down > .jet-custom-nav__item > .jet-custom-nav__sub .jet-custom-nav__sub {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

.jet-custom-nav--animation-move-down > .jet-custom-nav__item.hover-state > .jet-custom-nav__mega-sub,
.jet-custom-nav--animation-move-down > .jet-custom-nav__item.hover-state.hover-state > .jet-custom-nav__sub,
.jet-custom-nav--animation-move-down > .jet-custom-nav__item > .jet-custom-nav__sub .jet-custom-nav__item.hover-state > .jet-custom-nav__sub {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

.jet-custom-nav--animation-move-left > .jet-custom-nav__item > .jet-custom-nav__mega-sub,
.jet-custom-nav--animation-move-left > .jet-custom-nav__item > .jet-custom-nav__sub,
.jet-custom-nav--animation-move-left > .jet-custom-nav__item > .jet-custom-nav__sub .jet-custom-nav__sub {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  -webkit-transition: opacity 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, visibility 1s linear, -webkit-transform 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s;
  transition: opacity 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, visibility 1s linear, -webkit-transform 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s;
  transition: transform 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, opacity 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, visibility 1s linear;
  transition: transform 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, opacity 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, visibility 1s linear, -webkit-transform 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s; }
  body[data-elementor-device-mode="mobile"] .jet-custom-nav--animation-move-left > .jet-custom-nav__item > .jet-custom-nav__mega-sub, body[data-elementor-device-mode="mobile"]
  .jet-custom-nav--animation-move-left > .jet-custom-nav__item > .jet-custom-nav__sub, body[data-elementor-device-mode="mobile"]
  .jet-custom-nav--animation-move-left > .jet-custom-nav__item > .jet-custom-nav__sub .jet-custom-nav__sub {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }

.jet-custom-nav--animation-move-left > .jet-custom-nav__item.hover-state > .jet-custom-nav__mega-sub,
.jet-custom-nav--animation-move-left > .jet-custom-nav__item.hover-state.hover-state > .jet-custom-nav__sub,
.jet-custom-nav--animation-move-left > .jet-custom-nav__item > .jet-custom-nav__sub .jet-custom-nav__item.hover-state > .jet-custom-nav__sub {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

.jet-custom-nav--animation-move-right > .jet-custom-nav__item > .jet-custom-nav__mega-sub,
.jet-custom-nav--animation-move-right > .jet-custom-nav__item > .jet-custom-nav__sub,
.jet-custom-nav--animation-move-right > .jet-custom-nav__item > .jet-custom-nav__sub .jet-custom-nav__sub {
  -webkit-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: opacity 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, visibility 1s linear, -webkit-transform 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s;
  transition: opacity 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, visibility 1s linear, -webkit-transform 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s;
  transition: transform 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, opacity 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, visibility 1s linear;
  transition: transform 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, opacity 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, visibility 1s linear, -webkit-transform 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s; }
  body[data-elementor-device-mode="mobile"] .jet-custom-nav--animation-move-right > .jet-custom-nav__item > .jet-custom-nav__mega-sub, body[data-elementor-device-mode="mobile"]
  .jet-custom-nav--animation-move-right > .jet-custom-nav__item > .jet-custom-nav__sub, body[data-elementor-device-mode="mobile"]
  .jet-custom-nav--animation-move-right > .jet-custom-nav__item > .jet-custom-nav__sub .jet-custom-nav__sub {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }

.jet-custom-nav--animation-move-right > .jet-custom-nav__item.hover-state > .jet-custom-nav__mega-sub,
.jet-custom-nav--animation-move-right > .jet-custom-nav__item.hover-state.hover-state > .jet-custom-nav__sub,
.jet-custom-nav--animation-move-right > .jet-custom-nav__item > .jet-custom-nav__sub .jet-custom-nav__item.hover-state > .jet-custom-nav__sub {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

.jet-menu-container {
  position: relative;
  width: 100%; }

.jet-menu {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  @media (min-width: 768px) {
    .jet-menu {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap; } }
  .jet-mobile-menu-active .jet-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap; }
  .jet-desktop-menu-active .jet-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
  .jet-menu > .jet-menu-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .jet-menu > .jet-menu-item > a {
      width: 100%;
      margin: 0;
      white-space: nowrap;
      padding: 10px; }
  .jet-menu ul {
    left: 0; }

.jet-menu-item {
  position: relative; }
  .jet-menu-item > a {
    display: block;
    text-decoration: none;
    width: auto; }
  .jet-menu-item.jet-mega-menu-item {
    position: static; }
  .jet-menu-item .top-level-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .jet-menu-item-desc {
    white-space: normal; }
  .jet-menu-item .jet-sub-menu {
    display: block;
    min-width: 200px;
    margin: 0;
    background-color: white;
    list-style: none;
    left: 0;
    top: 0;
    position: relative;
    padding: 0;
    z-index: auto; }
    @media (min-width: 768px) {
      .jet-menu-item .jet-sub-menu {
        position: absolute; } }
    .jet-mobile-menu-active .jet-menu-item .jet-sub-menu {
      position: relative; }
    .jet-desktop-menu-active .jet-menu-item .jet-sub-menu {
      position: absolute;
      min-width: 200px;
      top: 100%;
      left: 0;
      right: auto;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      z-index: 999;
      pointer-events: none; }
      .jet-desktop-menu-active .jet-menu-item .jet-sub-menu .jet-sub-menu {
        top: 0;
        left: 100%;
        right: auto; }
      .jet-desktop-menu-active .jet-menu-item .jet-sub-menu.right-side {
        top: 0;
        right: 0;
        left: auto; }
        .jet-desktop-menu-active .jet-menu-item .jet-sub-menu.right-side .jet-sub-menu {
          top: 0;
          right: 100%;
          left: auto; }
    .jet-menu-item .jet-sub-menu > li {
      display: block; }
      .jet-menu-item .jet-sub-menu > li > a {
        padding: 10px; }

.jet-menu-item-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .jet-menu-item-wrapper .jet-menu-icon {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-right: 10px; }
    .label-hidden .jet-menu-item-wrapper .jet-menu-icon {
      margin-right: 0;
      margin-left: 0; }
  .jet-menu-item-wrapper .jet-dropdown-arrow {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-left: 10px; }
  .jet-menu-item-wrapper .jet-menu-badge {
    display: none;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    text-align: center;
    width: 0; }
    .jet-mobile-menu-active .jet-menu-item-wrapper .jet-menu-badge.jet-hide-mobile .jet-menu-badge__inner {
      display: none; }
    .jet-menu-item-wrapper .jet-menu-badge__inner {
      display: inline-block; }

.jet-mobile-menu-active .jet-mobile-menu-toggle-button {
  display: block; }

.jet-mobile-menu-active .jet-menu {
  background-image: none; }

.jet-mobile-menu-active .jet-menu-container.jet-mobile-menu {
  position: fixed;
  top: 0;
  right: -80%;
  z-index: 998;
  max-width: 80%;
  height: 100vh;
  background-color: white;
  -webkit-transition: right 0.3s cubic-bezier(0.35, 0.19, 0.45, 0.91);
  transition: right 0.3s cubic-bezier(0.35, 0.19, 0.45, 0.91); }

.jet-mobile-menu-active .jet-menu-inner {
  overflow-y: scroll;
  display: block;
  height: 100vh; }

.jet-mobile-menu-active .jet-menu .jet-menu-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap; }
  .jet-mobile-menu-active .jet-menu .jet-menu-item > a.top-level-link,
  .jet-mobile-menu-active .jet-menu .jet-menu-item > a.sub-level-link {
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-bottom-width: 1px; }
  .jet-mobile-menu-active .jet-menu .jet-menu-item > .jet-sub-menu {
    border-radius: 0;
    box-shadow: none; }
  .jet-mobile-menu-active .jet-menu .jet-menu-item > .jet-sub-mega-menu {
    border-radius: 0;
    box-shadow: none; }
  .jet-mobile-menu-active .jet-menu .jet-menu-item.jet-menu-hover > .jet-sub-menu {
    height: auto;
    pointer-events: auto; }
  .jet-mobile-menu-active .jet-menu .jet-menu-item.jet-menu-hover > .jet-sub-mega-menu {
    height: auto;
    pointer-events: auto; }
  .jet-mobile-menu-active .jet-menu .jet-menu-item:not(.jet-menu-hover) > .jet-sub-menu {
    padding: 0 !important;
    border: none !important;
    margin: 0  !important; }
  .jet-mobile-menu-active .jet-menu .jet-menu-item:not(.jet-menu-hover) > .jet-sub-mega-menu {
    padding: 0 !important;
    border: none !important;
    margin: 0  !important; }

.jet-mobile-menu-active .jet-sub-menu {
  height: 0;
  opacity: 1;
  overflow: hidden;
  visibility: visible; }

.jet-mobile-menu-active .jet-sub-mega-menu {
  height: 0;
  opacity: 1;
  overflow: hidden;
  visibility: visible;
  max-width: 100%;
  left: 0 !important; }

.jet-mobile-menu-toggle-button {
  width: 35px;
  height: 35px;
  display: none;
  position: absolute;
  padding: 0;
  border-width: 0;
  left: -45px;
  top: 10px; }
  .jet-mobile-menu-toggle-button .jet-menu-toggle__icon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .jet-mobile-menu-toggle-button .jet-menu-toggle__icon::after {
      top: .75em;
      content: '\f0c9'; }
  .jet-mobile-menu-visible .jet-mobile-menu-toggle-button .jet-menu-toggle__icon::after {
    content: '\f00d'; }

.jet-mobile-menu-cover {
  position: fixed;
  display: block;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 997;
  -webkit-transition: opacity 0.3s cubic-bezier(0.5, 0.12, 0.46, 0.88), visibility 0.1s linear;
  transition: opacity 0.3s cubic-bezier(0.5, 0.12, 0.46, 0.88), visibility 0.1s linear; }

.jet-sub-mega-menu {
  width: 100%;
  display: block;
  position: relative;
  background-color: white;
  pointer-events: none; }
  @media (min-width: 768px) {
    .jet-sub-mega-menu {
      position: absolute; } }
  .jet-mobile-menu-active .jet-sub-mega-menu {
    position: relative; }
  .jet-desktop-menu-active .jet-sub-mega-menu {
    width: 100%;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999; }

.jet-responsive-menu > li[hidden] {
  display: none; }

.jet-responsive-menu-available-items[hidden] {
  display: none; }

body.jet-mobile-menu-visible {
  overflow: hidden;
  width: 100%;
  height: auto; }
  body.jet-mobile-menu-visible .jet-mobile-menu-cover {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    -webkit-transition: opacity 0.3s cubic-bezier(0.5, 0.12, 0.46, 0.88), visibility 0.1s linear;
    transition: opacity 0.3s cubic-bezier(0.5, 0.12, 0.46, 0.88), visibility 0.1s linear; }
  body.jet-mobile-menu-visible .jet-menu-container.jet-mobile-menu {
    right: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.35, 0.19, 0.45, 0.91);
    transition: all 0.5s cubic-bezier(0.35, 0.19, 0.45, 0.91);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3); }

.admin-bar.jet-mobile-menu-active .jet-mobile-menu-toggle-button {
  top: 56px; }

.admin-bar.jet-mobile-menu-active .jet-menu {
  margin-top: 46px; }

.jet-sub-menu,
.jet-sub-mega-menu {
  opacity: 0;
  visibility: hidden; }

.jet-desktop-menu-active .jet-menu--animation-type-none .jet-sub-menu {
  opacity: 0;
  visibility: hidden; }

.jet-desktop-menu-active .jet-menu--animation-type-none .jet-sub-mega-menu {
  opacity: 0;
  visibility: hidden; }

.jet-desktop-menu-active .jet-menu--animation-type-none .jet-simple-menu-item.jet-menu-hover > .jet-sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto; }

.jet-desktop-menu-active .jet-menu--animation-type-none .jet-simple-menu-item li.jet-menu-hover > .jet-sub-menu {
  top: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: auto; }

.jet-desktop-menu-active .jet-menu--animation-type-none .jet-mega-menu-item.jet-menu-hover .jet-sub-mega-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto; }

.jet-desktop-menu-active .jet-menu--animation-type-fade .jet-sub-menu {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99), visibility 0.1s linear;
  transition: opacity 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99), visibility 0.1s linear; }

.jet-desktop-menu-active .jet-menu--animation-type-fade .jet-sub-mega-menu {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99), visibility 0.1s linear;
  transition: opacity 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99), visibility 0.1s linear; }

.jet-desktop-menu-active .jet-menu--animation-type-fade .jet-simple-menu-item.jet-menu-hover > .jet-sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto; }

.jet-desktop-menu-active .jet-menu--animation-type-fade .jet-simple-menu-item li.jet-menu-hover > .jet-sub-menu {
  top: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: auto; }

.jet-desktop-menu-active .jet-menu--animation-type-fade .jet-mega-menu-item.jet-menu-hover .jet-sub-mega-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto; }

.jet-desktop-menu-active .jet-menu--animation-type-move-up .jet-sub-menu {
  opacity: 0;
  top: 130%;
  visibility: hidden;
  -webkit-transition: top 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, opacity 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, visibility 1s linear;
  transition: top 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, opacity 0.2s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, visibility 1s linear; }

.jet-desktop-menu-active .jet-menu--animation-type-move-up .jet-sub-mega-menu {
  opacity: 0;
  top: 130%;
  visibility: hidden;
  -webkit-transition: top 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, opacity 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, visibility 1s linear;
  transition: top 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, opacity 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99) 0.1s, visibility 1s linear; }

.jet-desktop-menu-active .jet-menu--animation-type-move-up .jet-simple-menu-item.jet-menu-hover > .jet-sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transition: top 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99), opacity 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99), visibility 1s linear;
  transition: top 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99), opacity 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99), visibility 1s linear; }

.jet-desktop-menu-active .jet-menu--animation-type-move-up .jet-simple-menu-item li.jet-menu-hover > .jet-sub-menu {
  top: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transition: top 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99), opacity 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99), visibility 1s linear;
  transition: top 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99), opacity 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99), visibility 1s linear; }

.jet-desktop-menu-active .jet-menu--animation-type-move-up .jet-mega-menu-item.jet-menu-hover .jet-sub-mega-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto; }

.jet-desktop-menu-active .jet-menu--animation-type-move-down .jet-sub-menu {
  opacity: 0;
  top: 80%;
  visibility: visible;
  -webkit-transition: top 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99), opacity 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99), visibility 1s linear;
  transition: top 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99), opacity 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99), visibility 1s linear; }

.jet-desktop-menu-active .jet-menu--animation-type-move-down .jet-sub-mega-menu {
  opacity: 0;
  top: 80%;
  visibility: hidden;
  -webkit-transition: top 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99), opacity 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99), visibility 1s linear;
  transition: top 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99), opacity 0.3s cubic-bezier(0.48, 0.01, 0.5, 0.99), visibility 1s linear; }

.jet-desktop-menu-active .jet-menu--animation-type-move-down .jet-simple-menu-item.jet-menu-hover > .jet-sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto; }

.jet-desktop-menu-active .jet-menu--animation-type-move-down .jet-simple-menu-item li.jet-menu-hover > .jet-sub-menu {
  top: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: auto; }

.jet-desktop-menu-active .jet-menu--animation-type-move-down .jet-mega-menu-item.jet-menu-hover .jet-sub-mega-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto; }
