/*

Plugin Name: Boosted Elements
Text Domain: boosted-elements-progression
Plugin URI: https://elementor.progressionstudios.com
Description: Page Builder Add-on for Elementor
Version: 1.8
Author: Progression Studios
Author URI: http://progressionstudios.com/
Author Email: contact@progressionstudios.com
License: GNU General Public License v3.0

*/

/*  Table of Contents
01. GLOBAL STYLES
02. COUNTDOWN STYLES
03. DEFAULT GRID/MASONRY STYLES
04. GALLERY ELEMENT STYLES
05. SLIDER ELEMENT STYLES
06. ANIMATED TYPING STYLES
07. PRICING TABLE STYLES
08. FLIP BOXSTYLES
09. TEAM MEMEMBER STYLES
10. POPUP MODAL STYLES
11. SCROLL NAVIGATION STYLES
12. BLOG STYLES
13. PAGINATION STYLES
14. IMAGE SLIDESHOW STYLES
15. PRICE/MENU STYLES
16. ADVANCED BUTTON STYLES
17. IMAGE COMPARISON STYLES
18. PRETTYPHOTO CSS STYLES

*/

/*
=============================================== 01. GLOBAL STYLES ===============================================
*/
.clearfix-boosted-element:after,.clearfix-boosted-element:before{
	content:"";
	display:table;
}

.clearfix-boosted-element:after{
	clear:both;
}

.boosted-add-cart-icon-left, .boosted-add-to-cart-left-icon  .boosted-add-cart-icon-right {
	display:none;
}

.boosted-add-to-cart-left-icon .boosted-add-cart-icon-left {
	display:inline-block;
}

/* ANIMATION STYLES */
.add_to_cart_inline a.button {
	transition-duration: 350ms; 
	transition-property: color, background-color, opacity, border; 
	transition-timing-function: ease-in-out;
}

.boosted-elements-advanced-button i {
	transition:all 400ms; 
}

img.boosted-elements-progression-image,
.progression-studios-image-grid-caption-overlay,
.boosted-elements-advanced-btn-text-inline,
.boosted-elements-advanced-btn-background-hover,
.boosted-elements-advanced-btn-background,
.boosted-elements-advanced-button,
.boosted-elements-overlay-positioning,
.boosted-elements-blog-image img,
.boosted-elements-scroll-nav-item,
.boosted-single-nav-link,
.boosted-elements-close-btn,
.boosted-elements-content-container-overlay,
.boosted-elements-icons-container a,
.boosted-elements-button,
.boosted-elements-pricing-table-button,
.boosted-elements-slide-button-main,
.boosted-elements-slide-button-secondary {
	transition:all 500ms; 
}

.boosted-elements-slider-direction-nav a,
.boosted-elements-slider-control-paging li {
	transition:all 400ms;
}


ul.boosted-elements-slides li .boosted-elements-slide-title,
ul.boosted-elements-slides li .boosted-elements-slide-sub-title,
ul.boosted-elements-slides li .boosted-elements-slide-content,
ul.boosted-elements-slides li .boosted-elements-slide-button-main,
ul.boosted-elements-slides li .boosted-elements-slide-button-secondary  {
		animation-duration: 600ms;
		opacity:0;
}

.boosted-no-delay-animate ul.boosted-elements-slides li .boosted-elements-slide-title,
.boosted-no-delay-animate ul.boosted-elements-slides li .boosted-elements-slide-sub-title,
.boosted-no-delay-animate ul.boosted-elements-slides li .boosted-elements-slide-content,
.boosted-no-delay-animate ul.boosted-elements-slides li .boosted-elements-slide-button-main,
.boosted-no-delay-animate ul.boosted-elements-slides li .boosted-elements-slide-button-secondary ,
ul.boosted-elements-slides li.bosted_animate_none .boosted-elements-slider-content,
ul.boosted-elements-slides li.bosted_animate_none .boosted-elements-slide-title,
ul.boosted-elements-slides li.bosted_animate_none .boosted-elements-slide-sub-title,
ul.boosted-elements-slides li.bosted_animate_none .boosted-elements-slide-content,
ul.boosted-elements-slides li.bosted_animate_none .boosted-elements-slide-button-main,
ul.boosted-elements-slides li.bosted_animate_none .boosted-elements-slide-button-secondary  {
		opacity:1;
}
.boosted-no-delay-animate li.boosted-elements-slider-active-slide .boosted-elements-slider-content,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-elements-slide-title,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-elements-slide-sub-title,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-elements-slide-content,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-elements-slide-button-main,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-elements-slide-button-secondary {
		animation-duration: 800ms;
		animation-fill-mode: both;
}


.boosted-no-delay-animate li.boosted-elements-slider-active-slide .boosted-elements-slider-content {
	animation-duration: 900ms;
	opacity: 1;
}

.boosted-no-delay-animate li .boosted-elements-slider-content {
	animation-delay:  650ms;
	opacity: 0;
}

.boosted-no-delay-animate li.boosted-elements-slider-active-slide.bosted_animate_up .boosted-elements-slider-content,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_up .boosted-elements-slide-title,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_up .boosted-elements-slide-sub-title,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_up .boosted-elements-slide-content,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_up .boosted-elements-slide-button-main,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_up .boosted-elements-slide-button-secondary {
	animation-name: Boostedelementsfadeup;
}

.boosted-no-delay-animate li.boosted-elements-slider-active-slide.bosted_animate_down .boosted-elements-slider-content,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_down .boosted-elements-slide-title,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_down .boosted-elements-slide-sub-title,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_down .boosted-elements-slide-content,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_down .boosted-elements-slide-button-main,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_down .boosted-elements-slide-button-secondary {
	animation-name: Boostedelementsfadedown;
}


.boosted-no-delay-animate li.boosted-elements-slider-active-slide.bosted_animate_right .boosted-elements-slider-content,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_right .boosted-elements-slide-title,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_right .boosted-elements-slide-sub-title,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_right .boosted-elements-slide-content,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_right .boosted-elements-slide-button-main,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_right .boosted-elements-slide-button-secondary {
	animation-name: Boostedelementsfaderight;
}

.boosted-no-delay-animate li.boosted-elements-slider-active-slide.bosted_animate_left .boosted-elements-slider-content,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_left .boosted-elements-slide-title,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_left .boosted-elements-slide-sub-title,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_left .boosted-elements-slide-content,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_left .boosted-elements-slide-button-main,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_left .boosted-elements-slide-button-secondary {
	animation-name: Boostedelementsfadeleft;
}

.boosted-no-delay-animate li.boosted-elements-slider-active-slide.bosted_animate_out .boosted-elements-slider-content,
.boosted-delay-animate  ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_out .boosted-elements-slide-title,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_out .boosted-elements-slide-sub-title,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_out .boosted-elements-slide-content,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_out .boosted-elements-slide-button-main,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_out .boosted-elements-slide-button-secondary {
	animation-name: Boostedelementszoomup;
}


.boosted-no-delay-animate li.boosted-elements-slider-active-slide.bosted_animate_in .boosted-elements-slider-content,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_in .boosted-elements-slide-title,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_in .boosted-elements-slide-sub-title,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_in .boosted-elements-slide-content,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_in .boosted-elements-slide-button-main,
.boosted-delay-animate ul.boosted-elements-slides li.boosted-elements-slider-active-slide.bosted_animate_in .boosted-elements-slide-button-secondary {
	animation-name: Boostedelementszoomout;
}


@keyframes Boostedelementsfade {
		0% { opacity: 0;  }
		100% { opacity: 1; }
}

@keyframes Boostedelementsfadeup {
		0% { opacity: 0; transform: translate3d(0, 80%, 0); }
		100% { opacity: 1; transform: translate3d(0, 0, 0); }
}

@keyframes Boostedelementsfadedown {
		0% { opacity: 0; transform: translate3d(0, -80%, 0); }
		100% { opacity: 1; transform: translate3d(0, 0, 0); }
}

@keyframes Boostedelementsfadeleft {
		0% { opacity: 0; transform: translate3d(20%, 0, 0); }
		100% { opacity: 1; transform: translate3d(0, 0, 0); }
}

@keyframes Boostedelementsfaderight {
		0% { opacity: 0; transform: translate3d(-20%, 0, 0); }
		100% { opacity: 1; transform: translate3d(0, 0, 0); }
}

@keyframes Boostedelementszoomup {
		0% { opacity: 0; transform: scale(1.2); }
		100% { opacity: 1; transform: scale(1);}
}

@keyframes Boostedelementszoomout {
		0% { opacity: 0; transform: scale(0.85); }
		100% { opacity: 1; transform: scale(1);}
}

ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay-one:nth-child(1) { animation-delay:  600ms; }
ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay-one:nth-child(2) { animation-delay:  700ms; }
ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay-one:nth-child(3) { animation-delay:  800ms; }
ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay-one:nth-child(4) { animation-delay:  900ms;}
ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay-one:nth-child(5) { animation-delay:  1000ms;}

ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay:nth-child(1) { animation-delay:  600ms; }
ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay:nth-child(2) { animation-delay:  800ms; }
ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay:nth-child(3) { animation-delay:  1000ms; }
ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay:nth-child(4) { animation-delay:  1200ms;}
ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay:nth-child(5) { animation-delay:  1400ms;}

ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay-three:nth-child(1) { animation-delay:  600ms; }
ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay-three:nth-child(2) { animation-delay:  900ms; }
ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay-three:nth-child(3) { animation-delay:  1200ms; }
ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay-three:nth-child(4) { animation-delay:  1500ms;}
ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay-three:nth-child(5) { animation-delay:  1800ms;}

ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay-four:nth-child(1) { animation-delay:  600ms; }
ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay-four:nth-child(2) { animation-delay:  1000ms; }
ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay-four:nth-child(3) { animation-delay:  1400ms; }
ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay-four:nth-child(4) { animation-delay:  1800ms;}
ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay-four:nth-child(5) { animation-delay:  2200ms;}

ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay-five:nth-child(1) { animation-delay:  600ms; }
ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay-five:nth-child(2) { animation-delay:  1100ms; }
ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay-five:nth-child(3) { animation-delay:  1600ms; }
ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay-five:nth-child(4) { animation-delay:  2100ms;}
ul.boosted-elements-slides li.boosted-elements-slider-active-slide .boosted-animation-delay-five:nth-child(5) { animation-delay:  2600ms;}



/*
=============================================== 02. COUNTDOWN STYLES ===============================================
*/
.boosted-elements-progression-countdown-container-overflow {
	overflow:hidden;
}
.boosted-elements-progression-countdown-container ul.boosted-elements-progression-timer {
	list-style:none;
	margin:0px;
	padding:0px;
	display: table;
	table-layout: fixed;
	width: 100%;
	background:none;
}

.boosted-elements-progression-countdown-container ul.boosted-elements-progression-timer li.boosted-elements-timer-float {
	list-style:none;
	margin:0px;
	padding:0px;
	display: table-cell;
	background:none;
}

.boosted-elements-progression-countdown-container.boosted-elements-force-two-column ul.boosted-elements-progression-timer li.boosted-elements-timer-float {
	width:50%;
	display:block;
	float:left;
}

.boosted-elements-progression-countdown-container ul.boosted-elements-progression-timer li.boosted-elements-timer-float:after,
.boosted-elements-progression-countdown-container ul.boosted-elements-progression-timer li.boosted-elements-timer-float:before {
	display:none;
}

.boosted-elements-timer-segment {
	text-align:center;
	background:#0e9dd2;
	color:#ffffff;
	padding:30px 0px;
	border-radius:4px;
}

.boosted-elements-timer-digit {
	font-size:38px;
}

.boosted_elements_text_position_inline .boosted-elements-timer-text {
	display:inline;
}

.boosted-elements-timer-text {
	display:block;
}


/*
=============================================== 03. DEFAULT GRID/MASONRY STYLES ===============================================
*/
.boosted-elements-progression-image-grid-container {
	overflow:hidden;
}

.boosted-elements-progression-isotope-animation {
	opacity:0;
	transition: opacity 500ms; 
}

.boosted-elements-progression-masonry-item.boosted-elements-isotope-animation-start .boosted-elements-progression-isotope-animation {
	opacity:1;
}

/*
=============================================== 04. GALLERY ELEMENT STYLES ===============================================
*/
.progression-studios-grid-caption {
	padding:20px 20px;
	font-size:14px;
	color:#888888;
}

.progression-studios-image-grid-caption-table {
	background:#f1f1f1;
}

.boosted-elements-progression-image-grid-item {
	overflow:hidden;
	position:relative;
}

/* Animations */
.boosted-elements-image-grid-transition-zoom .boosted-elements-progression-image-grid-item:hover img.boosted-elements-progression-image {
	-webkit-transform: scale(1.09);
	transform: scale(1.09);
}

.boosted-elements-image-grid-transition-grey .boosted-elements-progression-image-grid-item:hover img.boosted-elements-progression-image {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.boosted-elements-image-grid-transition-sepia .boosted-elements-progression-image-grid-item:hover img.boosted-elements-progression-image {
	-webkit-filter: sepia(50%);
	filter: sepia(50%);
}

.boosted-elements-image-grid-transition-saturate .boosted-elements-progression-image-grid-item:hover img.boosted-elements-progression-image {
	-webkit-filter: saturate(50%);
	filter: saturate(50%);
}

/* Overlay CSS */
.boosted-elements-image-grid-caption-overlay .boosted-elements-progression-image-grid-item:hover .progression-studios-image-grid-caption-overlay {
	opacity:1;
}

.boosted-elements-image-grid-caption-overlay .progression-studios-image-grid-caption-overlay {
	position:absolute;
	top:0;
	width: 100%;
	height:100%;
	opacity:0;
}

.boosted-elements-image-grid-caption-overlay .progression-studios-image-grid-caption-table {
	display: table;
	table-layout: fixed;
	width: 100%;
	height:100%;
}

.boosted-elements-image-grid-caption-overlay .progression-studios-image-grid-caption-table-cell {
}



/*
=============================================== 05. SLIDER ELEMENT STYLES ===============================================
*/
/* RESETS */
.boosted-elements-slider-container a:focus, .boosted-elements-slider-slider a:focus,
.boosted-elements-slider-container a:hover, .boosted-elements-slider-slider a:hover { outline: none; -moz-outline-style: none;  }
.boosted-elements-slides, .boosted-elements-slides > li, .boosted-elements-slider-control-nav, .boosted-elements-slider-direction-nav { margin: 0; padding: 0; list-style: none; }
.boosted-elements-slider-pauseplay span { text-transform: capitalize; }

/* BASE STYLES */
.boosted-elements-slider-main {  margin: 0; padding: 0; }
.boosted-elements-slider-main .boosted-elements-slides > li {  display: none; -webkit-backface-visibility: hidden; }
.boosted-elements-slider-main .boosted-elements-slides:after {  content: "\0020"; display: block; clear: both;  visibility: hidden; line-height: 0; height: 0; }
html[xmlns] .boosted-elements-slider-main .boosted-elements-slides { display: block; }
* html .boosted-elements-slider-main .boosted-elements-slides { height: 1%; }
.no-js .boosted-elements-slider-main .boosted-elements-slides > li:first-child { display: block; }

/* BOOSTED DEFAULT THEME */
.boosted-elements-slider-main {
  margin:0px;
  position: relative;
  zoom: 1;
}
.boosted-elements-slider-main .boosted-elements-slides {
  zoom: 1;
}
.boosted-elements-slider-main .boosted-elements-slides img {
  height: auto;
  -moz-user-select: none;
}
.boosted-elements-slider-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .boosted-elements-slider-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.boosted-elements-slider-direction-nav {
  *height: 0;
}
.boosted-elements-slider-direction-nav a {
  text-decoration: none;
  display: block;
  width:70px;
  height:80px;
  line-height:80px;
  margin: -40px 0 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  outline: none;
  -moz-outline-style: none; 
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.boosted-elements-slider-direction-nav a:before {
  font-family: "FontAwesome";
  font-size: 32px;
  display: inline-block;
  content: '\f104';
  color: #ffffff;
}
.boosted-elements-slider-direction-nav a.boosted-elements-slider-next:before {
  content: '\f105';
}
.boosted-elements-slider-direction-nav .boosted-elements-slider-prev {
	left:0px;
  padding-left: 18px;
}
.boosted-elements-slider-direction-nav .boosted-elements-slider-next {
	right:0px;
 padding-right: 18px;
  text-align: right;
}
.boosted-elements-slider-main:hover .boosted-elements-slider-direction-nav .boosted-elements-slider-prev {
  opacity: 0.85;
}
.boosted-elements-slider-main:hover .boosted-elements-slider-direction-nav .boosted-elements-slider-prev:hover {
  opacity: 0.85;
}
.boosted-elements-slider-main:hover .boosted-elements-slider-direction-nav .boosted-elements-slider-next {
  opacity: 0.85;
}
.boosted-elements-slider-main:hover .boosted-elements-slider-direction-nav .boosted-elements-slider-next:hover {
  opacity: 0.85;
}
.boosted-elements-slider-direction-nav .boosted-elements-slider-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}
.boosted-elements-slider-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.boosted-elements-slider-pauseplay a:before {
  font-family: "fontawesome";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.boosted-elements-slider-pauseplay a:hover {
  opacity: 1;
}
.boosted-elements-slider-pauseplay a.boosted-elements-slider-play:before {
  content: '\f003';
}
.boosted-elements-slider-control-nav {
  width: 100%;
  position: absolute;
  bottom: 14px;
  z-index:25;
  text-align: center;
}
.boosted-elements-slider-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.boosted-elements-slider-control-paging li a {
  transition:all 300ms; 
  width: 9px;
  height: 9px;
  display: block;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  outline: none;
  -moz-outline-style: none; 
}

.boosted-elements-slider-control-paging li a.boosted-elements-slider-active {
  background: rgba(255, 255, 255, 1);
  cursor: default;
}
.boosted-elements-slider-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.boosted-elements-slider-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.boosted-elements-slider-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.boosted-elements-slider-control-thumbs img:hover {
  opacity: 1;
}
.boosted-elements-slider-control-thumbs .boosted-elements-slider-active {
  opacity: 1;
  cursor: default;
}

/* BOOSTED ELEMENTS STYLES */
.boosted-elements-slider-gradient-overlay,
.boosted-elements-slider-bg-overlay {
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	z-index:4;
	left:0;
}

.boosted-elements-slider-gradient-overlay {
	z-index:5;
}

.boosted-elements-video-bg {
	position:absolute;
	height:100%;	
	width:100%;
	top:0;
	z-index:2;
	left:0;
	overflow: hidden; 
}

.boosted-elements-youtube-player  {
	position:absolute;
	height:100%;	
	width:100%;
	top:0;
	left:0;
	z-index:2;
	overflow:hidden;
	pointer-events: none;
}

.boosted-elements-youtube-player span.mb_YTPBar {
	display:none !important;
}

@media only screen and (max-width: 959px) {
	
.boosted-elements-youtube-player {
	display:none !important;
}
}

ul.boosted-elements-slides li .boosted-elements-slide-title span,
ul.boosted-elements-slides li .boosted-elements-slide-sub-title span,
ul.boosted-elements-slides li .boosted-elements-slide-content  span {
	display:inline-block;
}

.clearfix-boosted-element:after{
	clear:both;
}

.boosted-elements-slider-background {
	position:relative;
	overflow:hidden;
	width:100%;
	background-repeat:no-repeat;
}
.boosted-elements-slider-display-table {
	display:table;
	width:100%;
	height:100%;
}

.boosted-elements-slider-content-container {
	width:100%;
}

.boosted-elements-slider-content {
	position:relative;
	z-index:10;
	width:100%;
	line-height:1.4;
	-webkit-font-smoothing:antialiased; /* Fix CSS3 Blur */
}

.boosted-elements-slider-content .boosted-elements-slide-title {
	font-size:38px;
	font-weight:700;
	color:#ffffff;
	margin-bottom:15px;
}

.boosted-elements-slider-content .boosted-elements-slide-sub-title {
	font-size:28px;
	color:#ffffff;
	margin-bottom:10px;
}

.boosted-elements-slider-content .boosted-elements-slide-content {
	font-size:15px;
	color:#ffffff;
	margin-bottom:25px;
}

.boosted-elements-slider-content .boosted-elements-slide-button-secondary,
.boosted-elements-slider-content .boosted-elements-slide-button-main {
	cursor:pointer;
	display:inline-block;
	font-size:12px;
	background:#ffffff;
	color:#000000;
	line-height:1;
	padding:16px 20px;
}

.boosted-elements-slider-content .boosted-elements-slide-button-main {
	margin-right:5px;
}
.boosted-elements-slider-content .boosted-elements-slide-button-secondary {
	margin-left:5px;
}

.boosted_elements_slider_arrow_visiblity_visible .boosted-elements-slider-direction-nav a {
	opacity:0.85;
}

.boosted_elements_slider_dots_visiblity_hidden .boosted-elements-slider-control-paging,
.boosted_elements_slider_arrow_visiblity_hidden .boosted-elements-slider-direction-nav a {
	display:none;
}

.boosted_elements_slider_dots_visiblity_hover .boosted-elements-slider-control-paging li {
	opacity:0;
}

.boosted_elements_slider_dots_visiblity_hover  .boosted-elements-slider-main:hover .boosted-elements-slider-control-paging li {
	opacity:1;
}

.boosted-elements-slider-main { 
	position:relative;
	z-index:1;
}

.boosted-slider-arrow-down {
	cursor:pointer;
	position:absolute;
	z-index:20;
	left:50%;
	bottom:76px;
	margin-left:-25px;
	width:50px;
	line-height:50px;
	height:50px;
	text-align:center;
	font-size:14px;
	color:#ffffff;
	border:2px solid #ffffff;
	border-radius:80px;
	-webkit-touch-callout: none; 
	-webkit-user-select: none;  
	-khtml-user-select: none;  
	-moz-user-select: none;  
	-ms-user-select: none; 
	user-select: none;
}

.boosted-slider-arrow-down i {
	position:relative;
	top:-1px;
}

.boosted-elements-progression-image-slideshow-container .fotorama .fotorama__arr--prev.fotorama__arr, 
.boosted-elements-progression-image-slideshow-container .fotorama .fotorama__arr--next.fotorama__arr {
	transition:all 500ms; 
}

/* Image */
.boosted-elements-slider-content-image {
	position:absolute;
	z-index:6;
	line-height:1;
}

.boosted-elements-slider-image-animate {
	position:relative;
	z-index:10;
	width:100%;
	-webkit-font-smoothing:antialiased; /* Fix CSS3 Blur */
}


/*
=============================================== 06. ANIMATED TYPING STYLES ===============================================
*/
.boosted-elements-repeater-field {
	display:inline-block;
}

.morphext > .animated {
    display: inline-block;
}

.typed-cursor {
	opacity: 1;
	-webkit-animation: boosted_blink 0.7s infinite;
	-moz-animation: boosted_blink 0.7s infinite;
	animation: boosted_blink 0.7s infinite;
}
@keyframes boosted_blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes boosted_blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes boosted_blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

/*
=============================================== 07. PRICING TABLE STYLES ===============================================
*/
.boosted-top-level {
	z-index:50;
}
.boosted-elements-progression-pricing-container {
	text-align:center;
	position:relative;
	overflow:hidden;
}

.boosted-elements-pricing-header {
	border-style:solid;
	border-color:#6997ae;
	border-right-width:0px;
	border-left-width:0px;
	border-bottom-width:0px;
	border-top-width:0px;
	background:#0e9dd2;
	padding:20px 0px;
}

h2.boosted-elements-pricing-title {
	color:#ffffff;
}

h4.boosted-elements-pricing-sub-title {
	color:#ffffff;
}

.boosted-elements-pricing-section {
	background:#f2f5fa;
	padding:30px 20px 30px 20px;
	line-height:1;
}

.boosted-elements-pricing-for-sale {
	text-decoration: line-through;
	padding-right:10px;
	font-size:18px;
}

.boosted-elements-pricing-duration div,
.boosted-elements-pricing-main-price div,
.boosted-elements-pricing-currency div {
	display:inline;
}

.boosted-elements-pricing-currency {
	position:relative;
}

.boosted-elements-pricing-main-price {
	font-size:45px;
	font-weight:700;
}

.boosted-elements-display-duration-block .boosted-elements-pricing-duration {
	display:block;
}
.boosted-elements-pricing-duration {
	color:#777777;
	position:relative;
}

ul.boosted-elements-pricing-features {
	background:#ffffff;
	list-style:none;
	margin:0px;
	padding:30px 20px 20px 20px;
}

ul.boosted-elements-pricing-features li {
	margin:0px 0px 10px 0px;
	padding:0px 0px 10px 0px;
	
	border-style:solid;
	border-width:0px;
}

ul.boosted-elements-pricing-features li:after, ul.boosted-elements-pricing-features li:before {
	display:none;
}

.boosted-elements-strikethrough {
	text-decoration: line-through;
}


.boosted-elements-pricing-footer {
	border-style:solid;
	border-width:0px;
	background:#ffffff;
	padding:0px 20px 35px 20px;
}

.boosted-elements-pricing-table-button {
	cursor:pointer;
	display:inline-block;
	background:#0e9dd2;
	color:#ffffff;
	line-height:1;
	padding:16px 25px;
	
}

.boosted-elements-pricing-table-button:hover {
	color:#ffffff;
	background:#0e9dd2;
}

.boosted-elements-footer-additional-text {
	font-size:90%;
	color:#888888;
}

.boosted-elelements-pricing-ribbon {
	position:absolute;
	font-size:13px;
	background:#6997ae;
	color:#ffffff;
	text-align: center;
	transform: rotate(-45deg);
	
	line-height: 35px;
	width: 180px;
	top: 25px; /* Divider Left by 2  */
	right:auto;
	left: -44px; /* Divider width by 4 */
  
	
}

.boosted-elements-pricing-table-ribbon-right .boosted-elelements-pricing-ribbon {
	transform: rotate(45deg);
	left:auto;
	right: -48px;
}


/*
=============================================== 08. FLIP BOXSTYLES ===============================================
*/
.boosted-elements-progression-flip-box-container {
	position:relative;
	height:300px;
	width:100%;
}

.boosted-elements-progression-flip-box-container a {
	display:block;
}

.boosted-elements-flip-box-vertical-align {
	width:100%;
}

.boosted-elements-flip-box-padding {
	padding:0px 30px 5px 30px;
}

.boosted-elements-flip-box-icon-image {
	display:inline-block;
	margin:0 auto 15px auto;
	line-height:1;
}

.boosted-elements-flip-box-icon-image.boosted_eleements_flip_front_icon_style_background {
	background:#cccccc;
}

.boosted_eleements_flip_front_icon_style_bordered {
	border:2px solid #ffffff;
}

.boosted_flip_box_icon_border_round {
	border-radius:100px;
}

.boosted_eleements_flip_front_icon_style_background,
.boosted_eleements_flip_front_icon_style_bordered {
	padding:15px;
}

.boosted-elements-flip-box-icon-image i {
	font-size:40px;
	line-height:40px;
	width:40px;
}

.boosted-elements-flip-box-front-container {
	text-align:center;
	position:absolute;
	top:0px;
	left:0px;
	z-index: 2;
	width:100%;
	height:100%;
	background:#0e9dd2;
	color:#ffffff;
	border-color:#000000;
}

.boosted-elements-flip-box-content,
h2.boosted-elements-flip-box-heading {
	color:#ffffff;
}

.boosted-elements-flip-box-rear-container {
	text-align:center;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#444444;
	color:#ffffff;
}

/* Floating Button Styles */
.boosted-elements-progression-button-floating-container {
	position:fixed;
	z-index:100;
}

.boosted-elements-progression-button-floating-container .boosted-elements-button {
	margin-top:0px;
	font-size:14px;
	position:relative;
	padding:14px 20px;
}

.boosted-elements-button {
	cursor:pointer;
	display:inline-block;
	background:#077bbe;
	color:#ffffff;
	line-height:1;
	padding:16px 25px;
	margin-top:15px;
}

.boosted-elements-button:hover {
	background:#077bbe;
	color:#ffffff;
}


/* CSS3 Transitions */
.boosted-elements-progression-flip-box-container {
	perspective: 1000px;
}

.boosted-elements-flip-box-front-container,
.boosted-elements-flip-box-rear-container {
	transition-duration:500ms; 
	transition-property: all; 
	transition-timing-function: ease;
}
.boosted-elements-flip-box-flip-card {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 500ms ease;
}
.boosted-elements-flip-box-rear-container,
.boosted-elements-flip-box-front-container {
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: rotateX(0deg);
	transform: rotateY(0deg);
}

/* Flip */
.boosted-animate-flip.boosted-animate-up.boosted-elements-progression-flip-box-container:hover .boosted-elements-flip-box-flip-card, 
.boosted-animate-flip.boosted-animate-up .boosted-elements-flip-box-rear-container { transform: rotateX(180deg); }

.boosted-animate-flip.boosted-animate-down.boosted-elements-progression-flip-box-container:hover .boosted-elements-flip-box-flip-card, 
.boosted-animate-flip.boosted-animate-down .boosted-elements-flip-box-rear-container { transform: rotateX(-180deg); }

.boosted-animate-flip.boosted-animate-left.boosted-elements-progression-flip-box-container:hover .boosted-elements-flip-box-flip-card, 
.boosted-animate-flip.boosted-animate-left .boosted-elements-flip-box-rear-container { transform: rotateY(-180deg); }

.boosted-animate-flip.boosted-animate-right.boosted-elements-progression-flip-box-container:hover .boosted-elements-flip-box-flip-card, 
.boosted-animate-flip.boosted-animate-right .boosted-elements-flip-box-rear-container { transform: rotateY(180deg); }


/* Slide */
.boosted-animate-push.boosted-elements-progression-flip-box-container,
.boosted-animate-slide.boosted-elements-progression-flip-box-container { overflow:hidden; }
.boosted-animate-push .boosted-elements-flip-box-rear-container,
.boosted-animate-slide .boosted-elements-flip-box-rear-container { z-index:3; }

.boosted-animate-push.boosted-animate-up .boosted-elements-flip-box-rear-container,
.boosted-animate-slide.boosted-animate-up .boosted-elements-flip-box-rear-container { top:100%;  }
.boosted-animate-push.boosted-animate-up.boosted-elements-progression-flip-box-container:hover .boosted-elements-flip-box-rear-container,
.boosted-animate-slide.boosted-animate-up.boosted-elements-progression-flip-box-container:hover .boosted-elements-flip-box-rear-container {top:0; }

.boosted-animate-push.boosted-animate-down .boosted-elements-flip-box-rear-container,
.boosted-animate-slide.boosted-animate-down .boosted-elements-flip-box-rear-container { top:auto; bottom:100%; }
.boosted-animate-push.boosted-animate-down.boosted-elements-progression-flip-box-container:hover .boosted-elements-flip-box-rear-container,
.boosted-animate-slide.boosted-animate-down.boosted-elements-progression-flip-box-container:hover .boosted-elements-flip-box-rear-container {top:auto; bottom:0; }

.boosted-animate-push.boosted-animate-left .boosted-elements-flip-box-rear-container,
.boosted-animate-slide.boosted-animate-left .boosted-elements-flip-box-rear-container { left:100%; }
.boosted-animate-push.boosted-animate-left.boosted-elements-progression-flip-box-container:hover .boosted-elements-flip-box-rear-container,
.boosted-animate-slide.boosted-animate-left.boosted-elements-progression-flip-box-container:hover .boosted-elements-flip-box-rear-container { left:0; }


.boosted-animate-push.boosted-animate-right .boosted-elements-flip-box-rear-container,
.boosted-animate-slide.boosted-animate-right .boosted-elements-flip-box-rear-container {left:auto; right:100%; }
.boosted-animate-push.boosted-animate-right.boosted-elements-progression-flip-box-container:hover .boosted-elements-flip-box-rear-container,
.boosted-animate-slide.boosted-animate-right.boosted-elements-progression-flip-box-container:hover .boosted-elements-flip-box-rear-container { left:auto; right:0; }


/* Push + Slide Above */
.boosted-animate-push.boosted-animate-up.boosted-elements-progression-flip-box-container:hover .boosted-elements-flip-box-front-container {
	top:-100%;
}

.boosted-animate-push.boosted-animate-down.boosted-elements-progression-flip-box-container:hover .boosted-elements-flip-box-front-container {
	top:100%;
}

.boosted-animate-push.boosted-animate-left.boosted-elements-progression-flip-box-container:hover .boosted-elements-flip-box-front-container {
	left:-100%;
}

.boosted-animate-push.boosted-animate-right.boosted-elements-progression-flip-box-container:hover .boosted-elements-flip-box-front-container {
	left:100%;
}

/* Zoom In */
.boosted-animate-zoom-in .boosted-elements-flip-box-rear-container {
	opacity:0;
	transform: scale(0.75);
	z-index:3;
}

.boosted-animate-zoom-in.boosted-elements-progression-flip-box-container:hover .boosted-elements-flip-box-rear-container {
	opacity:1;
	transform: scale(1);
}

/* Zoom Out */
.boosted-animate-zoom-out.boosted-elements-progression-flip-box-container:hover .boosted-elements-flip-box-front-container {
	opacity:0;
	transform: scale(0.75);
}

.boosted-animate-fade.boosted-elements-progression-flip-box-container:hover .boosted-elements-flip-box-front-container {
	opacity:0;
}


/*
=============================================== 09. TEAM MEMEMBER STYLES ===============================================
*/
.boosted-elements-progression-team-member-container {
	overflow:hidden;
}

.boosted-elements-team-content {
	padding:30px;
}

h4.boosted-elements-team-heading {
	margin-bottom:2px;
}

h5.boosted-elements-team-job-title {
	margin-bottom:15px;
}
.boosted-elements-team-description {
	margin-bottom:15px;
}

.boosted-elements-progression-team-member-container .boosted-elements-button {
	margin-bottom:20px;
}

.boosted-elements-team-image {
	position:relative;
}

.boosted-elements-content-container-overlay {
	width:100%;
	height:100%;
	position:absolute;
	float:left;
	top:0px;
	left:0px;
	opacity:0;
}

.boosted-elements-team-image:hover .boosted-elements-content-container-overlay  {
	opacity:1;
}

.boosted-elements-team-image .boosted-elements-overlay-table {
	margin:0px;
	padding:0px;
	display: table;
	table-layout: fixed;
	width: 100%;
	height:100%;
}
.boosted-elements-team-image .boosted-elements-overlay-table-cell {
	display:table-cell;
	vertical-align:middle;
	position:static;
}

.boosted-elements-icons-container a {
	text-align:center;
	display:inline-block;
	margin:0px 5px 5px 5px;
}

.boosted_elements_image_align_right .boosted-elements-team-content,
.boosted_elements_image_align_left .boosted-elements-team-image {
	float:left;
}

.boosted_elements_image_align_left .boosted-elements-team-content,
.boosted_elements_image_align_right .boosted-elements-team-image {
	float:right;
}

.boosted_elements_image_align_left .boosted-elements-team-image,
.boosted_elements_image_align_right .boosted-elements-team-image {
	width:40%;
}

.boosted_elements_image_align_left .boosted-elements-team-content,
.boosted_elements_image_align_right .boosted-elements-team-content {
	width:60%;
}

@media only screen and (max-width: 767px) {
	.boosted_elements_image_align_left .boosted-elements-team-image, .boosted_elements_image_align_right .boosted-elements-team-image, .boosted_elements_image_align_left .boosted-elements-team-content, .boosted_elements_image_align_right .boosted-elements-team-content {
		width:100%;
	}
}

/*
=============================================== 10. POPUP MODAL STYLES ===============================================
*/
.boosted-elements-progression-popup-container {
	background:#ffffff;
	width:600px;
	overflow:hidden;
}

.boosted_popup_slide {
	transform: translateX(0) translateY(-40%);
}
.popup_visible .boosted_popup_slide {
	transform: translateX(0) translateY(0);
}


.boosted_popup_slide_up {
	transform: translateX(0) translateY(40%);
}

.popup_visible .boosted_popup_slide_up {
	transform: translateX(0) translateY(0);
}


.boosted_popup_slide_left {
	transform: translateX(40%) translateY(0%);
}

.popup_visible .boosted_popup_slide_left {
	transform: translateX(0) translateY(0);
}


.boosted_popup_slide_right {
	transform: translateX(-40%) translateY(0%);
}

.popup_visible .boosted_popup_slide_right {
	transform: translateX(0) translateY(0);
}

.boosted_fade_and_scale {
	transform: scale(0.8);
}
.popup_visible .boosted_fade_and_scale {
	transform: scale(1);
}

.popup_background {
	background:rgba(0, 0, 0, 0.8);
}

.boosted-elements-popup-header {
	padding:30px;
	background:#e9e9e9;
}

.boosted-elements-popup-content {
	padding:30px 30px 10px 30px;
}

.boosted-elements-close-btn {
	display:block;
	cursor:pointer;
	position:absolute;
	text-align:center;
	background:#000000;
	color:#ffffff;
	
	width:36px;
	height:36px;
	line-height:36px;
	font-size:15px;
}

.boosted-elements-popup-content iframe,
.boosted-elements-popup-content .wp-video {
	width:100%;
	height:auto;
}

.boosted-elements-pop-up-image {
	cursor:pointer;
}

/*
=============================================== 11. SCROLL NAVIGATION STYLES ===============================================
*/
.boosted-elements-progression-scroll-nav-container {
	position:fixed;
	line-height:1;	
	
	z-index:500;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.boosted-elements-progression-scroll-nav-container ul.boosted-elements-scroll-nav-menu {
	list-style:none;
	margin:0px 0px 0px 0px;
	padding:0px;
	position:relative;
}
.boosted-elements-progression-scroll-nav-container ul.boosted-elements-scroll-nav-menu li {
	margin:0px;
	padding:0px;
	display:block;
	text-align:right;
}


ul.boosted-elements-scroll-nav-menu li:before, ul.boosted-elements-scroll-nav-menu li:after {
	display:none;
}

.boosted-single-nav-link {
	cursor:pointer;
	position:relative;
}

.boosted-elements-scroll-nav-item, .boosted-elements-scroll-nav-hover-content {
	display:inline-block;
}

.boosted-elements-scroll-nav-item {
	font-size:9px;
	padding:9px 10px;
	color:rgba(0, 0, 0, 0.6);
	text-align:center;
}

.boosted-scroll-current-item .boosted-single-nav-link .boosted-elements-scroll-nav-item,
.boosted-single-nav-link:hover .boosted-elements-scroll-nav-item {
	color:#0e9dd2;
	
}

.boosted-elements-scroll-nav-hover-content {
	position:absolute;
	top:5px;
	right:0px;
	width:300px;
	padding-right:25px;
	transition:all 400ms; 
	opacity:0;
	visibility:hidden;
	font-size:14px;
}

.boosted-elements-title-on-hovere-only .boosted-scroll-current-item .boosted-single-nav-link .boosted-elements-scroll-nav-hover-content,
.boosted-single-nav-link:hover .boosted-elements-scroll-nav-hover-content {
	visibility:visible;
	opacity:1;
	padding-right:35px;
}

.boosted-elements-scroll-nav-hover-content span {
	border-radius:4px;
	background:#0e9dd2;
	color:#ffffff;
	padding:4px 9px;
	font-size:12px;
	position:relative;
}

.boosted-scroll-nav-icon-right {
	margin-left:3px;
}
.boosted-scroll-nav-icon-left {
	margin-right:3px;
}

.boosted-elements-hide-arrow-title .boosted-elements-scroll-nav-hover-content span:after {
	display:none;
}

.boosted-elements-scroll-nav-hover-content span:after {
	content:"";
	display:block;
	position:absolute;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: none;
	border-left:  6px solid #0e9dd2;
	right:-5px;
	top:50%;
	margin-top:-6px;
}
@-moz-document url-prefix() {
	.boosted-elements-scroll-nav-hover-content span:after {
		right:-1px;
	}
}

a .boosted-elements-scroll-nav-hover-content span:after {
	border-left-color:#0e9dd2;
}

/* Left Align Adjustmentes */
.boosted-elements-progression-scroll-left-layout .boosted-elements-scroll-nav-hover-content {
	right:auto;
	left:0px;
	text-align:left;
	padding-right:0px;
	padding-left:25px;
}

.boosted-elements-progression-scroll-left-layout.boosted-elements-title-on-hovere-only .boosted-scroll-current-item .boosted-single-nav-link .boosted-elements-scroll-nav-hover-content,
.boosted-elements-progression-scroll-left-layout .boosted-single-nav-link:hover .boosted-elements-scroll-nav-hover-content  {
	padding-left:35px;
}

.boosted-elements-progression-scroll-left-layout .boosted-elements-scroll-nav-hover-content span:after {
	border-right: 6px solid #0e9dd2;
	border-left:  none;
	right:auto;
	left:-5px;
}

@-moz-document url-prefix() {
	.boosted-elements-progression-scroll-left-layout .boosted-elements-scroll-nav-hover-content span:after {
		right:auto;
		left:-1px;
	}
}


.boosted-elements-progression-scroll-left-layout a .boosted-elements-scroll-nav-hover-content span:after {
	border-color-right:#0e9dd2;
}	


/* Middle Align Adjustments */
.boosted-elements-progression-scroll-middle-layout.boosted-elements-progression-scroll-nav-container ul.boosted-elements-scroll-nav-menu li {
	display:inline-block;
	text-align:center;
}

.boosted-elements-progression-scroll-middle-layout .boosted-elements-scroll-nav-hover-content {
	padding-right:0px !important;
	margin-right:-136px;
}

.boosted-elements-progression-scroll-middle-layout .boosted-single-nav-link:hover .boosted-elements-scroll-nav-hover-content {
	padding-right:0px;
}

.boosted-elements-progression-scroll-middle-layout .boosted-elements-scroll-nav-hover-content span:after {
	border-top: 8px solid #0e9dd2;
	border-right: 8px solid transparent ;
	border-left:  8px solid transparent ;
	border-bottom: none;
	display:block;
	margin-top:-1px;
	right:50%;
	margin-right:-8px;
	top:100%;
}

.boosted-elements-progression-scroll-middle-layout a .boosted-elements-scroll-nav-hover-content span:after {
	border-top-color:#0e9dd2;
	
}

/*
=============================================== 12. BLOG STYLES ===============================================
*/
.boosted-elements-blog-main-styles {
	position:relative;
	overflow:hidden;
	background-color:#ffffff;
}

.boosted-transparent-background-color .boosted-elements-blog-main-styles {
	background-color:transparent;
}

.boosted-elements-blog-image {
	display:block;
}

.boosted-elements-blog-image img {
	margin:0px;
	padding:0px;
	width:100%;
}

.boosted-elements-blog-content-container {
	padding:20px;
}

h3.boosted-elements-blog-title {
	margin-bottom:8px;
}

ul.boosted-elements-blog-meta-data {
	list-style:none;
	margin:0px 0px 15px 0px;
	padding:0px;
	font-size:13px;
	color:#999999;
}

ul.boosted-elements-blog-meta-data a {
	color:#999999;
}

ul.boosted-elements-blog-meta-data li.boosted-elements-blog-meta-item {
	margin:0px;
	padding:0px;
	display:inline;
}

ul.boosted-elements-blog-meta-data li.boosted-elements-blog-meta-item span:after {
	padding:0px 5px;
}

ul.boosted-elements-blog-meta-data li.boosted-elements-blog-meta-item:last-child span:after {
	display:none;
}

.boosted-elements-blog-excerpt {
	font-size:14px;
}

a.boosted-elements-blog-read-more {
	display:inline-block;
	font-size:14px;
}

/* Avatar + Category Button */
.boosted-elements-blog-image-container {
	position:relative;
}
.boosted-elements-avatar {
	position:absolute;
	bottom:0px;
	left:0px;
	width:50px;
	margin:10px 20px -15px 20px;
}

.boosted-elements-avatar img {
	border-radius:100px;
}

.boosted-elements-blog-taxonomy-overlay {
	position:absolute;
	top:0px;
	right:0px;
	margin:12px 20px;
	z-index:5;
}

.boosted-elements-blog-taxonomy-overlay a {
	margin-left:5px;
	display:inline-block;
	line-height:1;
	border-radius:50px;
	padding:6px 12px;
	font-size:11px;
	background:#444444;
	color:#ffffff;
}

/* Overlay Layout */
.boosted-transparent-background-color .boosted-elements-overlay-positioning {
	background:transparent;
}

.boosted-elements-overlay-positioning {
	width:100%;
	height:100%;
	bottom:0px;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.95) 100%);
}

.boosted-elements-overlay-positioning ul.boosted-elements-blog-meta-data,
.boosted-elements-overlay-positioning ul.boosted-elements-blog-meta-data a,
.boosted-elements-overlay-positioning,
.boosted-elements-overlay-positioning a {
	color:#ffffff;
}

.boosted-elements-post-list-vertical-align {
	width:100%;
}

.boosted-elements-blog-overlay-layout .boosted-elements-blog-overlay-image {
	display:block;
	height:350px;
}

.boosted-elements-blog-overlay-layout .boosted-elements-avatar {
	top:0px;
	bottom:auto;
	left:0px;
}


/*
=============================================== 13. PAGINATION STYLES ===============================================
*/
.boosted-elements-pagination-container {
	margin:0px 0px 0px 0px;
	padding:25px 0px 25px 0px;
	text-align:center;
}

.boosted-elements-pagination-container ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

.boosted-elements-pagination-container ul li {
	display:inline;
	margin:0px;
	padding:0px;
}

/* Pagination Styles */
.boosted-elements-load-more-manual .boosted-elements-infinite-nav-pro {
	display:block !important; width:100%;
}

.boosted-elements-infinite-nav-pro {
	display:none;
}

.boosted-elements-infinite-nav-pro a {
	margin:0px auto 0px auto;
	display:inline-block;
	line-height:1;
	border:none;
	text-align:center;
	border-radius:0px;
	width:auto;
	font-size:14px;
	padding:12px 18px;
	background:#0e9dd2;
	color:#ffffff;
	
}
.boosted-elements-infinite-nav-pro a span i {
	font-size:90%;
	position:relative;
	top:0px;
	padding-left:3px;
}

#boostsed-infscr-loading {
    z-index: 31;
    position: absolute;
    text-align: center;
    width:100%;
	bottom:15px;
	opacity:1;
}

#boostsed-infscr-loading img {
	border-radius:100px;
	background:#e4e4e4;
	padding:20px;
}

#boostsed-infscr-loading div#boosted-elements-no-more-posts {
	padding-right:20px;
	padding-left:20px;
	font-size:12px;
	font-weight:400;
	display:inline-block;
	background:#e4e4e4;
	color:#999999;
	padding:20px;
	display:none;
}

/*
=============================================== 14. IMAGE SLIDESHOW STYLES ===============================================
*/
/*!
 * Fotorama 4.6.4 | http://fotorama.io/license/
 */
.fotorama__arr:focus:after,.fotorama__fullscreen-icon:focus:after,.fotorama__html,.fotorama__img,.fotorama__nav__frame:focus .fotorama__dot:after,.fotorama__nav__frame:focus .fotorama__thumb:after,.fotorama__stage__frame,.fotorama__stage__shaft,.fotorama__video iframe{position:absolute;width:100%;height:100%;top:0;right:0;left:0;bottom:0}.fotorama--fullscreen,.fotorama__img{max-width:99999px!important;max-height:99999px!important;min-width:0!important;min-height:0!important;border-radius:0!important;box-shadow:none!important;padding:0!important}.fotorama__wrap .fotorama__grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}.fotorama__grabbing *{cursor:move;cursor:-webkit-grabbing;cursor:-o-grabbing;cursor:-ms-grabbing;cursor:grabbing}.fotorama__spinner{position:absolute!important;top:50%!important;left:50%!important}.fotorama__wrap--css3 .fotorama__arr,.fotorama__wrap--css3 .fotorama__fullscreen-icon,.fotorama__wrap--css3 .fotorama__nav__shaft,.fotorama__wrap--css3 .fotorama__stage__shaft,.fotorama__wrap--css3 .fotorama__thumb-border,.fotorama__wrap--css3 .fotorama__video-close,.fotorama__wrap--css3 .fotorama__video-play{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.fotorama__caption,.fotorama__nav:after,.fotorama__nav:before,.fotorama__stage:after,.fotorama__stage:before,.fotorama__wrap--css3 .fotorama__html,.fotorama__wrap--css3 .fotorama__nav,.fotorama__wrap--css3 .fotorama__spinner,.fotorama__wrap--css3 .fotorama__stage,.fotorama__wrap--css3 .fotorama__stage .fotorama__img,.fotorama__wrap--css3 .fotorama__stage__frame{-webkit-transform:translateZ(0);transform:translateZ(0)}.fotorama__arr:focus,.fotorama__fullscreen-icon:focus,.fotorama__nav__frame{outline:0}.fotorama__arr:focus:after,.fotorama__fullscreen-icon:focus:after,.fotorama__nav__frame:focus .fotorama__dot:after,.fotorama__nav__frame:focus .fotorama__thumb:after{content:'';border-radius:inherit;background-color:rgba(0,175,234,.5)}.fotorama__wrap--video .fotorama__stage,.fotorama__wrap--video .fotorama__stage__frame--video,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img,.fotorama__wrap--video .fotorama__stage__shaft{-webkit-transform:none!important;transform:none!important}.fotorama__wrap--css3 .fotorama__nav__shaft,.fotorama__wrap--css3 .fotorama__stage__shaft,.fotorama__wrap--css3 .fotorama__thumb-border{transition-property:-webkit-transform,width;transition-property:transform,width;transition-timing-function:cubic-bezier(0.1,0,.25,1);transition-duration:0ms}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__no-select,.fotorama__video-close,.fotorama__video-play,.fotorama__wrap{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fotorama__select{-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text}.fotorama__nav,.fotorama__nav__frame{margin:auto;padding:0}.fotorama__caption__wrap,.fotorama__nav__frame,.fotorama__nav__shaft{-moz-box-orient:vertical;display:inline-block;vertical-align:middle;*display:inline;*zoom:1}.fotorama__nav__frame,.fotorama__thumb-border{box-sizing:content-box}.fotorama__caption__wrap{box-sizing:border-box}.fotorama--hidden,.fotorama__load{position:absolute;left:-99999px;top:-99999px;z-index:-1}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__nav,.fotorama__nav__frame,.fotorama__nav__shaft,.fotorama__stage__frame,.fotorama__stage__shaft,.fotorama__video-close,.fotorama__video-play{-webkit-tap-highlight-color:transparent}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{background:url(../images/fotorama.png) no-repeat}@media (-webkit-min-device-pixel-ratio:1.5),(min-resolution:2dppx){.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{background:url(../images/fotorama@2x.png) 0 0/96px 160px no-repeat}}.fotorama__thumb{background-color:#7f7f7f;background-color:rgba(127,127,127,.2)}@media print{.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__thumb-border,.fotorama__video-close,.fotorama__video-play{background:none!important}}.fotorama{min-width:1px;overflow:hidden}.fotorama:not(.fotorama--unobtrusive)>*:not(:first-child){display:none}.fullscreen{width:100%!important;height:100%!important;max-width:100%!important;max-height:100%!important;margin:0!important;padding:0!important;overflow:hidden!important;background:#000}.fotorama--fullscreen{position:absolute!important;top:0!important;left:0!important;right:0!important;bottom:0!important;float:none!important;z-index:2147483647!important;background:#000;width:100%!important;height:100%!important;margin:0!important}.fotorama--fullscreen .fotorama__nav,.fotorama--fullscreen .fotorama__stage{background:#000}.fotorama__wrap{-webkit-text-size-adjust:100%;position:relative;direction:ltr;z-index:0}.fotorama__wrap--rtl .fotorama__stage__frame{direction:rtl}.fotorama__nav,.fotorama__stage{overflow:hidden;position:relative;max-width:100%}.fotorama__wrap--pan-y{-ms-touch-action:pan-y}.fotorama__wrap .fotorama__pointer{cursor:pointer}.fotorama__wrap--slide .fotorama__stage__frame{opacity:1!important}.fotorama__stage__frame{overflow:hidden}.fotorama__stage__frame.fotorama__active{z-index:8}.fotorama__wrap--fade .fotorama__stage__frame{display:none}.fotorama__wrap--fade .fotorama__fade-front,.fotorama__wrap--fade .fotorama__fade-rear,.fotorama__wrap--fade .fotorama__stage__frame.fotorama__active{display:block;left:0;top:0}.fotorama__wrap--fade .fotorama__fade-front{z-index:8}.fotorama__wrap--fade .fotorama__fade-rear{z-index:7}.fotorama__wrap--fade .fotorama__fade-rear.fotorama__active{z-index:9}.fotorama__wrap--fade .fotorama__stage .fotorama__shadow{display:none}.fotorama__img{-ms-filter:"alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0;border:none!important}.fotorama__error .fotorama__img,.fotorama__loaded .fotorama__img{-ms-filter:"alpha(Opacity=100)";filter:alpha(opacity=100);opacity:1}.fotorama--fullscreen .fotorama__loaded--full .fotorama__img,.fotorama__img--full{display:none}.fotorama--fullscreen .fotorama__loaded--full .fotorama__img--full{display:block}.fotorama__wrap--only-active .fotorama__nav,.fotorama__wrap--only-active .fotorama__stage{max-width:99999px!important}.fotorama__wrap--only-active .fotorama__stage__frame{visibility:hidden}.fotorama__wrap--only-active .fotorama__stage__frame.fotorama__active{visibility:visible}.fotorama__nav{font-size:0;line-height:0;text-align:center;display:none;white-space:nowrap;z-index:5}.fotorama__nav__shaft{position:relative;left:0;top:0;text-align:left}.fotorama__nav__frame{position:relative;cursor:pointer}.fotorama__nav--dots{display:block}.fotorama__nav--dots .fotorama__nav__frame{width:18px;height:30px}.fotorama__nav--dots .fotorama__nav__frame--thumb,.fotorama__nav--dots .fotorama__thumb-border{display:none}.fotorama__nav--thumbs{display:block}.fotorama__nav--thumbs .fotorama__nav__frame{padding-left:0!important}.fotorama__nav--thumbs .fotorama__nav__frame:last-child{padding-right:0!important}.fotorama__nav--thumbs .fotorama__nav__frame--dot{display:none}.fotorama__dot{display:block;width:4px;height:4px;position:relative;top:12px;left:6px;border-radius:6px;border:1px solid #7f7f7f}.fotorama__nav__frame:focus .fotorama__dot:after{padding:1px;top:-1px;left:-1px}.fotorama__nav__frame.fotorama__active .fotorama__dot{width:0;height:0;border-width:3px}.fotorama__nav__frame.fotorama__active .fotorama__dot:after{padding:3px;top:-3px;left:-3px}.fotorama__thumb{overflow:hidden;position:relative;width:100%;height:100%}.fotorama__nav__frame:focus .fotorama__thumb{z-index:2}.fotorama__thumb-border{position:absolute;z-index:9;top:0;left:0;border-style:solid;border-color:#00afea;background-image:linear-gradient(to bottom right,rgba(255,255,255,.25),rgba(64,64,64,.1))}.fotorama__caption{position:absolute;z-index:12;bottom:0;left:0;right:0;font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;line-height:1.5;color:#000}.fotorama__caption a{text-decoration:none;color:#000;border-bottom:1px solid;border-color:rgba(0,0,0,.5)}.fotorama__caption a:hover{color:#333;border-color:rgba(51,51,51,.5)}.fotorama__wrap--rtl .fotorama__caption{left:auto;right:0}.fotorama__wrap--no-captions .fotorama__caption,.fotorama__wrap--video .fotorama__caption{display:none}.fotorama__caption__wrap{background-color:#fff;background-color:rgba(255,255,255,.9);padding:5px 10px}@-webkit-keyframes spinner{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes spinner{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.fotorama__wrap--css3 .fotorama__spinner{-webkit-animation:spinner 24s infinite linear;animation:spinner 24s infinite linear}.fotorama__wrap--css3 .fotorama__html,.fotorama__wrap--css3 .fotorama__stage .fotorama__img{transition-property:opacity;transition-timing-function:linear;transition-duration:.3s}.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img{-ms-filter:"alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0}.fotorama__select{cursor:auto}.fotorama__video{top:32px;right:0;bottom:0;left:0;position:absolute;z-index:10}@-moz-document url-prefix(){.fotorama__active{box-shadow:0 0 0 transparent}}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{position:absolute;z-index:11;cursor:pointer}.fotorama__arr{position:absolute;width:32px;height:32px;top:50%;margin-top:-16px}.fotorama__arr--prev{left:2px;background-position:0 0}.fotorama__arr--next{right:2px;background-position:-32px 0}.fotorama__arr--disabled{pointer-events:none;cursor:default;*display:none;opacity:.1}.fotorama__fullscreen-icon{width:32px;height:32px;top:2px;right:2px;background-position:0 -32px;z-index:20}.fotorama__arr:focus,.fotorama__fullscreen-icon:focus{border-radius:50%}.fotorama--fullscreen .fotorama__fullscreen-icon{background-position:-32px -32px}.fotorama__video-play{width:96px;height:96px;left:50%;top:50%;margin-left:-48px;margin-top:-48px;background-position:0 -64px;opacity:0}.fotorama__wrap--css2 .fotorama__video-play,.fotorama__wrap--video .fotorama__stage .fotorama__video-play{display:none}.fotorama__error .fotorama__video-play,.fotorama__loaded .fotorama__video-play,.fotorama__nav__frame .fotorama__video-play{opacity:1;display:block}.fotorama__nav__frame .fotorama__video-play{width:32px;height:32px;margin-left:-16px;margin-top:-16px;background-position:-64px -32px}.fotorama__video-close{width:32px;height:32px;top:0;right:0;background-position:-64px 0;z-index:20;opacity:0}.fotorama__wrap--css2 .fotorama__video-close{display:none}.fotorama__wrap--css3 .fotorama__video-close{-webkit-transform:translate3d(32px,-32px,0);transform:translate3d(32px,-32px,0)}.fotorama__wrap--video .fotorama__video-close{display:block;opacity:1}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__video-close{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon{opacity:0}.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus{opacity:1}.fotorama__wrap--video .fotorama__arr,.fotorama__wrap--video .fotorama__fullscreen-icon{opacity:0!important}.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon{display:none}.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus{display:block}.fotorama__wrap--css2.fotorama__wrap--video .fotorama__arr,.fotorama__wrap--css2.fotorama__wrap--video .fotorama__fullscreen-icon{display:none!important}.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:not(:focus){-webkit-transform:translate3d(32px,-32px,0);transform:translate3d(32px,-32px,0)}.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus){-webkit-transform:translate3d(-48px,0,0);transform:translate3d(-48px,0,0)}.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus){-webkit-transform:translate3d(48px,0,0);transform:translate3d(48px,0,0)}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__fullscreen-icon{-webkit-transform:translate3d(32px,-32px,0)!important;transform:translate3d(32px,-32px,0)!important}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--prev{-webkit-transform:translate3d(-48px,0,0)!important;transform:translate3d(-48px,0,0)!important}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--next{-webkit-transform:translate3d(48px,0,0)!important;transform:translate3d(48px,0,0)!important}.fotorama__wrap--css3 .fotorama__arr:not(:focus),.fotorama__wrap--css3 .fotorama__fullscreen-icon:not(:focus),.fotorama__wrap--css3 .fotorama__video-close:not(:focus),.fotorama__wrap--css3 .fotorama__video-play:not(:focus){transition-property:-webkit-transform,opacity;transition-property:transform,opacity;transition-duration:.3s}.fotorama__nav:after,.fotorama__nav:before,.fotorama__stage:after,.fotorama__stage:before{content:"";display:block;position:absolute;text-decoration:none;top:0;bottom:0;width:10px;height:auto;z-index:10;pointer-events:none;background-repeat:no-repeat;background-size:1px 100%,5px 100%}.fotorama__nav:before,.fotorama__stage:before{background-image:linear-gradient(transparent,rgba(0,0,0,.2) 25%,rgba(0,0,0,.3) 75%,transparent),radial-gradient(farthest-side at 0 50%,rgba(0,0,0,.4),transparent);background-position:0 0,0 0;left:-10px}.fotorama__nav.fotorama__shadows--left:before,.fotorama__stage.fotorama__shadows--left:before{left:0}.fotorama__nav:after,.fotorama__stage:after{background-image:linear-gradient(transparent,rgba(0,0,0,.2) 25%,rgba(0,0,0,.3) 75%,transparent),radial-gradient(farthest-side at 100% 50%,rgba(0,0,0,.4),transparent);background-position:100% 0,100% 0;right:-10px}.fotorama__nav.fotorama__shadows--right:after,.fotorama__stage.fotorama__shadows--right:after{right:0}.fotorama--fullscreen .fotorama__nav:after,.fotorama--fullscreen .fotorama__nav:before,.fotorama--fullscreen .fotorama__stage:after,.fotorama--fullscreen .fotorama__stage:before,.fotorama__wrap--fade .fotorama__stage:after,.fotorama__wrap--fade .fotorama__stage:before,.fotorama__wrap--no-shadows .fotorama__nav:after,.fotorama__wrap--no-shadows .fotorama__nav:before,.fotorama__wrap--no-shadows .fotorama__stage:after,.fotorama__wrap--no-shadows .fotorama__stage:before{display:none}

.fotorama__nav-wrap img {
	margin:0px !important;
	padding:0px !important;
}

.elementor .fotorama *  {
 	box-sizing: content-box;
}

.fotorama__thumb-border {
	border-color:#149fd0;
	background:rgba(20, 159, 208, 0.2);
}

.fotorama__caption {
  font-size: 13px;
  font-weight:500;
  color: #ffffff; 
}

.fotorama__caption__wrap {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 14px;
}

/* Custom Arrows */
.fotorama__arr {
	font: normal normal normal 14px/1 FontAwesome;
  	font-size: inherit;
	text-rendering: auto;
 	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
  	transform: translate(0, 0);
  	font-family: 'FontAwesome';
  	font-weight: normal;
	font-style: normal;
}


.fotorama__arr--prev, .fotorama__arr--next {
	line-height:60px;
	width:40px;
	height:60px;
	font-size:40px;
	margin-top: -30px;
	text-align:center;
	color:#ffffff;
	background:none;
}

body .fotorama__stage .fotorama__arr--next { right: 0px; }
body .fotorama__stage .fotorama__arr--prev { left: 0px; }

.fotorama__arr--prev:before { content: "\f104";}
.fotorama__arr--next:before { content: "\f105"; }

/* Full Screen Button */
.fotorama__fullscreen-icon {
	font: normal normal normal 14px/1 FontAwesome;
  	font-size: inherit;
	text-rendering: auto;
 	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
  	transform: translate(0, 0);
  	font-family: 'FontAwesome';
  	font-weight: normal;
	font-style: normal;
}

.fotorama__fullscreen-icon {
	line-height:60px;
	width:40px;
	height:40px;
  	top: 0px;
  	right: 0px;
  	background:none;
	color:#ffffff;
	text-shadow:0px 0px 2px rgba(0,0,0, 0.5);
	font-size:18px;
}

.fotorama__fullscreen-icon:before { 
	content: "\f065 ";
}

.fotorama--fullscreen .fotorama__fullscreen-icon:before { 
	content: "\f066"; 
}


/* Dot Navigation */
.boosted-elements-dot-navigation .fotorama__nav-wrap {
	position:relative;
	height:0px;
	bottom:52px;
}

.boosted-elements-dot-navigation .fotorama__nav__shaft {
	margin-bottom:-36px;
}

.boosted-elements-dot-navigation .fotorama__nav--dots {
	overflow:visible;
}

.boosted-elements-dot-navigation .fotorama__dot {
    width: 6px;
    height: 6px;
    position: relative;
    top: 12px;
    left: 6px;
    -webkit-border-radius: 6px;	-moz-border-radius: 6px;	border-radius: 6px;
    border: 1px solid #ffffff; 
  
}
.boosted-elements-dot-navigation .fotorama__nav--dots .fotorama__nav__frame--dot  {
	opacity:1; margin-right:0px;
}

.boosted-elements-dot-navigation .fotorama__nav__frame--dot.fotorama__active .fotorama__dot {
	border-color:#ffffff;
	width: 6px;
	height: 6px;
	border-width:1px;
	background:#ffffff;
}


.fotorama--fullscreen .fotorama__nav--dots  {
	position:relative;
	height:0px;
	bottom:60px;
}

.fotorama--fullscreen .fotorama__nav--dots .fotorama__nav__shaft {
	margin-bottom:-36px;
}


.fotorama--fullscreen .fotorama__nav--dots {
	overflow:visible;
}

.fotorama--fullscreen .fotorama__dot {
  width: 6px;
  height: 6px;
  position: relative;
  top: 12px;
  left: 6px;
  -webkit-border-radius: 8px;	-moz-border-radius: 8px;	border-radius: 8px;
  border: 1px solid #ffffff; 
}

.fotorama--fullscreen .fotorama__nav--dots .fotorama__nav__frame--dot  {
	opacity:1; 
	margin-right:0px;
}

.fotorama--fullscreen .fotorama__nav__frame--dot.fotorama__active .fotorama__dot {
	border-color:#ffffff;
	width: 6px;
	height:6px;
	border-width:1px;
	background:#ffffff;
}


/*
=============================================== 15. PRICE/MENU STYLES ===============================================
*/
ul.boosted-elements-progression-price-menu-list-container {
	list-style:none;
	margin:0px;
	padding:0px;
}

ul.boosted-elements-progression-price-menu-list-container li:after, ul.boosted-elements-progression-price-menu-list-container li:before {
	display:none;
}

ul.boosted-elements-progression-price-menu-list-container li {
	margin:0px;
	padding:0px;
}

h3.boosted-elements-pricing-title {
	color:#000000;
	font-size:20px;
	overflow:hidden;
}

.boosted-elements-price-list-price {
	float:right;
	position:relative;
	font-weight:700;
	color:#000000;
	font-size:16px;
	padding-left:15px;
}

.boosted-elements-pricing-image {
	float:left;
}

.boosted-elements-price-underline {
	background:red;
	height:5px;
}
.boosted-elements-price-bottom-divider {
	border-top:1px solid rgba(0,0,0,0);
}


/*
=============================================== 16. ADVANCED BUTTON STYLES ===============================================
*/

.boosted-elements-advanced-button {
	position:relative;
	z-index:1;
	cursor:pointer;
	display:inline-block;
	color:#ffffff;
	line-height:1;
	padding:16px 25px;
	overflow:hidden;
	-webkit-font-smoothing:antialiased;
}

.boosted-elements-advanced-button:hover {
	color:#ffffff;
}

.boosted-elements-advanced-btn-background-hover,
.boosted-elements-advanced-btn-background {
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:4;
	background:#077bbe;
}

.boosted-elements-advanced-btn-background-hover {
	z-index:3;
}

.boosted-elements-advanced-btn-text {
	position:relative;
	z-index:10;
	display:inline;
}

/* Button Background Animations */
.boosted-elements-btn-animate-transparent .boosted-elements-advanced-btn-background-hover {
	opacity:0;
}

.boosted-elements-btn-animate-transparent:hover .boosted-elements-advanced-btn-background-hover {
	opacity:1;
}

.boosted-elements-btn-animate-opacity:hover .boosted-elements-advanced-btn-background {
	opacity:0;
}

.boosted-elements-btn-animate-slide-down .boosted-elements-advanced-btn-background-hover {
	top:-100%;
	z-index:5;
}
.boosted-elements-btn-animate-slide-down:hover .boosted-elements-advanced-btn-background-hover {
	top:0;
}


.boosted-elements-btn-animate-slide-up .boosted-elements-advanced-btn-background-hover {
	top:100%;
	z-index:5;
}
.boosted-elements-btn-animate-slide-up:hover .boosted-elements-advanced-btn-background-hover {
	top:0;
}

.boosted-elements-btn-animate-slide-left .boosted-elements-advanced-btn-background-hover {
	left:100%;
	z-index:5;
}
.boosted-elements-btn-animate-slide-left:hover .boosted-elements-advanced-btn-background-hover {
	left:0;
}

.boosted-elements-btn-animate-slide-right .boosted-elements-advanced-btn-background-hover {
	left:-100%;
	z-index:5;
}
.boosted-elements-btn-animate-slide-right:hover .boosted-elements-advanced-btn-background-hover {
	left:0;
}


.boosted-elements-btn-animate-center-horizontal .boosted-elements-advanced-btn-background-hover {
	width:0;
	left:50%;
	z-index:5;
}
.boosted-elements-btn-animate-center-horizontal:hover .boosted-elements-advanced-btn-background-hover {
	width:100%;
	left:0;
}

.boosted-elements-btn-animate-center-vertical .boosted-elements-advanced-btn-background-hover {
	height:0;
	top:50%;
	z-index:5;
}
.boosted-elements-btn-animate-center-vertical:hover .boosted-elements-advanced-btn-background-hover {
	height:100%;
	top:0;
}


/* Button Icon Animation */
.advanced-btn-icon-spacing-icon-left {
	text-align:left;
}

.advanced-btn-icon-spacing-icon-right {
	text-align:right;
}

.boosted-elements-icon-animate-on-hover i {
	opacity:0;
	width:0px;
}

.boosted-elements-icon-animate-on-hover:hover i {
	opacity:1;
}

.boosted-elements-advanced-btn-text-inline div {
	display:inline-block;
}
.boosted-elements-advanced-btn-text-inline {
	position:relative;
	z-index:1;
	left:0;
}

.boosted-elements-icon-animate-replace-from-right:hover .boosted-elements-advanced-btn-text-inline {
	left:200%;
}
.boosted-elements-icon-animate-replace-from-left:hover i {
	opacity:1;
	left:0;
}
.boosted-elements-icon-animate-replace-from-left i {
	position:absolute;
	width:100%;
	left:100%;
	text-align:center;
	opacity:0;
}

.boosted-elements-icon-animate-replace-from-left:hover .boosted-elements-advanced-btn-text-inline {
	left:-200%;
}
.boosted-elements-icon-animate-replace-from-right:hover i {
	opacity:1;
	left:0;
}
.boosted-elements-icon-animate-replace-from-right i {
	position:absolute;
	width:100%;
	left:-100%;
	text-align:center;
	opacity:0;
}


.boosted-elements-icon-animate-replace-from-top:hover .boosted-elements-advanced-btn-text-inline {
	opacity:0;
}

.boosted-elements-icon-animate-replace-from-top:hover i {
	opacity:1;
}
.boosted-elements-icon-animate-replace-from-top i {
	position:absolute;
	left:0;
	width:100%;
	text-align:center;
	opacity:0;
}

/*
=============================================== 17. IMAGE COMPARISON STYLES ===============================================
*/
.images-compare-container{display:inline-block;position:relative;overflow:hidden}.images-compare-before{will-change:clip;position:absolute;top:0;left:0;z-index:2;pointer-events:none;overflow:hidden}.images-compare-after{pointer-events:none}.images-compare-after img,.images-compare-before img{max-width:100%;height:auto;display:block}.images-compare-separator{position:absolute;background:#fff;height:100%;width:1px;z-index:4;left:0;top:0}.images-compare-handle{height:38px;width:38px;position:absolute;left:50%;top:50%;margin-left:-22px;margin-top:-22px;border:3px solid #fff;-webkit-border-radius:1000px;-moz-border-radius:1000px;border-radius:1000px;-webkit-box-shadow:0 0 12px rgba(51,51,51,.5);-moz-box-shadow:0 0 12px rgba(51,51,51,.5);box-shadow:0 0 12px rgba(51,51,51,.5);z-index:3;background:#000;background:rgba(0,0,0,.7);cursor:pointer}.images-compare-left-arrow,.images-compare-right-arrow{width:0;height:0;border:6px inset transparent;position:absolute;top:50%;margin-top:-6px}.images-compare-left-arrow{border-right:6px solid #fff;left:50%;margin-left:-17px}.images-compare-right-arrow{border-left:6px solid #fff;right:50%;margin-right:-17px}.images-compare-label{font-family:sans-serif;text-transform:uppercase;font-weight:700;position:absolute;top:10px;left:10px;z-index:1;color:#000;color:rgba(0,0,0,.4);background:#fff;background:rgba(255,255,255,.7);padding:10px;border-radius:5px;pointer-events:none;display:none}.images-compare-container .images-compare-label{display:inherit}.images-compare-before .images-compare-label{left:10px}.images-compare-after .images-compare-label{left:auto;right:10px}

.images-compare-handle {
    margin-left: -19px;
}

.boosted-img-compare-position-top .images-compare-label {
	top:10px;
}

.boosted-img-compare-position-middle .images-compare-label {
	top:50%;
}

.boosted-img-compare-position-bottom .images-compare-label {
	top:auto;
	bottom:10px;
}

.BoostedImageCompareBeforeHidden {
	display:none;
}

/*
=============================================== 18. PRETTYPHOTO CSS STYLES ===============================================
*/
.pp_gallery div,.pp_gallery ul a,.pp_social .facebook{overflow:hidden;float:left}div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right,div.pp_default .pp_top,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_right{height:13px}div.pp_default .pp_top .pp_left{background:url(../images/prettyPhoto/default/sprite.png) -78px -93px no-repeat}div.pp_default .pp_top .pp_middle{background:url(../images/prettyPhoto/default/sprite_x.png) top left repeat-x}div.pp_default .pp_top .pp_right{background:url(../images/prettyPhoto/default/sprite.png) -112px -93px no-repeat}div.pp_default .pp_content .ppt{color:#f8f8f8}div.pp_default .pp_content_container .pp_left{background:url(../images/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;padding-left:13px}div.pp_default .pp_content_container .pp_right{background:url(../images/prettyPhoto/default/sprite_y.png) top right repeat-y;padding-right:13px}div.pp_default .pp_next:hover{background:url(../images/prettyPhoto/default/sprite_next.png) center right no-repeat;cursor:pointer}div.pp_default .pp_previous:hover{background:url(../images/prettyPhoto/default/sprite_prev.png) center left no-repeat;cursor:pointer}div.pp_default .pp_expand{background:url(../images/prettyPhoto/default/sprite.png) 0 -29px no-repeat;cursor:pointer;width:28px;height:28px}div.pp_default .pp_expand:hover{background:url(../images/prettyPhoto/default/sprite.png) 0 -56px no-repeat;cursor:pointer}div.pp_default .pp_contract{background:url(../images/prettyPhoto/default/sprite.png) 0 -84px no-repeat;cursor:pointer;width:28px;height:28px}div.pp_default .pp_contract:hover{background:url(../images/prettyPhoto/default/sprite.png) 0 -113px no-repeat;cursor:pointer}div.pp_default .pp_close{width:30px;height:30px;background:url(../images/prettyPhoto/default/sprite.png) 2px 1px no-repeat;cursor:pointer}div.pp_default .pp_gallery ul li a{background:url(../images/prettyPhoto/default/default_thumb.png) center center #f8f8f8;border:1px solid #aaa}div.pp_default .pp_social{margin-top:7px}div.pp_default .pp_gallery a.pp_arrow_next,div.pp_default .pp_gallery a.pp_arrow_previous{position:static;left:auto}div.pp_default .pp_nav .pp_pause,div.pp_default .pp_nav .pp_play{background:url(../images/prettyPhoto/default/sprite.png) -51px 1px no-repeat;height:30px;width:30px}div.pp_default .pp_nav .pp_pause{background-position:-51px -29px}div.pp_default a.pp_arrow_next,div.pp_default a.pp_arrow_previous{background:url(../images/prettyPhoto/default/sprite.png) -31px -3px no-repeat;height:20px;width:20px;margin:4px 0 0}div.pp_default a.pp_arrow_next{left:52px;background-position:-82px -3px}div.pp_default .pp_content_container .pp_details{margin-top:5px}div.pp_default .pp_nav{clear:none;height:30px;width:110px;position:relative}div.pp_default .pp_nav .currentTextHolder{font-family:Georgia;font-style:italic;color:#999;font-size:11px;left:75px;line-height:25px;position:absolute;top:2px;margin:0;padding:0 0 0 10px}div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover,div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_nav .pp_play:hover{opacity:.7}div.pp_default .pp_description{font-size:11px;font-weight:700;line-height:14px;margin:5px 50px 5px 0}div.pp_default .pp_bottom .pp_left{background:url(../images/prettyPhoto/default/sprite.png) -78px -127px no-repeat}div.pp_default .pp_bottom .pp_middle{background:url(../images/prettyPhoto/default/sprite_x.png) bottom left repeat-x}div.pp_default .pp_bottom .pp_right{background:url(../images/prettyPhoto/default/sprite.png) -112px -127px no-repeat}div.pp_default .pp_loaderIcon{background:url(../images/prettyPhoto/default/loader.gif) center center no-repeat}div.light_rounded .pp_top .pp_left{background:url(../images/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat}div.light_rounded .pp_top .pp_right{background:url(../images/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat}div.light_rounded .pp_next:hover{background:url(../images/prettyPhoto/light_rounded/btnNext.png) center right no-repeat;cursor:pointer}div.light_rounded .pp_previous:hover{background:url(../images/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}div.light_rounded .pp_expand{background:url(../images/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}div.light_rounded .pp_expand:hover{background:url(../images/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}div.light_rounded .pp_contract{background:url(../images/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}div.light_rounded .pp_contract:hover{background:url(../images/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}div.light_rounded .pp_close{width:75px;height:22px;background:url(../images/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer}div.light_rounded .pp_nav .pp_play{background:url(../images/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}div.light_rounded .pp_nav .pp_pause{background:url(../images/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}div.light_rounded .pp_arrow_previous{background:url(../images/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat}div.light_rounded .pp_arrow_next{background:url(../images/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat}div.light_rounded .pp_bottom .pp_left{background:url(../images/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat}div.light_rounded .pp_bottom .pp_right{background:url(../images/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat}div.dark_rounded .pp_top .pp_left{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat}div.dark_rounded .pp_top .pp_right{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat}div.dark_rounded .pp_content_container .pp_left{background:url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y}div.dark_rounded .pp_content_container .pp_right{background:url(../images/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y}div.dark_rounded .pp_next:hover{background:url(../images/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat;cursor:pointer}div.dark_rounded .pp_previous:hover{background:url(../images/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}div.dark_rounded .pp_expand{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}div.dark_rounded .pp_expand:hover{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}div.dark_rounded .pp_contract{background:url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}div.dark_rounded .pp_contract:hover{background:url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}div.dark_rounded .pp_close{width:75px;height:22px;background:url(../images/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer}div.dark_rounded .pp_description{margin-right:85px;color:#fff}div.dark_rounded .pp_nav .pp_play{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}div.dark_rounded .pp_nav .pp_pause{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}div.dark_rounded .pp_arrow_previous{background:url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat}div.dark_rounded .pp_arrow_next{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat}div.dark_rounded .pp_bottom .pp_left{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat}div.dark_rounded .pp_bottom .pp_right{background:url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat}div.dark_rounded .pp_loaderIcon{background:url(../images/prettyPhoto/dark_rounded/loader.gif) center center no-repeat}div.dark_square .pp_content,div.dark_square .pp_left,div.dark_square .pp_middle,div.dark_square .pp_right{background:#000}div.dark_square .pp_description{color:#fff;margin:0 85px 0 0}div.dark_square .pp_loaderIcon{background:url(../images/prettyPhoto/dark_square/loader.gif) center center no-repeat}div.dark_square .pp_expand{background:url(../images/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat;cursor:pointer}div.dark_square .pp_expand:hover{background:url(../images/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat;cursor:pointer}div.dark_square .pp_contract{background:url(../images/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;cursor:pointer}div.dark_square .pp_contract:hover{background:url(../images/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;cursor:pointer}div.dark_square .pp_close{width:75px;height:22px;background:url(../images/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat;cursor:pointer}div.dark_square .pp_nav{clear:none}div.dark_square .pp_nav .pp_play{background:url(../images/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}div.dark_square .pp_nav .pp_pause{background:url(../images/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}div.dark_square .pp_arrow_previous{background:url(../images/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat}div.dark_square .pp_arrow_next{background:url(../images/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat}div.dark_square .pp_next:hover{background:url(../images/prettyPhoto/dark_square/btnNext.png) center right no-repeat;cursor:pointer}div.dark_square .pp_previous:hover{background:url(../images/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat;cursor:pointer}div.light_square .pp_expand{background:url(../images/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat;cursor:pointer}div.light_square .pp_expand:hover{background:url(../images/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat;cursor:pointer}div.light_square .pp_contract{background:url(../images/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;cursor:pointer}div.light_square .pp_contract:hover{background:url(../images/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;cursor:pointer}div.light_square .pp_close{width:75px;height:22px;background:url(../images/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat;cursor:pointer}div.light_square .pp_nav .pp_play{background:url(../images/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}div.light_square .pp_nav .pp_pause{background:url(../images/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}div.light_square .pp_arrow_previous{background:url(../images/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat}div.light_square .pp_arrow_next{background:url(../images/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat}div.light_square .pp_next:hover{background:url(../images/prettyPhoto/light_square/btnNext.png) center right no-repeat;cursor:pointer}div.light_square .pp_previous:hover{background:url(../images/prettyPhoto/light_square/btnPrevious.png) center left no-repeat;cursor:pointer}div.facebook .pp_top .pp_left{background:url(../images/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat}div.facebook .pp_top .pp_middle{background:url(../images/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x}div.facebook .pp_top .pp_right{background:url(../images/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat}div.facebook .pp_content_container .pp_left{background:url(../images/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y}div.facebook .pp_content_container .pp_right{background:url(../images/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y}div.facebook .pp_expand{background:url(../images/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat;cursor:pointer}div.facebook .pp_expand:hover{background:url(../images/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat;cursor:pointer}div.facebook .pp_contract{background:url(../images/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;cursor:pointer}div.facebook .pp_contract:hover{background:url(../images/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;cursor:pointer}div.facebook .pp_close{width:22px;height:22px;background:url(../images/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;cursor:pointer}div.facebook .pp_description{margin:0 37px 0 0}div.facebook .pp_loaderIcon{background:url(../images/prettyPhoto/facebook/loader.gif) center center no-repeat}div.facebook .pp_arrow_previous{background:url(../images/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;height:22px;margin-top:0;width:22px}div.facebook .pp_arrow_previous.disabled{background-position:0 -96px;cursor:default}div.facebook .pp_arrow_next{background:url(../images/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat;height:22px;margin-top:0;width:22px}div.facebook .pp_arrow_next.disabled{background-position:-32px -96px;cursor:default}div.facebook .pp_nav{margin-top:0}div.facebook .pp_nav p{font-size:15px;padding:0 3px 0 4px}div.facebook .pp_nav .pp_play{background:url(../images/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat;height:22px;width:22px}div.facebook .pp_nav .pp_pause{background:url(../images/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat;height:22px;width:22px}div.facebook .pp_next:hover{background:url(../images/prettyPhoto/facebook/btnNext.png) center right no-repeat;cursor:pointer}div.facebook .pp_previous:hover{background:url(../images/prettyPhoto/facebook/btnPrevious.png) center left no-repeat;cursor:pointer}div.facebook .pp_bottom .pp_left{background:url(../images/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat}div.facebook .pp_bottom .pp_middle{background:url(../images/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x}div.facebook .pp_bottom .pp_right{background:url(../images/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat}div.pp_pic_holder a:focus{outline:0}div.pp_overlay{background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}.pp_content{height:40px;min-width:40px}* html .pp_content{width:40px}.pp_content_container{position:relative;text-align:left;width:100%}.pp_content_container .pp_left{padding-left:20px}.pp_content_container .pp_right{padding-right:20px}.pp_content_container .pp_details{float:left;margin:10px 0 2px}.pp_description{display:none;margin:0}.pp_social{float:left;margin:0}.pp_social .facebook{margin-left:5px;width:55px}.pp_social .twitter{float:left}.pp_nav{clear:right;float:left;margin:3px 10px 0 0}.pp_nav p{float:left;white-space:nowrap;margin:2px 4px}.pp_nav .pp_pause,.pp_nav .pp_play{float:left;margin-right:4px;text-indent:-10000px}a.pp_arrow_next,a.pp_arrow_previous{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}.pp_gallery div{position:relative}.pp_gallery ul{float:left;height:35px;position:relative;white-space:nowrap;margin:0 0 0 5px;padding:0}.pp_gallery ul a{border:1px solid rgba(0,0,0,.5);display:block;height:33px}.pp_gallery ul a img{border:0}.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}.pp_gallery li.default a{background:url(../images/prettyPhoto/facebook/default_thumbnail.gif) no-repeat;display:block;height:33px;width:50px}a.pp_next,a.pp_previous{background:url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;height:100%;width:49%;text-indent:-10000px}.pp_gallery .pp_arrow_next,.pp_gallery .pp_arrow_previous{margin-top:7px!important}a.pp_next{float:right}a.pp_previous{float:left}a.pp_contract,a.pp_expand{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}.pp_loaderIcon,a.pp_close{display:block;position:absolute}a.pp_close{right:0;top:0;line-height:22px;text-indent:-10000px}.pp_loaderIcon{height:24px;left:50%;top:50%;width:24px;margin:-12px 0 0 -12px}.pp_fade,.pp_gallery li.default a img,div.ppt{display:none}#pp_full_res{line-height:1!important}#pp_full_res .pp_inline{text-align:left}#pp_full_res .pp_inline p{margin:0 0 15px}div.ppt{color:#fff;font-size:17px;z-index:9999;margin:0 0 5px 15px}div.light_rounded .pp_content,div.pp_default .pp_content{background-color:#fff}div.facebook #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.pp_default #pp_full_res .pp_inline{color:#000}.pp_gallery li.selected a,.pp_gallery ul a:hover,div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a{border-color:#fff}div.dark_rounded .pp_details,div.dark_square .pp_details,div.facebook .pp_details,div.light_rounded .pp_details,div.light_square .pp_details,div.pp_default .pp_details{position:relative}div.facebook .pp_content,div.light_rounded .pp_bottom .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_top .pp_middle,div.light_square .pp_content,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right{background:#fff}div.light_rounded .pp_description,div.light_square .pp_description{margin-right:85px}div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous{margin-top:12px!important}div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_rounded .pp_arrow_previous.disabled,div.light_square .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default}div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_rounded .pp_arrow_next.disabled,div.light_square .pp_arrow_next.disabled{background-position:-22px -87px;cursor:default}div.light_rounded .pp_loaderIcon,div.light_square .pp_loaderIcon{background:url(../images/prettyPhoto/light_rounded/loader.gif) center center no-repeat}div.dark_rounded .pp_bottom .pp_middle,div.dark_rounded .pp_content,div.dark_rounded .pp_top .pp_middle{background:url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left}div.dark_rounded .currentTextHolder,div.dark_square .currentTextHolder{color:#c4c4c4}div.dark_rounded #pp_full_res .pp_inline,div.dark_square #pp_full_res .pp_inline{color:#fff}.pp_bottom,.pp_top{height:20px;position:relative}* html .pp_bottom,* html .pp_top{padding:0 20px}.pp_bottom .pp_left,.pp_top .pp_left{height:20px;left:0;position:absolute;width:20px}.pp_bottom .pp_middle,.pp_top .pp_middle{height:20px;left:20px;position:absolute;right:20px}* html .pp_bottom .pp_middle,* html .pp_top .pp_middle{left:0;position:static}.pp_bottom .pp_right,.pp_top .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}

/* prettyPhoto styling for small screens  - below 767px width */
@media only screen and (max-width: 767px) {
	body .pp_pic_holder.pp_default { 
		width: 100%!important; 
		left: 0!important; 
		overflow: hidden; 
		min-height:60px;
	}
	body div.pp_default .pp_loaderIcon {
		margin-top:-15px;

	}
	body div.pp_default .pp_content .pp_fade {
		box-shadow: 0px 0px 60px rgba(0,0,0, 0);	
	}	
	
	body div.pp_default .pp_content_container .pp_left { 
		padding-left: 0!important; 
	}
	body div.pp_default .pp_content_container .pp_right { 
		padding-right: 0!important; 
	}
	
	body div.pp_default a.pp_close {
		right:-20px;
	}
	
	body .pp_content { 
		width: 100%!important; 
		height: auto!important; 
	}
	body .pp_hoverContainer,
	body .pp_fade { 
		width: 100%!important; 
		height: 100%!important; 
	}
	
	body a.pp_expand, body a.pp_contract, body .pp_gallery, body .pp_top, body .pp_bottom { 
		display: none!important; 
	}
	
	body #pp_full_res .wp-video,
	body #pp_full_res iframe {
		width:100% !important;
		min-height:250px !important;
	}
	body #pp_full_res img { 
		width: 100% !important; 
		height: auto !important; 
	}
	
	body .pp_details { 
		width: 94%!important; 
		padding-left: 3%; 
		padding-right: 4%; 
		padding-top: 20px; 
		padding-bottom: 20px; 
		margin-top: -10px !important; 
	}

}
