<style type="text/css">
	.ExternalClass {width:100%;}
	.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
		line-height: 100%;}

	body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
	body {margin:0; padding:0;}
	table td, table {border-collapse:collapse;}

	p {margin:0; padding:0; margin-bottom:0;}

	.ExternalClass h1, .ExternalClass h2, .ExternalClass h3, .ExternalClass h4, .ExternalClass h5, .ExternalClass h6 {padding:0.5em 0 0.5em 0 !important;}

	span.yshortcuts { color:#LINK_COLOR; background-color:none; border:none;}
	span.yshortcuts:hover,
	span.yshortcuts:active,
	span.yshortcuts:focus {color:#LINK_COLOR; background-color:none; border:none;}
</style>


/* 381945-1536242933-au */