
/*
 *	WAPO Admin
 */

.wapo-plugin .sortable, .sortable > li {
	margin: 0;
}

.wapo-plugin .select2-container {
	width: 350px !important;
}

/*
 *	Groups
 */

#wapo-groups.wapo-plugin .wp-list-table td {
	line-height: 30px;
}

#wapo-groups.wapo-plugin ul.products_list {
	margin: 0;
}

#wapo-groups.wapo-plugin ul.products_list li {
	margin: 1px;
	float: left;
}

#wapo-groups.wapo-plugin ul.products_list li a {
	background-color: rgba(0,0,0,0.05);
	border-radius: 3px;
	padding: 5px 10px;
	display: inline-block;
}

#wapo-groups.wapo-plugin ul.products_list li a:hover {
	background-color: rgba(0,0,0,0.1);
}

#wapo-groups.wapo-plugin ul.categories_list {
	margin: 0;
}

#wapo-groups.wapo-plugin ul.categories_list li {
	margin: 1px;
	float: left;
}

#wapo-groups.wapo-plugin ul.categories_list li .wapo-type-edit > span {
	color: #aaa;
	background-color: rgba(0,0,0,0.05);
	border-radius: 3px;
	padding: 5px 10px;
	display: inline-block;
}

/*
 *	Group
 */

.wapo-plugin #group-form > table > tbody > tr > th {
	width: 100px;
}

/*
 *	Add-ons list
 */

.wapo-plugin #wapo-types.wrap {
	margin: 30px 0px 10px 0px;
}

.wapo-plugin #new-addon {
	height: 30px;
	margin-bottom: 30px;
}

.wapo-plugin #new-addon form {
	display: none;
}

/*
 *	List
 */

.wapo-plugin ul#sortable-list {
	border-radius: 5px;
}

.wapo-plugin ul#sortable-list .group-row {
	height: 30px;
	line-height: 30px;
	padding: 10px;
	position: relative;
}

.wapo-plugin ul#sortable-list li.type-row {
	min-height: 50px;
	background-color: #fcfcfc;
	margin-bottom: 5px;
	position: relative;
	overflow: hidden;
}

.wapo-plugin ul#sortable-list li.type-row .wapo-type-edit {
	height: 30px;
	line-height: 30px;
	padding: 10px;
	font-weight: bold;
	text-decoration: none;
	display: block;
	white-space: nowrap;
}

.wapo-plugin ul#sortable-list li.type-row .wapo-type-edit:hover {
	background-color: #fafafa;
}

.wapo-plugin ul#sortable-list li.type-row .wapo-type-edit > span {
	color: #aaa;
	border-left: 1px solid #eee;
	padding-left: 10px;
	margin-left: 10px;
	font-weight: normal;
	display: inline-block;
}

.wapo-plugin ul#sortable-list li.type-row .wapo-type-edit > span strong {
	color: #222;
	text-transform: capitalize;
}

.wapo-plugin ul#sortable-list li.type-row .wapo-type-edit > span i {
	background-color: #eee;
	border-radius: 3px;
	padding: 0px 10px;
	margin-right: 5px;
	display: inline-block;
}

.wapo-plugin ul#sortable-list li.type-row .wapo-type-edit .actions {
	top: 10px;
	right: 10px;
	position: absolute;
}

/*
 *	Add-on form
 */

.wapo-plugin ul#sortable-list li.type-row form {
	border-top: 1px solid #eee;
	padding: 10px;
	display: none;
}

.wapo-plugin ul#sortable-list li.type-row form label {
	display: block;
}

.wapo-plugin ul#sortable-list li.type-row form .form-left {
	width: 15%;
	float: left;
}

.wapo-plugin ul#sortable-list li.type-row form .form-right {
	width: 85%;
	float: left;
}

.wapo-plugin ul#sortable-list li.type-row form .form-row {
	clear: both;
}

.wapo-plugin ul#sortable-list li.type-row form .form-row > div {
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wapo-plugin ul#sortable-list li.type-row form .form-row .type {
}

.wapo-plugin ul#sortable-list li.type-row form .form-row .image {
	position: relative;
}

.wapo-plugin ul#sortable-list li.type-row form .form-row .image img {
	width: 100% !important;
	height: auto;
	border: 1px solid #eee;
	border-radius: 3px;
	padding: 4px;
	margin-top: 1px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}

.wapo-plugin ul#sortable-list li.type-row form .form-row .image img:hover {
	border-color: #aaa;
}

.wapo-plugin ul#sortable-list li.type-row form .form-row .image .remove {
	width: 20px;
	height: 20px;
	line-height: 21px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #eee;
	font-size: 15px;
	text-align: center;
	position: absolute;
	top: 21px;
	right: 3px;
	cursor: pointer;
	display: none;
}

.wapo-plugin ul#sortable-list li.type-row form .form-row .image:hover .remove {
	display: block;
}

.wapo-plugin ul#sortable-list li.type-row form .form-row .image .remove:hover {
	border-color: #aaa;
}

.wapo-plugin ul#sortable-list li.type-row form .form-row .label {
	width: 30%;
	float: left;
}

.wapo-plugin ul#sortable-list li.type-row form .form-row .label input,
.wapo-plugin ul#sortable-list li.type-row form .form-row .operator select {
	width: 100%;
	height: 30px;
}

.wapo-plugin ul#sortable-list li.type-row form .form-row .step {
	width: 10%;
	float: left;
}

.wapo-plugin ul#sortable-list li.type-row form .form-row .required {
	padding: 5px 10px;
}

.wapo-plugin ul#sortable-list li.type-row form .form-row .sold_individually {
	padding: 5px 10px;
}

.wapo-plugin ul#sortable-list li.type-row form .form-row .max_item_selected {
	padding: 5px 10px;
}

.wapo-plugin ul#sortable-list li.type-row form .form-row .max_item_selected input[type="number"],
.wapo-plugin ul#sortable-list li.type-row form .form-row .max_input_values_amount input[type="number"],
.wapo-plugin ul#sortable-list li.type-row form .form-row .min_input_values_amount input[type="number"],
.wapo-plugin ul#sortable-list li.type-row form .form-row .first_options_free input[type="number"] {
	width: 50px;
}

.wapo-plugin ul#sortable-list li.type-row form.checkbox .form-row .max_item_selected {
	display: block;
}

.wapo-plugin ul#sortable-list li.type-row form .form-row .operator {
	width: 15%;
	float: left;
}

.wapo-plugin ul#sortable-list li.type-row form .form-row .depend {
	width: 85%;
	float: left;
}

.wapo-plugin ul#sortable-list li.type-row form .form-row .select2-container {
	width: 100% !important;
}

.wapo-plugin ul#sortable-list li.type-row form .form-row .select2-container input.select2-search__field {
	background: none !important;
}

.wapo-plugin ul#sortable-list li.type-row form .form-row .variations {
	width: 70%;
	float: left;
}

/*
 *	Group row ?
 */
 
.wapo-plugin ul#sortable-list .group-row .wapo-group-edit {
	color: #23282d;
	text-decoration: none;
}
.wapo-plugin ul#sortable-list .group-row .button.manage {
	float: right;
}

/*
 *	Options Table
 */

.wapo-plugin table.yith_wapo_option_table tr {
	background-color: #f7f7f7;
}

.wapo-plugin table.yith_wapo_option_table tr td input[type=text],
.wapo-plugin table.yith_wapo_option_table tr td select {
	width: 100%;
	height: 30px;
}

/* TH */
.wapo-plugin table.yith_wapo_option_table tr th.option-sort {
	width: 50px;
	text-align: center;
}
.wapo-plugin table.yith_wapo_option_table tr th.option-image {
	width: 70px;
}
.wapo-plugin table.yith_wapo_option_table tr th.option-label {
	width: 100%;
}
.wapo-plugin table.yith_wapo_option_table tr th.option-actions {
	width: 50px;
}

/* TD */
.wapo-plugin table.yith_wapo_option_table tr td {
	border-top: 1px solid #eee;
}
.wapo-plugin table.yith_wapo_option_table tr td small {
	color: #aaa;
	margin-left: 1px;
}
.wapo-plugin table.yith_wapo_option_table tr td.option-sort {
	text-align: center;
	cursor: pointer;
}
.wapo-plugin table.yith_wapo_option_table tr td.option-sort i {
	color: #aaaaaa;
	line-height: 30px;
	margin-right: 5px;
}
.wapo-plugin table.yith_wapo_option_table tr td .option-image .image .opt-remove {
	width: 20px;
	height: 20px;
	line-height: 21px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #eee;
	font-size: 15px;
	text-align: center;
	position: absolute;
	top: -7px;
	right: -10px;
	cursor: pointer;
	display: none;
}
.wapo-plugin table.yith_wapo_option_table tr td .option-image .image:hover .opt-remove {
	display: block;
}
.wapo-plugin table.yith_wapo_option_table tr td .option-image .image .opt-remove:hover {
	border-color: #aaa;
}

.wapo-plugin table.yith_wapo_option_table tr td .option-label {
	width: 39%;
	margin-right: 1%;
	margin-bottom: 5px;
	float: left;
}
.wapo-plugin table.yith_wapo_option_table tr td .option-description {
	width: 60%;
	margin-bottom: 5px;
	float: left;
}
.wapo-plugin table.yith_wapo_option_table tr td .option-placeholder {
	width: 39%;
	margin-right: 1%;
	margin-bottom: 5px;
	float: left;
	clear: both;
}
.wapo-plugin table.yith_wapo_option_table tr td .option-tooltip {
	width: 60%;
	margin-bottom: 5px;
	float: left;
}
.wapo-plugin table.yith_wapo_option_table tr td .option-price {
	width: 19%;
	margin-right: 1%;
	margin-bottom: 5px;
	float: left;
	clear: both;
}
.wapo-plugin table.yith_wapo_option_table tr td .option-type {
	width: 19%;
	margin-right: 1%;
	margin-bottom: 5px;
	float: left;
}
.wapo-plugin table.yith_wapo_option_table tr td .option-min {
	width: 14%;
	margin-right: 1%;
	margin-bottom: 5px;
	float: left;
}
.wapo-plugin table.yith_wapo_option_table tr td .option-max {
	width: 14%;
	margin-right: 2%;
	margin-bottom: 5px;
	float: left;
}
.wapo-plugin table.yith_wapo_option_table tr td .option-default,
.wapo-plugin table.yith_wapo_option_table tr td .option-required,
.wapo-plugin table.yith_wapo_option_table tr td .option-hidelabel {
	width: 9%;
	margin-right: 1%;
	margin-bottom: 5px;
	float: left;
}
.wapo-plugin table.yith_wapo_option_table tr td .option-hidelabel {
	margin-right: 0;
}
.wapo-plugin table.yith_wapo_option_table tr td .option-actions a {
	margin-bottom: 5px;
}

.wapo-plugin ul#sortable-list li.type-row form.color .form-row .options table tr td .option-default,
.wapo-plugin ul#sortable-list li.type-row form.date .form-row .options table tr td .option-default,
.wapo-plugin ul#sortable-list li.type-row form.number .form-row .options table tr td .option-default,
.wapo-plugin ul#sortable-list li.type-row form.range .form-row .options table tr td .option-default,
.wapo-plugin ul#sortable-list li.type-row form.text .form-row .options table tr td .option-default,
.wapo-plugin ul#sortable-list li.type-row form.textarea .form-row .options table tr td .option-default,
.wapo-plugin ul#sortable-list li.type-row form.upload .form-row .options table tr td .option-default {
	display: none;
}

.wapo-plugin table.yith_wapo_option_table tr td .save-first {
	background-color: #f1f1f1;
	line-height: 15px;
	color: #aaa;
	border-radius: 3px;
	padding: 5px;
	font-size: 12px;
	text-align: center;
}

.wapo-plugin form .option-required,
.wapo-plugin form .required_all_options {
	display: none;
}

.wapo-plugin form.checkbox .option-required,
.wapo-plugin form.text .option-required,
.wapo-plugin form.color .option-required,
.wapo-plugin form.date .option-required,
.wapo-plugin form.number .option-required,
.wapo-plugin form.textarea .option-required,
.wapo-plugin form.file .option-required {
	display: block;
}

.wapo-plugin ul#sortable-list li.type-row .wapo-type-edit > span .ywapo_no_options_advice {
	color: #a41103;
}

.wapo-plugin ul#sortable-list li.type-row .wapo-type-edit {
	height: auto !important;
}

.ywapo_admin_add_on_dependecies_container,
.ywapo_admin_add_on_dependecies_variation_container {
	width: 100%;
	display: block !important;
	margin-left: 0;
	padding-left: 0;
	margin-top: 20px;
}

/*
 *	Responsive
 */

@media (max-width: 900px) {

	.wapo-plugin ul#sortable-list li.type-row form .form-left, .wapo-plugin ul#sortable-list li.type-row form .form-right {
		width: 100%;
		float: none;
	}
	.wapo-plugin ul#sortable-list li.type-row form .form-row .type {
		width: 33%;
	}
	.wapo-plugin ul#sortable-list li.type-row form .form-row .image {
		width: 33%;
	}
	.wapo-plugin ul#sortable-list li.type-row form .form-row .label {
		width: 100%;
		float: none;
	}
	.wapo-plugin ul#sortable-list li.type-row form .form-row .operator {
		width: 100%;
		float: none;
	}
	.wapo-plugin ul#sortable-list li.type-row form .form-row .depend {
		width: 100%;
		float: none;
	}
	.wapo-plugin ul#sortable-list li.type-row form .form-row .variations {
		width: 100%;
		float: none;
	}
	.wapo-plugin ul#sortable-list li.type-row form .form-row .step {
		width: 15%;
	}

	.wapo-plugin ul#sortable-list li.type-row form .form-row .options .image {
		width: 100%;
	}

	.ywapo_admin_add_on_dependecies_container,
	.ywapo_admin_add_on_dependecies_variation_container {
		display: none !important;
	}

}

@media (max-width: 782px) {

	.wapo-plugin #wapo-types.wrap {
		margin: 0;
	}
	.wapo-plugin .options table tr td {
		display: table-cell !important;
	}

}

/*
 *	Popup
 */

@media (width: 783px) {

	html, #wpbody-content {
		padding: 0 !important;
	}
	#wpcontent {
		margin: 0 !important;
	}
	#adminmenumain, #wpadminbar, #wpfooter {
		display: none;
	}
	.wapo-plugin #wapo-types.wrap {
		margin: 0;
	}
	.ywapo-admin-actions {
		display: none;
	}

}

/*
 *	Fix WooCommerce 3.3.x
 */

.select2-dropdown {
    z-index: 10001;
}
