.ae_data{ margin:auto; width:100%; }

/**
AE Post Meta
**/

.ae-post-meta-list-wrapper{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.ae-post-meta-list-wrapper.ae-pm-layout-horizontal{
    flex-direction: row;
}
.ae-post-meta-list-wrapper.ae-pm-layout-vertical{
    flex-direction: column;
}
.ae-pm-layout-horizontal .ae-post-meta-item-wrapper{
    padding:0 7px;
}
.ae-post-meta-item-wrapper:first-child {
    padding-left: 0;
}
.ae-post-meta-item-wrapper:last-child {
    padding-right: 0;
}

.ae-post-meta-item-wrapper a{ display: inline-block; }

.ae-element-post-category.ae-cat-vertical a{  display: block; }
.ae-element-post-tags.ae-tag-vertical a{  display: block; }

.ae-element-post-category.ae-cat-vertical span{  display: block; }
.ae-element-post-tags.ae-tag-vertical span{  display: block; }

.ae-post-meta-item-wrapper span span{
    display: inline-block;
}

/**
AE Post Taxonomy
**/
.ae-custom-tax-wrapper{overflow:hidden;}
.ae-term-item{ display: inline-block; }
.ae-custom-tax-wrapper .ae-tax-vertical{ display: inline-block; }
.ae-custom-tax-wrapper .ae-tax-vertical .ae-term-item{ display: block; }

/**
AE Custom Field
**/
.ae-element-custom-field{ display: inline-block;}

/**
 AE Featured BG
**/
.ae-featured-bg-size-cover{ background-size:cover; }
.ae-featured-bg-size-contain{ background-size:contain; }

/**
 AE Post Thumbnail
**/
.ae-element-post-image a, .ae-element-post-image .ae_thumb_wrapper{
    display:inline-block;
    position:relative;
}
.ae-element-post-image img{ display: inline-block; }
.overlay-always .ae-post-overlay,
.overlay-always .ae-avatar-overlay,
.overlay-always .ae-grid-overlay,
.overlay-hide-on-hover .ae-grid-overlay
{
    display:block;
}

.overlay-hover .ae-element-post-image a:hover .ae-post-overlay,
.overlay-hover .ae-grid-item-inner:hover .ae-grid-overlay {
    display:block;
}
.overlay-hide-on-hover .ae-grid-item-inner:hover .ae-grid-overlay{
    display: none;
}


/**
 AE Post Title
**/
.ae-element-post-title{ margin-bottom:0; }


/**
AE Post List
**/

.ae-article-inner .elementor-editor-element-settings, .ae-acf-repeater-inner .elementor-editor-element-settings{ display:none !important; }
.ae-post-layout-grid .ae-post-list-wrapper, .ae-post-layout-grid .ae-post-list-wrapper{
    display:flex; flex-wrap: wrap; flex-direction: row;
}


/** .ae-article-inner{ height:100%; }**/


.ae-post-layout-list article.ae-post-list-item{ width:100%; }
.ae-post-layout-grid.ae-post-grid-2 article.ae-post-list-item{  width:50%;  }
.ae-post-layout-grid.ae-post-grid-3 article.ae-post-list-item{  width:33.3333%;  }
.ae-post-layout-grid.ae-post-grid-4 article.ae-post-list-item{  width:25%;  }
.ae-post-layout-grid.ae-post-grid-5 article.ae-post-list-item{  width:20%;  }
.ae-post-layout-grid.ae-post-grid-6 article.ae-post-list-item{  width:16.6666%;  }

.ae-post-overlay, .ae-avatar-overlay {
    display:none;
    background: #000 none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%; z-index:999;
}

.ae-post-layout-grid .ae-masonry- .ae-article-inner,
.ae-post-layout-grid .ae-masonry- .ae_data,
.ae-post-layout-grid .ae-masonry- .elementor,
.ae-post-layout-grid .ae-masonry- .elementor-inner,
.ae-post-layout-grid .ae-masonry- .elementor-section-wrap,
.ae-post-layout-grid .ae-masonry- .elementor-section-wrap > section { height:100%; }

.ae-post-layout-carousel .ae-carousel-yes .ae-article-inner,
.ae-post-layout-carousel .ae-carousel-yes .ae_data,
.ae-post-layout-carousel .ae-carousel-yes .elementor,
.ae-post-layout-carousel .ae-carousel-yes .elementor-inner,
.ae-post-layout-carousel .ae-carousel-yes .elementor-section-wrap,
.ae-post-layout-carousel .ae-carousel-yes .elementor-section-wrap > section { height:100%; }


.elementor-widget-ae-acf-gallery .ae-swiper-slide{
    height: auto;
}
.ae-post-layout-carousel .ae-carousel-yes .ae-swiper-slide{
    height: auto;
}

.elementor-editor-active .elementor.elementor-edit-mode .ae-post-widget-wrapper .elementor-top-column .elementor-widget-wrap .elementor-inner-section{
    margin-top:0;
}


/**
 AE Post Navigation
**/
.ae-element-wrapper{overflow: hidden}
.ae-element-wrapper .ae-element-prev-layout-2{float: left; width: 50%;}
.ae-element-wrapper .ae-element-next-layout-2{float: right; width: 50%;}
.ae-element-next-layout-2 .ae-element-anchorNextLink{float: right; margin-left:8px;}
.ae-element-next-layout-2 .ae-element-next-title{float: right; text-align: right;}

.ae-nav-prev-next .ae-element-prev-layout-2 .ae-element-anchorPrevLink{ display:block; }
.ae-nav-prev-next .ae-element-next-layout-2 .ae-element-next-title{ clear:both; }


/** AE Post Read more */
.ae-element-post-read-more a{ padding: 12px 20px; display: inline-block;}
.ae-element-post-read-more .icon-align-left{float: left; margin-right: 5px;}
.ae-element-post-read-more .icon-align-right{float: right; margin-left: 5px;}

/**
AE Review
**/
.ae-element-woo-rating.woocommerce-product-rating{ display:inline-block; }



/**
AE Woo Price
**/
/*.ae-element-woo-price .woocommerce-Price-amount{display: inline-block;}

/**
AE Woo Add to cart
**/
.ae-element-woo-layout-horizontal .quantity{float: left; margin-right: 7px !important;}
.ae-element-woo-layout-vertical .ae-element-woo-add-to-cart-btn{margin-top: 7px !important;}
form.ae-element-woo-add-to-cart{ display:inline-block; }
.ae-element-woo-add-to-cart .qty{ text-align: center; }
.ae-element-woo-simple-add-to-cart a.added_to_cart.wc-forward{ float:left; clear:both; }

/**
AE Woo Category
**/
.ae-element-woo-category a{ display: inline-block; }
.ae-element-woo-category.ae-cat-vertical a{  display: block; }


/**
AE Woo Gallery
**/
.elementor-widget-ae-woo-gallery .woocommerce-product-gallery{ width:100% !important; }

.elementor-widget-ae-woo-gallery .flex-control-thumbs li{ list-style: none; float:left; width:25%;  }
.elementor-widget-ae-woo-gallery ol.flex-control-thumbs{ margin:0;}
.elementor-widget-ae-woo-gallery ol.flex-control-thumbs img{ display:block;}

.woocommerce div.product .elementor-widget-ae-woo-gallery div.images .woocommerce-product-gallery__trigger {
    position: absolute;
    top: .5em;
    right: .5em;
    font-size: 2em;
    z-index: 9;
    width: 36px;
    height: 36px;
    background: #fff;
    text-indent: -9999px;
    border-radius: 100%;
    box-sizing: content-box;
}

.woocommerce div.product .elementor-widget-ae-woo-gallery div.images .woocommerce-product-gallery__trigger:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    border-radius: 100%;
    position: absolute;
    top: 9px;
    left: 9px;
    box-sizing: content-box;
}

.woocommerce div.product .elementor-widget-ae-woo-gallery div.images .woocommerce-product-gallery__trigger:after {
    content: "";
    display: block;
    width: 2px;
    height: 8px;
    background: #000;
    border-radius: 6px;
    position: absolute;
    top: 19px;
    left: 22px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: content-box;
}

/**
AE Woo Tabs
**/
.elementor-widget-ae-woo-tabs.ae-woo-tabs-view-vertical .ae-woo-tabs-wrapper {
    width: 25%;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0; }

.elementor-widget-ae-woo-tabs.ae-woo-tabs-view-vertical .ae-woo-tab-desktop-title.active {
    border-right-style: none; }
.elementor-widget-ae-woo-tabs.ae-woo-tabs-view-vertical .ae-woo-tab-desktop-title.active:before, .elementor-widget-ae-woo-tabs.ae-woo-tabs-view-vertical .ae-woo-tab-desktop-title.active:after {
    height: 999em;
    width: 0;
    right: 0;
    border-right-style: solid; }
.elementor-widget-ae-woo-tabs.ae-woo-tabs-view-vertical .ae-woo-tab-desktop-title.active:before {
    top: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
.elementor-widget-ae-woo-tabs.ae-woo-tabs-view-vertical .ae-woo-tab-desktop-title.active:after {
    top: 100%; }

.elementor-widget-ae-woo-tabs.ae-woo-tabs-view-horizontal .ae-woo-tab-desktop-title {
    display: table-cell; }
.elementor-widget-ae-woo-tabs.ae-woo-tabs-view-horizontal .ae-woo-tab-desktop-title.active {
    border-bottom-style: none; }
.elementor-widget-ae-woo-tabs.ae-woo-tabs-view-horizontal .ae-woo-tab-desktop-title.active:before, .elementor-widget-ae-woo-tabs.ae-woo-tabs-view-horizontal .ae-woo-tab-desktop-title.active:after {
    bottom: 0;
    height: 0;
    width: 999em;
    border-bottom-style: solid; }
.elementor-widget-ae-woo-tabs.ae-woo-tabs-view-horizontal .ae-woo-tab-desktop-title.active:before {
    right: 100%; }
.elementor-widget-ae-woo-tabs.ae-woo-tabs-view-horizontal .ae-woo-tab-desktop-title.active:after {
    left: 100%; }

.elementor-widget-ae-woo-tabs .ae-woo-tab-title,
.elementor-widget-ae-woo-tabs .ae-woo-tab-title:before,
.elementor-widget-ae-woo-tabs .ae-woo-tab-title:after,
.elementor-widget-ae-woo-tabs .ae-woo-tab-content,
.elementor-widget-ae-woo-tabs .ae-woo-tabs-content-wrapper {
    border-color:transparent; }

.elementor-widget-ae-woo-tabs .ae-woo-tabs {
    text-align: left; }

.elementor-widget-ae-woo-tabs .ae-woo-tabs-wrapper {
    overflow: hidden; }

.elementor-widget-ae-woo-tabs .ae-woo-tab-title {
    cursor: pointer; }

.elementor-widget-ae-woo-tabs .ae-woo-tab-desktop-title {
    position: relative;
    padding: 20px 25px;
    font-weight: bold;
    line-height: 1;
    border: solid transparent;
}

.elementor-widget-ae-woo-tabs .ae-woo-tab-desktop-title.active:before, .elementor-widget-ae-woo-tabs .ae-woo-tab-desktop-title.active:after {
    display: block;
    content: '';
    position: absolute; }

.elementor-widget-ae-woo-tabs .ae-woo-tab-mobile-title {
    padding: 10px 10px;
    cursor: pointer; }

.elementor-widget-ae-woo-tabs .ae-woo-tab-content {
    padding: 20px;
    display: none; }

@media (max-width: 767px) {
    .ae-woo-tabs .ae-woo-tab-title,
    .ae-woo-tabs .ae-woo-tab-content {
        border-style: solid;
        border-bottom-style: none; }
    .ae-woo-tabs .ae-woo-tabs-wrapper {
        display: none; }
    .ae-woo-tabs .ae-woo-tabs-content-wrapper {
        border-bottom-style: solid; }
    .ae-woo-tabs .ae-woo-tab-content {
        padding: 10px; } }

@media (min-width: 768px) {
    .ae-woo-tabs-view-horizontal .ae-woo-tab-title.ae-woo-tab-desktop-title{ display:inline-block; border-bottom:0; }
    .elementor-widget-ae-woo-tabs.ae-woo-tabs-view-vertical .ae-woo-tabs {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
    .elementor-widget-ae-woo-tabs.ae-woo-tabs-view-vertical .ae-woo-tabs-content-wrapper {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        border-style: solid;
        border-left-style: none; }
    .elementor-widget-ae-woo-tabs.ae-woo-tabs-view-horizontal .ae-woo-tab-content {
        border-style: solid;
        border-top-style: none; }
    .ae-woo-tabs .ae-woo-tab-mobile-title {
        display: none; }
}

/** WOO SKU **/
.ae-element-woo-sku { display: inline-block;}

/** WOO ReadMore **/
.ae-element-woo-read-more a{ padding: 12px 20px; display: inline-block;}
.ae-element-woo-read-more .icon-align-left{float: left; margin-right: 5px;}
.ae-element-woo-read-more .icon-align-right{float: right; margin-left: 5px;}


.ae-clr{ clear:both; }

.ae-element-woo-title{ margin:0; }
.ae-element-woo-content ul{
    list-style-position:inside; margin-left:5px; }

.ae-element-woo-add-to-cart-btn{ transition: 0.1s all ease; }

.ae_data .elementor-inner{ margin-top:0 !important; }

/** AE Post List **/
.ae-pagination-wrapper a, .ae-pagination-wrapper span{
    display:inline-block; margin:auto 0px; padding:5px 10px;
}

/*AE Avatar **/
.ae-element-avatar a, .ae-element-avatar{
    display:inline-block;
    position:relative;
}
.ae-element-avatar img{ display: block; }
.overlay-always.ae-avatar-overlay{ display:block; }
.ae-element-avatar.overlay-hover a:hover .ae-avatar-overlay{ display:block; }


/**
 BG Slider
**/
.aepro-section-bs{ position: absolute; width: 100%; height: 100%; top:0;}
.aepro-section-bs-inner{ width: 100%; height: 100%; }


/**
 Swiper CSS
**/
.ae-swiper-container{ visibility: hidden; }
.elementor-edit-mode .ae-swiper-container{ visibility: visible; }


/**
ACF - Gallery
**/
.ae-grid{ display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.ae-grid-item-inner > a {
    display: block;
}
.ae-grid-item-inner{
    position:relative;
    overflow: hidden;
}

.ae-grid-item *{
    transition: 0.1s all ease;

}

.ae-grid-overlay{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 99;
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
}
.elementor-widget-ae-acf-gallery .ae-grid-item,
.elementor-widget-ae-acf-gallery .ae-grid-item-inner,
.elementor-widget-ae-acf-gallery .ae-grid-item-inner a,
.elementor-widget-ae-acf-gallery .ae-grid-item-inner img{
    width :100%; display: inline-block; line-height: 0;
}

.ae-grid-overlay-inner {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.elementor-editor-active .elementor-widget-ae-woo-products .elementor-editor-element-settings{ display:none; }
.elementor-editor-active .ae-grid .elementor-inner{ margin-top:0; }


.elementor-widget-ae-acf-gallery .ae-swiper-slide-wrapper{ height:100%; text-align: center; }
.elementor-widget-ae-acf-gallery .ae-swiper-slide-wrapper img{
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

    position:relative;
    top:50%;

}

.ae-swiper-button-next.swiper-button-disabled, .ae-swiper-button-prev.swiper-button-disabled{
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}



/** gp fix **/
.ae-element-post-content:after, .ae-element-post-content:before,
.elementor-widget-ae-post-content:after, .elementor-widget-ae-post-content:before{
    display:none !important;
}
.ae-overlay-caption{
    display: block;
    line-height: 1em;
}
.ae-overlay-icon{
    line-height: 1em;
    padding:.5em;
    display: inline-block;
}

.ae-icon-view-framed .ae-overlay-icon{
    padding: .5em;
    color: #818a91;
    border: 3px solid #818a91;
    background-color: transparent; 
}

.ae-icon-view-stacked .ae-overlay-icon{
    padding: .5em;
    color: #FFF;
    background-color: #818a91;
}
.elementor-editor-active .ae-grid{ height:auto !important; }

/*
AE Search Form
 */
.elementor-widget-ae-searchform .search-form{
    display: inline;
}
.elementor-widget-ae-searchform input[type=search] {
    display: inline;
    background: #FAFAFA;
    color: #666;
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 10px 15px;
    max-width: 100%;
    width: auto;
    vertical-align: unset;
    margin: auto;
    line-height: normal;
    min-height: 40px;
    font-size: 15px;
}
.elementor-widget-ae-searchform input[type=search]:hover, .elementor-widget-ae-searchform .form-group.is-focused input[type=search]{
    background: #FAFAFA;
}
.elementor-widget-ae-searchform button{
    display: inline;
    border: 1px solid transparent;
    background: #666;
    cursor: pointer;
    -webkit-appearance: button;
    padding: 10px 20px;
    color: #FFF;
    font-size: 15px;
    color: #ffffff;
    line-height: normal;
    border-radius: 0px;
    box-shadow: none;
}
.elementor-widget-ae-searchform .search-form::after {
    content: "";
}

.elementor-widget-ae-searchform button:active, .elementor-widget-ae-searchform button:focus, .elementor-widget-ae-searchform button:hover, html .elementor-widget-ae-searchform input[type=button]:active, html .elementor-widget-ae-searchform input[type=button]:focus, html .elementor-widget-ae-searchform input[type=button]:hover, .elementor-widget-ae-searchform input[type=reset]:active, .elementor-widget-ae-searchform input[type=reset]:focus, .elementor-widget-ae-searchform input[type=reset]:hover, .elementor-widget-ae-searchform input[type=submit]:active, .elementor-widget-ae-searchform input[type=submit]:focus, .elementor-widget-ae-searchform input[type=submit]:hover{
    background: #606060;
}

/*
AE Post Block Masonry
 */
.ae-masonry-yes .ae-post-layout-grid .ae-article-inner, .ae-masonry-yes .ae-post-layout-grid .ae_data, .ae-masonry-yes .ae-post-layout-grid .elementor, .ae-masonry-yes .ae-post-layout-grid .elementor-inner, .ae-masonry-yes .ae-post-layout-grid .elementor-section-wrap, .ae-post-layout-grid .elementor-section-wrap > section{
    height: auto;
}

.ae-masonry-yes .ae-post-list-item {
    margin-bottom: 10px;
}


/* clear fix */
.ae-masonry-yes .ae-post-list-wrapper:after {
    content: '';
    clear: both;
}

.ae-masonry-yes .ae-post-list-item {
    float: left;
}

.aep-product #container { margin: 80px 0 0 0 !important; }

.aep-product #container.wpbf-page {
    margin: 0 0 0 0 !important;
}
.elementor-editor-active .ae-post-list-wrapper {
    height: auto !important;
}

.elementor-editor-active .ae-acf-repeater-wrapper {
    height: auto !important;
}

.ae-swiper-outer-wrapper .ae-swiper-button-prev{
    -webkit-mask: url(arrow-left.svg) no-repeat 100% 100%;
    mask: url(arrow-left.svg) no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-image: none;
    background-color: #007aff;
    transform: translateY(-50%);
    margin-top:0px;

}
.ae-swiper-outer-wrapper .swiper-container-rtl .ae-swiper-button-prev{
    -webkit-mask: url(arrow-right.svg) no-repeat 100% 100%;
    mask: url(arrow-right.svg) no-repeat 100% 100%;
}
.ae-swiper-outer-wrapper .ae-swiper-button-next{
    -webkit-mask: url(arrow-right.svg) no-repeat 100% 100%;
    mask: url(arrow-right.svg) no-repeat 100% 100%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-image: none;
    background-color: #007aff;
    transform: translateY(-50%);
    margin-top:0px;
}

.elementor-widget-ae-post-blocks .ae-swiper-outer-wrapper .ae-swiper-button-prev, .elementor-widget-ae-post-blocks .ae-swiper-outer-wrapper .ae-swiper-button-next,
.elementor-widget-ae-woo-gallery .ae-swiper-outer-wrapper .ae-swiper-button-prev, .elementor-widget-ae-woo-gallery .ae-swiper-outer-wrapper .ae-swiper-button-next,
.elementor-widget-ae-acf-repeater .ae-swiper-outer-wrapper .ae-swiper-button-prev, .elementor-widget-ae-acf-repeater .ae-swiper-outer-wrapper .ae-swiper-button-next {
    -webkit-mask: none;
    mask: none;
    -webkit-mask-size: unset;
    mask-size: unset;
    background-image: none;
    background-color: unset;
    width: auto;
    height: auto;
    transform: translateY(-50%);
    margin-top: 0px;
}
.ae-swiper-outer-wrapper .swiper-container-rtl .ae-swiper-button-next{
    -webkit-mask: url(arrow-left.svg) no-repeat 100% 100%;
    mask: url(arrow-left.svg) no-repeat 100% 100%;
}
.elementor-widget-ae-post-blocks .ae-swiper-outer-wrapper .ae-swiper-button-prev, .elementor-widget-ae-post-blocks .ae-swiper-outer-wrapper .ae-swiper-button-next{
    -webkit-mask: none;
    mask: none;
    -webkit-mask-size: unset;
    mask-size: unset;
    background-image: none;
    background-color: unset;
    width: auto;
    height: auto;
    transform: translateY(-50%);
    margin-top:0px;
}

body[data-elementor-device-mode="mobile"] .ae-post-meta-list-wrapper.ae-pm-layout-mobile-vertical, body[data-elementor-device-mode="tablet"] .ae-post-meta-list-wrapper.ae-pm-layout-tablet-vertical {
    flex-direction: column;
}
body[data-elementor-device-mode="mobile"] .ae-post-meta-list-wrapper.ae-pm-layout-mobile-vertical .item-separator, body[data-elementor-device-mode="tablet"] .ae-post-meta-list-wrapper.ae-pm-layout-tablet-vertical .item-separator{
    display: none;
}
body[data-elementor-device-mode="mobile"] .ae-post-meta-list-wrapper.ae-pm-layout-mobile-vertical .ae-post-meta-item-wrapper, body[data-elementor-device-mode="tablet"] .ae-post-meta-list-wrapper.ae-pm-layout-tablet-vertical .ae-post-meta-item-wrapper {
    padding-left: 0;
}

/**
 Portfolio Widget
 */

.elementor-widget-ae-portfolio .filter-items, .elementor-widget-ae-portfolio .filter-label {
    display:inline-block;
    transition: all 0.5s ease; overflow: hidden;
}
.elementor-widget-ae-portfolio .filter-items a{
    transition: all 0.5s ease;
}
.elementor-widget-ae-portfolio .ae-post-list-item{
    transition: all 1s ease;
}
.ae-post-content-unfold-link {
    transition: all .5s ease;
}
.elementor-widget-ae-portfolio article.ae-post-list-item{ opacity:0; }

.elementor-widget-ae-portfolio .filter-items{
    padding:5px 10px 5px 10px;
}
/*.show_on_section_hover{
    display: none;
}
.elementor-section > .show_on_section_hover{
    display: block;
}*/


/**
Infinite Scroll Animation
 */

.loader-ellips {
    font-size: 20px; /* change size here */
    position: relative;
    width: 4em;
    height: 1em;
    margin: 10px auto;
}

.loader-ellips__dot {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #555; /* change color here */
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
    left: 0;
}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }

@keyframes reveal {
    from { transform: scale(0.001); }
    to { transform: scale(1); }
}

@keyframes slide {
    to { transform: translateX(1.5em) }
}

.loader-ellips__dot:nth-child(1) {
    animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
    animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
    animation-name: reveal;
    animation-direction: reverse;
}

.elementor-editor-active .elementor-widget-ae-post-blocks .infinite-scroll-error {
    display: none !important;
}
.elementor-editor-active .elementor-widget-ae-post-blocks .infinite-scroll-last, .elementor-editor-active .elementor-widget-ae-post-blocks .infinite-scroll-request{
    display: block !important;
}
.elementor-editor-active .elementor-widget-ae-post-blocks .view-more-button{
    display: inline-block !important;
}
.elementor-widget-ae-post-blocks .view-more-button, .elementor-widget-ae-post-blocks .ae-swiper-button-prev, .elementor-widget-ae-post-blocks .ae-swiper-button-next,
.elementor-widget-ae-acf-repeater .ae-swiper-button-prev, .elementor-widget-ae-acf-repeater .ae-swiper-button-next{
    transition: all 0.5s
}


.elementor-widget-ae-post-blocks .ae-swiper-button-wrapper, .elementor-widget-ae-acf-repeater .ae-swiper-button-wrapper{ position: absolute; height: auto; line-height: 0;  }

.ae-hpos-right.ae-vpos-top .ae-swiper-button-wrapper{
    bottom: auto; top: 0; width: auto; right: 0;
}
.ae-vpos-top.ae-hpos-left .ae-swiper-button-wrapper{
    bottom: auto; top: 0; width: auto; left: 0;
}
.ae-hpos-right.ae-vpos-bottom .ae-swiper-button-wrapper{
    bottom: 0; top: auto; width: auto; right: 0;
}
.ae-vpos-bottom.ae-hpos-left .ae-swiper-button-wrapper{
    bottom: 0; top: auto; width: auto; left: 0;
}
.ae-hpos-right.ae-vpos-middle .ae-swiper-button-wrapper{
    bottom: auto; top: 50%; width: auto; right: 0;
}
.ae-hpos-left.ae-vpos-middle .ae-swiper-button-wrapper{
    bottom: auto; top: 50%; width: auto; left: 0;
}


.ae-post-widget-wrapper .ae-swiper-container.swiper-container-rtl .ae-swiper-button-prev {
    right: auto;
    left: 0;
}
.ae-post-widget-wrapper .ae-swiper-container.swiper-container-rtl .ae-swiper-button-next {
     right: 0;
     left: auto;
 }

.ae-post-widget-wrapper.ae-hpos-right.ae-vpos-top .ae-swiper-container.swiper-container-rtl .ae-swiper-button-wrapper .ae-swiper-button-prev i{
    transform: scale(-1);
}
.ae-post-widget-wrapper.ae-hpos-right.ae-vpos-top .ae-swiper-container.swiper-container-rtl .ae-swiper-button-wrapper .ae-swiper-button-next i{
     transform: scale(-1);
 }
.ae-post-widget-wrapper.ae-vpos-top.ae-hpos-left .ae-swiper-container.swiper-container-rtl .ae-swiper-button-wrapper .ae-swiper-button-next i{
    transform: scale(-1);
}
.ae-post-widget-wrapper.ae-vpos-top.ae-hpos-left .ae-swiper-container.swiper-container-rtl .ae-swiper-button-wrapper .ae-swiper-button-prev i{
    transform: scale(-1);
}
.ae-post-widget-wrapper.ae-hpos-right.ae-vpos-bottom .ae-swiper-container.swiper-container-rtl .ae-swiper-button-wrapper .ae-swiper-button-prev i{
    transform: scale(-1);
}
.ae-post-widget-wrapper.ae-hpos-right.ae-vpos-bottom .ae-swiper-container.swiper-container-rtl .ae-swiper-button-wrapper .ae-swiper-button-next i{
    transform: scale(-1);
}
.ae-post-widget-wrapper.ae-vpos-bottom.ae-hpos-left .ae-swiper-container.swiper-container-rtl .ae-swiper-button-wrapper .ae-swiper-button-next i{
    transform: scale(-1);
}
.ae-post-widget-wrapper.ae-vpos-bottom.ae-hpos-left .ae-swiper-container.swiper-container-rtl .ae-swiper-button-wrapper .ae-swiper-button-prev i{
    transform: scale(-1);
}
.ae-post-widget-wrapper.ae-hpos-right.ae-vpos-middle .ae-swiper-container.swiper-container-rtl .ae-swiper-button-wrapper .ae-swiper-button-prev i{
    transform: scale(-1);
}
.ae-post-widget-wrapper.ae-hpos-right.ae-vpos-middle .ae-swiper-container.swiper-container-rtl .ae-swiper-button-wrapper .ae-swiper-button-next i{
    transform: scale(-1);
}
.ae-post-widget-wrapper.ae-hpos-left.ae-vpos-middle .ae-swiper-container.swiper-container-rtl .ae-swiper-button-wrapper .ae-swiper-button-next i{
    transform: scale(-1);
}
.ae-post-widget-wrapper.ae-hpos-left.ae-vpos-middle .ae-swiper-container.swiper-container-rtl .ae-swiper-button-wrapper .ae-swiper-button-prev i{
    transform: scale(-1);
}


.ae-hpos-right .ae-swiper-button-prev, .ae-hpos-left .ae-swiper-button-prev, .ae-hpos-right .ae-swiper-button-next, .ae-hpos-left .ae-swiper-button-next  {
    position: relative;
    display: inline-block;
    right: auto;
    left: auto;
}


.ae-hpos-right.ae-vpos-bottom .ae-swiper-button-prev, .ae-hpos-right.ae-vpos-bottom .ae-swiper-button-next {
    top: auto;
    bottom: 0;
    transform: unset;
}
.ae-hpos-right.ae-vpos-top .ae-swiper-button-next, .ae-hpos-right.ae-vpos-top .ae-swiper-button-prev {
    top: 0;
    bottom: auto;
    transform: unset;
}
.ae-hpos-left.ae-vpos-top .ae-swiper-button-prev, .ae-hpos-left.ae-vpos-top .ae-swiper-button-next {
    top: 0;
    bottom: auto;
    transform: unset;
}
.ae-hpos-left.ae-vpos-bottom .ae-swiper-button-next, .ae-hpos-left.ae-vpos-bottom .ae-swiper-button-prev {
    top: auto;
    bottom: 0;
    transform: unset;
}
.ae-hpos-center.ae-vpos-bottom .ae-swiper-button-next, .ae-hpos-center.ae-vpos-bottom .ae-swiper-button-prev {
    top: auto;
    bottom: 0;
    transform: unset;
}
.ae-hpos-center.ae-vpos-top .ae-swiper-button-next, .ae-hpos-center.ae-vpos-top .ae-swiper-button-prev {
    top: 0;
    bottom: auto;
    transform: unset;
}

.ae-swiper-container .ae-swiper-button-prev i, .ae-swiper-container .ae-swiper-button-next i{
    width: 1em;
    height: 1em;
    text-align: center;
    position: relative;
}

.elementor-widget-ae-post-blocks .ae-swiper-container .ae-swiper-button-prev, .elementor-widget-ae-post-blocks  .ae-swiper-container .ae-swiper-button-next,
.elementor-widget-ae-acf-repeater .ae-swiper-container .ae-swiper-button-prev, .elementor-widget-ae-acf-repeater  .ae-swiper-container .ae-swiper-button-next{
    padding: 5px;
    overflow: auto !important;
}
.elementor-widget-ae-post-blocks .ae-swiper-container .swiper-pagination-bullet{
    opacity: 1;
    background-color: rgba(0,0,0,0.2);
}

.elementor-widget-ae-woo-gallery .ae-swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: #000;
}

.elementor-widget-ae-post-blocks .ae-swiper-container.swiper-container-vertical .ae-swiper-button-prev, .elementor-widget-ae-post-blocks .ae-swiper-container.swiper-container-vertical .ae-swiper-button-next{
    display: block;
}

.sale-badge-yes .ae_data {
    position: relative;
}
.ae-sale-badge-wrapper{
    display: none;
}
.sale-badge-yes .ae-sale-badge-wrapper{
    display: block;
}

/* Sale Badge Ribbon */
.sale-badge-yes .badge-type-ribbon .ae-sale-badge-wrapper {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    /* -webkit-transform: rotate(90deg); */
    -ms-transform: rotate(90deg);
    /* transform: rotate(90deg); */
    width: 150px;
    overflow: hidden;
    height: 150px;
    z-index: 999;
    padding: 8px 12px;
}
.badge-h-left .sale-badge-yes .badge-type-ribbon .ae-sale-badge-wrapper {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    left: 0;
    right: auto;
}
.badge-h-right .sale-badge-yes .badge-type-ribbon .ae-sale-badge-wrapper {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(90deg);
    left: auto;
    right: 0;
}
.sale-badge-yes .badge-type-ribbon .ae-sale-badge-wrapper span.onsale {
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
    width: 200%;
    -webkit-transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg);
    -ms-transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg);
    transform: translateY(-50%) translateX(-50%) translateX(35px) rotate(-45deg);
    margin-top: 35px;
    font-size: 13px;
    line-height: 2;
    font-weight: 800;
    text-transform: uppercase;
    background: rgba(63,195,135,0.8);
    padding: 8px 12px;
}
/* Sale Badge Ribbon */

/* Sale Badge Badge */
.sale-badge-yes .badge-type-badge .ae-sale-badge-wrapper  span.onsale{
    min-height: 3.236em;
    min-width: 3.236em;
    padding: 0;
    font-size: 1em;
    font-weight: 700;
    position: absolute;
    text-align: center;
    line-height: 3.236;
    top: -.5em;
    left: -.5em;
    margin: 0;
    border-radius: 100%;
    background-color: #77a464;
    color: #fff;
    font-size: .857em;
    z-index: 9;
}
.badge-h-left.badge-v-bottom .sale-badge-yes .ae-sale-badge-wrapper   span.onsale{
    left: 20px;
    right: auto;
    top: auto;
    bottom: 20px;
}
.badge-h-left.badge-v-top .sale-badge-yes .ae-sale-badge-wrapper  span.onsale{
    left: 20px;
    right: auto;
    top: 20px;
    bottom: auto;
}

.badge-h-right.badge-v-bottom .sale-badge-yes .ae-sale-badge-wrapper  span.onsale{
    left: auto;
    right: 20px;
    top: auto;
    bottom: 20px;
}
.badge-h-right.badge-v-top .sale-badge-yes .ae-sale-badge-wrapper  span.onsale{
    left: auto;
    right: 20px;
    top: 20px;
    bottom: auto;
}

/* Sale Badge Badge */

/* Post Content - Load More */

.ae-post-content-unfold-yes.ae-element-post-content{
    max-height: 200px;
    position: relative;
    overflow: hidden;
}
.ae-post-content-unfold-yes p.ae-post-content-unfold {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent, black);
    margin: 0;
    padding: 10px 0;
}

.ae-post-content-unfold-yes span.ae-post-content-unfold-link {
    cursor: pointer;
    border-radius: 2px;
    padding: 10px 40px;
    color: #ffffff;
    border-color: #0274be;
    background-color: #0274be;
}
/* Post Content - Load More */

.ae-link-yes{
    cursor: pointer;
}
.ae-woo-image-swap {
    text-align: center;
}
.ae-woo-image-swap .ae-woo-image-main {
    position: relative;
    margin-bottom: 0!important;
    z-index: 2;
}

.ae-woo-image-swap .ae-woo-image-secondary {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    overflow: hidden;
    height: auto;
    z-index: 1;
    transition: all 0.5s;
}

.ae-woo-image-swap .ae-woocommerce-LoopProduct-link:hover .ae-woo-image-secondary{
    z-index: 3;
    opacity: 1;
    transition: all 0.5s;
}
.elementor-widget-ae-woo-gallery .ae-swiper-slide-wrapper{
    text-align: center;
}
.ae-element-post-image .ae_thumb_wrapper.ae_image_ratio_yes, .ae-element-post-image .ae_thumb_wrapper.ae_image_ratio_yes a {
    display: block;
}
.ae_thumb_wrapper.ae_image_ratio_yes .ae-post-image{
    position: relative;
    top: 0;
    overflow: hidden;
    left: 0;
    right: 0;
    border: 0;
}

.ae_thumb_wrapper.ae_image_ratio_yes .ae-post-image img{
    height: auto;
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: none;
    max-height: none;
}

.ae_thumb_wrapper.ae_image_ratio_yes .ae-post-image.ae-post-image-fit img{
    height: 100%;
    width: auto;
}
.elementor-widget-ae-woo-gallery .ae-arrow-show-on_hover .ae-swiper-container .ae-swiper-button-prev,
.elementor-widget-ae-woo-gallery .ae-arrow-show-on_hover .ae-swiper-container .ae-swiper-button-next{
    display: none;
    transition: all 0.5s;

}
.elementor-widget-ae-woo-gallery:hover .ae-arrow-show-on_hover .ae-swiper-container .ae-swiper-button-prev,
.elementor-widget-ae-woo-gallery:hover .ae-arrow-show-on_hover .ae-swiper-container .ae-swiper-button-next{
    display: block;
    transition: all 0.5s;

}
/*.elementor-widget-ae-woo-gallery .ae-swiper-container .ae-swiper-button-prev.swiper-button-disabled,
.elementor-widget-ae-woo-gallery .ae-swiper-container .ae-swiper-button-next.swiper-button-disabled{
    display: none;
    transition: all 0.5s;

}*/

.elementor-editor-active .elementor-widget-ae-woo-gallery .ae-swiper-container  .ae-swiper-button-next, .elementor-editor-active .elementor-widget-ae-woo-gallery .ae-swiper-container  .ae-swiper-button-prev {
    display: block;
}

/* AE ACF Repeater */

.ae-acf-repeater-layout-grid .ae-acf-repeater-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.ae-acf-repeater-layout-carousel .ae-carousel-yes .ae-swiper-slide{
    height: auto;
}

/* Nav Menu */
.elementor-widget-ae-nav-menu{
    clear: both;
}
.ae-nav-menu-toggle{
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    /*transform: translate(-50%, -50%);*/
    cursor: pointer;
}
.ae-nav-menu-simple button.ae-menu-toggle {
    display: none;
}
.ae-nav-menu-simple nav.nav-container {
    background: #fff;
    padding: 10px;
}
.ae-nav-menu-simple ul#ae-nav-menu {
    margin: 0;
}
.ae-nav-menu-simple ul.ae-nav-menu li.menu-item {
    position: relative;
    list-style: none;
}
.ae-nav-menu-simple ul.ae-nav-menu > li.menu-item {
    display: inline-block;
}
.ae-nav-menu-simple ul.ae-nav-menu > li.menu-item > a {
    padding: 10px;
    line-height: 40px;
}
.ae-nav-menu-simple ul.ae-nav-menu > li.menu-item.menu-item-has-children > a {
    padding-right: 20px;
}
.ae-nav-menu-simple ul.ae-nav-menu > li.menu-item.menu-item-has-children > a::after{
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    right: 0;
}
.ae-nav-menu-simple ul.ae-nav-menu li.menu-item ul.sub-menu {
    visibility: hidden;
    position: absolute;
    background: #fff;
    left: 0;
    top: 100%;
    min-width: 200px;
    max-width: 300px;
    width: 100%;
    margin: 0;
    z-index: 9999;
    /*transition: top 0.5s ease 0s, visibility 0.5s ease 0s;*/
}
.ae-nav-menu-simple ul.ae-nav-menu li.menu-item:hover > ul.sub-menu {
    visibility: visible;
    top: 40px;
    transition: top 0.5s ease 0s, visibility 0.5s ease 0s;
}
.ae-nav-menu-simple ul.ae-nav-menu li.menu-item > ul.sub-menu li.menu-item > ul.sub-menu {
    left: 100%;
    top: 0;
}
.ae-nav-menu-simple ul.ae-nav-menu > li.menu-item ul.sub-menu li.menu-item > a{
    padding: 10px;
    display: block;
    line-height: 1.5;
}
.ae-nav-menu-simple ul.ae-nav-menu > li.menu-item.menu-item-has-children > ul.sub-menu li.menu-item.menu-item-has-children > a {
    padding-right: 20px;
}
.ae-nav-menu-simple ul.ae-nav-menu > li.menu-item.menu-item-has-children ul.sub-menu li.menu-item.menu-item-has-children > a::after{
    content: "\f105";
    font-family: FontAwesome;
    position: absolute;
    right: 10px;
    top: 10px;
}
.ae-nav-menu-simple ul.ae-nav-menu li.menu-item.current-menu-ancestor > a, .ae-nav-menu-simple ul.ae-nav-menu li.menu-item.current-menu-item > a {
    font-weight: bold;
}
.elementor-widget-ae-nav-menu.ae-nav-right .ae-nav-menu-wrapper.ae-nav-menu-simple{
    float: right;
}
.elementor-widget-ae-nav-menu.ae-nav-left .ae-nav-menu-simple.ae-nav-menu-wrapper{
    float: left;
}
.elementor-widget-ae-nav-menu.ae-nav-center .ae-nav-menu-simple.ae-nav-menu-wrapper{
    float: none;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .ae-nav-menu-simple button.ae-menu-toggle {
        display: block;
    }
    .ae-nav-menu-simple nav.nav-container {
        background: #fff;
        visibility: hidden;
        position: absolute;
        z-index: 9999;
        width: 300px;
    }

    .elementor-widget-ae-nav-menu.ae-nav-right .ae-nav-menu-simple nav.nav-container {
        right: -100%;
        transition: right 0.5s ease 0s, visibility 0.5s ease 0s;
    }

    .elementor-widget-ae-nav-menu.ae-nav-left .ae-nav-menu-simple nav.nav-container {
        left: -100%;
        transition: left 0.5s ease 0s, visibility 0.5s ease 0s;
    }

    .elementor-widget-ae-nav-menu.ae-nav-center .ae-nav-menu-simple nav.nav-container {
        top: -100%;
        left: 50%;
        transform: translate(-50%);
        transition: top 0.1s ease 0s, visibility 0.1s ease 0s;
    }

    .elementor-widget-ae-nav-menu.ae-nav-right .ae-nav-menu-simple.ae-nav-menu-wrapper {
        float: right;
    }

    .elementor-widget-ae-nav-menu.ae-nav-left. ae-nav-menu-simple.ae-nav-menu-wrapper {
        float: left;
    }

    .elementor-widget-ae-nav-menu.ae-nav-center .ae-nav-menu-simple.ae-nav-menu-wrapper {
        float: none;
        text-align: center;
    }

    .elementor-widget-ae-nav-menu .ae-nav-menu-simple nav.nav-container.open {
        visibility: visible;
    }

    .elementor-widget-ae-nav-menu.ae-nav-right .ae-nav-menu-simple nav.nav-container.open {
        right: 0;
    }

    .elementor-widget-ae-nav-menu.ae-nav-left .ae-nav-menu-simple nav.nav-container.open {
        left: 0;
    }

    .elementor-widget-ae-nav-menu.ae-nav-center  .ae-nav-menu-simple nav.nav-container.open {
        top: 50px;
        transition: top 0.5s ease 0s, visibility 0.5s ease 0s;
    }

    .ae-nav-menu-simple ul.ae-nav-menu li.menu-item {
        position: relative;
        list-style: none;
        display: block;
    }

    .ae-nav-menu-simple ul.ae-nav-menu li.menu-item.menu-item-has-children > a span.dropdown {
        float: right;
        z-index: 9999;
    }

    .ae-nav-menu-simple ul.ae-nav-menu > li.menu-item.menu-item-has-children > a::after{
        content: "";
        font-family: FontAwesome;
        position: absolute;
        right: 0;
    }
    .ae-nav-menu-simple ul.ae-nav-menu > li.menu-item.menu-item-has-children ul.sub-menu li.menu-item.menu-item-has-children > a::after{
        content: "\f105";
        font-family: FontAwesome;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    /*.ae-nav-menu-slideout ul.ae-nav-menu  li.menu-item.menu-item-has-children > a span.dropdown::after{
        content: "\f067";
        font-family: FontAwesome;
        position: absolute;
        right: 0;
    }*/
    .ae-nav-menu-simple ul.ae-nav-menu li.menu-item ul.sub-menu {
        top: -100%;
        display: none;
        transition: top 0.5s ease 0s;
    }

    .ae-nav-menu-simple ul.ae-nav-menu li.menu-item ul.sub-menu li {
        padding: 10px;
    }

    .ae-nav-menu-simple ul.ae-nav-menu {
        margin: 0;
    }

    .ae-nav-menu-simple ul.ae-nav-menu > li.menu-item > a {
        padding: 10px;
        line-height: 40px;
    }

    .ae-nav-menu-simple ul.ae-nav-menu > li.menu-item.menu-item-has-children > a {
        padding-right: 30px;
    }

    .ae-nav-menu-simple ul.ae-nav-menu li.menu-item.menu-item-has-children.open > ul.sub-menu {
        top: 0;
        display: block;
        transition: top 0.5s ease 0s;
    }
}


/*.ae-nav-menu-slideout nav.nav-container {
        background: #fff;
        visibility: hidden;
        position: absolute;
        z-index: 9999;
        width: 300px;
    }

    .ae-nav-right.ae-nav-menu-slideout nav.nav-container {
        right: -100%;
        transition: right 0.5s ease 0s, visibility 0.5s ease 0s;
    }

    .ae-nav-left.ae-nav-menu-slideout nav.nav-container {
        left: -100%;
        transition: left 0.5s ease 0s, visibility 0.5s ease 0s;
    }

    .ae-nav-center.ae-nav-menu-slideout nav.nav-container {
        top: -100%;
        left: 50%;
        transform: translate(-50%);
        transition: top 0.1s ease 0s, visibility 0.1s ease 0s;
    }

    .ae-nav-right.ae-nav-menu-slideout .ae-nav-menu-wrapper {
        float: right;
    }

    .ae-nav-left.ae-nav-menu-slideout .ae-nav-menu-wrapper {
        float: left;
    }

    .ae-nav-center.ae-nav-menu-slideout .ae-nav-menu-wrapper {
        float: none;
        text-align: center;
    }

    .ae-nav-menu-slideout nav.nav-container.open {
        visibility: visible;
    }

    .ae-nav-right.ae-nav-menu-slideout nav.nav-container.open {
        right: 0;
    }

    .ae-nav-left.ae-nav-menu-slideout nav.nav-container.open {
        left: 0;
    }

    .ae-nav-center.ae-nav-menu-slideout nav.nav-container.open {
        top: 50px;
        transition: top 0.5s ease 0s, visibility 0.5s ease 0s;
    }

    .ae-nav-menu-slideout ul.ae-nav-menu li.menu-item {
        position: relative;
        list-style: none;
    }

    .ae-nav-menu-slideout ul.ae-nav-menu li.menu-item.menu-item-has-children > a span.dropdown {
        float: right;
        z-index: 9999;
    }

    .ae-nav-menu-slideout ul.ae-nav-menu  li.menu-item.menu-item-has-children > a span.dropdown::after{
        content: "\f067";
        font-family: FontAwesome;
        position: absolute;
        right: 0;
    }
.ae-nav-menu-slideout ul.ae-nav-menu li.menu-item ul.sub-menu {
    top: -100%;
    display: none;
    transition: top 0.5s ease 0s;
}

.ae-nav-menu-slideout ul.ae-nav-menu li.menu-item ul.sub-menu li {
    padding: 10px;
}

.ae-nav-menu-slideout ul.ae-nav-menu {
    margin: 0;
}

.ae-nav-menu-slideout ul.ae-nav-menu > li.menu-item > a {
    padding: 10px;
    line-height: 40px;
}

.ae-nav-menu-slideout ul.ae-nav-menu > li.menu-item.menu-item-has-children > a {
    padding-right: 30px;
}

.ae-nav-menu-slideout ul.ae-nav-menu li.menu-item.menu-item-has-children.open > ul.sub-menu {
    top: 0;
    display: block;
    transition: top 0.5s ease 0s;
} */