@font-face {
  font-family: 'pa-pro-elements';
  src:  url('../fonts/pa-pro-elements.eot?487z5f');
  src:  url('../fonts/pa-pro-elements.eot?487z5f#efix') format('embedded-opentype'),
    url('../fonts/pa-pro-elements.ttf?487z5f') format('truetype'),
    url('../fonts/pa-pro-elements.woff?487z5f') format('woff'),
    url('../fonts/pa-pro-elements.svg?487z5fm#pa-pro-elements') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="pa-pro-"], [class*=" pa-pro-"] {
  font-family: 'pa-pro-elements' !important;
}

.pa-pro-whatsapp:before {
  content: "\e912";
}
.pa-pro-unfold:before {
  content: "\e900";
}
.pa-pro-twitter-feed:before {
  content: "\e901";
}
.pa-pro-tabs:before {
  content: "\e902";
}
.pa-pro-table:before {
  content: "\e903";
}
.pa-pro-social-counter:before {
  content: "\e904";
}
.pa-pro-separator:before {
  content: "\e920";
}
.pa-pro-preview-window:before {
  content: "\e906";
}
.pa-pro-notification-bar:before {
  content: "\e907";
}
.pa-pro-messenger-chat:before {
  content: "\e908";
}
.pa-pro-magic-section:before {
  content: "\e909";
}
.pa-pro-instagram-feed:before {
  content: "\e90a";
}
.pa-pro-image-layers:before {
  content: "\e90b";
}
.pa-pro-image-comparison:before {
  content: "\e90c";
}
.pa-pro-ihover:before {
  content: "\e90d";
}
.pa-pro-icon-box:before {
  content: "\e90e";
}
.pa-pro-hot-spot:before {
  content: "\e90f";
}
.pa-pro-google-reviews:before {
  content: "\e910";
}
.pa-pro-floating-block:before {
  content: "\e911";
}
.pa-pro-flip-box:before {
  content: "\e921";
}
.pa-pro-facebook-reviews:before {
  content: "\e913";
}
.pa-pro-facebook-feed:before {
  content: "\e914";
}
.pa-pro-content-switcher:before {
  content: "\e915";
}
.pa-pro-charts:before {
  content: "\e905";
}
.pa-pro-behance-feed:before {
  content: "\e917";
}