/**
 * Table of contents
 *
 * # Main page layout
 * ## Custom Checkbox
 */

/* --------------------------------------
 * # Main page layout
 *--------------------------------------*/

.wpb-rs-main {
    display: flex;
    margin-top: 2em;
    flex-direction: row-reverse;
}

.wpb-rs-main-image {
    text-align: right;
    flex-grow: 1;
}

.wpb-rs-main-image img {
    margin-top: 4em;
}

.wpb-rs-main-snip-logo {
    width: 150px;
    height: 60px;
    margin-bottom: 4rem;
}

.wpb-rs-main h2,
.wpb-rs-main h1 {
    font-family: Montserrat, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 0 0 1em 0;
    text-indent: -.1em;
    font-weight: 300;
}

.wpb-rs-main-text {
    flex-grow: 1;
    position: relative;
}

.wpb-rs-main-text-step2 li,
.wpb-rs-main-text p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.wpb-rs-main-text-step2 li {
    margin-bottom: 3rem;
}

.wpb-rs-main-text-step2 li span {
    font-size: .8rem;
    display: block;
}

.wpb-rs-main-text-step {
    display: none;
}

.wpb-rs-main-text-step1 {
    display: block;
}

.wpb-rs-main-text-inner {
    max-width: 50em;
}

.wpb-rs-main-text-inner .button-hero {
    font-size: 1em !important;
}

.wpb-rs-main-text-inner > p > strong {
    background-color: #dcdede;
    padding: .1em .2em;
}

.wpb-rs-main-cc-code {
    padding: 1em;
    margin: 0;
    display: block;
    width: 100%;
}

p.wpb-rs-main-edit-purchase-code,
p.wpb-rs-main-help-link {
    font-size: .8rem;
}

.wpb-rs-main-message {
    display: none;
}

.wpb-rs-main-step.installing::before {
    margin: .8rem .5rem 0 -1rem;
    color: #fff;
}

.wpb-rs-main-message p {
    font-size: inherit;
}

@media screen and (max-width: 1000px) {

    .wpb-rs-main {
        display: block;
    }

    .wpb-rs-main-image {
        display: none;
    }
}

/* --------------------------------------
 * ## Custom checkbox
 *--------------------------------------*/
.container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 1.5em;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #2196f3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
