/**
 * Table of contents
 *
 * # Actions
 * # Select
 */

.wpb-rs-ruleset thead {
    display: none;
}

.wpb-rs-param,
.wpb-rs-operator {
    width: 25%;
}

.wpb-rs-value {
    width: 30%;
}

/* --------------------------------------
 * # Actions
 *--------------------------------------*/
.wpb-rs-rule-action {
    width: 10%;
    min-width: 3rem;
    text-align: center;
}
.wpb-rs-rulegroup-remove span,
.wpb-rs-rule-remove span {
    vertical-align: middle;
}

.wpb-rs-ruleset tbody tr:first-child .wpb-rs-rule-remove a {
    display: none;
}

/* --------------------------------------
 * # Select
 *--------------------------------------*/

.wpb-rs-value .select2,
.wpb-rs-rule select {
    width: 100%!important;
}