@import 'base/mixins';

@import "widgets/single-product-widgets/jet-single-images";
@import "widgets/single-product-widgets/jet-single-price";
@import "widgets/single-product-widgets/jet-single-add-to-cart";
@import "widgets/single-product-widgets/jet-single-rating";
@import "widgets/single-product-widgets/jet-single-tabs";
@import "widgets/single-product-widgets/jet-single-badge";
@import "widgets/single-product-widgets/jet-single-attributes";

@import 'widgets/global-widgets/jet-woo-products';
@import 'widgets/global-widgets/jet-woo-categories';
@import 'widgets/global-widgets/jet-woo-products-list';
@import 'widgets/global-widgets/jet-woo-taxonomy-tiles';

@import 'extensions/jet-woo-product-thumb-effects';
@import 'extensions/jet-woo-carousel';

@import 'base/grid';
@import 'base/fonts';


.jet-woo-product-rating{
	.star{
		max-width: 17px;
	}
}

.product-rating__stars{
	overflow: hidden;
	position: relative;
	height: 1em;
	line-height: 1;
	font-size: 1em;
	width: 5.4em;
	font-family: 'star';
	display: inline-block;
	
	&::before {
		content: '\73\73\73\73\73';
		color: #e7e8e8;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
	}
	
	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
		color: #fdbc32;
	}
	
	span::before {
		content: '\53\53\53\53\53';
		top: 0;
		position: absolute;
		left: 0;
	}
}