.njba-module-content.njba-countdown.njba-timer{ width:100%; /*float:left;*/}
.njba-module-content.njba-countdown.njba-fixed-date-countWeeks,
.njba-module-content.njba-countdown.njba-fixed-date-countDays,
.njba-module-content.njba-countdown.njba-fixed-date-countHours,
.njba-module-content.njba-countdown.njba-fixed-date-countMinutes,
.njba-module-content.njba-countdown.njba-fixed-date-countSeconds,
.njba-module-content.njba-countdown.njba-evergreen-date-countWeeks,
.njba-module-content.njba-countdown.njba-evergreen-date-countDays,
.njba-module-content.njba-countdown.njba-evergreen-date-countHours,
.njba-module-content.njba-countdown.njba-evergreen-date-countMinutes,
.njba-module-content.njba-countdown.njba-evergreen-date-countSeconds {
    border: 4px solid #000;
    border-radius: 50%;
    padding: 30px;
    margin-right: 20px;
}
.njba-countdown-holding .njba-count-down-unit,
.njba-countdown-holding .njba-count-down-digit {
    padding: 0;
    margin: 0;
}
.njba-countdown .njba-countdown-digit-wrapper.square {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;    
    -webkit-box-orient: vertical;    
    -webkit-box-direction: normal;    
    -ms-flex-direction: column;    
    flex-direction: column;
}
.countdown-rtl {
    direction: rtl;
}
.countdown-holding span {
    color: #888;
}
.countdown-row {
    clear: both;
    width: 100%;
    padding: 0px 2px;
    text-align: center;
}
.countdown-show1 .countdown-section {
    width: 98%;
}
.countdown-show2 .countdown-section {
    width: 48%;
}
.countdown-show3 .countdown-section {
    width: 32.5%;
}
.countdown-show4 .countdown-section {
    width: 24.5%;
}
.countdown-show5 .countdown-section {
    width: 19.5%;
}
.countdown-show6 .countdown-section {
    width: 16.25%;
}
.countdown-show7 .countdown-section {
    width: 14%;
}
.countdown-section {
    display: block;
    /*float: left;*/
    font-size: 75%;
    text-align: center;
}
.countdown-amount {
    font-size: 200%;
}
.countdown-period {
    display: block;
}
.countdown-descr {
    display: block;
    width: 100%;
}
.njba-countdown-custom-fields {
    float: left;
    text-align: center;
}
.njba-countdown-fixed-timer,
.njba-countdown-evergreen-timer {
    width: 100%;
    display: block;
}
.njba-countdown-fixed-timer .njba-countdown-holding,
.njba-countdown-evergreen-timer .njba-countdown-holding {
    /*float: left;*/
    display: inline-block;
    margin-bottom: 15px;
}
.njba-countdown-digit-wrapper,
.njba-countdown-unit-names {
    text-align: center;
}
/* Flash Animation */
@-webkit-keyframes flash { 
    0%, 50%, 100% {opacity: 1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";} 
    25%, 75% {opacity: 0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";} 
} 
@keyframes flash { 
    0%, 50%, 100% {opacity: 1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";} 
    25%, 75% {opacity: 0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";} 
} 
/*Pulse Animation*/
@-webkit-keyframes pulse { 
    0% { -webkit-transform: scale(1); } 
    50% { -webkit-transform: scale(1.1); } 
    100% { -webkit-transform: scale(1); } 
} 
@keyframes pulse { 
    0% { -webkit-transform: scale(1); transform: scale(1); } 
    50% { -webkit-transform: scale(1.1); transform: scale(1.1); } 
    100% { -webkit-transform: scale(1); transform: scale(1); } 
} 
/*Bounce Animation*/
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
} 
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);transform: translateY(-15px);}
} 
/* Shake Animation */
@-webkit-keyframes shake { 
    0%, 100% {-webkit-transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-30px);} 
    20%, 40%, 60%, 80% {-webkit-transform: translateX(30px);} 
} 
@keyframes shake { 
    0%, 100% {-webkit-transform: translateX(0);transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-30px);transform: translateX(-30px);} 
    20%, 40%, 60%, 80% {-webkit-transform: translateX(30px);transform: translateX(30px);} 
}