.wpca-btn { height:auto; min-height:40px; border-radius:2px; padding:10px 20px 10px; border:0 none; font-size:16px; font-weight:normal; text-transform:none; cursor:pointer }
.wpca-btn:before { content:none !important }
button, input.button-submit { -webkit-transition: background-color 0.25s ease; -moz-transition: background-color 0.25s ease; -o-transition: background-color 0.25s ease; transition: background-color 0.25s ease }