<div class="gradient-picker">
	<div class="light-box">
		<div class="row middle-xs">
			<div class="col-xs-5">
				<?php echo __( 'Orientation', 'thrive-cb' ) ?>
			</div>
			<div class="col-xs-7 tve-select-arrow">
				<select class="gradient-style change" data-fn="gradient_type">
					<option value="linear-gradient"><?php echo __( 'Linear', 'thrive-cb' ); ?></option>
					<option value="radial-gradient"><?php echo __( 'Radial', 'thrive-cb' ); ?></option>
				</select>
			</div>
		</div>
		<div class="row middle-xs padding-top-10 gradient-orientation">
			<div class="col-xs-5"><?php echo __( 'Angle', 'thrive-cb' ) ?></div>
			<div class="col-xs-7">
				<div class="tve-gradient-angle"></div>
			</div>
		</div>

		<div class="row middle-xs padding-top-15">
			<div class="col-xs-11">
				<div class="tve-gradient-settings">
					<canvas class="gradient-picker-preview"></canvas>
					<div class="gradient-picker-points"></div>
				</div>
			</div>
			<div class="col-xs-1">
				<span class="click tcb-right tcb-reset-gradient-icon" data-fn="reset"><?php tcb_icon( 'undo-regular' ); ?></span>
			</div>
		</div>
	</div>
</div>
<div class="gradient-color-picker"></div>
