.woopack-products-grid-wrap ul.products .woopack-product-grid,
.woopack-products-grid-wrap ul.products .woopack-product-grid:hover {
	-webkit-transition: -webkit-box-shadow 0.3s ease-in;
	-moz-transition: -moz-box-shadow 0.3s ease-in;
	-ms-transition: -ms-box-shadow 0.3s ease-in;
	-o-transition: -o-box-shadow 0.3s ease-in;
	transition: box-shadow 0.3s ease-in;
}
.woopack-products-grid-wrap.woocommerce ul.products {
    clear: both;
	padding-top: 0;
}
.woopack-products-grid-wrap ul.products::after,
.woopack-products-grid-wrap ul.products::before {
    content: ' ';
    display: table;
}
.woopack-products-grid-wrap ul.products::after {
    clear: both;
}
.woopack-products-grid-wrap ul.products li.product {
    float: left;
    margin: 0 3.8% 2.992em 0;
    padding: 0;
    position: relative;
    width: 22.05%;
    margin-left: 0;
}
.woopack-products-grid-wrap ul.products li.first {
    clear: both;
}
.woopack-products-grid-wrap ul.products li.last {
    margin-right: 0;
}
.woopack-products-grid-wrap span.onsale {
    min-height: 0;
    min-width: 0;
}
.woopack-products-grid-wrap .products ul,
.woopack-products-grid-wrap ul.products {
    padding: 0;
    list-style: none outside;
    clear: both;
}
.woopack-products-grid-wrap .products ul::after,
.woopack-products-grid-wrap .products ul::before,
.woopack-products-grid-wrap ul.products::after,
.woopack-products-grid-wrap ul.products::before {
    content: ' ';
    display: table;
}
.woopack-products-grid-wrap .products ul::after,
.woopack-products-grid-wrap ul.products::after {
    clear: both;
}
.woopack-products-grid-wrap .products ul li,
.woopack-products-grid-wrap ul.products li {
    list-style: none outside;
}
.woopack-products-grid-wrap ul.products li.product .onsale {
    top: 0;
    right: 0;
    left: auto;
    margin: -.5em -.5em 0 0;
}
.woopack-products-grid-wrap ul.products li.product .woopack-category-title,
.woopack-products-grid-wrap ul.products li.product .woopack-product-title,
.woopack-products-grid-wrap ul.products li.product h3 {
    margin: 0;
}
.woopack-products-grid-wrap ul.products li.product a {
    text-decoration: none;
}
.woopack-products-grid-wrap ul.products li.product a img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: none;
}
.woopack-products-grid-wrap ul.products li.product .woopack-product-image a {
    position: relative;
    display: inline-block;
}
.woopack-products-grid-wrap ul.products li.product strong {
    display: block;
}
.woopack-products-grid-wrap ul.products li.product .star-rating {
    font-size: .857em;
}
.woopack-products-grid-wrap ul.products .woopack-product-action a,
.woopack-products-grid-wrap ul.products .woopack-product-action a.add_to_cart_button,
.woopack-products-grid-wrap ul.products .woopack-product-action a.added_to_cart {
	display: inline-block !important;
    transition: 0.3s ease-in-out;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce a.added_to_cart,
.woocommerce button.button,
.woocommerce input.button {
    font-size: 100%;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: .618em 1em;
    font-weight: 700;
    border-radius: 3px;
    left: auto;
    color: #515151;
    background-color: #ebe9eb;
    border: 0;
    white-space: nowrap;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    text-shadow: none
}
.woopack-products-grid-wrap {
    position: relative;
}
.woopack-products-grid-wrap.woopack-is-filtering:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.4);
    z-index: 20;
}
.woopack-products-grid-wrap ul.products li.product .price {
    color: #77a464;
    display: block;
    font-weight: 400;
    margin-bottom: 0;
    font-size: .857em;
}
.woopack-products-grid-wrap ul.products li.product .price del {
    color: inherit;
    opacity: .5;
    display: inline-block!important;
}
.woopack-products-grid-wrap ul.products li.product .price ins {
    background: 0 0;
    font-weight: 700;
}
.woopack-products-grid-wrap ul.products li.product .price .from {
    font-size: .67em;
    margin: -2px 0 0 0;
    text-transform: uppercase;
    color: rgba(132,132,132,.5);
}

/* Filters */
.woocommerce-page .woopack-product-filters-wrap {
    margin-top: 50px;
}
.woopack-product-filters-wrap:before,
.woopack-product-filters-wrap:after {
    content: " ";
    display: table;
}
.woopack-product-filters-wrap:after {
    clear: both;
}
.woopack-product-filters {
    padding: 0;
    margin: 0;
    display: inline-block;
}
.woopack-product-filters .woopack-product-filter {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
    float: left;
    transition: all 0.2s ease-in-out;
}
.woopack-product-filters .woopack-product-filter:hover,
.woopack-product-filters .woopack-product-filter.woopack-filter-active {
    color: #000000;
}
.woopack-product-filters-toggle {
    display: none;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    background: #fafafa;
}
.woopack-product-filters-toggle:after {
    content: "+";
    float: right;
    font-weight: bold;
}