.yith-faqs a {
    box-shadow: none;
}

/** FAQs Pagination **/
.yith-faqs-pagination {
    text-align: center;
    clear: both;
}

.yith-faqs-pagination > ul {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
}

.yith-faqs-pagination > ul > li {
    display: inline;
    padding: 0;
}

.yith-faqs-pagination > ul > li > a,
.yith-faqs-pagination > ul > li > span {
    position: relative;
    float: left;
    margin: 0 2px;
    outline: none;
    line-height: 26px;
    color: #B0B0B0;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #B0B0B0;
    border-radius: 5px;
    height: 30px;
    width: 30px;

}

.yith-faqs-pagination > ul > li > a:hover {
    z-index: 2;
    color: #ffffff;
    background-color: #B0B0B0;
}

.yith-faqs-pagination > ul > .active > a,
.yith-faqs-pagination > ul > .active > a:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #B0B0B0;
    border-color: #B0B0B0;
}

.yith-faqs-pagination > ul > .disabled > span,
.yith-faqs-pagination > ul > .disabled > span:hover {
    color: #B0B0B0;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #B0B0B0;
}

/** FAQs Style **/
.yith-faqs-container.yith-faqs-loading {
    position: relative;
}

.yith-faqs-container.yith-faqs-loading:before {
    color: #B0B0B0;
    display: block;
    font: normal 60px/1 'dashicons';
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
    margin: -25px 0 0 -25px;
    content: '\f463';
    -webkit-animation: rotation 2s infinite linear;
    animation: rotation 2s infinite linear;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
}

.yith-faqs-container.yith-faqs-loading:after {
    background: rgba(255, 255, 255, 0.5);
    display: block;
    height: 100%;
    width: 100%;
    bottom: 0;
    position: absolute;
    content: " ";
}

@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.yith-faqs-no-results {
    padding: 30px;
    text-align: center;
}

.yith-faqs-item {
    border: 1px solid #B0B0B0;
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 10px 0;
}

.yith-faqs-title {
    padding: 0 0 10px 0;
    height: 34px;
    line-height: 100%;
    position: relative;
    cursor: pointer;
}

.yith-faqs-content {
    padding: 10px 0 0 0;
}

.yith-faqs-content p:last-child {
    margin: 0;
}

.yith-faqs-title.icon-left {
    padding-left: 44px;
}

.yith-faqs-title.icon-right {
    padding-right: 44px;
}

.yith-faqs-title .icon {
    outline: none;
    color: #FFFFFF;
    background-color: #B0B0B0;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
}

.yith-faqs-title.icon-left .icon {
    position: absolute;
    left: 0;
}

.yith-faqs-title.icon-right .icon {
    position: absolute;
    right: 0;
}

.yith-faq-type-toggle .yith-faqs-item .yith-faqs-content-wrapper,
.yith-faq-type-accordion .yith-faqs-item .yith-faqs-content-wrapper {
    display: none;
}

.yith-faqs-link {
    text-align: right;
    height: 25px;
}

.yith-faqs-link > a {
    position: relative;
    display: block;
    float: right;
    outline: none;
    text-decoration: none;
}

.yith-faqs-link > a.hover > span {
    visibility: visible;
    opacity: 1;
}

.yith-faqs-link > a > span {
    visibility: hidden;
    display: inline-block;
    float: left;
    height: 25px;
    font-size: 12px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.3s;
    margin: 0 6px 0 0;
    padding: 5px;
    line-height: 15px;
    position: relative;
    box-sizing: border-box;
}

.yith-faqs-link > a > span .success-text {
    display: none;
}

.yith-faqs-link > a > span:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    margin: -5px -10px 0 0;
    border: 5px solid transparent;
    border-right-color: #555555;
    transform: rotate(180deg);
}

.yith-faqs-link > a > i {
    background: #b0b0b0;
    border: 1px solid #b0b0b0;
    color: #ffffff;
    height: 25px;
    width: 25px;
    display: block;
    border-radius: 15px;
    text-align: center;
    line-height: 26px;
    float: right;
    font-size: 14px;
}

.yith-faqs-link > a:hover > i,
.yith-faqs-link > a.hover > i {
    background: #ffffff;
    color: #b0b0b0;
}

/** FAQs Categories **/
ul.yith-faqs-categories {
    margin: 10px 0;
}

ul.yith-faqs-categories li {
    list-style: none;
    display: inline-block;
}

ul.yith-faqs-categories li a {
    display: block;
    border: 1px solid #B0B0B0;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    color: #B0B0B0;
    background-color: #fff;
    outline: none;
}

ul.yith-faqs-categories li a.active,
ul.yith-faqs-categories li a:hover {
    color: #fff;
    background-color: #B0B0B0;
}

ul.yith-faqs-categories li a.active {
    font-weight: bold;
}

/** FAQs Search **/
.yith-faqs-search {
    padding: 30px 0;
    border-bottom: 1px solid #B0B0B0;
    margin: 0 0 10px 0;
}

.yith-faqs-search-container {
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    clear: both;
    height: 40px;
    box-sizing: content-box;
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.yith-faqs-search-input {
    width: 100%;
    padding-right: 40px;
    box-sizing: border-box;
}

.yith-faqs-search-input input,
.yith-faqs-search-input input:focus {
    height: 40px;
    width: 100%;
    border: 0 none;
    box-shadow: none;
    background: #ffffff;
}

.yith-faqs-search-button {
    width: 42px;
    position: absolute;
    top: -1px;
    right: -1px;
}

.yith-faqs-search-button button {
    width: 42px;
    height: 42px;
    padding: 0;
    font-size: 18px;
    background: #b0b0b0;
    color: #ffffff;
    outline: none;
    border: 1px solid #b0b0b0;
}

.yith-faqs-search-button button:hover {
    background: #ffffff;
    color: #b0b0b0;
}