.njba-polaroid-main .njba-image-responsive{
	max-width:100%;
	width:100%;
	height:auto;
	display:block;	
}
		   
.njba-polaroid-main.njba-box-comman{width:100%;
          height:auto;
		  background-color:rgb(226,212,183);
          padding:12px 15px 0 15px;
		  border:solid 1px #CCCCCC;
		  box-shadow:1px 1px 10px 1px #666666;
		  transition:all 0.3s;
		  margin: 30px 0;
		  }
.njba-polaroid-main.njba-box-comman h1{
	font-weight:normal;
	font-family: 'Open Sans';
	text-align:center;
	padding-top:13px;
	transform:rotate(0deg);
	font-size:25px;
}
	
				   												   
