/*
 * Please see wp-cookie-allow.php for more details.
 * @author $Author$
 * @version $Id$
 * @since 2.3.3
 */
 
/* Bar and box */
#wpca-trans-layer { width:100%; height:100%; position:fixed; top:0; left:0; z-index:99997; zoom:1 }
.wpca-lay-out, .wpca-lay-out * { box-sizing:border-box }  
.wpca-lay-out { position:fixed; height:auto; display:block; z-index:99998 }
.wpca-lay-out { background-color:#444444 }
.wpca-lay-out.wpca-top { top:0 }
.wpca-lay-out.wpca-bottom { bottom:0 }
.wpca-lay-out.wpca-hide, #wpca-trans-layer.wpca-hide { display:none }
.wpca-lay-out.wpca-show, #wpca-trans-layer.wpca-show { display:block }
.wpca-lay-out.wpca-align-left p { text-align:left; }
.wpca-lay-out.wpca-align-center p { text-align:center }
.wpca-lay-out.wpca-align-right p { text-align:right }
.wpca-lay-out .wpca-lay-out-content { min-height:40px }
.wpca-lay-out .wpca-lay-out-content p { padding:0 5px; margin:0; position:relative; z-index:100; opacity:100; min-height:40px }
.wpca-lay-out .wpca-lay-out-content * { font-size:16px; line-height:33px }
.wpca-lay-out.wpca-close-x { overflow:visible }
.wpca-btn-privacy { cursor:pointer }
.wpca-btn-accept+.wpca-btn-decline { margin-left:5px; display:inline-block; vertical-align:top }
.wpca-btn:focus { outline:none }

/* the Bar */  
#wpca-bar { width:100%; min-height:30px; padding:15px 20px }
#wpca-bar-content { width:80%; text-align:center; display:inline-block; vertical-align:top }
#wpca-bar.wpca-has-decline #wpca-bar-content { width:66% }
.wpca-lay-out.wpca-has-decline .wpca-lay-out-meta { }
#wpca-bar-meta { width:20%; display:inline-block; vertical-align:top; text-align:right }
#wpca-bar.wpca-has-decline #wpca-bar-meta { width:34% }
#wpca-bar-meta .wpca-btn-accept, #wpca-bar-meta .wpca-btn-decline { display:inline-block }
#wpca-bar.wpca-top.wpca-shadow { -webkit-box-shadow: 2px 2px 5px 0px rgba(68, 68, 68, 0.75); -moz-box-shadow: 2px 2px 5px 0px rgba(68, 68, 68, 0.75); box-shadow: 2px 2px 5px 0px rgba(68, 68, 68, 0.75); }
#wpca-bar.wpca-bottom.wpca-shadow { -webkit-box-shadow: 2px -2px 5px 0px rgba(68, 68, 68, 0.75); -moz-box-shadow: 2px -2px 5px 0px rgba(68, 68, 68, 0.75); box-shadow: 2px -2px 5px 0px rgba(68, 68, 68, 0.75); }

/* the Box */
#wpca-box { width:20%; min-height:10%; max-height:100%; padding:15px 20px }
#wpca-box.wpca-tl { top:0; left:0 }
#wpca-box.wpca-tr { top:0; right:0 }
#wpca-box.wpca-bl { bottom:0; left:0 }
#wpca-box.wpca-br { bottom:0; right:0 }
/* centered box */
#wpca-box.wpca-ct {	position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); }
#wpca-box-content { width:100%; text-align:center }
#wpca-box-meta { width:100%;  text-align:center }
#wpca-box-meta .wpca-btn-accept {  }
.wpca-btn-align-left #wpca-box-meta { text-align:left }
.wpca-btn-align-right #wpca-box-meta { text-align:right }
#wpca-box.wpca-has-decline #wpca-box-meta .wpca-btn { width:49%; text-align:center; margin:0 }
#wpca-box.wpca-has-decline #wpca-box-meta .wpca-btn-accept+.wpca-btn-decline { margin-left:2% } 

.wpca-btn-accept,
.wpca-btn-decline,
.wpca-btn-reset-consent {}
.wpca-btn-hide { visibility:hidden !important; width: 0px !important; height: 0px !important; margin: 0px !important; padding: 0px !important; }
.wpca-blocked { display: none !important; }

#wpca-box.wpca-shadow { -webkit-box-shadow: 2px 2px 5px 0px rgba(68, 68, 68, 0.75); -moz-box-shadow: 2px 2px 5px 0px rgba(68, 68, 68, 0.75); box-shadow: 2px 2px 5px 0px rgba(68, 68, 68, 0.75); }

/* close */
#wpca-close { cursor:pointer }
.wpca-lay-out #wpca-close { position:absolute; display:inline-block; right:10px }
.wpca-lay-out.wpca-top #wpca-close { bottom:-30px }
.wpca-lay-out.wpca-bottom #wpca-close { top:-30px }
.wpca-lay-out.wpca-ct #wpca-close { right:0px; top:-30px }

/* Cookie Categories */
/* Cookie Category settings */
.wpca-cc-sett-box {}
.wpca-cc-sett-opions input[type="checkbox"] { margin-right:5px; }
.wpca-cc-sett-box .wpca-cc-sett-opions {}
.wpca-cc-sett-box.wpca-shadow { -webkit-box-shadow: 2px 2px 5px 0px rgba(68, 68, 68, 0.75); -moz-box-shadow: 2px 2px 5px 0px rgba(68, 68, 68, 0.75); box-shadow: 2px 2px 5px 0px rgba(68, 68, 68, 0.75); }
.wpca-cc-sett-box .wpca-btn-cc-default-sett+.wpca-btn-cc-save-sett,
.wpca-cc-sett-box .wpca-btn-cc-save-sett+.wpca-btn-cc-default-sett { margin-left:15px }
.wpca-cc-sett-box .wpca-cc-sett-opions,
.wpca-cc-sett-opions+.wpca-btn { margin-top: 15px }


/* Responsive - media queries (fallback) */
@media screen and (max-width: 1180px) {
  #wpca-bar.wpca-has-decline #wpca-bar-content { width:60% }
  #wpca-bar.wpca-has-decline #wpca-bar-meta{ width:calc(100% - 60%) }	
}
@media screen and (max-width: 1024px) {
  #wpca-bar.wpca-has-decline #wpca-bar-content { width:50% }
  #wpca-bar.wpca-has-decline #wpca-bar-meta{ width:calc(100% - 50%) } 
}
@media screen and (max-width: 910px) {
  .wpca-lay-out img { max-width:100%; height:auto }
  #wpca-box { width:100% !important; margin:0 !important; border-radius:0 !important; min-height:10% !important; }  
  #wpca-bar-content *, #wpca-box-content * { font-size:14px; line-height:26px }
  #wpca-bar-meta, #wpca-box-meta { padding-top:5px }
  #wpca-bar-meta .wpca-btn-accept, #wpca-box-meta .wpca-btn-accept, #wpca-bar-meta .wpca-btn-decline, #wpca-box-meta .wpca-btn-decline { width:100% }
}
@media screen and (max-width: 860px) {
  #wpca-bar.wpca-has-decline #wpca-bar-content { width:45% }
  #wpca-bar.wpca-has-decline #wpca-bar-meta{ width:calc(100% - 45%) } 
}
@media screen and (max-width: 768px) {
  #wpca-bar-content, #wpca-bar-meta, 
  #wpca-bar.wpca-has-decline #wpca-bar-content, 
  #wpca-bar.wpca-has-decline #wpca-bar-meta { display:block; width:100% }	
  #wpca-bar.wpca-has-decline #wpca-bar-meta .wpca-btn { width:49%; text-align:center; margin:0 }
  #wpca-bar.wpca-has-decline #wpca-bar-meta .wpca-btn-decline { margin-left:2% }    
  /* Cookie Category settings */
  .wpca-cc-sett-box .wpca-btn-cc-default-sett,
  .wpca-cc-sett-box .wpca-btn-cc-save-sett { width:100% }
  .wpca-cc-sett-box .wpca-btn-cc-save-sett+.wpca-btn-cc-default-sett,
  .wpca-cc-sett-box .wpca-btn-cc-default-sett+.wpca-btn-cc-save-sett { margin-left: 0; margin-top:7px }    
}
@media screen and (max-width: 640px), screen and (max-height: 375px) {	
	/* centered box */
	#wpca-box.wpca-ct { top:0; left:0; transform:none; height:100%; z-index:99999 }		
}
@media screen and (max-width: 430px) {}
@media screen and (max-width: 396px) {}
@media screen and (max-width: 360px) {}