#wpcontent{
  padding:20px;
}

body.useyourdrive {
  margin:0;
  padding:0;
  overflow-y: scroll;
  text-align: right;
}

.useyourdrive.admin-settings{
  min-height: 800px; z-index: 1;
  background: white;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}
.useyourdrive{
  font-family: "Segoe UI Light WestEuropean","Segoe UI Light","Segoe UI",Tahoma,Arial,sans-serif;
  font-weight: 400;
  color:#666666;
  line-height: initial;
}
#UseyourDrive div, #UseyourDrive input,
.useyourdrive div, .useyourdrive input{
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  text-align: right;
}

.useyourdrive a {
  color: #0078d7;
  text-decoration: none;
}
.useyourdrive a:focus, .useyourdrive a:hover {
  color: #052a65;
}

.useyourdrive ul {
  list-style: initial;
  /*padding-left: 40px;*/
}
.useyourdrive ul.dd-options{
  list-style: none;
}

.useyourdrive small {
  font-size: smaller;
}

.useyourdrive .useyourdrive-header{
  height:64px;
  line-height: 64px;
  top:0;
  right:0;
  left:0px;
  background-color: #0078d7;
  color:#FFF;
  position: fixed;
  z-index: 999;
}
.useyourdrive .useyourdrive-header .useyourdrive-logo{
  padding-right: 10px;
  width:60px;
  float:right;
}
.useyourdrive .useyourdrive-header .useyourdrive-title{
  margin-right: 60px;
  padding-right: 30px;
  font-size: 32px;
  font-weight: bold;
  line-height: 59px;
}

.useyourdrive .useyourdrive-header .useyourdrive-form-buttons{
  position: absolute;
  left: 0px;
}

.useyourdrive .useyourdrive-panel{
  padding:20px 0px;
  margin-top: 64px;
}
.useyourdrive .useyourdrive-panel-left{
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  border-left: 1px solid #eaeaea;
  background-color: #ffffff;
  width: 200px; 
  position: fixed;
  z-index: 999;
}
.useyourdrive.admin-settings .useyourdrive-header,
.useyourdrive.admin-settings .useyourdrive-panel-left{
  position: absolute;
}


.useyourdrive .useyourdrive-panel-right{
  margin-right: 200px;
  position: relative;
  -ms-flex: auto;
  flex: auto;
  padding-right: 30px;
}

.useyourdrive .useyourdrive-panel-full{
  position: relative;
  padding: 20px;
}

.useyourdrive .useyourdrive-nav-header{
  font-size:12px;
  cursor: default;
  color: #767676;
  padding:8px 16px;
}
.useyourdrive .useyourdrive-nav-tabs{
  margin:0px;
  padding:0px;
  list-style: none;
}
.useyourdrive .useyourdrive-nav-tabs li{
  list-style: none;
  height: 32px;
  line-height: 32px;
  padding: 0 16px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin:0;
}

.useyourdrive .useyourdrive-nav-tabs li a{
  text-decoration: none;
  font-size: 17px;
  color:#333333;
}
.useyourdrive .useyourdrive-nav-tabs li:hover{
  color:#333333;
  background-color: #eaeaea;
}


.useyourdrive .useyourdrive-nav-tabs li.current{
  background-color: #eaeaea;
  border-right: 2px solid #0078d7;
  padding-right: 14px;
}
.useyourdrive .useyourdrive-nav-tabs li.current a{
  color: #0078d7;
}

.useyourdrive .useyourdrive-nav-tabs li.disabled{
  cursor:default;
}
.useyourdrive .useyourdrive-nav-tabs li.disabled a{
  color: #c3c3c3;
  cursor:default;
}
.useyourdrive .useyourdrive-nav-tabs li.disabled:hover{
  cursor:default;
  color:#0078d7;
  background-color: transparent;
}


.useyourdrive .useyourdrive-nav-footer{
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  height: 40px;
  padding: 10px;
}

.useyourdrive .useyourdrive-tab-panel{
  display: none;
  font-family: "Segoe UI Regular WestEuropean","Segoe UI",Tahoma,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  max-width: 650px;
}

.useyourdrive .useyourdrive-tab-panel.current{
  display: block;
}


.useyourdrive .useyourdrive-tab-panel-header{
  font-size: 28px;
  font-weight: 400;
  max-width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
  display: inline-block;
  font-family: "Segoe UI Light WestEuropean","Segoe UI Light","Segoe UI",Tahoma,Arial,sans-serif;
  color: #212121;
}

.useyourdrive .useyourdrive-option-title{
  font-family: "Segoe UI Light WestEuropean","Segoe UI Light","Segoe UI",Tahoma,Arial,sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: #666666;
  padding: 15px 0 5px;
  position: relative;
}
.useyourdrive .useyourdrive-option-sub-title{
  font-family: "Segoe UI Light WestEuropean","Segoe UI Light","Segoe UI",Tahoma,Arial,sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #666666;
  padding: 10px 0;
  position: relative;
}

.useyourdrive .useyourdrive-option-description{
  font-family: "Segoe UI Light WestEuropean","Segoe UI Light","Segoe UI",Tahoma,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  padding-bottom: 10px;
  line-height: 1.5em;
}
.useyourdrive .hidden{
  display: none;
}
.useyourdrive .useyourdrive-suboptions{
  border-right: 2px solid #666666;
  background-color: #f8f8f8;
  padding: 20px 30px;
}

/* CSS User-to-folder page */
.useyourdrive .search-box .button{
  padding: 7px 20px;
}

.useyourdrive .column-avatar{
  width: 60px;
}
.useyourdrive .private_folder {
  font-weight: bold;
}

#UseyourDrive .entry_linkto{
  text-align: center;
  display: none;
  width: 100%;
  position: absolute;
  z-index: 30;
  top: 70px;
}
#UseyourDrive .entry.hasfocus .entry_linkto,
#UseyourDrive .entry.isselected .entry_linkto {
  display:block;
}

#UseyourDrive .entry_linkto_root{
  position: absolute;
  display: block;
  bottom: 15px;
  left: 15px;
  top: initial;
  width: initial;
}

/* Text Fields */
.useyourdrive input[type="text"],
.useyourdrive textarea{

  background: #f4f4f4;
  border: 1px solid #b4b4b4;
  height: 2em;
  padding: 15px;
  transition: all 250ms ease;
  font-family: "Segoe UI Light WestEuropean","Segoe UI Light","Segoe UI",Tahoma,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.useyourdrive input[type="text"],
.useyourdrive textarea,
.useyourdrive select{
  margin-bottom: 10px;
}

.useyourdrive input[type="text"]:focus,
.useyourdrive textarea:focus,
.useyourdrive select:focus{
  border-color: #0078d7;
}

.useyourdrive .useyourdrive-option-input-large{
  width: 100%;
}

.useyourdrive textarea{
  width: 100%;
  height:100px;
  font-size: 12px;

}

/* Select boxes */
.useyourdrive select,
.useyourdrive .dd-select{
  background: #f4f4f4;
  border: 1px solid #b4b4b4;
  height: 2em;
  padding: 5px;
  transition: all 250ms ease;
  font-family: "Segoe UI Light WestEuropean","Segoe UI Light","Segoe UI",Tahoma,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  overflow: hidden;
}
.useyourdrive .dd-select{
  height: 3.5em;
  font-weight: normal;
  box-sizing: content-box;
}
.useyourdrive .dd-select *{
  box-sizing: content-box;
}
.useyourdrive .dd-selected{
  padding: 0 10px;
}

.useyourdrive .dd-option-image, .useyourdrive .dd-selected-image {
  float: right;
  margin-left: 20px;
  max-width: initial;
  max-height: 55px;
}
/* Radio buttons */
.useyourdrive-option-radio, 
.useyourdrive-option-checkbox{
  margin: 0.5rem;
}
.useyourdrive-option-radio input[type="radio"],
.useyourdrive-option-checkbox input[type="checkbox"]{
  position: absolute;
  opacity: 0;
}
.useyourdrive-option-checkbox input[type="checkbox"]{
  z-index: 999;
}
.useyourdrive-option-radio input[type="radio"] + .useyourdrive-option-radio-label:before,
.useyourdrive-option-checkbox input[type="checkbox"] + .useyourdrive-option-checkbox-label:before{
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-left: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.useyourdrive-option-checkbox input[type="checkbox"] + .useyourdrive-option-checkbox-label:before{
  border-radius: 0;
}
.useyourdrive-option-radio input[type="radio"]:checked + .useyourdrive-option-radio-label:before,
.useyourdrive-option-checkbox input[type="checkbox"]:checked + .useyourdrive-option-checkbox-label:before {
  background-color: #0078d7;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.useyourdrive-option-radio input[type="radio"]:focus + .useyourdrive-option-radio-label:before,
.useyourdrive-option-checkbox input[type="checkbox"]:focus + .useyourdrive-option-checkbox-label:before {
  outline: none;
  border-color: #0078d7;
}
.useyourdrive-option-radio input[type="radio"]:disabled + .useyourdrive-option-radio-label:before,
.useyourdrive-option-checkbox input[type="checkbox"]:disabled + .useyourdrive-option-checkbox-label:before{
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.useyourdrive-option-radio input[type="radio"] + .useyourdrive-option-radio-label:empty:before,
.useyourdrive-option-checkbox input[type="checkbox"] + .useyourdrive-option-checkbox-label:empty:before {
  margin-left: 0;
}

/* On-off Switches */
.useyourdrive-onoffswitch {
  position: relative; width: 66px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  display: inline-block;
  top: 11px;
  position: absolute;
  left:0px;
}
.useyourdrive-onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
}
.useyourdrive-onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 26px; padding: 0; line-height: 26px;
  border: 0px solid #999999; border-radius: 19px;
  background-color: #EBEBEB;
}
.useyourdrive-onoffswitch-label:before {
  content: "";
  display: block; width: 19px; margin: 3.5px;
  background: #858585;
  position: absolute; top: 0; bottom: 0;
  left: 36px;
  border-radius: 19px;
}
.useyourdrive-onoffswitch-checkbox:checked + .useyourdrive-onoffswitch-label {
  background-color: #0078D7;
}
.useyourdrive-onoffswitch-checkbox:checked + .useyourdrive-onoffswitch-label, .useyourdrive-onoffswitch-checkbox:checked + .useyourdrive-onoffswitch-label:before {
  border-color: #0078D7;
}
.useyourdrive-onoffswitch-checkbox:checked + .useyourdrive-onoffswitch-label .useyourdrive-onoffswitch-inner {
  margin-right: 0;
}
.useyourdrive-onoffswitch-checkbox:checked + .useyourdrive-onoffswitch-label:before {
  left: 0px; 
  background-color: #FFFFFF; 
  box-shadow: -3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}

/* Buttons */
#UseyourDrive .button,
.useyourdrive .button{
  width: auto;
  height: auto;
  background: #29ADE2;
  border: 1px solid #0e92c7;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 10px 20px 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  -webkit-appearance: none;
}
#UseyourDrive .button:hover,
.useyourdrive .button:hover{
  color: white;
  background-color: #0e92c7;
}

.useyourdrive .simple-button {
  display: inline-block;
  margin: 10px 0 0 10px ;
  border: 1px solid white;
  padding: 5px 40px;
  cursor: pointer;
  text-decoration: none;
  line-height: 32px;
  border: 1px #0078d7 solid;
  border-radius: 3px;
  min-width: 150px;
  text-align: center;

}

.useyourdrive .simple-button.default {
  color:#0078d7;
  background: white;
}
.useyourdrive .simple-button:hover{
  background: white;
  color: #0078d7;
}

.useyourdrive .simple-button.blue {
  color:white;
  background: #0078d7;
}
.useyourdrive .simple-button.blue:hover {
  background: #0073aa;
}

.useyourdrive .simple-button i{
  margin: 1px 5px 0px 5px;
}

.useyourdrive .simple-button.disabled {
  color:#0078d7;
  background: #f4f4f4;
  opacity: 0.5;
  cursor: default;
}
.useyourdrive .simple-button.disabled:hover {
  background: #f4f4f4;
}

.uyd-spinner {
  background: url('images/wpspin_light-2x.gif') no-repeat;
  background-size: 16px 16px;
  display: none;
  float: left;
  opacity: .7;
  filter: alpha(opacity=70);
  width: 16px;
  height: 16px;
  margin: 9px 5px 0;
}

/* Messages */
.useyourdrive .wrap div.uyd-error, .useyourdrive .wrap div.uyd-updated, .useyourdrive .wrap div.uyd-warning{
  margin: 5px 0 15px;
}

.useyourdrive div.uyd-error, .useyourdrive div.uyd-updated, .useyourdrive div.uyd-warning{
  background: #fff;
  border-right: 4px solid #fff;
  margin: 5px 15px 2px;
  padding: 1px 12px;
}
.useyourdrive div.uyd-error {
  border-right-color: #dc3232;
}

.useyourdrive div.uyd-updated {
  border-right-color: #46b450;
}

.useyourdrive div.uyd-warning {
  border-right-color: #ff7f00;
}

.useyourdrive div.uyd-error p, .useyourdrive div.uyd-updated p, .useyourdrive div.uyd-warning p {
  margin: .5em 0;
  padding: 2px;
  font-size: 14px;
}

/* Enjoying Google Drive*/
.useyourdrive .enjoying-container{
  background-color: #0078d7;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 18px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  margin-left: 10px
}
.useyourdrive .enjoying-text{
}
.useyourdrive .enjoying-buttons{
}
.useyourdrive .enjoying-button {
  display: inline-block;
  margin: 10px;
  border: 1px solid white;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
  color:white;
  width: 130px;
  height: 35px;
  line-height: 37px;
}

.useyourdrive .enjoying-button.default {
  color:#0078d7;
  background: white;
}
.useyourdrive .enjoying-button:hover{
  color: #0078d7;
  background: white;
  font-weight: bold;
}

/* File Browser Adjustments */
.useyourdrive-panel #UseyourDrive .entry_icon{
  margin-top:4px;
}

.useyourdrive-panel #UseyourDrive .selected-folder{
  padding: 10px 0 20px;
  font-size: 20px;
}
/* Color Picker*/

.useyourdrive .wp-picker-holder, .useyourdrive .wp-picker-holder *, .useyourdrive .wp-picker-holder:before, .useyourdrive .wp-picker-holder:after {
  box-sizing: content-box;
}

.useyourdrive .wp-picker-container input[type=text].wp-color-picker{
  padding: 5px;
}

.useyourdrive .wp-picker-container .button{
  background: #0078d7;
  margin: 0 10px;
  border: 1px solid #FFF;
}
.useyourdrive .wp-picker-holder{
  position: absolute;
  background: #FFF;
  z-index: 10;
  -webkit-box-shadow: -3px 3px 5px rgba(8, 8, 8, 0.12);
  -moz-box-shadow: -3px 3px 5px rgba(8, 8, 8, 0.12);
  box-shadow: -3px 3px 5px rgba(8, 8, 8, 0.12);
}

.useyourdrive .wp-color-result-text{
  line-height: 23px;
}

.useyourdrive .color-table td{
  font-family: "Segoe UI Light WestEuropean","Segoe UI Light","Segoe UI",Tahoma,Arial,sans-serif;
  padding: 8px 0;
}

/* Image Selectors*/
.useyourdrive .upload_row{
  display: table-row;
}
.useyourdrive .upload.useyourdrive-option-input-large{
  width: 490px;
}

.useyourdrive .screenshot{
  float: right;
  margin-right: 1px;
  position: relative;
  width: 150px;
  margin-top: 3px;
  z-index: 1;
  clear: both;
}

.useyourdrive .screenshot img {
  background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #fafafa;
  border-color: #ccc #ccc #eee #eee;
  border-style: solid;
  border-width: 1px;
  max-width: 128px;
  padding: 4px;
}
.useyourdrive .screenshot .upload-remove {
  bottom: 0;
  display: block;
  float: right;
  padding: 0 5px;
  position: absolute;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid transparent;
  font-size: 10px;
  text-transform: uppercase;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-clip: padding-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #0078d7;
}
.useyourdrive .screenshot .upload-remove:hover{
  background-color: #0073aa;
}
/* Accordions */
.useyourdrive-accordion-title{
  background-color: #fafafa;
  padding: 14px !important;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin: 30px 0 15px;
  cursor: pointer;
  color: #333;
  font-weight: 700 !important;
}

.useyourdrive-accordion-title:hover { 
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:    0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

.useyourdrive .ui-accordion-header-icon{
  margin-left: 10px;
}