/*
wc sales triggers styles
*/
/* Best Seller Top */
.wcst_best_sellers_badge_1{display:block;width:100%;margin-bottom:10px}
.wcst_best_sellers_badge_1 span.wcst_best_sellers_badge_span_one{max-width:calc(100% - 20px);background:#a46497;color:#fff;border-radius:4px 0 0 4px;-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;position:relative;padding:4px 4px 4px 8px;z-index:2;margin-right:20px;display:inline-block;font-size:14px;line-height:20px;height:28px;box-sizing:border-box}
.wcst_best_sellers_badge_1 span.wcst_best_sellers_badge_span_one:after{content:"";position:absolute;display:block;bottom:0;border:14px solid #a46497;z-index:-1;height:0;width:0;right:-20px;border-left-width:10px;border-right-color:transparent}
.wcst_best_sellers_badge_1 span.wcst_best_sellers_badge_span_one span{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;display:block}
.wcst_best_sellers_badge_2{display:block;width:100%;margin-bottom:10px}
.wcst_best_sellers_badge_2 span.wcst_best_sellers_badge_span_one{max-width:calc(100% - 40px);background:#a46497;color:#fff;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;position:relative;padding:4px;z-index:2;margin-right:20px;margin-left:20px;display:inline-block;font-size:14px;line-height:20px;height:28px;box-sizing:border-box}
.wcst_best_sellers_badge_2 span.wcst_best_sellers_badge_span_one:before{content:"";position:absolute;display:block;bottom:0;border:14px solid #a46497;z-index:-1;height:0;width:0;left:-20px;border-left-width:10px;border-left-color:transparent}
.wcst_best_sellers_badge_2 span.wcst_best_sellers_badge_span_one:after{content:"";position:absolute;display:block;bottom:0;border:14px solid #a46497;z-index:-1;height:0;width:0;right:-20px;border-left-width:10px;border-right-color:transparent}
.wcst_best_sellers_badge_2 span.wcst_best_sellers_badge_span_one span{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;display:block}
.wcst_best_sellers_badge_3{display:block;width:100%;margin-bottom:10px;padding-top:5px}
.wcst_best_sellers_badge_3 span.wcst_best_sellers_badge_span_one{max-width:calc(100% - 40px);background:#a46497;color:#fff;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;position:relative;padding:4px 12px;z-index:2;margin-right:20px;margin-left:20px;display:inline-block;font-size:14px;line-height:20px;height:28px;box-sizing:border-box}
.wcst_best_sellers_badge_3 span.wcst_best_sellers_badge_span_one:before{content:"";position:absolute;display:block;bottom:5px;border:14px solid #a46497;z-index:-1;height:0;width:0;left:-20px;border-left-width:10px;border-left-color:transparent}
.wcst_best_sellers_badge_3 span.wcst_best_sellers_badge_span_one:after{content:"";position:absolute;display:block;bottom:5px;border:14px solid #a46497;z-index:-1;height:0;width:0;right:-20px;border-left-width:10px;border-right-color:transparent}
.wcst_best_sellers_badge_3 span.wcst_best_sellers_badge_span_one span{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;display:block}
.wcst_best_sellers_badge_4{display:block;width:100%;margin-bottom:10px}
.wcst_best_sellers_badge_4 span.wcst_best_sellers_badge_span_one{max-width:calc(100% - 20px);background:#a46497;color:#fff;position:relative;padding:4px 8px;z-index:2;margin-right:5px;display:inline-block;font-size:14px;line-height:20px;box-sizing:border-box}
.wcst_best_sellers_badge_4 span.wcst_best_sellers_badge_span_one span{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;display:block}
.wcst_best_sellers_badge span.wcst_best_sellers_badge_span_one{top:4px}
.wcst_best_sellers_badge_5{display:block;width:100%;margin-bottom:10px}
.wcst_best_sellers_badge_5 span.wcst_best_sellers_badge_span_one{max-width:calc(100% - 20px);background:#a46497;color:#fff;border-radius:4px 0 0 4px;-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;position:relative;padding:4px 6px 4px 8px;z-index:2;margin-right:12px;display:inline-block;font-size:14px;line-height:20px;height:28px;box-sizing:border-box}
.wcst_best_sellers_badge_5 span.wcst_best_sellers_badge_span_one:after{content:"";position:absolute;display:block;bottom:0;z-index:-1;height:0;width:0;right:-25px;border-left: 12px solid #a46497;border-right: 13px solid transparent;border-bottom: 28px solid transparent}
.wcst_best_sellers_badge_5 span.wcst_best_sellers_badge_span_one span{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;display:block}
/* Best Seller List */
ul.wcst_best_seller_list{list-style:none;clear:both;padding-left:0;margin-left:0}
.wcst_best_seller_list_heading{font-size:inherit;font-weight:700;margin-bottom:10px}
/* You Save */
.wcst_savings_top{display:block;clear:both;margin-bottom:10px}
.wcst_savings_variation{display:block;clear:both;margin-bottom:10px}
/* Sales Insight */
.wcst_sales_snippet,.wcst_sales_count{display:block;clear:both;padding:10px 15px;background:rgba(163,164,100,0.28);margin:15px 0}
/* Low Stock */
.wcst_low_stock{display:block;clear:both;margin-bottom:10px}
/* Deal Expiry */
.wcst_deal_expiry{display:block;clear:both;margin-bottom:15px}
/* Better Reviews */
.wcst_clear{clear:both}
.wcst_clear_10{clear:both;height:10px}
.wcst_clear_20{clear:both;height:20px}
.wcst_smarter_reviews{display:block;margin-bottom:10px;clear:both}
.wcst_smarter_reviews .woocommerce-review-link{position:inherit;opacity:1}
/* Guarantee */
.wcst_guarantee_box *{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
.wcst_guarantee_box{background:#ececec;padding:15px;margin-bottom:15px;max-width:450px;display:block;clear:both}
.wcst_guarantee_box_center{margin:0 auto 15px;float:none}
.wcst_guarantee_box_right{float:right}
.wcst_guarantee_box .wcst_guarantee_box_row{margin-bottom:15px}
.wcst_guarantee_box .wcst_guarantee_box_row:after{content:'';display:block;clear:both}
.wcst_guarantee_box .wcst_guarantee_box_row:last-child{margin-bottom:0}
.wcst_guarantee_box .wcst_guarantee_box_row .wcst_guarantee_box_icon{width:70px;float:left}
.wcst_guarantee_box .wcst_guarantee_box_row .wcst_guarantee_box_text{display:block;padding-left:75px}
.wcst_guarantee_box .wcst_guarantee_box_row .wcst_no_padding{padding:0}
.wcst_guarantee_box .wcst_guarantee_box_row .wcst_guarantee_box_text h5{font-size:14px;font-style:normal;font-weight:700;line-height:20px;margin:0 0 5px;clear:none}
.wcst_guarantee_box .wcst_guarantee_box_row .wcst_guarantee_box_text p{margin:0 0 10px;font-size:14px;line-height:20px}
.wcst_guarantee_box .wcst_guarantee_box_row .wcst_guarantee_box_text p:last-child{margin-bottom:0}
.wcst_guarantee_box .wcst_guarantee_box_row .wcst_guarantee_box_icon{text-align:center}
.wcst_guarantee_box_w_icon{background:#ececec;padding:15px;margin-bottom:15px;max-width:450px}
.wcst_guarantee_box_w_icon *{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
.wcst_guarantee_box_w_icon .table_div{display:table;height:100%;width:100%}
.wcst_guarantee_box_w_icon .table_div .table_cell{display:table-cell;vertical-align:middle}
.wcst_guarantee_box_w_icon .table_div .table_cell.left_icon{text-align:center;width:120px}
.wcst_guarantee_box_w_icon .table_div .table_cell.right_text{padding-left:10px}
.wcst_guarantee_box_w_icon .table_div .table_cell.right_text p{margin:0 0 10px;font-size:14px;line-height:20px}
.wcst_guarantee_box_w_icon .table_div .table_cell.right_text p:last-child{margin-bottom:0}
.wcst_guarantee_box_w_icon .table_div .table_cell.right_text h5{font-size:14px;font-style:normal;font-weight:700;line-height:20px;margin:0 0 5px;clear:none}
.wcst_custom_icon{color:#686868;font-size:16px;line-height:20px;font-style:normal;display:inline-block;font-family:'WooThemes_ecommerce' !important}
.wcst_custom_icon.x1{font-size:16px;line-height:20px}
.wcst_custom_icon.x2{font-size:32px;line-height:36px}
.wcst_custom_icon.x3{font-size:48px;line-height:52px}
.wcst_custom_icon.x4{font-size:64px;line-height:68px}
.wcst_custom_icon.x5{font-size:80px;line-height:84px}
.wcst_custom_icon.x6{font-size:96px;line-height:100px}
.wcst_best_seller_list_div{clear:both}
.wcst_best_seller_wrap{margin-bottom:10px}
.woocommerce .products .wcst_best_sellers_badge a{display:inline-block;font-size:inherit}
.wcst_on_product {position: relative}

@font-face{font-family:WooThemes_ecommerce;src:url(../fonts/woothemes_ecommerce.ttf) format('truetype'),url(../fonts/woothemes_ecommerce.svg#SVGFontRegular) format('svg')}.wcst-ecommerce000:before{content:"\e001"}.wcst-ecommerce001:before{content:"\e002"}.wcst-ecommerce002:before{content:"\e003"}.wcst-ecommerce003:before{content:"\e004"}.wcst-ecommerce004:before{content:"\e005"}.wcst-ecommerce005:before{content:"\e006"}.wcst-ecommerce006:before{content:"\e007"}.wcst-ecommerce007:before{content:"\e008"}.wcst-ecommerce008:before{content:"\e009"}.wcst-ecommerce009:before{content:"\e00a"}.wcst-ecommerce010:before{content:"\e00b"}.wcst-ecommerce011:before{content:"\e00c"}.wcst-ecommerce012:before{content:"\e00d"}.wcst-ecommerce013:before{content:"\e00e"}.wcst-ecommerce014:before{content:"\e00f"}.wcst-ecommerce015:before{content:"\e010"}.wcst-ecommerce016:before{content:"\e011"}.wcst-ecommerce017:before{content:"\e012"}.wcst-ecommerce018:before{content:"\e013"}.wcst-ecommerce019:before{content:"\e014"}.wcst-ecommerce020:before{content:"\e015"}.wcst-ecommerce021:before{content:"\e016"}.wcst-ecommerce022:before{content:"\e017"}.wcst-ecommerce023:before{content:"\e018"}.wcst-ecommerce024:before{content:"\e019"}.wcst-ecommerce025:before{content:"\e01a"}.wcst-ecommerce026:before{content:"\e01b"}.wcst-ecommerce027:before{content:"\e01c"}.wcst-ecommerce028:before{content:"\e01d"}.wcst-ecommerce029:before{content:"\e01e"}.wcst-ecommerce030:before{content:"\e01f"}.wcst-ecommerce031:before{content:"\e020"}.wcst-ecommerce032:before{content:"\e021"}.wcst-ecommerce033:before{content:"\e022"}.wcst-ecommerce034:before{content:"\e023"}.wcst-ecommerce035:before{content:"\e024"}.wcst-ecommerce036:before{content:"\e025"}.wcst-ecommerce037:before{content:"\e026"}.wcst-ecommerce038:before{content:"\e027"}.wcst-ecommerce039:before{content:"\e028"}.wcst-ecommerce040:before{content:"\e029"}.wcst-ecommerce041:before{content:"\e02a"}.wcst-ecommerce042:before{content:"\e02b"}.wcst-ecommerce043:before{content:"\e02c"}.wcst-ecommerce044:before{content:"\e02d"}.wcst-ecommerce045:before{content:"\e02e"}.wcst-ecommerce046:before{content:"\e02f"}.wcst-ecommerce047:before{content:"\e030"}.wcst-ecommerce048:before{content:"\e031"}.wcst-ecommerce049:before{content:"\e032"}.wcst-ecommerce050:before{content:"\e033"}.wcst-ecommerce051:before{content:"\e034"}.wcst-ecommerce052:before{content:"\e035"}.wcst-ecommerce053:before{content:"\e036"}.wcst-ecommerce054:before{content:"\e037"}.wcst-ecommerce055:before{content:"\e038"}.wcst-ecommerce056:before{content:"\e039"}.wcst-ecommerce057:before{content:"\e03a"}.wcst-ecommerce058:before{content:"\e03b"}.wcst-ecommerce059:before{content:"\e03c"}.wcst-ecommerce060:before{content:"\e03d"}.wcst-ecommerce061:before{content:"\e03e"}.wcst-ecommerce062:before{content:"\e03f"}.wcst-ecommerce063:before{content:"\e040"}.wcst-ecommerce064:before{content:"\e041"}.wcst-ecommerce065:before{content:"\e042"}.wcst-ecommerce066:before{content:"\e043"}.wcst-ecommerce067:before{content:"\e044"}.wcst-ecommerce068:before{content:"\e045"}.wcst-ecommerce069:before{content:"\e046"}.wcst-ecommerce070:before{content:"\e047"}.wcst-ecommerce071:before{content:"\e048"}.wcst-ecommerce072:before{content:"\e049"}.wcst-ecommerce073:before{content:"\e04a"}.wcst-ecommerce074:before{content:"\e04b"}.wcst-ecommerce075:before{content:"\e04c"}.wcst-ecommerce076:before{content:"\e04d"}.wcst-ecommerce077:before{content:"\e04e"}.wcst-ecommerce078:before{content:"\e04f"}.wcst-ecommerce079:before{content:"\e050"}.wcst-ecommerce080:before{content:"\e051"}.wcst-ecommerce081:before{content:"\e052"}.wcst-ecommerce082:before{content:"\e053"}.wcst-ecommerce083:before{content:"\e054"}.wcst-ecommerce084:before{content:"\e055"}.wcst-ecommerce085:before{content:"\e056"}.wcst-ecommerce086:before{content:"\e057"}.wcst-ecommerce087:before{content:"\e058"}.wcst-ecommerce088:before{content:"\e059"}.wcst-ecommerce089:before{content:"\e05a"}.wcst-ecommerce090:before{content:"\e05b"}.wcst-ecommerce091:before{content:"\e05c"}.wcst-ecommerce092:before{content:"\e05d"}.wcst-ecommerce093:before{content:"\e05e"}.wcst-ecommerce094:before{content:"\e05f"}.wcst-ecommerce095:before{content:"\e060"}.wcst-ecommerce096:before{content:"\e061"}.wcst-ecommerce097:before{content:"\e062"}.wcst-ecommerce098:before{content:"\e063"}.wcst-ecommerce099:before{content:"\e064"}.wcst-ecommerce100:before{content:"\e065"}.wcst-ecommerce101:before{content:"\e066"}.wcst-ecommerce102:before{content:"\e067"}.wcst-ecommerce103:before{content:"\e068"}.wcst-ecommerce104:before{content:"\e069"}.wcst-ecommerce105:before{content:"\e06a"}.wcst-ecommerce106:before{content:"\e06b"}.wcst-ecommerce107:before{content:"\e06c"}.wcst-ecommerce108:before{content:"\e06d"}.wcst-ecommerce109:before{content:"\e06e"}.wcst-ecommerce110:before{content:"\e06f"}.wcst-ecommerce111:before{content:"\e070"}.wcst-ecommerce112:before{content:"\e071"}.wcst-ecommerce113:before{content:"\e072"}.wcst-ecommerce114:before{content:"\e073"}.wcst-ecommerce115:before{content:"\e074"}.wcst-ecommerce116:before{content:"\e075"}.wcst-ecommerce117:before{content:"\e076"}.wcst-ecommerce118:before{content:"\e077"}.wcst-ecommerce119:before{content:"\e078"}.wcst-ecommerce120:before{content:"\e079"}.wcst-ecommerce121:before{content:"\e07a"}.wcst-ecommerce122:before{content:"\e07b"}.wcst-ecommerce123:before{content:"\e07c"}.wcst-ecommerce124:before{content:"\e07d"}.wcst-ecommerce125:before{content:"\e07e"}.wcst-ecommerce126:before{content:"\e07f"}.wcst-ecommerce127:before{content:"\e080"}.wcst-ecommerce128:before{content:"\e081"}.wcst-ecommerce129:before{content:"\e082"}.wcst-ecommerce130:before{content:"\e083"}.wcst-ecommerce131:before{content:"\e084"}.wcst-ecommerce132:before{content:"\e085"}.wcst-ecommerce133:before{content:"\e086"}.wcst-ecommerce134:before{content:"\e087"}.wcst-ecommerce135:before{content:"\e088"}.wcst-ecommerce136:before{content:"\e089"}.wcst-ecommerce137:before{content:"\e08a"}.wcst-ecommerce138:before{content:"\e08b"}.wcst-ecommerce139:before{content:"\e08c"}.wcst-ecommerce140:before{content:"\e08d"}.wcst-ecommerce141:before{content:"\e08e"}.wcst-ecommerce142:before{content:"\e08f"}.wcst-ecommerce143:before{content:"\e090"}.wcst-ecommerce144:before{content:"\e091"}.wcst-ecommerce145:before{content:"\e092"}.wcst-ecommerce146:before{content:"\e093"}.wcst-ecommerce147:before{content:"\e094"}.wcst-ecommerce148:before{content:"\e095"}.wcst-ecommerce149:before{content:"\e096"}.wcst-ecommerce150:before{content:"\e097"}.wcst-ecommerce151:before{content:"\e098"}.wcst-ecommerce152:before{content:"\e099"}.wcst-ecommerce153:before{content:"\e09a"}.wcst-ecommerce154:before{content:"\e09b"}.wcst-ecommerce155:before{content:"\e09c"}.wcst-ecommerce156:before{content:"\e09d"}.wcst-ecommerce157:before{content:"\e09e"}.wcst-ecommerce158:before{content:"\e09f"}.wcst-ecommerce159:before{content:"\e0a0"}.wcst-ecommerce160:before{content:"\e0a1"}.wcst-ecommerce161:before{content:"\e0a2"}.wcst-ecommerce162:before{content:"\e0a3"}.wcst-ecommerce163:before{content:"\e0a4"}.wcst-ecommerce164:before{content:"\e0a5"}.wcst-ecommerce165:before{content:"\e0a6"}.wcst-ecommerce166:before{content:"\e0a7"}.wcst-ecommerce167:before{content:"\e0a8"}.wcst-ecommerce168:before{content:"\e0a9"}.wcst-ecommerce169:before{content:"\e0aa"}.wcst-ecommerce170:before{content:"\e0ab"}.wcst-ecommerce171:before{content:"\e0ac"}.wcst-ecommerce172:before{content:"\e0ad"}.wcst-ecommerce173:before{content:"\e0ae"}.wcst-ecommerce174:before{content:"\e0af"}.wcst-ecommerce175:before{content:"\e0b0"}.wcst-ecommerce176:before{content:"\e0b1"}.wcst-ecommerce177:before{content:"\e0b2"}.wcst-ecommerce178:before{content:"\e0b3"}.wcst-ecommerce179:before{content:"\e0b4"}.wcst-ecommerce180:before{content:"\e0b5"}.wcst-ecommerce181:before{content:"\e0b6"}.wcst-ecommerce182:before{content:"\e0b7"}.wcst-ecommerce183:before{content:"\e0b8"}.wcst-ecommerce184:before{content:"\e0b9"}.wcst-ecommerce185:before{content:"\e0ba"}.wcst-ecommerce186:before{content:"\e0bb"}.wcst-ecommerce187:before{content:"\e0bc"}.wcst-ecommerce188:before{content:"\e0bd"}.wcst-ecommerce189:before{content:"\e0be"}.wcst-ecommerce190:before{content:"\e0bf"}.wcst-ecommerce191:before{content:"\e0c0"}.wcst-ecommerce192:before{content:"\e0c1"}.wcst-ecommerce193:before{content:"\e0c2"}.wcst-ecommerce194:before{content:"\e0c3"}.wcst-ecommerce195:before{content:"\e0c4"}.wcst-ecommerce196:before{content:"\e0c5"}.wcst-ecommerce197:before{content:"\e0c6"}.wcst-ecommerce198:before{content:"\e0c7"}.wcst-ecommerce199:before{content:"\e0c8"}.wcst-ecommerce200:before{content:"\e0c9"}.wcst-ecommerce201:before{content:"\e0ca"}.wcst-ecommerce202:before{content:"\e0cb"}.wcst-ecommerce203:before{content:"\e0cc"}.wcst-ecommerce204:before{content:"\e0cd"}.wcst-ecommerce205:before{content:"\e0ce"}.wcst-ecommerce206:before{content:"\e0cf"}.wcst-ecommerce207:before{content:"\e0d0"}.wcst-ecommerce208:before{content:"\e0d1"}.wcst-ecommerce209:before{content:"\e0d2"}.wcst-ecommerce210:before{content:"\e0d3"}.wcst-ecommerce211:before{content:"\e0d4"}.wcst-ecommerce212:before{content:"\e0d5"}.wcst-ecommerce213:before{content:"\e0d6"}.wcst-ecommerce214:before{content:"\e0d7"}.wcst-ecommerce215:before{content:"\e0d8"}.wcst-ecommerce216:before{content:"\e0d9"}.wcst-ecommerce217:before{content:"\e0da"}.wcst-ecommerce218:before{content:"\e0db"}.wcst-ecommerce219:before{content:"\e0dc"}.wcst-ecommerce220:before{content:"\e0dd"}.wcst-ecommerce221:before{content:"\e0de"}.wcst-ecommerce222:before{content:"\e0df"}.wcst-ecommerce223:before{content:"\e0e0"}.wcst-ecommerce224:before{content:"\e0e1"}.wcst-ecommerce225:before{content:"\e0e2"}.wcst-ecommerce226:before{content:"\e0e3"}.wcst-ecommerce227:before{content:"\e0e4"}.wcst-ecommerce228:before{content:"\e0e5"}.wcst-ecommerce229:before{content:"\e0e6"}.wcst-ecommerce230:before{content:"\e0e7"}.wcst-ecommerce231:before{content:"\e0e8"}.wcst-ecommerce232:before{content:"\e0e9"}.wcst-ecommerce233:before{content:"\e0ea"}.wcst-ecommerce234:before{content:"\e0eb"}.wcst-ecommerce235:before{content:"\e0ec"}.wcst-ecommerce236:before{content:"\e0ed"}.wcst-ecommerce237:before{content:"\e0ee"}.wcst-ecommerce238:before{content:"\e0ef"}.wcst-ecommerce239:before{content:"\e0f0"}.wcst-ecommerce240:before{content:"\e0f1"}.wcst-ecommerce241:before{content:"\e0f2"}.wcst-ecommerce242:before{content:"\e0f3"}.wcst-ecommerce243:before{content:"\e0f4"}.wcst-ecommerce244:before{content:"\e0f5"}.wcst-ecommerce245:before{content:"\e0f6"}.wcst-ecommerce246:before{content:"\e0f7"}.wcst-ecommerce247:before{content:"\e0f8"}.wcst-ecommerce248:before{content:"\e0f9"}.wcst-ecommerce249:before{content:"\e0fa"}