<h1><?php _ex('Borlabs Cache &rsaquo; Advanced Settings', 'Top headline', 'borlabs-cache'); ?></h1>

<h2 class="nav-tab-wrapper">
    <a href="?page=borlabs-cache-advanced-settings&amp;tab=general" class="nav-tab <?php echo $tab == 'general' ? 'nav-tab-active' : ''; ?>"><?php _ex('General', 'Tab title', 'borlabs-cache'); ?></a>
    <a href="?page=borlabs-cache-advanced-settings&amp;tab=html" class="nav-tab <?php echo $tab == 'html' ? 'nav-tab-active' : ''; ?>"><?php _ex('HTML', 'Tab title', 'borlabs-cache'); ?></a>
    <a href="?page=borlabs-cache-advanced-settings&amp;tab=image" class="nav-tab <?php echo $tab == 'image' ? 'nav-tab-active' : ''; ?>"><?php _ex('Image', 'Tab title', 'borlabs-cache'); ?></a>
    <a href="?page=borlabs-cache-advanced-settings&amp;tab=javascript" class="nav-tab <?php echo $tab == 'javascript' ? 'nav-tab-active' : ''; ?>"><?php _ex('JavaScript', 'Tab title', 'borlabs-cache'); ?></a>
    <a href="?page=borlabs-cache-advanced-settings&amp;tab=css" class="nav-tab <?php echo $tab == 'css' ? 'nav-tab-active' : ''; ?>"><?php _ex('CSS', 'Tab title', 'borlabs-cache'); ?></a>
    <a href="?page=borlabs-cache-advanced-settings&amp;tab=cache-lifetimes" class="nav-tab <?php echo $tab == 'cache-lifetimes' ? 'nav-tab-active' : ''; ?>"><?php _ex('Cache Lifetimes', 'Tab title', 'borlabs-cache'); ?></a>
    <a href="?page=borlabs-cache-advanced-settings&amp;tab=cache-exceptions" class="nav-tab <?php echo $tab == 'cache-exceptions' ? 'nav-tab-active' : ''; ?>"><?php _ex('Cache Exceptions', 'Tab title', 'borlabs-cache'); ?></a>
    <a href="?page=borlabs-cache-advanced-settings&amp;tab=browser" class="nav-tab <?php echo $tab == 'browser' ? 'nav-tab-active' : ''; ?>"><?php _ex('Browser', 'Tab title', 'borlabs-cache'); ?></a>
    <a href="?page=borlabs-cache-advanced-settings&amp;tab=miscellaneous" class="nav-tab <?php echo $tab == 'miscellaneous' ? 'nav-tab-active' : ''; ?>"><?php _ex('Miscellaneous', 'Tab title', 'borlabs-cache'); ?></a>
    <a href="?page=borlabs-cache-advanced-settings&amp;tab=debug" class="nav-tab <?php echo $tab == 'debug' ? 'nav-tab-active' : ''; ?>"><?php _ex('Debug', 'Tab title', 'borlabs-cache'); ?></a>
</h2>