    <div class="footer align-center">
        <p>
            <a href="https://borlabs.io/?utm_source=BorlabsCache&amp;utm_medium=CacheLogo&amp;utm_campaign=Analysis" rel="noreferrer" target="_blank"><img class="borlabs-cache-logo" src="<?php echo $this->imagePath; ?>/borlabs-cache-logo.svg"></a>
            <br>
            developed by
            <br>
            <a href="https://borlabs.io/?utm_source=BorlabsCache&amp;utm_medium=Logo&amp;utm_campaign=Analysis" rel="noreferrer" target="_blank"><img class="borlabs-logo" src="<?php echo $this->imagePath; ?>/borlabs-logo.svg" alt="Borlabs"></a>
        </p>
    </div>
</div><!-- BorlabsCache -->