<div id="BorlabsCache">
    <div class="meta-box">
        <?php
        if (empty($cachedPageData[0])) {
        ?>
        <p><?php _ex('This page has not been added by Borlabs Cache yet, but will be added automatically soon.', 'Meta box notice', 'borlabs-cache'); ?></p>
        <?php
        } else {
        ?>
        <div class="form-group">
            <input<?php echo !empty($cachedPageData[0]->dont_cache) ? ' checked' : '' ;?> id="borlabs-cache-dont-cache" type="checkbox" name="borlabs-cache[dont_cache]" value="1">
            <label for="borlabs-cache-dont-cache"><?php _ex('Exclude this page from the cache', 'Meta box setting', 'borlabs-cache'); ?></label>
        </div>

        <hr>

        <div class="form-group">
            <span class="headline"><?php  _ex('Cached page from:', 'Meta box title', 'borlabs-cache'); ?></span>
            <span class="info"><?php echo $lastUpdated; ?></span>
        </div>

        <div class="form-group">
            <input id="borlabs-cache-refresh-cache" type="checkbox" name="borlabs-cache[refresh_cache]" value="1">
            <label for="borlabs-cache-refresh-cache"><?php _ex('Refresh cache immediately', 'Meta box setting', 'borlabs-cache'); ?></label>
        </div>

        <input type="hidden" name="borlabs-cache[formSend]" value="1">
        <?php
        }
        ?>
        <input type="hidden" name="borlabs-cache[metaBox]" value="1">
    </div>
</div>