<h1><?php _ex('Borlabs Cache &rsaquo; Support', 'Top headline', 'borlabs-cache'); ?></h1>

<h2 class="nav-tab-wrapper">
    <a href="?page=borlabs-cache-support" class="nav-tab nav-tab-active"><?php _ex('Support', 'Tab title', 'borlabs-cache'); ?></a>
</h2>
<div class="page-headline">
    <img src="<?php echo $this->imagePath; ?>/icons/support.svg" alt="">
    <h3><?php _ex('Support', 'Headline right of icon', 'borlabs-cache'); ?></h3>
</div>
<div class="content">

    <div class="messages">
    <?php echo \Borlabs\Factory::get('Cache\Backend\Backend')->getMessages(); ?>
    </div>

    <form method="post">

        <fieldset>

            <legend><?php _ex('Contact our support', 'Headline of a fieldset', 'borlabs-cache'); ?></legend>

            <div class="form-group">
                <div class="form-title">
                    <label for="supportTopic"><?php _ex('Topic', 'Support form', 'borlabs-cache'); ?></label>
                </div>
                <div class="form-field">
                    <select name="supportTopic" id="supportTopic">
                        <option<?php echo $optionSupportTopicGeneralQuestion; ?> value="general-question"><?php _ex('General Question', 'Select option', 'borlabs-cache'); ?></option>
                        <option<?php echo $optionSupportTopicFeatureRequest; ?> value="feature-request"><?php _ex('Feature Request', 'Select option', 'borlabs-cache'); ?></option>
                        <option<?php echo $optionSupportTopicTechnicalIssue; ?> value="technical-issue"><?php _ex('Technical Issue', 'Select option', 'borlabs-cache'); ?></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="form-title">
                    <label for="supportName"><?php _ex('Your Name', 'Support form', 'borlabs-cache'); ?></label>
                </div>
                <div class="form-field">
                    <input value="<?php echo $inputSupportName; ?>" type="text" name="supportName" id="supportName" class="regular-text">
                </div>
            </div>

            <div class="form-group">
                <div class="form-title">
                    <label for="supportMail"><?php _ex('Your Mail', 'Support form', 'borlabs-cache'); ?></label>
                </div>
                <div class="form-field">
                    <input value="<?php echo $inputSupportMail; ?>" type="text" name="supportMail" id="supportMail" class="regular-text">
                </div>
            </div>

             <div class="form-group">
                <div class="form-title">
                    <label for="supportMessage"><?php _ex('Your Message', 'Support form', 'borlabs-cache'); ?></label>
                </div>
                <div class="form-field">
                    <textarea name="supportMessage" id="supportMessage" cols="80" rows="5"><?php echo $textareaSupportMessage; ?></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="form-title">
                    <label><?php _ex('Additional Data', 'Support form', 'borlabs-cache'); ?></label>
                </div>
                <div class="form-field">
                    <span class="description"><?php _ex('WordPress Version', 'Support form', 'borlabs-cache'); ?></span>
                    <span class="description"><?php _ex('Borlabs Cache Version', 'Support form', 'borlabs-cache'); ?></span>
                    <span class="description"><?php _ex('Borlabs Cache License Information', 'Support form', 'borlabs-cache'); ?></span>
                    <span class="description"><?php _ex('PHP setting <strong>memory_limit</strong> and <strong>allow_url_fopen</strong>', 'Support form', 'borlabs-cache'); ?></span>
                    <span class="description"><?php _ex('The information listed above will be automatically sent too, you do not have to search for it.', 'Support form', 'borlabs-cache'); ?></span>
                </div>
            </div>

            <hr>
            <?php wp_nonce_field('borlabs_cache_support'); ?>
            <input type="hidden" name="formSend" value="1">
            <input class="button-primary" type="submit" value="<?php _ex('Submit', 'Button title', 'borlabs-cache'); ?>">

        </fieldset>

    </form>

</div>