<h1><?php _ex('Borlabs Cache &rsaquo; View Cache', 'Top headline', 'borlabs-cache'); ?></h1>

<h2 class="nav-tab-wrapper">
    <a href="?page=borlabs-cache-view-cache&amp;tab=pages" class="nav-tab <?php echo $tab == 'pages' ? 'nav-tab-active' : ''; ?>"><?php _ex('Pages', 'Tab title', 'borlabs-cache'); ?></a>
    <a href="?page=borlabs-cache-view-cache&amp;tab=404" class="nav-tab <?php echo $tab == '404' ? 'nav-tab-active' : ''; ?>"><?php _ex('404 (not found)', 'Tab title', 'borlabs-cache'); ?></a>
</h2>