form.cart.ywcp  {
   display: none;
}

form.cart.ywcp.ywcp_form_loaded {
    display: block;
}


.ywcp_components_container h3,
body:not(.search-results) .entry-summary .ywcp_components_container h3:first-child {
    margin-bottom: 10px;
}

.ywcp_components_single_item {
    margin-bottom: 10px;
}

.ywcp_components_single_item h3 abbr {
    margin-left: 5px;
}

.ywcp_components_single_item h3 abbr.required {
    color: #ff1800;
}

.ywcp_components_container select.ywcp_component_otpions_select {
    width: 100%;
}

.ywcp_component_options_list_container .woocommerce-pagination {
    margin-top: 15px;
}

.ywcp_component_otpions_thumbnails_container ul.products li {
    clear: both;
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: 1px solid #d3ced2;
    margin-bottom: 10px;
    cursor: pointer;
}

.ywcp_component_otpions_thumbnails_container ul.products li:last-child {
    margin-bottom: 0;
}

.ywcp_component_otpions_thumbnails_container ul.products li:hover,
.ywcp_component_options_selection_container {
    box-shadow: 0px 0px 2px 2px rgba( 200, 200, 200, 0.4 );
}

.ywcp_component_otpions_thumbnails_container .ywcp_image_container,
.ywcp_component_otpions_thumbnails_container .ywcp_product_info,
.ywcp_component_options_selection_container .ywcp_image_container,
.ywcp_component_options_selection_container .ywcp_product_info {
   float: left;
}

.ywcp_component_otpions_thumbnails_container .ywcp_image_container,
.ywcp_component_options_selection_container .ywcp_image_container,
.woocommerce #content div.product div.images.ywcp_image_container,
.woocommerce div.product div.ywcp_image_container.images,
.woocommerce-page #content div.product div.ywcp_image_container.images,
.woocommerce-page div.product div.ywcp_image_container.images,
#content .twentysixteen div.product div.ywcp_image_container.images {
    width: 80px;
    margin-bottom: 5px;
    display: inline-block;
    float: left;
}

.ywcp_component_otpions_thumbnails_container .ywcp_product_info,
.ywcp_component_options_selection_container .ywcp_product_info {
    padding-left: 10px;
}

.ywcp_component_otpions_thumbnails_container ul.products,
body:not(.search-results) .entry-summary .ywcp_component_otpions_thumbnails_container ul {

    margin-bottom: 0;

}

.ywcp_component_options_radio_input_container input,
.ywcp_component_options_radio_input_container > label {
    cursor: pointer;
}

/* selection */

.ywcp_component_options_selection_container {
    width: 100%;
    padding: 10px;
    display: none;
}

.woocommerce div.product form.cart .ywcp_component_options_selection_container .variations {
      margin-bottom: 0;
}

.ywcp_component_options_selection_container .variations td {
    padding-bottom: 0;
}

.ywcp_component_options_selection_container .variations td.label,
.ywcp_component_options_selection_container .woocommerce-variation-price {
     text-align: right;
}
.ywcp_component_options_selection_container .woocommerce-variation-price {
    display: none !important;
}

.ywcp_component_options_list_container,
.ywcp_selection_opened .ywcp_selection_open,
.ywcp_selection_selected .ywcp_selection_open,
.ywcp_selection_close, .ywcp_selection_clear,
.ywcp_components_single_item_dependence_selected.ywcp_selection_selected .ywcp_selection_clear {
    display: none;
}

.ywcp_selection_opened .ywcp_component_options_list_container {

    display: block;

}

.ywcp_selection_opened .ywcp_selection_close,
.ywcp_selection_selected .ywcp_selection_clear,
.ywcp_selection_selected .ywcp_component_options_selection_container {

    display: inline-block;

}

a.ywcp_selection_clear {
    background: #CCC;
    padding: 2px 5px 2px 15px;
    text-decoration: none;
    box-shadow: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    background-image: url('./images/clear-selection.png');
    background-repeat: no-repeat;
    background-position: 5px;
    font-size: 11px;
    text-transform: uppercase;
}

.ywcp_component_subtotal {
    float: right;
    display: none;
}

.woocommerce div.product form.cart .ywcp_component_options_selection_container div.quantity,
.woocommerce div.product form.cart .ywcp_component_options_selection_container a.reset_variations {
   float: right;
}

.woocommerce div.product form.cart .ywcp_component_options_selection_container .variations select {
  width: 100%;
}

.ywcp_product_disabled{
    pointer-events:none;
    opacity:0.4;
}

/* quick view */

.ywcp_product_link .yith-wcqv-button {

    display: inline-block;

}

.ywcp_product_link .yith-wcqv-button > span {

    padding: 5px;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;

}

.ywcp_customer_advice_component_list {
    margin-left: 10px;
    text-decoration: underline;
}

/* Acccordion style */

.ywcp_accordion .ywcp_components_single_item {
    margin-bottom: 15px;
}

.ywcp_accordion a.ywcp_selection_open,
.ywcp_accordion a.ywcp_selection_close {

    margin-left: 5px;
    box-shadow: none;

}

.ywcp_accordion a.ywcp_selection_open img,
.ywcp_accordion a.ywcp_selection_close img {
    display: inline-block;
}

.ywcp_accordion div:not(.ywcp_selection_selected).ywcp_components_single_item > h3 {
    cursor: pointer;
}

.ywcp_accordion .ywcp_component_description {
    display: none;
}

.ywcp_accordion .ywcp_selection_opened .ywcp_component_description {
    display: block;
}

/* listed & step style */

.ywcp_list .ywcp_component_options_list_container,
.ywcp_step .ywcp_component_options_list_container {

    display: block;

}

.ywcp_list .ywcp_selection_open,
.ywcp_list .ywcp_selection_close,
.ywcp_list .ywcp_selection_selected .ywcp_component_options_list_container,
.ywcp_step .ywcp_selection_open,
.ywcp_step .ywcp_selection_close,
.ywcp_step .ywcp_selection_selected .ywcp_component_options_list_container {
    display: none;
}

.ywcp_step .ywcp_components_single_item {
   display: none;
}

.ywcp_step .ywcp_components_single_item.ywcp_current_step_item {
    display: block;
}

.ywcp_step_navigation {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}

.ywcp_step_prev {
    float: left;
}

.ywcp_step_next {
    float: right;
}

.ywcp_step_first .ywcp_step_prev,
.ywcp_step_last .ywcp_step_next {
    visibility: hidden;
}

.ywcp_customer_advice {
    margin-bottom: 10px;
}

.ywcp_step .ywcp_components_required_blocked, .ywcp_customer_advice {
    padding: 10px;
    border: 2px solid #ff1800;
}

.ywcp_customer_advice > p,body:not(.search-results) .entry-summary .ywcp_customer_advice p {
    padding: 0;
    margin: 0;
}

.ywcp_step_current_info {
    display: inline-block;
}

.ywcp_clear {
    clear: both;
}

/* total */

.ywcp_wcp_group_total table td {
    text-align: right;
    padding-right: 5px;
}

/* dependence */

.ywcp_components_single_item_depenence_hided {
    display: none;
}

/* cart */

tr.ywcp_component_item > td {

    border-bottom: none ;

}

tr.cart_item.ywcp_component_child_item,
tr.order_item.ywcp_component_child_item{
    font-size: 12px;
}

tr.cart_item.ywcp_component_child_item > td,
tr.order_item.ywcp_component_child_item > td {

    border-top: none ;
    border-bottom: none ;

}

tr.order_item.ywcp_component_child_item > td .ywcp_cart_component_name a {
    float: left;
    margin-right: 5px;
}

tr.cart_item.ywcp_component_child_item > td .ywcp_cart_component_name,
tr.cart_item.ywcp_component_child_item > td.product-name > dl.variation,
tr.order_item.ywcp_component_child_item > td .ywcp_cart_component_name,
tr.order_item.ywcp_component_child_item > td.product-name > dl.variation {

    margin-left: 10px;

}

tr.cart_item.ywcp_component_child_item > td .ywcp_cart_component_name > label,
tr.order_item.ywcp_component_child_item > td .ywcp_cart_component_name > label {
    display: block;
    font-weight: bold;
}

/* YITH Product Add-Ons */

#ywcp_wcp_tr_wapo_option_total.ywcp_wapo_total_hided {
    display: none;
}

div.product-type-yith-composite .yith_wapo_group_total {
    display: none !important;
}