<h2>2018 August 23 - Version 2.0.3 (Current)</h2>

<h4>Bug Fixes</h4>
<ul>
	<li>Properly translate all validation messages.</li>
	<li>Give "users" role permission to view billing plans by default.</li>
	<li>Fix copying directories on cloud storage providers.</li>
	<li>Fix file download not working on some servers.</li>
	<li>Correctly store large "available space" setting values in database.</li>
	<li>Use database table prefix specified during installation.</li>
</ul>

<h4>Enhancements</h4>
<ul>
	<li>Reduce logo size on landing page on mobile.</li>
	<li>Improve migration of old files (uploaded prior to 2.0.0).</li>
</ul>

<h2>2018 August 21 - Version 2.0.2</h2>

<h4>Bug Fixes</h4>
<ul>
	<li>Temporary directory for downloads will now be created properly.</li>
	<li>Radio buttons and checkboxes should now be properly affected by appearance editor.</li>
</ul>

<h4>Enhancements</h4>
<ul>
	<li>Improved compatibility with MariaDB.</li>
</ul>

<h2>2018 August 20 - Version 2.0.1</h2>

<h4>Bug Fixes</h4>
<ul>
	<li>Sample menu links will now have correct urls.</li>
	<li>Don't try to create plans marked as "free" on payment gateways.</li>
	<li>Correct billing plan "amount" on stripe gateway.</li>
	<li>Properly show paypal subscription loading pop-up.</li>
	<li>Properly load user available space from user plan's parent (if parent available)</li>
	<li>Show file previews while files are in trash.</li>
	<li>Delete shareable links when files are permanently deleted from trash.</li>
	<li>Update file entry "starred" state without required a page refresh.</li>
	<li>Files and folders protected by password should now be downloadable.</li>
	<li>Selected view mode and mobile/desktop mode will be preserved when navigating between drive and other pages.</li>
	<li>Files should be properly scrollable on mobile.</li>
</ul>

<h4>Enhancements</h4>
<ul>
	<li>Match account settings and subscription page colors to rest of site.</li>
	<li>Images and videos should no longer be cut off when previewing on smaller screen.</li>
	<li>Long text documents will now be scrollable when previewed.</li>
	<li>Improved support for IE11 and other older browsers.</li>
	<li>Show 404 page if shareable link is expired, does not exist anymore or file entry is trashed.</li>
</ul>

<h2>2018 August 18 - Version 2.0.0</h2>

<h4>New Features</h4>
<ul>
	<li>New site design, based on Google's Material Design.</li>
	<li>File and folder sharing and collaboration between users.</li>
	<li>Public shareable links with expiration, passwords and permissions.</li>
	<li>Full support for folder uploads.</li>
	<li>Roles and permissions system for giving users access to diffrent functionality on the site.</li>
	<li>Custom pages management and creation with WYSIWYG editor in admin panel.</li>
	<li>Translation management in admin panel and multi-language support.</li>
	<li>Appearance editor in admin panel for changing look of the site.</li>
	<li>Menu manager for managing different menus on the site from admin panel.</li>
	<li>New account settings page.</li>
	<li>Google analytics integration in admin panel.</li>
	<li>Paypal integration for user subscriptions.</li>
	<li>Billing plans and subscriptions can now be managed from admin panel.</li>
	<li>Mail templates editor in admin panel.</li>
	<li>Support for DigitalOcean and other S3 compatible cloud storage services.</li>
</ul>

<h4>Enhancements</h4>
<ul>
	<li>Pages should load 40% to 60% faster.</li>
	<li>Support for all latest PHP version.</li>
	<li>Better support for https (including proxies like cloudflare).</li>
	<li>Improved drag & drop and touch support.</li>
	<li>Upgraded to latest web technologies, allowing things like progressive web app and server-side rendering.</li>
	<li>Lots of improvements to mobile version of the site.</li>
	<li>Fully rewrote how files and folders are stored on backend, which improves performance and fixes many issues.</li>
	<li>Lots of improvements to search functionality and performance.</li>
	<li>Folders and sub-folders can now have duplicate names.</li>
	<li>Many new settings for billing, localization, authentication, logging, cache and more in settings page.</li>
	<li>Many improvements to authentication, including password reset, account confirmation and more.</li>
</ul>

<h4>Bug Fixes</h4>
<ul>
	<li>2.0.0 is a full re-write of BeDrive, it fixes and improves a lot of issues in all parts of the site.</li>
</ul>

<h2>2018 April 17 - Version 1.9.4</h2>
<ul>
	<li>compatability with new version of stripe API.</li>
	<li>prevent warnings in chrome due to duplicate element IDs.</li>
</ul>

<h2>2018 February 21 - Version 1.9.3</h2>
<ul>
	<li>compatibility with PHP 7.1+</li>
	<li>compatibility with new dropbox API version.</li>
	<li>video and audio previews will now use native browser player.</li>
	<li>fixed an issue where error messages would overlay inputs sometimes.</li>
	<li>fixed an issue with password change not working on some servers.</li>
</ul>

<h2>2017 May 4 - Version 1.9.2</h2>
<ul>
	<li>File and folder download urls will now be encrypted properly.</li>
	<li>Space usage will now load correctly when using S3.</li>
	<li>Improved performance of dashboard when folder has many files.</li>
	<li>Thumbnails for svg images will now be generated properly.</li>
	<li>Facebook social login will now work with new version of facebook API.</li>
	<li>Multiple files will now be properly selectable.</li>
</ul>

<h2>2017 March 4 - Version 1.9.1</h2>
<ul>
	<li>Fixed an issue where files in recent folder were not marked as favorited correctly.</li>
	<li>Fixed an issue where file would disappear until page reload when moving it to folder it was already in.</li>
	<li>Fixed an issue where 'copy' and 'move' actions were not working in recent and favorite folders.</li>
	<li>Fixed an issue where upgrade modal was not working without page refresh after logging in.</li>
	<li>Fixed an issue where file renaming would not be reflected in favorites folder until page refresh.</li>
	<li>Fixed an error that occurred when uploading files to folder if that folder had sub-folders.</li>
	<li>Fixed copying file link to clipboard not working on some browsers.</li>
	<li>Fixed an issue with search sometimes not working when in favorites or trash folder.</li>
	<li>Fixed some grammar mistakes in english translation files.</li>
</ul>

<h2>2016 October 20 - Version 1.9</h2>
<ul>
	<li>Implemented proper infinite scroll for uploaded files in users dashboard.</li>
	<li>Space available for specific user can now be changed from admin area > users page.</li>
	<li>Number of files that should be loaded in users dashboard initially can now be specified in settings page.</li>
	<li>Site url can now be changed from settings page.</li>
	<li>Current BeDrive version can now be seen in admin area.</li>
	<li>Fixed an issue where composer was not working properly.</li>
	<li>Fixed layout of edit user modal in admin area > users page.</li>
	<li>A number of other smaller bugfixes.</li>
</ul>

<h2>2016 August 15 - Version 1.8</h2>
<ul>
	<li>BeDrive will now work on servers where PUT and DELETE requests are disabled.</li>
	<li>Fixed an issue with user password not being updateable from user dashboard.</li>
	<li>Fixed an issue where file with password was sometimes not shareable.</li>
	<li>Fixed an issue with BeDrive sometimes only using half the screen on phones.</li>
	<li>Fixed an issue with analytics page not working sometimes.</li>
	<li>Fixed an issue with multiple files download not working if using S3 for storage.</li>
</ul>

<h2>2016 May 12 - Version 1.7</h2>
<ul>
	<li>Root folder will now show its sub-folders in dashboard.</li>
	<li>Fixed an issue with files that had password being downloadable without it.</li>
	<li>Fixed an issue with files having double extension when downloading.</li>
	<li>Fixed some display issues in admin area that occurred on firefox.</li>
	<li>Fixed an issue with sharing not working properly.</li>
	<li>Fixed an issue with some settings not saving properly in admin area.</li>
	<li>Fixed an issue with settings page not working properly if using s3 for storing files.</li>
	<li>Fixed an issue with database prefix not working correctly during installation.</li>
</ul>

<h2>2016 February 19 - Version 1.6</h2>
<ul>
	<li>Implemented a new installer that will try to automatically correct a number of common server issues.</li>
	<li>Long press on file thumbnail will now open file context menu on touch screens.</li>
	<li>Double tap on file thumbnail will now open file preview on touch screens.</li>
	<li>Mail and cloud storage credentials can now be entered in admin area > settings page directly.</li>
	<li>Free plan maximum space will now be correctly reflected in upgrade modal.</li>
	<li>Link copy functionality should now work properly on firefox.</li>
	<li>Fixed an issue where folder renaming would not reflect in subfolders breadcrumbs properly.</li>
	<li>Fixed an issue where not logged in users could not download folders via share link.</li>
	<li>Fixed an issue with avatars not being resized properly in admin area users table.</li>
</ul>

<h2>2015 December 18 - Version 1.5</h2>
<ul>
	<li>Greatly improved performance of all admin tables.</li>
	<li>Made several improvements to responsive design.</li>
	<li>Fixed several issues withs ads.</li>
	<li>Fixed an issue where installation page was not scrollable.</li>
	<li>Fixed an issue where multi-selecting would not work properly on some servers.</li>
	<li>Fixed an issue where preview of files that are in trash would not work properly.</li>
	<li>Fixed an issue where folders were not downloadable on some servers.</li>
	<li>Fixed an issue where folder renaming would not reflect in breadcrumbs properly.</li>
	<li>Fixed an issue where site name change in admin area would not affect user dashboard.</li>
	<li>Fixed an issue where register button would still show in preview page if registration was disabled.</li>
</ul>

<h2>2015 October 28 - Version 1.4</h2>
<ul>
	<li>Meta title and description entered in admin panel will now be added to all pages.</li>
	<li>Added some missing translations to translations file.</li>
	<li>Improved file previews on all browsers and fixed a number of small issues related to it.</li>
	<li>Fixed an issue where text preview was not scrolling properly.</li>
	<li>Fixed an issue where multiple files download would not work on some servers.</li>
	<li>Fixed an issue where image thumbnails would not work properly when using dropbox to store files.</li>
	<li>Fixed an issue where some settings would not save properly when using dropbox to store files.</li>
	<li>Fixed an issue with analytics page sometimes not working properly.</li>
	<li>Fixed an issue where admin was not able to create users from admin panel if registration was disabled.</li>
	<li>Fixed an issue where folders with # in their name would not work properly.</li>
	<li>Fixed an issue where files would not download properly sometimes when using amazon S3 or dropbox for storing
		files.
	</li>
	<li>Fixed an issue with some of the admin tables not working properly on Safari when using Mac or iOS.</li>
	<li>Fixed an issue where file extension would not be added to filename properly sometimes when downloading a
		file.
	</li>
</ul>

<h2>2015 October 2 - Version 1.3</h2>
<ul>
	<li>Fixed an issue with dialogs not working on iOS and some versions of mac properly.</li>
	<li>Fixed some issues with upgrade modal responsiveness.</li>
	<li>Fixed an issue with upload panel getting cut off if uploading many files at the same time.</li>
	<li>Fixed an issue where non admin accounts were not able to delete files from trash properly.</li>
	<li>Fixed an issue with user settings modal not working when in admin area.</li>
	<li>Fixed an issue with first name and last name fields being mixed in admin area users page.</li>
</ul>

<h2>2015 September 20 - Version 1.2</h2>
<ul>
	<li>Fixed an issue with thumbnails not generating properly for uploaded images on some servers.</li>
	<li>Fixed an issue with files not being deleted from filesystem properly after user deletes them from trash page.
	</li>
	<li>Fixed an issue where some service keys were shown in plain text when viewing page source.</li>
	<li>Fixed an issue with folders being movable to themselves via move to menu.</li>
	<li>Fixed an issue with admin area analytics page getting cut off on smaller screens.</li>
</ul>

<h2>2015 September 07 - Version 1.1</h2>
<ul>
	<li>Lading page will now redirect to users dashboard if it's accessed when user is logged in.</li>
	<li>Files table in admin area will now show user that file belongs to.</li>
	<li>Ads will now be hidden for subscribed/premium users.</li>
	<li>Fixed an issue where register button would still be visible after disabling registration from admin area.</li>
	<li>Fixed an issue with rar, iso, apk and some other more obscure file types not uploading properly sometimes.</li>
	<li>Fixed an issue with file and folder move modal not being closable.</li>
	<li>Removed some deprecated features information from documentation.</li>
</ul>