#ign_wsp_form p.form-row-wide { 
	clear:both;
}
#ign_wsp_form input, #ign_wsp_form textarea, #ign_wsp_form button, #ign_wsp_form select {
	width: 100%;
}
#ign_wsp_form input[type="radio"] { 
	width: 1em;
	margin-right: 1em;
}
#ign_wsp_form input[type="checkbox"] { 
	margin-right: 0.5em;
	vertical-align: middle;
	width: 1em;
}
#ign_wsp_form input[type="submit"] {
	width: auto;
}
#ign_wsp_form label {
}
#ign_wsp_form .required {
	color: #bf0000;
	font-weight: bold;
	padding-left: 7px;
}
#ign_wsp_form .field_required {
	border: 2px solid #bf0000;
}
.radio_span label { 
	display: inline-block;
	vertical-align: super;
	font-weight: normal;
}
