/*
 * Please see wp-cookie-allow.php for more details.
 * @author $Author: Vincent Weber <vincent@webrtistik.nl> $
 * @version $Id$
 * @since 2.3
 */
#wpca-placeholer-html { display:none }
.wpca-replacement-elem, .wpca-replacement-elem * { box-sizing:border-box }
.wpca-replacement-elem { width:100%; max-width:100%; font-weight:bold; padding:10px; position:relative; z-index:1; background:#F4EFEA; overflow:hidden; text-align:left; padding:1em; margin:1em 0 }
.wpca-replacement-elem:first-child { margin-top:0 }
.wpca-replacement-elem .wpca-replacement-logo { width:13%; height:auto; max-width:100%; position:absolute; bottom:0; right:0; z-index:100000 }
.wpca-replacement-elem p { padding-right:13px; }
.wpca-replacement-elem img {  border:none !important; border-radius:0 !important; box-shadow:none !important }
.wpca-replacement-elem .wpca-btn-accept { margin:10px 0; display:block }
.sidebar .widget .wpca-replacement-elem p { padding-right:0 }
.sidebar .widget .wpca-replacement-elem .wpca-btn-accept { width:100% }