.woopack-modal {
    display: none;
}
.woopack-modal .woopack-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: 999998;
}
.woopack-modal .woopack-modal-inner {
    position: fixed;
    top: 50%;
    left: 50%;
    min-height: 180px;
    min-width: 500px;
    padding: 20px;
    background: #fff;
    z-index: 999999;
    transform: translate3d(-50%, -50%, 0);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    transition: all 0.2s ease-in-out;
}
.woopack-modal.woopack-modal-fullscreen .woopack-modal-inner {
    width: 100%;
    height: 100%;
    padding: 0;
}
.woopack-modal .woopack-modal-content {
    background-size: 30px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    min-height: 50px;
    min-width: 50px;
}
.woopack-modal.woopack-content-loaded .woopack-modal-content {
    background-image: none !important;
}
.woopack-modal .woopack-modal-content:before,
.woopack-modal .woopack-modal-content:after {
    content: " ";
    display: table;
}
.woopack-modal .woopack-modal-content:after {
    clear: both;
}
.woopack-modal.woopack-modal-fullscreen .woopack-modal-content {
    height: 100%;
    width: 100%;
}
.woopack-modal.woopack-modal-fullscreen .woopack-modal-content iframe {
    height: 100vh;
    width: 100%;
}
.woopack-modal .woopack-modal-close {
    position: fixed;
    top: -12px;
    right: -12px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-family: Helvetica, Arial;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
    background: #fff;
    z-index: 999999999;
    color: #737373;
    border-radius: 50px;
    line-height: 1.5;
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
}
.woopack-modal.woopack-modal-hide-close .woopack-modal-close {
    display: none;
}
.woopack-modal.woopack-modal-fullscreen.woopack-modal-has-iframe .woopack-modal-close {
    width: auto;
    height: auto;
    font-size: 30px;
    background: none;
    color: #fff;
    box-shadow: none;
    top: 0;
    right: 58px;
}

.woopack-modal .woocommerce div.product div.images.woocommerce-product-gallery {
    opacity: 1 !important;
}

@media (min-width: 768px) {
    .woopack-modal .woopack-modal-inner {
        width: 670px;
    }
}
@media (max-width: 768px) {
    .woopack-modal .woopack-modal-inner .fl-row-content-wrap {
        padding: 0 !important;
    }
}
@media (max-width: 767px) {
    .woopack-modal .woopack-modal-close {
        top: 8px;
        right: 8px;
    }
    .woopack-modal .woopack-modal-inner {
        width: 100%;
        min-width: auto;
        top: 0;
        left: 0;
        transform: none;
        overflow-y: auto;
    }
}
