/**
 * Storefront integration styles
 */

div.product .jet-woo-builder .woocommerce-product-gallery .flex-control-thumbs li {
	display: inline-block;
}

.single-product div.product .jet-woo-builder .product_meta {
	padding: 0;
	font-size: inherit;
	border: none;
}

.jet-woo-builder .woocommerce-tabs ul.tabs li:after{
	display: none;
}

.single-product div.product .jet-woo-builder .woocommerce-product-rating{
	margin-top: 0;
	margin-bottom: 0;
}