.njba-instagram-feed {
	position: relative;
}

.njba-instagram-feed .swiper-button-prev,
.njba-instagram-feed .swiper-button-next {
	background: none;
}

.njba-instagram-feed .njba-swiper-button {
	font-size: 30px;
	color: #fff;
}

.mfp-wrap .mfp-content .mfp-close,
.mfp-wrap .mfp-content .mfp-close:hover {
	top: 0 !important;
    background: rgba(0,0,0,0.8) !important;
    display: inline-block !important;
    width: auto;
    border-radius: 0;
    right: 0;
    padding: 7px;
    height: auto;
    line-height: 0.6;
}

.njba-instagram-feed .njba-instagram-feed-items:before,
.njba-instagram-feed .njba-instagram-feed-items:after {
	content: " ";
	display: table;
}
.njba-instagram-feed .njba-instagram-feed-items:after {
	clear: both;
}

.njba-instagram-feed .njba-feed-item {
    display: block;
	position: relative;
	overflow: hidden;
}

.njba-instagram-feed .njba-overlay-container {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
}

.njba-instagram-feed .njba-overlay-container span {
    margin: 0 5px;
}

.njba-instagram-feed .njba-instagram-feed-title-wrap {
    background: #fff;
    position: absolute;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 6px 30px;
	text-align: center;
}

.njba-instagram-feed .njba-instagram-feed-title-wrap a {
	text-decoration: none;
}

.njba-instagram-feed.njba-instagram-feed-hover .njba-overlay-container {
    opacity: 0;
    -webkit-transition: all 0.25s linear 0s;
    transition: all 0.25s linear 0s;
}

.njba-instagram-feed.njba-instagram-feed-hover .njba-feed-item:hover .njba-overlay-container {
    opacity: 1;
}

.njba-instagram-feed .njba-swiper-button {
	height: auto;
    width: auto;
    line-height: 0;
}