.mainwp-rocket-tut, #mainwp-rocket-tips {
	display: none;
}

.mwp-scheduled-text {
	color: blue;
}
#mainwp_rocket_settings a{
	text-decoration: none;
}
.mainwp_rocket_backupslist_row {
	margin-bottom: 15px;
}
.mainwp-backupw-backup-in {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	margin: 0 0 10px;
	padding: 10px;
}

.backupslist_row table tr th:first-child {
	width: 40%;
}
.backupslist_row table tr th:nth-child(2) {
	width: 20%;
}
.backupslist_row table tr th:nth-child(3) {
	width: 20%;
}
.backupslist_row table tr th:nth-child(4) {
	width: 20%;
}

#mainwp_rocket_settings .top, #mainwp_rocket_settings .bottom {
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	padding: 15px;
}

#mwp_rocket_rightnow_working_status{
	float: right;
	margin: 5px 5px 0 0;
}

.extra-message.update-message{
	background-color: #dddddd !important;
}
.extra-message.update-message::before {
	content: none;
}

#the-mwp-rocket-list .warn td, #the-mwp-rocket-list .warn th {
	border-bottom: 0 none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

#the-mwp-rocket-list .plugin-update-tr.warn td + th{
	padding: 0;
	border: none;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1);
}

#the-mwp-rocket-list .plugin-update-tr .extra-message {
	font-size: 13px;
	font-weight: normal;
	margin: 6px 12px 12px;
	padding: 6px 12px;
	margin: 0 10px 8px 0px;
	background-color: #f7f7f7;
	background-color: rgba(0,0,0,0.03);
}
.child-css-row{
    margin-left: 20px;
}