.featured-property-title {
    color: #010101;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 8px;
    margin-top: 5px;
}
.featured-property-content {
    /*font-size: 16px;*/
    color: #666666;
    /*line-height: 24px;*/
}
.property-read-more a {
    background-color: #ff8a00;
    color: #fff;
    text-decoration: none;
    /*font-size: 15px;*/
    padding: 9px 20px;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 32px;
}
.featured-property-description {
    background-color: #f5f5f5;
    padding: 30px 26px;
}
.property-read-more {
    text-align: center;
}
