/**
 * All Types Meta Box Class CSS
 *
 * CSS used for the custom metaboxes and other form items.
 */

/* =Common Rules for all fields.
----------------------------------------------- */
.form-table td.woo-vou-meta-field { 
	padding: 10px 10px 20px; 
	margin: 0px; 
}
.woo-vou-meta-label { 
	margin: 0 0 5px 0; 
	padding: 5px 0 0 0; 
}
.woo-vou-meta-radio-label { 
	padding-right: 5px !important;
	/*margin-right: -50px !important;*/
}				
.woo-vou-meta-file-upload-label { 
	clear: both; 
	margin: 5px 0px 5px 1px; 
}	

/* =Form Fields
----------------------------------------------- */
.postbox .woo-vou-meta-field input,
.postbox .woo-vou-meta-field textarea { 
	padding: 5px; 
	line-height: 18px; 
} 
.postbox .woo-vou-meta-field input.woo-vou-meta-radio{}
.postbox .woo-vou-meta-field input.woo-vou-meta-color { 
	border: 0px; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
	margin-right: 10px; 
	min-width: 100px; 
}
.woo-vou-meta-field input:focus, 
.woo-vou-meta-field textarea:focus { 
	background: #fffff8; 
}
#wpcontent select.woo-vou-meta-select { 
	height: 30px !important; 
	padding: 5px; 
	display: block; 
	min-width: 200px; 
}
.woo-vou-meta-field .desc-field { 
	color: #AAA; 
	font-style: italic; 
	margin: 5px 0 0 3px !important; 
	font-size: 13px; 
}
.woo-vou-meta-field .wp_themeSkin table.mceLayout { 
	border: 1px solid #DFDFDF; 
}
#post-body .woo-vou-meta-field .wp_themeSkin .mceStatusbar a.mceResize { 
	top: -25px; 
} 
p.woo-vou-meta,
.desc-field {
	color: #7d7d7d;
	font-style: italic;
	margin: 5px 0;
	font-size: 13px; 
}
.wp-editor-container .wp_themeSkin iframe {
	background: #fff !important;
	min-height:350px !important;
}

/* =Uploaded Images
----------------------------------------------- */
.woo-vou-meta-images li { 
	margin: 5px 10px 0px 0; 
	float: left; 
	width: 150px; 
	height: 150px; 
	text-align: center; 
	border: 3px solid #ccc; 
	cursor: move; 
	position: relative; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
}
.woo-vou-meta-images img { 
	width: 150px; 
	height: 150px; 
}
.woo-vou-meta-images a { 
	position: absolute; 
	top: -12px; 
	right: -12px; 
	color: #fff;  
	font-weight: bold; 
	padding: 5px; 
}
.woo-vou-meta-images .woo-vou-meta-delete-file img{
	width: 16px; 
	height: 16px; 
}

/* =Upload Button
----------------------------------------------- */
.woo-vou-meta-upload-button { 
	float: left; 
	clear: both; 
	margin-top: 10px; 
}
.woo-vou-meta-add-file { 
	float: left; 
	clear: both; 
	margin-top: 10px; 
}
.woo-vou-meta-delete_image_button {
	margin-left: 5px !important;
}
 
/* =Time Picker
----------------------------------------------- */
.ui-timepicker-div { 
	font-size: 0.9em; 
}
.ui-timepicker-div .ui-widget-header { 
	margin-bottom: 8px; 
}
.ui-timepicker-div dl { 
	text-align: left; 
}
.ui-timepicker-div dl dt { 
	height: 25px; 
}
.ui-timepicker-div dl dd { 
	margin: -25px 0 10px 65px; 
}
.ui-timepicker-div td { 
	font-size: 90%; 
}
#ui-datepicker-div {
	display: none;
}
/* =Repater Block
----------------------------------------------- */
.woo-vou-meta-repater-block {
	background: #fff;
	border: 1px solid #DFDFDF;
	border-radius: 5px;
	padding: 5px 5px 5px 10px;
	margin-bottom: 15px;
	float: left;
	position: relative;
	display: block;
	width: 100%;
}
.woo-vou-meta-repater-block img {
	margin-right: 15px;
	float: right;
}
.woo-vou-meta-repeat img {
	cursor: pointer;
}
/* inline */
.woo-vou-meta-inline label {
	font-size: 12px !important;
}
.woo-vou-meta-inline textarea {
	height: 130px;
	width: 200px;
}

.woo_vou_success_msg .wp-editor {
	background-color: #fff !important;
}

/*** CSS For MetaBox Tabs *****/
/**
 * Metabox Tabs
 */
.woo-vou-metabox-tabs-div ul.metabox-tabs {
	display: none;
	margin-top: 12px;
	margin-bottom: 3px;
}
.woo-vou-metabox-tabs-div ul {
	list-style: none;
}
.woo-vou-metabox-tabs-div ul.metabox-tabs li {
	display: inline;
}
.woo-vou-metabox-tabs-div ul.metabox-tabs li.active {
	border-style: solid solid none;
	border-width: 1px 1px 0;
	background: #fff;
}
.woo-vou-metabox-tabs-div ul.metabox-tabs li {
	padding: 5px;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-khtml-border-top-left-radius: 3px;
	-khtml-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.woo-vou-metabox-tabs-div ul.metabox-tabs a {
	text-decoration: none;
}
.woo-vou-metabox-tabs-div div.tabs-panel {
	overflow: auto;
	padding: 0.5em 0.9em;
	border-style: solid;
	border-width: 1px;
}
.woo-vou-metabox-tabs-div .heading {
	padding-left:10px;
}
.woo-vou-metabox-tabs-div .tab-content{
	overflow: auto;
	padding: 0.5em 0.9em;
	border-style: solid;
	border-width: 1px;
	background: #fff;
}
.woo-vou-metabox-tabs-div ul.metabox-tabs li.active {
	background-color: #fff;
}
.woo-vou-metabox-tabs-div ul.metabox-tabs li.active, div.tab-content {
	border-color: #D1E5EE;
}
.woo-vou-metabox-tabs-div ul.metabox-tabs .active a {
	color: #333;
}
.woo-vou-metabox-tabs-div ul.metabox-tabs li.active, div.tab-content {
	border-color: #DFDFDF;
}
.woo-vou-metabox-tabs-div ul.metabox-tabs .active a {
	color: #333;
}
.woo-vou-upload-files{
	background: none repeat scroll 0 0 #FFFFFF;
    display: block;
   /* padding: 2px 8px;*/
    position: relative;
    right: 30px;
    top: 5px;
    margin-top: -27px;
    float: right;
}
.woo-vou-upload-files a {
	text-decoration:none;
}
table.woo-vou-stat-table tr th {
	 width: 100px;
}
#vou_error_message_box {
	display: none;
}
.woo-vou-error-message {
	background-color: #FFEBE8;
	border: 1px solid #CC0000;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 5px 5px 0 0;
	padding: 2px;
	display: block !important;
}
.woo-vou-error-message p {
	line-height: 24px;
    margin: 0;
    padding: 5px 9px;
}
.woo-vou-meta-display-none {
	display: none;
}
/*** Start Backgroud Pattern CSS ***/
.woo-vou-meta-bg-patterns {
	width: 150px;
	height: 100px;
	margin: 0 5px 5px 0;
	cursor: pointer;
	border: 3px solid #FFFFFF;
}
.woo-vou-meta-bg-pattern-selected {
	border: 3px solid #999999;
}
/*** End Backgroud Pattern CSS ***/

/*** Start Order Voucher Details CSS **/
#woo-vou-order-voucher-details .inside {
	padding: 0;
	margin: 0;
}
.woo-vou-history-table .woo-vou-history-title-row {
	background-color: #F1F1F1;
}
.woo-vou-history-table .woo-vou-history-title-row th {
	font-weight: bold;
}
.woo-vou-history-table p {
	margin: 1px 0 !important;
}
.woo-vou-history-table {
	border: none !important;
}
.woo-vou-history-table .woo-vou-history-td {
	border-bottom: 1px solid #C3C3C3;
}
/*** End Order Voucher Details CSS **/

.woo-vou-cust-description{
	float: left; 
	margin: 0px 0px 10px 14.7%;
}
._woo_vou_product_start_date_field{
	width:100%;
	float:left;
}
#woo_vou_voucher .recipient-detail-wrap ._woo_vou_pdf_template_selection_field label{
	width:100% !important;
	margin-top:20px;
}
._woo_vou_enable_pdf_template_selection_field span{
#	margin-top:-30px !important;
}
#woo_vou_voucher ._woo_vou_vendor_user_field .select2-container,
#woo_vou_voucher ._woo_vou_pdf_template_field .select2-container,
#woo_vou_voucher ._woo_vou_using_type_field .select2-container,
#woo_vou_voucher ._woo_vou_sec_vendor_users_field .select2-container {
	min-width:300px !important;
}
#woo_vou_voucher ._woo_vou_days_diff_field .select2-container {
	min-width:200px !important;
}
.woo-vou-description {
	line-height: 2.5;
}