@color_error:   #c31e34;
@color_primary: #008ec2;
@color_success: #1ec31e;
@color_warning: #dd8610;

.ezfc * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.nomargin {
	margin: 0;
}
.clone {
	display: none !important;
}
.ezfc .ezfc-hidden {
	display: none;
}
.text-right {
	text-align: right;
}
.pull-right {
	float: right;
}
.full-width {
	width: 100%;
}
.ezfc-clear {
	clear: both;
}
.ezfc-spacer {
	margin-bottom: 5px;
}

.overflow-y-hidden {
	overflow-y: hidden !important;
}

.ezfc-wrapper > .row {
	margin-bottom: 1em;
}

.inner {
	padding: 5px 15px 5px;
    background: #fff;
    border: #e6e6e6 1px solid;

    h3 {
    	margin-top: 0.5em;

    	~ h3 {
    		margin-top: 1.5em;
    	}
    }

    + .inner {
    	margin-top: 1em;
	}
}

.heading-title {
	margin-bottom: 0.3em;
}

// select target
.ezfc-select-target .ezfc-form-element-name {
	cursor: cell !important;
}

/**
	columns
**/
.ezfc-grid-6 {
	[class*="ezfc-col-"] {margin-right: 0.9%; }
	
    .ezfc-col-1 { width: 15.66666667%; }
    .ezfc-col-2 { width: 32.33333333%; }
    .ezfc-col-3 { width: 49%; }
    .ezfc-col-4 { width: 65.66666667%; }
    .ezfc-col-5 { width: 82.33333333%; }
    .ezfc-col-6 { width: 99%; }
}

.ezfc-grid-12 {
	[class*="ezfc-col-"] {margin-right: 1%; }

    .ezfc-col-1 { width: 7.333333334%; }
    .ezfc-col-2 { width: 15.66666667%; }
    .ezfc-col-3 { width: 24%; }
    .ezfc-col-4 { width: 32.33333333%; }
    .ezfc-col-5 { width: 40.66666667%; }
    .ezfc-col-6 { width: 49%; }
    .ezfc-col-7 { width: 57.33333333%; }
    .ezfc-col-8 { width: 65.66666667%; }
    .ezfc-col-9 { width: 74%; }
    .ezfc-col-10 { width: 82.33333333%; }
    .ezfc-col-11 { width: 90.66666667%; }
    .ezfc-col-12 { width: 99%; }
}

/**
	width grid
**/
.ezfc.ezfc-wrapper {
	.ezfc-width-10 { width: 10%; }
	.ezfc-width-20 { width: 20%; }
	.ezfc-width-30 { width: 30%; }
	.ezfc-width-40 { width: 40%; }
	.ezfc-width-50 { width: 50%; }
	.ezfc-width-60 { width: 60%; }
	.ezfc-width-70 { width: 70%; }
	.ezfc-width-80 { width: 80%; }
	.ezfc-width-90 { width: 90%; }
	.ezfc-width-100 { width: 100%; }
}


/**
	typography
**/
.ezfc {
	h3 {
		border-bottom: #eee 1px solid;
		padding-bottom: 13px;
		margin-bottom: 13px;
	}

	.fa {
		font-size: 1.1em;
	}

	.ezfc-hint {
		color: #666;
		font-style: italic;
		font-size: 0.9em;
	}
}
.ezfc-message, .ezfc-error {
	padding-top: 6px;
	padding-bottom: 6px;

	&:empty {
		padding: 0;
	}
}
.ezfc-changed {
	font-weight: bold;
}

.ezfc-color-success { color: @color_success; }
.ezfc-color-warning { color: @color_warning; }
.ezfc-color-error {	color: @color_error; }

// button
.ezfc {
	.button .fa {
		font-size: 1em;
		vertical-align: middle;
	}
	.button-delete {
		.button-delete;
	}
}
.button-delete {
	color: #E73030;
}

/**
	settings table
**/
.form-table {
	h3 {
		margin: 0;
	}
	tr {
		padding: 0;

		&:nth-child(odd) {
			background-color: #f3f3f3;
		}
	}
	th, td {
		padding: 0.75em 0.5em;
		vertical-align: top;
	}

	th, td, .description {
		font-size: 12px;
	}

	input, select, textarea {
		vertical-align: top;
	}

	textarea {
		min-width: 300px;
		max-width: 100%;
		width: 700px;
		min-height: 100px;
	}

	input[type="number"] {
		width: 80px;
	}

	.ezfc-table-option-hidden {
		display: none;
	}

	.ezfc-element-colorpicker-transparent {
		margin-left: 5px;
	}
	.ezfc-element-transparent-text {
		display: inline-block;
		margin-right: 1em;
		vertical-align: top;
	}

	.ezfc-single-overwrite-button {
		visibility: hidden;
	}
	tr:hover .ezfc-single-overwrite-button {
		visibility: visible;
	}

}

/**
	inline list
**/
.ezfc-inline {
	display: inline-block;
}
.ezfc-inline-list {
	li {
		display: inline-block;
		border-radius: 5px;
		margin-right: 5px;
	}

	a {
		display: inline-block;
		width: 100%;
		height: 100%;
		text-decoration: none;
	}
}
.ezfc-inline-list-autowidth {
	li, li a {
		width: auto;
	}
}

/**
	forms list
**/
.ezfc-forms-list {
	max-height: 600px;
	overflow-y: auto;

	@media (max-width: 991px) {
		max-height: 200px;
	}

	.button {
		display: block;
		margin: 0 0 10px;
		overflow: hidden;
		width: 100%;
	}
}


/**
	option bar
**/
.ezfc-options {
	display: none;
}
.ezfc-options-schedule {
	display: none;

	th {
		padding: 5px 20px 0 0;
		text-align: left;
		vertical-align: top;
	}
}

/**
	form element list
**/
// form
#form-elements {
	min-height: 300px;
	min-width: 100%;
	max-width: 100%;
}
// container
#form-elements-list {
	margin-bottom: 0;
	min-height: 100px;
	padding-bottom: 50px;

	&:after {
		clear: both;
		content: " ";
		display: table;
	}
}
#empty-form-text {
	display: none;
}

.ezfc-elements-show {
	min-width: 350px;
}

.ezfc-element {
	width: 100%;
	margin-bottom: 0.2em !important;
}

.ezfc-form-options li.button {
	margin-right: 5px;
	margin-bottom: 5px;
	width: 145px;
}

.ezfc-form-elements {
	list-style: none;
	
	.button {
		overflow: hidden;
	}
}

.ezfc-form-element {
	display: inline-block;
	float: left;
	position: relative;

	&, .ezfc-form-submission {
		background: #f7f7f7;
		border: #d1d4d1 1px solid;
		box-shadow: #eee 0 2px 5px;
	}
}

// active form element
.ezfc-form-element-active, .ezfc-form-element-tmp-active {
	> .ezfc-form-element-name {
		background-color: @color_primary;
		color: #fff;
		.transition;
	}
}

// disabled form element
.ezfc-form-element-disabled {
	/*background-color: #ccc;
	color: #999;*/
	display: none !important;
}

.ezfc-form-element-name, .ezfc-form-submission-name {
	border-bottom: #e6e6e6 1px solid;
	padding: 10px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	.transition();

	&:hover {
		background: lighten(@color_primary, 10%);
		color: #fff;
		cursor: pointer;
	}
}
.ezfc-form-element-name {
    .transition();
    
	.button {
		opacity: 0;
		.transition();
	}

	&:hover {
		padding-left: 70px;
		min-width: 250px;
    	z-index: 999999;

		.button {
			opacity: 1;
		}
	}
}

.ezfc-form-element-group > .ezfc-form-element-name:hover {
	padding-left: 100px;
}

.ezfc-form-submission-name {
	.fa-check {
		color: #42C042;
	}
	.fa-times {
		color: #F62424;
	}
}

.ezfc-badge {
	background-color: @color_primary;
	border-radius: 99em;
	color: #fff;
	display: inline-block;
	margin-left: 0.3em;
	padding: 0 0.5em;
	.transition();

	&:empty {
		display: none;
	}

	.active & {
		background-color: #fff;
		color: @color_primary;
	}
}

.ezfc-form-submission-data {
	padding: 1em;

	table {
		width: 100%;
	}

	td {
		padding: 0.5em;
	}
}

// monospace text
.ezfc-monospace-text {
	font-family: "Lucida Console", monospace !important;
}

// prio
.ezfc-calculate-prio-0 { margin-left: 0; }
.ezfc-calculate-prio-1 { margin-left: 15px; }
.ezfc-calculate-prio-2 { margin-left: 30px; }
.ezfc-calculate-prio-3 { margin-left: 45px; }
.ezfc-calculate-prio-4 { margin-left: 60px; }

.ezfc-form-element-calculate-target, .ezfc-form-element-calculate-operator, .ezfc-form-files ul, .ezfc-form-files p {
	padding: 5px;
}

.ezfc-form-element-data {
	background: #f7f7f7;
	border: #D3CDCD 1px solid;
	box-shadow: #4c4c4c 0 0px 15px;
	display: none;
	padding: 5px 10px;
	position: absolute;
	min-width: 800px;
	max-height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	z-index: 10;

	&.ezfc-form-element-data-fixed {
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		max-height: none;
		max-width: 900px;
		overflow-x: auto;
		width: 66vw;
		padding: 5px 10px;

		@media (max-width: 900px) {
			max-width: 100%;
			min-width: 100%;
		}
	}

	input {
		vertical-align: top;
	}
	input[type="checkbox"] {
		vertical-align: middle;
	}

	.button {
		padding: 1px 5px;
	}

	.input-small {
		width: 30% !important;
	}

	.ezfc-form-element-action-row {
		margin: 10px 0;
	}

	.row {
		margin-left: 0;
		margin-right: 0;
	}

	// special
	.row {
		.ezfc-form-element-data-input-has-action {
			width: calc(~"100% - 30px");
		}
	}
}

// element option sections
.ezfc-element-option-section-wrapper {
	display: table;
	margin-top: 0.5em;
	table-layout: fixed;
	width: 100%;
}
.ezfc-element-option-section-heading {
	background-color: #dfdfdf;
	display: table-cell;
	font-weight: 500;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;

	&.active {
		background-color: @color_primary;
		color: #fff;
	}

	&:hover {
		background-color: lighten(@color_primary, 10%);
		color: #fff;
		cursor: pointer;
	}

	.transition();
}
.ezfc-element-option-section-data {
	display: none;

	&.active {
		display: block;
	}
}

.ezfc-form-element-option-addon {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 15px;
}

.ezfc {
	input, select, textarea {
		max-width: 100%;
	}

	input[type="submit"] {
		width: auto;
	}
}
.ezfc-form-element-data {
	input[type="text"] {
		width: 100%;

		&.ezfc-input-auto-width {
			width: auto;
		}
	}
	input.ezfc-form-element-option-radio {
		width: auto;
		display: inline-block;
	}
}
.ezfc-form-element-required-char {
	color: #f00;
}
.ezfc-image-preview {
	max-width: 100%;
	max-height: 150px;
	width: auto;
	height: auto;
}
.ezfc-option-image-placeholder {
	max-height: 32px;
	width: auto;
}
.ezfc .ezfc-form-element-data {
	.row {
		padding-bottom: 0.5em;
		padding-top: 0.5em;
		
		&:not(:first-of-type) {
			//border-top: #e6e6e6 1px solid;
		}

		&:nth-child(even) {
			background-color: #f7f7f7;
		}
		&:nth-child(odd) {
			background-color: #efefef;
		}
	}
}
.ezfc .ezfc-form-element-data textarea, .ezfc-settings-type-textarea {
	width: 100%;
	height: 80px;
}
.ezfc-element-option-label {
	padding-top: 0.2em;

	[data-ot] {
		vertical-align: middle;
	}
}

.ezfc-form-element-move-container {
	clear: both;
}

.ezfc-dialog textarea, .ezfc-import-dialog textarea, .ezfc-export-dialog textarea {
	width: 100%;
	height: 80%;
	min-height: 300px;
}

.ezfc-separator {
	border-left: #ccc 1px solid;
	height: 28px;
	margin: 0 5px;
	padding: 0;

	.ezfc-form-element-data & {
		display: inline-block;
		height: 30px;
	}
}

.ezfc-form-element-set-element {
	float: left; 
	margin-right: 0.5em;
}

.ezfc-custom-calculation {
	font-family: "Lucida Console", Monaco, Courier, monospace;
	font-size: 12px;
}

.ezfc-form-element-info {
	display: none;

	.ezfc-form-element-info-active & {
		display: inline-block;
	}
}
.ezfc-form-element-info-icon {
	background-color: #e94848;
	color: #fff;
	padding: 2px;
}
.ezfc-form-element-notification {
	background-color: @color_warning;
	color: #fff;

	span {
		padding: 4px;
	}
}

// close element data button left side
.ezfc-form-element-close-data-fixed-left {
	position: fixed;
	padding: 30px 8px;
	top: 45%;
}

// element data modal
#ezfc-element-data-modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 99999;
	background: rgba(0, 0, 0, 0.5);
}

// sortable option list
.ezfc-form-element-option-container-list {
	cursor: move;

	li {
		padding-top: .75em;
		padding-bottom: .75em;
		margin-bottom: 0;
		border-bottom: #ccc 1px dashed;
    	.transition-background();

    	&:hover {
    		background: rgb(251, 251, 251);
    	}

    	&:last-child {
    		border-bottom: 0;
    	}
    }
}

// matrix table
.ezfc-form-element-matrix-table {
	table-layout: fixed;
	width: 100%;

	input, select {
		width: 100%;
	}

	td {
		padding: 0.2em 0.35em;
	}
	tr {
		margin: 0.1em 0;
		&:nth-child(odd) {
			background-color: #f3f3f3;
		}
	}
}


/**
	list elements
**/
@cat_color_basic: #5D80DE;
@cat_color_calc: #D85858;
@cat_color_other: #3F9C4E;
@cat_color_steps: #222;
@cat_color_predefined: #F5DE3B;
@cat_border: 4px solid;

.ezfc-elements {
	margin-top: 0.25em;
	li.button { overflow: hidden; }
}
.ezfc-cat-basic { border-left: @cat_color_basic @cat_border !important; }
.ezfc-cat-calc { border-left: @cat_color_calc @cat_border !important; }
.ezfc-cat-other { border-left: @cat_color_other @cat_border !important; }
.ezfc-cat-steps { border-left: @cat_color_steps @cat_border !important; }
.ezfc-cat-predefined { border-left: @cat_color_predefined @cat_border !important;
}

/**
	sticky
**/
.ezfc {
	.ezfc-sticky {
		position: fixed;
		top: 30px;
		z-index: 10001;

		&.ezfc-form-elements-actions {
			left: inherit;
			width: 84.33%;
		}
		&.ezfc-form-options-wrapper {
			right: 0px;
		}
	}
	@media (max-width: 991px) {
		.ezfc-sticky {
			position: static !important;
			top: 0 !important;
		}
	}
}

// action list bar
.ezfc-form-elements-actions {
	input {
		vertical-align: top;
	}
}

// shortcode
.ezfc-form-shortcodes input {
	font-size: 0.9em;
	width: 100%;
}
/**
	buttons
**/
.ezfc .ezfc-form-element-delete, .ezfc .ezfc-form-submission-delete {
	right: 5px;
	top: 6px;
	position: absolute;
	padding: 0 5px;
	z-index: 5;
	.button-delete;
}
.ezfc .ezfc-form-file-delete {
	padding: 0 5px;
}
.ezfc .ezfc-form-element-duplicate {
	right: 30px;
	top: 6px;
	position: absolute;
	padding: 0 5px;
	z-index: 5;
}
.ezfc-form-element-action {
	left: 5px;
	top: 6px;
	position: absolute;
	padding: 0 5px !important;
	z-index: 5;
}
.ezfc-form-element-column-right {
	left: 32px;
}

.ezfc-form-element-group-toggle {
	left: 59px;
}

/**
	colorized elements for better overview
**/

.ezfc-form-element-stepstart, .ezfc-form-element-stepend {
	background: #222;
}
.ezfc-form-element-stepstart .ezfc-form-element-name:hover, .ezfc-form-element-stepend .ezfc-form-element-name:hover {
	background: #444;
}
.ezfc-form-element-stepstart .ezfc-form-element-name, .ezfc-form-element-stepend .ezfc-form-element-name {
	color: #fff;
}

/**
	spinner
**/
.ezfc-loading {
	display: none;
}

#ezfc-view-main .ezfc-loading {
	font-size: 3.5em;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.2);
	color: #fff;
	text-align: center;

	.fa {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}

/**
	button bar
**/
.ezfc-button-bar-top {
	margin-top: .75em;
}

/**
	templates
**/
.ezfc-template-list-wrapper {
	border: #ccc 1px solid;
	margin-bottom: 1em;

	p {
		padding: 0.5em;
	}
}
.ezfc-template-list-name {
	background: #efefef;
	margin: 0;
	padding: 0.5em;
}
.ezfc-template-list-buttons {
	background: #efefef;
	margin-bottom: 0;
	padding: 0.5em;
}
.ezfc-template-list-install {
	float: right;
}

/**
	icon list
**/
.ezfc-icons-dialog i {
	font-size: 1.5em;
	padding: 0.2em;

	&:hover {
		background: #00A0D2;
		color: #fff;
		cursor: pointer;
	}
}
.ezfc .fa[data-previewicon] {
	font-size: 2.5em;
	padding: 0.2em 0 0 0.5em;
}

.ezfc-icon-list-item {
	display: inline-block;
	margin-right: .2em;
	margin-bottom: .2em;
	width: 100px;
	vertical-align: top;
	text-align: center;

	span {
		font-size: 10px;
	}
}

/**
	functions list
**/
.ezfc-functions-dialog {
	dt {
		font-weight: bold;
	}
}

/**
	groups
**/
.ezfc-group {
	padding: 10px 0;
	float: left;
	width: 100%;
	min-height: 30px;
}
.ezfc-form-element-group {
	background: #f7f7f7;
	border: #e0e0e0 1px solid;
	margin: 0 0 1em;
	padding: 0.5em;
}

/**
	change element dialog
**/
#ezfc-change-element-dialog, #ezfc-add-element-dialog {
	.ezfc-element {
		width: 15%;
	}
}

/**
	add element from main view
**/
.ezfc-add-element-placeholder {
	width: 99%;
	height: 30px;
	display: block;
	border: #e6e6e6 2px dashed;
	clear: both;
	text-align: center;
	font-size: 1em;
	color: #ccc;
	padding-top: 0.3em;
	margin-top: -3em;
	.transition;

	&:hover {
		cursor: pointer;
		background-color: lighten(#e6e6e6, 10%);
	}

	.ezfc-group & {
		margin-top: 0;
	}
}

// placeholder
.ezfc-add-element-placeholder-item {
	width: 99%;
	height: 30px;
	display: block;
	background-color: #e6e6e6;
	clear: both;
	text-align: center;
	font-size: 1em;
	color: #ccc;
}

/**
	conditional
**/
// conditional and/or text
.ezfc-conditional-chain-and-or {
	float: right;
	padding-top: 6px;
}

/**
	jquery ui
**/
.ui-state-default {
	background: #efefef;
	border: #eee 1px solid;
}

#ezfc-form-elements-container .ui-state-highlight {
	background: #aaa;
	//border: #ccc 2px dashed;
	border: 0;
	float: left;
	display: inline-block;
	height: 37px;
	position: relative;
}

#form-options {
	.ui-widget.ui-widget-content {
		border: 0;
	}
	.ui-tabs .ui-tabs-panel {
		padding: 0.5em;
	}
}

.ezfc-options-dialog {
	padding: 0 !important;
}

.ui-dialog {
	z-index: 1500000 !important;
}
// hide dialog at startup
.ezfc-dialog, .ezfc-default-dialog {
	display: none;
}
.ezfc .ui-spinner {
	font-size: 1em;
	width: 80px;

	input {
		margin: 0;
		padding: 0.3em;
	}
}

// accordion
.ui-accordion {
	.ui-accordion-content {
		padding: 0;
	}

	*:focus {
	    outline: none;
	}

	.ui-state-active {
		color: #444;

		.ui-icon {
			background-image: url("assets/css/images/ui-icons_444444_256x240.png");
		}
	}
}
.ui-widget-content {
	border: #e6e6e6 1px solid;
	background: #fff;
}

.ui-dialog .ui-dialog-titlebar-close:before {
	display: none;
}

.ui-tooltip {
	z-index: 9999999 !important;
}

/**
	table
**/
.ezfc-table-styled {
	font-size: 0.9em;
	margin: 10px 0;

	thead {
		font-weight: bold;
	}

	td {
		padding: 5px 10px;
	}
}

// opentip z-index fix
.opentip-container {
	z-index: 10000000 !important;
}

// wp media modal fix
.media-modal {
	z-index: 1600000 !important;
}

/**
	tinymce
**/
.js .ui-dialog .tmce-active .wp-editor-area {
	color: #222;
}

.version-3-7 .mceIframeContainer,
.version-3-8 .mceIframeContainer,
.version-3-9 .mceIframeContainer {
	background: #fff;
}

/**
	bootstrap
**/
.sr-only {
	display: none;
}

/**
	graph
**/
#ezfc-graph {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
}

/**
	mixins
**/
.transition(@duration: 0.2s) {
	-webkit-transition: all @duration ease-in-out;
	-moz-transition: all @duration ease-in-out;
	-o-transition: all @duration ease-in-out;
	-ms-transition: all @duration ease-in-out;
	transition: all @duration ease-in-out;
}

.transition-background(@duration: 0.2s) {
	-webkit-transition: background-color @duration ease-in-out;
	-moz-transition: background-color @duration ease-in-out;
	-o-transition: background-color @duration ease-in-out;
	-ms-transition: background-color @duration ease-in-out;
	transition: background-color @duration ease-in-out;
}