input[type=number].small-text{height:28px}
.rkt-tab{padding:0 10px}
.rkt-tab-txt h2{font-size:20px}
.rkt-tab-txt ul{list-style-type:disc;padding-left:1em}
#tab_faq th{display:none}
.rkt-move-deferred{cursor:move}
.button-link:after,.rocketicon:before{vertical-align:middle;padding-right:5px;display:inline-block;-webkit-font-smoothing:antialiased;font:normal 1.5em/1 'dashicons'}
.rocketicon-video:before{content: "\f236";color:#B80303}
.rkt-tab-txt ol li{line-height:0.5em}
.rkt-tab-txt ol li h2{line-height:0.5em}
.rkt-tab-txt ol li h2 a{font-size:0.8em}
.button-link:after{content:" \f310";font-size:1.1em;padding-left:3px}
.rkt-module-drag{cursor: move;}
#mainwp_rocket_settings input.has-parent{margin-left: 20px;}
[data-loading="true"] input {background: transparent url('../img/wpspin.gif') 99% 50% no-repeat; background-size: 16px 16px;}

.description.has-parent {
/*    margin-left: 20px;*/
}
#mainwp_rocket_settings .rocket-panel-description  {
	background:  #fff;
	border-bottom:  2px solid #fd7300;
	padding:  0.75em 0 1em 1.5em;
}
#mainwp_rocket_settings .rocket-panel-description span.dashicons  {
	color: #fd7300;
	margin-left: -1.25em;
	margin-right: 0.25em;
}
