#mainwp-file-uploader-box { width: calc(100% - 290px); float: left; }
#uploader_select_sites_box { margin-left: 20px; }
#mainwp-uploader-file-uploader .qq-upload-button { width: auto; }
.uploader-setting-upload-file { color: #7fb100; }
.uploader-hidden { display: none; }
#mainwp_uploader_path_option { width: calc( 100% - 125px ); }
.file-uploader-drop-zone {
	background: #fafafa;
	border: 1px dashed #e5e5e5;
}