/* Photo */
.fl-module-njba-img-separator {
	position: absolute;
	z-index: 3;
	left: 50%;
	-webkit-transform: translateX( 50% );
	-moz-transform: translateX( 50% );
	transform: translateX( 50% );
	display: inline-block !important;
}
.njba-image-seperator-main {
	position: relative;
	text-align: center;
}
.njba-image-seperator-main .njba-image {
	line-height: 0;
	position: relative;
}
.njba-image-seperator-main a {
	position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.njba-image-seperator-main img {
	display: inline;
	height: auto !important;
	max-width: 100%;
	width: auto;
	box-sizing: content-box;
}
.fl-builder-content .njba-image-seperator-main .njba-image-crop-circle img {
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
	        border-radius: 100%;
}
.fl-builder-content .njba-image-seperator-main .njba-image-crop-square img {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}
