.njba-accordion-button {
	cursor: pointer;
	display: table;
}
.njba-accordion-button-label {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.njba-accordion-button-icon {
	display: table-cell;
	padding-left: 15px;
	vertical-align: middle;
	transition: all 0.1s ease-in;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
}
.njba-accordion-content {
	display: none;
}
.njba-accordion-item .njba-accordion-button,
.njba-accordion-item .njba-accordion-button:hover {
	transition: all 0.1s ease-in;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
}
/* Small */
.njba-accordion-small .njba-accordion-button {
	padding: 10px 15px;
}
.njba-accordion-small .njba-accordion-content {
	padding: 0 30px 10px 15px;
}
/* Medium */
.njba-accordion-medium .njba-accordion-button {
	padding: 15px 20px;
}
.njba-accordion-medium .njba-accordion-button-label {
	font-size: 20px;
}
.njba-accordion-medium .njba-accordion-content {
	padding: 0 40px 15px 20px;
}
/* Large */
.njba-accordion-large .njba-accordion-button {
	padding: 20px 25px;
}
.njba-accordion-large .njba-accordion-button-label {
	font-size: 26px;
}
.njba-accordion-large .njba-accordion-content {
	padding: 0 50px 25px 25px;
}
.njba-accordion i.njba-accordion-icon {
    height: auto;
    padding-right: 10px;
    transition: all 0.1s ease-in;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
}
.njba-accordion-button-icon.njba-accordion-close {
	display: none;
}
.njba-accordion-item.njba-accordion-item-active .njba-accordion-close {
	display: table-cell;
}
.njba-accordion-item.njba-accordion-item-active .njba-accordion-open {
	display: none;
}
.fa.fa-tags:before {
    content: "\f02c";
}