html {
    background: #f1f1f1; }

/* Links */
a {
    color: #45B29D;
}

a:hover, a:active, a:focus {
    color: #E27A3F;
}

#rightnow a:hover, #media-upload a.del-link:hover, div.dashboard-widget-submit input:hover, .subsubsub a:hover, .subsubsub a.current:hover, .ui-tabs-nav a:hover {
    color: #E27A3F;
}

table.widefat span.delete a, table.widefat span.trash a, table.widefat span.spam a, .plugins a.delete, #all-plugins-table .plugins a.delete, #search-plugins-table .plugins a.delete, .submitbox .submitdelete, #media-items a.delete, #media-items a.delete-permanently, #nav-menu-footer .menu-delete{
    color: #DF5A49;
}

table.widefat span.delete a:hover, table.widefat span.trash a:hover, table.widefat span.spam a:hover, .plugins a.delete:hover, #all-plugins-table .plugins a.delete:hover, #search-plugins-table .plugins a.delete:hover, .submitbox .submitdelete:hover, #media-items a.delete:hover, #media-items a.delete-permanently:hover, #nav-menu-footer .menu-delete:hover{
    color: #DF5A49;
}

.plugins .inactive a{
    color: #45B29D;
}

.plugins .inactive a:hover{
    color: #E27A3F;
}

/* Forms */
input[type=checkbox]:checked:before {
    color: #45B29D; }

input[type=radio]:checked:before {
    background: #45B29D; }

.wp-core-ui input[type="reset"]:hover, .wp-core-ui input[type="reset"]:active {
    color: #45B29D; }

/* Core UI */
.wp-core-ui .button-primary {
    background: #334D5C;
    border-color: #334D5C;
    color: #fff;
    -webkit-box-shadow: inset 0 1px 0 #334D5C, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 0 #334D5C, 0 1px 0 rgba(0, 0, 0, 0.15); }
.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
    background: #334D5C;
    border-color: #334D5C;
    color: #fff;
    -webkit-box-shadow: inset 0 1px 0 #334D5C, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 0 #334D5C, 0 1px 0 rgba(0, 0, 0, 0.15); }
.wp-core-ui .button-primary:active {
    background: #334D5C;
    border-color: #334D5C;
    color: #fff;
    -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5); }
.wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled {
    color: #fff !important;
    background: #ccc !important;
    border-color: #ccc !important;
    text-shadow: none !important; }
.wp-core-ui .wp-ui-primary {
    color: #fff;
    background-color: #334D5C; }
.wp-core-ui .wp-ui-text-primary {
    color: #45B29D; }
.wp-core-ui .wp-ui-highlight {
    color: #fff;
    background-color: #334D5C; }
.wp-core-ui .wp-ui-text-highlight {
    color: #334D5C; }
.wp-core-ui .wp-ui-notification {
    color: #fff;
    background-color: #d46f15; }
.wp-core-ui .wp-ui-text-notification {
    color: #d46f15; }
.wp-core-ui .wp-ui-text-icon {
    color: #ece6f6; }

/* List tables */
.wrap .add-new-h2:hover, #add-new-comment a:hover, .tablenav .tablenav-pages a:hover, .tablenav .tablenav-pages a:focus {
    color: #fff;
    background-color: #45B29D; }

.view-switch a.current:before {
    color: #45B29D; }

.view-switch a:hover:before {
    color: #d46f15; }

.post-com-count:hover:after {
    border-top-color: #45B29D; }

.post-com-count:hover span {
    color: #fff;
    background-color: #45B29D; }

strong .post-com-count:after {
    border-top-color: #d46f15; }

strong .post-com-count span {
    background-color: #d46f15; }

.alternate, .alt{
    background-color: #E5ECF0;
}
/* Admin Menu */
#adminmenuback, #adminmenuwrap, #adminmenu {
    background: #45B29D; }

#adminmenu a {
    color: #fff; }

#adminmenu div.wp-menu-image:before {
    color: #ece6f6; }

#adminmenu a:hover, #adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus {
    color: #fff;
    background-color: #334D5C; }

#adminmenu li.menu-top:hover div.wp-menu-image:before, #adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
    color: #fff; }

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap h2 .nav-tab-active, .nav-tab-active, .nav-tab-active:hover {
    border-bottom-color: #f1f1f1; }

/* Admin Menu: submenu */
#adminmenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
    background: #334D5C; }

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
    border-right-color: #334D5C; }

#adminmenu .wp-submenu .wp-submenu-head {
    color: #cbc5d3; }

#adminmenu .wp-submenu a, #adminmenu .wp-has-current-submenu .wp-submenu a, .folded #adminmenu .wp-has-current-submenu .wp-submenu a, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
    color: #cbc5d3; }
#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu .wp-has-current-submenu .wp-submenu a:focus, #adminmenu .wp-has-current-submenu .wp-submenu a:hover, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
    color: #fff; }

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
    color: #fff; }
#adminmenu .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
    color: #fff; }

ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu > li.current > a.current:after {
    border-right-color: #EFC94C; }

#adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head, .folded #adminmenu li.current.menu-top {
    color: #fff;
    background: #EFC94C; }

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before {
    color: #fff; }

/* Admin Menu: bubble */
#adminmenu .awaiting-mod, #adminmenu .update-plugins {
    color: #fff;
    background: #EFC94C; }

#adminmenu li.current a .awaiting-mod, #adminmenu li a.wp-has-current-submenu .update-plugins, #adminmenu li:hover a .awaiting-mod, #adminmenu li.menu-top:hover > a .update-plugins {
    color: #fff;
    background: #EFC94C; }

/* Admin Menu: collapse button */
#collapse-menu {
    color: #ece6f6; }

#collapse-menu:hover {
    color: #fff; }

#collapse-button div:after {
    color: #ece6f6; }

#collapse-menu:hover #collapse-button div:after {
    color: #fff; }

/* Admin Bar */
#wpadminbar {
    color: #fff;
    background: #45B29D; }

#wpadminbar .ab-item, #wpadminbar a.ab-item, #wpadminbar > #wp-toolbar span.ab-label, #wpadminbar > #wp-toolbar span.noticon {
    color: #fff; }

#wpadminbar .ab-icon, #wpadminbar .ab-icon:before, #wpadminbar .ab-item:before, #wpadminbar .ab-item:after {
    color: #ece6f6; }

#wpadminbar .ab-top-menu > li:hover > .ab-item, #wpadminbar .ab-top-menu > li.hover > .ab-item, #wpadminbar .ab-top-menu > li > .ab-item:focus, #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus, #wpadminbar-nojs .ab-top-menu > li.menupop:hover > .ab-item, #wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
    color: #fff;
    background: #334D5C; }

#wpadminbar > #wp-toolbar li:hover span.ab-label, #wpadminbar > #wp-toolbar li.hover span.ab-label, #wpadminbar > #wp-toolbar a:focus span.ab-label {
    color: #fff; }

#wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar li:hover .ab-item:after, #wpadminbar li:hover #adminbarsearch:before {
    color: #fff; }

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper {
    background: #334D5C; }

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary, #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
    background: #DF5A49; }

#wpadminbar .ab-submenu .ab-item, #wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar-nojs .quicklinks .menupop:hover ul li a {
    color: #cbc5d3; }

#wpadminbar .quicklinks li .blavatar, #wpadminbar .menupop .menupop > .ab-item:before {
    color: #ece6f6; }

#wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover .ab-item:after, #wpadminbar li.hover .ab-item:after, #wpadminbar li:hover #adminbarsearch:before {
    color: #fff; }

#wpadminbar .quicklinks li a:hover .blavatar, #wpadminbar .menupop .menupop > .ab-item:hover:before {
    color: #334D5C; }

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before {
    color: #ece6f6; }

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
    color: #fff;
    background: #624c84; }

#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.7; }

#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
    color: #fff;
    opacity: 0.7; }

#wpadminbar #adminbarsearch .adminbar-input::-moz-placeholder {
    color: #fff;
    opacity: 0.7; }

#wpadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder {
    color: #fff;
    opacity: 0.7; }

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
    border-color: #624c84;
    background-color: #624c84; }

#wpadminbar #wp-admin-bar-user-info .display-name {
    color: #fff; }

#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
    color: #fff; }

#wpadminbar #wp-admin-bar-user-info .username {
    color: #cbc5d3; }

/* Pointers */
.wp-pointer .wp-pointer-content h3 {
    background-color: #334D5C; }

.wp-pointer .wp-pointer-content h3:before {
    color: #334D5C; }

.wp-pointer.wp-pointer-top .wp-pointer-arrow, .wp-pointer.wp-pointer-undefined .wp-pointer-arrow {
    border-bottom-color: #334D5C; }

/* Media Uploader */
.media-item .bar, .media-progress-bar div {
    background-color: #334D5C; }

.details.attachment {
    box-shadow: 0 0 0 1px #fff, 0 0 0 5px #334D5C; }

.attachment.details .check {
    background-color: #334D5C;
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px #334D5C; }

/* Themes */
.theme-browser .theme.active .theme-name, .theme-browser .theme.add-new-theme:hover:after {
    background: #334D5C; }

.theme-browser .theme.add-new-theme:hover span:after {
    color: #334D5C; }

.theme-overlay .theme-header .close:hover, .theme-overlay .theme-header .right:hover, .theme-overlay .theme-header .left:hover {
    background: #334D5C; }

.theme-browser .theme.active .theme-actions{
    background: #45B29D;
}

.theme-browser .theme .more-details{
    background: #EFC94C;
    text-shadow: none;
}
/* jQuery UI Slider */
.wp-slider .ui-slider-handle, .wp-slider .ui-slider-handle.ui-state-hover, .wp-slider .ui-slider-handle.focus {
    background: #334D5C;
    border-color: #334D5C;
    -webkit-box-shadow: inset 0 1px 0 #334D5C, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 0 #334D5C, 0 1px 0 rgba(0, 0, 0, 0.15); }

/* Thickbox: Plugin information */
#sidemenu a.current {
    background: #f1f1f1;
    border-bottom-color: #f1f1f1; }

#plugin-information .action-button {
    background: #334D5C; }

/* Responsive Component */
div#wp-responsive-toggle a:before {
    color: #ece6f6; }

.wp-responsive-open div#wp-responsive-toggle a {
    border-color: transparent;
    background: #334D5C; }

.star-rating .star {
    color: #334D5C; }

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
    background: #334D5C; }


/* 381945-1536242933-au */