#yith-add-exclusion, #yith-add-user {
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #e0e0e0;
    padding: 10px;
}
#yith-add-exclusion label,
#yith-add-user label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}
#yith-add-exclusion .select2-container,
#yith-add-user .select2-container {
    display: inline-block !important;
    min-width: 320px;
}

/**** TABLE ***/

.yith-wcwtl-table table.wp-list-table th:not( .column-product ),
.yith-wcwtl-table table.wp-list-table td:not( .column-product ) {
    text-align: center;
}
.yith-wcwtl-table table.wp-list-table th.column-user,
.yith-wcwtl-table table.wp-list-table td.column-user {
    text-align: left;
}
.yith-wcwtl-table table.wp-list-table .column-thumb {
    width: 70px;
}
.yith-wcwtl-table table.wp-list-table .column-users {
    width: 110px;
}
.yith-wcwtl-table table.wp-list-table .column-customer {
    text-align: center;
}
.yith-wcwtl-table table.wp-list-table .column-customer .status-disabled,
.yith-wcwtl-table table.wp-list-table .column-customer  .status-enabled {
    display: inline-block;
}
.yith-wcwtl-table table.wp-list-table td.column-thumb img {
    max-width: 60px;
    max-height: 60px;
}
.yith-wcwtl-table table.wp-list-table th.column-status.sortable a span{
    float: none;
}
.yith-wcwtl-table table.wp-list-table th.column-status.asc:hover span.sorting-indicator,
.yith-wcwtl-table table.wp-list-table th.column-status.desc .sorting-indicator {
    display: inline-block;
    margin: 0;
}
.yith-wcwtl-table table.wp-list-table th.column-status.asc:hover span.sorting-indicator:before,
.yith-wcwtl-table table.wp-list-table th.column-status.desc .sorting-indicator:before {
    top: 4px;
    left: 0;
}
.yith-wcwtl-table table.wp-list-table td.column-thumb,
.yith-wcwtl-table table.wp-list-table td.column-variation,
.yith-wcwtl-table table.wp-list-table td.column-status,
.yith-wcwtl-table table.wp-list-table td.column-users,
.yith-wcwtl-table table.wp-list-table td.column-actions,
.yith-wcwtl-table table.wp-list-table td.column-customer {
    vertical-align: middle;
}

.yith-wcwtl-table table.wp-list-table td.column-status span.out-of-stock {
    color: #ff0000;
}
.yith-wcwtl-table table.wp-list-table td.column-status span.in-stock {
    color: #77a464;
}

/*===== Waiting List Table ======= */

.wp-list-table.waitlists .column-actions a,
.wp-list-table.users .column-actions a {
    margin: 2px 5px;
}
.wp-list-table.users .customer mark {
    display: block;
    text-indent: -9999px;
    position: relative;
    height: 1em;
    width: 1em;
    background: 0 0;
    font-size: 1.4em;
    margin: 0 auto;
}
.wp-list-table.users .customer mark.show:after,
.wp-list-table.users .customer mark.hide:after {
    font-family: WooCommerce;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.wp-list-table.users .customer mark.hide:after{
    content: "\e013";
    color: #a00000;
}
.wp-list-table.users .customer mark.show:after{
    content: "\e015";
    color: #048504;
}

#yith_wcwtl_panel_general input[type="text"],
#yith_wcwtl_panel_style input[type="text"]:not( .colorpick ) {
    width: 50%;
}

.yith-wcwtl-table table.wp-list-table td.column-actions a {
    margin: 5px;
}

/* tinymce */
i.mce-i-ywcwtl-icon {
    background-image: url('../images/yithemes-icon.png') ;
    width: 16px;
    height: 16px;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -2px;
    padding-right: 2px
}

#yith_wcwtl_panel_style input.colorpick {
    width: 6em;
}

#woocommerce_yith_waitlist_mail_instock_mail_content,
#woocommerce_yith_waitlist_mail_subscribe_mail_content {
    width: 100%;
}