ul.gdbbx-latest-activity {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 20px;
}

ul.gdbbx-latest-activity li {
    list-style: none;
    margin: 0;
    padding: 6px 0;
    border-bottom: 1px solid #ddd;
}

ul.gdbbx-latest-activity li:last-of-type {
    border-bottom: 0;
}

ul.gdbbx-latest-activity li .gdbbx-post-author {
    float: right;
}

ul.gdbbx-latest-activity li .gdbbx-post-author img {
    float: right;
    margin: 3px 0 0 3px;
}

ul.gdbbx-latest-activity li .gdbbx-post-type {
    font-weight: bold;
}
