.d4p-group-bbcodeslist .d4p-group-inner {
    text-align: left;
    font-family: monospace;
    font-size: 15px;
    line-height: 25px;
}

.d4p-page-reported-posts .bulkactions,
.d4p-page-users .bulkactions {
    display: none;
}

.d4p-navigator .d4p-nav-button ul,
.d4p-navigator li.d4p-nav-button > a {
    width: 210px;
}

.gdbbx-grid-users th.column-ID {
    width: 70px;
}

.gdbbx-grid-users th.column-avatar {
    width: 60px;
}

.gdbbx-grid-users th.column-role {
    width: 120px;
}

.gdbbx-grid-users th.column-topics,
.gdbbx-grid-users th.column-replies,
.gdbbx-grid-users th.column-role,
.gdbbx-grid-users th.column-date {
    width: 100px;
}

.gdbbx-grid-users td.column-avatar img {
    display: block;
}

.gdbbx-grid-errors th.column-id {
    width: 70px;
}

.gdbbx-grid-errors th.column-date {
    width: 100px;
}

.gdbbx-grid-attachments th.column-id {
    width: 70px;
}

.gdbbx-grid-attachments th.column-date,
.gdbbx-grid-attachments th.column-thumbnail {
    width: 100px;
}

.gdbbx-grid-thanks th.column-id,
.gdbbx-grid-report th.column-id {
    width: 70px;
}

.gdbbx-grid-thanks th.column-type,
.gdbbx-grid-report th.column-type {
    width: 80px;
}

.gdbbx-grid-thanks th.column-date,
.gdbbx-grid-report th.column-date {
    width: 100px;
}

.gdbbx-grid-thanks th.column-post,
.gdbbx-grid-report th.column-post {
    width: 25%;
}

.gdbbx-grid-thanks th.column-forum,
.gdbbx-grid-report th.column-forum,
.gdbbx-grid-report th.column-reporter {
    width: 15%;
}

.gdbbx-grid-thanks td.column-from img,
.gdbbx-grid-thanks td.column-to img {
    float: left;
    margin: 0 5px 0 0;
}

.gdbbx-grid-thanks td.column-from div,
.gdbbx-grid-thanks td.column-to div {
    line-height: 18px;
}

.gdbbx-grid-report tbody tr.gdbbx-report-status-deleted {
    background-color: #FFEAEA;
}

.gdbbx-grid-report tbody tr.gdbbx-report-status-closed {
    background-color: #EAFFEA;
}

.gdbbx-notice-info {
    background: #fff;
    border-left: 4px solid #00a0d2;
    padding: 12px;
    margin: 0 0 15px;
}

.gdbbx-notice-info blockquote {
    margin: 15px 0;
    padding-left: 5px;
    border-left: 2px solid #ddd;
    font-style: italic;
}

.d4p-front-title h5 {
    font-weight: 100;
}

.d4p-group-dashboard-card .d4p-group-inner label {
    display: block;
}

.d4p-group-dashboard-users .gdbbx-front-user a {
    color: inherit !important;
    text-decoration: none;
    border: 0;
    display: inline-block;
    line-height: 20px;
    box-shadow: none;
}

.d4p-group-dashboard-users .gdbbx-front-user a img {
    float: left;
    margin: 3px 3px 0 0;
}

.d4p-group-dashboard-users .gdbbx-front-user.gdbbx-user-color-bbp_keymaster {
    color: #d00;
}

.d4p-group-dashboard-users .gdbbx-front-user.gdbbx-user-color-bbp_moderator {
    color: #06c;
}

.d4p-group-dashboard-users .gdbbx-front-user.gdbbx-user-color-bbp_participant {
    color: #333;
}

.d4p-group-dashboard-users .gdbbx-front-user.gdbbx-user-color-bbp_spectator {
    color: #0d0;
}

.d4p-group-dashboard-users .gdbbx-front-user.gdbbx-user-color-bbp_blocked {
    color: #aaa;
}

.d4p-group-dashboard-thanks .d4p-group-inner a,
.d4p-group-dashboard-report .d4p-group-inner a {
    display: inline;
}

.d4p-group-dashboard-thanks .d4p-group-inner ul,
.d4p-group-dashboard-report .d4p-group-inner ul {
    list-style: disc outside;
    margin-left: 1em;
}

.d4p-whatsnew-heading .button-primary {
    margin: 1em 0 0;
    font-size: 150%;
    padding: .5em 2em;
    height: auto;
}

.d4p-setting-info ul {
    list-style: disc outside;
    margin-left: 16px;
}

@media screen and (max-width: 800px) {
    .fixed .column-forum {
        display: none;
    }
}

.d4p-whatsnew-section h3 {
    line-height: initial;
}
