/**
 * Frontend style for BOOKING SEARCH FORM
 *
 * @author Leanza Francesco
 * @version 1.0.0
 */

.yith-wcbk-booking-search-form {
    padding : 10px;
    margin  : 0;
}

.yith-wcbk-booking-search-form.informal, .yith-wcbk-booking-search-form.elegant {
    border-radius : 3px;
    box-shadow    : 0px 2px 4px 0 rgba(0, 0, 0, 0.2);
    border        : 1px solid #ccc;
    padding       : 20px;
}

.yith-wcbk-booking-search-form.elegant {
    padding : 10px 0 0 0;
}

.yith-wcbk-booking-search-form.casual {
    padding : 0;
}

.yith-wcbk-booking-search-form .yith-wcbk-booking-search-form-submit,
.yith-wcbk-booking-search-form form {
    margin : 0 !important;
}

.yith-wcbk-booking-search-form.informal .yith-wcbk-booking-search-form-submit {
    border-radius  : 20px;
    font-family    : Montserrat, "Helvetica Neue", sans-serif;
    font-weight    : 700;
    letter-spacing : 0.046875em;
    line-height    : 1;
    padding        : 0.84375em 1.5em 0.78125em;
    text-transform : uppercase;
}

.yith-wcbk-booking-search-form.elegant .yith-wcbk-booking-search-form-submit {
    border-radius  : 14px;
    font-family    : Montserrat, "Helvetica Neue", sans-serif;
    font-weight    : 700;
    letter-spacing : 0.046875em;
    line-height    : 1;
    padding        : 0.84375em 3em 0.78125em 4.5em;
    text-transform : uppercase;
    position       : relative;
}

.yith-wcbk-booking-search-form.elegant .yith-wcbk-booking-search-form-submit:before {
    content     : '\f179';
    font-family : Dashicons;
    position    : absolute;
    left        : 1.5em;
    font-size   : 1.6em;
    top         : 0.4em;
    font-weight : 400;
}

.yith-wcbk-booking-search-form.casual .yith-wcbk-booking-search-form-submit {
    border-radius  : 3px;
    font-family    : Montserrat, "Helvetica Neue", sans-serif;
    font-weight    : 700;
    letter-spacing : 0.046875em;
    line-height    : 1;
    padding        : 0.7em 3.5em 0.7em;
    text-transform : uppercase;
    position       : relative;
}

.yith-wcbk-booking-search-form .yith-wcbk-booking-field {
    float          : left;
    width          : 100%;
    vertical-align : middle;
    margin         : 0;
}

.yith-wcbk-booking-search-form input[type=text],
.yith-wcbk-booking-search-form input[type=number],
.yith-wcbk-booking-search-form .select2-choices {
    padding       : 8px;
    border-radius : 2px;
    border        : 1px solid #ccc;
    background    : #fff;
    box-shadow    : none;
    outline       : none;
}

.yith-wcbk-booking-search-form .select2-container--default .select2-selection--multiple {
    border-radius : 2px;
    border        : 1px solid #ccc;
    background    : #fff;
}

.yith-wcbk-booking-search-form input {
    margin : 0 !important;
}

.yith-wcbk-booking-search-form-table,
.yith-wcbk-booking-search-form-table tr,
.yith-wcbk-booking-search-form-table td {
    border : none;
    margin : 0 !important;
}

.yith-wcbk-booking-search-form.elegant .yith-wcbk-booking-search-form-table tr:last-child td {
    padding    : 25px 0;
    background : rgba(0, 0, 0, 0.05);
    text-align : center;
}

.yith-wcbk-booking-search-form.casual .yith-wcbk-booking-search-form-table tr:last-child td {
    text-align : right;
    padding    : 20px;
}

.yith-wcbk-booking-search-form.casual .yith-wcbk-booking-search-form-table td {
    border-top : 1px solid #d7d7d7;
}

.yith-wcbk-booking-search-form-table .yith-wcbk-booking-search-form-label {
    width : 20%;
}

.yith-wcbk-booking-search-form.elegant .yith-wcbk-booking-search-form-label {
    padding-left : 20px;
}

.yith-wcbk-booking-search-form.elegant .yith-wcbk-booking-search-form-input {
    padding-right : 20px;
}

.yith-wcbk-booking-search-form.casual .yith-wcbk-booking-search-form-label {
    padding    : 15px;
    background : rgba(0, 0, 0, 0.05);
}

.yith-wcbk-booking-search-form.casual .yith-wcbk-booking-search-form-input {
    padding : 15px;
}

/* Widget */

.yith_wcbk_booking_search_form_widget .yith-wcbk-booking-search-form-label {
    width : 40%;
}

.yith_wcbk_booking_search_form_widget .yith-wcbk-booking-search-form.default,
.yith_wcbk_booking_search_form_widget .yith-wcbk-booking-search-form.informal,
.yith_wcbk_booking_search_form_widget .yith-wcbk-booking-search-form.casual {
    padding : 5px;
}

.yith_wcbk_booking_search_form_widget .yith-wcbk-booking-search-form.casual .yith-wcbk-booking-search-form-label {
    padding : 10px;
}

.yith_wcbk_booking_search_form_widget .yith-wcbk-booking-search-form.casual .yith-wcbk-booking-search-form-input {
    padding : 10px;
}

.yith_wcbk_booking_search_form_widget .yith-wcbk-booking-search-form-table,
.yith_wcbk_booking_search_form_widget .yith-wcbk-booking-search-form-table tbody,
.yith_wcbk_booking_search_form_widget .yith-wcbk-booking-search-form-table tr,
.yith_wcbk_booking_search_form_widget .yith-wcbk-booking-search-form-table td,
.yith_wcbk_booking_search_form_widget .yith-wcbk-booking-search-form-table .yith-wcbk-booking-search-form-label {
    display : block;
    width   : 100%;
    zoom    : 1;
}

.yith_wcbk_booking_search_form_widget .yith-wcbk-booking-search-form-table tr:not(:last-child) td {
    padding : 2px 10px;
}

.yith_wcbk_booking_search_form_widget .yith-wcbk-booking-search-form-table tr.yith-wcbk-booking-search-form-row-services {
    display : table-row;
}

.yith_wcbk_booking_search_form_widget .yith-wcbk-booking-search-form-table tr.yith-wcbk-booking-search-form-row-services td {
    display : table-cell;
    padding : 5px 10px;
}

.yith_wcbk_booking_search_form_widget .yith-wcbk-booking-search-form.casual tr.yith-wcbk-booking-search-form-row-services .yith-wcbk-booking-search-form-label {
    background : transparent;
}

.yith_wcbk_booking_search_form_widget .yith-wcbk-booking-search-form.casual .yith-wcbk-booking-search-form-input {
    padding : 7px 0;
}

.yith_wcbk_booking_search_form_widget .yith-wcbk-booking-search-form.casual .yith-wcbk-booking-search-form-table tr:last-child td {
    text-align : center;
}

.yith_wcbk_booking_search_form_widget .yith-wcbk-booking-search-form.elegant .yith-wcbk-booking-search-form-input {
    padding : 7px;
}

.yith_wcbk_booking_search_form_widget .yith-wcbk-booking-search-form-table td:before,
.yith_wcbk_booking_search_form_widget .yith-wcbk-booking-search-form-table td:after {
    content : "";
    display : table;
}

.yith_wcbk_booking_search_form_widget .yith-wcbk-booking-search-form-table td:after {
    clear : both;
}

.yith_wcbk_booking_search_form_widget--default {
    border        : 1px solid #dbdbdb;
    background    : #fff;
    padding       : 20px;
    margin-bottom : 20px;
    color         : #1a1a1a;
}

.yith_wcbk_booking_search_form_widget--default .yith-wcbk-booking-search-form-table tr:not(:last-child) td {
    padding : 2px 0;
}

.yith_wcbk_booking_search_form_widget--default .yith-wcbk-booking-search-form.default {
    padding : 0;
}

.yith_wcbk_booking_search_form_widget--default tr.yith-wcbk-booking-search-form-row-services td.yith-wcbk-booking-search-form-label,
.yith_wcbk_booking_search_form_widget--default tr.yith-wcbk-booking-search-form-row-services td.yith-wcbk-booking-search-form-input {
    padding-top : 5px;
}

.yith_wcbk_booking_search_form_widget--default .yith-wcbk-booking-search-form-table tr:last-child td {
    padding-top : 20px;
}

.yith_wcbk_booking_search_form_widget--default button.button.alt.yith-wcbk-booking-search-form-submit {
    border         : none;
    border-radius  : 7px;
    margin         : 0;
    display        : block;
    width          : 100%;
    padding        : 15px 8px;
    font-size      : 18px;
    text-transform : none;
    background     : #00a699;
    color          : #fff;
}

/* Results */
ul.yith-wcbk-search-form-result-products {
    margin     : 0 0 1em;
    padding    : 0;
    list-style : none;
    clear      : both;
}

ul.yith-wcbk-search-form-result-products li.product-type-booking {
    float      : left;
    margin     : 0 2.2% 2em 0;
    padding    : 0;
    position   : relative;
    width      : 14.8%;
    text-align : center;
    box-shadow : 1px 3px 12px 0 rgba(0, 0, 0, 0.2);
    background : #fff;
    clear      : none;
}

ul.yith-wcbk-search-form-result-products li.product-type-booking .price {
    color         : #4d5d6d;
    display       : block;
    font-weight   : 400;
    margin-bottom : .5em;
    font-size     : .857em;
}

ul.yith-wcbk-search-form-result-products li.product-type-booking .yith-wcbk-search-form-result-product-thumb-wrapper {
    width          : 100%;
    padding-bottom : 100%;
    overflow       : hidden;
    position       : relative;
}

ul.yith-wcbk-search-form-result-products li.product-type-booking .yith-wcbk-search-form-result-product-thumb-wrapper .yith-wcbk-search-form-result-product-thumb-actions {
    position   : absolute;
    top        : calc(50% - 25px);
    left       : 0;
    z-index    : 11;
    height     : 50px;
    width      : 100%;
    opacity    : 0;
    transition : opacity 400ms;
}

ul.yith-wcbk-search-form-result-products li.product-type-booking .yith-wcbk-search-form-result-product-thumb-wrapper:hover .yith-wcbk-search-form-result-product-thumb-actions {
    opacity : 1;
}

ul.yith-wcbk-search-form-result-products li.product-type-booking .yith-wcbk-search-form-result-product-thumb-wrapper .yith-wcbk-search-form-result-product-thumb-actions span {
    font-size   : 50px;
    color       : #fff;
    width       : 50px;
    height      : 50px;
    text-shadow : 1px 1px 3px rgba(0, 0, 0, 0.4);
    opacity     : 0.7;
    cursor      : pointer;
}

ul.yith-wcbk-search-form-result-products li.product-type-booking .yith-wcbk-search-form-result-product-thumb-wrapper .yith-wcbk-search-form-result-product-thumb-actions span:hover {
    opacity : 1;
}

ul.yith-wcbk-search-form-result-products li.product-type-booking .yith-wcbk-search-form-result-product-thumb-wrapper .yith-wcbk-search-form-result-product-thumb-actions span.yith-wcbk-search-form-result-product-thumb-action-prev {
    float : left;
}

ul.yith-wcbk-search-form-result-products li.product-type-booking .yith-wcbk-search-form-result-product-thumb-wrapper .yith-wcbk-search-form-result-product-thumb-actions span.yith-wcbk-search-form-result-product-thumb-action-next {
    float : right;
}

ul.yith-wcbk-search-form-result-products li.product-type-booking .yith-wcbk-search-form-result-product-thumb-wrapper .yith-wcbk-thumb {
    width            : 100%;
    height           : 100%;
    background-color : #e9e9e9;
    background-size  : cover;
    position         : absolute;
    margin           : auto;
    z-index          : 9;
    opacity          : 0;
    transition       : opacity 500ms;
}

ul.yith-wcbk-search-form-result-products li.product-type-booking .yith-wcbk-search-form-result-product-thumb-wrapper .yith-wcbk-thumb.current {
    opacity    : 1;
    transition : opacity 0ms;
    z-index    : 8;
}

.yith-wcbk-search-form-result-product-meta-wrapper h3 {
    margin         : 0;
    padding        : 5px;
    font-size      : 14px;
    font-family    : 'Open Sans', sans-serif;
    color          : #6d6c6c;
    font-style     : normal;
    font-weight    : 700;
    text-align     : center;
    text-transform : uppercase;
}

.yith-wcbk-search-form-result-product-add-to-cart {
    border-top : 1px solid #eee;
}

.yith-wcbk-search-form-result-product-add-to-cart a {
    padding        : 10px 0;
    font-size      : 14px;
    font-family    : 'Open Sans', sans-serif;
    font-style     : normal;
    font-weight    : 700;
    text-align     : center;
    text-transform : uppercase;
    display        : block;
}

.yith-wcbk-search-form-result-product-add-to-cart form {
    border     : none !important;
    padding    : 0 !important;
    margin     : 0 !important;
    background : transparent !important;
}

.yith-wcbk-search-form-results-show-more {
    font-family    : 'Open Sans', sans-serif;
    font-size      : 14px;
    width          : 100%;
    padding        : 8px;
    text-transform : uppercase;
    cursor         : pointer;
    display        : block;
    clear          : both;
    text-align     : center;
    background     : #e7eaef;
    color          : #464d56;
    font-weight    : 600;
}

.yith-wcbk-search-form-results-show-more:hover {
    background : #d5d8dd;
    color      : #2a2c2d;
}

@media only screen and (min-width : 1280px) {
    ul.yith-wcbk-search-form-result-products li.product-type-booking:nth-child(6n) {
        margin-right : 0;
    }

    ul.yith-wcbk-search-form-result-products li.product-type-booking:nth-child(6n +1) {
        clear : both;
    }
}

@media only screen and (min-width : 580px) and (max-width : 1280px) {
    ul.yith-wcbk-search-form-result-products li.product-type-booking {
        width  : 31%;
        float  : left;
        margin : 0 3.5% 2em 0;
    }

    ul.yith-wcbk-search-form-result-products li.product-type-booking:nth-child(3n) {
        margin-right : 0;
    }

    ul.yith-wcbk-search-form-result-products li.product-type-booking:nth-child(3n +1) {
        clear : both;
    }
}

@media only screen and (max-width : 580px) {
    ul.yith-wcbk-search-form-result-products li.product-type-booking {
        width  : 48%;
        float  : left;
        clear  : both;
        margin : 0 0 2em;
    }

    ul.yith-wcbk-search-form-result-products li.product-type-booking:nth-child(2n) {
        float : right;
        clear : none !important;
    }
}