/**
 * YITH Booking for WooCommerce Premium Popup style
 *
 * @author Leanza Francesco
 * @version 1.0.0
 */

.yith-wcbk-popup {
    display    : none;
    position   : absolute;
    top        : 25%;
    left       : 25%;
    width      : 50%;
    padding    : 35px;
    box-sizing : border-box;
    box-shadow : 0px 4px 28px 2px rgba(0, 0, 0, 0.7);
    background : #fff;
    border     : 1px solid #ccc;
    z-index    : 99999;
    overflow   : hidden;
}

.yith-wcbk-popup img.alignleft {
    margin-left : 0 !important;
}

.yith-wcbk-popup img.alignright {
    margin-right : 0 !important;
}

.yith-wcbk-popup .yith-wcbk-product-table-wrapper {
    padding : 0;
}

.yith-wcbk-popup h2 {
    margin-top : 0;
}

span.yith-wcbk-popup-close {
    cursor      : pointer;
    position    : absolute;
    top         : 0;
    right       : 0;
    z-index     : 99999;
    font-size   : 30px;
    width       : 40px;
    height      : 40px;
    line-height : 40px;
    color       : #ccc;
}

/*    Premium Styles INFORMAL   */
.yith-wcbk-popup-informal {
    box-shadow    : none;
    background    : #999;
    border-radius : 8px;
    padding       : 6px;
    border        : 0;
}

.yith-wcbk-popup-informal .yith-wcbk-popup-container {
    background : #fff;
    padding    : 30px;
}

.yith-wcbk-popup-informal span.yith-wcbk-popup-close {
    top   : 10px;
    right : 10px;
}

/*    Premium Styles CASUAL   */
.yith-wcbk-popup-casual {
    box-shadow    : none;
    background    : #b37c81;
    border-radius : 8px;
    padding       : 5px;
    border        : 0;
}

.yith-wcbk-popup-casual .yith-wcbk-popup-container {
    background : #fff;
    padding    : 30px;
}

.yith-wcbk-popup-casual span.yith-wcbk-popup-close {
    top        : 3px;
    right      : 3px;
    color      : #fff;
    background : #b37c81;
}

/*    Premium Styles ELEGANT   */
.yith-wcbk-popup-elegant {
    box-shadow : none;
    background : #fff;
}

.yith-wcbk-popup-elegant span.yith-wcbk-popup-close {
    top        : 10px;
    right      : 10px;
    color      : #6d6d6d;
    background : #dfdfdf;
}

.yith-wcbk-popup-ajax-container {
    overflow-y : auto;
    overflow-x : hidden;
    height     : 100%;
    padding    : 10px;
}

/*
    Overlay
*/

.yith-wcbk-overlay {
    background : #000;
    opacity    : 0.8;
    z-index    : 99998;
    position   : fixed;
    width      : 100%;
    height     : 100%;
    top        : 0;
    left       : 0;
}

/*
    RESPONSIVE for MOBILE
*/

@media only screen and (max-width : 768px) {
    .yith-wcbk-popup {
        left        : 2% !important;
        width       : 96% !important;
        padding     : 5px;
        padding-top : 35px;
    }
}

