/* Base */

.summary-add-to-cart-form-bundle {
	clear: both;
}

.summary-add-to-cart-form-bundle:before {
	display: table;
	content: ' ';
	clear: both;
}

.bundled_product_summary {
	padding-left: 115px;
	padding-bottom: 1em;
}

.bundled_product_summary.thumbnail_hidden {
	padding-left: 15px;
}

.bundled_product_summary .bundled_product_optional_checkbox span {
	font-weight: inherit;
}

.bundled_product_summary .bundled_product_optional_checkbox {
	margin-bottom: 0px;
	padding-bottom: 10px;
	display: inline-block;
}

.bundled_product_summary .bundled_item_wrap {
	min-height: 2px;
}

.bundled_product_summary .bundled_product_images figure {
	margin: 0;
}

.bundled_product_summary .bundled_product_images {
	float: left;
	margin-left: -100px;
}

.bundled_product_summary .bundled_product_images img {
	width: 80px;
	height: auto;
}

.bundled_product_summary .bundled_product_images a {
	margin-right: 20px;
	margin-top:	4px;
	display: block;
}

.bundled_product_summary .bundled_product_images a.placeholder_image[data-rel="photoSwipe"] {
	cursor: default;
}

.bundled_product_summary .details {
	float: left;
	width: 100%;
}

.bundled_product_summary .bundled_product_title .item_suffix {
	font-style: italic;
}

.bundled_product_summary .bundled_product_title .bundled_product_title_link {
	font-size: 0.8em;
	margin-left: 0.5em;
}

.bundled_product_summary .bundled_product_title a.bundled_product_permalink:before {
	content: '\f08e';
	font-family: 'FontAwesomePB';
}

.bundled_product_summary p.stock, .single-product .bundled_product_summary span.price, .bundled_product_summary p.bundled_item_unavailable {
	margin-bottom: 1em;
}

.bundled_product_summary p.bundled_item_unavailable {
	font-weight: 500;
}

.single-product .bundled_product_summary:not(.bundled_item_optional) span.price {
	display: block;
}

.bundled_product_summary.bundled_item_optional span.price {
	margin-left: 4px;
}

.bundled_product_summary .quantity_hidden {
	display: none !important;
}

.bundle_form {
	margin-bottom: 2em;
}

.bundle_data .bundle_button button.disabled {
	opacity: 0.5;
}

.bundled_item_wrap:after, div.bundled_product_summary:after, div.bundled_product_summary:before, .bundle_data:after, .bundled_product_summary .bundled_product_optional_checkbox:after {
	display: table;
	content: " ";
	clear: both;
}

.float_qty_input .details {
	padding-right: 100px;
	position: relative;
	width: 100%;
}

.float_qty_input .bundled_item_after_cart_details {
	position: absolute;
	right: 5px;
	top: 0px;
}

.bundled_product_checkbox {
	vertical-align: middle;
	margin: 0 6px 3px 0;
}

.bundle_error .woocommerce-info ul {
	list-style: none;
	margin: 0;
}

.bundle_error .woocommerce-info ul li {
	margin-bottom: 0.5em;
}

.bundle_error .woocommerce-info ul li:last-of-type {
	margin-bottom: 0;
}

.bundle_error .woocommerce-info {
	margin: 0 0 30px;
}

/* Animations */

.bundle_form .bundle_price, .bundle_form .bundle_error {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.bundle_form .bundle_price:before, .bundle_form .bundle_error:before, .bundle_form .bundle_availability:before {
	display: table;
	content: " ";
	clear: both;
}

.bundle_form .bundle_price:after, .bundle_form .bundle_error:after, .bundle_form .bundle_availability:after {
	display: table;
	content: " ";
	clear: both;
}

.single-product .bundle_form .bundle_price p.price {
	line-height: 1em;
	margin: 0 0 30px;
}

.single-product .bundle_form .bundle_availability p.stock {
	margin: 0 0 30px;
}

.bundled_product_summary.thumbnail_hidden .bundled_item_cart_content {
	padding-left: 2px;
}

/* Extensions & core css compatibility */

span.summary_element_content span.content_product_title span.content_bundled_product_title {
	display: block;
}

span.summary_element_content span.content_product_title span.content_bundled_product_title:first-of-type {
	margin-top: 0.5em;
}

span.summary_element_content span.content_product_title span.content_bundled_product_title span.bundled_product_title_sep {
	display: none;
}

.component .bundle_form {
	margin-bottom: 0;
}

.component .bundled_product_summary {
	padding-left: 100px;
}

.bundle_form .product-addon {
	margin: 0;
	padding: 10px 0;
}

.single-product .bundle_form .bundled_product_summary .variations_button {
	padding-top: 0px;
	border-top: none;
}

.bundled_product .cart .variations, .bundled_product .cart .variations tr, .bundled_product .cart .variations td {
	border: 0;
}

.bundled_product .cart .variations td {
	vertical-align: top;
	padding-left: 0;
}

.bundled_product .cart .variations td.label {
	font-weight: 700;
	padding-right: 1em;
}

.bundled_product .cart .variations a.reset_variations {
	visibility: hidden;
	margin-left: 0;
}

.bundled_product .cart .variations select, .bundled_product .cart .variations .bundled_variation_attribute_value {
	margin-right: 13px;
}

.bundle_form button {
	vertical-align: middle;
}

.single-product div.product .images.bundled_product_images {
	margin-bottom: 0;
}

/* Tabular Layout */

table.bundled_products .bundled_product_summary .bundled_product_images {
	float: none;
	margin-left: 0;
	min-width: 80px;
}

table.bundled_products .bundled_product_summary .bundled_product_images a {
	margin-right: 0;
}

table.bundled_products .bundled_product_summary {
	padding-left: 0;
	padding-bottom: 0;
}

table.bundled_products td.bundled_item_col p:last-child {
	margin-bottom: 1em;
}

table.bundled_products td.bundled_item_col {
	vertical-align: top;
	border: 0;
	padding: 1em;
}

table.bundled_products th.bundled_item_col {
	border: 0;
}

table.bundled_products td.bundled_item_images_col {
	width: 20%;
}

table.bundled_products td.bundled_item_qty_col {
	width: 150px;
}

table.bundled_products td.bundled_item_qty_col, table.bundled_products th.bundled_item_qty_head {
	text-align: center;
}

.single-product div.product form.cart table.bundled_products td.bundled_item_qty_col .quantity {
	float: none;
}

table.bundled_products td.bundled_item_images_col img {
	width: 100%;
}

table.bundled_products {
	border-width: 0 0 1px;
	margin-bottom: 2em;
}

table.bundled_products td.bundled_item_details_col .details {
	float: none;
}
