.njba-slider-container {
  overflow: hidden;
}
.slider-horizontal .slider-handle:before, .slider-horizontal .slider-handle:after, .slider-vertical .slider-handle:before, .slider-vertical .slider-handle:after {
  content: " ";
  display: block;
  background: white;
  position: absolute;
  z-index: 30;
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5); }
.slider-horizontal .slider-handle:before, .slider-horizontal .slider-handle:after {
  width: 3px;
  height: 9999px;
  left: 50%;
  margin-left: -1.5px; }
.slider-vertical .slider-handle:before, .slider-vertical .slider-handle:after {
  width: 9999px;
  height: 3px;
  top: 50%;
  margin-top: -1.5px; }
.slider-before-label, .slider-after-label, .slider-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }
.slider-before-label, .slider-after-label, .slider-overlay {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }
.slider-before-label, .slider-after-label {
  -webkit-transition-property: opacity;
  transition-property: opacity; }
.slider-before-label:before, .slider-after-label:before {
  color: white;
  font-size: 13px;
  letter-spacing: 0.1em; }
.slider-before-label:before, .slider-after-label:before {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  line-height: 38px;
  padding: 0 20px;
  border-radius: 2px; }
.slider-left-arrow, .slider-right-arrow, .slider-up-arrow, .slider-down-arrow {
  width: 0;
  height: 0;
  border: 6px inset transparent;
  
}
.slider-container {
  box-sizing: content-box;
  z-index: 0;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  max-width: 100%; }
  .slider-container img {
    max-width: 100%;
    position: absolute;
    top: 0;
    display: block; }
  .slider-container.active .slider-overlay, .slider-container.active :hover.slider-overlay {
    background: rgba(0, 0, 0, 0); }
    .slider-container.active .slider-overlay .slider-before-label,
    .slider-container.active .slider-overlay .slider-after-label, .slider-container.active :hover.slider-overlay .slider-before-label,
    .slider-container.active :hover.slider-overlay .slider-after-label {
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
  .slider-container * {
    box-sizing: content-box; }
.slider-before-label {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  }
  .slider-before-label:before {
    content: "Before"; }
.slider-after-label {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";display: -webkit-box;display: -ms-flexbox;display: flex;
   }
  .slider-after-label:before {
    content: "After"; }
.slider-horizontal .slider-before-label:before {
  left: 10px; }
.slider-horizontal .slider-after-label:before {
  right: 10px; }
.slider-vertical .slider-before-label:before {
  top: 10px; }
.slider-vertical .slider-after-label:before {
  bottom: 10px; }
.slider-overlay {
  -webkit-transition-property: background;
  transition-property: background;
  background: rgba(0, 0, 0, 0);
  z-index: 25; }
  .slider-overlay:hover {
    background: rgba(0, 0, 0, 0.5); }
    .slider-overlay:hover .slider-after-label {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
    .slider-overlay:hover .slider-before-label {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
.slider-before {
  z-index: 20; }
.slider-after {
  z-index: 10; }
.slider-handle {
  height: 38px;
  width: 38px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border: 3px solid white;
  border-radius: 1000px;
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  z-index: 40;
  cursor: pointer; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider-horizontal .slider-handle:before {
  bottom: 50%;
  margin-bottom: 22px;
  box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }
.slider-horizontal .slider-handle:after {
  top: 50%;
  margin-top: 22px;
  box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }
.slider-vertical .slider-handle:before {
  left: 50%;
  margin-left: 22px;
  box-shadow: 3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }
.slider-vertical .slider-handle:after {
  right: 50%;
  margin-right: 22px;
  box-shadow: -3px 0 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }
.slider-left-arrow {
  border-right: 6px solid white;
  margin-right: 10px;
}
.slider-right-arrow {
  border-left: 6px solid white;
}
.slider-up-arrow {
  border-bottom: 6px solid white;
}
.slider-down-arrow {
  border-top: 6px solid white;
}
/* Triangle Position */
.slider-vertical .slider-handle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.slider-vertical .slider-handle span:last-of-type {
  margin-bottom: 10px;
}
/* Label Animation Effect */
.njba-move-on-hover .slider-overlay .slider-before-label,
.njba-move-on-hover .slider-overlay .slider-after-label {
  -webkit-transition: all linear 300ms;
  transition: all linear 300ms;
}
.njba-move-on-hover.active .slider-overlay .slider-before-label,
.njba-move-on-hover.active .slider-overlay .slider-after-label {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
.njba-move-on-hover:hover .slider-overlay .slider-before-label,
.njba-move-on-hover:hover .slider-overlay .slider-after-label {
   opacity: 0.3;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
   -webkit-animation-name: fadelabel;
           animation-name: fadelabel;
   -webkit-animation-duration: 3s;
           animation-duration: 3s;
}
@-webkit-keyframes fadelabel {
   0% {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
   50% {opacity: 0.5;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";}
   100% {opacity: 0.3;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";}
}
@keyframes fadelabel {
   0% {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
   50% {opacity: 0.5;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";}
   100% {opacity: 0.3;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";}
}
/* IE And Firefox Fixes */
.internet-explorer .slider-left-arrow,
.internet-explorer .slider-right-arrow,
.internet-explorer .slider-up-arrow,
.internet-explorer .slider-down-arrow {
    position: absolute;
}
.internet-explorer .slider-horizontal .slider-left-arrow,
.internet-explorer .slider-horizontal .slider-right-arrow {
    top: 50%;
    transform: translateY(-50%);
}
.internet-explorer .slider-vertical .slider-up-arrow,
.internet-explorer .slider-vertical .slider-down-arrow {
    left: 50%;
    transform: translateX(-50%);
}
.internet-explorer .slider-left-arrow {
    left: 0;
}
.internet-explorer .slider-right-arrow {
    right: 0;
}
.firefox .slider-horizontal .njba-label-position-center .slider-before-label:before, 
.firefox .slider-horizontal .njba-label-position-center .slider-after-label:before,
.internet-explorer .slider-horizontal .njba-label-position-center .slider-before-label:before, 
.internet-explorer .slider-horizontal .njba-label-position-center .slider-after-label:before,
.safari .slider-horizontal .njba-label-position-center .slider-before-label:before, 
.safari .slider-horizontal .njba-label-position-center .slider-after-label:before {
  top: 50%; 
  transform: translateY(-50%);
}
.firefox .slider-vertical .njba-label-position-center .slider-before-label:before, 
.firefox .slider-vertical .njba-label-position-center .slider-after-label:before,
.internet-explorer .slider-vertical .njba-label-position-center .slider-before-label:before, 
.internet-explorer .slider-vertical .njba-label-position-center .slider-after-label:before,
.safari .slider-vertical .njba-label-position-center .slider-before-label:before, 
.safari .slider-vertical .njba-label-position-center .slider-after-label:before  {
  left: 50%; 
  transform: translateX(-50%);
}
.internet-explorer .slider-down-arrow {
    bottom: 0;
}
.internet-explorer .slider-vertical .slider-handle span:last-of-type {
    top: 0;
}
.njba-adv-accordion-content .slider-container *,
.njba-tab-acc-content .slider-container *,
.njba-modal-content-data .slider-container *{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}