/* All styles for the waitlist custom tab */

/** TABS START **/
#woocommerce-product-data .product_data_tabs .wcwl_waitlist_menu_tab > a:before {
    content: '\f307';
}

.wcwl_tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.wcwl_tabs li {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    background: #ededed;
    font-weight: 400;
}

.wcwl_tabs li.current {
    background: none;
    color: #000000;
}

/** TABS END **/

/** PANELS START **/
.wcwl_tab_content {
    display: none;
    position: relative;
    margin: 5px;
}

.wcwl_tab_content.current {
    display: inherit;
}

.wcwl_no_users .wcwl_no_users_text {
    padding-top: 0;
    font-size: 1em;
    margin-top: 0;
}

.wcwl_variation_tab .wcwl_body_wrap {
    border-bottom: 1px solid #ddd;
}

/** PANELS END **/

/** ADD USER WRAP START **/
.wcwl_add_user_wrap {
    min-height: 42px;
}

#wcwl_waitlist_data,
.wcwl_add_user_wrap .wcwl_add_user_content {
    display: none;
}

.wcwl_tab_content .wcwl_add_user_wrap button,
.wcwl_tab_content .wcwl_add_user_wrap input {
    height: 31px;
}

.wcwl_tab_content .wcwl_add_user_wrap button {
    box-shadow: none;
    margin-left: 5px;
}

.wcwl_add_user_wrap .wcwl_email {
    min-width: 50%;
    float: none;
}

.wcwl_new_account_text {
    display: block;
    font-size: 0.9em;
    font-style: italic;
}

/** ADD USER WRAP END **/

/** ACTIONS DROPDOWN START **/
.wcwl_actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
}

.wcwl_tab_content .wcwl_actions select.wcwl_action,
.wcwl_tab_content .wcwl_actions button {
    height: 31px;
}

.wcwl_actions select.wcwl_action {
    float: none;
}

.wcwl_actions button {
    margin-left: 5px;
}

.wcwl_actions button {
    box-shadow: none;
}

/** ACTIONS DROPDOWN END **/

/** TABLE START **/
table.wcwl_waitlist_table {
    width: 100%;
}

table.wcwl_waitlist_table tr td label {
    float: none;
    width: auto;
    padding: 0;
    margin: 0;
}

table.wcwl_waitlist_table td,
table.wcwl_waitlist_table th {
    text-align: center;
    border: 1px solid #eee;
}

table.wcwl_waitlist_table th {
    font-weight: bold;
}

table.wcwl_waitlist_table th input {
    margin: 0;
}

/** TABLE END **/

/** VARIATION START **/
.woocommerce_options_panel .wcwl_variation_tab .wcwl_body_wrap {
    display: none;
}

.wcwl_header_wrap:hover {
    cursor: pointer;
}

.wcwl_header_wrap {
    padding: 0 10px;
    border-bottom: 1px solid #ddd;
}

.wcwl_header_wrap h3:after {
    content: '\25be';
    float: right;
    color: #ccc;
}

.wcwl_header_wrap h3 {
    line-height: 15px;
    font-weight: 700;
    font-size: 1em;
}

/** VARIATION END **/

/** NOTICES START **/
.panel.woocommerce_options_panel .wcwl_notice {
    border-left: 4px solid #00a0d2;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
    position: relative;
}

.panel.woocommerce_options_panel .wcwl_notice {
    margin: 0 5px 10px;
}

.panel.woocommerce_options_panel .wcwl_notice_error {
    border-left-color: #ffb900;
}

.panel.woocommerce_options_panel .wcwl_notice_success {
    border-left-color: #46b450;
}

.wcwl_dismiss {
    position: absolute;
    top: 7px;
    right: 0;
    padding: 0 10px;
    cursor: pointer;
}

.wcwl_dismiss:hover {
    color: red;
}

.panel.woocommerce_options_panel .wcwl_notice p {
    margin: 0;
    max-width: 85%;
}

/** NOTICES END **/

/** OPTIONS PANEL START **/
.panel.woocommerce_options_panel .options {
    padding: 10px;
}

.panel.woocommerce_options_panel .options label,
.panel.woocommerce_options_panel .options input {
    float: none;
    margin: 0;
}

.panel.woocommerce_options_panel .options fieldset input {
    max-width: 50px;
}

.panel.woocommerce_options_panel .options label {
    display: inline-block;
    width: 75%;
    margin-left: 10px;
}

.panel.woocommerce_options_panel .options fieldset {
    width: 100%;
    margin-bottom: 10px;
}

.panel.woocommerce_options_panel .options input[type="button"] {
    margin-top: 10px;
}

.panel.woocommerce_options_panel .options .wcwl_disabled {
    color: #bbb;
}

/** OPTIONS PANEL END **/

/** MEDIA QUERIES **/
@media ( max-width: 525px ) {
    .wcwl_body_wrap .wcwl_actions,
    .wcwl_body_wrap .wcwl_add_user_wrap {
        position: relative;
        text-align: center;
    }

    .panel.woocommerce_options_panel .wcwl_body_wrap .wcwl_actions {
        margin-bottom: 10px;
    }

    .wcwl_body_wrap .wcwl_add_user_wrap {
        margin: 5px;
        padding: 0 10px;
    }

    .archive .wcwl_add_user_wrap {
        display: none !important;
    }
}