/* Editor Fix */
.gdbbx-editor-fix {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0 0 3px 3px !important;
    width: 100%;
    resize: vertical;
}

.gdbbx-accessibility-show-for-sr {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

#bbpress-forums .form-allowed-tags code {
    width: 100%;
}

/* User Stats */
.gdbbx-user-stats .gdbbx-value {
    font-weight: bold;
}

.gdbbx-user-stats .gdbbx-label.gdbbx-status-offline {
    color: #cc0000;
}

.gdbbx-user-stats .gdbbx-label.gdbbx-status-online {
    color: #298500;
    font-weight: bold;
}

/* Quotes */
.gdbbx-quote-title {
    font-weight: bold;
    padding-bottom: 2px;
    margin-bottom: 5px;
    border-bottom: 1px solid #dddddd;
}

.gdbbx-bbcode-quote {
    padding: 0 0 .5em 1em;
}

.gdbbx-bbcode-quote p:last-child {
    margin-bottom: 0 !important;
}

.gdbbx-bbcode-quote.gdbbx-quote-is-private p {
    font-weight: bold;
    color: #800;
}

/* BBCodes */
#bbpress-forums .bbp-topic-content .gdbbx-bbcode-heading,
#bbpress-forums .bbp-reply-content .gdbbx-bbcode-heading {
    margin: .5em 0;
}

#bbpress-forums .bbp-topic-content .gdbbx-bbcode-heading:first-of-type,
#bbpress-forums .bbp-reply-content .gdbbx-bbcode-heading:first-of-type {
    margin-top: 0;
}

.syntaxhighlighter.gdbbx-bbcode-scode {
    padding: 1em 0;
    border: 1px solid #ddd;
}

.gdbbx-bbcode-spoiler {
    padding: 0 5px;
}

.gdbbx-bbcode-hr {
    clear: none;
    margin: 1em 0;
}

table.gdbbx-bbcode-nfo {
    border: 1px solid #222222;
}

table.gdbbx-bbcode-nfo td.gdbbx-bbcode-el-title {
    background: #222222;
    color: #ffffff;
    border: none;
}

table.gdbbx-bbcode-nfo td.gdbbx-bbcode-el-content {
    padding: 0;
}

table.gdbbx-bbcode-nfo td.gdbbx-bbcode-el-content pre {
    color: #000000;
    background: #ffffff;
    font-size: 10px;
    line-height: 10px;
    font-family: monospace;
    border: none;
    margin: 0;
}

/* BBCode Hide */
.gdbbx-bbcode-hide {
    margin: 6px 0 12px;
    border: 1px solid #cccccc;
}

.gdbbx-bbcode-hide.gdbbx-hide-hidden .gdbbx-hide-title {
    color: #cc0000;
}

.gdbbx-bbcode-hide .gdbbx-hide-title {
    padding: 4px 8px;
    font-weight: bold;
    background-color: #cccccc;
}

.gdbbx-bbcode-hide .gdbbx-hide-content {
    padding: 4px 8px;
    background-color: #fdfdfd;
}

/* Signatures */
#bbpress-forums .gdbbx-signature {
    border-top: 1px solid #dddddd;
    margin-top: 15px;
    padding: 5px 0;
}

#bbpress-forums .gdbbx-signature p {
    margin: 0 0 5px;
}

#bbpress-forums .gdbbx-signature p:last-child {
    margin: 0;
}

#bbpress-forums #bbp-your-profile fieldset .gdbbx-editor-textarea fieldset.gdbbx-signature {
    display: inline;
    width: 60%;
}

#bbpress-forums #bbp-your-profile fieldset .gdbbx-editor-textarea fieldset.gdbbx-signature textarea,
#bbpress-forums #bbp-your-profile fieldset fieldset.gdbbx-signature span.description {
    width: 100%;
    margin: 10px 0 20px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* Private Topics / Replies */
#bbpress-forums div.topic.gdbbx-private-topic,
#bbpress-forums div.reply.gdbbx-private-reply {
    background-color: #fff8f8;
}

#bbpress-forums div.topic.gdbbx-private-topic-locked,
#bbpress-forums div.reply.gdbbx-private-reply-locked {
    background-color: #ffeeee;
}

#bbpress-forums div.topic.gdbbx-private-topic-locked .bbp-topic-content,
#bbpress-forums div.reply.gdbbx-private-reply-locked .bbp-reply-content {
    font-weight: bold;
}

.gdbbx-private-reply-hidden {
    display: none;
}

/* Reply Title */
i.gdbbx-icon-mark {
    margin-right: 4px;
    cursor: pointer;
}

#bbpress-forums .bbp-reply-content h4.bbp-reply-title {
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    padding: 0 0 0.5em;
    width: 80%;
}

/* Thanks */
.gdbbx-thanks-wrapper .gdbbx-said-thanks {
    border-top: 1px solid #dddddd;
    margin-top: 10px;
    padding: 10px 0;
    overflow: auto;
}

.gdbbx-thanks-wrapper .gdbbx-said-thanks h6 {
    margin: 0 0 10px !important;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.4em;
}

.gdbbx-thanks-wrapper .gdbbx-said-thanks .gdbbx-thanks-list {
    line-height: 16px;
}

.gdbbx-thanks-wrapper .gdbbx-said-thanks .gdbbx-thanks-list a {
    line-height: 16px;
    vertical-align: top;
}

.gdbbx-thanks-wrapper .gdbbx-said-thanks .gdbbx-thanks-list img.avatar {
    width: 16px;
    vertical-align: top;
    display: inline-block;
    float: none !important
    margin: 0 2px 0 0 !important;
}

/* Attachments */
.gdbbx-attachments, 
.gdbbx-attachments-errors {
    border-top: 1px solid #dddddd;
    margin-top: 10px;
    padding: 10px 0;
    overflow: auto;
}

.gdbbx-attachments-edit .gdbbx-attachment select {
    margin: 0 !important;
    padding: 0;
    float: right;
    height: 20px;
    font-size: 11px;
    box-sizing: border-box;
    display: inline-block;
    width: auto;
}

.gdbbx-attachments h6, 
.gdbbx-attachments-errors h6 {
    margin: 0 0 10px !important;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.4em;
}

.gdbbx-attachments ol,
.gdbbx-attachments-errors ol {
    margin: 0 !important;
    list-style: decimal inside none;
}

.gdbbx-attachments ol.with-icons {
    list-style: none;
    margin: 0 0 10px !important;
}

.gdbbx-attachments ol.with-icons:last-child {
    margin: 0 !important;
}

.gdbbx-attachments ol.with-font-icons li {
    line-height: 20px;
    list-style: none;
}

.gdbbx-attachments ol.with-thumbnails,
.gdbbx-attachments ol.with-thumbnails li.gdbbx-attachment-thumb {
    list-style: none;
}

.gdbbx-attachments ol.with-thumbnails:after {
    content: " ";
    display: table;
    clear: both;
}

.gdbbx-attachments li {
    margin: 0 0 6px !important;
}

.gdbbx-attachments li.gdbbx-attachment-thumb {
    margin: 0 0 10px !important;
}

.gdbbx-attachments-errors li {
    line-height: 16px;
    margin: 0 0 6px !important;
}

.gdbbx-attachments li a {
    text-decoration: none;
    box-shadow: none;
}

.gdbbx-attachments li a img {
    display: block;
}

.gdbbx-attachments li:last-child,
.gdbbx-attachments-errors li:last-child {
    margin: 0 !important;
}

.gdbbx-attachments ol li.gdbbx-attachment-thumb {
    padding: 0;
    height: auto;
}

.gdbbx-attachments ol li.gdbbx-attachment-thumb.gdbbx-thumb-inline {
    float: left;
    margin-right: 10px !important;
    list-style: none !important;
}

.gdbbx-attachments ol li.gdbbx-attachment-thumb .wp-caption {
    padding: 5px;
    margin: 0;
    height: auto;
}

.gdbbx-attachments ol li.gdbbx-attachment-thumb .wp-caption p.wp-caption-text {
    margin: 5px 0 !important;
    word-wrap: break-word;
    line-height: 1.3em;
    padding: 0;
    font-size: 12px;
}

.gdbbx-attachments ol li.gdbbx-attachment-thumb .wp-caption img {
    margin: 0;
}

.bbp-form .gdbbx-attachments-form-current .gdbbx-attachments {
    border-top: none;
    margin-top: 0;
    padding: 0;
}

.bbp-form .gdbbx-attachments-form-current ol {
    padding: 0;
}

.bbp-form .gdbbx-attachments-form .gdbbx-attachments-input {
    padding: 0.5em 0;
    margin: 0 0 1em;
    border: 1px solid transparent;
    border-radius: 3px;
}

.bbp-form .gdbbx-attachments-form .gdbbx-attachments-input:after {
    content: " ";
    display: table;
    clear: both;
}

.bbp-form .gdbbx-attachments-form .gdbbx-attachments-input input {
    margin: 0 !important;
}

.bbp-form .gdbbx-attachments-form .gdbbx-attachments-input.gdbbx-attachment-invalid {
    background-color: #ffebe8;
    border-color: #c00;
}

.bbp-form .gdbbx-attachments-form .gdbbx-validation-disabled div {
    display: none;
}

.bbp-form .gdbbx-attachments-form .gdbbx-validation-active input {
    display: none;
}

.bbp-form .gdbbx-attachments-form .gdbbx-validation-active .gdbbx-attachment-preview {
    width: 160px;
    height: 120px;
    border-radius: 3px;
    float: left;
    margin: 0 1em 0 0;
    background-color: #eee;
    cursor: pointer;
    position: relative;
}

.bbp-form .gdbbx-attachments-form .gdbbx-validation-active .gdbbx-attachment-preview span {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    bottom: 6px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    padding: 0 10px;
    position: absolute;
    right: 6px;
    border: 1px solid #999;
}

.bbp-form .gdbbx-attachments-form .gdbbx-validation-active .gdbbx-attachment-preview img.gdbbx-attached-file {
    border: 1px solid #eee;
    border-radius: 3px;
    box-shadow: none;
    height: 118px;
    width: 158px;
}

.bbp-form .gdbbx-attachments-form .gdbbx-validation-active .gdbbx-attachment-preview p.gdbbx-attached-file {
    font-size: 2.5em;
    font-style: oblique;
    font-weight: bold;
    letter-spacing: -3px;
    line-height: 1.4em;
    margin: 0 0.4em 0 0.3em !important;
    text-align: right;
    word-wrap: initial;
}

.bbp-form .gdbbx-attachments-form .gdbbx-validation-active .gdbbx-attachment-control {
    line-height: 24px;
    float: left;
}

.bbp-form .gdbbx-attachment-add-file {
    background-color: #FEFEFE;
    border: 1px solid #999;
    border-radius: 3px;
    bottom: 6px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    padding: 0 10px;
    right: 6px;
}

.bbp-form .gdbbx-attachment-add-file:before {
    display: block;
    clear: both;
}

.bbp-form .gdbbx-attachments-form .gdbbx-validation-active .gdbbx-attachment-control input {
    font-size: 12px;
    height: 22px;
    padding: 2px 4px;
    width: 100%;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Online Status */
.gdbbx-online-status .gdbbx-online-user {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
}

.gdbbx-online-status p:last-of-type {
    margin-bottom: 0;
}

.gdbbx-online-status .gdbbx-online-user img {
    display: inline-block;
    vertical-align: -3px;
}

.gdbbx-footer-meta {
    background-color: #f4f4f4;
    padding: 8px;
    margin: 12px 0 0;
    overflow: auto;
}

/* Canned Replies */
.gdbbx-canned-replies {
    margin: 5px 0 15px;
}

.gdbbx-canned-replies .gdbbx-canned-replies-show {
    font-size: 1.2em;
    font-weight: bold;
}

.gdbbx-canned-replies .gdbbx-canned-replies-hide {
    font-weight: bold;
    display: none;
}

.gdbbx-canned-replies .gdbbx-canned-replies-list,
.gdbbx-canned-replies .gdbbx-canned-reply-content {
    display: none;
}

.gdbbx-canned-replies .gdbbx-canned-category {
    margin: 0;
    font-size: 18px;
}

#bbpress-forums .gdbbx-canned-replies .gdbbx-canned-replies-list ul {
    margin: 8px 0;
}

#bbpress-forums .gdbbx-canned-replies .gdbbx-canned-replies-list ul:last-of-type {
    margin: 8px 0 0;
}

#bbpress-forums .gdbbx-canned-replies .gdbbx-canned-replies-list .gdbbx-canned-reply {
    list-style: disc inside;
}

.gdbbx-topic-thumbnail {
    float: left;
    margin-right: 10px;
}

.gdbbx-topic-thumbnail a {
    display: block;
}

.gdbbx-topic-thumbnail img {
    height: 48px;
    width: auto;
}

.gdbbx-report-wrapper, 
.gdbbx-report-wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.gdbbx-report-wrapper {
    position: relative;
    margin: 1em 0 0;
    padding: 1em;
    border: 1px solid #dddddd;
}

.gdbbx-report-wrapper input {
    margin: 0;
    width: 100%;
}

.gdbbx-report-wrapper button {
    margin: 0;
}

.gdbbx-report-wrapper p {
    margin: 0;
}

.gdbbx-report-wrapper p.description {
    margin: .25em 0 .5em;
    font-size: 90%;
    font-style: italic;
}

.gdbbx-admin-links {
    float: right;
}

.gdbbx-admin-links a,
.gdbbx-admin-links span {
    color: #bbbbbb;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.gdbbx-badge-new-reply {
    float: left;
}

.gdbbx-badge-new-reply,
.gdbbx-badge-unread-forum,
.gdbbx-badge-unread-topic,
.gdbbx-badge-new-reply-topic,
.gdbbx-badge-new-posts,
.gdbbx-badge-new-topic {
    background: #111;
    border-radius: 2px;
    padding: 0px 4px 1px;
    margin: 0 4px 0 0;
    font-size: 90%;
    color: #fff;
}

.gdbbx-badge-unread-forum,
.gdbbx-badge-unread-topic {
    background: #009;
}

.gdbbx-badge-new-reply-topic {
    background: #090;
}

.gdbbx-new-topic-replies i.gdbbx-icon-mark {
    margin-right: 0;
    margin-left: 4px;
}

/* Front Forum */
.gdbbx-forum-index-block {
    margin: 15px 0 0;
}

.gdbbx-forum-index-block .gdbbx-forums-inner-block {
    margin: 0 0 15px;
}

.gdbbx-forum-index-block .gdbbx-forums-inner-block h4 {
    background-color: #eeeeee;
    color: #111111;
    line-height: 1.5em;
    margin: 0 0 5px;
    padding: 5px 10px;
}

.gdbbx-forum-index-block .gdbbx-forums-inner-block p {
    color: #333333;
    margin: 0 0 10px;
    line-height: 16px;
}

.gdbbx-forum-index-block .gdbbx-forums-inner-block label {
    display: inline;
    line-height: inherit;
}

.gdbbx-forum-index-block .gdbbx-front-user a {
    color: inherit !important;
    text-decoration: none;
    border: 0;
    box-shadow: none;
}

.gdbbx-forum-index-block .gdbbx-front-user.gdbbx-user-color-bbp_keymaster {
    color: #d00;
}

.gdbbx-forum-index-block .gdbbx-front-user.gdbbx-user-color-bbp_moderator {
    color: #06c;
}

.gdbbx-forum-index-block .gdbbx-front-user.gdbbx-user-color-bbp_participant {
    color: #333;
}

.gdbbx-forum-index-block .gdbbx-front-user.gdbbx-user-color-bbp_spectator {
    color: #0d0;
}

.gdbbx-forum-index-block .gdbbx-front-user.gdbbx-user-color-bbp_blocked {
    color: #aaa;
}

.gdbbx-forum-index-block .bbp-author-avatar img {
    margin: 0 3px -2px 0;
    float: none;
}

.gdbbx-attachments-login-message {
    margin: 10px 0 0 !important;
}
