@font-face {
    font-family: 'gdbbx';
    src: url('fonts/gdbbx.eot?675');
    src: url('fonts/gdbbx.eot?v500.675#iefix') format('embedded-opentype'),
         url('fonts/gdbbx.ttf?v500.675') format('truetype'),
         url('fonts/gdbbx.woff?v500.675') format('woff'),
         url('fonts/gdbbx.svg?v500.675#gdbbx') format('svg');
    font-weight: normal;
    font-style: normal;
}

i.gdbbx-icon {
    font-family: 'gdbbx' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Icons */
.gdbbx-icon-forum:before {
    content: "\e900";
}
.gdbbx-icon-topic:before {
    content: "\e901";
}
.gdbbx-icon-reply:before {
    content: "\e902";
}
.gdbbx-icon-minus:before {
    content: "\f068";
}
.gdbbx-icon-file-o:before {
    content: "\f016";
}
.gdbbx-icon-list-alt:before {
    content: "\f022";
}
.gdbbx-icon-lock:before {
    content: "\f023";
}
.gdbbx-icon-bookmark:before {
    content: "\f02e";
}
.gdbbx-icon-bold:before {
    content: "\f032";
}
.gdbbx-icon-italic:before {
    content: "\f033";
}
.gdbbx-icon-text-height:before {
    content: "\f034";
}
.gdbbx-icon-align-left:before {
    content: "\f036";
}
.gdbbx-icon-align-center:before {
    content: "\f037";
}
.gdbbx-icon-align-right:before {
    content: "\f038";
}
.gdbbx-icon-align-justify:before {
    content: "\f039";
}
.gdbbx-icon-list:before {
    content: "\f03a";
}
.gdbbx-icon-picture-o:before {
    content: "\f03e";
}
.gdbbx-icon-tint:before {
    content: "\f043";
}
.gdbbx-icon-pencil-square-o:before {
    content: "\f044";
}
.gdbbx-icon-arrows:before {
    content: "\f047";
}
.gdbbx-icon-ban:before {
    content: "\f05e";
}
.gdbbx-icon-eye-slash:before {
    content: "\f070";
}
.gdbbx-icon-camera-retro:before {
    content: "\f083";
}
.gdbbx-icon-thumb-tack:before {
    content: "\f08d";
}
.gdbbx-icon-external-link:before {
    content: "\f08e";
}
.gdbbx-icon-square-o:before {
    content: "\f096";
}
.gdbbx-icon-paperclip:before {
    content: "\f0c6";
}
.gdbbx-icon-square:before {
    content: "\f0c8";
}
.gdbbx-icon-list-ul:before {
    content: "\f0ca";
}
.gdbbx-icon-list-ol:before {
    content: "\f0cb";
}
.gdbbx-icon-strikethrough:before {
    content: "\f0cc";
}
.gdbbx-icon-underline:before {
    content: "\f0cd";
}
.gdbbx-icon-envelope:before {
    content: "\f0e0";
}
.gdbbx-icon-comments-o:before {
    content: "\f0e6";
}
.gdbbx-icon-exchange:before {
    content: "\f0ec";
}
.gdbbx-icon-file-text-o:before {
    content: "\f0f6";
}
.gdbbx-icon-plus-square:before {
    content: "\f0fe";
}
.gdbbx-icon-quote-left:before {
    content: "\f10d";
}
.gdbbx-icon-quote-right:before {
    content: "\f10e";
}
.gdbbx-icon-terminal:before {
    content: "\f120";
}
.gdbbx-icon-code:before {
    content: "\f121";
}
.gdbbx-icon-superscript:before {
    content: "\f12b";
}
.gdbbx-icon-subscript:before {
    content: "\f12c";
}
.gdbbx-icon-chevron-circle-right:before {
    content: "\f138";
}
.gdbbx-icon-anchor:before {
    content: "\f13d";
}
.gdbbx-icon-level-down:before {
    content: "\f149";
}
.gdbbx-icon-pencil:before {
    content: "\f14b";
}
.gdbbx-icon-youtube-square:before {
    content: "\f166";
}
.gdbbx-icon-vimeo-square:before {
    content: "\f194";
}
.gdbbx-icon-google:before {
    content: "\f1a0";
}
.gdbbx-icon-file-pdf-o:before {
    content: "\f1c1";
}
.gdbbx-icon-file-word-o:before {
    content: "\f1c2";
}
.gdbbx-icon-file-excel-o:before {
    content: "\f1c3";
}
.gdbbx-icon-file-powerpoint-o:before {
    content: "\f1c4";
}
.gdbbx-icon-file-picture-o:before {
    content: "\f1c5";
}
.gdbbx-icon-file-archive-o:before {
    content: "\f1c6";
}
.gdbbx-icon-file-audio-o:before {
    content: "\f1c7";
}
.gdbbx-icon-file-video-o:before {
    content: "\f1c8";
}
.gdbbx-icon-file-code-o:before {
    content: "\f1c9";
}
.gdbbx-icon-header:before {
    content: "\f1dc";
}

/* Sizing */
.gdbbx-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.gdbbx-2x {
    font-size: 2em;
}

.gdbbx-3x {
    font-size: 3em;
}

.gdbbx-4x {
    font-size: 4em;
}

.gdbbx-5x {
    font-size: 5em;
}

.gdbbx-fw {
    width: 1.28571429em;
    text-align: center;
}

/* Rotate */
.gdbbx-rotate-90 {
    -ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg)
}

/* Spin */
.gdbbx-spin {
    -webkit-animation: gdbbx-spin 2s infinite linear;
    animation: gdbbx-spin 2s infinite linear;
}

@-webkit-keyframes gdbbx-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes gdbbx-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
