.gdbbx-accessibility-show-for-sr {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

/* BBCodes Toolbar */
.gdbbx-bbcodes-toolbar,
.gdbbx-bbcodes-toolbar * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.gdbbx-bbcodes-toolbar {
    display: block;
    border-radius: 3px 3px 0 0;
    border: 1px solid #dddddd;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    border-bottom: none;
}

.gdbbx-bbcodes-toolbar .gdbbx-buttonbar-inner {
    overflow: auto;
    padding: 3px;
}

.gdbbx-bbcodes-toolbar .gdbbx-buttonbar-button {
    border: 1px solid #f5f5f5;
    text-align: center;
    border-radius: 3px;
    float: left;
    margin: 2px;
}

.gdbbx-bbcodes-toolbar .gdbbx-buttonbar-button button.gdbbx-button {
    display: block;
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 3px;
    color: #666666;
    background: none;
    width: 100%;
    text-align: center;
}

.gdbbx-bbcodes-toolbar .gdbbx-buttonbar-button:hover {
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.gdbbx-bbcodes-toolbar .gdbbx-buttonbar-button:hover button.gdbbx-button {
    color: #111111;
}

.gdbbx-bbcodes-toolbar.gdbbx-buttonbar-size-small .gdbbx-buttonbar-inner {
    font-size: 14px;
    line-height: 16px;
}

.gdbbx-bbcodes-toolbar.gdbbx-buttonbar-size-small .gdbbx-buttonbar-button {
    height: 24px;
    padding: 0;
    width: 24px !important;
}

.gdbbx-bbcodes-toolbar.gdbbx-buttonbar-size-small .gdbbx-buttonbar-button button.gdbbx-button {
    height: 22px;
    line-height: 16px;
}

.gdbbx-bbcodes-toolbar.gdbbx-buttonbar-size-medium .gdbbx-buttonbar-inner {
    font-size: 19px;
    line-height: 21px;
}

.gdbbx-bbcodes-toolbar.gdbbx-buttonbar-size-medium .gdbbx-buttonbar-button {
    height: 29px;
    line-height: 27px;
    padding: 0;
    width: 29px !important;
    cursor: pointer;
}

.gdbbx-bbcodes-toolbar.gdbbx-buttonbar-size-medium .gdbbx-buttonbar-button button.gdbbx-button {
    height: 27px;
    line-height: 21px;
    cursor: pointer;
}

.gdbbx-bbcodes-toolbar.gdbbx-buttonbar-size-large .gdbbx-buttonbar-inner {
    font-size: 24px;
    line-height: 26px;
}

.gdbbx-bbcodes-toolbar.gdbbx-buttonbar-size-large .gdbbx-buttonbar-button {
    height: 36px;
    line-height: 34px;
    padding: 0;
    width: 36px !important;
}

.gdbbx-bbcodes-toolbar.gdbbx-buttonbar-size-large .gdbbx-buttonbar-button button.gdbbx-button {
    height: 34px;
    line-height: 28px;
}

.gdbbx-signature-form,
#profile-page .gdbbx-signature-form,
#bbpress-forums .gdbbx-signature-form {
    margin: 0 !important;
}

.gdbbx-signature-form.gdbbx-editor-bbcodes.gdbbx-buddypress-xprofile textarea,
#profile-page .gdbbx-signature-form.gdbbx-editor-bbcodes textarea,
#bbpress-forums .gdbbx-signature-form.gdbbx-editor-bbcodes textarea {
    width: 100% !important;
    margin: 0;
    border-color: #dddddd;
    background-color: #ffffff;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

#profile-page .gdbbx-signature-form.gdbbx-editor-bbcodes textarea.signature:focus {
    box-shadow: none;
}

fieldset .gdbbx-bbcodes-toolbar,
fieldset .gdbbx-bbcodes-toolbar div {
    margin: 0 !important;
    clear: none !important;
}

#bbpress-forums .gdbbx-signature-form.gdbbx-editor-bbcodes textarea.signature {
    width: 100% !important;
    margin: 0 !important;
    border-color: #dddddd !important;
    background-color: #ffffff !important;
}

#buddypress button.gdbbx-button {
    padding: 3px;
}

.bp-profile-field .gdbbx-signature-form.wp-editor-wrap {
    margin-left: 200px !important;
}
