.gdbbx-widget {
    clear: both;
}

.gdbbx-widget.gdbbx-widget-userprofile a {
    text-decoration: none;
}

.gdbbx-widget h3.gdbbx-widget-profile-title {
    font-size: 1.4em;
    background-color: #FAFAFA;
    color: #333333 !important;
    margin-bottom: 1em !important;
    padding: 0.3em 0.1em;
    text-align: center;
}

.gdbbx-widget h3.gdbbx-widget-profile-title a {
    color: #333333 !important;
}

.gdbbx-widget .gdbbx-widget-profile {
    display: table;
}

.gdbbx-widget .gdbbx-widget-profile > div {
    display: table-cell;
    vertical-align: top;
}

.gdbbx-widget .gdbbx-widget-profile-left {
    text-align: center;
}

.gdbbx-widget .gdbbx-widget-profile-left a {
    font-size: 0.9em;
    display: block;
}

.gdbbx-widget .gdbbx-widget-profile-right {
    padding-left: 1em;
}

.gdbbx-widget .gdbbx-widget-profile-right h4 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 .5em;
    padding: 0;
}

.gdbbx-widget .gdbbx-widget-profile-right .gdbbx-widget-profile-basic {
    margin: 0 0 1em;
}

.gdbbx-widget  .gdbbx-widget-profile-right ul {
    margin-bottom: .5em;
    float: none;
}

.gdbbx-widget .gdbbx-widget-profile-right ul:last-child {
    margin-bottom: 0;
}

.gdbbx-widget.gdbbx-widget-newposts a.bbp-topic-title {
    font-weight: bold;
}

.gdbbx-widget.gdbbx-widget-newposts em.bbp-last-active {
    display: block;
}

.gdbbx-widget.gdbbx-widget-info-table table {
    width: 100%;
    line-height: 1.7em;
    border: none;
}

.gdbbx-widget.gdbbx-widget-info-table table tbody th,
.gdbbx-widget.gdbbx-widget-info-table table tbody td {
    vertical-align: top;
    border: none;
}

.gdbbx-widget.gdbbx-widget-info-table table tbody th {
    text-align: left;
}

.gdbbx-widget.gdbbx-widget-info-table table tbody td {
    text-align: right;
}

.gdbbx-widget.gdbbx-widget-statistics dl {
    margin: 0;
}

.gdbbx-widget.gdbbx-widget-statistics dt {
    float: left;
    clear: left;
    width: 60%;
    padding: 5px 0;
    margin: 0;
    font-weight: normal;
}

.gdbbx-widget.gdbbx-widget-statistics dt:after {
    content: ":";
}

.gdbbx-widget.gdbbx-widget-statistics dd {
    font-weight: bold;
    margin: 0 0 0 65%;
    padding: 5px 0;
    text-align: right;
}
