@font-face {
	font-family: 'custom_dashicons_user_sync';
	src:url('custom_dashicons.eot');
	src:url('custom_dashicons.eot?#iefix') format('embedded-opentype'),
		url('custom_dashicons.ttf') format('truetype'),
		url('custom_dashicons.woff') format('woff'),
		url('custom_dashicons.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
#adminmenu #toplevel_page_user-sync div.wp-menu-image:before {
  font-family: 'custom_dashicons_user_sync' !important;
  content: "\e600";
}
#adminmenu #toplevel_page_user-sync div.wp-menu-image img, #add_wdf img {
  display: none;
}


/* 381945-1537348161-au */