.pa-header-wrapper {
    padding: 20px;
    overflow: hidden;
}
.pa-title-left {
    width: 80%;
    float: left;
}
h1.pa-title-main {
    padding: 0;
    line-height: 1.3em;
    font-size: 42px;
    margin-top: 5px;
}
.pa-title-sub {
    color:#777;
    font-weight: normal;
    margin-left: 3px;
}
.pa-title-right{
    float: right;
}
.button.pa-btn {
    border: none;
    color: #fff;
    text-align: center;
    padding: 3px;
    max-width: 250px;
    height: auto;
    margin-bottom: 15px;
    display: block;
    font-weight: bold;
    box-shadow: none;
}
.pa-btn.pa-save-button {
    background-color: #1A7FC2;
    margin-bottom: 0;
    margin-top: 30px;
    padding: 3px 10px;
}
.pa-btn.pa-save-button:hover {
    background: #0e629a;    
    color: #fff;
}

.pa-btn.pa-save-button:focus {
    background: #0e629a;
    color: #fff;
}

.pa-settings-tabs-list  {
    margin: 0;
    border-bottom: 1px solid #ccc;
}
/*About Settings Tab*/
.pa-settings-tabs-list li {
    display: inline-block;
    margin-bottom: 4px;
    margin-left: 0.5em;
}
.pa-tab-list-item {
    background: #e5e5e5;
    padding: 9px 15px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    border: 1px solid #ccc;
    border-bottom: none;
}
.pa-tab-list-item:focus {
    box-shadow: none;
}
li.ui-state-default:not(.ui-state-active):hover a {
    background: #fff;
    color: #444;
}
li.ui-state-active a{
    outline: none;
    color: black;
    background: transparent;
    box-shadow: none;
    border-bottom: 1px solid #f1f1f1;
}
.pa-row {
    width: 100%;
    overflow: hidden;
}
.pa-settings-tabs  {
    padding: 15px 25px;
}
#pa-about {
    margin-top: 50px;
}
.pa-col-half {
    width: 40%;
    height: auto;
    float: left;
}
.pa-about-panel {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}
.pa-icon-container {
    float: left;
    display: inline-block;
    width: 45px;
}
.pa-icon-container i {
    font-size: 25px;
}
.pa-text-container {
    display: inline-block;
    width: 80%;
}
.pa-text-container h4 {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
}
.pa-text-container p {
    line-height: 22px;
    color: #444;
    font-size: 13px;
    margin: 1em 0;
}
/*ELements Settings Tab*/
.pa-elements-table {
    border-collapse: collapse;
    margin-top: 0.5em;
    margin-left: 5px;
    width: 80%;
    clear: both;
}
.pa-elements-table th {
    vertical-align: top;
    text-align: left;
    padding: 20px 10px 20px 0;
    width: 250px;
    line-height: 1.3;
    font-weight: 600;
}
.pa-elements-table tr {
    border-bottom: 1px solid #ddd;
}
.pa-elements-table td {
    margin-bottom: 9px;
    padding: 15px 10px;
    line-height: 1.3;
    vertical-align: middle;
}
.pa-elements-table .pa-element-desc {
    font-weight: 300;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #ddd;
}
 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 33px;
}
/* Hide default HTML checkbox */
.switch input {
    display:none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(242,242,242);
  box-shadow: 0 0 2px 1px #ccc inset;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 27.5px;
  width: 27.5px;
  left: 0px;
  bottom: 1.1px;
  background: radial-gradient(farthest-corner at 14px 0px,
      rgb(240,240,240) 50%, rgb(202,202,202) 100%);
  -webkit-transition: .4s;
  transition: .4s;
  padding: 0;
  margin: 0;
  border: 1px solid rgb(198,198,198);
  box-shadow: 0px 2.5px 5px  rgb(184,184,185);

}

input:checked + .slider {
  background-color: rgb(24,164,253);
  box-shadow: 0 0 2px 1px rgb(20,154,253) inset;
  border: 1px solid rgb(20,154,253);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(24,164,253);
}

input:checked + .slider:before {
  box-shadow: 0px 2.5px 5px  #0d6fbd;
  border: 1px solid #0d6fbd;
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

/* Rounded sliders */
.slider.round {
    border: 1px solid rgb(184,184,185);
    border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.pa-maps-table {
    text-align: left;
}
.pa-api-title {
    display: inline-block;
    margin: 0;
}
.pa-api-disable-title label,
.pa-is-beta label{
    margin-right: 15px;
}
.pa-api-disable-title span,
.pa-is-beta span{
    font-weight: normal;
}
.pa-maps-api-notice {
    margin: 10px 0 0 0;
}
.pa-api-title input {
    margin-top: 10px;
    font-size: normal;
    font-weight: normal;
    width: 400px;
    margin-left: 30px;
}

#pa-maintenance {
    margin-top: 30px;
}
.pa-beta-table tr {
    text-align: left;
}
.pa-roll-back,
.pa-beta-test{
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 10px;
} 
.pa-beta-test {
    margin-top: 0;
}
.pa-roll-back-span,
.pa-beta-test-span{
    line-height: 22px;
    color: #444;
    font-size: 13px;
    margin: 0;
    font-weight: normal;
}
.pa-roll-row,
.pa-beta-row{
    float: left;
}
.pa-beta-row{
    margin-top: 13px;
}
.pa-roll-row th,
.pa-beta-row th{
    vertical-align: top;
    text-align: left;
    padding: 20px 10px 20px 0;
    width: 200px;
    line-height: 1.3;
}
.pa-roll-row td{
    padding: 15px 10px;
}
.pa-beta-row td{
    padding: 22px 10px;
}
.pa-roll-row .pa-rollback-button {
    box-shadow: 0 1px 0 #ccc;
    color: #555;
    border: 1px solid #ccc;
    background: #f7f7f7;
    vertical-align: top;
    margin: 0;
    padding: 0 10px 1px;
}
.pa-roll-row .pa-rollback-button:hover {
    background: #fafafa;
    border-color: #999;
    color: #23282d;
}
.pa-roll-row  .pa-roll-desc{
    font-style: italic;
    color: red;
    margin-top: 4px;
}
.pa-beta-row  .pa-beta-desc{
    font-style: italic;  
    margin-top: 4px;
}
/** White Label Admin Page **/
.pa-wht-lbl-settings .pa-wht-lbl-title {
    margin: 0;
}
.pa-wht-lbl-settings .pa-row {
    width: 60%;
    float: left;
}
.pa-wht-lbl-settings .pa-wht-lbl-admin {
    width: 30%;
    float: left;
    margin-left: 20px;
}
.pa-wht-lbl-settings .pa-wht-lbl-head {
    border-bottom: 1px solid #ddd;
    background: #f7f7f7;
    padding: 8px;
}
.pa-wht-lbl-admin .pa-wht-lbl-box-head {
    margin: 10px 0;
}
.pa-wht-lbl-table {
    text-align: left;
}
.pa-wht-lbl-settings input[type='text'] {
    font-weight: normal;
    margin: 5px 0;
}
.pa-wht-lbl-settings input[id='premium-wht-lbl-desc'],
.pa-wht-lbl-settings input[id='premium-wht-lbl-desc-pro']{
    width: 550px;
}
.pa-wht-lbl-settings .pa-wht-lbl-settings-wrap {
    background: #fff;
    margin: 10px auto;
    border: 1px solid #bbb;
}
.pa-wht-lbl-settings .clearfix {
    clear: both;
}
.pa-wht-lbl-group-wrap {
    padding: 10px;
}
.pa-wht-lbl-save .pa-save-button {
    margin-top: 0;
}
tr.pa-sec-elems-tr {
    border: none;
}
tr.pa-sec-elems-tr th{
    padding-bottom: 0;
}
.pa-license-form {
    max-width: 700px;
    background: #fff;
    padding: 25px 15px;
    border-radius: 3px;
    margin-top: 0;
}
.pa-header-wrapper.pa-license-header {
    padding: 0;
}
.pa-license-form span {
    color: #777
}
.pa-license-form label {
    display: block;
    font-size: 1.3em;
    font-weight: 600;
    margin: 1em 0;
}
.pa-license-form code {
    padding: 3px 5px 2px;
    margin: 0 1px;
    background: #eaeaea;
    background: rgba(0,0,0,.07);
    font-size: 13px;
    font-style: italic;
}
#papro-license-key {
    padding: 0.4em 0.3em;
}
.pa-license-cell span{
    margin-left: 0.3em;
}