.woopack-single-product .single-product-image {
	position: relative;
	display: inline-block;
	margin-bottom: 10px;
}

.single-product-layout-3,
.single-product-layout-4 {
	text-align: center;
}

.single-product-layout-3 .woocommerce-product-rating,
.single-product-layout-4 .woocommerce-product-rating {
	text-align: -webkit-center;
}

.woopack-single-product.woocommerce .woocommerce-product-rating .star-rating {
	margin-top: 0;
}

.woopack-single-product .onsale {
	padding: 5px 10px;
}

.product-content {
	padding: 0 10px;
}
.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button {
    transition: 0.3s ease-in-out;
}

.woopack-single-product .woocommerce-product-add-to-cart .quantity {
    display: inline-block;
    margin-right: 5px;
}
.woopack-single-product .summary.entry-summary.clearfix {
	width: 100% !important;
	float: none !important;
}