/* Prefix
========================================================================== */
$prefix:					wpbf;

/* Colors
========================================================================== */
$base-color-alt:			#f5f5f7;
$base-color:				darken($base-color-alt, 13%);

$brand-color:				#3e4349;
$brand-color-alt:			lighten($brand-color, 20%);

$accent-color:				#3ba9d2;
$accent-color-alt:			lighten($accent-color,15%);

$secondary-color:			#4fe190;
$secondary-color-alt:		#004170;

/* Fonts
========================================================================== */
$base-font:					Helvetica, Arial, sans-serif;
$head-font:					Helvetica, Arial, sans-serif;

/* Font sizes
========================================================================== */
$tiny-fontsize:				12px;
$small-fontsize:			14px;
$base-fontsize:				16px;
$bigger-fontsize:			20px;
$big-fontsize:				32px;

/* Lineheights
========================================================================== */
$base-lineheight:			1.7;
$head-lineheight:			1.2;

/* Font weights
========================================================================== */
$light:						200;
$base-fontweight:			400;
$semibold:					500;
$bold:						700;


/* Margins
========================================================================== */
$margin:					20px;
$margin-xlarge:				120px;
$margin-large:				80px;
$margin-medium:				40px;
$margin-small:				10px;

/* Paddings
========================================================================== */
$padding:					20px;
$padding-xlarge:			120px;
$padding-large:				80px;
$padding-medium:			40px;
$padding-small:				10px;

/* Grid Spacing
========================================================================== */
$grid-xlarge:				45px;
$grid-large:				35px;
$grid:						35px;
$grid-medium:				25px;
$grid-small:				15px;
$divider:					25px;

/* Breakpoints
========================================================================== */
$breakpoint0:				480px + 1;
$breakpoint1:				768px + 1;
$breakpoint2:				1024px + 1;
$breakpoint3:				1199px + 1;

/* Mixins
========================================================================== */
@mixin border-radius($radius) {
-moz-border-radius:			$radius;
-webkit-border-radius:		$radius;
-ms-border-radius:			$radius;
border-radius:				$radius;
};

@mixin transition($transition) {
-moz-transition:			$transition;
-o-transition:				$transition;
-webkit-transition:			$transition;
transition:					$transition;
};

@mixin box-shadow($box-shadow) {
-webkit-box-shadow:			$box-shadow;
-moz-box-shadow:			$box-shadow;
box-shadow:					$box-shadow;
};

@mixin scale($scale) {
-moz-transform:				scale($scale);
-ms-transform:				scale($scale);
-o-transform:				scale($scale);
-webkit-transform:			scale($scale);
}

@mixin vertical-align($position: relative) {
position:					$position;
top:						50%;
-webkit-transform:			translateY(-50%);
-ms-transform:				translateY(-50%);
transform:					translateY(-50%);
}

@mixin remove-vertical-align($position: relative) {
position:					$position;
top:						auto;
-webkit-transform:			none;
-ms-transform:				none;
transform:					none;
}

@mixin horizontal-align($position: absolute) {
position:					$position;
left:						50%;
-webkit-transform:			translateX(-50%);
-ms-transform:				translateX(-50%);
transform:					translateX(-50%);
}

@mixin remove-horizontal-align($position: absolute) {
position:					$position;
left:						auto;
-webkit-transform:			none;
-ms-transform:				none;
transform:					none;
}


@mixin center-align($position: fixed) {
position:					$position;
left:						50%;
top:						50%;
-webkit-transform:			translate(-50%, -50%);
-ms-transform:				translate(-50%, -50%);
transform:					translate(-50%, -50%);
}

@mixin remove-center-align($position: absolute) {
position:					$position;
left:						auto;
top:						auto;
-webkit-transform:			none;
-ms-transform:				none;
transform:					none;
}

@mixin no-select {
-webkit-touch-callout:		none;
-webkit-user-select:		none;
-khtml-user-select:			none;
-moz-user-select:			none;
-ms-user-select:			none;
user-select:				none;
}