/* Clearfix */
.clearfix:before,
.clearfix:after {content: " ";display: table;}
.clearfix:after {clear: both;}
.njba-image-panels-wrap .njba-panel-link {
	display: inline-block;
	float: left;
	text-decoration: none;
	overflow: hidden;
	-webkit-transition: width .3s linear;
	-moz-transition: width .3s linear;
	-o-transition: width .3s linear;
	-ms-transition: width .3s linear;
	transition: width .3s linear;
}
.njba-image-panels-wrap .njba-panel-title .njba-panel-link {display: block;float: none;}
.njba-image-panels-wrap .njba-panel-item {
	background-position: center;
	background-size: cover;
	display: inline-block;
	float: left;
	overflow: hidden;
	position: relative;
	-webkit-transition: width .3s linear;
	-moz-transition: width .3s linear;
	-o-transition: width .3s linear;
	-ms-transition: width .3s linear;
	transition: width .3s linear;
}
.njba-image-panels-wrap .njba-panel-item .njba-panel-title h3 {text-align: center;}
.njba-image-panels-wrap .njba-panel-item .njba-panel-title {bottom: 0;position: absolute;width: 100%;transition: all 0.3s ease 0s;}
.njba-image-panels-wrap .njba-panel-item .njba-panel-title h3 {margin-top: 0;margin-bottom: 0;left: 50%;position: absolute;top: 50%;transform: translate(-50%, -50%);width: 100%;}
