/* General styles for the modal */

/* 
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the 
perspective effects (not including the modals and the overlay).
*/
.md-perspective,
.md-perspective body {
    height: 100%;
    overflow: hidden;
}

.md-perspective body {
    background: #222;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
}

#modal-offline-orders .progressbar .ui-widget-header {
    background: #0085ba;
}

.md-modal.md-dynamicmodal {
    left: 20%;
    right: 20%;
}

.md-modal.full-width {
    left: 5%;
    right: 5%;
}

.container {
    background: #e74c3c;
    min-height: 100%;
}

.md-modal {
    position: fixed;
    top: 5%;
    left: 5%;
    height: auto;
    z-index: 10005;
    visibility: hidden;
    right: 5%;
    bottom: 5%;
    border: none;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15), 0px 0px 1px 1px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.md-show {
    visibility: visible;
}

.md-overlay-logo,
.md-overlay-prompt,
.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 10000;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    /* -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; */
}

.md-overlay-prompt {
    z-index: 2000;
}

.md-modal.pos_logo ~ .md-overlay-logo,
.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

.md-modal .wrap-button button.button-primary {
    float: right;
}

.md-modal .wrap-button button.md-close {
    float: left;
}

.md-modal .wrap-button button,
#modal-missing-attributes #reset_selected_variation,
#modal-order_payment .md-content .wrap-button input[type=button], 
#modal-tabs .md-content .right-col .button {
    height: 40px;
    border: none;
    background: #e0e0e0;
    font-weight: normal;
    box-shadow: none;
    text-shadow: none;
    color: #555;
    padding: 0 24px;
    vertical-align: middle;
    line-height: 40px;
    font-size: 125%;
    border-radius: 5px;
    -webkit-appearance: none;
}

.md-modal .wrap-button button:hover,
.md-modal .wrap-button button:focus,
#modal-missing-attributes #reset_selected_variation:hover,
#modal-missing-attributes #reset_selected_variation:focus,
#modal-order_payment .md-content .wrap-button input[type=button]:hover,
#modal-order_payment .md-content .wrap-button input[type=button]:focus,
#modal-tabs .md-content .right-col .button:hover,
#modal-tabs .md-content .right-col .button:focus {
    color: #fff;
    background: #555 !important;
    border-color: #555 !important;
    cursor: pointer;
    outline: 0;
}

.md-modal .wrap-button button:before {
    font-family: dashicons;
    padding-right: 10px;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    float: left;
    line-height: 40px;
}

.md-message .md-content > div > div > .dashicons {
    background: #555;
    color: #fff;
    line-height: 64px;
    font-size: 36px;
    height: 64px;
    width: 64px;
}

.md-message .md-content > div > .md-message-icon {
    display: block;
    float: left;
    margin: 0 20px 16px 0;
}

.md-message .md-content > div {
    padding: 25px !important;
}

.md-message .md-content > div:not(.wrap-button) {
    top: 0 !important;
    bottom: 0 !important;
}

.md-message p {
    margin: 0 !important;
    margin-bottom: 1em !important;
    padding: 0 !important;
}

.md-modal.md-message {
    position: fixed;
    top: 50%;
    max-height: 130px;
    left: 50%;
    width: 450px;
    margin-left: -225px;
    margin-top: -65px;
    background: #fff;
    line-height: 1.5;
    z-index: 1000005;
    overflow-y: auto;
}

#modal-confirm-box {
    max-height: 300px;
    margin-top: -109px;
}

#modal-reconnected-successfuly {
	max-height: 206px;
	margin-top: -103px;
}
#modal-lost-connection {
	max-height: 248px;
	margin-top: -124px;
}
#modal-lost-connection p {
	width: calc(100% - 84px);
	float: right;
}

#modal-confirm-box .wrap-button #confirm-button {
    float: right;
}

#modal-qt-product {
    max-height: 184px;
    margin-top: -92px;
    width: 400px;
}

#modal-qt-product.full_keypad {
    max-height: 506px;
    margin-top: -253px;
    width: 400px;
}

#modal-qt-product .md-content > div:not(.wrap-button) {
    top: 43px !important;
    bottom: 63px !important;
}

.md-overlay-logo ~ .md-overlay {
    opacity: 0;
    visibility: hidden;
}

#modal-1.md-modal.pos_logo {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

/* Content styles */
.md-content {
    background: #ffffff;
    position: relative;
    margin: 0 auto;
    height: 100%;
    border-radius: 8px;
}

.popup_section > h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 2.4em;
    font-weight: 300;
    opacity: 0.8;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}

.md-content > h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 2.4em;
    font-weight: 300;
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.1);
    position: relative;
}

.md-content h3 .md-close {
    position: absolute;
    text-decoration: none;
    top: 4px;
    right: 6px;
    width: 20px;
    height: 20px;
    z-index: 1000;
    cursor: pointer;
}

.md-content h3 .md-close:before {
    content: '\f158';
    font: 400 20px/1 dashicons;
    speak: none;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #666;
}

.md-content > div {
    padding: 15px 40px 30px;
    margin: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.md-content > div.wrap-button {
    padding: 10px 20px;
    margin: 0;
    border-top: 1px solid #e5e5e5;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}

.md-register .md-content > div.wrap-button {
    padding: 11px !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.md-content > div ul {
    margin: 0;
    padding: 0 0 30px 20px;
}

.md-content > div ul li {
    padding: 5px 0;
}

.md-content button {
    display: block;
    margin: 0 auto;
    font-size: 0.8em;
}

/* Individual modal styles with animations/transitions */

/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/* Effect 2: Slide from the right */
.md-effect-2 .md-content {
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    -ms-transform: translateX(20%);
    transform: translateX(20%);
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.md-show.md-effect-2 .md-content {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

/* Effect 3: Slide from the bottom */
.md-effect-3 .md-content {
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    transform: translateY(20%);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show.md-effect-3 .md-content {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

/* Effect 4: Newspaper */
.md-effect-4 .md-content {
    -webkit-transform: scale(0) rotate(720deg);
    -moz-transform: scale(0) rotate(720deg);
    -ms-transform: scale(0) rotate(720deg);
    transform: scale(0) rotate(720deg);
    opacity: 0;
}

.md-show.md-effect-4 ~ .md-overlay,
.md-effect-4 .md-content {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.md-show.md-effect-4 .md-content {
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
    opacity: 1;
}

/* Effect 5: fall */
.md-effect-5.md-modal {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
}

.md-effect-5 .md-content {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(600px) rotateX(20deg);
    -moz-transform: translateZ(600px) rotateX(20deg);
    -ms-transform: translateZ(600px) rotateX(20deg);
    transform: translateZ(600px) rotateX(20deg);
    opacity: 0;
}

.md-show.md-effect-5 .md-content {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-transform: translateZ(0px) rotateX(0deg);
    -moz-transform: translateZ(0px) rotateX(0deg);
    -ms-transform: translateZ(0px) rotateX(0deg);
    transform: translateZ(0px) rotateX(0deg);
    opacity: 1;
}

/* Effect 6: side fall */
.md-effect-6.md-modal {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
}

.md-effect-6 .md-content {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate(30%) translateZ(600px) rotate(10deg);
    -moz-transform: translate(30%) translateZ(600px) rotate(10deg);
    -ms-transform: translate(30%) translateZ(600px) rotate(10deg);
    transform: translate(30%) translateZ(600px) rotate(10deg);
    opacity: 0;
}

.md-show.md-effect-6 .md-content {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-transform: translate(0%) translateZ(0) rotate(0deg);
    -moz-transform: translate(0%) translateZ(0) rotate(0deg);
    -ms-transform: translate(0%) translateZ(0) rotate(0deg);
    transform: translate(0%) translateZ(0) rotate(0deg);
    opacity: 1;
}

/* Effect 7:  slide and stick to top */
.md-effect-7 {
    top: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.md-effect-7 .md-content {
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    opacity: 0;
}

.md-show.md-effect-7 .md-content {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
}

/* Effect 8: 3D flip horizontal */
.md-effect-8.md-modal {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
}

.md-effect-8 .md-content {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(-70deg);
    -moz-transform: rotateY(-70deg);
    -ms-transform: rotateY(-70deg);
    transform: rotateY(-70deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
}

.md-show.md-effect-8 .md-content {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
}

/* Effect 9: 3D flip vertical */
.md-effect-9.md-modal {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
}

.md-effect-9 .md-content {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-70deg);
    -moz-transform: rotateX(-70deg);
    -ms-transform: rotateX(-70deg);
    transform: rotateX(-70deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
}

.md-show.md-effect-9 .md-content {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
}

/* Effect 10: 3D sign */
.md-effect-10.md-modal {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
}

.md-effect-10 .md-content {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-60deg);
    -moz-transform: rotateX(-60deg);
    -ms-transform: rotateX(-60deg);
    transform: rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show.md-effect-10 .md-content {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
}

/* Effect 11: Super scaled */
.md-effect-11 .md-content {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show.md-effect-11 .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/* Effect 12:  Just me */
.md-effect-12 .md-content {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show.md-effect-12 ~ .md-overlay {
    background: #e74c3c;
}

.md-effect-12 .md-content h3,
.md-effect-12 .md-content {
    background: transparent;
}

.md-show.md-effect-12 .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/* Effect 13: 3D slit */
.md-effect-13.md-modal {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
}

.md-effect-13 .md-content {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-3000px) rotateY(90deg);
    -moz-transform: translateZ(-3000px) rotateY(90deg);
    -ms-transform: translateZ(-3000px) rotateY(90deg);
    transform: translateZ(-3000px) rotateY(90deg);
    opacity: 0;
}

.md-show.md-effect-13 .md-content {
    -webkit-animation: slit .7s forwards ease-out;
    -moz-animation: slit .7s forwards ease-out;
    animation: slit .7s forwards ease-out;
}

@-webkit-keyframes slit {
    50% {
        -webkit-transform: translateZ(-250px) rotateY(89deg);
        opacity: .5;
        -webkit-animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translateZ(0) rotateY(0deg);
        opacity: 1;
    }
}

@-moz-keyframes slit {
    50% {
        -moz-transform: translateZ(-250px) rotateY(89deg);
        opacity: .5;
        -moz-animation-timing-function: ease-out;
    }
    100% {
        -moz-transform: translateZ(0) rotateY(0deg);
        opacity: 1;
    }
}

@keyframes slit {
    50% {
        transform: translateZ(-250px) rotateY(89deg);
        opacity: 1;
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateZ(0) rotateY(0deg);
        opacity: 1;
    }
}

/* Effect 14:  3D Rotate from bottom */
.md-effect-14.md-modal {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
}

.md-effect-14 .md-content {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateY(100%) rotateX(90deg);
    -moz-transform: translateY(100%) rotateX(90deg);
    -ms-transform: translateY(100%) rotateX(90deg);
    transform: translateY(100%) rotateX(90deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    transform-origin: 0 100%;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.md-show.md-effect-14 .md-content {
    -webkit-transform: translateY(0%) rotateX(0deg);
    -moz-transform: translateY(0%) rotateX(0deg);
    -ms-transform: translateY(0%) rotateX(0deg);
    transform: translateY(0%) rotateX(0deg);
    opacity: 1;
}

/* Effect 15:  3D Rotate in from left */
.md-effect-15.md-modal {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
}

.md-effect-15 .md-content {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
    -moz-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
    -ms-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
    transform: translateZ(100px) translateX(-30%) rotateY(90deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    transform-origin: 0 100%;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show.md-effect-15 .md-content {
    -webkit-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -moz-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -ms-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    transform: translateZ(0px) translateX(0%) rotateY(0deg);
    opacity: 1;
}

/* Effect 16:  Blur */
.md-show.md-effect-16 ~ .md-overlay {
    background: rgba(180, 46, 32, 0.5);
}

.md-show.md-effect-16 ~ .container {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px);
}

.md-effect-16 .md-content {
    -webkit-transform: translateY(-5%);
    -moz-transform: translateY(-5%);
    -ms-transform: translateY(-5%);
    transform: translateY(-5%);
    opacity: 0;
}

.md-show.md-effect-16 ~ .container,
.md-effect-16 .md-content {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show.md-effect-16 .md-content {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

/* Effect 17:  Slide in from bottom with perspective on container */
.md-show.md-effect-17 ~ .container {
    height: 100%;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.md-show.md-effect-17 ~ .container,
.md-show.md-effect-17 ~ .md-overlay {
    -webkit-transform: rotateX(-2deg);
    -moz-transform: rotateX(-2deg);
    -ms-transform: rotateX(-2deg);
    transform: rotateX(-2deg);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.md-effect-17 .md-content {
    opacity: 0;
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
    -ms-transform: translateY(200%);
    transform: translateY(200%);
}

.md-show.md-effect-17 .md-content {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-transition: all 0.3s 0.2s;
    -moz-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
}

/* Effect 18:  Slide from right with perspective on container */
.md-show.md-effect-18 ~ .container {
    height: 100%;
    overflow: hidden;
}

.md-show.md-effect-18 ~ .md-overlay {
    background: rgba(143, 27, 15, 0.8);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.md-show.md-effect-18 ~ .container,
.md-show.md-effect-18 ~ .md-overlay {
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    -webkit-animation: rotateRightSideFirst 0.5s forwards ease-in;
    -moz-transform-style: preserve-3d;
    -moz-transform-origin: 0% 50%;
    -moz-animation: rotateRightSideFirst 0.5s forwards ease-in;
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    animation: rotateRightSideFirst 0.5s forwards ease-in;
}

@-webkit-keyframes rotateRightSideFirst {
    50% {
        -webkit-transform: translateZ(-50px) rotateY(5deg);
        -webkit-animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translateZ(-200px);
    }
}

@-moz-keyframes rotateRightSideFirst {
    50% {
        -moz-transform: translateZ(-50px) rotateY(5deg);
        -moz-animation-timing-function: ease-out;
    }
    100% {
        -moz-transform: translateZ(-200px);
    }
}

@keyframes rotateRightSideFirst {
    50% {
        transform: translateZ(-50px) rotateY(5deg);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateZ(-200px);
    }
}

.md-effect-18 .md-content {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
    opacity: 0;
}

.md-show.md-effect-18 .md-content {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    -webkit-transition: all 0.5s 0.1s;
    -moz-transition: all 0.5s 0.1s;
    transition: all 0.5s 0.1s;
}

/* Effect 19:  Slip in from the top with perspective on container */
.md-show.md-effect-19 ~ .container {
    height: 100%;
    overflow: hidden;
}

.md-show.md-effect-19 ~ .md-overlay {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.md-show.md-effect-19 ~ .container,
.md-show.md-effect-19 ~ .md-overlay {
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 50% 100%;
    -webkit-animation: OpenTop 0.5s forwards ease-in;
    -moz-transform-style: preserve-3d;
    -moz-transform-origin: 50% 100%;
    -moz-animation: OpenTop 0.5s forwards ease-in;
    transform-style: preserve-3d;
    transform-origin: 50% 100%;
    animation: OpenTop 0.5s forwards ease-in;
}

@-webkit-keyframes OpenTop {
    50% {
        -webkit-transform: rotateX(10deg);
        -webkit-animation-timing-function: ease-out;
    }
}

@-moz-keyframes OpenTop {
    50% {
        -moz-transform: rotateX(10deg);
        -moz-animation-timing-function: ease-out;
    }
}

@keyframes OpenTop {
    50% {
        transform: rotateX(10deg);
        animation-timing-function: ease-out;
    }
}

.md-effect-19 .md-content {
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
    opacity: 0;
}

.md-show.md-effect-19 .md-content {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-transition: all 0.5s 0.1s;
    -moz-transition: all 0.5s 0.1s;
    transition: all 0.5s 0.1s;
}

.md-modal.pos_logo {
    text-align: center;
    color: #fff;
}

.md-modal.pos_logo h3 {
    color: #fff;
    font-size: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

#pos_logo:before {
    content: url(ripple.svg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.md-modal .media-frame-menu {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 85px;
    z-index: 150;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.md-modal .media-menu {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #efeff4;
    border-right: 1px solid #ccc;
    bottom: 0;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0;
}

.md-modal .media-menu > a {
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    padding: 8px 20px;
    position: relative;
    text-decoration: none;
}

#modal-add_custom_fee .md-content .media-frame-wrap,
#modal-add_custom_fee .md-content .wrap-button {
    margin-left: 0 !important;
}

.md-menu .md-content > div {
    margin-left: 0px;
}

.md-content > div:not(.wrap-button):not(.left-col):not(.right-col) {
    position: absolute;
    top: 56px;
    bottom: 80px;
    right: 0;
    left: 0;
}

.md-register .md-content > div:not(.wrap-button):not(.left-col):not(.right-col) {
    position: absolute;
    top: 43px;
    bottom: 62px;
    right: 0;
    left: 0;
    border: none !important;
    padding: 0 !important;
}

#modal-missing-attributes .md-content > div:not(.wrap-button) {
    bottom: 197px;
}

.md-modal .md-content .popup_section {
    padding: 0 15px;
    overflow: hidden;
}

.md-modal .md-content .popup_section .form-row > div {
	padding: 15px;
	border: 1px solid #e5e5e5;
}

.md-modal .md-content .popup_section fieldset.wc-payment-form .form-row {
	border: none;
}

.md-modal .md-content .popup_section fieldset.wc-payment-form .form-row-first {
	width: 48% !important;
}

.md-modal .md-content .popup_section fieldset.wc-payment-form .form-row label {
    background: none;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 90%;
    text-transform: uppercase;
    margin: 15px 0;
}

.md-modal .md-content .popup_section .media-frame-wrap {
    margin: 0;
    padding: 15px 40px 30px;
}

.md-modal .md-content .popup_section .wrap-button {
    padding: 10px 20px;
    border-top: 1px solid #e5e5e5;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.md-register .md-content .popup_section .wrap-button {
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	padding: 11px !important;
}

.md-modal.md-menu .media-menu .active, .md-modal.md-menu .media-menu .active:hover {
    color: #555;
    font-weight: 600;
}

.md-modal.md-menu .media-menu > a:hover,
.md-modal.md-menu .media-menu > a.active {
    background: rgba(0, 0, 0, .04);
    color: #555 !important;
}

#modal-order_discount .media-frame-menu .media-menu a {
    line-height: 2;
    display: block;
    border-bottom: 1px solid #ddd;
    padding-left: 15px;
    padding: 15px;
}

#modal-order_discount .media-frame-menu .media-menu a:first-child {
    border-top-left-radius: 11px;
}

#modal-order_discount .media-frame-menu .media-menu a:before {
    display: inline-block;
    text-align: center;
    font-size: 150%;
    font-family: aepos;
    content: "\e904";
    float: left;
    width: 35px;
    margin-right: 15px;
    line-height: 30px;
}

#modal-order_discount .media-frame-menu .media-menu a.wc_points_rewards_modal:before {
    font-family: WooCommerce;
    content: "\e020";
}

#modal-order_discount .media-frame-menu .media-menu a.coupon_modal:before {
    font-family: WooCommerce;
    content: "\e600";
}

#modal-order_payment .popup_section .media-frame-wrap {
    padding: 0;
}

@media screen and (max-width: 32em) {
    body {
        font-size: 75%;
    }
    div.box-tab:hover {
	cursor: pointer;
	background: #f2f2f2;
	color: #444;
}
}

#modal-cash_management {
    height: 320px;
    top: 50%;
    margin-top: -160px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
}

#cash_management_details input.error {
    border-color: #E6643C;
}

.md-register .md-close {
    position: relative !important;
    width: inherit !important;
}

.md-register h1 .md-close {
    position: absolute !important;
    width: 50px !important;
}

#modal-order_discount .md-content .popup_section .media-frame-wrap {
    padding: 0 !important;
}

#modal-order_discount {
    min-height: 600px;
    max-height: 600px;
    top: 50%;
    margin-top: -300px;
    width: 820px;
    left: 50%;
    margin-left: -410px;
}
#modal-tabs {
    width: 820px;
    left: 50%;
    margin-left: -410px;
	
}

#modal-order_payment {
    min-height: 651px;
    max-height: 651px;
    top: 50%;
    margin-top: -325px;
    width: 855px;
    left: 50%;
    margin-left: -426px;
}

#modal-order_payment .pos_end_toggles {
    position: absolute;
    bottom: 65px !important;
    background: #fcfcfc;
    right: 0;
    left: 0;
    top: inherit !important;
    padding: 1em !important;
    border-top: 1px solid #e5e5e5 !important;
}

#modal-order_payment .md-content #cod {
    padding: 0;
}

.media-frame-menu {
    width: 220px !important;
}

.media-frame-menu + div {
    margin-left: 220px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    border-right: 1px solid #ddd;
}

.bootstrap-switch .bootstrap-switch-label {
    color: #757575;
}

#modal-missing-attributes #product-addons-attributes .product-fields-table tbody td span.pos_addons {
    float: left;
    clear: both;
    padding: 13px;
}

#modal-missing-attributes #product-addons-attributes .product-fields-table tbody td span.pos_addons input {
    margin-right: 13px;
}

.pos_addon_label {
    display: block;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 2;
    margin: 15px;
}

.pos_addon_label input[type=radio],
.pos_addon_label input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

.pos_checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.pos_radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.pos_addon_label:hover input ~ .pos_checkmark,
.pos_addon_label:hover input ~ .pos_radio {
    background-color: grey;
}

.pos_addon_label input:checked ~ .pos_checkmark,
.pos_addon_label input:checked ~ .pos_radio {
    background-color: #2196F3;
}

.pos_checkmark:after,
.pos_radio:after {
    content: "";
    position: absolute;
    display: none;
}

.pos_addon_label input[type=checkbox]:checked ~ .pos_checkmark:after,
.pos_addon_label input[type=radio]:checked ~ .pos_radio:after {
    display: block;
}

.pos_addon_label .pos_checkmark:after {
    left: 2px;
    top: 3px;
    font-size: 140%;
    float: left;
    line-height: 1.2;
    content: "\f147";
    font-family: dashicons;
    color: #fff;
}

.pos_addon_label .pos_radio:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

#modal-missing-attributes p.product_addon_label {
    margin: inherit;
    font-size: 100%;
    line-height: inherit;
}

#modal-missing-attributes #product-addons-attributes table tr td:first-child {
    padding: 15px;
}

#modal-missing-attributes #product-addons-attributes table tr td p.description {
    text-transform: none;
    letter-spacing: 0;
}

#modal-missing-attributes #product-addons-attributes table tr td:last-child .pos_addon_text,
#modal-missing-attributes #product-addons-attributes table tr td:last-child .pos_addon_text input,
#modal-missing-attributes #product-addons-attributes table tr td:last-child .pos_addon_text textarea {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    float: left;
}

#modal-missing-attributes #product-addons-attributes table tr td:last-child .pos_addon_text input,
#modal-missing-attributes #product-addons-attributes table tr td:last-child .pos_addon_text .chars_remaining,
#modal-missing-attributes #product-addons-attributes table tr td:last-child .pos_addon_text textarea {
    padding: 13px !important;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ddd;
}

#modal-missing-attributes #product-addons-attributes table tr td:last-child .pos_addon_text:last-child input,
#modal-missing-attributes #product-addons-attributes table tr td:last-child .pos_addon_text:last-child .chars_remaining,
#modal-missing-attributes #product-addons-attributes table tr td:last-child .pos_addon_text:last-child textarea,
#modal-missing-attributes #product-addons-attributes table tr td:last-child .pos_addon_text textarea {
    border-bottom: none;
}

#modal-missing-attributes #product-addons-attributes table tr td:last-child .pos_addon_text textarea {
    padding-bottom: 35px !important;
}

#modal-missing-attributes #product-addons-attributes table tr td:last-child .pos_addon_textarea .chars_remaining {
    display: block;
    padding: 5px 10px !important;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#modal-missing-attributes #product-addons-attributes table tr td:last-child .pos_addon_text .chars_remaining {
    padding: 5px 10px !important;
    float: left;
}

p.product_addon_label abbr.required {
    text-decoration: none !important;
    font-size: 26px !important;
    vertical-align: bottom;
}

#modal-tabs .md-content .left-col {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

div.left-col {
    display: inline-block;
    position: relative;
    width: 60%;
}

div.right-col {
    display: inline-block;
    width: 25%;
}

div.box-tab {
    display: inline-table;
    margin: 10px;
    width: calc(100% / 2 - 42px);
    height: 205px;
    border-radius: 5px;
    text-align: center;
    color: #eee;
    background: #666;
    float: left;
    padding: 10px;
}
div.box-tab p:first-child {
	margin-top: 4.4em;
}
div.box-tab.saved p:first-child {
	margin-top: inherit;
}
div.box-tab.saved{
    background: #333;
    color: #fff;
}

.dining-option-selector{
    width: 100%;
    height: 22%;
    text-align: center;
}

.dining-option-selector.checked:after{
    content: "\e03c";
    font-family: WooCommerce;
    float: right;
    margin-right: 20px;
}
#dining-option-selector-container {
    overflow: hidden;
}
.dining-option-selector {
	background: #fcfcfc;
	height: 80px;
	border-bottom: 1px solid #ddd;
	color: #555;
	font-size: 150%;
	line-height: 80px;
	text-align: left;
}
.dining-option-selector:hover {
	background:	#f8f8f8;
	cursor: pointer;
}

.dining-option-selector span {
	margin-left: 20px;
}
.dining-option-selector.checked {
	background: #f7f7f7;
}

.selected-dining {
    text-transform: capitalize;
}

.md-overlay.child-is-active {
    z-index: 10005;
}

.md-modal[data-child] {
    z-index: 10010;
}