/**
 * Admin style
 *
 * @author Leanza Francesco
 * @version 1.0.0
 */

.yith-wcmbs-full-width {
    width : 100%;
}

/*
    Restrict Access Metabox
*/

#yith-wcmbs-restrict-access-metabox select {
    width : 100%;
}

.yith-wcmbs-delay-time-box {
    padding    : 5px 0;
    border-top : 1px solid #eee;
    margin-top : 5px;
}

.yith-wcmbs-delay-actions-add {
    padding    : 10px;
    margin-top : 10px;
    background : #f7f7f7;
    text-align : center;
}

.yith-wcmbs-delay-actions-add input {
    margin-top : 10px !important;
}

table#yith-wcmbs-delay-time-for-plans-container {
    border-collapse : collapse;
    margin-top      : 10px;
    width           : 100%;
}

table#yith-wcmbs-delay-time-for-plans-container tr th {
    text-align : left;
    padding    : 5px;
    background : #f1f1f1;
}

table#yith-wcmbs-delay-time-for-plans-container tr td {
    padding       : 5px;
    border-top    : 1px solid #eee;
    border-bottom : 1px solid #eee;
}

table#yith-wcmbs-delay-time-for-plans-container tr td:nth-child(2n+0) {
    width : 80px;
}

table#yith-wcmbs-delay-time-for-plans-container input {
    width : 100%;
}


/*
    WP List Table Product
*/
th#yith_wcmbs_restrict_access, td.yith_wcmbs_restrict_access {
    width : 30px;
}

/*
    CHOOSEN
*/
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    min-height : 30px;
}

/*
    ADMIN PROFILE
*/

table.yith-wcmbs-admin-profile-membership-table {
    padding         : 0;
    border-collapse : collapse;
    box-shadow      : 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}

table.yith-wcmbs-admin-profile-membership-table tr, table.yith-wcmbs-admin-profile-membership-table td, table.yith-wcmbs-admin-profile-membership-table th {
    margin           : 0;
    padding          : 10px;
    text-align       : center;
    background-color : #fff;
}

table.yith-wcmbs-admin-profile-membership-table th.mini-width {
    width : 80px;
}

table.yith-wcmbs-admin-profile-membership-table th.yith-wcmbs-edit {
    width   : 40px;
    padding : 10px 0;
}

table.yith-wcmbs-admin-profile-membership-table td.yith-wcmbs-edit a {
    text-decoration : none;
}

table.yith-wcmbs-admin-profile-membership-table th {
    background-color : #f9f9f9;
    border-bottom    : 1px solid #ccc;
}

table.yith-wcmbs-admin-profile-membership-table tr:nth-child(2n+1) td {
    background-color : #f9f9f9;
}

table.yith-wcmbs-admin-profile-membership-table input[type=text], table.yith-wcmbs-admin-profile-membership-table input[type=date], table.yith-wcmbs-admin-profile-membership-table select {
    width : 100%;
}

table.yith-wcmbs-admin-profile-membership-table .status-indicator {
    width   : 3px !important;
    padding : 0 !important;
    margin  : 0 !important;
}

table.yith-wcmbs-admin-profile-membership-table td.active, table.yith-wcmbs-admin-profile-membership-table td.resumed {
    background : #1aa24a !important;
}

table.yith-wcmbs-admin-profile-membership-table td.expired, table.yith-wcmbs-admin-profile-membership-table td.cancelled {
    background : #bd0d2e !important;
}

table.yith-wcmbs-admin-profile-membership-table td.expiring {
    background : #e2821f !important;
}

/*
    ADMIN Wp List Users
*/

span.yith-wcmbs-users-membership-info {
    margin        : 5px;
    border-radius : 2px;
    padding       : 4px 7px 4px 12px;
    display       : inline-block;
    background    : #7e8188;
    color         : #fff;
    cursor        : default !important;
}

span.yith-wcmbs-users-membership-info.active, span.yith-wcmbs-users-membership-info.resumed {
    background : #1aa24a;
}

span.yith-wcmbs-users-membership-info.expired, span.yith-wcmbs-users-membership-info.cancelled {
    background : #bd0d2e;
}

span.yith-wcmbs-users-membership-info.expiring {
    background : #e2821f;
}

span.yith-wcmbs-users-membership-info a {
    color      : inherit;
    box-shadow : none !important;
}

span.yith-wcmbs-users-membership-info .dashicons {
    font-size   : 18px;
    color       : inherit;
    margin-left : 5px;
    width       : 18px;
    height      : 18px;
}

/*
    Alternative content Metabox
*/
#alternative-content .textarea-editor {
    margin : 20px 0 0 0 !important;
}

/*
    Messages Metabox USER INFO
*/
table.yith-wcmbs-message-user-info {
    width   : 100%;
    display : block;
}

table.yith-wcmbs-message-user-info * {
    width   : 100%;
    display : block;
}

table.yith-wcmbs-message-user-info th {
    text-align : left;
}

table.yith-wcmbs-message-user-info td {
    text-align : left;
    word-wrap  : break-word;
}

/*
    Messages Metabox SEND MESSAGE
*/
#yith-wcmbs-send-message-editor {
    overflow : auto;
}

#yith-wcmbs-message-to-send {
    height : 100px;
}

/*
    Messages List
*/
#yith-wcmbs-messages div.inside {
    overflow-y : auto;
    margin     : 10px 0px;
    max-height : 500px;
}

ul.yith-wcmbs-messages-list li {
    overflow : auto;
}

div.yith-wcmbs-message-container {
    padding       : 10px;
    background    : #eee;
    width         : 50%;
    margin-left   : 50%;
    margin-bottom : 20px;
    box-sizing    : border-box;
    position      : relative;
    text-align    : right;
}

div.yith-wcmbs-message-container::after {
    content     : ' ';
    position    : absolute;
    border-top  : 15px solid #eee;
    border-left : 15px solid transparent;
    bottom      : -12px;
    right       : 0;
}

div.yith-wcmbs-message-container .exact-date {
    font-size : 10px;
}

div.yith-wcmbs-message-sent-by-user {
    background  : #ccf0ff;
    margin-left : 0;
    text-align  : left;
}

div.yith-wcmbs-message-container.yith-wcmbs-message-sent-by-user::after {
    border-top   : 15px solid #ccf0ff;
    border-right : 15px solid transparent;
    border-left  : 0;
    right        : auto;
    left         : 0;
}

/*
    Thread WP List
*/

th#messages_count {
    width      : 150px;
    text-align : center;
}

td.messages_count, th.column-messages_count {
    text-align : center;
}

.yith-wcmbs-messages-count {
    box-sizing       : border-box;
    padding          : 5px 10px;
    min-width        : 24px;
    height           : 2em;
    border-radius    : 5px;
    background-color : #72777c;
    color            : #fff;
    font-size        : 11px;
    line-height      : 21px;
    text-align       : center;
}

/*
    MEDIA restricted access
*/

.compat-field-yith_wcmbs_restrict_access th {
    margin : 0 !important;
}

.compat-field-yith_wcmbs_restrict_access select {
    width : 100%;
}

.compat-field-yith_wcmbs_restrict_access p {
    margin : 0 !important;
}

/*
    Metabox Plan Item Order
*/
div#yith-wcmbs-plan-item-order-metabox-left {
    width        : 600px;
    float        : left;
    margin-right : 50px;
}

div#yith-wcmbs-plan-item-order-metabox-right {
    width : 600px;
    float : left;
}

ul#yith-wcmbs-plan-item-order-container {
    width      : 600px;
    background : #eee;
    border-top : 1px solid #ccc;
    cursor     : move;
}

li.yith-wcmbs-plan-item {
    width      : 100%;
    padding    : 10px;
    box-sizing : border-box;
    border     : 1px solid #ccc;
    border-top : 1px solid #fff;
    margin     : 0;
    background : #eee;
    overflow   : auto;
}

li.yith-wcmbs-plan-item span {
    margin-left  : 2px;
    margin-right : 3px;
}

li.yith-wcmbs-plan-item-text {
    width      : 600px;
    padding    : 10px;
    box-sizing : border-box;
    border     : 1px solid #ccc;
    border-top : 1px solid #fff;
    margin     : 0;
    background : #eee;
    cursor     : move;
    position   : relative;
}

li.yith-wcmbs-plan-item-text input {
    width       : 95%;
    border      : 0 none;
    box-shadow  : none;
    border-left : 3px solid #555;
    font-size   : 13px;
}

li.yith-wcmbs-plan-item-text input:focus {
    border-color : #2470ff;
    box-shadow   : none;
}

li.yith-wcmbs-plan-item-text span {
    font-size : 30px;
    cursor    : pointer;
}

li.yith-wcmbs-plan-item-text span:hover {
    color : #e10000;
}

li.yith-wcmbs-plan-item-text span.yith-wcmbs-plan-item-text-description {
    font-size     : 11px;
    color         : #585858;
    position      : absolute;
    bottom        : 5px;
    right         : 5px;
    padding       : 0px 7px;
    background    : #d2d2d2;
    border-radius : 3px;
    font-style    : italic;
    cursor        : inherit;
}

li.yith-wcmbs-plan-item-text span.yith-wcmbs-plan-item-text-description:hover, li.yith-wcmbs-plan-item-text:hover span.yith-wcmbs-plan-item-text-description {
    color      : #0174ca;
    background : #d8d8d8;
}

.yith-wcmbs-delete-from-plan {
    font-size   : 30px;
    cursor      : pointer;
    line-height : 70%;
}

.yith-wcmbs-delete-from-plan:hover {
    color : #e10000;
}

.yith-wcmbs-plan-item-delay, .yith-wcmbs-plan-item-cats-and-tags-label {
    font-size     : 11px;
    color         : #585858;
    padding       : 0px 7px;
    background    : #d2d2d2;
    border-radius : 3px;
    font-style    : italic;
    cursor        : inherit;
    float         : right;
    margin        : 0 5px;
}

.yith-wcmbs-plan-item-cats-and-tags-label {
    color  : #fff;
    margin : 0 2px;

}

.orange-bg {
    background : #d25600;
}

.blue-bg {
    background : #389ed2;
}

.yellow-bg {
    background : #cac944;
}

.green-bg {
    background : #28d25c;
}

.violet-bg {
    background : #9852d2;
}

.yith-wcmbs-hide-show-item {
    cursor   : pointer;
    overflow : hidden;
}

.yith-wcmbs-hide-show-item * {
    font-size : 10px;
}

.yith-wcmbs-hide-show-item.dashicons-visibility {
    color : #009b4e;
}

.yith-wcmbs-hide-show-item.dashicons-visibility:hover {
    color : #00c366;
}

.yith-wcmbs-hide-show-item.dashicons-hidden {
    color : #d10000;
}

.yith-wcmbs-hide-show-item.dashicons-hidden:hover {
    color : #f00;
}

/* ------ Style Settings for plans ------ */
#yith-wcmbs-plan-item-order .iris-picker {
    position : absolute;
    z-index  : 10;
}

div#yith-wcmbs-custom-list-style-settings {
    padding    : 0px;
    border     : 1px solid #ccc;
    background : #f1f1f1;
    width      : 50%;
    min-width  : 300px;
}

div#yith-wcmbs-custom-list-style-settings table {
    padding : 10px;
}

div#yith-wcmbs-custom-list-style-settings h2 {
    margin-top : 0;
}

div#yith-wcmbs-custom-list-style-settings h3 {
    padding          : 5px 9px;
    background-color : #ddd;
    margin           : 0;
}

/* ---------- Membership INFO ------- */
#membership-data {
    padding : 20px;
}

#membership-data span.status {
    border-radius    : 3px;
    padding          : 1px 6px;
    font-size        : 12px;
    background-color : #7e8188;
    color            : #fff;
}

#membership-data h2 {
    margin      : 0;
    font-size   : 21px;
    line-height : 1.2;
    padding     : 0;
}

#membership-data p.membership_title {
    margin    : 0;
    font-size : 16px;
    color     : #7e8188;
}

#membership-data p.membership_title a {
    color : #7e8188;
}

#membership-data span.status.active, #membership-data span.status.resumed {
    background : #1aa24a !important;
}

#membership-data span.status.expired, #membership-data span.status.cancelled {
    background : #bd0d2e !important;
}

#membership-data span.status.expiring {
    background : #e2821f !important;
}

#membership-data h5 {
    font-size : 15px;
}

#membership-data .field_info {
    color : #7e8188;
}

#membership-data .field_info label {
    display : block;
}

#membership-data .membership_data_column {
    width        : 49%;
    margin-right : 1%;
    float        : left;
}

.clear {
    clear : both;
}

/* ---------- Membership ACTIONS ------- */
#yith-wcmbs-membership-actions .inside {
    padding : 0;
}

#yith-wcmbs-membership-actions div.membership-actions-footer {
    padding    : 10px;
    clear      : both;
    border-top : 1px solid #ddd;
    background : #f5f5f5;
    text-align : right;
}

#membership-actions {
    padding : 10px;
}

#membership-actions select {
    width : 100%;
}

#membership-actions .membership-actions-btn {
    border-radius : 3px;
    padding       : 4px 10px;
    background    : #7e8188;
    color         : #fff;
    margin        : 0 5px;
}

#membership-actions .membership-actions-btn.pause {
    background : #7e8188 !important;
}

#membership-actions .membership-actions-btn.resume {
    background : #1aa24a !important;
}

#membership-actions .membership-actions-btn.cancel {
    background : #e2821f !important;
}

a.yith-wcmbs-edit-post-link {
    text-decoration : none;
    margin-left     : 5px;
}

.yith-wcmbs-right {
    float : right;
}

/* ----------- Metabox Plugin FW Membership Options -------- */
#yith-wcmbs-metabox-settings .desc {
    width   : 100%;
    display : inline-block;
}

#yith-wcmbs-metabox-settings .chosen .desc {
    display : block;
    clear   : both;
}

#yith-wcmbs-metabox-settings .chosen .select_wrapper {
    margin-bottom : 0 !important;
}

#yith-wcmbs-metabox-settings .checkbox .desc {
    display : inline-block;
}

#yith-wcmbs-metabox-settings .chosen .select_wrapper .chosen-container span {
    position : relative !important;
}

#yith-wcmbs-metabox-settings .chosen .select_wrapper .chosen-container, .yith-wcmbs-ajax-products .chosen-container, .yith-wcmbs-ajax-products .chosen-container input {
    width : 400px !important;
}

/* Copy to clipboard */
.yith-wcmbs-copy-to-clipboard {
    cursor     : pointer !important;
    transition : all 0.6s ease;

}

.yith-wcmbs-copy-to-clipboard:active {
    transition-duration : 0s;
    color               : #009ad2;
    transform           : scale(1.5);
}

/* Settings Table */
.yith-wcmbs-admin-settings-table {
    width          : 100%;
    border-spacing : 0;
}

.yith-wcmbs-admin-protected-links-actions-column {
    width : 30px;
}

.yith-wcmbs-admin-protected-links-name-column {
    width : 25%;
}

.yith-wcmbs-admin-protected-links-link-column {
    width : 40%;
}

.yith-wcmbs-admin-protected-links-membership-column {
    width : calc(35% - 30px);

}

.yith-wcmbs-admin-protected-links-name-column input,
.yith-wcmbs-admin-protected-links-link-column input {
    width        : 100%;
    height       : 30px;
    box-shadow   : none;
    color        : #555;
    border-color : #ccc;
}

.yith-wcmbs-admin-protected-links-name-column,
.yith-wcmbs-admin-protected-links-link-column,
.yith-wcmbs-admin-protected-links-membership-column,
.yith-wcmbs-admin-protected-links-actions-column {
    text-align : left;
}

.yith-wcmbs-admin-protected-links-name-column,
.yith-wcmbs-admin-protected-links-link-column,
.yith-wcmbs-admin-protected-links-membership-column {
    padding : 5px 7px;
}

.yith-wcmbs-admin-bottom-actions {
    text-align  : right;
    padding-top : 20px;
}

.yith-wcmbs-admin-bottom-actions .description {
    float      : left;
    text-align : left;
}

.yith-wcmbs-delete {
    font-size : 30px;
    width     : 30px;
    height    : 30px;
    cursor    : pointer;
}

.yith-wcmbs-delete:hover {
    color : #900000;
}

.yith-wcmbs-admin-settings-table-default-row {
    display : none;
}

.yith-wcmbs-select2-and-buttons-select-wrapper {
    width        : 100%;
    max-width    : 400px;
    float        : left;
    margin-right : 10px;
}

.yith-wcmbs-select2-and-buttons-buttons-wrapper {
    float : left;
}