.njba-slide-box-img img {width: 100%;}
.njba-slider-main .bx-thumbnail-pager a img {width: 75px;height: 75px; margin: 10px 0;}
.njba-slider-main .bx-thumbnail-pager a.bx-pager-link.active img {border: 1px solid #ffffff;}
.njba-slider-main .bx-thumbnail-pager a {border: 0px solid #ccc ;padding: 3px;}
.njba-slider-main .bx-thumbnail-pager a:hover,
.njba-slider-main .bx-thumbnail-pager a.active {border: 0px solid #5280DD ;}
.njba-slider-main .bx-wrapper {margin-bottom: 0px;}
.njba-slider-main .njba-slider-body {position: relative;}
.bx-thumbnail-pager_section i.fa.pager-toggle{position: absolute; top: -34px;left: 0;padding: 10px;background: #000000;}
.bx-thumbnail-pager_section {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: red;
    background: rgba(0,0,0,0.5);
}
/*Cta Section*/
.njba-cta-box-main-stacked{position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 1;}
.njba-cta-box-main-inline{position: absolute;left: 0;right: 0;bottom: 0;z-index: 1;}
.njba-cta-box-main-inline .njba-cta-box-body {width: 100%;height: 100%;display: table;text-align: center;}
.njba-cta-box-main-inline .njba-cta-box-content{vertical-align: middle;width: 100%;height: 100%;display: table-cell;}
.njba-slider-main.thumbnail-pager .njba-cta-box-main-inline{margin-bottom: 100px;transition: all 0.3s;}
.njba-cta-box-main-stacked .njba-cta-module-content,
.njba-cta-box-main-inline .njba-cta-module-content  {display: inline-block;background-color: rgba(15,15,15, 0.5);width: auto;}
.njba-cta-box-main-stacked .njba-cta-text,
.njba-cta-box-main-inline .njba-cta-text {text-align: center;margin: 0 auto;padding: 10px;}
.njba-cta-module-content.inline {float: left;}
.inline .njba-cta-text, .inline .njba-btn-main{float:left;}
.inline {width: 100%;display:inline-block;}
h1.njba-cta-title, .njba-cta-text p{margin: 0;}
.njba-cta-text p {word-wrap: break-word;}
/*center-arrow-side*/
.njba-slider-main .bx-wrapper .bx-next i,
.njba-slider-main .bx-wrapper .bx-prev i{display: block;text-align: center;line-height: 37px;}
.njba-slider-main .bx-wrapper .bx-controls-direction a.bx-next,
.njba-slider-main .bx-wrapper .bx-controls-direction a.bx-prev {height: 40px; margin-top: -20px;outline: 0 none;position: absolute;top: 50%;width: 40px;z-index: 99;font-size: 35px;background: #000000;text-indent: 0;
    line-height: 40px;display: block;color: #ffffff;}
.njba-slider-main .bx-wrapper .bx-controls-direction a.bx-next {right: 0;}
.njba-slider-main .bx-wrapper .bx-controls-direction a.bx-prev {left: 0;}
.njba-slider-main .bx-wrapper .bx-controls-direction a:active,
.njba-slider-main .bx-wrapper .bx-controls-direction a:focus,
.njba-slider-main .bx-wrapper .bx-controls-direction a:hover {text-decoration: none;}
.bx-thumbnail-pager_section a.bx-prev,
.bx-thumbnail-pager_section a.bx-next {background: transparent !important;}
img.njba-slider-image-responsive { max-width: 100%; margin: 0 auto; }