.njba-pricing-table-main {
    display: inline-block;
    width: 100%;
}
.njba-pricing-table-main .njba-pricing-table{
    margin: 0 0 30px;
    position: relative;
    transition: all 0.3s ease 0s;
}
.njba-pricing-table-main .njba-pricing-inner{
    text-align: center;
    position: relative;
    transition: all 0.3s ease 0s;
}
.njba-pricing-table-main .njba-pricing-inner-body ul li{
    list-style: none;
}
.njba-col-xs-1 , .njba-col-xs-2 , .njba-col-xs-3 , .njba-col-xs-4 , .njba-col-xs-5 , 
.njba-col-sm-1 , .njba-col-sm-2 , .njba-col-sm-3 , .njba-col-sm-4 , .njba-col-sm-5 , 
.njba-col-md-1 , .njba-col-md-2 , .njba-col-md-3 , .njba-col-md-4 , .njba-col-md-5 , 
.njba-col-lg-1 , .njba-col-lg-2 , .njba-col-lg-3 , .njba-col-lg-4 , .njba-col-lg-5 {
    float:left;padding:0 15px;
}
.njba-pricing-inner-body ul {
    padding-left: 0;
}
/* Media Query */ 
@media ( max-width: 767px ){
    .njba-col-xs-1 { width:100%; }
    .njba-col-xs-2{ width:50%; }
    .njba-col-xs-3{ width:33.33%; }
    .njba-col-xs-4{ width:25%; }
    .njba-col-xs-5{ width:20%; }
}
@media ( min-width: 320px ){
    .njba-col-xs-1 { width:100%; }
    .njba-col-xs-2 { width:50%; }
    .njba-col-xs-3 { width:33.33%; }
    .njba-col-xs-4 { width:25%; }
    .njba-col-xs-5 { width:20%; }
}
@media ( min-width: 768px ){
    .njba-col-sm-1{ width:100%; }
    .njba-col-sm-2{ width:50%; }
    .njba-col-sm-3{ width:33.33%; }
    .njba-col-sm-4{ width:25%; }
    .njba-col-sm-5{ width:20%; }
}
@media ( min-width: 992px ){
    .njba-col-md-1{ width:100%; }
    .njba-col-md-2{ width:50%; }
    .njba-col-md-3{ width:33.33%; }
    .njba-col-md-4{ width:25%; }
    .njba-col-md-5{ width:20%; }
}
@media ( min-width: 1200px ){
    .njba-col-lg-1{ width:100%; }
    .njba-col-lg-2{ width:50%; }
    .njba-col-lg-3{ width:33.33%; }
    .njba-col-lg-4{ width:25%; }
    .njba-col-lg-5{ width:20%; }    
}