#yith_wocc_panel_general .upload_img_url {
    width: 300px;
}
#yith-add-exclusion {
    margin: 20px 0;
    padding: 20px;
    background-color: #ebebeb;
    display: inline-block;
    border: 1px solid #e0e0e0;
}
#yith-add-exclusion .select2-container {
    width: 300px !important;
    display: inline-block !important;
}
#yith-add-exclusion h4 {
    margin: 0 0 10px;
    text-transform: uppercase;
}
#yith-exclusion-table td.product img {
    margin: 0 10px 0 0;
    vertical-align: middle;
    width: auto;
    height: auto;
    max-width: 40px;
    max-height: 40px;
}
#yith-exclusion-table td.stock span {
    font-weight: 700;
    line-height: 1;
}
#yith-exclusion-table td.stock .in-stock {
    color: #7ad03a;
}
#yith-exclusion-table td.stock .out-of-stock {
    color: #a44;
}

#yith_wocc_panel_general input.colorpick {
    width: 6em;
}