.yith-wocc-wrapper:after,
.yith-wocc-wrapper:before,
.yith-wocc-button-container:after,
.yith-wocc-button-container:before {
    content: '';
    display: table;
    clear: both;
}
.yith-wocc-wrapper:after {
    clear: both;
}
.yith-wocc-wrapper-submit {
    margin: 15px 0;
}
.yith-wocc-button-container, .yith-wocc-select-address-container {
    margin-bottom: 10px;
}
.yith-wocc-button-container a.button {
    margin-top: 0 !important;
}
.yith-wocc-button:before {
    font-family: FontAwesome;
    content: "\f07a";
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
}
.yith-wocc-button .button-label {
    display: inline-block;
    vertical-align: middle;
}

.yith-wocc-wrapper {
    margin-top: 20px;
}

.yith-wocc-divider {
    margin-bottom: 10px;
    text-align: center;
    position: relative;
}

.yith-wocc-divider span {
    padding: 0 15px;
    background: #fff;
    z-index: 2;
    position: relative;
}

.yith-wocc-divider:after {
    content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top: 50%;
    margin-top: 1px;
    z-index: 1;
}


/** MODAL **/

#yith-wocc-modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background-color: rgba( 0,0,0,0.5);
}

#yith-wocc-modal {
    position: fixed;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: 70%;
    max-height: 600px;
    z-index: 1500;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}

#yith-wocc-modal .yith-wocc-modal-content {
    padding: 35px 0;
    position: relative;
    opacity: 0;
    height: 100%;
    background-color: #fff;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}

#yith-wocc-modal .yith-wacp-close {
    position: absolute;
    top: 0;
    padding: 5px 10px;
    right: 0;
    text-transform: uppercase;
    font-size: 18px;
}

#yith-wocc-modal .yith-wocc-modal-content form {
    height: 100%;
}

#yith-wocc-modal .woocommerce {
    max-height: 600px;
    overflow: hidden;
    position: relative;
    padding: 0 20px;
    height: 100%;
}

#yith-wocc-modal-overlay.open {
    visibility: visible;
    opacity: 1;
}
#yith-wocc-modal.open {
    visibility: visible;

}
#yith-wocc-modal.open .yith-wocc-modal-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}


/** MY ACCOUNT SECTION **/

.yith-wocc-account a.button,
.yith-wocc-account button.button {
    border-radius: 5px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 8px 16px;
    display: inline-block;
    float: right;
}
.yith-wocc-account a.button:before,
.yith-wocc-account button.button:before{
    font-family: FontAwesome;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.add-address-action:before {
    content: "\f067";
}
.yith-wocc-account button.button:before {
    content: "\f00c";
}

/** input */

.yith-wocc-account-option p {
    position: relative;
    padding-left: 25px;
}
.yith-wocc-account-option label {
    cursor: pointer;
}
.yith-wocc-account-option input[type='checkbox'] {
    opacity: 0;
    width: 20px;
    margin: 0 0 0 -20px;
    display: block;
    float: left;
}
.yith-wocc-account-option input[type='checkbox'] + span {
    width: 17px;
    height: 17px;
    display: inline-block;
    background: url('../images/custom-checkbox.png') bottom center no-repeat;
    position: absolute;
    top: 7px;
    left: 0;
}
.yith-wocc-account-option  input[type='checkbox']:checked + span {
    background: url('../images/custom-checkbox.png') top center no-repeat;
}

.yith-wocc-account-option,
.yith-wocc-custom-address {
    margin-bottom: 25px;
}
.yith-wocc-account-option {
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
}
.yith-wocc-account-option:after,
.yith-wocc-account-option:before,
.yith-wocc-custom-address:after,
.yith-wocc-custom-address:before {
    content: '';
    display: table;
    clear: both;
}

.entry-content .yith-wocc-custom-address h3 {
    margin-top: 0;
    margin-bottom: 20px;
    display: inline-block;
}

.yith-wocc-account .col-1 {
    width: 48%;
    float: left;
}
.yith-wocc-account .col-2 {
    width: 48%;
    float: right;
}
.yith-wocc-custom-address .address {
    margin-bottom: 15px;
    margin-top: 15px;
}
.yith-wocc-custom-address header {
    position: relative;
    margin-bottom: 10px;
}
.yith-wocc-custom-address header h4 {
    margin: 0;
}
.yith-wocc-custom-address .action {
    position: absolute;
    top: 0;
    right: 5px;
}
.yith-wocc-custom-address .action a {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 25px;
    visibility: hidden;
    opacity: 0.5;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    text-align: center;
    width: 25px;
    height: 25px;
    text-decoration: none;
}
.yith-wocc-custom-address .action a.fa-cog {
    color: #c0c0c0;
}
.yith-wocc-custom-address .action a.fa-remove {
    color: #ff0000;
}
.yith-wocc-custom-address .address:hover .action a {
    visibility: visible;
}
.yith-wocc-custom-address .action a:hover {
    opacity: 1;
    border: 1px solid #c0c0c0;
    text-decoration: none;
}

.yith-wocc-custom-address address {
    margin-bottom: 0;
}

.yith-wocc-activate {
    margin-top: 10px;
}

a.yith-wocc-activate {
    white-space: normal;
    font-size: 0.75em;
    line-height: normal;
    display: inline-block;
    text-align: center;
}
a.yith-wocc-button.button {
    white-space: normal;
    display: inline-block;
}

.yith-wocc-wrapper > label {
    display: block;
    margin-bottom: 10px;
}

/* select2 container fix z-index */
.select2-container.select2-container--open {
    z-index: 10000;
}
.yith-wocc-select-address-container .select2-container {
    max-width: 100%;
}