#yith_wcbpg_panel_labels textarea{
    width: 100%;
    margin-top: 20px;
}

.wrap-button.success{
    margin-top: 15px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 10px 15px;
}

#generate-coupon{
    margin-top: 15px;
}

.wcbpg-coupon-status .label{
    position: absolute;
    background: #32373c;
    top: 0;
    padding: 5px 10px;
    line-height: 6px;
    left: 20px;
    height: 16px;
    border: 1px solid #32373c;
    border-radius: 9px;
    color: #ffffff;
    font-size: 17px;
    display: none;
}

.wcbpg-coupon-status{
    position: relative;
}

.wcbpg-coupon-status:hover .label{
    display: block;
}

textarea.yith-ywcbg-admin-note{
    display: block;
    width: 100%;
    margin-top: 20px;
}