/* Check vouher code */

.woo-vou-check-voucher-code-loader {
    display: inline;
}
.woo-vou-loader {
    display: none;
}
.woo-vou-voucher-code-msg {
    margin-top: 5px;
}
.woo-vou-voucher-code-error {
    color: #FF0000;
}
.woo-vou-voucher-code-success {
    color: #00AA00;
}
.woo-vou-voucher-code-submit-wrap {
    display: none;
}
/* Purchase Voucher Codes */

.wp-list-table.purchasedvous .column-code {
    width: 15%;
}
.wp-list-table.purchasedvous .column-product_info {
    width: 20%;
}
.wp-list-table.purchasedvous .column-buyers_info {
    width: 25%;
}
.wp-list-table.purchasedvous .column-order_info {
    width: 25%;
}
.wp-list-table.purchasedvous .column-order_date {
    width: 15%;
}
.wp-list-table.purchasedvous .column-order_id {
    width: 10%
}
.wp-list-table .order_info.column-order_info td {
    padding: 0px;
}
.wp-list-table .product_info.column-product_info td {
    padding: 0px;
}
/* Used Voucher Codes */

.wp-list-table.usedvous .column-code {
    width: 13%;
}
.wp-list-table.usedvous .column-product_info {
    width: 24%;
}
.wp-list-table.usedvous .column-buyers_info {
    width: 24%;
}
.wp-list-table.usedvous .column-order_info {
    width: 24%;
}
.wp-list-table.usedvous .column-redeem_by {
    width: 15%;
}
.wp-list-table.usedvous .column-code_details {
    width: 9%;
}
.wp-list-table.purchasedvous .column-buyers_info table td,
.wp-list-table.usedvous .column-buyers_info table td,
.wp-list-table.usedvous .column-redeem_by table td {
    padding: 0px;
}
/* -------------------------------------- */

.woo_pdf_vou_main {
    float: left;
    width: 100%;
}
.woo_pdf_vou_tit,
.woo_pdf_pro_tit {
    float: left;
    width: 98.5%;
    background: #f8f8f8 none repeat scroll 0 0;
    font-weight: bold;
    padding: 10px;
}
.woo_pdf_vou_pro_lst {
    float: left;
    padding: 10px;
    width: 98.5%;
    margin-bottom: 35px;
}
.woo_vou_padding {
    padding: 0 3px;
}
.col-2 {
    float: left;
    width: 49%;
}
.col-3 {
    float: left;
    width: 32.33%;
    word-wrap: break-word;
}
.col-5 {
    float: left;
    width: 19%;
    word-wrap: break-word;
}
.woo_pdf_res_order {
    display: none;
    font-weight: bold;
    float: left;
    width: auto;
}
.woo_pdf_res_buyer {
    display: none;
    font-weight: bold;
    float: left;
    width: auto;
}
.woo_pdf_res_vou {
    display: none;
    font-weight: bold;
    float: left;
    width: auto;
}
.woo_pdf_val {
    float: left;
}
.woo-voucher-code-content table.purchasedvous td > table {
  width: 100%;
}
.woo-voucher-code-content table.usedvous td > table {
  width: 100%;
}
.wp-list-table a.woo-vou-code-expiry-date {
  cursor: pointer;
}
.woo-vou-popup-content.woo-vou-expiry-date-content .woo-vou-popup,
.woo-vou-popup-content.woo-vou-recipient-email-content .woo-vou-popup {
  height: auto; 
}
.woo-vou-popup-content.woo-vou-expiry-date-content {
	width: 600px;
	left: 27%;
	position: fixed;
	top: 50px;
}
.woo-vou-popup-content.woo-vou-recipient-email-content {
	width: 600px;
	left: 27%;
	position: fixed;
	top: 50px;
}
.woo-vou-popup-content.woo-vou-expiry-date-content .woo-vou-popup .woo-vou-change-exp-datetime {
  width:auto;
}
.woo-vou-popup-content.woo-vou-expiry-date-content .woo-vou-expiry-errors,
.woo-vou-popup-content.woo-vou-expiry-date-content .woo-vou-recipient-email-errors{
	display:none;
	background-color: #FFEBE8;
    border-color: #CC0000;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    padding:5px;
}
.woo-vou-popup-content.woo-vou-expiry-date-content .woo-vou-expiry-errors.woo-vou-expiry-success,
.woo-vou-popup-content.woo-vou-expiry-date-content .woo-vou-recipient-email-success {
	background-color: #ebffe8;
	border-color: #00cc00;
}
.woo-vou-loader-wrap{position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.25);
    text-align: center;}
.woo-vou-loader-wrap .woo-vou-loader{        position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -8px auto 0;}
/* Recipient edit form css */
#woo-vou-voucher-recipient-details a.edit_recipient_details::after,
#woo-vou-voucher-details a.edit_history_details::after,
#woo-vou-voucher-extra-note a.edit_extra_note::after {
	font-family: WooCommerce;
	font-size: 14px;
	font-weight: 400;
	right: 0;
	line-height: 14px;
	position: absolute;
	text-align: center;
	top: 2px;
	vertical-align: top;
}
#woo-vou-voucher-recipient-details table.woo-vou-recipient-info-table th {
	vertical-align: top;
}
#woo-vou-voucher-recipient-details a.edit_recipient_details::after,
#woo-vou-voucher-details a.edit_history_details::after,
#woo-vou-voucher-extra-note a.edit_extra_note::after {
  content: "\f464";
  font-family: Dashicons;
}
#woo-vou-voucher-recipient-details a.edit_recipient_details,
#woo-vou-voucher-details a.edit_history_details,
#woo-vou-voucher-extra-note a.edit_extra_note {
  border: 0 none;
  color: #999;
  float: right;
  margin: 0 0 0 6px;
  padding: 0 25px 0;
  position: relative;
}
#woo-vou-voucher-recipient-details .woo-vou-recipient-value-edit:not(:last-child) input, 
#woo-vou-voucher-recipient-details .woo-vou-recipient-value-edit textarea{
	width: 95%;
	margin: 0;
	padding: 0 5px;
	line-height: 2;
}
#woo-vou-voucher-recipient-details .woo-vou-recipient-value-edit > th {
  vertical-align: top;
}
.woo-vou-history-value-row-edit .woo-vou-vendor-address, .woo-vou-history-value-row-edit .woo-vou-redeem {
  width: 100%;
}
.woo-vou-history-value-row-edit .woo-vou-website-url, .woo-vou-history-value-row-edit .woo-vou-expires-date {
  width: 100%;
}
.woo-vou-history-value-row-edit #vou_site_logo{
	min-width: 170px;
    width: 95%;
}
.woo-vou-history-value-row-edit .voucher-submit-td {
  text-align: right;
}
.woo-vou-extra-note-row-edit .voucher_extra_note {
    width: 100%;
    height: 100px;
}
.woo-vou-vou-code-partial-used {
	color: #fff;
    background-color: #2196F3;
    border: 1px solid #1470b9;
    text-align: center;
    padding: 5px 0;
    margin: 10px 0px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 12px;
}
.woo-vou-vou-code-partial-used:hover {
    background-color: #4eaffd;
    border: 1px solid #4eaffd;
}
.woo-vou-partial-used-voucode-label {
	vertical-align: baseline;
}
.forminp-number #vou_code_postfix {
	width: 150px;
}
table.woo-vou-edit-history-table p.woo-vou-recipient-error{
	display: none;
}
.woo-vou-recipient-error, .woo-vou-gift-field-required {
	color: #ff0202 !important;
}
#woo-vou-voucher-details table.woo-vou-history-table{
	word-break: break-all;
}
table.woo-vou-edit-history-table {
	border: none;
}
table.woo-vou-edit-history-table th, table.woo-vou-edit-history-table td {
	vertical-align: top;
	width: 25%;
}
.woo-vou-site-url-error {
	color: #f90000;
}
table.woo-vou-voucher-gift-notification-table .woo-vou-send-gift-notification-email {
	background: #0085ba;
	color: #fff;
	border: none;
}
table.woo-vou-voucher-gift-notification-table .woo-vou-send-gift-notification-email:hover,
table.woo-vou-voucher-gift-notification-table .woo-vou-send-gift-notification-email:focus {
	background: #0085ba;
	color: #fff;
	border: none;
}

@media only screen and (max-device-width: 1024px) {
    .woo_pdf_vou_tit {
        display: none;
    }
    .woo_pdf_res_order {
        display: block;
        margin: 0px 10px;
    }
    .woo_pdf_res_buyer {
        display: block;
        margin: 0px 10px;
    }
    .col-5 {
        width: 100%;
    }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 639px) {
    .woo_pdf_pro_tit {
        display: none;
    }
    .woo_pdf_res_vou {
        display: block;
        margin: 0px 10px;
    }
    .col-3,
    .col-2 {
        width: 100%;
    }
}
@media only screen and (max-device-width: 479px) {
    .woo_pdf_vou_tit,
    .woo_pdf_pro_tit {
        display: none;
    }
    .woo_pdf_res_vou {
        display: block;
        width: 100%
    }
    .col-2 {
        width: 100%;
    }
}