<?php
/**
 * Created by PhpStorm.
 * User: Ovidiu
 * Date: 7/26/2018
 * Time: 1:14 PM
 */
?>
<span class="p-thumb p-global-thumb click" data-fn="color_click" data-color="<#= color #>" data-custom-name="<#= custom_name #>" data-name="<#= name #>" data-var="<?php echo TVE_GLOBAL_COLOR_VAR_CSS_PREFIX; ?><#= id #>" data-id="<#= id #>">
	<span class="p-thumb-inner" style="background-color:<#= color #>"></span>
</span>
