/*
 * Styling for the admin
 *
*/

@successColor: #7ED321;
@errorColor: #D0021B;

@import 'admin/global';

/**************************
**** PANEL *******
**************************/
.fpd-panel {
	background:#fff;
	margin:20px 0;
	padding:20px;
	box-sizing:border-box;
	border:1px solid #e5e5e5;
	box-shadow:0 1px 1px rgba(0,0,0,0.04);
}

.fpd-panel > h3 {
	margin-top:0;
}

/**************************
**** TOOLTIP *******
**************************/
.fpd-admin-tooltip {
	cursor:pointer;
	font-size: 15px;
}

.fpd-admin-tooltip-theme {
	background:rgba(0,0,0,0.9);
	border-radius:2px;
	-webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.1);
	box-shadow:0 2px 2px 0 rgba(0,0,0,0.1);
}

.fpd-admin-tooltip-theme .tooltipster-content {
	font-size:10px;
	line-height:12px;
	padding:8px 7px;
	color:#fff;
	white-space:nowrap;
	text-transform:uppercase;
}

/**************************
**** UI BLOCKER *******
**************************/
.fpd-ui-blocker {
	position:absolute;
	top:0;
	left:0;
	background:rgba(255,255,255,0.5);
	width:100%;
	height:100%;
	display:none;
	z-index: 100;
}

.fpd-ui-blocker:after {
	content:" ";
	background:url(../img/ajax-loader.svg) no-repeat center center;
	width:60px;
	height:60px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-30px 0 0 -30px;
}

/**************************
**** NOTIFICATION *******
**************************/

.fpd-dismiss-notification {
	position: relative;
}

/**************************
**** SETTINGS *******
**************************/
.radykal-settings-form table[id="colors"]:after {
	clear: both;
}

.radykal-settings-form table[id="colors"] tr {
	display: table-cell;
	float: left;
}

.radykal-settings-form table[id="colors"] th {
	display: block;
	padding-left: 10px;
	padding-bottom: 0px;
}

.fpd-settings-labels .form-table tr {
	width: 280px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 5px;
	margin-right: 10px;
}

.fpd-settings-labels .form-table tr th {
	display: block;
	padding: 5px;
	font-size: 12px;
	white-space: nowrap;
	width: auto;
	overflow: hidden;
}

.fpd-settings-labels .form-table tr td {
	padding: 0 5px 5px 5px;
	display: block;
}

/**************************
**** POST
**************************/

#fpd-meta-box .inside > div:first-child {
	margin-top: 10px;
}

#fpd-meta-box .inside > div {
	margin-top: 25px;
}

#fpd-meta-box .inside label {
	margin-bottom: 10px;
	display: block;
}

#fpd-meta-box .radykal-tabs-nav {
	margin-bottom: 10px !important;
}

#fpd-meta-box .radykal-tabs-nav > a {
	width: 49%;
	margin-right: 0 !important;
	margin-left: 0 !important;
	font-size: 13px;
	text-align: center;
}

#fpd-meta-box .radykal-tab-content > div {
	margin-top: 10px;
}

#fpd-modal-individual-product-settings .fpd-admin-modal-dialog {
	width: 820px;
}

#fpd-modal-individual-product-settings .fpd-admin-modal-dialog > .description {
	margin-bottom: 30px;
}

#fpd-modal-individual-product-settings .radykal-tabs-nav {
	margin-bottom: 0;
}

.select2-container .select2-search--inline {
}


/**************************
**** MANAGE FANCY PRODUCTS
**************************/

#fpd-modal-shortcodes thead {
	font-weight: bold;
}

#fpd-modal-shortcodes td {
	padding-left: 0;
}

#fpd-modal-shortcodes thead td {
	padding-bottom: 20px !important;
}

#fpd-modal-shortcodes tbody tr {
}

#fpd-modal-shortcodes tr > td {
	padding-top: 0;
	vertical-align: top;
	padding-bottom: 30px;
}

#fpd-modal-shortcodes tr >td:first-child {
	width: 50%;
}

#fpd-modal-shortcodes tbody h5 {
	margin: 0 0 5px;
}

#fpd-modal-shortcodes .description {
	font-size: 12px;
}

#fpd-modal-shortcodes #fpd-action-attr div {
	width: 47%;
	display: inline-block;
}

#fpd-modal-shortcodes #fpd-action-attr div:last-child {
	margin-left: 2%;
}


.fpd-sortable-placeholder {
	background-color: #fff !important;
	border-color: #bbb !important;
	border-style:dashed !important;
	border-width:1px;
	margin-bottom:9px;
}

#fpd-manage-products h3 .add-new-h2 {
	font-size:12px;
	float:right;
}

#fpd-manage-products h3 .add-new-h2:after {
	clear:both;
}

#fpd-products-nav {
	margin-top: 40px;
}

#fpd-products-nav select {
	max-width: 200px;
	margin-left: 10px;
}

#fpd-products-nav form {
	float: left;
}

#fpd-products-nav form:last-child {
	float: right;
}

#fpd-products-nav .button {
	margin-top: 1px;
}

#fpd-products-nav input[type="text"] {
	line-height: 20px;
	width: 200px;
}

#fpd-manage-products #fpd-products {
	position:relative;
}

#fpd-manage-products #fpd-products-list > .fpd-product-item {
	white-space:nowrap;
	border:1px solid #eee;
	padding:20px 9px 15px;
	font-weight:300;
	cursor:pointer;
	margin:0;
	line-height:1;
	font-size:16px;
	margin-bottom:10px;
	-webkit-transition: background 300ms ease-out;
	-moz-transition: background 300ms ease-out;
	-ms-transition: background 300ms ease-out;
	-o-transition: background 300ms ease-out;
	transition: background 300ms ease-out;
}

#fpd-manage-products #fpd-products-list > .fpd-product-item:hover {
	background:#f9f9f9;
}

.fpd-product-item > .fpd-clearfix > span {
	float: left;
	vertical-align: middle;
}

.fpd-product-item .fpd-product-meta {
	width: calc(~"100% - 60px");
	overflow: hidden;
}

#fpd-manage-products .fpd-item-id {
	font-size: 12px;
	margin-top: 0;
	opacity: .7;
	font-style: italic;
	line-height: 100%;
	display: block;
	margin-bottom: 3px;
}

.fpd-product-meta .fpd-product-title {
	line-height: 22px;
}

#fpd-manage-products #fpd-products-list > li.fpd-active,
#fpd-manage-products #fpd-products-list > li.fpd-active + ul {
	background:#f3f3f3 !important;
}

#fpd-manage-products #fpd-products-list > li.fpd-active {
	margin-bottom:0;
	border-bottom:none;
}

#fpd-manage-products #fpd-products-list > .fpd-views-list {
	padding:5px 9px;
	border:1px solid #eee;
	border-top:none;
	margin-bottom:10px;
	display:none;
}

#fpd-products-list .fpd-view-item {
	border:1px solid #eee;
	background:#fff;
	line-height:30px;
	padding:10px 0 10px 10px;
	cursor:move;
}

.fpd-view-item img {
	vertical-align:middle;
	margin-right:10px;
	border: 1px dashed #ccc;
	padding: 5px;
	cursor: copy;
}

.fpd-view-item img {
	max-height:28px;
	max-width: 23px;
}

.fpd-view-item label {
	cursor:inherit;
}

#fpd-manage-products #fpd-categories {
	width:28%;
	float:left;
	margin-left:2%;
	position:relative;
}

#fpd-categories .fpd-category-item {
	border-bottom:1px solid #eee;
	padding:10px 5px;
	font-weight:300;
}

#fpd-manage-products #fpd-products-list li > span,
#fpd-categories .fpd-category-item > span {
	display:block;
}

#fpd-manage-products #fpd-products-list li > span a,
#fpd-categories .fpd-category-item > span a {
	text-decoration:none;
}

#fpd-manage-products #fpd-products-list li > span:first-child,
#fpd-categories .fpd-category-item > span:first-child {
	float:left;
	white-space:nowrap;
	overflow:hidden;
}

#fpd-manage-products #fpd-products-list li > span:first-child {
	width: calc(~"100% - 260px");
	overflow: initial;
}

#fpd-categories .fpd-category-item > span:first-child {
	width: calc(~"100% - 100px");
}

#fpd-categories .fpd-category-item > span:first-child input {
	margin-right:5px;
}

#fpd-manage-products #fpd-products-list li > span:last-child,
#fpd-categories .fpd-category-item > span:last-child {
	float:right;
	text-align:right;
}

#fpd-manage-products #fpd-products-list li > span:last-child {
	margin-top: 5px;
}

#fpd-manage-products #fpd-products-list li > span:last-child > a,
#fpd-categories .fpd-category-item > span:last-child > a {
	padding:0 8px;
	font-size:1.2em;
}

#fpd-categories .fpd-filter-category {
	opacity:.3;
}

#fpd-categories .fpd-filter-category.fpd-active {
	opacity:1;
}

#fpd-manage-products #fpd-products {
	width:70%;
	float:left;
}



/********************************
**** PRODUCT BUILDER ***
********************************/

#fpd-product-builder,
#fpd-product-builder * {
	box-sizing: border-box;
}

#fpd-product-builder .add-new-h2 {
	display: inline-block;
	margin-bottom: 10px;
}

#fpd-product-builder-head .select2-container,
#fpd-product-builder-head select {
	float: left;
	margin-top: 1px;
}

#fpd-product-builder-head .select2 {
	margin-right: 20px;
	z-index: 999 !important;
}


/* Layers Panel Product Builder Page */

#fpd-manage-elements {
	position: relative;
}

#fpd-manage-elements > .fpd-ui-blocker {
	display: block;
}

#fpd-elements-list {
	padding: 10px;
	max-height: 290px;
	overflow: auto;
}

#fpd-elements-list > .fpd-layer-item {
	background: #f9f9f9;
	border:1px solid #eee;
	width: 150px;
	height: 120px;
	padding: 5px;
	margin: 10px 10px 0 0;
	overflow: hidden;
	cursor: move;
	float: left;
	position: relative;
}

#fpd-elements-list > .fpd-layer-item.fpd-active-item {
	background: #f2f2f2;
	border:1px solid #c8c8c8;
	-webkit-transition:background 500ms ease-out;
	transition:background 500ms ease-out;
}

.fpd-layer-item input,
.fpd-layer-item textarea {
	width: 100%;
	resize: none;
}

.fpd-layer-item textarea {
	width: 100%;
	margin-top: 2px;
	height: calc(~"100% - 52px");
}

.fpd-layer-item img {
	max-width: 100%;
	max-height: calc(~"100% - 40px");
	position: absolute;
	top: 37px;
	left: 50%;
	transform: translateX(-50%);
}

.fpd-layer-item--image textarea {
	display: none;
}

.fpd-layer-item > .fpd-layer-item-tools {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25px;
	background: rgba(255,255,255, 0.9);
	z-index: 10;
	text-align: center;
}

.fpd-layer-item-tools > a {
	text-decoration: none !important;
	font-size: 16px;
	padding: 0 4px;
	line-height: 25px;
}

#fpd-elements-list .fpd-sortable-placeholder {
	float: left;
	background: #fafafa;
	width: 150px;
	height: 120px;
	margin: 10px 10px 0 0;
}

/* Edit Layer Options */

#fpd-edit-parameters {
	min-height: 250px;
	margin: 0 0 20px;
}

#fpd-elements-form {
	overflow: auto;
}

#fpd-elements-form > div {
	margin: 0 !important;
}

#fpd-elements-form .form-table {
	margin-top: 0;
	clear: none;
}

#fpd-elements-form .form-table:last-child {
	padding:0;
}

#fpd-elements-form .form-table thead th {
	font-size: 16px;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 5px;
}

#fpd-elements-form .form-table tbody th {
	color: rgba(0,0,0, 0.7);
	font-size: 14px;
	font-weight: 400;
	width:30%;
	font-weight:400;
	padding:10px;
}

#fpd-elements-form .form-table tr > * {
	padding: 0 10px 15px 6px;
	vertical-align: top;
}

#fpd-elements-form .form-table tr > th {
	width: 50%;
	padding-top: 0;
}

#fpd-elements-form .form-table tbody td label {
	font-size: 12px;
}

#fpd-elements-form .checkbox-inline {
	display:block;
	margin-top: 0;
	font-size: 12px;
}

#fpd-elements-form input[type="text"],
#fpd-elements-form input[type="number"] {
	font-size:12px;
	box-shadow: none;
	border-radius: 2px;
	border: 1px solid #eee;
}

#fpd-elements-form input[type="number"] {
	width: 60px;
}

#fpd-elements-form input:disabled {
	opacity:.5;
}

#fpd-elements-form .ui-spinner > .ui-spinner-button {
	display:none;
}

#fpd-elements-form .tm-tag .tm-tag-remove {
	text-decoration:none;
	margin-left:6px;
	color:red;
	background:#fff;
	padding:1px 3px;
	display:inline-block;
	line-height:1;
}

#fpd-elements-form .radio-group > label {
	margin-right: 5px;
}

#fpd-elements-form #fpd-scale {
	position: relative;
}

#fpd-elements-form .fpd-group-field {
	display: block;
}

#fpd-scale #fpd-scale-locker {
	position: absolute;
	left: 85px;
	top: 24px;
	cursor: pointer;
	padding: 2px;
}


/* Product Stage */

#fpd-element-toolbar {
	margin-bottom: 10px;
}

#fpd-element-toolbar > * {
	float: left;
	margin-right: 5px;
}

#fpd-element-toolbar > span,
.fpd-toolbar-btn,
.fpd-button-group {
	display: inline-block;
	padding: 8px 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	cursor: pointer;
}

#fpd-element-toolbar > div {
	display: inline-block;
}

.fpd-button-group {
	padding: 0;
}

.fpd-button-group > span {
	display: block;
	float: left;
	font-size: 16px;
	padding: 8px 8px;
	border-right: 1px solid #ddd;
}

.fpd-button-group > span.fpd-active {
	background: #ddd;
}

.fpd-button-group > span:last-child {
	border: none;
}

#fpd-preview-wrapper {
	position: relative;
	overflow: auto;
}

#fpd-preview-wrapper > .fpd-main-wrapper {
	display: inline-block;
	border:1px solid #dfdfdf;
	position: relative;
}

#fpd-preview-wrapper  > .fpd-main-wrapper > .fpd-product-stage {
	background:#fff url(../img/grid.png) repeat;
}

.fpd-responsive,
.fpd-responsive * {
	max-width: 100%;
	box-sizing: border-box;
}

#fpd-preview-wrapper.fpd-responsive-tablet {
	width: 767px !important;
}

#fpd-preview-wrapper.fpd-responsive-phone {
	width: 567px !important;
}

#fpd-preview-wrapper.fpd-responsive-fit {
	overflow: hidden;
}

#fpd-mask-toolbar table td:first-child {
	padding-right: 10px;
}

#fpd-mask-toolbar table input[type="number"] {
	width: 60px;
}

#fpd-mask-toolbar button,
#fpd-printing-box-toolbar button {
	margin-top: 10px;
}

#fpd-printing-box-toolbar .radykal-columns-two {
	margin-bottom: 10px;
}

#fpd-printing-box-toolbar .radykal-columns-two > div {
	min-width: auto;
}

#fpd-printing-box-toolbar input[type="number"] {
	width: 80px;
}

#fpd-preview-wrapper .fpd-modal-lock {
	display: none !important;
}


/* LOADER */

.fpd-container > .fpd-loader-wrapper {
	background: rgba(255,255,255,0.9);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

.fpd-loader-wrapper > .fpd-loader {
	position: absolute;
	text-align: center;
	width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.fpd-loader > .fpd-loader-text {
	position: absolute;
	width: 100%;
	display: block;
	font-size: 14px;
	padding: 20px 0;
	color: rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 1.5px;
	-webkit-filter: blur(0);
}

.fpd-loader > .fpd-loader-circle {
	margin: 0 auto;
	width: 40px;
	height: 40px;
	border: 3px solid rgba(0, 0, 0, 0.2);
	border-left: 3px solid #000;
	transform: translateZ(0);
	animation: fpd-loader-animation 1.1s infinite linear;
}

.fpd-loader > .fpd-loader-circle,
.fpd-loader > .fpd-loader-circle:after {
	border-radius: 50%;
}

@-webkit-keyframes fpd-loader-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fpd-loader-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/********************************
**** MANAGE DESIGNS ************
********************************/

#fpd-manage-designs .add-new-h2 {
	font-size:12px;
	margin-left: 0;
}

#fpd-manage-designs  .select2-container{
	z-index: 100 !important;
}

#fpd-designs-list {
	padding:10px 0;
	margin:0;
}

#fpd-designs-list > li {
	width:85px;
	height:95px;
	background:#fff;
	border:1px solid #DFDFDF;
	padding:5px;
	float:left;
	margin:0 10px 10px 0;
	cursor:move;
	position:relative;
	overflow: hidden;
}

#fpd-designs-list > li p {
	font-size: 10px;
	white-space: nowrap;
	text-align: center;
	color: rgba(0,0,0, 0.5);
	margin: 0 0 5px !important;
	padding: 0 !important;
}

#fpd-designs-list > li img {
	max-width: 100%;
	max-height: 60%;
	display: block;
	margin: auto;
}

#fpd-designs-list > li > a {
	position:absolute;
	bottom:0;
	padding:1px 4px;
	font-size:14px;
	text-decoration:none;
	z-index:100;
}

#fpd-designs-list.fpd-black-bg > li {
	background: #000;
}

#fpd-designs-list.fpd-black-bg > li p {
	color: #fff;
}

#fpd-designs-list > li > .fpd-edit-parameters {
	left:0;
}

#fpd-designs-list > li > .fpd-remove-design {
	right:0;
}

#fpd-set-design-thumbnail {
	border: 1px dashed #ccc;
	height: 40px;
	width: 50px;
	font-size: 26px;
	text-align: center;
	line-height: 39px;
	font-weight: 700;
	color: rgba(0,0,0, 0.1);
	cursor: copy;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	position: relative;
}

#fpd-set-design-thumbnail-wrapper td {
	position: relative;
}

#fpd-remove-design-thumbnail {
	position: absolute;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	top: 8px;
	left: 2px;
	background: #999;
	z-index: 5;
	text-align: center;
	cursor: pointer;
}

#fpd-remove-design-thumbnail .dashicons {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    margin: 1px 0 0 1px;
    width: auto;
    height: auto;
}

#fpd-black-white-switcher > a {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid #DFDFDF;
}

#fpd-black-white-switcher > #fpd-white {
	background: #fff;
}

#fpd-black-white-switcher > #fpd-black {
	background: #000;
}

#fpd-design-categories-list {
	margin: 30px 0;
}

#fpd-design-categories-list li {
	margin: 0;
}

#fpd-design-categories-list li a {
	text-decoration: none;
}

#fpd-design-categories-list li > div {
	display: block;
	background: #fff;
	border: 1px solid #eee;
	padding: 12px 15px 7px;
	line-height: 1;
	color: rgba(0,0,0,0.7);
	text-decoration: none;
	cursor: move;
	margin: 3px 0;
}

#fpd-design-categories-list ul {
	margin-left: 15px;
}

#fpd-design-categories-list .ui-sortable-placeholder {
	display: block;
	border: 1px dashed #ccc;
	background: rgba(255,255,255, 0.7);
}

#fpd-design-categories-list li > div > span:first-child {
	float: left;
	line-height: 36px;
}

#fpd-design-categories-list li > div > span:last-child {
	float: right;
}

#fpd-design-categories-list li > div > span > * {
	float: left;
}

#fpd-design-categories-list .fpd-category-actions {
	padding-top: 10px;
}

#fpd-design-categories-list .fpd-category-actions a {
	font-size: 16px;
	margin-left: 10px;
}

#fpd-design-categories-list li > div > span:last-child .fpd-collapse-list > .dashicons-plus {
	display: none;
}

#fpd-design-categories-list li.fpd-collapsed > div > span:last-child .fpd-collapse-list > .dashicons-minus {
	display: none;
}

#fpd-design-categories-list li.fpd-collapsed > div > span:last-child .fpd-collapse-list > .dashicons-plus {
	display: inline-block;
}

#fpd-design-categories-list li.fpd-collapsed > ul {
	display: none;
}



/********************************
**** UI & LAYOUT COMPOSER *******
********************************/

#fpd-ui-layout-composer > div {
	margin-bottom: 40px;
}

#fpd-composer-head select {
	width: 200px;
	margin-top: 0;
	float: left;
}

#fpd-composer-head a {
	display: inline-block;
	margin-top: 4px;
}

#fpd-save-as-new-layout {
	margin-left: 20px;
}

#fpd-add-gt-step,
#fpd-test-gt {
	margin-top: 0;
}

#fpd-gt-tab .radykal-tabs-nav img {
	margin-right: 5px;
}

.fpd-gt-steps > div {
	padding: 10px;
	background: #f7f7f7;
	display: inline-block;
	width: 300px;
	margin: 0 20px 20px 0;
	float: left;
	position: relative;
}

.fpd-gt-steps > div:after {
	position: absolute;
	top: 50%;
	right: -15px;
	content: "\2192";
}

.fpd-gt-steps > div:last-child:after,
.fpd-gt-steps > div.ui-sortable-helper:after {
	display: none;
}

.fpd-gt-item label {
	font-size: 10px;
}

.fpd-gt-item > .fpd-gt-item-actions {
	margin-bottom: 5px;
	float: right;
}

.fpd-gt-steps > div > .fpd-gt-item-actions > span {
	font-size: 16px;
}

.fpd-gt-steps > div > .fpd-gt-item-actions > .fpd-gt-item-remove {
	cursor: pointer;
}

.fpd-gt-steps > div > .fpd-gt-item-actions > .fpd-drag {
	cursor: move;
	margin-right: 5px;
}

.fpd-gt-item input[type="text"] {
	display: none;
}

.fpd-gt-item.fpd-css-selector input[type="text"] {
	display: block;
}

.fpd-gt-item.fpd-css-selector .select2 {
	display: none !important;
}

.fpd-gt-steps > div textarea {
	margin-top: 10px;
	height: 100px;
	width: 100%;
}

.fpd-gt-steps .fpd-sortable-placeholder {
	height: 160px;
}


/********************************
**** ORDER VIEWER ***************
********************************/

fpd-wc-order #fpd-order-panel {
	padding: 23px 0 12px;
}

#fpd-order-panel * {
	box-sizing: border-box;
}

.fpd-actions-wrapper.fpd-pos-top {
	top: 32px !important;
}

#fpd-order-designer-wrapper {
	overflow: auto;
	position: relative;
}

#fpd-order-designer,
#fpd-order-designer * {
	max-width: none !important;
}

#fpd-order-designer.fpd-container > .fpd-mainbar .fpd-navigation {
	display: none !important;
}

#fpd-order-designer.fpd-container > .fpd-mainbar .fpd-content {
	top: 0 !important;
}

#fpd-order-designer.fpd-container > .fpd-main-wrapper {
	width: auto;
	display: inline-block;
	border: 1px solid #dfdfdf;
}

#fpd-order-quick-actions {
	margin-top: 10px;
}

#fpd-order-designer-wrapper .radykal-tabs {
	margin-top: 40px;
}

#fpd-order-designer-wrapper .fpd-editor-box {
	margin: 20px 0;
	background: #fff;
	border: 1px solid #DFDFDF;
}

.fpd-editor-box h5 {
	margin: 0;
	font-size: 14px;
}

.fpd-editor-box > div > p > input {
	background: #F3F3F3 !important;
	font-size: 12px;
	padding: 4px !important;
}

#fpd-order-panel table label {
	margin-right: 20px;
}

#fpd-order-panel table label.fpd-block {
	display: block;
	margin-bottom: 5px;
}

#fpd-order-panel tr > * {
	padding-top: 0;
}

#fpd-order-panel th {
	font-weight: 300;
	font-size: 0.9em;
}

#fpd-order-panel td {
	font-size: 0.8em;
}

#fpd-order-panel td[colspan="2"] {
	padding-left: 0;
}

#fpd-order-panel th.fpd-th-title {
	font-size: 1.2em;
}

#fpd-elements-lists > div {
	float: left;
	width: 48.5%;
	overflow: hidden;
}

#fpd-elements-lists > div:first-child {
	margin-right: 3%;
}

#fpd-dp-src-list tr {
	border-bottom: 1px solid rgba(0,0,0,.1);
}

#fpd-dp-src-list td {
	padding: 5px !important;
}

#fpd-dp-src-list td:first-child {
	width: 80px;
}

#fpd-dp-src-list a {
	text-decoration: none;
}

#fpd-dp-src-list a span {
	text-decoration: underline;
	vertical-align: bottom;
	margin-right: 5px;
}

#fpd-dp-src-list td:last-child {
	text-align: right;
}

#fpd-dp-src-list img {
	height: 50px;
	vertical-align: middle;
	border-radius: 2px;
}

/* NON-WOOCOMMERCE ORDERS */

#fpd-shortcode-orders-list {
	max-height: 200px;
	overflow: auto;
}

#fpd-shortcode-orders-list li {
	white-space: nowrap;
	border: 1px solid #eee;
	padding: 15px 9px 15px;
	font-weight: 300;
	cursor: pointer;
	margin: 0;
	line-height: 1;
	font-size: 14px;
	margin-bottom: 10px;
	float: left;
	width: 31.5%;
	margin-right: 1%;
	box-sizing: border-box;
}

#fpd-shortcode-orders-list li.fpd-active {
	background:#f3f3f3 !important;
}

#fpd-shortcode-orders-list li > span {
	display: block;
	width: 70%;
	float: left;
	white-space: nowrap;
	overflow: hidden;
}

#fpd-shortcode-orders-list li > span > i {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 12px;
}

#fpd-shortcode-orders-list li > span:first-child a {
	display: inline-block;
	padding-top: 4px;
	font-size: 0.9em;
}

#fpd-shortcode-orders-list li > span:last-child {
	width: 10%;
	text-align: right;
	float: right;
}

#fpd-shortcode-orders-list li > span:last-child a {
	font-size: 18px;
	padding: 0 5px;
	text-decoration: none !important;
}

.fpd-views-selection {
	margin-top: 10px !important;
}

.fpd-views-selection > div {
	width: 50px !important;
	height: 60px !important;
	box-shadow: none !important;
}



/********************************
**** STATUS ****************
********************************/

.fpd-status-table td {
	vertical-align: middle;
}

.fpd-status-table td:first-child {
	width: 20%;
}

.fpd-status-table td:nth-child(2) {
	font-weight: bold;
}

.fpd-status-table td em {
	text-transform: capitalize;
	font-style: normal;
}

.fpd-status-table td .fpd-admin-tooltip {
	float: right;
	font-size: 16x;
}

.fpd-status-table td input {
	padding: 5px;
	box-shadow: none;
	font-weight: normal;
}

/********************************
**** MODAL WINDOW ****************
********************************/

.fpd-admin-modal-wrapper {
	position: fixed;
	background: rgba(0,0,0,0.7);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100000;
	overflow-y: auto;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

.fpd-admin-modal-wrapper.fpd-admin-modal-visible {
	opacity: 1 !important;
	visibility: visible;
}

.fpd-admin-modal-wrapper > .fpd-admin-modal-dialog {
	width: 700px;
	max-width: 100%;
	padding: 30px;
	background: #F2F4F5;
	top: 60px;
	left: 50%;
	position: absolute;
	margin-bottom: 50px;
	transform: translateX(-50%);
	box-sizing: border-box;
}

.fpd-admin-modal-wrapper.fpd-admin-modal-visible > .fpd-admin-modal-dialog {
}

.fpd-admin-modal-dialog .fpd-close-admin-modal {
	position: absolute;
	top: 20px;
	right: 30px;
	text-decoration: none !important;
	font-size: 24px;
}

.fpd-admin-modal-dialog .fpd-admin-modal-content {
	min-height: 400px;
}

.fpd-admin-modal-dialog > h3 {
	margin-bottom: 35px;
}

.fpd-admin-modal-wrapper label {
	margin-right: 5px;
	font-weight: 400;
}

.fpd-admin-modal-wrapper img {
	max-height:18px;
	padding:4px;
	border:1px solid #aaa;
}

.fpd-admin-modal-wrapper input[type="radio"] {
	margin-right: 4px;
}

.fpd-admin-modal-open {
	overflow:hidden;
}

.fpd-admin-modal-content ul.fpd-modal-list li {
	padding:0 15px;
	line-height:50px;
	border:1px solid #eee;
	background:#fff;
}

.fpd-admin-modal-content ul.fpd-modal-list li a {
	text-decoration:none!important;
}

.fpd-admin-modal-content ul.fpd-modal-list li i {
	font-size:1.2em;
}

.fpd-admin-modal-content ul.fpd-modal-list li .button-primary {
	margin-right:20px;
	vertical-align:middle!important;
}

.fpd-admin-modal-dialog .fpd-admin-modal-btns {
	margin-top:25px;
}

.fpd-admin-modal-content iframe {
	width: 100%;
	min-height: 400px;
}

.fpd-admin-modal-content h4 {
	font-size: 15px;
	margin-bottom: 0;
}

.fpd-admin-modal-content select,
.fpd-admin-modal-wrapper textarea {
	width: 100%;
}


/********************************
**** MODAL WINDOW TABS **********
********************************/
.fpd-tabs {
	overflow:hidden;
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
}

.fpd-tabs li {
	float:left;
	margin:0 5px 0 0;
}

.fpd-tabs a {
	position:relative;
	background:#D4DADE;
	padding:10px 30px;
	float:left;
	text-decoration:none;
	color:rgba(0,0,0,0.4);
	font-weight:700;
	font-size:12px;
	border:1px solid #C9D0D3;
	border-bottom:none;
}

.fpd-tabs li:first-child {
	margin-left:30px;
}

.fpd-tabs a:hover,.fpd-tabs a:focus {
	background:#D7DDE1;
}

.fpd-tabs a:focus {
	outline:0;
}

.fpd-tabs #current a {
	background:#fff;
	z-index:3;
	color:#292929;
}

.fpd-tabs-content {
	background:#fff;
	padding:10px 30px;
	outline:1px solid #C9D0D3;
	overflow:hidden;
}

.fpd-tabs-content h4 {
	font-size:15px;
}

.fpd-tabs-content label {
	font-weight:400;
}

/********************************
**** MESSAGE BOX ****************
********************************/
.fpd-message-box {
	position:fixed;
	left:50%;
	bottom:30px;
	padding:20px;
	z-index: 100000;
}

.fpd-message-box.fpd-inline {
	position: static !important;
}

.fpd-message-box > h4 {
	font-size:16px;
	margin-bottom:10px;
}

.fpd-message-box > p {
	font-size:14px;
}

.fpd-message-box.fpd-success {
	background-color:#defcd5;
	color:#52a954;
	border:1px solid #bdffa9;
}

.fpd-message-box.fpd-error {
	background-color:#f1d7d7;
	color:#a95252;
	border:1px solid #e8a0a0;
}

.fpd-message-box.fpd-info {
	background-color:#f6f3d5;
	color:#96904d;
	border:1px solid #e9e4a4;
}

/********************************
**** SELECT2 ****************
********************************/
.select2-drop {
	z-index: 999999;
}

/********************************
**** MISC ****************
********************************/

.fpd-single-image-upload {
	width: 40px;
	height: 35px;
	display: inline-block;
	position: relative;
	border: 1px dashed #ccc;
	margin-right: 5px;
	cursor: copy;
}

.fpd-single-image-upload img {
	max-width: 80%;
	max-height: 80%;
	background: #fff;
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.fpd-single-image-upload:before {
	content: "x";
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABY0lEQVRIS73Vy0ocQRTG8d9E0LjyccSFIAgBYUBB0U3c5B1EkSiu1I2v4ErxHgjZJHHnJRCyyYu4VRS8cIYuaNpupmecsTZNd1d9/3POV3Wqoc+j0Wd97wYYxScM9CijJ/zC38ggxL9jFw89AgziC6YDsIZhrHYgPoZJnEeUFes2cReAjWxCerbjhPg37GExoqyAtPS6AXzFCJawgxtEtMXRNSB5to/PaOLfWwGR6XNOJCDJgzLxmFo7gwkcYQ6X7QzK/a8FCPFDbGMF87ioCWkLSOIR+RXGcVIBKZawbYmK4inoMkhVCSszSOKzuC4pR4IsZNs8/NnCcpZd8qkUEOIHmaFl4vlMTrOXZH6Aj3OQV4DfOENE/qeGkUXBWJK+zWCqeJJ/4EPFoani5QVTT4ozco+AtFrFOj522OzywCT4vxBF+HLbr3Y9lLXrZrrRen3hPOJnlPvdrswam6a7KX3P4AVfvFh/0cxH+wAAAABJRU5ErkJggg==);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 50%;
	opacity: 0.2;
	width: 100%;
	color: transparent;
	font-size: 26px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.fpd-single-image-upload > .fpd-remove {
	position: absolute;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	top: -8px;
	left: -8px;
	background: #999;
	z-index: 5;
	text-align: center;
	cursor: pointer;
}

.fpd-single-image-upload .dashicons {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	margin-top: 1px;
	width: auto;
	height: auto;
}

.fpd-item-thumbnail {
	width: 40px;
	height: 35px;
	display: inline-block;
	position: relative;
	border: 1px dashed #ccc;
	margin-right: 5px;
	cursor: copy;
}

.fpd-item-thumbnail img {
	max-width: 78%;
	max-height: 78%;
	background: #fff;
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: none;
}

.fpd-item-thumbnail:before {
	content: "x";
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABY0lEQVRIS73Vy0ocQRTG8d9E0LjyccSFIAgBYUBB0U3c5B1EkSiu1I2v4ErxHgjZJHHnJRCyyYu4VRS8cIYuaNpupmecsTZNd1d9/3POV3Wqoc+j0Wd97wYYxScM9CijJ/zC38ggxL9jFw89AgziC6YDsIZhrHYgPoZJnEeUFes2cReAjWxCerbjhPg37GExoqyAtPS6AXzFCJawgxtEtMXRNSB5to/PaOLfWwGR6XNOJCDJgzLxmFo7gwkcYQ6X7QzK/a8FCPFDbGMF87ioCWkLSOIR+RXGcVIBKZawbYmK4inoMkhVCSszSOKzuC4pR4IsZNs8/NnCcpZd8qkUEOIHmaFl4vlMTrOXZH6Aj3OQV4DfOENE/qeGkUXBWJK+zWCqeJJ/4EPFoani5QVTT4ozco+AtFrFOj522OzywCT4vxBF+HLbr3Y9lLXrZrrRen3hPOJnlPvdrswam6a7KX3P4AVfvFh/0cxH+wAAAABJRU5ErkJggg==);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 50%;
	opacity: 0.2;
	width: 100%;
	color: transparent;
	font-size: 26px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.fpd-item-thumbnail > .fpd-remove-item-thumbnail {
	position: absolute;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	top: -8px;
	left: -8px;
	background: #999;
	z-index: 5;
	text-align: center;
	cursor: pointer;
}

.fpd-remove-item-thumbnail .dashicons {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	margin-top: 1px;
	width: auto;
	height: auto;
}


.fpd-header-right {
	float:right;
	line-height:28px;
	text-align:right;
}

.fpd-header-right:after {
	clear:both;
}

.fpd-header-right > #fpd-shortcode-builder {
	margin-right: 10px;
	vertical-align: baseline;
}

/* Helper */
.fpd-clearfix:before,.fpd-clearfix:after {
	content:"\0020";
	display:block;
	height:0;
	overflow:hidden;
}

.fpd-clearfix:after {
	clear:both;
}

.fpd-clearfix {
	zoom:1;
}

.fpd-help {
	font-size:11px;
	cursor:help;
}

.fpd-error-message {
	border-left: 3px #dd3d36 solid;
	padding-left: 5px;
	font-size: 1.1em;
}

.fpd-children-floated > * {
	float:left;
	padding-right:20px;
}

.fpd-children-floated > :last-child {
	padding:0;
}

.fpd-clear {
	clear:both;
}

.fpd-hidden {
	display:none!important;
}

.fpd-two-column > div {
	width:50%;
}

.fpd-left {
	float:left;
}

.fpd-right {
	float:right;
}

.fpd-icon-btn {
	text-decoration: none !important;
}

.wp-picker-container, .wp-picker-container * {
	box-sizing: content-box !important;
}

.wp-picker-container .wp-color-result {
	height: 100% !important;
}

.fpd-button-modal {
	position: relative;
}

.fpd-button-modal > .fpd-dialog {
	display: none;
	min-width: 300px;
	min-height: 200px;
	position: absolute;
	top: 100%;
	left: -10px;
	background: rgba(255,255,255, 1);
	padding: 20px 10px;
	z-index: 100;
	box-shadow: 0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.15);
	border-radius: 2px;
}

.fpd-button-modal > .fpd-dialog.fpd-show {
	display: block;
}

.fpd-button-modal > .fpd-dialog h4 {
	margin-bottom: 15px;
	margin-top: 0;
	font-weight: 100;
	text-transform: uppercase;
}

/* PLUS */

#bulk-variations-table {
	margin: 20px 0 10px;
}

#bulk-variations-table thead tr {
	border-bottom: 2px solid rgba(0,0,0, 0.1);
}

#bulk-variations-table thead th {
	font-size: 16px;
	padding-bottom: 5px;
}

#bulk-variations-table tbody tr {
	border-bottom: 1px solid rgba(0,0,0, 0.1);
}

#bulk-variations-table tbody td {
	font-size: 1em;
	padding: 12px 0;
}

/* ADMIN */

.fpd-admin-app-tip {
	position: relative;
}

.fpd-admin-app-tip:after {
	position:absolute;
	content:" ";
	background:url(../img/admin-logo.png) no-repeat center center;
	width: 40px;
	height: 6px;
	top: 0;
	right: -2px;
	transform: translateX(100%);
}