#logs .wpie-list-row {
	border-collapse: collapse;
	min-height:20px;
	max-height:20px;
	}
#logs .wpie-list-row .wpie-list-row-field {
  padding: 3px 5px;
  }
#logs { 
	width:1100px; 
	table-layout:fixed; 
	overflow: hidden;
	}
#logs tbody {
    width:100%;
    height: 400px;      
    overflow-y: auto;    
    overflow-x: hidden;
    }
#logs thead { 
  width: calc(100% - 1.2em); 
  }
#logs thead, #logs tbody { 
  display: block; 
  }
#logs thead .wpie-list-row { 
	background-color: #fff 
	}
#logs tbody .wpie-list-row .wpie-list-row-field {	
	height: 20px;
	min-height:20px;  
	max-height: 20px 
	}
#logs tbody .wpie-list-row.declined .wpie-list-row-field-consent { 
	color: #e47b58; 
	font-weight: bold;
	}
#logs thead .wpie-list-heading-item,
#logs tbody .wpie-list-row-field {
	width: calc( (1100px - 410px) / 6 ); /* (( 1100px - (260px + 150px) )/6) */
	word-break: break-all;
	font-size:13px
	}
#logs.no-scroll thead {
  width: 100%; 
}
#logs thead .wpie-list-heading-item-ip-address,
#logs tbody .wpie-list-row-field-ip-address {
  width: 260px;
  word-break: break-all;
  }

#logs thead .wpie-list-heading-item-created,
#logs tbody .wpie-list-row-field-created {
  width: 150px;
  word-break: break-all;
  }
  
#wpca-consent-log-filter-btn {
	margin-left:3px;
}
.wpie-list-row-field-delete span {
	vertical-align:middle;
 }

#logs tbody .wpie-list-row .wpie-list-row-field-delete, 
#logs tbody .wpie-list-row:hover .wpie-list-row-field:not(.wpie-list-row-field-delete) {
	display: none;
	}	
#logs tbody .wpie-list-row .wpie-list-row-field-delete {
  width: 1100px;
  height: 15px; 
  background-color: #D04C20;
  }	
#logs tbody .wpie-list-row:hover .wpie-list-row-field-delete {
	display: table-cell;
	}
#logs tbody .wpie-list-row .wpie-list-row-field-delete span {
  overflow: hidden;
  max-height: 17px;
  margin: 0;
  padding: 0;
	}
#logs tbody .wpie-list-row .wpie-list-row-field-delete span.wpca-consent-log-delete {
    font-size: 13px;
    height: 13px;	
	}
.wpca-consent-log-delete:hover,
.wpie-list-row-field-delete:hover {
	cursor: pointer;
}