@import 'admin-default.css';

.misc-pub-curtime {
    display: none;
}
.misc-pub-post-status {
    margin-bottom: 13px;
}

.lcx-table-support-category tr:nth-child(2) .lcx-btn-delete-support-cat,
.lcx-table-form-field tr:nth-child(2) .lcx-btn-delete-form-field {
    visibility: hidden;
    pointer-events: none;
} 

.lcx-table-form-field textarea.lcx-f-field-desc {
    width: 200px;
    height: 68px;
    font-size: 13px;
    line-height: 1.3em;
}

.lcx-slug {
    display: inline-block;
    font-size: 12px;
    color: #555;
    background-color: #efefef;
    border-radius: 4px;
    padding: 0 5px;
}