@import 'admin-default.css';

/* Hide add new button */
.wrap .page-title-action {
    display: none;
}

.lcx-email-sent {
    font-weight: bold;
}

span.time {
    color: #aaa;
}
span.time::before {
    content: "";
    margin-left: 5px;
}