.arm_vc_icon{
    background-image:url(../../images/armember_menu_icon.png) !important;
}
.wpb_el_type_ARM_arm_form_shortode{display:none;}
.wpb_el_type_ARM_arm_edit_profile_shortode{display:none;}
.wpb_el_type_ARM_arm_logout_shortode{display:none;}
.wpb_el_type_ARM_arm_social_login_shortode{display:none;}
.wpb_el_type_ARM_arm_setup_shortode{display:none;}
.wpb_el_type_ARM_arm_restrict_content_shortode{display:none;}
.wpb_el_type_ARM_arm_activities_shortode{display:none;}
.wpb_el_type_ARM_arm_member_transaction_shortode{display:none;}
.wpb_el_type_ARM_arm_account_detail_shortode{display:none;}
.wpb_el_type_ARM_arm_close_account_shortode{display:none;}
.wpb_el_type_ARM_arm_cancel_membership_shortode{display:none;}
.arm_shortcode_options_popup_wrapper input:not([type='button']),
.arm_shortcode_options_popup_wrapper select{    
    width: 300px;
    height: 30px;
    line-height : 30px;
    padding: 0 10px;
}
.arm_shortcode_options_popup_wrapper input[type=checkbox], 
.arm_shortcode_options_popup_wrapper input[type=radio]{
    height: 18px;
    width: 18px;
    min-width: 18px;
    max-width: 18px;
    border: 1px solid #4acbda;
    padding: 0 !important;
}
.arm_shortcode_options_popup_wrapper select.arm_form_select{
    width: 335px;
}
.arm_vc_chosen_wrapper .chosen-container,
.arm_vc_chosen_wrapper .arm_chosen_selectbox,
.arm_shortcode_options_popup_wrapper .arm_popup_textarea{    
    min-width: 300px;
    width: 300px;
}
.colpick{
    z-index: 100000 !important;
}

.arm_social_network_icons{
    display:none;
}

.arm_social_network_icons.selected{
    display:block;
}

.hide_plans_checkbox{
    margin-top: 10px !important;
}

.arm_shortcode_options_popup_wrapper .arm_account_detail_options input.arm_account_detail_fields{
    width: 222px !important;
    display: inline-block;
}