/*
	Administration stylesheet for MainWP Favorites Extensioin plugin
*/
#mainwp_availablethemes .available-theme .favorites-add-link img {
	width: 16px;
}

.favorites-container {
	width: 32%;
	float: left;
	margin-right: 21px;
}

.favorites-container.last {
	margin-right: 0;
	text-align: center;
}

.favorites-container.last  .mainwp_managegroups-insidebox {
	padding: 0 10px !important;
}

.mainwp_managegroups-insidebox h3 {
	border-bottom: 1px solid #e5e5e5;
	padding: 1em 5px;
	margin: 0;
}

.favorites-container .mainwp_managegroups-outsidebox {
	float: left;
	margin-right: 20px;
	width: 100%;
}

.favorites-container .mainwp_managegroups-insidebox {
	height: 250px;
	padding: 0;
}

#mainwp_managefavgroups-addnew-container {
	float: right;
	padding-top: 12px;
}

.mainwp-favorites-list {
	margin: 0;
}
#managefavgroups-list .managefavgroups-listitem {
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 5px 8px 5px;
}

.managefavgroups-listitem {
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 5px 10px 5px;
}

#managefavgroups-saved {
	color: #21759B;
	display: none;
	font-style: italic;
	font-weight: normal;
	padding-left: 3px;
}

.fav-upload-title {
	font-weight: bold;
	margin: 20px 0 10px;
}

.favorites-container .qq-upload-button {
	width: auto;
}

.favorites_list_box {
	position: absolute;
	width: 70%;
	margin-top: 12px;
}

#favorite_notes, #group_notes {
	margin-left: -300px;
	top: 100px;
}

#mainwp-favs-tips {
	display: none;
}

.mainwp-favs-tut, #mainwp-favs-tips {
	display: none;
}

.mainwp_ext_info_box {
	background-color: #fff;
	border: 1px Solid #e5e5e5;
	padding: 1em;
	margin-bottom: 1em;
	text-decoration: none !important;
}

.mainwp_ext_info_box a {
	text-decoration: none !important;
}
