/*
Smush button transformation
*/

.button.wp-smush-finished.disabled, .button.wp-smush-finished:disabled, .button.wp-smush-finished[disabled] {
    color: #fff !important;
    background: #00cf21 !important;
    border-color: #619f6b !important;
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 207, 33, .5), 0 1px 0 rgba(0, 0, 0, .15) !important;
    box-shadow: inset 0 1px 0 rgba(0, 207, 33, .5), 0 1px 0 rgba(0, 0, 0, .15) !important;
}

.media-lib-wp-smush-el {
    position: absolute;
    display: block;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background: transparent;
}

.media-lib-wp-smush-el.is_smushed {
    background: rgba(255, 255, 255, 0.5);
}

.media-lib-wp-smush-el .spinner {
    display: block;
}

.media-lib-wp-smush-button {
    margin-bottom: 5% !important;
}

.has-smush-button:hover .media-lib-wp-smush-el {
    display: block;
}

.column-smushit .wp-smush-action {
    font-size: 11px;
}

.column-smushit .wp-smush-loader {
    margin: 10px;
    float: left;
}

/** Installation/Upgrade message **/
.wpmud.wp-smush-updated {
    margin: 50px 20px 0 2px;
}

.wp-smush-install-image > img, .wp-smush-image-wrap > img {
    float: left;
}

.wpmud .wp-smush-install-welcome {
    display: inline-block;
    margin: 10px 0 30px 250px;
    max-width: 68%;
}

.wpmud .wp-smush-install-content {
    margin-top: 24px;
}

.wpmud .wp-smush-install-welcome .button {
    margin-top: 18px;
}

/** Settings Page **/

.wpmud hr {
    background-color: #EEEEEE;
    border: 0 none;
    height: 1px;
}

.wpmud .wp-smush-setting-row {
    margin: 32px 0 0 0;
    border-bottom: 1px solid #E6E6E6;
    overflow: hidden;
    padding-bottom: 32px;
    padding-top: 0;
}

.wpmud .toggle, .wpmud .toggle .toggle-label {
    width: 40px;
    height: 18px;
}

.smush-settings-wrapper span.toggle.float-l,
.wp-smush-premium span.toggle.float-l {
    margin-right: 10px;
}

.wpmud .toggle .toggle-label:after {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    margin-top: -8px;
}

.wpmud .toggle .toggle-checkbox {
    display: inline-block;
    height: 1px;
    margin-left: -20px;
    margin-right: 0;
    opacity: 0;
    width: 1px;
}

.wpmud .toggle .toggle-checkbox:focus {
    border: none;

}

.wpmud .toggle .toggle-checkbox:checked + .toggle-label:after {
    margin-left: 23px;
}

.wpmud .toggle .toggle-checkbox:checked + .toggle-label:before {
    left: 23px;
}

.wpmud .toggle .toggle-checkbox:checked + .toggle-label {
    background: #17A8E3;
}

.wpmud .toggle .toggle-label:before {
    background: #AAAAAA;
}

.wpmud .wp-smushit-container-wrap {
    display: inline-block;
    margin-top: 10px;
}

.wpmud .row .col-half.wp-smushit-container-right {
    padding-right: 0;
}

.wpmud .bulk-smush-wrapper.wp-smush-container:not(.wp-smush-pro-install) {
    padding-bottom: 0;
}

.wpmud .wp-smush-pro.smush-settings-wrapper {
    padding-bottom: 24px;
    width: 100%;
}

.smush-settings-wrapper .column-right-content,
.wp-smush-premium .column-right-content {
    display: inline-block;
    min-width: 30%;
    max-width: 94%;
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
}

.wp-smush-setting-row .dashicons-info.smush-original {
    top: 2px;
    position: relative;
    color: gray;
}

.wpmud .wp-smush-submit-wrap {
    display: block;
    margin-top: 30px;
    overflow: hidden;
    padding-top: 0;
}

.wp-smush-submit-wrap .spinner {
    float: right;
    margin: 10px 1em 0;
}

.smush-submit-note {
    color: #9B9B9B;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 22px;
    margin-top: 10px;
}

input#wp-smush-save-settings {
    background: #17A8E3;
    float: right;
    margin: 0;
}

input#wp-smush-save-settings:hover,
input#wp-smush-save-settings:focus {
    background: #0A9BD6;
}

.wp-smush-welcome #wp-smush-save-settings {
    float: right;
}

.media-lib-wp-smush-icon {
    position: absolute;
    left: -10%;
    bottom: -3%;
    display: none;
}

.is_smushed .media-lib-wp-smush-icon {
    display: block;
    cursor: auto;
}

.active:hover .media-lib-wp-smush-icon {
    display: block;
}

.active:hover .media-lib-wp-smush-icon:hover:before {
    color: #0074a2;
}

.active .media-lib-wp-smush-icon {
    cursor: pointer;
}

.media-lib-wp-smush-icon.active {
    display: block;
    color: #0074a2;
}

.media-lib-wp-smush-icon:before {
    font-size: 30px;
}

.media-lib-wp-smush-icon.spinner {
    left: -7%;
    bottom: -7%;
}

.media-lib-wp-smush-icon.spinner:before {
    content: "";
}

.wp-smush-setting-row.disabled label, .wp-smush-setting-row.disabled input {
    color: gray;
    cursor: default;
}

/** Grid view button **/
/*.smush-wrap {*/
/*margin-left: 14%;*/
/*max-width: 60%;*/
/*}*/

.currently-smushing .smush-status {
    color: #0074a2;
}

.smush-wrap #wp-smush-send {
    display: none;
}

.smush-wrap.unsmushed #wp-smush-send {
    display: block;
    margin-top: 15px;
}

.smush-status.fail {
    color: #dd3d36;
}

.smush-status.success {
    color: #0074a2;
}

.smush-status.error {
    color: red;
}

.smush_attachment_detail_loader {
    float: left;
}

.compat-field-wp_smush {
    margin-top: 10px;
}

.attachment-info .smush-status {
    margin: 1px 0 0;
    padding: 0;
    line-height: 29px;
}

#post-body-content .smush-status {
    margin: 4px 0;
}

.compat-field-wp_smush button.wp-smush-send {
    float: left;
    margin-bottom: 5px;
}

/** If we have button-primary class, this style will be loaded already **/
.compat-field-wp_smush button:not(.button-primary) {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    margin-bottom: 10px;
}

.compat-field-wp_smush button:not( .button-primary ):hover {
    background: #008ec2;
    border-color: #006799;
    color: #fff;
}

.compat-field-wp_smush button:disabled:not( .button-primary ) {
    color: #66c6e4 !important;
    background: #008ec2 !important;
    border-color: #007cb2 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) !important;
    cursor: default;
}

label.setting.smush-stats .smush-wrap,
.compat-field-wp_smush .smush-wrap {
    margin: 0 0 5px 0;
    max-width: 100%;
}

.inactive {
    position: relative;
}

.inactive .wp-smush-setting-row {
    opacity: .75;
}

.inactive-anim {
    transition: opacity .3s;
}

.smush-stats-wrapper .row {
    padding: 8px 0;
}

.smush-stats-wrapper .row:first-child {
    padding-top: 0;
}

div#smush-avg-pro-savings {
    background: rgba(242, 242, 242, 0.5);;
    border-top: 1px solid #ddd;
    margin-top: 12px;
    padding: 14px 28px 12px 30px;
}

div#smush-avg-pro-savings:before, div#smush-avg-pro-savings:after {
    margin: 0 -10px;
}

div.row.smush-avg-pro-savings {
    padding-bottom: 8px;
    padding-top: 19px;
}

div.row.smush-avg-pro-savings span.wp-smush-stats-label strong, div.row.smush-avg-pro-savings span.wp-smush-stats {
    opacity: 0.5;
}

.wpmud .wp-smushit-container-right .smush-stats-wrapper .wp-smush-container-header {
    padding: 0 30px;
}

.smush-stats-wrapper td, .smush-stats-wrapper th {
    font-size: 11px;
}

.smush-stats-wrapper .smush-container-subheading .spinner {
    float: left;
    margin: 7px 8px 0;
}

.wpmud .smush-page-wrap .dev-box.smush-stats-wrapper .box-content {
    padding: 0 30px 15px;
}

.wp-smush-count-total {
    display: inline-block;
    float: left;
    line-height: 1;
    margin-top: 20px;
    overflow: hidden;
    text-align: left;
    width: 48%;
}

.wp-smush-stats-other {
    display: inline-block;
    text-align: left;
    width: 48%;
}

.wp-smush-stats-other .total-stats-label {
    font-size: 13px;
}

.wp-smush-stats-other .wp-smush-total-optimised {
    font-size: 15px;
}

.wp-smush-smush-stats-wrapper {
    color: #333;
    font-size: 40px;
    font-weight: normal;
}

.total-stats-label {
    color: #888;
    font-size: 15px;
    font-weight: normal;
    line-height: 22px;
}

.wpmud .smush-total-savings.smush-total-reduction-percent {
    margin-bottom: 18px;
    text-align: center;
}

table.wp-smush-stats-holder {
    border: 1px solid lightgray;
    border-collapse: collapse;
    width: 100%;
}

table.wp-smush-stats-holder th {
    background-color: #E4E4E4;
}

table.wp-smush-stats-holder td, table.wp-smush-stats-holder th,
#ngg-listimages table.wp-smush-stats-holder td, #ngg-listimages table.wp-smush-stats-holder th {
    border: 1px solid #CECECE;
}

.attachment-details table.wp-smush-stats-holder td span {
    float: none;
    padding-top: 0;
}

#ngg-listimages .column-7 {
    width: 300px;
}

table.wp-smush-stats-holder tr:first-child th {
    border-top: 0;
}

table.wp-smush-stats-holder tr:last-child td {
    border-bottom: 0;
}

table.wp-smush-stats-holder tr td:first-child,
table.wp-smush-stats-holder tr th:first-child {
    border-left: 0;
}

table.wp-smush-stats-holder tr td:last-child,
table.wp-smush-stats-holder tr th:last-child {
    border-right: 0;
}

table.wp-smush-stats-holder tr td:first-child {
    text-align: right;
}

.smush-skipped.error {
    color: #C41921;
}

.smush-skipped .dashicons-editor-help {
    cursor: pointer;
    margin-top: -2px;
}

/*NextGen Gallery stats*/
#ngg-listimages table.wp-smush-stats-holder {
    table-layout: fixed;
}

/** NextGen Gallery tr height, to show the progress bar properly for alternate rows **/
.alternate.iedit {
    height: 120px;
}

/** Allows to click on button, otherwise row-actions from NextGen interferes **/
.wp-smush-nextgen-send {
    position: relative;
    z-index: 2;
}

.iedit .wp-smush-action, .iedit .smush-stats-details {
    font-size: 11px;
}

/*Media Modal Styling*/
label.setting.smush-stats .wp-smush-stats-holder tr,
.compat-field-wp_smush .wp-smush-stats-holder tr {
    display: table-row;
}

label.setting.smush-stats .wp-smush-stats-holder td,
.compat-field-wp_smush .wp-smush-stats-holder td {
    padding: 8px 10px;
    word-wrap: break-word;
}

label.setting.smush-stats a.wp-smush-action.wp-smush-title,
div.smush-status-links a.wp-smush-action.wp-smush-title {
    display: inline-block;
}

label.setting.smush-stats a.wp-smush-action.wp-smush-title span.stats-toggle {
    float: none;
    margin-right: 0;
}

label.setting.smush-stats .wp-smush-stats-holder {
    padding: 2px 0;
}

label.setting.smush-stats .wp-smush-stats-holder th {
    padding-top: 5px;
    padding-right: 10px;
    text-align: center;
}

label.setting.smush-stats span.value,
.media-sidebar td.smush-skipped span {
    padding-top: 0;
}

label.setting.smush-stats button {
    box-shadow: none;
    padding: 0 10px 1px;
    line-height: 26px;
    text-transform: none;
}

label.setting.smush-stats button.wp-smush-send span {
    color: #fff;
    padding-top: 6px;
    text-shadow: none;
}

.media-modal .media-sidebar label.setting.smush-stats button.wp-smush-send span {
    padding-top: 0;
}

label.setting.smush-stats button.wp-smush-send[disabled] span {
    color: #66c6e4;
}

label.setting.smush-stats div.wp-smush-progress span {
    color: #14485F;
    float: none;
    font-size: 12px;
    font-weight: bolder;
    line-height: 15px;
    min-height: 0;
    padding-top: 0;
    text-align: right;
}

.media-modal .media-sidebar label.setting.smush-stats div.wp-smush-progress span {
    margin-top: 0;
    padding-right: 0;
    text-align: center;
}

/** Help Tip **/
.ui-tooltip-content {
    font-size: 12px;
}

/** Progress Bar **/
.wp-smush-progress {
    width: 150px;
    height: 20px;
    background-color: #14485F;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 2px;
    box-sizing: border-box;
    text-align: left;
    clear: left;
    margin-top: 10px;
}

.wp-smush-progress span {
    color: #14485F;
    text-align: right;
    font-size: 12px;
    font-weight: bolder;
    line-height: 15px;
    box-sizing: border-box;
    padding-right: 22px;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 1px;
    transition: width .4s ease-in-out;
    background-color: #FECF2F;
    background-size: 12px 10px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
    vertical-align: top;

}

.wp-smush-progress.animate span {
    animation: animate-stripes 3s linear infinite;
}

@keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 60px 0;
    }
}

/** Disabled Hyperlinks **/
.smush-stats a[disabled] {
    cursor: default;
    color: grey;
}

.wp-smush-error {
    color: #ffb900;
}

.resmush-scan {
    vertical-align: middle;
    line-height: 28px;
}

/** Resmush Button **/

#wp-smush-resmush {
    margin: 20px 0;
}

.wp-resmush-wrapper.notice {
    padding: 5px;
    max-width: 400px;
}

/** Bulk Smush Page UI - New UI Changes **/
/** Font-Families **/
.wpmud .roboto-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.wpmud .roboto-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.wpmud .roboto-condensed-regular {
    font-family: 'Roboto Condensed', sans-serif;
}

.wpmud .roboto-condensed-bold {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

/** End of Font Family Variations **/

.wpmud #header .wp-smush-page-heading {
    color: #333;
    float: left;
    font-size: 30px;
}

.wp-smush-auto-message {
    color: #888888;
    float: right;
    font-size: 13px;
    letter-spacing: -0.015em;
    line-height: 1.7;
    margin: 1.2em auto;
}

.wp-smush-auto-disabled {
    color: #fd6265;
}

.wp-smush-auto-enabled {
    color: #2cb996;
}

.wp-smush-page-header {
    overflow: hidden;
    margin: 0 0 10px;
    width: 100%;
}

#wp-smush-invalid-member {
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 15px 30px;
    position: relative;
}

#wp-smush-invalid-member.loading-notice:before {
    content: attr(data-message);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 5;
    text-align: center;
    line-height: 80px;
    font-size: 18px;
}

#wp-smush-invalid-member.loaded-notice:before {
    content: attr(data-message);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 5;
    text-align: center;
    line-height: 80px;
    font-size: 18px;
}

#wp-smush-invalid-member.loading-notice > div, #wp-smush-invalid-member.loaded-notice > div {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

#wp-smush-invalid-member a {
    color: #514a30;
    text-decoration: underline;
}

.wpmud .box-container {
    letter-spacing: -0.015em;
}

.wpmud .smush-page-wrap .dev-box {
    padding: 0;
}

.wpmud .smush-page-wrap .dev-box.bulk-smush-wrapper.wp-smush-pro-install {
    padding: 0 0 30px;
}

.wpmud .smush-page-wrap .dev-box .box-container,
.wpmud .smush-page-wrap .dev-box .box-content {
    padding: 0 30px 30px;
}

.wpmud .smush-page-wrap .dev-box.bulk-smush-wrapper .box-container {
    padding: 0 30px;
}

.wpmud .smush-page-wrap .dev-box .box-title {
    height: 60px;
    margin: 0 0px 30px;
}

.wpmud .dev-box .wp-smush-container-header.box-title h3 {
    color: #333333;
    display: inline-block;
    font-size: 15px;
    line-height: 30px;
    margin-top: 18px;
}

.wpmud .smush-container-subheading {
    color: #888;
    display: inline-block;
    float: right;
    font-weight: normal;
    margin: 1.6em auto;
    max-width: 64%;
}

.smush-page-wrap .wp-smush-premium.dev-box .wp-smush-container-header {
    margin-bottom: 0;
}

.wp-smush-premium .smush-container-subheading {
    font-size: 12px;
    line-height: 1.4;
    margin: 1.9em 10px;
    vertical-align: top;
}

.wpmud .wp-smush-premium .smush-container-subheading:hover > a {
    background-color: #1ABC9C;
    color: #fff;
}

.wpmud .smush-page-wrap .wp-smush-premium .box-content {
    background: #f2f2f2;
    padding-top: 20px;
}

.wpmud .wp-smush-premium .smush-container-subheading a {
    border: solid 2px #1ABC9C;
    border-radius: 13px;
    color: #1ABC9C;
    padding: 4px 10px;
}

.wpmud .wp-smush-premium .smush-container-subheading a:hover {
    color: #fff;
}

.attachment-details .setting div.smush-status-links {
    float: none;
    text-align: left;
    margin-bottom: 15px;
}

div.attachment-details .setting div.smush-status-links.smush-status-links div.smush-stats-wrapper {
    margin-top: 15px;
}

.smush-stats-wrapper .smush-container-subheading {
    margin: 1.2em 0 0.9em;
    max-width: 90%;
}

.wpmud .smush-stats-wrapper .smush-container-subheading button.wp-smush-scan:not(.wph-button):not(#collapse-button) {
    background: transparent;
    border: 2px solid #888;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #666;
    font-size: 12px;
    line-height: 16px;
    padding: 5px 16px 5px;
}

.wpmud .row .col-half.wp-smushit-container-left {
    padding-left: 0;
}

.wp-smush-premium .box-content {
    opacity: 0.5;
    pointer-events: none;
}

.wpmud .wp-smush-welcome-content .wp-smush-premium {
    box-shadow: none;
    margin-top: 30px;
    padding: 0
}

/**
Quick Setup Dialog
 */

.wp-smush-overlay.no-close {
    left: 0;
    max-width: none;
    margin: 0;
    top: 0;
    z-index: 9999;
}

.wp-smush-overlay {
    letter-spacing: -0.015em;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 10px 0 8px;
    -webkit-font-smoothing: antialiased !important;
}

.wpmud .dev-overlay.wp-smush-overlay .box .title {
    margin-top: -30px;
}

.wpmud .dev-overlay .back {
    background: rgba(51, 51, 51, 0.95);
}

.wpmud .dev-overlay .box-scroll {
    padding: 30px;
}

.wpmud .dev-overlay.small .box {
    display: block;
    position: relative;
    margin: 30px auto;
    width: 100%;
    left: 0;
    max-width: 600px;
    padding: 30px;
}

.wpmud .dev-overlay.wp-smush-get-pro .box {
    padding-bottom: 0;
}

.wpmud div.wp-smush-get-pro .title .button.smush-pro-link {
    padding: 7px 16px;
    font-size: 12px;
    line-height: 16px;
    font-family: "Roboto", sans-serif;
    letter-spacing: -0.1px;
    float: right;
    margin-right: 26px;
}

.wpmud div.wp-smush-get-pro.dev-overlay .title div.close {
    top: -2px;
}

.wpmud .dev-overlay.small.wp-smush-overlay .box:after {
    background: url(../images/smush-quicksetup.png) no-repeat 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 180px;
    margin: 0 auto;
    left: 0;
    position: absolute;
    right: 0;
    width: 248px;
}

.wpmud .dev-overlay.small.wp-smush-get-pro .box:after {
    background: url(../images/dev-team.png) no-repeat 0 0;
    background-position: center bottom;
    background-size: 90%;
    overflow: hidden;
    bottom: 0;
    content: '';
    display: block;
    height: 176px;
    margin-top: 30px;
}

.wpmud .dev-overlay .box .title {
    margin: -35px -30px 30px -30px;
    padding: 0 30px;
}

.wpmud .dev-overlay .box .title h3 {
    color: #333;
    font-size: 15px;
}

.wpmud .dev-overlay .box .content {
    padding-bottom: 180px;
}

.wpmud .wp-smush-get-pro.dev-overlay .box .content {
    padding-bottom: 0;
}

.wpmud .wp-smush-welcome-message {
    color: #444;
    padding-bottom: 30px;
}

.wp-smush-overlay .end {
    border-bottom: 1px solid #E6E6E6;
}

div.smush-quick-setup-settings div.columns.last {
    margin-top: 25px;
}

div.smush-quick-setup-settings div.submit-button-wrap {
    background: none;
    overflow: hidden;
}

.wpmud div.smush-quick-setup-settings div.submit-button-wrap button {
    background-color: #00AEEF !important;
    float: right;
}

.wpmud div.smush-quick-setup-settings div.submit-button-wrap button:hover,
.wpmud div.smush-quick-setup-settings div.submit-button-wrap button:focus {
    background-color: #0A9BD6 !important;
}

div.smush-quick-setup-settings div.submit-button-wrap span.spinner {
    margin-top: 11px;
}

/**
 Skip Button
 */
.wpmud .box button.skip-button.button-small:not(.wph-button):not(#collapse-button) {
    background: transparent;
    border: 0;
    box-shadow: 0 0 0 2px #666666 inset;
    color: #666666;
    display: inline-block;
    font: 500 12px/20px Roboto, sans-serif;
    margin: 0;
    padding: 5px 27px;
}

.wpmud .box button.skip-button.button-small:hover,
.wpmud .box button.skip-button.button-small:focus {
    background: #666666 !important;
}

.wp-smush-welcome-image {
    display: inline-block;
    float: left;
    overflow: hidden;
}

/** Bulk Smush **/
/** No Images **/
.wp-smush-no-image {
    display: block;
    overflow: hidden;
}

.wpmud .wp-smush-no-images-content {
    color: #514a30;
    margin-top: 20px;
    padding: 20px 10px;
}

.wp-smush-upload-images {
    display: block;
    overflow: hidden;
    padding: 10px 0 40px;
}

/** Ongoing Bulk Smush **/
.wpmud .wp-smush-bulk-active {
    margin-bottom: 24px;
}

.wp-smush-bulk-active .spinner {
    float: left;
    margin-top: 5px;
}

/** All Smushed **/
.wp-smush-notice {
    background-color: #D1F1EA;
    border-radius: 5px;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 30px;
    padding: 15px 30px;
    letter-spacing: -0.015em;
}

div.smush-notice-cta a.smush-notice-act.button-primary {
    background-color: #00B0DB;
    box-shadow: none;
    border: 1px solid #0087B9;
    border-radius: 2px;
    text-shadow: none;
    font-weight: normal;
    box-shadow: inset 0 1px 0 0 #4BC4E4, 0 1px 0 0 #DBDBDB;
    -webkit-font-smoothing: antialiased;
}

.wp-smush-resmush-message,
.wp-smush-settings-updated,
.wp-smush-re-check-message,
.wp-smush-api-message {
    border: none;
    margin-bottom: 25px;
    padding: 18px 50px;
    text-align: center;
}

.wpmud a.wp-smush-trigger-bulk, .wpmud a.wp-smush-trigger-bulk:hover,
.wpmud a.wp-smush-trigger-bulk:focus, .wpmud a.wp-smush-trigger-bulk:active {
    color: #333333;
    text-decoration: underline;
}

.wp-smush-resmush-message .icon-fi-check-tick,
.wp-smush-settings-updated .icon-fi-check-tick,
.wp-smush-re-check-message .icon-fi-check-tick {
    font-size: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.wp-smush-resmush-message .icon-fi-close,
.wp-smush-settings-updated .icon-fi-close,
.wp-smush-re-check-message .icon-fi-close,
.wp-smush-api-message .icon-fi-close {
    cursor: pointer;
    color: #888888;
    float: right;
    font-size: 16px;
    margin-top: 4px;
}

.wp-smush-resmush-message .icon-fi-close:before,
.wp-smush-settings-updated .icon-fi-close:before,
.wp-smush-re-check-message .icon-fi-close:before,
.wp-smush-api-message .icon-fi-close:before {
    color: #666;
}

.wp-smush-all-done .icon-fi-check-tick {
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
    margin-top: -3px;
    vertical-align: middle;
}

div.wp-smush-pagespeed-recommendation {
    background-color: #F8F8F8;
    margin: 0 -30px 20px;
    padding: 20px 30px;
}

.wpmud span.smush-recommendation-title {
    color: #666666;
    font-size: 13px;
    line-height: 22px;
}

ol.smush-recommendation-list {
    color: #888;
    font-size: 13px;
    margin-left: 13px;
    line-height: 16px;
}

.wpmud ol.smush-recommendation-list a,
section.bulk-smush-wrapper div.smush-container-subheading a,
.wpmud .wp-smush-stats-human a,
a.wp-smush-resize-enable,
a.wp-smush-lossy-enable {
    color: #17A8E3;
    font-weight: 500;
}

.wpmud ol.smush-recommendation-list a:hover,
section.bulk-smush-wrapper div.smush-container-subheading a:hover,
.wpmud .wp-smush-stats-human a:hover,
a.wp-smush-resize-enable:hover,
a.wp-smush-lossy-enable:hover {
    color: #0A9BD6;
}

ol.smush-recommendation-list li {
    line-height: 1.5;
}

.wpmud .dismiss-recommendation {
    color: #333;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    margin-left: -2px;
    opacity: 0.5;
}

.wpmud [class^="icon-"], [class*=" icon-"] {
    line-height: 1.5;
    margin-right: 8px;
    vertical-align: middle;
}

.wpmud .dismiss-recommendation i.icon-fi-cross-close {
    display: inline-block;
    margin-top: 1px;
    vertical-align: top;
}

.wp-smush-bulk-wrapper {
    overflow: hidden;
}

/** Image Remaining **/
div.wp-smush-remaining,
#wp-smush-invalid-member,
div.wp-smush-dir-remaining,
div.wp-smush-dir-limit,
div.smush-s3-setup-error,
div.smush-s3-setup-message,
div.wp-smush-s3support-alert,
div.wp-smush-notice.wp-smush-api-message.warning,
div.wp-smush-notice.missing_table {
    background-color: #FFF5D5;
    border: none;
    color: #333333;
    line-height: 30px;
    font-size: 15px;
    letter-spacing: -0.015em;
}

div.wp-smush-notice.wp-smush-dir-limit i.icon-fi-info {
    display: inline-block;
    font-size: 16px;
    margin-top: 3px;
    vertical-align: top;
}

div.smush-s3-setup-message,
div.wp-smush-notice.wp-smush-api-message.info {
    background-color: #DFF6FA;
}

div.wp-smush-api-message.info i.icon-fi-info {
    font-size: 20px;
}

div.wp-smush-api-message.info i.icon-fi-info:before {
    color: #17A8E3;
}

div.wp-smush-s3support-alert {
    margin-left: 0;
    margin-right: 0;
}

div.wp-smush-s3support-alert span.notice-message {
    display: inline-block;
    margin-right: 10px;
    max-width: 96%;
}

div.wp-smush-s3support-alert .icon-fi-close {
    cursor: pointer;
    float: right;
    line-height: 2;
    margin-right: 0;
}

div.smush-s3-setup-error a {
    color: #333;
    cursor: pointer;
    font-weight: 500;
    text-decoration: underline;
}

div.wp-smush-dir-limit {
    background-color: #dff6fa;
}

div.wp-smush-notice .icon-fi-check-tick:before,
div.wp-smush-all-done .icon-fi-check-tick:before,
div.wp-smush-dir-all-done .icon-fi-check-tick:before {
    color: #1ABC9C;
}

.wpmud div.wp-smush-notice.wp-smush-dir-limit a,
.wpmud div.wp-smush-notice.wp-smush-remaining a {
    color: #333;
    text-decoration: underline;
}

div.wp-smush-dir-remaining .icon-fi-warning-alert:before,
div.smush-s3-setup-error .icon-fi-warning-alert:before {
    color: #FECF2F;
}

div.wp-smush-dir-limit .icon-fi-info:before {
    color: #333;
}

.wp-smush-resmush-wrap .wp-smush-remaining {
    padding: 10px 50px;
}

.wpmud .bulk-smush-wrapper .wp-smush-remaining .icon-fi-warning-alert,
.wp-smush-api-message .icon-fi-warning-alert {
    display: inline-block;
    font-size: 20px;
    margin-right: 8px;
    line-height: 30px;
    vertical-align: top;
}

.wpmud .bulk-smush-wrapper .wp-smush-remaining .icon-fi-warning-alert:before,
.wp-smush-api-message .icon-fi-warning-alert:before {
    color: #fecf2f;
}

.wpmud .bulk-smush-wrapper .dev-icon img {
    vertical-align: top;
}

.bulk-smush-wrapper .wp-smush-notice-text {
    display: inline-block;
    max-width: 88%;
}

.wpmud .bulk-smush-wrapper .wp-smush-remaining button.wp-smush-skip-resmush:not(.wph-button):not(#collapse-button) {
    background-color: transparent;
    border: solid 2px #888888;
    color: #888888;
    display: block !important;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    margin-left: 37px !important;
    margin-top: 10px !important;
    padding: 5px 16px;
}

.wpmud .bulk-smush-wrapper .wp-smush-remaining button.wp-smush-skip-resmush:not(.wph-button):not(#collapse-button):not([tooltip]):hover {
    background-color: transparent !important;
    border: solid 2px #7d7d7d;
    color: #7d7d7d;
}

.wp-smush-pro-trial {
    color: #9b9b9b;
}

/** Bulk Smush - Progress Bar **/
.wp-smush-progress-wrap {
    border-radius: 5px;
    background-color: #f8f8f8;
    line-height: 2;
    padding: 20px 15px 20px 30px;
}

.wp-smush-progress-wrap i.icon-fi-loader {
    font-size: 20px;
}

.wp-smush-progress-wrap i.icon-fi-loader:before {
    animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    display: inline-block;
}

.wp-smush-progress-wrap img {
    vertical-align: middle;
}

.wp-smush-progress-bar-wrap {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #E6E6E6;
    display: inline-block;
    height: 10px;
    margin-left: 15px;
    overflow: hidden;
    vertical-align: middle;
    width: 88%;
}

.wp-smush-progress-bar {
    overflow: hidden;
    animation: progress 10s;
    -ms-animation: progress 10s;
    -moz-animation: progress 10s;
    -webkit-animation: progress 10s;
}

.wp-smush-progress-inner {
    width: 100%;
    height: 10px;
    background-color: #17A8E3;
    animation: movement 1s infinite linear;
    -ms-animation: movement 1s infinite linear;
    -moz-animation: movement 1s infinite linear;
    -webkit-animation: movement 1s infinite linear;
    transition: width 1s;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    overflow: hidden;
}

@keyframes movement {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 24px 40px;
    }
}

.wp-smush-count {
    color: #888888;
    font-size: 13px;
    line-height: 1.5;
    margin-top: 15px;
}

.wp-smush-sep {
    margin: 20px 0;
}

.wp-smush-progress-count {
    color: #14485F;
    font-weight: bold;
    font-size: 14px;
    margin: 11px auto;
    text-align: center;
}

.smush-final-log {
    margin-left: 0;
    padding: 10px;
}

.wpmud .smush-final-log .smush-error-message {
    color: #888888;
    font-size: 13px;
    line-height: 20px;
}

div.smush-cancel-button-wrapper {
    text-align: center;
}

.wpmud div.smush-page-wrap button.wp-smush-cancel-bulk:not(.wph-button):not(#collapse-button) {
    border: 2px solid #888888;
    border-radius: 4px;
    background: transparent;
    color: #666;
    font-size: 12px;
    font-weight: 500;
    margin-top: 25px;
    padding: 3px 13px;
}

.wpmud div.smush-page-wrap button.wp-smush-cancel-bulk:not(.wph-button):not(#collapse-button):hover:not(:focus):not(:active):not(.wph-button):not(#collapse-button):not([tooltip]) {
    background-color: transparent;
    color: #666;
}

.wp-smush-ajax-error {
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.wpmud .wp-smush-enable-lossy {
    color: #888888;
    font-size: 13px;
    line-height: 22px;
    margin-top: 20px;
}

/** Settings Styling **/

.wpmud .wp-smush-setting-row .column {
    float: left;
}

.wpmud .wp-smush-setting-row .column-left {
    width: 25%;
}

.wpmud .wp-smush-setting-row .column-right {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

div.smush-sub-setting-wrapper {
    display: flex;
}

.wpmud .column-right-content-description {
    color: #888;
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
}

.wpmud .wp-smush-setting-row label.inline-label {
    color: #666666;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    width: 85%;
}

small.smush-setting-description {
    color: #888888;
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    margin-top: 10px;
}

small.smush-setting-description strong {
    color: #5f5d5d
}

div.smush-sub-setting-wrapper {
    margin-bottom: 30px;
}

div.smush-sub-setting-wrapper:last-child {
    margin-bottom: 0;
}

div.smush-sub-setting-wrapper span.wp-smush-setting-desc,
div.smush-quick-setup-settings span.wp-smush-setting-desc {
    color: #888888;
    display: inline-block;
    font-family: "Roboto", "sans-serif";
    font-size: 13px;
    line-height: 22px;
    margin-top: 10px;
}

div.smush-sub-setting-wrapper span.wp-smush-setting-desc.desc-note {
    font-weight: 500;
}

/** Stats Container **/
.wpmud .dev-box.smush-stats-wrapper {
    color: #333333;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 0;
}

.wpmud .smush-stats-wrapper strong {
    font-weight: 700;
}

a.wp-smush-lossy-enable {
    cursor: pointer;
}

.wp-smush-lossy-disabled {
    color: #adadad;
    background: #fafafa;
    border-radius: 3px;
    font-size: 11px;
    padding: 10px;
}

.wpmud .wp-smush-stats {
    color: #666;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    padding: 5px 0;
}

.wpmud .wp-smush-stats.float-l {
    clear: left;
}

.wpmud .wp-smush-lossy-disabled-wrap,
.wp-smush-stats.settings-desc,
.wp-smush-stats-human.settings-desc {
    color: #888888;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 22px;
    padding: 0;
}

.wp-smush-stats-human.settings-desc {
    font-size: 13px;
}

.wpmud .row .col-third.wp-smushit-container-right {
    padding-right: 0;
    width: 38%;
}

.wpmud .wp-smush-stats-label {
    color: #333333;
    font-weight: bold;
    line-height: 30px;
}

.wpmud .wp-smush-stats-try-pro {
    font-size: 12px;
    font-weight: 500;
    margin-left: 15px;
    vertical-align: top;
}

.wpmud .wp-smush-stats-try-pro a, .wpmud .wp-smush-stats-try-pro a:focus {
    border: solid 2px #1ABC9C;
    border-radius: 13px;
    color: #1ABC9C;
    padding: 4px 10px;
    white-space: nowrap;
}

.wpmud .wp-smush-stats-try-pro:hover > a, .wpmud .wp-smush-stats-try-pro a:hover {
    background-color: #1ABC9C;
    color: #fff !important;
    cursor: pointer;
}

.wp-smush-total-thumbnails .dashicons-editor-help {
    cursor: pointer;
    margin-top: -2px;
}

.wpmud .dev-overlay {
    -webkit-font-smoothing: antialiased;
}

.wpmud div.dev-overlay.wp-smush-get-pro .box div.title {
    margin-top: -30px;
}

ul.smush-pro-features {
    margin-bottom: 30px;
}

li.smush-pro-feature-row {
    margin-bottom: 20px;
}

div.smush-pro-feature-title,
div.smush-pro-feature-desc {
    padding-left: 30px;
    position: relative;
}

div.smush-pro-feature-title {
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
}

div.smush-pro-feature-desc {
    color: #888888;
    font-size: 13px;
    line-height: 22px;
}

.wpmud .smush-pro-feature-title:before {
    content: '\5f';
    color: #17A8E3;
    left: 0;
    top: 55%;
}

p.smush-pro-upsell-text {
    color: #666666;
    font-size: 15px;
    margin-bottom: 30px;
    text-align: center;
}

div.smush-pro-link-wrap {
    text-align: center;
}

.wpmud a.button.button-green.smush-pro-link {
    background-color: #1ABC9C;
    border-radius: 4px;
    box-shadow: none;
    color: #fff;
}

.wpmud a.button.button-green.smush-pro-link:hover,
.wpmud a.button.button-green.smush-pro-link:focus,
.wpmud a.button.button-green.smush-pro-link:active {
    background-color: #17b394 !important;
    background-image: none;
    box-shadow: none;
}

/** Re Smush **/
.wp-smush-settings-changed {
    background: #dff6fa;
    border-radius: 5px;
    font-size: 13px;
    line-height: 1.7;
    padding: 20px;
}

.wp-scan-progress-text {
    color: #14485F;
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

/** For Media Gallery and Other WordPress pages **/
/** No Caps for the tooltips **/
.wp-admin.wpmud [tooltip]:after {
    text-transform: none !important;
    text-shadow: none;
}

.media-sidebar label.smush-stats span.name {
    margin-top: 0.55em;
}

.media-sidebar label.setting.smush-stats .smush-wrap.unsmushed {
    margin-top: 0.6em;
}

.compat-item .compat-field-wp_smush {
    display: table-row;
}

.manage-column.column-smushit {
    width: 260px;
}

.smushit [tooltip],
label.setting.smush-stats [tooltip],
.compat-field-wp_smush [tooltip] {
    position: relative;
    overflow: visible;
}

.smushit [tooltip]:before,
label.setting.smush-stats [tooltip]:before,
.compat-field-wp_smush [tooltip]:before {
    content: '';
    position: absolute;
    border: 5px solid transparent;
    border-top-color: #0B2F3F;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    margin-bottom: -5px;
    opacity: 0;
    z-index: -1;
    transition: margin .2s, opacity .2s, z-index .2s linear .2s;
    pointer-events: none;
}

.smushit [tooltip]:after,
label.setting.smush-stats [tooltip]:after,
.compat-field-wp_smush [tooltip]:after {
    background: #0B2F3F;
    border-radius: 4px;
    bottom: 100%;
    color: #FFF;
    content: attr(tooltip);
    font-size: 13px;
    font-weight: 400;
    left: 50%;
    line-height: 20px;
    margin-left: -100px;
    margin-bottom: 5px;
    opacity: 0;
    padding: 5px;
    pointer-events: none;
    position: absolute;
    width: 180px;
    text-align: center;
    transition: margin .2s, opacity .2s, z-index .2s linear .2s;
    white-space: pre-wrap;
    z-index: -1;
}

.smushit .smush-skipped [tooltip]:before,
label.setting.smush-stats .smush-skipped [tooltip]:before,
.compat-field-wp_smush .smush-skipped [tooltip]:before {
    border-top-color: transparent;
    border-left-color: #0B2F3F;
    bottom: 0;
    left: 0;
}

.smushit .smush-skipped [tooltip]:after,
label.setting.smush-stats .smush-skipped [tooltip]:after,
.compat-field-wp_smush .smush-skipped [tooltip]:after {
    margin-left: 0;
    left: -195px;
    top: -35px;
    bottom: inherit;
    margin-bottom: 5px;
}

label.setting.smush-stats .smush-skipped [tooltip]:after {
    top: -98px;
}

div.media-sidebar label.setting.smush-stats .smush-skipped [tooltip]:after {
    left: -188px;
    padding-left: 10px;
    width: 170px;
}

div.media-sidebar label.setting.smush-stats .smush-skipped [tooltip]:before {
    margin-left: -3px;
}

.smushit [tooltip].tooltip-s:after,
label.setting.smush-stats [tooltip].tooltip-s:after,
.compat-field-wp_smush [tooltip].tooltip-s:after {
    width: 150px;
    margin-left: -75px;
}

.smushit [tooltip].tooltip-l:after,
label.setting.smush-stats [tooltip].tooltip-l:after,
.compat-field-wp_smush [tooltip].tooltip-l:after {
    width: 280px;
    margin-left: -140px;
}

.smushit [tooltip].tooltip-right:after, .compat-field-wp_smush [tooltip].tooltip-right:after {
    margin-left: -180px;
}

.smushit [tooltip].tooltip-s.tooltip-right:after, .compat-field-wp_smush [tooltip].tooltip-s.tooltip-right:after {
    margin-left: -130px;
}

.smushit [tooltip].tooltip-l.tooltip-right:after, .compat-field-wp_smush [tooltip].tooltip-l.tooltip-right:after {
    margin-left: -260px;
}

.smushit [tooltip].tooltip-bottom:before, .compat-field-wp_smush [tooltip].tooltip-bottom:before {
    border-color: transparent;
    border-bottom-color: #0B2F3F;
    top: 100%;
    bottom: auto;
    margin-top: -5px;
    margin-bottom: 0;
}

.smushit [tooltip].tooltip-bottom:after, .compat-field-wp_smush [tooltip].tooltip-bottom:after {
    bottom: auto;
    top: 100%;
    margin-top: 5px;
    margin-bottom: 0;
}

.smushit [tooltip]:hover:before,
label.setting.smush-stats [tooltip]:hover:before,
.compat-field-wp_smush [tooltip]:hover:before {
    z-index: 1;
    margin-bottom: 0;
    opacity: 1;
    transition: margin .2s, opacity .2s;
}

.smushit [tooltip]:hover:after,
label.setting.smush-stats [tooltip]:hover:after,
.compat-field-wp_smush [tooltip]:hover:after {
    opacity: 1;
    z-index: 1;
    margin-bottom: 10px;
    transition: margin .2s, opacity .2s;
}

.smushit .disabled[tooltip]:before,
.smushit .disabled[tooltip]:after,
label.setting.smush-stats .disabled[tooltip]:before,
label.setting.smush-stats .disabled[tooltip]:after,
.compat-field-wp_smush .disabled[tooltip]:before,
.compat-field-wp_smush .disabled[tooltip]:after {
    display: none;
}

/** Super Smush Content **/

.wp-smush-super-smush-promo {
    background-image: url(../images/smush-promo.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-top: 30px;
    overflow: hidden;
}

div.wp-smush-super-smush-content-wrapper {
    margin-bottom: 30px;
    overflow: hidden;
}

.wp-smush-super-smush-content {
    background: #dff6fa;
    border-radius: 5px;
    display: inline-block;
    float: right;
    margin-left: 146px;
    padding: 15px 20px;
    position: relative;
}

.dev-box.wp-smush-premium .wp-smush-super-smush-promo {
    background-image: url('../images/smush-promo.png');
    background-position: 30px 12px;
    background-repeat: no-repeat;
    margin-top: 0;
}

.dev-box.wp-smush-premium .wp-smush-super-smush-content {
    margin: 30px 30px 30px 176px;
    width: auto;
}

/** Arrow **/
.wp-smush-super-smush-content:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(223, 246, 250, 0);
    border-right-color: #dff6fa;
    border-width: 10px;
    margin-top: -10px;
}

.wpmud .wp-smush-super-smush-content a,
.wpmud .wp-smush-super-smush-content a:hover,
.wpmud .wp-smush-super-smush-content a:visited {
    color: black;
    text-decoration: underline;
}

.wp-smush-resize-settings-wrap, .wp-smush-png_to_jpg-wrap, .wp-smush-image-size-list {
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    color: #555;
    font-family: "Roboto", sans-serif;
    margin: 1.5em 0 0;
    overflow: auto;
    padding: 30px;
    vertical-align: middle;
}

.wpmud .wp-smush-image-size-list label {
    color: #888888;
    clear: left;
    float: left;
    font-size: 13px;
    line-height: 22px;
}

.wpmud .wp-smush-image-size-list span#wp-smush-auto-desc {
    color: #888888;
    font-family: Roboto;
    font-size: 13px;
    line-height: 22px;
}

.wpmud .wp-smush-resize-settings-wrap label {
    display: inline-block;
    margin-bottom: 0;
    overflow: hidden;
}

.wpmud .wp-smush-resize-settings-wrap label.resize-height-label {
    padding-left: 0;
}

span.label-text {
    display: inline-block;
    width: 75px;
}

.wpmud .wp-smush-png_to_jpg-wrap label {
    font-weight: 400;
}

.wpmud .wp-smush-resize-settings-wrap label:first-child {
    padding-left: 0;
}

.wpmud .wp-smush-resize-settings-wrap .wp-smush-resize-input, .wpmud .wp-smush-png_to_jpg-wrap .wp-smush-png_to_jpg_background {
    display: inline-block;
    margin-left: 10px;
    width: 120px;
}

.wpmud .wp-smush-png_to_jpg-wrap .wp-smush-png_to_jpg_background {
    margin-left: 0;
    width: 100px;
}

.wpmud .wp-smush-resize-input.error, .wpmud #png_to_jpg_background.error {
    border-color: #fd8b8b;
}

div.wp-smush-resize-note {
    color: #555;
    font-size: 13px;
    font-weight: 400;
}

.wpmud .smush-s3-setup-error, .wpmud .smush-s3-setup-message {
    margin-top: 15px;
    margin-left: 50px;
    width: 100%;
}

.wpmud .smush-s3-setup-error p, .wpmud .smush-s3-setup-message p {
    color: #333;
    display: inline-block;
    font-size: 15px;
    margin-top: 0;
    width: 90%;
}

.wp-smush-settings-info {
    background: #e0f6fa;
    border-radius: 5px;
    font-size: 13px;
    line-height: 1.5;
    margin-top: 20px;
    padding: 20px 30px;
}

.smush-final-log.notice.notice-warning {
    max-height: 200px;
    overflow: auto;
}

/** Hide W3TC notice on smush pages, it breaks them all **/
.wpmud #edge-mode {
    display: none;
}

.smush-page-wrap {
    margin: 10px 20px 0 2px;
}

.wpmud div.smush-page-wrap #header {
    margin-bottom: 0;
}

.wpmud .row div.share-widget-wrapper {
    padding-left: 0;
}

.wpmud #wp-smush-share-widget {
    background-image: url(../images/share-bg-small.png);
    background-repeat: no-repeat;
    background-position: 30px bottom;
    min-height: 130px;
    padding: 20px 30px 3px;
}

.wpmud .share-widget-wrapper #wp-smush-share-widget {
    background-image: url(../images/smush-promo.png);
    background-position: 30px 24px;
}

#wp-smush-share-widget .box-content {
    color: #767676;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.015em;
    line-height: 1.5;
    margin-left: 147px;
    padding-bottom: 18px;
    padding-left: 0;
    padding-right: 0;
}

#wp-smush-twitter-share {
    background: #1da1f2;
}

#wp-smush-twitter-share:hover:not(:focus):not(:active):not(.wph-button):not(#collapse-button):not([tooltip]) {
    background-color: #0A9BD6;
}

#wp-smush-facebook-share {
    background: #3b5998;
}

#wp-smush-facebook-share:hover:not(:focus):not(:active):not(.wph-button):not(#collapse-button):not([tooltip]) {
    background-color: #2b4886;
}

#wp-smush-whatsapp-share {
    background-color: #00ba00;
    background-image: url(../images/whatsapp-button-16px.png);
    background-repeat: no-repeat;
    background-position: 20px 12px;
    display: none;
    padding-left: 47px;
}

.wp-smush-share-buttons-wrapper {
    margin-top: 20px;
    overflow: hidden;
}

.wpmud .button.wp-smush-share-button {
    font-weight: 400;
}

.wp-smush-share-button .icon-fi-social-twitter,
.wp-smush-share-button .icon-fi-social-facebook {
    margin-right: 12px;
}

.wp-smush-share-button .icon-fi-social-twitter:before,
.wp-smush-share-button .icon-fi-social-facebook:before {
    color: #fff;
    display: inline-block;
    margin-top: -1px;
    vertical-align: top;
}

/** Override WP Footer Styling, Hide it on WPMU pages only, if we really need to **/
.wp-admin #wpfooter {
    display: block;
}

.wpmud #wpfooter {
    display: none;
}

/** Directory Browser **/
div.wp-smush-dir-desc {
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    padding: 10px 0 25px;
}

.wp-smush-dir-browser {
    /*overflow: hidden;*/
}

.wpmud .wp-smush-dir-browser input.wp-smush-dir-path {
    width: 450px;
}

.wpmud .wp-smush-dir-browser input.wp-smush-dir-path,
.wpmud .wp-smush-dir-browser button,
.wpmud .wp-smush-dir-browser label {
    display: inline-block;
}

.wp-smush-loading-wrap {
    float: left;
    margin: 0 auto;
    overflow: hidden;
    width: 150px;
}

.wpmud .dev-overlay.wp-smush-list-dialog {
    left: 0;
    max-width: none;
    margin: 0;
    top: 0;
    z-index: 9999;
}

.wpmud .dev-overlay.wp-smush-list-dialog .title h3 {
    padding: 15px 0;
}

.wp-smush-list-dialog .box-scroll {
    margin-top: 80px;
}

.wp-smush-select-dir {
    float: right;
    margin-top: 20px;
    width: 154px;
}

.wp-smush-list-dialog .spinner {
    float: left;
}

.wpmud .dev-overlay.wp-smush-list-dialog .box .title {
    margin-bottom: 20px;
}

.dev-overlay.wp-smush-list-dialog .wp-smush-instruct {
    color: #888888;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 20px;
    padding-top: 8px;
}

.wpmud UL.jqueryFileTree a, .wpmud UL.jqueryFileTree a:hover {
    background: #f8f8f8;
    color: #888888;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.jqueryFileTree .wp-smush-list {
    margin-top: 2px;
    vertical-align: top;
}

.wpmud UL.jqueryFileTree LI {
    display: inline-block;
    padding: 0 0 5px 20px;
}

.wpmud UL.jqueryFileTree LI.ext_tif,
.wpmud UL.jqueryFileTree LI.ext_tiff,
.wpmud UL.jqueryFileTree LI.ext_png,
.wpmud UL.jqueryFileTree LI.ext_pcx,
.wpmud UL.jqueryFileTree LI.ext_jpeg,
.wpmud UL.jqueryFileTree LI.ext_jpg,
.wpmud UL.jqueryFileTree LI.ext_gif,
.wpmud UL.jqueryFileTree LI.ext_bmp {
    background: url(../images/image.svg) left top no-repeat
}

.wpmud UL.jqueryFileTree LI.directory {
    background: url(../images/folder-closed.svg) left top no-repeat;
}

.wpmud UL.jqueryFileTree LI.expanded {
    background: url(../images/folder-open.svg) left top no-repeat;
}

.wpmud UL.jqueryFileTree LI.expanded.selected {
    background: url(../images/folder-open-selected.svg) left top no-repeat;
}

.wpmud UL.jqueryFileTree LI.expanded.selected > a,
.wpmud UL.jqueryFileTree LI.file.selected a {
    color: #17a8e3;
}

.wpmud UL.jqueryFileTree LI.expanded.selected #Folder-22px-Solid-3-Open {
    fill: #17a8e3;
}

.wpmud UL.jqueryFileTree LI.selected > a {
    font-weight: 500;
}

li.directory.selected.expanded ul.jqueryFileTree {
    margin-top: 10px;
}

/** Image List **/
.wpmud .wp-smush-div-heading {
    display: inline-block;
    overflow: hidden;
}

/** Smush Button Wrapper **/
.wp-smush-all-button-wrap {
    display: inline-block;
    float: right;
    overflow: hidden;
}

.wp-smush-all-button-wrap.top {
    display: inline-block;
    margin-bottom: 20px;
}

div.wp-smush-all-button-wrap.bottom {
    margin-top: 14px;
}

.wp-smush-all-button-wrap .spinner {
    margin-top: 12px;
}

.wp-smush-start {
    float: right;
    vertical-align: top;
}

.wpmud button.wp-smush-pause {
    cursor: pointer;
    float: right;
}

.wpmud button.wp-smush-start:disabled:not(.finished),
.wpmud button.wp-smush-pause.disabled {
    display: none !important;
}

.wpmud button.wp-smush-start.finished {
    background: #1abc9c !important;
    opacity: 1;
}

.wp-smush-image-list {
    line-height: 1.5;
}

.wp-smush-image-ul {
    margin: 5px 0;
}

li.wp-smush-image-ul div.image-list-wrapper {
    display: flex;
    justify-content: space-between;
}

.wp-smush-image-list-inner {
    display: none;
    max-height: 0;
    opacity: 0;
    overflow-y: scroll;
    padding: 15px 20px 0;
    transition: 0.6s ease-in-out;
}

.wp-smush-image-list-inner.show {
    display: block;
    opacity: 1;
    max-height: 500px;
}

span.wp-smush-li-path {
    cursor: pointer;
    font-weight: 500;
    position: relative;
}

li.wp-smush-image-ul span.wp-smush-li-path {
    background: url("../images/folder-closed.svg") no-repeat;
    background-position-y: 6px;
    line-height: 2;
    padding: 0 30px;
    max-width: 87%;
}

li.wp-smush-image-ul.in-progress span.wp-smush-li-path {
    background: none;
    padding: 0;
}

li.wp-smush-image-ul.complete span.wp-smush-li-path,
li.wp-smush-image-ul.partial span.wp-smush-li-path {
    background: none;
}

/** Show loader **/
li.wp-smush-image-ul.in-progress span.spinner,
li.wp-smush-image-ul li.wp-smush-image-ele.in-progress span.spinner {
    float: left;
    margin-top: 0px;
    margin-left: 0;
    display: inline-block;
    margin-right: 11px;
}

li.wp-smush-image-ul.in-progress span.spinner {
    margin-top: 5px;
}

li.wp-smush-image-ul.complete span.wp-smush-li-path:before,
li.wp-smush-image-ul.partial span.wp-smush-li-path:before {
    box-shadow: none;
    color: #1ABC9C;
    content: '\5f';
    font-family: 'WPMU-DEV-App-Icons';
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 22px;
    left: 0;
    line-height: 22px;
    margin-top: -11px;
    opacity: 1;
    position: absolute;
    speak: none;
    transition-duration: 0.2s;
    transition-property: color, opacity;
    text-transform: none;
    top: 50%;
    vertical-align: middle;
    width: 22px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

li.wp-smush-image-ul.partial span.wp-smush-li-path:before {
    color: #ffd000;
    content: '\21';
    font-size: 20px;
    margin-left: 1px;
}

.wp-smush-image-count {
    background: #f2f2f2;
    border-radius: 20px;
    display: inline-block;
    margin-left: 10px;
    padding: 3px 10px;
    vertical-align: middle;
}

div.wp-smush-dir-stats-wrap, div.wp-smush-scan-result {
    background: white;
}

div.wp-smush-scan-result div.wp-smush-notice {
    margin-top: 14px;
    padding: 15px 30px;

}

div.wp-smush-scan-result div.wp-smush-notice .icon-fi-check-tick,
div.wp-smush-scan-result div.wp-smush-notice .icon-fi-warning-alert,
div.smush-s3-setup-error i.icon-fi-warning-alert,
div.smush-s3-setup-message .icon-fi-check-tick {
    display: inline-block;
    font-size: 20px;
    margin-top: -3px;
    vertical-align: middle;
}

div.smush-s3-setup-error i.icon-fi-warning-alert,
div.smush-s3-setup-message i.icon-fi-check-tick {
    margin-top: 3px;
    vertical-align: top;
}

div.smush-s3-setup-error i. icon-fi-warning-alert {
    margin-top: -2px;
}

div.smush-s3-setup-message .icon-fi-check-tick:before {
    color: #17A8E3;
}

div.wp-smush-scan-result hr.primary-separator {
    margin: 10px 0 28px;
}

div.wp-smush-scan-result hr {
    margin: 20px 0;
}

div.wp-smush-scan-result li.wp-smush-image-ul hr {
    margin: 17px 0;
}

div.wp-smush-scan-result div.content {
    overflow: hidden;
    width: 100%;
}

.wpmud a.wp-smush-exclude-dir {
    color: #878787;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 15px;
    font-weight: 700;
    margin-right: 16px;
    padding: 0 10px;
}

.wpmud a.wp-smush-exclude-dir:hover {
    color: #878787;
}

div.dir-smush-button-wrap {
    margin-top: 14px;
    overflow: hidden;
}

div.dir-smush-button-wrap.top {
    height: 40px;
    margin-top: 0;
    margin-bottom: 30px;
}

div.dir-smush-button-wrap button, div.dir-smush-button-wrap span {
    float: left;
}

div.dir-smush-button-wrap span {
    margin-top: 10px;
}

.wpmud button.wp-smush-browse {
    background-color: #AEAEAE !important;
}

.wpmud button.wp-smush-browse:hover,
.wpmud button.wp-smush-browse:focus {
    background-color: #9E9E9E !important;
}

.wp-smush-loading-text {
    font-size: 20px;
    line-height: 1.3;
    visibility: visible;
}

.wp-smush-select-button-wrap {
    padding: 20px;
    background: #f9f9f9;
    border-radius: 5px;
    margin-top: 25px;
    overflow: hidden;
}

.wp-smush-select-button-wrap .wp-smush-section-desc {
    color: #888;
    display: inline-block;
    float: left;
    line-height: 22px;
    max-width: 59%;
}

.wp-smush-select-button-wrap .spinner {
    margin-top: 12px;
}

.wp-smush-image-ele {
    margin: 15px 0;
}

li.wp-smush-image-ele span.wp-smush-image-path {
    padding: 4px 0 3px;
}

.wp-smush-image-ele:last-child {
    margin: 15px 0 0;
}

.wp-smush-image-ele .spinner {
    float: left;
    margin-left: 0;
    margin-top: 1px;
}

.wp-smush-image-ul .wp-smush-image-ele .spinner {
    margin-left: 18px;
    position: relative;
}

.wp-smush-image-ele-status {
    color: #C6C6C6;
    display: inline-block;
    height: 22px;
    line-height: 1;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    width: 22px;
    vertical-align: middle;
}

.wp-smush-image-ele-status:after,
.smush-pro-feature-title:before {
    box-shadow: none;
    content: url("../images/image.svg");
    font-family: 'WPMU-DEV-App-Icons';
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 22px;
    line-height: 22px;
    margin-left: 1px;
    margin-top: -11px;
    opacity: 1;
    position: absolute;
    speak: none;
    transition-duration: 0.2s;
    transition-property: color, opacity;
    text-transform: none;
    top: 50%;
    vertical-align: middle;
    width: 22px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

li.wp-smush-image-ele.in-progress .wp-smush-image-ele-status {
    display: none;
}

/** Optimised Image **/
li.wp-smush-image-ele.optimised .wp-smush-image-ele-status:after {
    content: '\5f';
    color: #1ABC9C;
}

li.wp-smush-image-ele.error .wp-smush-image-ele-status:after {
    color: #ffd000;
    content: '\f06a';
    font-family: 'FontAwesomeWdv';
    margin-top: -10px;
}

div.wp-smush-dir-notice {
    padding: 15px 20px;
    background: #fff5d5;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
}

div.wp-smush-dir-notice .icon-fi-warning-alert {
    margin-right: 10px;
    vertical-align: middle;
}

div.wp-smush-dir-notice .icon-fi-warning-alert:before {
    color: #ffd000;
    content: '\f06a';
    font-family: 'FontAwesomeWdv';
    font-size: 20px;
    margin-left: 1px;
    margin-top: 4px;
    vertical-align: middle;
}

div.wp-smush-dir-progress-wrap {
    display: flex;
    font-weight: 600;
    padding-top: 4px;
}

div.wp-smush-dir-progress-wrap.hidden {
    display: none;
}

span.smush-percent {
    text-align: right;
    width: 34px;
}

div.wp-smush-dir-progress-wrap-inner {
    background: #e6e6e6;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    height: 10px;
    margin-left: 10px;
    margin-top: 4px;
    position: relative;
    width: 100px;
}

.wp-smush-dir-progress {
    background: #ffd000;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.wp-smush-dir-progress.complete {
    background: #1abc9c;
}

.wp-smush-dir-progress.complete ~ a.wp-smush-exclude-dir {
    display: none;
}

div.wp-smush-info.notice {
    font-size: 15px;
    letter-spacing: -0.015em;
    margin: 0 0 30px;
    padding: 15px;
}

.wpmud div.smush-page-wrap button:not(.wph-button):not(#collapse-button),
.wpmud div.smush-page-wrap .button {
    background-color: #17A8E3;
}

/* Bulk Smush button*/
button.wp-smush-all.wp-smush-button {
    float: right;
}

.wpmud span.wp-smush-upload-images a.button {
    box-shadow: none;
}

.wpmud span.wp-smush-upload-images a.button:hover:not(:focus):not(:active):not(.wph-button):not(#collapse-button):not([tooltip]) {
    background: #0A9BD6;
}

.wpmud div.smush-page-wrap button:hover:not(:focus):not(:active):not(.wph-button):not(#collapse-button):not([tooltip]),
.wpmud .div.smush-page-wrap button:hover:not(:focus):not(:active):not(.wph-button):not(#collapse-button):not([tooltip]),
.wpmud .smush-page-wrap .wp-smush-submit-wrap .button.button-grey:hover:not(:focus):not(:active):not(.wph-button):not(#collapse-button):not([tooltip]) {
    background: #0A9BD6;
}

.wpmud .smush-page-wrap .button.button-grey {
    background: #AEAEAE;
}

/**
WordPress.org Recommendation Styling
 */
.sui-2-1-0 .sui-cross-sell-modules .sui-col-md-4 .sui-cross-hummingbird {
    background-image: url(../images/hb-banner.jpg);
}

.sui-2-1-0 .sui-cross-sell-modules .sui-col-md-4 .sui-cross-defender {
    background-image: url(../images/df-banner.jpg);
}

.sui-2-1-0 .sui-cross-sell-modules .sui-col-md-4 .sui-cross-smartcrawl {
    background-image: url(../images/sc-banner.png);
}

.sui-2-1-0 .sui-cross-sell-modules .sui-col-md-4 .sui-cross-hummingbird > span {
    background-image: url(../images/hb-icon.png);
}

.sui-2-1-0 .sui-cross-sell-modules .sui-col-md-4 .sui-cross-defender > span {
    background-image: url(../images/df-icon.png);
}

.sui-2-1-0 .sui-cross-sell-modules .sui-col-md-4 .sui-cross-smartcrawl > span {
    background-image: url(../images/sc-icon.png);
}

/** Media Queries **/
@media screen and (min-width: 1425px) {
    .wpmud .wp-smush-super-smush-promo {
        background-position: -10px 0;
    }
}

@media screen and (max-width: 1110px) {
    .wpmud .row .col-half.wp-smushit-container-left,
    .wpmud .row .col-half.wp-smushit-container-right {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
}

@media screen and (max-width: 1100px) {
    li.wp-smush-image-ul span.wp-smush-li-path {
        max-width: 75%;
        display: inline-block;
        padding-right: 0;
    }

    span.wp-smush-image-count {
        display: inline-block;
        margin-left: 0;
        overflow: hidden;
        text-align: center;
    }

    li.wp-smush-image-ul.complete span.wp-smush-li-path:before,
    li.wp-smush-image-ul.partial span.wp-smush-li-path:before {
        margin-top: 0;
        top: 4px;
    }

    li.wp-smush-image-ul.partial span.wp-smush-li-path:before {
        margin-top: 2px;
    }
}

@media screen and (max-width: 1024px) and ( min-width: 800px ) {
    /** Stats Section **/
    .smush-stats-wrapper h3 {
        padding: 6px 0;
    }

    .smush-stats-wrapper .smush-container-subheading {
        margin-top: 20px;
    }

    /** Sub Heading **/
    .wpmud .smush-container-subheading {
        font-size: 13px;
    }
}

/** Media Queries for resolution between 782px - 1024px **/
@media screen and (max-width: 1024px) {
    /** Configure screen **/
    .wpmud .row .wp-smush-lady.col-third {
        display: none;
    }

    /** Media Library Stats **/
    .wp-list-table .smushit .wp-smush-stats-holder tr th {
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
    }

    .wp-list-table .smushit .wp-smush-stats-holder tr td:first-child {
        border-right: none;
        box-sizing: border-box;
        display: inline-block !important;
        width: 50% !important;
    }

    .wp-list-table .smushit .wp-smush-stats-holder tr td:last-child {
        box-sizing: border-box;
        display: inline-block !important;
        float: none;
        overflow: visible;
        width: 50% !important;
    }
}

@media only screen and (max-width: 960px) {
    .wpmud .dev-overlay.wp-smush-list-dialog,
    .wpmud .dev-overlay.wp-smush-get-pro {
        left: 35px;
    }
}

/** Media Queries for resolution below 782px **/
@media only screen and (max-width: 800px) {
    .wpmud .wp-smushit-container-wrap .col-half.wp-smushit-container-left, .wpmud .wp-smushit-container-wrap .col-half.wp-smushit-container-right {
        padding: 0;
        width: 100%;
    }

    .wpmud .wp-smush-welcome-content {
        margin: 0 30px 0px 160px;
    }

    .dev-box.bulk-smush-wrapper.wp-smush-container {
        padding: 20px 10px;
    }
}

@media only screen and (max-width: 782px) {
    .wpmud .dev-overlay.wp-smush-list-dialog,
    .wpmud .dev-overlay.wp-smush-get-pro {
        left: 0;
    }
}

@media screen and (max-width: 750px) {
    .wpmud .dev-box#wp-smush-share-widget {
        background-position: 30px 45px;
    }
}

@media screen and (max-width: 700px) {
    .wpmud .smush-submit-note {
        margin-top: 0;
        max-width: 50%;
    }
}

/** For directory smush image listing **/
@media screen and (max-width: 672px) {
    li.wp-smush-image-ul span.wp-smush-li-path {
        max-width: 65%;
    }
}

@media screen and (max-width: 650px) {
    .wpmud .dev-box#wp-smush-share-widget {
        background-image: none;
    }

    .wpmud #wp-smush-share-widget .box-content {
        margin-left: 0;
        padding: 20px;
    }

    .wpmud .button.wp-smush-share-button,
    .wpmud a + .button.wp-smush-share-button {
        margin-bottom: 10px;
        margin-left: 0;
        text-align: center;
        width: 100%;
    }

    .wpmud .button.wp-smush-share-button .dev-icon {
        float: left;
    }

    .wpmud #wp-smush-whatsapp-share {
        display: inline-block;
    }
}

@media screen and (max-width: 600px) {

    .wpmud .dev-overlay.wp-smush-list-dialog {
        top: 0;
    }

    .wpmud .dev-overlay.wp-smush-list-dialog .box {
        margin-left: -40%;
        width: 80%;
    }

    .wp-smush-select-button-wrap .wp-smush-section-desc {
        width: 100%;
        max-width: none;
    }

    div.wp-smush-select-button-wrap-child {
        overflow: hidden;
        float: left;
        margin-top: 14px;
    }

    div.wp-smush-select-button-wrap-child span.spinner {
        float: right;
    }

    .wp-smush-progress-bar-wrap {
        width: 84%;
    }

    .wpmud .wp-smush-setting-row .column-left,
    .wpmud .wp-smush-setting-row .column-right {
        width: 100%;
    }

    .wpmud .wp-smush-setting-row .column-right {
        margin-top: 20px;
    }

    .wp-smush-resize-settings-wrap,
    .wp-smush-png_to_jpg-wrap,
    .wp-smush-image-size-list {
        padding: 20px;
    }

    section.wp-smush-premium.dev-box div.wp-smush-super-smush-promo {
        background-position: 30px bottom;
    }
}

@media screen and (max-width: 525px) {
    .wpmud .smush-submit-note {
        clear: left;
        float: right;
        margin-top: 20px;
        max-width: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    div.wp-smush-super-smush-promo {
        background: none;
    }

    .wpmud div.wp-smush-super-smush-content {
        margin-left: 0;
        width: 100%;
    }

    .wpmud div.smush-page-wrap button.wp-smush-resume:not(.wph-button):not(#collapse-button) {
        clear: left;
        margin-left: 0 !important;
        margin-top: 10px;
    }
}

@media screen and (max-width: 456px) {
    .bulk-smush-wrapper .wp-smush-notice-text {
        max-width: 85%;
    }
}


/* 381945-1529741702-au */