@media screen and ( min-width: 768px ) {
  #code-snippets-metabox-holder, #code-snippets-table-holder {
    width: calc( 100% - 280px );
    float: left;
    padding-top: 0 !important;
  }
}
@media screen and ( max-width: 768px ) {
  #code-snippets-metabox-holder, #code-snippets-table-holder {
    width: 100% !important;
    float: none !important;
    padding-top: 0 !important;
  }
}
