table#automate { border-collapse:collapse; width:25%; margin-top:15px }
table#automate thead tr { margin:0 0 5px }
table#automate thead tr > th {  padding:15px 10px; text-align:center }
table#automate tbody tr { 
	margin:0 0 5px; 
	border:1px solid #DDD !important;
  -webkit-transition: background-color 0.3s ease-in;
     -moz-transition: background-color 0.3s ease-in;
       -o-transition: background-color 0.3s ease-in;
      -ms-transition: background-color 0.3s ease-in;
          transition: background-color 0.3s ease-in;
 }
table#automate tbody tr:first-child { background-color:#fff }
table#automate tbody tr:first-child > th { padding:12px 10px }
table#automate tbody tr:first-child > td { padding:0px 10px }
table#automate tbody tr > th, 
table#automate tbody tr > td { padding:15px 10px }
table#automate tbody tr > td { text-align:right }
table#automate tbody tr > td.cc { text-align:left; font-style:italic }
table#automate tbody tr.no-border { border:none !important }
table#automate tbody tr.no-border > td,
table#automate tbody tr.no-border > th { padding-left:0  }
table#automate tbody tr.added { background-color: #7cdf46 }
table#automate .automate-action { text-align:left }