.uabb-aspect-ratio-4_3 .uabb-video__outer-wrap {
	padding-bottom: 75%;
}

.uabb-aspect-ratio-16_9 .uabb-video__outer-wrap {
	padding-bottom: 56.25%;
}

.uabb-aspect-ratio-3_2 .uabb-video__outer-wrap {
	padding-bottom: 66.6666%;
}

.uabb-video__outer-wrap {
	position: relative;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	background: #000;
	cursor: pointer;
}

.uabb-video__outer-wrap img {
	bottom: 0;
	display: block;
	left: 0;
	margin: auto;
	max-width: 100%;
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	height: auto;
	cursor: pointer;
	-webkit-transition: .2s all;
	transition: .2s all;
}

.uabb-video__play-icon {
	left: 50%;
	top: 50%;
	position: absolute;
	cursor: pointer;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	-webkit-transition: text-shadow ease .2s, color ease .2s;
	transition: text-shadow ease .2s, color ease .2s;
	z-index: 5;
}

.uabb-video__outer-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: transparent;
}

.uabb-vimeo-wrap {
	-js-display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin: 10px;
    -webkit-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out;
    margin-right: 4.6em;
}

.uabb-vimeo-portrait {
    width: 60px;
    height: 60px;
    background: rgba(23,35,34,.75);
    margin-right: 1px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    -moz-box-flex: 1;
    flex: 1 0 auto;
    padding: 0;
}

.uabb-vimeo-portrait img {
	width: 50px;
    height: 50px;
    margin: 5px;
    padding: 0;
    border: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.uabb-vimeo-headers {
	/*margin: 0 5px;*/
	font-size: 10px;
}

.uabb-vimeo-byline {
	font-size: 1.2em!important;
	font-weight: 400;
	color: #fff;
	margin-top: .1em;
	padding: .2em .5em;
	background: rgba(23,35,34,.75);
    text-transform: none;
    line-height: normal;
    letter-spacing: normal;
}

.uabb-vimeo-title {
	max-width: 100%;
	font-size: 2em!important;
	font-weight: 700;
	margin: 0;
	padding: .1em .2em;
	background: rgba(23,35,34,.75);
    display: inline-block;
    text-transform: none;
    line-height: normal;
    letter-spacing: normal;
}

.uabb-video__outer-wrap:active .ubb-animation-sink,
.uabb-video__outer-wrap:focus .uabb-animation-sink,
.uabb-video__outer-wrap:hover .uabb-animation-sink {
	top: -webkit-calc( 50% + 8px );
	top: calc( 50% + 8px );
}

.uabb-video__outer-wrap .uabb-animation-sink {
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-property: top;
	transition-property: top;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out
}


.uabb-video__outer-wrap .uabb-animation-float {
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-property: top;
	transition-property: top;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out
}

.uabb-video__outer-wrap:before {
	content:'';
	z-index:2;
	height: 100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
}

.uabb-video__outer-wrap:active .uabb-animation-float,
.uabb-video__outer-wrap:focus .uabb-animation-float,
.uabb-video__outer-wrap:hover .uabb-animation-float {
	top: -webkit-calc( 50% - 8px );
	top: calc( 50% - 8px );
}

.uabb-video__outer-wrap:active .uabb-animation-wobble-vertical,
.uabb-video__outer-wrap:focus .uabb-animation-wobble-vertical,
.uabb-video__outer-wrap:hover .uabb-animation-wobble-vertical {
	-webkit-animation-name: uael-wobble-vertical;
	animation-name: uabb-wobble-vertical;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1
}

@-webkit-keyframes uabb-wobble-vertical {
	16.65% {
		top: -webkit-calc( 50% + 8px );
		top: calc( 50% + 8px )
	}

	33.3% {
		top: -webkit-calc( 50% - 6px );
		top: calc( 50% - 6px )
	}

	49.95% {
		top: -webkit-calc( 50% + 4px );
		top: calc( 50% + 4px )
	}

	66.6% {
		top: -webkit-calc( 50% - 2px );
		top: calc( 50% - 2px )
	}

	83.25% {
		top: -webkit-calc( 50% + 1px );
		top: calc( 50% + 1px )
	}

	100% {
		top: 50%
	}
}

@keyframes uabb-wobble-vertical {
	16.65% {
		top: -webkit-calc( 50% + 8px );
		top: calc( 50% + 8px )
	}

	33.3% {
		top: -webkit-calc( 50% - 6px );
		top: calc( 50% - 6px )
	}

	49.95% {
		top: -webkit-calc( 50% + 4px );
		top: calc( 50% + 4px )
	}

	66.6% {
		top: -webkit-calc( 50% - 2px );
		top: calc( 50% - 2px )
	}

	83.25% {
		top: -webkit-calc( 50% + 1px );
		top: calc( 50% + 1px )
	}

	100% {
		top: 50%
	}
}
.uabb-subscribe-bar {
	js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 6px 10px;
}
.uabb-subscribe-bar-prefix {
    margin-right: 10px;
}
.uabb-subscribe-content {
    display: flex;
}
