/*    Administration stylesheet     */
.mainwpoption {
	width: 98.5%;
}
.clearfix {
	clear: both;
}
.aligncenter {
	text-align: center;
}
.thickboxmainwp {
	padding-left: 5px;
	padding-top: 0px;
}
.thickboxmainwp img {
	vertical-align: middle;
}
.headerstatic {
	width: 100%;
	overflow: hidden;
}
.headerstatic p {
	float: left;
	color: #333333;
	font-weight: bold;
	background-color: #E6E6E6;
	padding: 5px;
}
.headerstatic p:first-child {
	width: 50%;
	margin-right: 2px;
	padding-left: 15px;
}
.headerstatic p:nth-child(2) {
	width: 20%;
	margin-right: 2px;
}
.headerstatic p:last-child {
	width: 26%;
	float: left;
}
.statp {
	background: none repeat scroll 0 0 #E6E6E6;
	border-radius: 5px 0 0 5px;
	overflow: hidden;
	padding-bottom: 5px;
	padding-left: 40px;
	padding-top: 4px;
	width: 100%;
}
.statp span {
	width: 250px;
	display: block;
	float: left;
}
.statp span:nth-child(2) {
	width: 270px;
	display: block;
	float: left;
}
.statp span:nth-child(3) {
	width: 240px;
	display: block;
	float: left;
}
#headerstactic {
	width: 100%;
	margin-bottom: 5px;
}
.keymonth {
	float: left;
	width: 51%;
	margin-right: 2px;
}
.keyraw {
	float: left;
	width: 22%;
}
.keyunique {
	float: left;
	width: 26%;
	margin-right: 8px;
}
.statweek {
	display: none;
	clear: both;
}
.substatweek {
	overflow: hidden;
	padding-left: 20px;
	margin-bottom: 2px;
	background-color: #e6e6e6;
	padding-top: 5px;
	border-radius: 5px 0px 0px 5px;
	padding-bottom: 5px;
}
.substatweekname {
	float: left;
	width: 270px;
}
.substatweekkey {
	float: left;
	padding-right: 5px;
	width: 265px;
	word-wrap: break-word;
}
.substatweekraw {
	float: left;
	width: 235px;
}
.substatweekunique {
	float: left;
	width: 100px;
}
.statdate {
	float: left;
	width: 24%;
	padding-left: 290px;
	margin-right: 5px;
}
.labelday {
	display: block;
	float: left;
	min-width: 165px;
	padding: 0 5px;
}
.headermainwp td {
	font-weight: bold;
	border: 1px solid white;
	background-color: inactivecaption;
}
.contentmainwp td {
	border: 1px solid white;
	background-color: #DFEDF9;
}
.contentmainwpsub td {
	border: 1px solid white;
	background-color: #F5F9FD;
}
.statsub td {
	border: 1px solid white;
	background-color: #F5F9FD;
}
.redirection_folder_help {
	margin-left: 5px;
	vertical-align: bottom;
	overflow: hidden;
}
#redirection_folder {
	width: 350px;
}
#mainwp-boilerplate-option #icon-edit {
	background-image: url('../img/skl-logo.png') !important;
	background-position: 0 !important;
	width: 32px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.redirection_folder_help {
		vertical-align: sub;
	}
}
/* Add style for */
.boilerplate_listtokens {
	margin: 20px 0 0;
	overflow: hidden;
	padding: 0;
	font-family: sans-serif;
}
.boilerplate_listtokens > table > tbody tr {
	font-size: 13px;
	line-height: 24px;
}

.boilerplate_listtokens > table > tbody > tr > td {
	padding: 2px 10px;
}
.boilerplate_listtokens > table > tbody > tr > td.token-name {
	width: 46%;
}
.boilerplate_listtokens > table > tbody > tr.add_token > td {
	padding-left: 5px;
}

.token-name, .form-table th.token-name {
	color: #7FB100;
}

.token-option {
	padding-top: 5px;
	width: 15%;
	padding-right: 15px;
}
#boilerplate_setting div.mainwp_info-box {
	margin: 20px 0;
}
.boilerplate_add_new_page {
	float: right;
	margin: 10px 0 20px 0;
}
.boilerplate_pages {
	margin-bottom: 80px;
}
.boilerplate_add_new_post {
	float: right;
	margin: 20px 0;
}
.boilerplate_posts {
	margin-bottom: 80px;
}

tr.add_token td.token-name {
	color: #7FB100;
	display: inline-flex;
	position: relative;
	width: 100%;
}
tr.add_token td.token-name .field-error-msg {
	left: 3px;
	position: absolute;
	top: 35px;
	z-index: 1000;
}
#message {
	background-color: #FFFFFF;
	border-left: 4px solid #7AD03A;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.add-new-h2
{
	background: none repeat scroll 0 0 #E0E0E0;
	 border: 0 none;
	border-radius: 2px;
	font-size: 13px;
	font-weight: 600;
	margin-left: 4px;
	padding: 4px 8px;
	position: relative;
	text-decoration: none;
	text-shadow: none;
	top: -3px;
}

a.bpl_post_add_token {
	padding: .2em .5em;
	color: #7fb100 !important;
}
a.bpl_post_add_token:hover {
	background: #7FB100;
	color: #fff !important;
	cursor: pointer;
}

.boilerplate_listtokens > table {
	padding-bottom: 10px;
}

.managetoken-item input[type="text"] {
	width: 90%;
}
.managetoken-item .text {
	padding-left: 8px;
}

.boilerplate_listtokens tr:nth-child(odd), #mainwp-boilerplate-metabox tr:nth-child(odd) {
	background: #fafafa;
}

#mainwp-bp-tips {
	display: none;
}
.mainwp-bp-tut, #mainwp-bp-tips {
	display: none;
}


.mainwp_ext_info_box {
	background-color: #fff;
	border: 1px Solid #e5e5e5;
	padding: 1em;
	margin-bottom: 1em;
	text-decoration: none !important;
}

.mainwp_ext_info_box a {
	text-decoration: none !important;
}

.managetoken-edit,
.managetoken-delete,
.managetoken-save,
.managetoken-cancel {
	text-decoration: none !important;
}

.managetoken-delete {
	color: #a00 !important;
}
