<h2>Keep customers happy with back-in-stock notifications</h2>
<strong>Automatically notify customers when a product becomes available for purchase</strong>

The WooCommerce Waitlist extension lets you track demand for out-of-stock items, making sure your customers feel informed, and therefore more likely to buy.

Using a simple plugin, you can build up a waiting list of people wanting the unavailable item, then notify these customers automatically when products come back in stock.
<h3>Set up in seconds</h3>
It's really easy to install and will instantly start turning missed opportunities into future sales.

Customers register for an email alert to let them know when a product is back in stock, increasing the likelihood they'll wait and shop with you instead of going to a competitor.

It makes people feel valued by your business, and allows you to replenish stock intelligently based on demand.
<h3>Key features</h3>
<ul>
  <li>allow customers to be notified when they can purchase an item that is currently out of stock</li>
  <li>easily identify ‘most wanted’ products to prioritise re-stocking</li>
  <li>allow customers to easily review and edit their waiting lists</li>
  <li>maintain a record of users that have been emailed an in-stock notification</li>
  <li>plug-and-play functionality - just install, activate and go!</li>
</ul>
<h3>How it works</h3>
It takes seconds for customers to join a waiting list via a button on the product listing of your WooCommerce store.

[caption id="attachment_2570339" align="aligncenter" width="620"]<a href="https://woocommerce.com/wp-content/uploads/2012/10/wcwl-single-product-front.png"><img class="wp-image-2570339 size-medium" src="https://woocommerce.com/wp-content/uploads/2012/10/wcwl-single-product-front.png?w=620" alt="An example of a single product showing the &quot;Join Waitlist&quot; option" width="620" height="468" /></a> An out-of-stock product showing the option to join it's waitlist[/caption]

As soon as you update your stock numbers on the site, everyone on the list automatically gets an email with a link to the product, making it super-simple for them to buy.

WooCommerce Waitlist fully supports simple products, product variations and the children of grouped products.
<h3>See who's waiting for what</h3>
With WooCommerce Waitlist, shop managers can sort products by number of customers on their waiting list. This allows them to quickly prioritize which products to re-stock.

[caption id="attachment_3132757" align="aligncenter" width="620"]<a href="https://woocommerce.com/wp-content/uploads/2012/10/product-listing-page.png"><img class="wp-image-3132757 size-medium" src="https://woocommerce.com/wp-content/uploads/2012/10/product-listing-page.png?w=620" alt="The product listing screen showing the additional column for displaying waitlist counts" width="620" height="335" /></a> An example of the added Waitlist column[/caption]

Shop managers can also view, manage and contact those on the waiting list for each product directly from the Edit Product screen through a custom product tab.

[caption id="attachment_3132764" align="aligncenter" width="620"]<a href="https://woocommerce.com/wp-content/uploads/2012/10/waitlist-tab.png"><img class="size-medium wp-image-3132764" src="https://woocommerce.com/wp-content/uploads/2012/10/waitlist-tab.png?w=620" alt="The waitlist tab on the product edit page" width="620" height="269" /></a> An example of the waitlist options on the product edit page[/caption]

Here, it is easy to add/remove users from the waiting list, see archived lists and adjust the waiting list options for this product.
<h3>Allow users to manage their own waiting lists</h3>
Users can view any products they have joined the waiting list for on the "Your Waitlists" tab on their "My Account" page.  This allows users to conveniently manage all their waiting lists in one place

[caption id="attachment_2837488" align="aligncenter" width="650"]<a href="https://woocommerce.com/wp-content/uploads/2012/10/screen-shot-2018-01-26-at-16-21-07.png"><img class="wp-image-2837488 size-large" src="https://woocommerce.com/wp-content/uploads/2012/10/screen-shot-2018-01-26-at-16-21-07.png?w=650" alt="waitlist tab shown on the WooCommerce my account page" width="650" height="517" /></a> The default "Your Waitlists" tab shown on the "my account" page[/caption]
<h3>Get it working your way</h3>
WooCommerce Waitlist comes with plenty of options for you to get the most from the plugin, including the following:
<ul>
  <li>options to display opt-in elements when users sign up to a waitlist</li>
  <li>options to also display waitlist buttons on archive pages (e.g. the shop page/product category pages)</li>
  <li>options to add google analytic tracking codes to WooCommerce Waitlist emails</li>
  <li>options to email a site administrator when a customer joins a waitlist</li>
  <li>options to set a minimum stock before WooCommerce Waitlist in-stock notifications are sent out</li>
  <li>and more...</li>
</ul>
<h3>Extend and customize</h3>
The default setup is ‘plug and play’, but WooCommerce Waitlist adds a large number of WordPress action and filter hooks allowing you to customize it to suit your exact needs (See <a href="http://docs.woothemes.com/user-guide/extensions/woocommerce-waitlist/#section-10">documentation</a> for more information). Customizations include:
<ul>
  <li>Choosing the wording for notification emails</li>
  <li>Tweaking the design of ‘join waiting list’ buttons</li>
  <li>Hooking in extra functionality when users are added to/removed from a waiting list</li>
  <li>Altering the design of the "Your Waitlists" page added to the "My Account" section</li>
</ul>
<div class="woo-sc-box info" style="clear: left"><em>WooCommerce Waitlist</em> is fully compatible with WooCommerce Subscriptions and WPML!</div>