.njba-timeline-wrapper h1, .njba-timeline-wrapper h2, .njba-timeline-wrapper h3, .njba-timeline-wrapper h4, .njba-timeline-wrapper h5, .njba-timeline-wrapper h6{margin: 0;}
.njba-image-responsive {display: block;height: auto;max-width: 100%;}
.njba-timeline-wrapper {width: 100%;height: auto;position: relative;display: inline-block;}
.njba-vertical-line {top: 0;height: 100%;left: 0;margin: 0 auto;position: absolute;right: 0;width: 1px;}
.njba-timeline-item-border{padding: 10px;}
.njba-timeline-main {padding-top: 50px;padding-bottom: 50px;float: left;width: 100%;}
.njba-timeline-item {width: 100%;float: left;margin: 10px 0px;}
.njba-timeline-item-box-main {width: 50%;float: left;position: relative;z-index: 1;}
.njba-timeline-item-right .njba-timeline-item-box-main {padding: 0px 0px 0px 70px;}
.njba-timeline-item-left .njba-timeline-item-box-main {padding: 0px 70px 0px 0px;}
.njba-timeline-item-main {display: inline-block;width: 100%;}
.njba-timeline-content-icon {text-align: center;float: right;overflow: hidden;}
.njba-timeline-content-icon i {display: inline-block;}
.njba-timeline-round {
  position: absolute;top: 55px;transform: translate(50%, -50%);
  box-sizing: content-box;
  -moz-transform: translate(50%, -50%);
   -ms-transform: translate(50%, -50%);
   -o-transform: translate(50%, -50%);
   -webkit-transform: translate(50%, -50%);
}
.njba-round-icon {right: -20px;top: 55px;text-align: center;}
.njba-timeline-item-main .njba-round-image {left: -20px;top: 33px;}
.njba-timeline-item-right .njba-timeline-round {left: 0px;top: 55px;transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);}
.njba-timeline-item-left .njba-timeline-round {right:0px;}
.njba-round-image {width: 40px;height: 40px;left: -20px;text-align: center;}
.njba-round-image img {display: inline-block;}
.njba-timeline-content-icon {display: table;vertical-align: middle;}
.njba-timeline-separator-arrow {position: absolute;}
.njba-timeline-item-right {float: right;}
.njba-timeline-item-left {float: left;}
.njba-timeline-content {overflow: hidden;padding-right: 0;}
.njba-timeline-item-left .njba-timeline-item-box-main{float: left;}
.njba-timeline-item-right .njba-timeline-item-box-main{float: right;}
.njba-timeline-date {position: relative;opacity: 1;transition: all 0.3s ease;width: 50%;padding: 25px 50px;margin: 5px 0 0;}
.njba-timeline-date-right {float: right;}
.njba-timeline-date h1 {padding: 9px;display: inline-block;}
.njba-timeline-date-left {text-align: right;float: left;}
.njba-timeline-date .njba-timeline-date-separator-arrow {position: absolute;top: 30px;left: 38px;bottom: auto;font-size: 39px;top: 50%;transform: translate(0px, -50%);
-moz-transform: translate(0px, -50%);
   -ms-transform: translate(0px, -50%);
   -o-transform: translate(0px, -50%);
   -webkit-transform: translate(0px, -50%);
   }
.njba-timeline-content-icon .vertical-horizontal-center {display: table-cell;height: 100%;vertical-align: middle;width: 100%;}
.njba-timeline-item-box-main-inner {position: relative;}
.start_box_main, .end_box_main{text-align: center;width: 100%;}
.start_box, .end_box {background: #ffffff;border: 1px solid #000000;color: #000000;display: inline-block;position: relative;width: 100px;z-index: 1;box-sizing: content-box;width: auto;padding:0 10px;}
.njba-timeline-content-icon-center{display: inline-block;}
.njba-timeline-main .njba-is-hidden {
    opacity: 0;
    -webkit-transition: opacity .6s linear, margin .6s ease;
    -moz-transition: opacity .6s linear, margin .6s ease;
    -ms-transition: opacity .6s linear, margin .6s ease;
    transition: opacity .6s linear, margin .6s ease;
}
.njba-timeline-main .fadein-left{
  animation: animationFrames-fadein-left ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames-fadein-left ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames-fadein-left ease 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames-fadein-left ease 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames-fadein-left ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}
@keyframes animationFrames-fadein-left{
  0% {
    opacity:0;
    transform:  translate(-200px,0px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}
@-moz-keyframes animationFrames-fadein-left{
  0% {
    opacity:0;
    -moz-transform:  translate(-200px,0px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}
@-webkit-keyframes animationFrames-fadein-left {
  0% {
    opacity:0;
    -webkit-transform:  translate(-200px,0px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}
@-o-keyframes animationFrames-fadein-left {
  0% {
    opacity:0;
    -o-transform:  translate(-200px,0px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}
@-ms-keyframes animationFrames-fadein-left {
  0% {
    opacity:0;
    -ms-transform:  translate(-200px,0px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
}
.njba-timeline-main .fadein-right{
  animation: animationFrames-fadein-right ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames-fadein-right ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames-fadein-right ease 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames-fadein-right ease 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames-fadein-right ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}
@keyframes animationFrames-fadein-right{
  0% {
    opacity:0;
    transform:  translate(200px,0px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}
@-moz-keyframes animationFrames-fadein-right{
  0% {
    opacity:0;
    -moz-transform:  translate(200px,0px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}
@-webkit-keyframes animationFrames-fadein-right {
  0% {
    opacity:0;
    -webkit-transform:  translate(200px,0px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}
@-o-keyframes animationFrames-fadein-right {
  0% {
    opacity:0;
    -o-transform:  translate(200px,0px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}
@-ms-keyframes animationFrames-fadein-right {
  0% {
    opacity:0;
    -ms-transform:  translate(200px,0px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
}
@media(max-width:767px) {
    .njba-wapper {max-width: 550px;}
    .njba-timeline-item-left .njba-timeline-item-box-main, .njba-timeline-item-right .njba-timeline-item-box-main {width: 100%;padding: 0px 0px 0px 100px;}
    .njba-vertical-line {right: auto;left: 30px;transform: translate(-50%);-webkit-transform:translate(-50%);}
    .njba-timeline-item-right .njba-timeline-round, .njba-timeline-item-left .njba-timeline-round{left: 30px;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);}
    .njba-timeline-item-left .njba-timeline-separator-arrow {left: -15px;right: auto;top: 40px;transform: rotate(180deg); -webkit-transform: rotate(180deg);}
    .njba-timeline-item-right .njba-timeline-separator-arrow {left: -15px;right: auto;top: 40px;}
    .njba-timeline-date {width: 100%;padding: 15px 100px;}
    .njba-timeline-date-left {text-align: left;}
    .njba-timeline-date .njba-timeline-date-separator-arrow {display: none;}
    
}
