/**
 * Admin Logs style
 *
 * @author Leanza Francesco
 * @version 1.0.0
 */

#yith-wcbk-logs-tab-actions {
    margin-bottom : 8px;
}

#yith-wcbk-logs-tab-actions .actions {
    margin-right : 10px;
}

#yith-wcbk-logs-tab-actions label {
    margin-right : 3px;
}

#yith-wcbk-logs-tab-actions .pagination span {
    margin : 0 3px;
}

#yith-wcbk-logs-tab-actions .pagination .navspan {
    display     : inline-block;
    min-width   : 17px;
    border      : 1px solid #ddd;
    padding     : 3px 5px 7px;
    background  : #f7f7f7;
    font-size   : 16px;
    line-height : 1;
    font-weight : 400;
    text-align  : center;
    color       : #a0a5aa;
}

#yith-wcbk-logs-tab-actions .pagination a {
    text-decoration : none;
    box-shadow      : none;
    outline         : none;
}

#yith-wcbk-logs-tab-actions .pagination a .navspan {
    border-color : #ccc;
    background   : #e5e5e5;
    color        : #0073aa;
}

#yith-wcbk-logs-tab-actions .pagination a:hover .navspan {
    border-color : #5b9dd9;
    color        : #fff;
    background   : #00a0d2;
}

#yith-wcbk-logs-tab-actions .pagination .current-page input {
    text-align  : center;
    line-height : 1;
    height      : 32px;
}

#yith-wcbk-logs-tab-table {
    width : 100%;
}

#yith-wcbk-logs-tab-table .type-column {
    width      : 70px;
    text-align : center;
}

#yith-wcbk-logs-tab-table .group-column {
    width      : 140px;
    text-align : center;
}

#yith-wcbk-logs-tab-table td.description-column {
    position      : relative;
    max-width     : 0;
    padding-right : 10px;
}

#yith-wcbk-logs-tab-table td.description-column .expand {
    position   : absolute;
    top        : 0;
    right      : 0;
    cursor     : pointer;
    width      : 7px;
    height     : 100%;
    background : rgba(30, 31, 66, 0.10);
    box-sizing : border-box;
}

#yith-wcbk-logs-tab-table td.description-column .expand:hover {
    background : rgba(30, 31, 66, 0.25);
}

#yith-wcbk-logs-tab-table td.description-column .expand.disabled{
    background : rgba(30, 31, 66, 0.04);
    cursor     : not-allowed;
}


#yith-wcbk-logs-tab-table td.description-column .log-description {
    font-family   : monospace;
    overflow      : hidden;
    white-space   : pre-wrap;
    text-overflow : ellipsis;
    transition    : all 0.5s;
    height        : 40px;
    padding       : 0 10px;
}

#yith-wcbk-logs-tab-table td.description-column.expanded .log-description {
    height     : 500px;
    overflow-y : auto;
}

#yith-wcbk-logs-tab-table .date-column {
    width      : 100px;
    text-align : center;
}

.yith-wcbk-logs-type {
    display        : inline-block;
    padding        : 3px 8px;
    border-radius  : 3px;
    background     : #828d95;
    color          : #fff;
    font-size      : 12px;
    text-transform : uppercase;
    font-weight    : 600;
    border         : none;
}

.yith-wcbk-logs-type.error {
    background : #cc2145;
}

.yith-wcbk-logs-type.info {
    background : #41add4;
}

.yith-wcbk-logs-type.warning {
    background : #f80;
}

.yith-wcbk-logs-group {
    display       : inline-block;
    padding       : 3px 8px;
    border-radius : 3px;
    background    : #828d95;
    color         : #fff;
}

.yith-wcbk-logs-group.general {
    background : #00bcd4;
}

.yith-wcbk-logs-group.google-calendar {
    background : #0077a8;
}

.yith-wcbk-logs-group.background-process {
    background : #009688;
}