/**
 * Admin style
 *
 * @author Leanza Francesco
 * @version 1.0.0
 *
 * Contents:
 *  1. Booking Product Wc Panel
 *  2. Availability Table
 *  3. Settings Table
 *  4. Booking Status
 *  5. Booking WP LIST
 *  6. Settings TAB
 *  7. Availability TAB
 *  8. Costs TAB
 *  9. Sync TAB
 *  10. Product Settings Table
 *  11. Hide "add booking services" for vendors
 *  12. Time Select
 *  13. Google Calendar
 *  14. Switch
 *  15. Create Booking
 *  16. Panel Settings
 *  17. Fields and Utils
 *
 */

/* ==========================================
 *  1. Booking Product Wc Panel
 * ==========================================
 */

input[type="number"].mini {
    width : 4em !important;
}

.yith_booking_multi_fields input, .yith_booking_multi_fields select {
    margin-right : 10px !important;
}

.woocommerce_options_panel .yith-wcbk-weekdays-checkboxes {
    width : 50%;
    float : left;
}

/* ------ Product Metabox Tabs Icon --------- */
#woocommerce-product-data ul.wc-tabs li.yith_booking_available_tab a:before {
    font-family : "WooCommerce";
    content     : '\e00e' !important;
}

#woocommerce-product-data ul.wc-tabs li.yith_booking_persons_tab a:before {
    font-family : "WooCommerce";
    content     : '\e03a' !important;
}

#woocommerce-product-data ul.wc-tabs li.yith_booking_costs_tab a:before {
    font-family : "WooCommerce";
    content     : '\e01f' !important;
}

#woocommerce-product-data ul.wc-tabs li.yith_booking_services_tab a:before {
    font-family : "WooCommerce";
    content     : '\e027' !important;
}

#woocommerce-product-data ul.wc-tabs li.yith_booking_sync_tab a:before {
    font-family : "Dashicons";
    content     : '\f463' !important;
}

#woocommerce-product-data ul.wc-tabs li.yith_booking_resources_tab a:before {
    font-family : "WooCommerce";
    content     : '\e01e' !important;
}

/* ---------- Booking Cost Table ----------------- */
#yith-wcbk-booking-costs-table select {
    min-width : 40px;
}

/* ==========================================
 *  2. Availability Table
 * ==========================================
 */
.yith-wcbk-availability-default-row, .yith-wcbk-costs-default-row {
    display : none;
}

#yith-wcbk-availability-hidden-utils-fields {
    display : none;
}

td.yith-wcbk-availability-delete, td.yith-wcbk-availability-anchor {
    width : 30px;
}

/* ==========================================
 *  3. Settings Table
 * ==========================================
 */
.yith-wcbk-booking-settings-table {
    width           : calc(100% - 20px);
    border-collapse : collapse;
    margin          : 10px;
    background      : #fff;
    border          : 1px solid #eaeaea;
}

.yith-wcbk-booking-settings-table tr {
    width      : 100%;
    background : #fff;
    border     : 1px solid #eaeaea;
}

.yith-wcbk-booking-settings-table th {
    padding : 10px;
}

.yith-wcbk-booking-settings-table td {
    padding       : 10px 5px;
    background    : #fff;
    border-top    : 1px solid #eaeaea;
    border-bottom : 1px solid #eaeaea;
    position      : relative;
}

.yith-wcbk-booking-settings-table select,
.yith-wcbk-booking-settings-table input[type=text],
.yith-wcbk-booking-settings-table input[type=number] {
    box-shadow  : none;
    height      : 28px;
    line-height : 1;
}

.yith-wcbk-booking-settings-table-full-width-fields select,
.yith-wcbk-booking-settings-table-full-width-fields input {
    width : 100% !important;
}

/* ==========================================
 *  4. Booking Status
 * ==========================================
 */
.yith-booking-status {
    border-radius    : 3px;
    padding          : 8px 12px;
    font-size        : 13px;
    background-color : #797979;
    color            : #fff;
    font-weight      : 400;
    display          : inline-block;
    text-align       : center;
    cursor           : default;
}

.yith-booking-status.unpaid {
    background-color : #797979;
}

.yith-booking-status.paid {
    background-color : #0b8043;
}

.yith-booking-status.completed {
    background : #0073aa !important;
}

.yith-booking-status.cancelled {
    background : #d81b60 !important;
}

.yith-booking-status.pending-confirm {
    background : #f6bf26 !important;
}

.yith-booking-status.confirmed {
    background : #039be5 !important;
}

.yith-booking-status.unconfirmed {
    background : #333 !important;
}

/* ==========================================
 *  5. Booking WP LIST
 * ==========================================
 */

.edit-php.post-type-yith_booking .widefat td {
    vertical-align : middle;
    padding        : 1em 0.5em;
}

.edit-php.post-type-yith_booking .wp-list-table .check-column {
    padding        : 1em 0.5em !important;
    vertical-align : middle;
}

.edit-php.post-type-yith_booking .wp-list-table tfoot th,
.edit-php.post-type-yith_booking .wp-list-table thead th {
    padding : .45em .5em;
}

.edit-php.post-type-yith_booking th.sortable a,
.edit-php.post-type-yith_booking th.sorted a {
    padding : 0;
}

@media screen and (min-width : 782px) {
    .post-type-yith_booking .row-actions {
        padding-left : 5px;
        display      : inline-block;
        float        : right;
    }
}

/* ------------ Actions ----------- */
.widefat .column-booking_actions a.button {
    float   : left;
    margin  : 0 4px 2px 0;
    cursor  : pointer;
    padding : 3px 4px;
    height  : auto;
}

.widefat .column-booking_actions {
    width : 125px;
}

.widefat small.meta {
    display : block;
    color   : #999;
    margin  : 3px 0;
}

.booking_actions .paid,
.booking_actions .view,
.booking_actions .confirmed,
.booking_actions .unconfirmed,
.booking_actions .get-pdf-customer,
.booking_actions .get-pdf-admin {
    display     : block;
    text-indent : -9999px;
    position    : relative;
    padding     : 0 !important;
    height      : 2em !important;
    width       : 2em;
}

.booking_actions .paid:after,
.booking_actions .view:after,
.booking_actions .confirmed:after,
.booking_actions .unconfirmed:after {
    font-family            : WooCommerce;
    text-indent            : 0;
    position               : absolute;
    width                  : 100%;
    height                 : 100%;
    speak                  : none;
    font-variant           : normal;
    text-transform         : none;
    -webkit-font-smoothing : antialiased;
    top                    : 0;
    left                   : 0;
    line-height            : 1.85;
    margin                 : 0;
    text-align             : center;
    font-weight            : 400;
}

.booking_actions .paid:after {
    content : "\e017"
}

.booking_actions .view:after {
    content : "\e010";
}

.booking_actions .confirmed:after {
    content : "\e009"
}

.booking_actions .unconfirmed:after {
    content : "\e602";
}

.booking_actions .get-pdf-customer:after,
.booking_actions .get-pdf-admin:after {
    font-family            : Dashicons;
    text-indent            : 0;
    position               : absolute;
    width                  : 100%;
    height                 : 100%;
    speak                  : none;
    font-variant           : normal;
    text-transform         : none;
    -webkit-font-smoothing : antialiased;
    top                    : 0;
    left                   : 0;
    line-height            : 1.85;
    margin                 : 0;
    text-align             : center;
    font-weight            : 400;
    content                : "\f498";

}

.booking_actions .get-pdf-admin:before {
    content       : "admin";
    position      : absolute;
    bottom        : -2px;
    left          : 0px;
    width         : 100%;
    z-index       : 10;
    display       : block;
    text-indent   : 0;
    text-align    : center;
    font-size     : 7px;
    line-height   : 10px;
    font-weight   : 600;
    border-radius : 3px;
}

/* ------------ Google Calendar Sync ----------- */
.wp-list-table .yith-wcbk-google-calendar-sync-head {
    display     : block;
    text-indent : -9999px;
    position    : relative;
    height      : 1em;
    width       : 1em;
    margin      : 0 auto;
    font-size   : 17px;
}

.wp-list-table .yith-wcbk-google-calendar-sync-head:after {
    content         : '';
    background      : url(../../images/google-calendar.png);
    background-size : contain;
    position        : absolute;
    width           : 25px;
    height          : 25px;
    top             : -5px;
    left            : -5px;
}

.wp-list-table .column-google-calendar-sync {
    width      : 25px;
    text-align : center;
}

.wp-list-table .column-google-calendar-sync .yith-wcbk-google-calendar-sync-status {
    color : #a0a0a0;
}

.wp-list-table .column-google-calendar-sync .yith-wcbk-google-calendar-sync-status.sync {
    color : #4382ec;
}

/* ------------ Responsive ----------- */
@media only screen and (max-width : 782px) {
    .wp-list-table .column-google-calendar-sync {
        text-align : left;
    }
}

#yith_booking_services_tab .select2-container {
    width : 50%;
}

/* ==========================================
 *  6. Settings TAB
 * ==========================================
 */
#yith-wcbk-settings-tab-wrapper {
    background    : #fff;
    margin-bottom : 20px;
}

#yith-wcbk-settings-tab-wrapper .yith-wcbk-settings-content {
    padding : 10px;
}

#yith-wcbk-settings-tab-wrapper .form-field {
    padding : 10px;
}

#yith-wcbk-settings-tab-wrapper .form-field label {
    width       : 150px;
    display     : inline-block;
    max-width   : 50%;
    font-weight : 600;
    font-size   : 1.1em;
}

#yith-wcbk-booking-availability-table input[type=text], #yith-wcbk-booking-availability-table select {
    width         : 150px;
    border-radius : 3px;
    margin        : 0 5px;
}

#yith-wcbk-booking-availability-table input, #yith-wcbk-booking-availability-table select, #yith-wcbk-booking-availability-table label {
    float : none;
}

#yith-wcbk-booking-availability-table label {
    margin : 0;
}

/* ==========================================
 *  7. Availability TAB
 * ==========================================
 */
.yith-wcbk-availability-default-row {
    display : none;
}

.yith-wcbk-availability-range-column-ranges, .yith-wcbk-availability-range-column-days {
    width : 100%;
}

.yith-wcbk-availability-anchors {
    display : block;
}

.yith-wcbk-availability-time-enabled-anchor {
    display             : inline-block;
    cursor              : pointer;
    padding             : 6px 10px;
    margin-bottom       : 10px;
    user-select         : none;
    -moz-user-select    : none;
    -khtml-user-select  : none;
    -webkit-user-select : none;
    -o-user-select      : none;
}

.yith-wcbk-availability-time-enabled-anchor:hover {
    color : #31bfff;
}

.yith-wcbk-availability-range-column-days {
    margin     : 15px 0 5px 0;
    text-align : center;
}

.yith-wcbk-hide-times .yith-wcbk-availability-range-day-container {
    display : inline-block;
}

.yith-wcbk-hide-times .yith-wcbk-time-select__container {
    display : none;
}

.yith-wcbk-availability-actions-column {
    vertical-align : top;
    text-align     : right;
    padding-top    : 14px !important;
    padding-right  : 9px !important;
}

.yith-wcbk-availability-toggle-visible {
    cursor : pointer;
}

.yith-wcbk-availability-toggle-visible:hover {
    color : #009ad2;
}

.yith-wcbk-availability-range-column-ranges-month,
.yith-wcbk-availability-range-column-ranges-date {
    display : inline;
}

.yith-wcbk-on-off-container,
.yith-wcbk-on-off-advanced-container {
    cursor              : pointer;
    -moz-user-select    : none;
    -khtml-user-select  : none;
    -webkit-user-select : none;
    -o-user-select      : none;
}

.yith-wcbk-bookable-onoff {
    display             : inline-block;
    margin-left         : 20px;
    vertical-align      : top;
    user-select         : none;
    -moz-user-select    : none;
    -khtml-user-select  : none;
    -webkit-user-select : none;
    -o-user-select      : none;
}

.yith-wcbk-bookable-onoff-enabled, .yith-wcbk-bookable-onoff-disabled {
    display        : block;
    padding        : 3px 7px;
    background     : #00985c;
    border-radius  : 3px;
    color          : #fff;
    cursor         : pointer;
    font-weight    : 700;
    text-transform : uppercase;
    font-size      : 11px;
    min-width      : 105px;
    text-align     : center;
    margin-top     : 2px;
}

.yith-wcbk-bookable-onoff-disabled {
    background : #cc2145;
}

.yith-wcbk-day-onoff {
    display        : inline-block;
    margin-left    : 10px;
    vertical-align : top;
}

.yith-wcbk-day-onoff-enabled, .yith-wcbk-day-onoff-disabled,
.yith-wcbk-day-onoff-advanced-yes, .yith-wcbk-day-onoff-advanced-no, .yith-wcbk-day-onoff-advanced-disabled {
    display        : inline-block;
    width          : 35px;
    height         : 35px;
    line-height    : 35px;
    background     : #00985c;
    border-radius  : 3px;
    color          : #fff;
    cursor         : pointer;
    font-weight    : 700;
    text-transform : uppercase;
    font-size      : 11px;
    text-align     : center;
    margin-top     : 2px;
}

.yith-wcbk-day-onoff-disabled,
.yith-wcbk-day-onoff-advanced-no {
    background : #cc2145;
}

.yith-wcbk-day-onoff-advanced-disabled {
    background : #a0a2a8;
}

.yith-wcbk-bookable-onoff-enabled:hover, .yith-wcbk-day-onoff-enabled:hover, .yith-wcbk-day-onoff-advanced-yes:hover {
    background : #00c97b;
}

.yith-wcbk-bookable-onoff-disabled:hover, .yith-wcbk-day-onoff-disabled:hover, .yith-wcbk-day-onoff-advanced-no:hover {
    background : #f4435b;
}

.yith-wcbk-day-onoff-advanced-disabled:hover {
    background : #c7c9cf;
}

/* ==========================================
 *  8. Costs TAB
 * ==========================================
 */
.yith-wcbk-costs-default-row {
    display : none;
}

.yith-wcbk-costs-range-column-ranges, .yith-wcbk-costs-range-column-costs {
    width   : 100%;
    display : block;
}

.yith-wcbk-costs-range-column-costs {
    margin  : 20px 0 0 0;
    display : none;
}

.yith-wcbk-costs-range-column-costs * {
    vertical-align : middle;
}

.yith-wcbk-costs-range-column-ranges input, .yith-wcbk-costs-range-column-ranges select {
    width : 200px;
}

td.yith-wcbk-costs-anchor {
    width : 30px;
}

.yith-wcbk-costs-actions-column {
    vertical-align : top;
    text-align     : right;
    padding-top    : 14px !important;
    padding-right  : 9px !important;
}

.yith-wcbk-costs-toggle-visible {
    cursor : pointer;
}

.yith-wcbk-costs-toggle-visible:hover {
    color : #009ad2;
}

/* ==========================================
 *  9. Sync TAB
 * ==========================================
 */
#yith_booking_sync_tab ._yith_booking_sync_export_future_ics_url a {
    color           : inherit;
    text-decoration : none;
}

#yith_booking_sync_tab ._yith_booking_sync_export_future_ics_url span {
    margin-left : 7px;
}

.yith-wcbk-product-sync-imported-calendars-table {
    width           : 100%;
    border-collapse : collapse;
    background      : #fff;
    border          : 1px solid #eaeaea;
    text-align      : left;
}

.yith-wcbk-product-sync-imported-calendars-table tr {
    width      : 100%;
    background : #fff;
    border     : 1px solid #eaeaea;
}

.yith-wcbk-product-sync-imported-calendars-table th {
    padding : 10px;
}

.yith-wcbk-product-sync-imported-calendars-table tfoot th {
    font-weight : inherit;
}

.yith-wcbk-product-sync-imported-calendars-table td {
    padding       : 10px 5px;
    background    : #fff;
    border-top    : 1px solid #eaeaea;
    border-bottom : 1px solid #eaeaea;
    position      : relative;
}

.yith-wcbk-product-sync-imported-calendars-table input[type=text],
.woocommerce_options_panel .yith-wcbk-product-sync-imported-calendars-table input[type=text] {
    float       : none;
    width       : 100%;
    box-shadow  : none;
    height      : 28px;
    line-height : 1;
}

.yith-wcbk-product-sync-imported-calendars-table td .delete {
    display     : block;
    text-indent : -9999px;
    position    : relative;
    height      : 14px;
    width       : 1em;
    font-size   : 1.2em;
}

.yith-wcbk-product-sync-imported-calendars-table td .delete:before {
    font-family            : Dashicons;
    speak                  : none;
    font-weight            : 400;
    font-variant           : normal;
    text-transform         : none;
    line-height            : 1;
    -webkit-font-smoothing : antialiased;
    margin                 : 0;
    text-indent            : 0;
    position               : absolute;
    top                    : 0;
    left                   : 0;
    width                  : 100%;
    height                 : 100%;
    text-align             : center;
    content                : "";
    color                  : #999;
}

.yith-wcbk-product-sync-imported-calendars-table td .delete:hover:before {
    color : #a00;
}

/* ==========================================
 *  10. Product Settings Table
 * ==========================================
 */
.yith-wcbk-product-settings-table {
    width : 100%;
}

.yith-wcbk-product-settings-table td.yith-wcbk-product-settings-table__label,
.yith-wcbk-product-settings-table td.yith-wcbk-product-settings-table__field {
    padding        : 10px;
    vertical-align : top;
}

.woocommerce_options_panel .yith-wcbk-product-settings-table label {
    float  : none;
    margin : 0;
    width  : auto;
}

.yith-wcbk-product-settings-table td.yith-wcbk-product-settings-table__label {
    width : 160px;
}

/* ==========================================
 *  11. Hide "add booking services" for vendors
 * ==========================================
 */
.vendor_limited_access #yith_booking_service-adder {
    display : none;
}

/* ==========================================
 *  12. Time Select
 * ==========================================
 */
.yith-wcbk-time-select__container {
    display    : inline-block;
    border     : 1px solid #ccc;
    margin     : 0 5px;
    box-shadow : inset 0 1px 2px rgba(0, 0, 0, 0.07);
    background : #fff;
}

.yith-wcbk-time-select__container select.yith-wcbk-time-select-hour,
.yith-wcbk-time-select__container select.yith-wcbk-time-select-minute {
    width         : 50px !important;
    border        : none !important;
    box-shadow    : none !important;
    background    : transparent !important;
    margin        : 0 !important;
    border-radius : 0 !important;
}

.yith-wcbk-time-select__container select.yith-wcbk-time-select-hour {
    border-right : 1px solid #ddd !important;
}

/* ==========================================
 *  13. Google Calendar
 * ==========================================
 */
#yith-wcbk-settings-tab-wrapper.google-calendar {
    box-shadow     : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    position       : relative;
    padding-bottom : 80px;
    float          : left;
    margin-right   : 20px;
}

#yith-wcbk-settings-tab-wrapper.google-calendar .yith-wcbk-settings-content {
    width      : 500px;
    min-height : 350px;
    background : #fff;
    padding    : 48px 40px 36px;
    text-align : center;
    box-sizing : border-box;
}

#yith-wcbk-settings-tab-wrapper.google-calendar h1,
#yith-wcbk-settings-tab-wrapper.google-calendar h2,
#yith-wcbk-settings-tab-wrapper.google-calendar h3 {
    font-weight : 200;
}

#yith-wcbk-settings-tab-wrapper.google-calendar h3 {
    font-size : 24px;
    margin    : 0 0 40px 0;
}

.yith-wcbk-google-calendar-notices {
    width         : 100%;
    margin-bottom : 10px;
}

.yith-wcbk-google-calendar-notice {
    display       : block;
    padding       : 5px 7px;
    width         : 100%;
    margin-bottom : 5px;
    border-left   : 3px solid;
    text-align    : left;
    color         : #828d95;
}

.yith-wcbk-google-calendar-notice.error {
    color : #ba0049;
}

.yith-wcbk-google-calendar-notice.info {
    color : #0077a8;
}

.yith-wcbk-google-calendar-profile * {
    box-sizing : border-box;
}

.yith-wcbk-google-calendar-profile__image {
    float        : left;
    width        : calc(40% - 10px);
    margin-right : 10px;
}

.yith-wcbk-google-calendar-profile__image img {
    width  : 100%;
    border : 5px solid #eee;
}

.yith-wcbk-google-calendar-profile__data {
    float      : left;
    width      : 60%;
    padding    : 5px;
    text-align : left;

}

.yith-wcbk-google-calendar-profile__title {
    font-size   : 24px;
    font-weight : 200;
}

.yith-wcbk-google-calendar-timezone-info {
    margin-top  : 10px;
    line-height : 1.8;
    font-size   : 14px;
    color       : #555;
}

.yith-wcbk-google-calendar-how-to {
    margin-top : 20px;
    color      : #555;
}

.yith-wcbk-google-calendar-how-to a {
    color : #555;
}

.yith-wcbk-google-calendar-actions__container {
    position   : absolute;
    width      : 100%;
    left       : 0;
    bottom     : 0;
    background : #f5f5f5;
    height     : 80px;
    box-sizing : border-box;
    display    : table;
}

.yith-wcbk-google-calendar-actions {
    display        : table-cell;
    vertical-align : middle;
}

.yith-wcbk-google-calendar-action {
    margin  : 5px;
    display : inline-block;
}

.yith-wcbk-google-calendar-access-form {
    margin-bottom : 10px;
}

#yith-wcbk-settings-tab-wrapper.google-calendar input[type=text] {
    padding   : 8px 13px;
    margin    : 5px 0;
    font-size : 17px;
    width     : 100%;
    color     : #565656;
}

.yith-wcbk-google-calendar-access-form a.yith-wcbk-google-calendar-button,
.yith-wcbk-google-calendar-access-form input,
.yith-wcbk-google-calendar-access-form button {
    margin : 5px 0;
}

.yith-wcbk-google-calendar-options {
    padding : 15px 0;
}

.yith-wcbk-google-calendar-options table {
    width : 100%;
}

.yith-wcbk-google-calendar-options table th,
.yith-wcbk-google-calendar-options table td {
    padding    : 5px;
    text-align : left;
}

.yith-wcbk-google-calendar-options select {
    width : 100%;
}

.yith-wcbk-google-calendar-options input[type=submit] {
    margin-top : 25px;
}

.yith-wcbk-google-calendar-button {
    display         : inline-block;
    padding         : 13px 30px;
    background      : #0077a8;
    border-radius   : 4px;
    border          : none;
    text-transform  : uppercase;
    font-size       : 12px;
    cursor          : pointer;
    font-weight     : 600;
    text-decoration : none;
    color           : #fff !important;
    box-shadow      : none;
    line-height     : 100%;
    white-space     : nowrap;
}

.yith-wcbk-google-calendar-button:hover, .yith-wcbk-google-calendar-button:active, .yith-wcbk-google-calendar-button:focus {
    background : #41add4;
    outline    : none;
}

.yith-wcbk-google-calendar-button.logout {
    background : #3d4248;
}

.yith-wcbk-google-calendar-button.logout:hover {
    background : #828d95;
}

.yith-wcbk-google-calendar-button.delete-client-secret {
    background : #af0216;
}

.yith-wcbk-google-calendar-button.delete-client-secret:hover {
    background : #f90220;
}

#yith-wcbk-settings-tab-google-calendar-secondary-panel {
    width      : calc(100% - 520px);
    min-width  : 500px;
    background : #fff;
    box-shadow : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    position   : relative;
    float      : left;
    box-sizing : border-box;
}

#yith-wcbk-settings-tab-google-calendar-secondary-panel h3 {
    font-size   : 24px;
    font-weight : 200;
    padding     : 48px 43px 43px 43px;
    margin      : 0;
}

#yith-wcbk-settings-tab-google-calendar-secondary-panel table {
    width           : 100%;
    border-collapse : collapse;
}

#yith-wcbk-settings-tab-google-calendar-secondary-panel table th,
#yith-wcbk-settings-tab-google-calendar-secondary-panel table td {
    padding     : 20px 0;
    font-weight : 400;
    font-size   : 14px;
}

#yith-wcbk-settings-tab-google-calendar-secondary-panel table th {
    text-align   : left;
    padding-left : 43px;
}

#yith-wcbk-settings-tab-google-calendar-secondary-panel table td {
    text-align    : right;
    padding-right : 43px;
}

#yith-wcbk-settings-tab-google-calendar-secondary-panel .description {
    display     : block;
    color       : #777;
    padding-top : 5px;
    font-size   : 12px;
    font-style  : italic;
}

#yith-wcbk-google-calendar-settings-synchronize-booking-events-container .yith-plugin-fw-onoff-container {
    display : inline-block;
}

#yith-wcbk-google-calendar-settings-synchronize-booking-events-container > div {
    margin : 15px 0;
}

/* ==========================================
 *  14. Switch
 * ==========================================
 */
.yith-wcbk-switch {
    position : relative;
    display  : inline-block;
    width    : 36px;
    height   : 20px;
}

.yith-wcbk-switch input {
    display : none;
}

.yith-wcbk-switch-slider {
    position           : absolute;
    cursor             : pointer;
    top                : 0;
    left               : 0;
    right              : 0;
    bottom             : 0;
    background-color   : #a4a4a4;
    -webkit-transition : .4s;
    transition         : .4s;
    border-radius      : 10px;
}

.yith-wcbk-switch-slider:before {
    position           : absolute;
    content            : "";
    height             : 16px;
    width              : 16px;
    left               : 2px;
    bottom             : 2px;
    background-color   : white;
    -webkit-transition : .4s;
    transition         : .4s;
    border-radius      : 50%;
}

.yith-wcbk-switch input:checked + .yith-wcbk-switch-slider {
    background-color : #0073aa;
}

.yith-wcbk-switch input:checked + .yith-wcbk-switch-slider:before {
    -webkit-transform : translateX(16px);
    -ms-transform     : translateX(16px);
    transform         : translateX(16px);
}

/* ==========================================
 *  15. Create Booking
 * ==========================================
 */
#yith-wcbk-create-booking-page-wrap {
    background : #fff;
    padding    : 36px 40px;
    margin-top : 20px;
    box-shadow : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    max-width  : 600px;
}

#yith-wcbk-create-booking-page-wrap h2 {
    font-size   : 24px;
    font-weight : 200;
    padding     : 15px 0 36px;
    margin      : 0;
}

#yith-wcbk-create-booking-page-wrap th {
    font-weight    : 600;
    text-transform : uppercase;
    text-align     : right;
    width          : 100px;
}

#yith-wcbk-create-booking-form-wrap {
    max-width : 400px;
}

#yith-wcbk-create-booking-form-wrap .yith-wcbk-form-section {
    padding : 0 0 10px 0;
    clear   : both;
}

#yith-wcbk-create-booking-form-wrap .yith-wcbk-month-picker-wrapper {
    max-width : none;
    width     : 100%;
}

#yith-wcbk-create-booking-form-wrap input {
    width : 100%;
}

#yith-wcbk-create-booking-form-wrap input[type=checkbox] {
    width : auto;
}

#yith-wcbk-create-booking-form-wrap .price {
    width         : 100%;
    margin-bottom : 20px;
    text-align    : center;
    font-size     : 16px;
    font-weight   : 600;
}

#yith-wcbk-create-booking-page-wrap .yith-wcbk-create-booking {

}

#yith-wcbk-create-booking-page-wrap .yith-wcbk-create-booking {
    border         : none;
    border-radius  : 4px;
    margin         : 0;
    display        : inline-block;
    padding        : 10px 30px;
    font-size      : 16px;
    text-transform : none;
    background     : #00a699;
    color          : #fff;
    cursor         : pointer;
}

#yith-wcbk-create-booking-page-wrap .yith-wcbk-create-booking:hover {
    background : #41b7ae;
    color      : #fff;
    opacity    : 1;
}

#yith-wcbk-create-booking-page-wrap .yith-wcbk-create-booking:disabled {
    cursor : not-allowed;
}

#yith-wcbk-create-booking-page-wrap .yith-wcbk-date-range-picker input.yith-wcbk-date-picker {
    border  : 0 !important;
    padding : 12px 14px !important;
}

#yith-wcbk-create-booking-page-wrap .blockUI.blockOverlay::before {
    display : none;
}

#yith-wcbk-create-booking-page-wrap .yith-wcbk-block-ui-element {
    top       : 50% !important;
    left      : 50% !important;
    transform : translateX(-50%) translateY(-50%) !important;
}

/* ==========================================
 *  16. Panel Settings
 * ==========================================
 */
.yith-wcbk-settings-theme-actions__active-status {
    display         : inline-block;
    text-decoration : none;
    color           : #2da385;
    margin-right    : 15px;
    border-radius   : 3px;
    font-weight     : 500;
    text-transform  : uppercase;
    padding         : 7px 0;
}

.yith-wcbk-settings-theme-actions__button {
    display         : inline-block;
    border-radius   : 3px;
    text-transform  : uppercase;
    padding         : 7px 14px;
    background      : #ebe9eb;
    text-decoration : none;
    color           : #515151;
    font-weight     : 500;
    font-size       : 0.9em;
    margin-right    : 6px;
}

.yith-wcbk-settings-theme-actions__button:hover,
.yith-wcbk-settings-theme-actions__button:focus,
.yith-wcbk-settings-theme-actions__button:active {
    color      : #515151;
    background : #dad8da;
}

.yith-wcbk-settings-theme-actions__button:last-child {
    border-right : none;
}

.yith-wcbk-settings-theme-actions__message {
    margin-top : 6px;
}

/* ==========================================
 *  17. Fields and Utils
 * ==========================================
 */

.yith-wcbk-anchor {
    width       : 30px;
    font-size   : 30px;
    line-height : 22px;
    cursor      : move;
}

.yith-wcbk-anchor:hover {
    color : #009ad2;
}

.yith-wcbk-delete {
    font-size   : 30px;
    width       : 30px;
    line-height : 22px;
}

.yith-wcbk-delete:hover {
    color  : #d20909;
    cursor : pointer;
}

.yith-wcbk-bottom-actions {
    width      : 100%;
    padding    : 10px;
    box-sizing : border-box;
    margin-top : 10px;
}

.yith-wcbk-bottom-actions .yith-wcbk-desc {
    font-style : italic;
    clear      : both;
    display    : block;
    margin-top : 20px;
}

.yith-wcbk-right {
    text-align : right;
}

.yith-wcbk-hidden-utils-fields {
    display : none;
}

.yith-wcbk-on-off.dashicons-no {
    color : #900;
}

.yith-wcbk-on-off.dashicons-yes {
    color : #009918;
}

.yith-wcbk-copy-to-clipboard {
    cursor     : pointer !important;
    transition : all 0.6s ease;
}

.yith-wcbk-copy-to-clipboard:active {
    transition-duration : 0s;
    color               : #009ad2;
    transform           : scale(1.5);
}

.yith-wcbk-google-maps-places-autocomplete {
    background : #fff !important;
}

.yith-wcbk-move {
    display : none;
}

.yith-wcbk-show-conditional {
    display : none;
}