#screen-meta-links {
    display : none;
}

#yith-wcbk-booking-calendar-wrap {
    border-radius       : 4px;
    overflow            : hidden;
    border              : 1px solid #c8c8c8;
    border-top-color    : #e5e5e5;
    border-bottom-color : #b5b5b5;
}

.yith-wcbk-booking-calendar {
    width          : 100%;
    background     : #fff;
    border-spacing : 4px 0;
}

.yith-wcbk-booking-calendar thead th {
    background     : #fff;
    padding        : 5px 2px;
    color          : #999;
    text-align     : left;
    font-weight    : 600;
    text-transform : uppercase;
    font-size      : 11px;
}

.yith-wcbk-booking-calendar td {
    width          : 14.285%;
    vertical-align : top;
    padding        : 5px;
}

.yith-wcbk-booking-calendar > tbody > tr > td {
    background         : #fff;
    border-top         : 4px solid #f1f1f1;
    -webkit-transition : height 400ms ease;
    -moz-transition    : height 400ms ease;
    -o-transition      : height 400ms ease;
    -ms-transition     : height 400ms ease;
    transition         : height 400ms ease;
}

.yith-wcbk-booking-calendar-month > tbody > tr > td {
    height : 156px;
}

.yith-wcbk-booking-calendar tbody tr.expanded td {
    height : 600px !important;
}

.yith-wcbk-booking-calendar tbody tr.closed td {
    height : 20px !important;
}

.yith-wcbk-booking-calendar tbody td.yith-wcbk-booking-calendar-day-container {
    background : #fafafa;
}

.yith-wcbk-booking-calendar tbody td.yith-wcbk-booking-calendar-day-container.current-month {
    background : #fff;
}

.yith-wcbk-booking-calendar tbody td.yith-wcbk-booking-calendar-day-container.today {
    background : #e8f8ff;
}

.yith-wcbk-booking-calendar-expand-week {
    width : 5px !important;
}

td.yith-wcbk-booking-calendar-expand-week {
    border-top         : 4px solid #fff !important;
    background         : #b2c0d6 !important;
    padding            : 4px !important;
    cursor             : pointer;
    -webkit-transition : background-color 150ms linear;
    -moz-transition    : background-color 150ms linear;
    -o-transition      : background-color 150ms linear;
    -ms-transition     : background-color 150ms linear;
    transition         : background-color 150ms linear;
}

td.yith-wcbk-booking-calendar-expand-week:hover {
    background : #a2cfeb !important;
}

#yith-wcbk-booking-calendar-select-product {
    padding    : 10px;
    text-align : center;
    background : #fff;
}

/* ====== Action Bar ====== */
#yith-wcbk-booking-calendar-action-bar {
    background : #fff;
    padding    : 7px;
    width      : 100%;
    min-height : 65px;
    box-sizing : border-box;
    clear      : both;
    position   : relative;
}

#yith-wcbk-booking-calendar-action-bar-left,
#yith-wcbk-booking-calendar-action-bar-center {
    float : left;
}

#yith-wcbk-booking-calendar-action-bar-left {
    width : calc(50% - 80px);
}

#yith-wcbk-booking-calendar-action-bar-center {
    position   : absolute;
    top        : 7px;
    left       : calc(50% - 80px);
    text-align : center;
}

#yith-wcbk-booking-calendar-action-bar-right {
    float : right;
}

#yith-wcbk-booking-calendar-action-bar a {
    text-decoration : none;
    box-shadow      : none !important;
}

.yith-wcbk-booking-calendar-action {
    cursor : pointer;
}

#yith-wcbk-booking-calendar-action-bar span {
    padding : 5px;
    display : inline-block;
}

.yith-wcbk-booking-calendar-action-current-date {
    font-size : 15px;
    color     : #255284;
    padding   : 0 5px !important;
}

.yith-wcbk-booking-calendar-action-current-date select {
    width         : 150px;
    box-shadow    : none;
    border-radius : 3px;
    padding       : 5px 7px;
    height        : auto;
}

.yith-wcbk-booking-calendar-action-current-date button {
    border     : none !important;
    background : #fff !important;
    box-shadow : none !important;
    outline    : none !important;
}

#yith-wcbk-booking-calendar-action-select-date-submit {
    color      : #0073aa;
    padding    : 0 !important;
    cursor     : pointer;
    box-sizing : border-box;
    transform  : translateY(5px);
}

#yith-wcbk-booking-calendar-action-select-date-submit:hover {
    color : #009ce4;
}

.yith-wcbk-booking-calendar-action-prev-month, .yith-wcbk-booking-calendar-action-next-month {

}

#yith-wcbk-booking-calendar-action-bar .yith-wcbk-admin-date-picker,
#yith-wcbk-booking-calendar-fast-search {
    width         : 250px;
    border-radius : 3px;
    box-shadow    : none;
    font-size     : 15px;
    padding       : 5px 8px;
}

#yith-wcbk-booking-calendar-action-bar .yith-wcbk-admin-date-picker {
    width : 150px;
}

input#yith-wcbk-booking-calendar-fast-search::-webkit-input-placeholder {
    color : #bbb;
}

input#yith-wcbk-booking-calendar-fast-search:-moz-placeholder {
    color : #bbb;
}

input#yith-wcbk-booking-calendar-fast-search:-ms-input-placeholder {
    color : #bbb;
}

.yith-wcbk-booking-calendar .yith-wcbk-booking-calendar-day a {
    color           : #656565;
    font-weight     : 600;
    font-size       : 12px;
    text-decoration : none;
    box-shadow      : none;
}

.yith-wcbk-booking-calendar .yith-wcbk-booking-calendar-day a:hover {
    color : #2470ff;
}

.yith-wcbk-booking-calendar-month .bookings {
    height     : calc(100% - 20px);
    overflow-y : auto;
}

.yith-wcbk-booking-calendar-action-bar-change-view {
    display        : inline-block;
    margin-right   : -4px;
    text-align     : center;
    text-transform : uppercase;
    font-size      : 11px;
    font-weight    : 600;
    background     : #f1f1f1;
}

.yith-wcbk-booking-calendar-action-bar-change-view a {
    display         : inline-block;
    min-width       : 60px;
    padding         : 5px 11px;
    text-decoration : none;
    color           : #555;
}

.yith-wcbk-booking-calendar-action-bar-change-view.current {
    background : #00bcd4;
}

.yith-wcbk-booking-calendar-action-bar-change-view.current a {
    color : #fff;
}

.yith-wcbk-booking-calendar-action-bar-change-view:hover {
    background : #98e3f1;
}

.yith-wcbk-booking-calendar-action-bar-change-view:first-child {
    border-radius : 3px 0 0 3px;
}

.yith-wcbk-booking-calendar-action-bar-change-view:last-child {
    border-radius : 0 3px 3px 0;
}

.yith-wcbk-booking-calendar-action-bar-change-time-step__container {
    margin  : 8px auto 0 auto;
    display : inline-block;
}

.yith-wcbk-booking-calendar-action-bar-time-step {
    display      : block;
    text-align   : center;
    font-size    : 11px;
    font-weight  : 600;
    background   : #f1f1f1;
    border-right : 2px solid #fff;
    float        : left;
}

.yith-wcbk-booking-calendar-action-bar-time-step a {
    display         : inline-block;
    min-width       : 30px;
    padding         : 2px 6px;
    text-decoration : none;
    color           : #555;
}

.yith-wcbk-booking-calendar-action-bar-time-step.current {
    background : #00bcd4;
}

.yith-wcbk-booking-calendar-action-bar-time-step.current a {
    color : #fff;
}

.yith-wcbk-booking-calendar-action-bar-time-step:hover {
    background : #98e3f1;
}

.yith-wcbk-booking-calendar-action-bar-time-step:first-child {
    border-radius : 3px 0 0 3px;
}

.yith-wcbk-booking-calendar-action-bar-time-step:last-child {
    border-radius : 0 3px 3px 0;
    border-right  : none;
}

/* ====== Single Booking in calendar ====== */

.yith-wcbk-booking-calendar-single-booking {
    margin             : 1px 2px;
    background         : #797979;
    border-radius      : 0;
    padding            : 0;
    color              : #fff;
    cursor             : default !important;
    -webkit-transition : background-color 150ms linear;
    -moz-transition    : background-color 150ms linear;
    -o-transition      : background-color 150ms linear;
    -ms-transition     : background-color 150ms linear;
    transition         : background-color 150ms linear;
}

.yith-wcbk-booking-calendar-single-booking.unpaid {
    background : #797979;
}

.yith-wcbk-booking-calendar-single-booking.paid {
    background : #0b8043;
}

.yith-wcbk-booking-calendar-single-booking.completed {
    background : #0073aa;
}

.yith-wcbk-booking-calendar-single-booking.cancelled {
    background : #d81b60;
}

.yith-wcbk-booking-calendar-single-booking.pending-confirm {
    background : #f6bf26;
}

.yith-wcbk-booking-calendar-single-booking.confirmed {
    background : #039be5;
}

.yith-wcbk-booking-calendar-single-booking.unconfirmed {
    background : #333;
}

.yith-wcbk-booking-calendar-single-booking.external {
    background : repeating-linear-gradient(45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 30px, rgba(255, 255, 255, 0.1) 30px, rgba(255, 255, 255, 0.1) 60px) #607d8b;
}

.yith-wcbk-booking-calendar-single-booking.external[data-external-host=airbnb] {
    background : repeating-linear-gradient(45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 30px, rgba(255, 255, 255, 0.1) 30px, rgba(255, 255, 255, 0.1) 60px) #008489;
}

.yith-wcbk-booking-calendar-single-booking.external[data-external-host=booking-com] {
    background : repeating-linear-gradient(45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 30px, rgba(255, 255, 255, 0.1) 30px, rgba(255, 255, 255, 0.1) 60px) #003580;
}

.yith-wcbk-booking-calendar-single-booking:hover .yith-wcbk-booking-calendar-single-booking-title, .yith-wcbk-booking-calendar-single-booking.yith-wcbk-hover .yith-wcbk-booking-calendar-single-booking-title {
    background : rgba(255, 255, 255, 0.3);
}

.yith-wcbk-booking-calendar-single-booking-title {
    padding             : 0 8px;
    cursor              : pointer;
    position            : relative;
    overflow            : hidden;
    height              : 26px;
    line-height         : 26px;
    user-select         : none;
    -moz-user-select    : none;
    -khtml-user-select  : none;
    -webkit-user-select : none;
    -o-user-select      : none;
}

.yith-wcbk-booking-calendar-single-booking-title h3 {
    font-size   : 11px;
    font-weight : 600;
    margin      : 0;
    color       : #fff;
    position    : absolute;
    white-space : nowrap;
    width       : calc(100% - 16px);
    overflow    : hidden;
}

.yith-wcbk-booking-calendar-single-booking.external .yith-wcbk-booking-calendar-single-booking-title__external-calendar {
    padding       : 3px;
    border-radius : 2px;
    background    : #47687794;
    margin-right  : 3px;
    border        : 1px solid rgba(255, 255, 255, 0.6);
}

.yith-wcbk-booking-calendar-single-booking.external[data-external-host=airbnb] .yith-wcbk-booking-calendar-single-booking-title__external-calendar {
    background : #00848994;
}

.yith-wcbk-booking-calendar-single-booking.external[data-external-host=booking-com] .yith-wcbk-booking-calendar-single-booking-title__external-calendar {
    background : #00358094;
}

.yith-wcbk-booking-calendar-single-booking-data {
    font-size     : 14px;
    color         : #444;
    display       : none;
    padding       : 0;
    background    : inherit;
    position      : absolute;
    box-shadow    : 0 24px 38px 3px rgba(0, 0, 0, 0.2), 0 9px 46px 8px rgba(0, 0, 0, 0.15), 0 11px 15px -7px rgba(0, 0, 0, 0.5);
    margin        : 15px 0 20px -16px;
    width         : 500px;
    border-radius : 4px;
    z-index       : 999;
    font-weight   : 200;
}

.yith-wcbk-booking-calendar-month .yith-wcbk-booking-calendar-day-container:nth-last-child(-n + 2) .yith-wcbk-booking-calendar-single-booking-data,
.yith-wcbk-booking-calendar-day .yith-wcbk-booking-calendar-single-booking:nth-child(4n) .yith-wcbk-booking-calendar-single-booking-data {
    margin-left : 0;
    right       : 10px;
}

@media screen and (max-width : 1350px) {
    .yith-wcbk-booking-calendar-month .yith-wcbk-booking-calendar-day-container:nth-last-child(3) .yith-wcbk-booking-calendar-single-booking-data {
        margin-left : 0;
        right       : 10px;
    }
}

@media screen and (max-width : 1245px) {
    .yith-wcbk-booking-calendar-day .yith-wcbk-booking-calendar-single-booking:nth-child(3n) .yith-wcbk-booking-calendar-single-booking-data {
        margin-left : 0;
        right       : 10px;
    }
}

@media screen and (max-width : 1070px) {
    .yith-wcbk-booking-calendar-month .yith-wcbk-booking-calendar-day-container:nth-last-child(4) .yith-wcbk-booking-calendar-single-booking-data {
        margin-left : 0;
        right       : 10px;
    }
}

@media screen and (max-width : 750px) {
    .yith-wcbk-booking-calendar-month .yith-wcbk-booking-calendar-day-container:nth-last-child(n) .yith-wcbk-booking-calendar-single-booking-data,
    .yith-wcbk-booking-calendar-day .yith-wcbk-booking-calendar-single-booking:nth-child(n) .yith-wcbk-booking-calendar-single-booking-data {
        margin-left : 0;
        right       : calc(50% - 250px);
    }
}

@media screen and (max-width : 500px) {
    .yith-wcbk-booking-calendar-month .yith-wcbk-booking-calendar-day-container:nth-last-child(n) .yith-wcbk-booking-calendar-single-booking-data,
    .yith-wcbk-booking-calendar-day .yith-wcbk-booking-calendar-single-booking:nth-child(n) .yith-wcbk-booking-calendar-single-booking-data {
        transform : scale(0.7);
    }
}

.yith-wcbk-booking-calendar-single-booking-data * {
    box-sizing : border-box;
}

.yith-wcbk-booking-calendar-single-booking-data-wrapper {
    border-radius : 4px;
    overflow      : hidden;
}

.yith-wcbk-booking-calendar-single-booking-data a {
    color       : #444;
    font-weight : 500;
    box-shadow  : none;
}

.yith-wcbk-booking-calendar-single-booking-data-actions__container {
    text-align : right;
    padding    : 8px 10px 0 0;
}

.yith-wcbk-booking-calendar-single-booking-data-actions__container a {
    text-decoration : none;
}

.yith-wcbk-booking-calendar-single-booking-data-action {
    display         : inline-block;
    color           : #fff;
    cursor          : pointer;
    font-size       : 23px;
    text-decoration : none;
    width           : auto;
    height          : auto;
    padding         : 8px;
    border-radius   : 50%;
}

.yith-wcbk-booking-calendar-single-booking-data-action:hover {
    background : rgba(255, 255, 255, 0.2);
}

.yith-wcbk-booking-calendar-single-booking-data-title__container {
    padding : 3px 25px 5px 25px;
}

.yith-wcbk-booking-calendar-single-booking-data-title__container h2 {
    font-weight : 200;
    color       : #fff;
    margin-top  : 4px;
    font-size   : 23px;
    line-height : 27px;
}

.yith-wcbk-booking-calendar-single-booking-data-table__container {
    width      : 100%;
    background : #fff;
    padding    : 20px;
}

.yith-wcbk-booking-calendar-single-booking-data-table {
    width           : 100%;
    border-collapse : collapse;
    table-layout    : fixed;
}

.yith-wcbk-booking-calendar-single-booking-data-table th,
.yith-wcbk-booking-calendar-single-booking-data-table td {
    text-align     : left;
    padding        : 5px;
    vertical-align : top;
    width          : auto;
    word-wrap      : break-word;
}

.yith-wcbk-booking-calendar-single-booking-data-table th {
    width         : 30%;
    font-weight   : 500;
    padding-right : 15px;
}

/* ====== Availability ====== */
.yith-wcbk-booking-calendar-month .yith-wcbk-booking-calendar-availability {
    float : right;
}

.yith-wcbk-booking-calendar-availability span {
    display      : inline-block;
    background   : #999;
    color        : #fff;
    padding      : 0 7px;
    font-size    : 10px;
    border-right : 1px solid #fff;
    cursor       : help;
}

.yith-wcbk-booking-calendar-availability span:first-child {
    border-top-left-radius    : 40px;
    border-bottom-left-radius : 40px;
}

.yith-wcbk-booking-calendar-availability span:last-child {
    border-top-right-radius    : 40px;
    border-bottom-right-radius : 40px;
}

.yith-wcbk-booking-calendar-day {
    position : relative;
    height   : 25px;
}

.yith-wcbk-booking-calendar-availability span.yith-wcbk-booking-calendar-availability__bookable {
    background : #00a1f1;
}

.yith-wcbk-booking-calendar-availability span.yith-wcbk-booking-calendar-availability__booked {
    background : #0073aa;
}

.yith-wcbk-booking-calendar-availability span.yith-wcbk-booking-calendar-availability__max {
    background : #003c5a;
}

/* ====== Daily View ====== */
.yith-wcbk-booking-calendar-day tbody td {
    width          : auto;
    height         : auto;
    vertical-align : top;
}

.yith-wcbk-booking-calendar-day td.yith-wcbk-booking-calendar-day-time {
    width      : 90px;
    text-align : center;
}

.yith-wcbk-booking-calendar-day .yith-wcbk-booking-calendar-single-booking {
    width      : calc(25% - 4px);
    display    : block;
    box-sizing : border-box;
    float      : left;
}