/* ---------- Booking Data ------- */

#yith-booking-data .handlediv, #yith-booking-data .hndle {
    display : none;
}

#yith-booking-data {
    margin-top : -20px;
}

/* ==========================================
 *  Booking Data
 * ==========================================
 */
#booking-data {
    padding  : 20px;
    overflow : auto;
}

#booking-data h2 {
    margin      : 0;
    font-size   : 21px;
    line-height : 1.2;
    padding     : 0;
}

#booking-data p.booking_title {
    margin    : 0;
    font-size : 16px;
    color     : #777;
}

#booking-data p.booking_title a {
    color : #777;
}

#booking-data h5 {
    font-size : 15px;
}

#booking-data .form-field {
    margin : 9px 0 0;
}

#booking-data .form-field label {
    color   : #777;
    display : block;
}

#booking-data .form-field input,
#booking-data .form-field select {
    width : 100%;
}

#booking-data .yith-wcbk-date-time-field-time {
    display    : block;
    text-align : center;
    margin-top : 5px;
}

#booking-data .booking_data_column {
    width        : 32%;
    margin-right : 1%;
    float        : left;
}

#booking-data .booking_data_column .booking_data_half {
    width        : 49%;
    margin-right : 1%;
    float        : left;
}

#yith-booking-date {
    width : 50% !important;
}

#yith-booking-date-hour, #yith-booking-date-minute {
    width : 3.5em !important;
}

.yith-wcbk-booking-all-day-mark__container {
    text-align : center;
}

.yith-wcbk-booking-all-day-mark {
    display       : inline-block;
    padding       : 3px 18px;
    border-radius : 3px;
    color         : #555;
    background    : #dce2e8;
    position      : relative;
}

.yith-wcbk-booking-all-day-mark:before {
    content    : '';
    width      : 10px;
    height     : 10px;
    background : inherit;
    position   : absolute;
    top        : -5px;
    left       : calc(50% - 5px);
    transform  : rotate(45deg);
}

.yith-booking-user label a, .yith-booking-order label a, .yith-booking-product label a {
    float : right;
}

#booking-data .yith-wcbk-booking-services-table {
    width : 100%;
}

/* =============== RESPONSIVE =============== */

@media only screen and (min-width : 580px) and (max-width : 1280px) {
    #booking-data .booking_data_column {
        width : 49%;
    }

    #booking-data .booking_data_column:first-child {
        width  : 100%;
        margin : 0;
    }
}

@media only screen and (max-width : 580px) {
    #booking-data .booking_data_column {
        width  : 100%;
        margin : 0;
    }
}

/* ==========================================
 *  Booking Actions Metabox
 * ==========================================
 */
#yith-booking-actions .inside {
    padding : 0;
    margin  : 0;
}

#yith-booking-actions .yith-wcbk-booking-actions-metabox-content {
    text-align : center;
}

#yith-booking-actions .yith-wcbk-booking-actions-metabox-content, #yith-booking-actions .yith-wcbk-booking-actions-metabox-footer {
    padding : 10px;
}

#yith-booking-actions .yith-wcbk-booking-actions-metabox-content p {
    margin-top : 0;
}

#yith-booking-actions .yith-wcbk-booking-actions-metabox-content p:last-child {
    margin-bottom : 0;
}

#yith-booking-actions .yith-wcbk-booking-actions-metabox-footer {
    padding    : 10px;
    clear      : both;
    border-top : 1px solid #ddd;
    background : #f5f5f5;
    text-align : right;
}

#yith-booking-actions .yith-wcbk-booking-actions-metabox-google-calendar {
    text-align    : center;
    padding       : 16px 16px 13px 16px;
    box-sizing    : border-box;
    display       : inline-block;
    margin        : 15px auto 0 auto;
    box-shadow    : 0 1px 4px 0 rgba(0, 0, 0, 0.14), 0 2px 3px 0 rgba(0, 0, 0, 0.14);
    border-radius : 3px;
}

#yith-booking-actions .yith-wcbk-google-calendar-sync-icon__container {
    position : relative;
    width    : 45px;
    display  : inline-block;
}

#yith-booking-actions .yith-wcbk-google-calendar-sync-icon {
    width : 100%;
}

#yith-booking-actions .yith-wcbk-google-calendar-sync-status {
    position      : absolute;
    top           : -4px;
    right         : -5px;
    padding       : 1px;
    color         : #fff;
    background    : #a0a0a0;
    border-radius : 50px;
    font-size     : 15px;
    width         : 15px;
    height        : 15px;
    border        : 2px solid #fff;
}

#yith-booking-actions .yith-wcbk-google-calendar-sync-status.sync {
    background : #4382ec;
}

#yith-booking-actions .yith-wcbk-google-calendar-sync-force {
    border          : none;
    padding         : 4px 12px;
    margin          : 0;
    font-size       : 11px;
    color           : #fff;
    cursor          : pointer;
    border-radius   : 50px;
    background      : #4382ec;
    font-weight     : 600;
    text-decoration : none;
}

/* ==========================================
 *  Booking Notes
 * ==========================================
 */

#yith-booking-notes ul.booking-notes {
    padding : 2px 0 0;
}

#yith-booking-notes ul.booking-notes li .note_content {
    padding    : 10px;
    background : #efefef;
    position   : relative;
}

#yith-booking-notes ul.booking-notes li .note_content p {
    margin    : 0;
    padding   : 0;
    word-wrap : break-word;
}

#yith-booking-notes ul.booking-notes li .note_content::after {
    content      : '';
    display      : block;
    position     : absolute;
    bottom       : -10px;
    left         : 20px;
    width        : 0;
    height       : 0;
    border-width : 10px 10px 0 0;
    border-style : solid;
    border-color : #efefef transparent;
}

#yith-booking-notes ul.booking-notes li .note_content {
    background : #d7cad2;
}

#yith-booking-notes ul.booking-notes li .note_content::after {
    border-color : #d7cad2 transparent;
}

#yith-booking-notes ul.booking-notes li.google-calendar .note_content {
    background : #d1e9f3;
}

#yith-booking-notes ul.booking-notes li.google-calendar .note_content::after {
    border-color : #d1e9f3 transparent;
}

#yith-booking-notes ul.booking-notes li.admin .note_content {
    background : #efefef;
}

#yith-booking-notes ul.booking-notes li.admin .note_content::after {
    border-color : #efefef transparent;
}

#yith-booking-notes ul.booking-notes li.customer .note_content {
    background : #a7cedc;
}

#yith-booking-notes ul.booking-notes li.customer .note_content::after {
    border-color : #a7cedc transparent;
}

#yith-booking-notes ul.booking-notes li p.meta {
    padding   : 10px;
    color     : #999;
    margin    : 0;
    font-size : 11px;
}

#yith-booking-notes .add-booking-note__container {
    border-top : 1px solid #ddd;
    padding    : 10px 0;
}

#yith-booking-notes .add-booking-note__container #booking-note {
    width  : 100%;
    height : 50px;
}

#yith-booking-notes ul.booking-notes li a.delete-booking-note {
    color : #a00;
}