.taxonomy-yith_booking_service .yith-wcbk-booking-service-form-section-checkbox label {
    display : inline-block;
}

.taxonomy-yith_booking_service .yith-wcbk-booking-service-form-section-checkbox .description {
    display : block;
}

.taxonomy-yith_booking_service .yith-wcbk-booking-service-form-section input[type=number] {
    width : calc(100% - 30px);
}

/* --------- Table --------- */
#service_optional, #service_hidden, #service_multiply_per_blocks, #service_multiply_per_persons, #service_quantity_enabled,
.column-service_optional, .column-service_hidden, .column-service_multiply_per_blocks, .column-service_multiply_per_persons, .column-service_quantity_enabled {
    text-align : center;
    width      : 22px;
}

.yith-wcbk-service-yes-no-icon.dashicons.green {
    color : #00c84e;
}

.yith-wcbk-service-yes-no-icon.blue {
    color : #00b8d9;
}

.yith-wcbk-service-yes-no-icon.red {
    color : #c5042f;
}

#service_actions, .column-service_actions {
    width : 80px;
}

.column-service_actions .edit_extra_info {
    float       : left;
    margin      : 0 4px 2px 0;
    cursor      : pointer;
    display     : block;
    text-indent : -9999px;
    position    : relative;
    padding     : 0 !important;
    height      : 2em !important;
    width       : 2em;
}

.column-service_actions .edit_extra_info:after {
    content                : "\f464";
    font-family            : Dashicons;
    text-indent            : 0;
    position               : absolute;
    width                  : 100%;
    height                 : 100%;
    speak                  : none;
    font-variant           : normal;
    text-transform         : none;
    -webkit-font-smoothing : antialiased;
    top                    : 0;
    left                   : 0;
    font-size              : 17px;
    margin                 : 0;
    text-align             : center;
    font-weight            : 400;
}

.wp-list-table .yith-wcbk-optional-head,
.wp-list-table .yith-wcbk-hidden-head,
.wp-list-table .yith-wcbk-mult-block-head,
.wp-list-table .yith-wcbk-mult-pers-head,
.wp-list-table .yith-wcbk-has-qty-head{
    display     : block;
    text-indent : -9999px;
    position    : relative;
    height      : 1em;
    width       : 1em;
    margin      : 0 auto;
    font-size   : 17px;
}

.wp-list-table .yith-wcbk-optional-head:after,
.wp-list-table .yith-wcbk-hidden-head:after,
.wp-list-table .yith-wcbk-mult-block-head:after,
.wp-list-table .yith-wcbk-mult-pers-head:after,
.wp-list-table .yith-wcbk-has-qty-head:after {
    font-weight            : 400;
    margin                 : 0;
    text-indent            : 0;
    position               : absolute;
    width                  : 100%;
    height                 : 100%;
    text-align             : center;
    line-height            : 1;
    font-family            : Dashicons;
    speak                  : none;
    font-variant           : normal;
    text-transform         : none;
    -webkit-font-smoothing : antialiased;
    top                    : 0;
    left                   : 0;
}

.wp-list-table .yith-wcbk-optional-head:after {
    content : "\f314";
}

.wp-list-table .yith-wcbk-hidden-head:after {
    content : "\f530";
}

.wp-list-table .yith-wcbk-mult-block-head:after {
    content : "\f180";
}

.wp-list-table .yith-wcbk-mult-pers-head:after {
    content : "\f307";
}

.wp-list-table .yith-wcbk-has-qty-head:after{
    content : "\f108";
}

/* --------- Metabox Services --------- */
#yith_booking_service-adder {
    display : none;
}

/*-------- WPML Integration --------- */
.column-service_wpml_languages {
    width      : 50px;
    text-align : center;
}

.wp-list-table .yith-wcbk-wpml-languages-head {
    display     : block;
    text-indent : -9999px;
    position    : relative;
    height      : 1em;
    width       : 1em;
    margin      : 0 auto;
    font-size   : 17px;
}

.wp-list-table .yith-wcbk-wpml-languages-head:after {
    font-weight            : 400;
    margin                 : 0;
    text-indent            : 0;
    position               : absolute;
    width                  : 100%;
    height                 : 100%;
    text-align             : center;
    line-height            : 1;
    font-family            : Dashicons;
    speak                  : none;
    font-variant           : normal;
    text-transform         : none;
    -webkit-font-smoothing : antialiased;
    top                    : 0;
    left                   : 0;
}

.wp-list-table .yith-wcbk-wpml-languages-head:after {
    content : "\f319";
}

/* ------------------ Multi Vendor Integration ------------------ */
.column-service_vendor {
    width : 100px;
}

/* -----------------------------------------------
                    Responsive
--------------------------------------------------*/
@media only screen and (max-width : 782px) {
    #service_optional, #service_hidden, #service_multiply_per_blocks, #service_multiply_per_persons,
    .column-service_optional, .column-service_hidden, .column-service_multiply_per_blocks, .column-service_multiply_per_persons {
        text-align : left;
    }
}
