/**
 * Admin Integrations style
 *
 * @author Leanza Francesco
 * @version 1.0.1
 */

#yith-wcbk-integrations-tab-wrapper * {
    box-sizing : border-box;
}

.yith-wcbk-integration {
    float      : left;
    position   : relative;
    margin     : 0 2% 2% 0;
    width      : 22.8%;
    border     : 1px solid #ddd;
    background : #fff;
    box-shadow : 1px 2px 4px 0 rgba(0, 0, 0, 0.1);
    min-height : 250px;
}

.yith-wcbk-integration h5 {
    margin        : 0;
    padding       : 16px;
    border-bottom : 1px solid #eee;
    background    : rgba(0, 0, 0, 0.02);
    font-size     : 1.2em;
    line-height   : normal;
    font-weight   : 200;
}

.yith-wcbk-integration-content {
    padding : 10px 15px;
}

.yith-wcbk-integration-description {
    text-align : justify;
}

.yith-wcbk-integration-needs-plugin {
    font-style : italic;
    color      : #7d7d7d;
    margin-top : 10px;
    font-size  : 11px;
}

.yith-wcbk-integration-get-plugin, .yith-wcbk-integration-get-plugin:focus {
    position        : absolute;
    bottom          : 0;
    left            : 0;
    text-align      : center;
    font-size       : 15px;
    width           : 100%;
    height          : 44px;
    color           : #fff;
    text-transform  : uppercase;
    background      : #74889e;
    text-decoration : none;
    font-weight     : 600;
    line-height     : 44px;
    cursor          : pointer;
    box-shadow      : none;
}

.yith-wcbk-integration-get-plugin:hover, .yith-wcbk-integration-get-plugin:active {
    color      : #fff;
    background : #a3b7ce;
    box-shadow : none;
}

.yith-wcbk-integration-status {
    position        : absolute;
    bottom          : 0;
    left            : 0;
    text-align      : center;
    font-size       : 15px;
    width           : 100%;
    height          : 44px;
    color           : #fff;
    background      : #9f9ea5;
    text-transform  : uppercase;
    text-decoration : none;
    font-weight     : 600;
    line-height     : 44px;
}

.yith-wcbk-integration-status.active {
    background : #55a564;
}

.yith-wcbk-integration-status.not-active {
    background : #9f9ea5;
}

a.yith-wcbk-integration-action, a.yith-wcbk-integration-action:hover {
    display         : none;
    position        : absolute;
    top             : 0;
    right           : 0;
    padding         : 0 10px;
    width           : 100%;
    cursor          : pointer;
    color           : #fff;
    text-decoration : none;
    overflow        : hidden;
}

a.yith-wcbk-integration-action.activate {
    background : #55a564;
}

a.yith-wcbk-integration-action.deactivate {
    background : #9f9ea5;
}

.yith-wcbk-integration-status:hover .yith-wcbk-integration-action, .yith-wcbk-integration-action:focus, .yith-wcbk-integration-action:active {
    box-shadow : none;
    display    : inline-block;
}

.yith-wcbk-integration-action:focus:before, .yith-wcbk-integration-action:active:before {
    font-family            : Dashicons;
    text-indent            : 0;
    position               : absolute;
    speak                  : none;
    font-variant           : normal;
    text-transform         : none;
    -webkit-font-smoothing : antialiased;
    top                    : -70px;
    left                   : -73px;
    margin                 : 0;
    font-weight            : 800;
    font-size              : 120px;
    width                  : 120px;
    height                 : 120px;
    line-height            : 120px;
    content                : "\f111";
    color                  : rgba(255, 255, 255, 0.4);
    text-align             : center;
    -webkit-animation      : yith-wcbk-spin 3.5s linear infinite;
    -moz-animation         : yith-wcbk-spin 3.5s linear infinite;
    animation              : yith-wcbk-spin 3.5s linear infinite;
}

@-moz-keyframes yith-wcbk-spin {
    100% {
        -moz-transform : rotate(360deg);
    }
}

@-webkit-keyframes yith-wcbk-spin {
    100% {
        -webkit-transform : rotate(360deg);
    }
}

@keyframes yith-wcbk-spin {
    100% {
        -webkit-transform : rotate(360deg);
        transform         : rotate(360deg);
    }
}

.yith-wcbk-integration-badge {
    display        : block;
    padding        : 7px 13px;
    background     : #676f76;
    color          : #fff;
    font-size      : 11px;
    text-transform : uppercase;
    border-radius  : 3px;
    position       : absolute;
    top            : -10px;
    right          : 10px;
}

.yith-wcbk-integration-badge.new {
    color            : #fff;
    font-family      : "Open Sans", sans-serif;
    box-sizing       : border-box;
    position         : absolute;
    background-color : transparent;
    width            : 65px;
    height           : 65px;
    overflow         : hidden;
    top              : -4px;
    right            : -4px;
}

.yith-wcbk-integration-badge.new .yith-wcbk-integration-badge-s1 {
    position      : absolute;
    z-index       : 99;
    top           : 0;
    left          : 2px;
    border-bottom : 4px solid #475667;
    border-left   : 3px solid transparent;
    width         : 10px;
}

.yith-wcbk-integration-badge.new .yith-wcbk-integration-badge-s2 {
    position      : absolute;
    z-index       : 99;
    bottom        : 2px;
    right         : 0px;
    border-left   : 4px solid #475667;
    border-bottom : 3px solid transparent;
    height        : 10px;
}

.yith-wcbk-integration-badge.new .yith-wcbk-integration-badge-text {
    background        : #74889e;
    font-size         : 10px;
    font-weight       : bold;
    line-height       : 22px;
    position          : absolute;
    text-align        : center;
    z-index           : 100;
    -webkit-transform : rotate(45deg);
    -ms-transform     : rotate(45deg);
    transform         : rotate(45deg);
    top               : 11px;
    left              : -7px;
    width             : 100px;
}

@media only screen and (min-width : 1500px) {
    .yith-wcbk-integration:nth-child(5n) {
        margin-right : 0;
    }

    .yith-wcbk-integration {
        margin : 0 1.5% 1.5% 0;
        width  : 18.7%;
    }
}

@media only screen and (min-width : 1250px) and (max-width : 1500px) {
    .yith-wcbk-integration:nth-child(4n) {
        margin-right : 0;
    }
}

@media only screen and (min-width : 850px) and (max-width : 1250px) {
    .yith-wcbk-integration {
        margin : 0 3% 3% 0;
        width  : 31%;
    }

    .yith-wcbk-integration:nth-child(3n) {
        margin-right : 0;
    }
}

@media only screen and (min-width : 580px) and (max-width : 850px) {
    .yith-wcbk-integration {
        margin : 0 4% 4% 0;
        width  : 47%;
    }

    .yith-wcbk-integration:nth-child(even) {
        margin-right : 0;
    }
}

@media only screen and (max-width : 580px) {
    .yith-wcbk-integration {
        width : 100%;
    }
}