.njba-social-share-horizontal .njba-social-share-inner {
	vertical-align: top;
	display: inline-block;
}
.njba-social-share-vertical .njba-social-share-inner {
	display: block;
}
.njba-social-share-vertical .njba-social-share-link {
	display: inline-block;
}
.njba-social-share-link,
.njba-social-share-link:hover,
.njba-social-share-link:focus,
.njba-social-share-link:active,
.njba-social-share-link:visited {
	text-decoration: none;
	outline: none;
}