/** EDITOR CSS **/
.CodeMirror {
    border: solid 1px #ccc;
    border-top: none;
    margin-left: 0px;
}
.cred-editor-metadata-toggle {
    border-top: none;
    display: block;
    margin: 0;
    padding: 0 28px 0 10px;
    height: 35px;
    line-height: 35px;
    border: solid 1px #ccc;
    font-weight: bold;
    cursor: pointer;
    background: #e5e5e5;
    background: -moz-linear-gradient(top, #e5e5e5 0%, #f4f4f4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#f4f4f4));
    background: -webkit-linear-gradient(top, #e5e5e5 0%,#f4f4f4 100%);
    background: -o-linear-gradient(top, #e5e5e5 0%,#f4f4f4 100%);
    background: -ms-linear-gradient(top, #e5e5e5 0%,#f4f4f4 100%);
    background: linear-gradient(to bottom, #e5e5e5 0%,#f4f4f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#f4f4f4',GradientType=0 );
}
.error{ border-color: red !important; }