/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */
.mtsnb-tabs *, .mtsnb-tabs *:before, .mtsnb-tabs *:after { box-sizing: border-box }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both }
.clearfix { *zoom: 1  }
.mtsnb-tabs label, .mtsnb-tabs p { font-size: 15px }
.utm-text { min-width: 150px; float: left; }
.mtsnb-remove-utm-tag { position: absolute; right: 15px; top: 5px; }
.mtsnb-tabs p { color: #7f7f7f }
.mtsnb-tabs input[type="text"]:not(.wp-color-picker), .mtsnb-tabs input[type="number"], .mtsnb-tabs select, .mtsnb-tabs textarea { font-size: 15px; color: #aaaaaa; line-height: 22px; padding: 9px 20px; background: #ffffff; margin: 0; border: 1px solid #eaebec; outline: none!important; box-shadow: none!important; }
.mtsnb-tabs button, .mtsnb-tabs .button:not(.wp-picker-clear, .mtsnb-load-palette), .mtsnb-tabs input[type="submit"] { font-size: 15px!important; padding: 9px 20px!important; height: auto!important; line-height: 22px!important; outline: none!important; }
.mtsnb-tabs button:focus, .mtsnb-tabs .button:focus, .mtsnb-tabs input[type="submit"]:focus { outline: none!important; box-shadow: none!important; }
.mtsnb-tabs input[type="text"], .mtsnb-tabs input[type="number"], .mtsnb-tabs select, .mtsnb-tabs textarea { width: 100% }
.mtsnb-tabs select { height: auto }
.mtsnb-tabs textarea { width: 100%; max-width: 100%; height: 200px; }
.mtsnb-tabs input:focus, .mtsnb-tabs select:focus, .mtsnb-tabs textarea:focus, .select2-container--default.select2-container--focus .select2-selection--multiple { border-color: #a4e3fa; color: #666666; outline: none; }
/*Tabs*/
.mtsnb-tabs { padding: 20px; font-size: 16px; }
.mtsnb-tabs-inner { background: #fdfdfd }
.mtsnb-tabs-nav { float: left; margin: 0; }
#main-tabs-nav { width: 100%; padding-right: 0; }
#main-tabs-wrap { }
.mtsnb-tabs-nav li, #conditions-selector li { float: left; display: inline-block; width: 100%; clear: left; margin: 0; }
#main-tabs-nav li { width: 25%; display: block; clear: none; border-right: 1px solid #34aad5; }
#main-tabs-nav li:last-child { border-right: 0 }
.mtsnb-tabs-nav li a, #conditions-selector li { float: left; width: 100%; background: #45bbe6; color: #fff; padding: 15px; font-size: 15px; text-decoration: none; outline: none !important; position: relative; }
.mtsnb-tabs-nav li a:hover, .mtsnb-tabs-nav li a.active { background: #0074A2 }
.mtsnb-tabs-nav li a:focus { color: #fff; box-shadow: none; }
.mtsnb-tabs-nav li a.active { pointer-events: none }
#sub-tabs-nav li a, #conditions-selector li { padding-right: 60px; font-weight: bold; background: #ffffff; border: 1px solid #eaebec; margin: -1px 0 0 -1px; color: #aaaaaa; position: relative; cursor: pointer; }
#sub-tabs-nav li a.active, #sub-tabs-nav li a:hover, #conditions-selector li.active, #conditions-selector li:hover { background: #45BBE6; border-color: #45BBE6; border-left-color: #45bbe6; color: #fff; }
#sub-tabs-nav li a.active:after, #conditions-selector li.active:after { content: ''; position: absolute; border-style: solid; border-width: 9px 0 9px 9px; border-color: rgba(0, 0, 0, 0) #45BBE6; display: block; width: 0; z-index: 1; right: -9px; top: 50%; margin-top: -9px; }
#sub-tabs-nav li a.active:before, #conditions-selector li.active:before { content: ''; position: absolute; border-style: solid; border-width: 9px 0 9px 9px; border-color: rgba(0, 0, 0, 0) #45BBE6; display: block; width: 0; z-index: 0; right: -10px; top: 50%; margin-top: -9px; }
#conditions-selector li { padding-left: 50px; padding-right: 25px; }
.mtsnb-tab-title { display: block }
.mtsnb-tab-title { font-size: 16px; font-weight: bold; text-transform: uppercase; text-align: center; }
.mtsnb-tab-title .dashicons { margin-right: 8px }
/*tab content*/
.mtsnb-tabs-content { display: none; float: left; width: 100%; clear: both; }
.mtsnb-tabs-content.active { display: block }
.mtsnb-ab-slider-label { margin-bottom: 5px }
.mtsnb-tab-desc { border-width: 0 1px 0 1px; border-style: solid; border-color: #eaebec; background: #ffffff; line-height: 24px; color: #666666; padding: 30px 26px; }
.mtsnb-tab-options, #conditions-selector-wrap { padding: 30px; border: 1px solid #eaebec; }
.mtsnb-tab-options { padding-top: 10px; }
#tab-type .mtsnb-tab-options, #tab-conditions .mtsnb-tab-options, #conditions-selector-wrap { padding: 0 }
#tab-type .meta-tabs-wrap, #tab-conditions .meta-tabs-wrap { padding-top: 30px }
#sub-tabs-wrap { overflow: hidden }
.form-row { float: left; width: 100%; clear: both; margin: 15px 0; padding: 0; }
#tab-type .mtsnb-tab-options .form-row { padding: 0 30px }
.form-label { float: left; width: 25%; color: #7f7f7f; padding-right: 20px; padding-top: 12px; }
.form-label:hover { color: #666666 }
.form-option { float: left; width: 75%; }
.clear-image { margin: 0 10px; vertical-align: bottom; }
#tab-type .mtsnb-tab-options .mtsnb-repeater-wrapper { overflow: hidden; }
#tab-type .mtsnb-tab-options .mtsnb-repeater-wrapper .mtsnb-inner-wrapper { overflow: hidden; border: 1px solid #eaebec; padding: 10px 20px; margin-bottom: 20px; }
#tab-type .mtsnb-tab-options .mtsnb-repeater-wrapper h3.mtsnb-section-title { margin: -11px -20px; border-bottom: 1px solid #eaebec; padding: 15px 20px; cursor: pointer; }
#tab-type .mtsnb-tab-options .mtsnb-repeater-wrapper h3.mtsnb-section-title a { float: right; color: #a00; font-size: 16px; font-weight: normal; -webkit-box-shadow: none; box-shadow: none; }
.mtsnb-repeater-wrapper .mtsnb-inner-wrapper .mtsnb-content-wrapper { margin-top: 20px; display: none;  }
#tab-type .mtsnb-tab-options .mtsnb-repeater-wrapper .mtsnb-inner-wrapper:first-child h3.mtsnb-section-title a { display: none; }
#tab-type .mtsnb-tab-options .mtsnb-repeater-wrapper .form-row { padding: 0; }
#tab-type .mtsnb-tab-options .mtsnb-add-block { float: right; margin-top: 10px; }
.mtsnb-repeater-wrapper .mtsnb-image-wrapper img, .mtsnb-repeater-wrapper .mtsnb-image-wrapper .mtsnb-clear-image { display: none; }
.mtsnb-repeater-wrapper .mtsnb-image-wrapper.image-shown img, .mtsnb-repeater-wrapper .mtsnb-image-wrapper.image-shown .mtsnb-clear-image { display: block; }
.mtsnb-repeater-wrapper .mtsnb-image-wrapper.image-shown .mtsnb_fields_image_upload { display: none; }
#preview-bar { width: 100%; padding: 10px; height: auto; text-align: center; }
.wpnb-actions { margin-top: 15px; margin-bottom: 5px; }
.wpnb-actions #reset-clicks { float: right; }
.mtsnb-tabs .wp-color-result, .mtsnb-tabs .wp-picker-container .button { height: auto }
.mtsnb-tabs .wp-picker-container .button, .mtsnb-tabs  .wp-color-result:after { line-height: 26px }
.mtsnb-tabs .wp-picker-container input[type=text].wp-color-picker { width: 70px }
.mtsnb-submit { pointer-events: none }
.mtsnb-tabs input[type=checkbox] { margin-top: 12px }
/*conditions*/
/*checkboxes*/
#conditions-selector { float: left }
#conditions-selector ul { margin: 0 }
#conditions-selector .mtsnb-check, #conditions-selector .mtsnb-check:after { position: absolute; border-radius: 50%; }
#conditions-selector .mtsnb-check { top: 15px; left: 15px; width: 17px; height: 17px; border: 1px solid #cccccc; }
#conditions-selector .mtsnb-check:after { content: ""; top: 3px; left: 3px; width: 9px; height: 9px; background: #cccccc; }
#conditions-selector .condition-checkbox.active .mtsnb-check, #conditions-selector .condition-checkbox:hover .mtsnb-check { border-color: #FFFFFF;}
#conditions-selector .condition-checkbox.active .mtsnb-check:after, #conditions-selector .condition-checkbox:hover .mtsnb-check:after { background: #FFFFFF;}
#conditions-selector ul li.disabled { color: #dcdcdc; pointer-events: none; }
#conditions-selector .condition-checkbox.disabled .mtsnb-check { border-color: #dcdcdc }
#conditions-selector .condition-checkbox.disabled .mtsnb-check:after { background: #dcdcdc }
/*panels*/
#conditions-panels { overflow: hidden }
.mtsnb-conditions-panel { padding: 15px; display: none; }
.mtsnb-conditions-panel.active { display: block }
.mtsnb-conditions-panel-title, .mtsnb-conditions-panel-content { padding: 15px }
.mtsnb-conditions-panel-title { color: #666666; font-size: 18px; font-weight: 700; }
.mtsnb-conditions-panel-desc input[type="number"] { width: 90px }
.mtsnb-conditions-panel-opt { margin-top: 15px; padding-left: 15px; padding-right: 15px; }
/*tags input*/
.bootstrap-tagsinput { background-color: #fff; border: 1px solid #ccc; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); display: inline-block; padding: 6px; margin-bottom: 10px; color: #555; vertical-align: middle; border-radius: 4px; width: 100%; max-width: 100%; line-height: 22px; cursor: text; }
.bootstrap-tagsinput input { border: none; nowhitespace: afterproperty; box-shadow: none; outline: none; background-color: transparent; padding: 0; margin: 0; /*width: auto;*/ width: 100%; max-width: inherit; ; }
.bootstrap-tagsinput input:focus { border: none; box-shadow: none; }
.bootstrap-tagsinput .tag { padding: 0 5px; margin: 5px 0 5px 5px; color: #666666; background-color: #e4e4e4; border: 1px solid #aaa; display: inline-block!important; border-radius: 4px; }
.bootstrap-tagsinput .tag [data-role="remove"] { float: left; margin-right: 8px; cursor: pointer; }
.bootstrap-tagsinput .tag [data-role="remove"]:after { content: "x"; padding: 0px 2px; }
div[data-checkbox], div[data-parent-select-id] { display: none }
div[data-checkbox].active, div[data-parent-select-id].active { display: block }
.select2-container { width: 100%!important }
.select2-hidden-accessible { width: 0!important }
.select2-container--default .select2-selection--multiple .select2-selection__choice { color: #666666 }
.select2-container--default .select2-search--inline .select2-search__field { box-shadow: none; padding-top: 0; padding-bottom: 0; }
.text-center { text-align: center }
.mtsnb-move { cursor: move; padding: 5px; }
.mtsnb-social-div { margin-left: 30px!important }
.mtsnb-colors-loader { margin-bottom: 12px }
.mtsnb-palettes { display: none }
.mtsnb-colors-loader .color-palette { max-width: 300px; height: 40px; margin-top: 12px; border: 1px solid #ccc; }
.single-palette { position: relative; clear: both; }
.single-palette .mtsnb-load-palette { display: none }
.single-palette:hover .mtsnb-load-palette { display: block; position: absolute; top: 6px; left: 6px; }
.select2-results .color-palette { margin: 10px 0 5px; border: 1px solid #ccc; }
.mtsnb-small-select { width: auto!important; padding: 5px!important; margin: -3px 5px 0 5px!important; }
.mtsnb-utm-label { display: inline-block; margin: 0 0 10px 0; width: 100%; position: relative; }
.mtsnb-utm-label input, input.mtsnb-add-utm-tag-input { width: auto!important; nowhitespace: afterproperty; padding: 5px 10px!important; /* border-width: 0 0 1px 0!important; */ /* background-color: transparent!important; */ ; }
.mtsnb-remove-utm-tag.button { margin: 0 0 0 10px }
#b-sub-tabs-wrap, #mtsnb-test-stats-a, .mtsnb-reset-split-test { display: none!important }
#b-sub-tabs-wrap.active { display: block!important }
#mtsnb-test-stats-a.active, .mtsnb-reset-split-test.show { display: inline-block!important }
.mtsnb-enable-split-test, .mtsnb-reset-split-test { margin: 10px 20px!important }
#b-sub-tabs-wrap .mtsnb-tab-desc { border-width: 1px 0 }
.mtsnb-test-stats { float: right; display: inline-block; margin: 18px 0 50px 26px; padding: 15px; font-weight: bold; clear: both; color: #fff; background: #45bbe6; width: 100%; }
#b-sub-tabs-wrap .mtsnb-test-stats { margin-bottom: 0 }
.mtsnb-test-stat { display: inline-block; padding: 0 20px; }
#mtsnb-ab-sliders { float: right; width: 100%; margin-top: 15px; margin-bottom: 5px; }
.mtsnb-ab-slider { position: relative; border: 1px solid #ccc; border-radius: 10px; background: #fafafa; box-sizing: border-box; }
.mtsnb-ab-slider-a { margin-bottom: 20px }
.mtsnb-ab-slider .track { display: block; float: left; margin-left: 19.3%; width: 2px; height: 13px; }
.ui-state-default.ui-slider-handle { height: 22px; line-height: 21px; padding: 0 5px; text-decoration: none; background: #45bbe6; text-align: center; border-radius: 4px; border: 1px solid #34aad5; cursor: pointer; }
.ui-state-default.ui-slider-handle:hover, .ui-state-default.ui-slider-handle:focus { background: #34aad5 }
.mtsnb-bar-select { max-width: 100% }