/*! jQuery UI - v1.11.1 - 2014-08-29
* http://jqueryui.com
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none }
.ui-helper-hidden-accessible { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; border-collapse: collapse; }
.ui-helper-clearfix:after { clear: both }
.ui-helper-clearfix { min-height: 0 }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter: Alpha(Opacity=0); }
.ui-front { z-index: 100 }
/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important }
/* Icons
----------------------------------*/
/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; }
.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
.ui-datepicker .ui-datepicker-header { position: relative; padding: .2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position: absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px }
.ui-datepicker .ui-datepicker-prev { left: 2px }
.ui-datepicker .ui-datepicker-next { right: 2px }
.ui-datepicker .ui-datepicker-prev-hover { left: 1px }
.ui-datepicker .ui-datepicker-next-hover { right: 1px }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px; }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size: 1em; margin: 1px 0; }
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year { width: 45% }
.ui-datepicker table { width: 100%; font-size: .9em; border-collapse: collapse; margin: 0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0; }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding: 0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width: auto; overflow: visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float: left }
/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width: auto }
.ui-datepicker-multi .ui-datepicker-group { float: left }
.ui-datepicker-multi .ui-datepicker-group table { width: 95%; margin: 0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width: 50% }
.ui-datepicker-multi-3 .ui-datepicker-group { width: 33.3% }
.ui-datepicker-multi-4 .ui-datepicker-group { width: 25% }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width: 0 }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear: left }
.ui-datepicker-row-break { clear: both; width: 100%; font-size: 0; }
/* RTL support */
.ui-datepicker-rtl { direction: rtl }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear: right }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current, .ui-datepicker-rtl .ui-datepicker-group { float: right }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width: 0; border-left-width: 1px; }
/* Slider */
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; -ms-touch-action: none; touch-action: none; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }
.ui-slider.ui-state-disabled .ui-slider-handle, .ui-slider.ui-state-disabled .ui-slider-range { -webkit-filter: inherit; filter: inherit }
.ui-slider-horizontal { height: .8em }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0 }
.ui-slider-horizontal .ui-slider-range-max { right: 0 }
.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0 }
.ui-slider-vertical .ui-slider-range-max { top: 0 }
/* Component containers
----------------------------------*/
.mts-datepicker .ui-datepicker { border: 1px solid #ece4da; background: #ffffff; color: inherit; box-shadow: 0px 0px 6px rgba(199,191,191,.37); }
.mts-datepicker .ui-widget { font-family: inherit; font-size: 1.1em; }
.mts-datepicker .ui-widget .ui-widget { font-size: 1em }
.mts-datepicker .ui-widget input, .mts-datepicker .ui-widget select, .mts-datepicker .ui-widget textarea, .mts-datepicker .ui-widget button { font-family: inherit; font-size: 1em; }
.mts-datepicker .ui-widget-content { }
.mts-datepicker .ui-widget-content a { color: inherit }
.mts-datepicker .ui-widget-header { border: 0; color: #ffffff; background-color: #45bbe6; padding: 0; font-size: 16px; font-weight: lighter; text-transform: uppercase; }
.mts-datepicker .ui-widget-header a { color: #ffffff }
.mts-datepicker .ui-datepicker .ui-datepicker-buttonpane button { background: #45bbe6; border: 0; outline: 0; color: #ffffff !important; border-radius: 3px; }
.mts-datepicker .ui-datepicker .ui-datepicker-buttonpane button:hover { text-decoration: underline }
/* Interaction states
----------------------------------*/
.mts-datepicker .ui-state-default, .mts-datepicker .ui-widget-content .ui-state-default, .mts-datepicker .ui-widget-header .ui-state-default { font-weight: normal; color: inherit; }
.mts-datepicker .ui-state-default a, .mts-datepicker .ui-state-default a:link, .mts-datepicker .ui-state-default a:visited { color: inherit; text-decoration: none; }
.mts-datepicker table .ui-state-hover, .mts-datepicker table .ui-widget-content .ui-state-hover, .mts-datepicker table .ui-widget-header .ui-state-hover, .mts-datepicker table .ui-state-focus, .mts-datepicker table .ui-widget-content .ui-state-focus, .mts-datepicker table .ui-widget-header .ui-state-focus, .mts-datepicker table .ui-state-active, .mts-datepicker table .ui-widget-content .ui-state-active, .mts-datepicker table .ui-widget-header .ui-state-active { font-weight: normal; color: #ffffff!important; background-color: #0074a2; }
.mts-datepicker table .ui-state-hover a, .mts-datepicker table .ui-state-hover a:hover, .mts-datepicker table .ui-state-hover a:link, .mts-datepicker table .ui-state-hover a:visited, .mts-datepicker table .ui-state-focus a, .mts-datepicker table .ui-state-focus a:hover, .mts-datepicker table .ui-state-focus a:link, .mts-datepicker table .ui-state-focus a:visited, .mts-datepicker table .ui-state-active a, .mts-datepicker table .ui-state-active a:link, .mts-datepicker table .ui-state-active a:visited { color: inherit; text-decoration: none; }
/* Interaction Cues
----------------------------------*/
.mts-datepicker .ui-state-highlight, .mts-datepicker .ui-widget-content .ui-state-highlight, .mts-datepicker .ui-widget-header .ui-state-highlight { background-color: #45bbe6; color: #ffffff; }
.mts-datepicker .ui-state-highlight a, .mts-datepicker .ui-widget-content .ui-state-highlight a, .mts-datepicker .ui-widget-header .ui-state-highlight a, .mts-datepicker .ui-state-error, .mts-datepicker .ui-widget-content .ui-state-error, .mts-datepicker .ui-widget-header .ui-state-error, .mts-datepicker .ui-state-error a, .mts-datepicker .ui-widget-content .ui-state-error a, .mts-datepicker .ui-widget-header .ui-state-error a, .mts-datepicker .ui-state-error-text, .mts-datepicker .ui-widget-content .ui-state-error-text, .mts-datepicker .ui-widget-header .ui-state-error-text { color: #ffffff }
.mts-datepicker .ui-priority-secondary, .mts-datepicker .ui-widget-content .ui-priority-secondary, .mts-datepicker .ui-widget-header .ui-priority-secondary { opacity: .7; filter: Alpha(Opacity=70); font-weight: normal; }
.mts-datepicker .ui-state-disabled, .mts-datepicker .ui-widget-content .ui-state-disabled, .mts-datepicker .ui-widget-header .ui-state-disabled { opacity: .35; filter: Alpha(Opacity=35); background-image: none; }
.mts-datepicker .ui-state-disabled .ui-icon { filter: Alpha(Opacity=35) }
.mts-datepicker .ui-icon { display: none }
/* Corner radius */
.mts-datepicker .ui-corner-all, .mts-datepicker .ui-corner-top, .mts-datepicker .ui-corner-left, .mts-datepicker .ui-corner-tl { border-top-left-radius: 0 }
.mts-datepicker .ui-corner-all, .mts-datepicker .ui-corner-top, .mts-datepicker .ui-corner-right, .mts-datepicker .ui-corner-tr { border-top-right-radius: 0 }
.mts-datepicker .ui-corner-all, .mts-datepicker .ui-corner-bottom, .mts-datepicker .ui-corner-left, .mts-datepicker .ui-corner-bl { border-bottom-left-radius: 0 }
.mts-datepicker .ui-corner-all, .mts-datepicker .ui-corner-bottom, .mts-datepicker .ui-corner-right, .mts-datepicker .ui-corner-br { border-bottom-right-radius: 0 }
.mts-datepicker table { border: 10px solid transparent }
.mts-datepicker .ui-datepicker { padding: 0; background-color: #ffffff; }
.mts-datepicker .ui-datepicker .ui-datepicker-header { padding: 0; font-size: 16px; font-weight: lighter; }
.mts-datepicker .ui-datepicker .ui-datepicker-title { margin: 0; line-height: 36px; }
.mts-datepicker .ui-datepicker table { margin: 0; font-size: 13px; }
.mts-datepicker .ui-datepicker td { border: 0; padding: 0; }
.mts-datepicker .ui-datepicker td span, .mts-datepicker .ui-datepicker td a { display: block; padding: 0; text-align: center; text-decoration: none; }
.mts-datepicker thead { display: none }
.mts-datepicker .ui-datepicker .ui-datepicker-prev, .mts-datepicker .ui-datepicker .ui-datepicker-next { top: 0; height: 36px; text-align: center; cursor: pointer; }
/* Prev/Next */
.mts-datepicker .ui-datepicker .ui-datepicker-prev-hover, .mts-datepicker .ui-datepicker .ui-datepicker-next-hover { top: 0 }
.mts-datepicker .ui-datepicker .ui-datepicker-prev, .mts-datepicker .ui-datepicker .ui-datepicker-prev span:before { left: 0 }
.mts-datepicker .ui-datepicker .ui-datepicker-next, .mts-datepicker .ui-datepicker .ui-datepicker-next span:before { right: 0 }
.mts-datepicker .ui-datepicker .ui-datepicker-prev-hover { left: 0 }
.mts-datepicker .ui-datepicker .ui-datepicker-next-hover { right: 0 }
.mts-datepicker .ui-datepicker .ui-datepicker-prev:before, .mts-datepicker .ui-datepicker .ui-datepicker-next:before { width: 16px; font-size: 16px; font-family: "FontAwesome"; line-height: 36px; color: #ffffff; }
.mts-datepicker .ui-datepicker .ui-datepicker-prev:before { content: "\f104" }
.mts-datepicker .ui-datepicker .ui-datepicker-next:before { content: "\f105" }
/* Timepicker */
.ui-timepicker-div .ui-widget-content { border: 0 }
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px }
.ui-timepicker-div dl { text-align: left }
.ui-timepicker-div dl dt { float: left; clear: left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45% }
.ui-timepicker-div td { font-size: 90% }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-div .ui-slider .ui-slider-handle { background-color: #45bbe6; border-radius: 3px; }
.ui-timepicker-div .ui-slider { border: 1px solid #ece4da }
.ui-timepicker-rtl { direction: rtl }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt { float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px }
/* Arrows on post editor screen */
.wp-admin .mts-datepicker .ui-datepicker .ui-datepicker-prev:before {
	content: "<";
	font-family: "Open Sans", sans-serif;
}
.wp-admin .mts-datepicker .ui-datepicker .ui-datepicker-next:before {
	content: ">";
	font-family: "Open Sans", sans-serif;
}