<div class="drop-panel panel-light">
	<div class="popup-content">

	</div>
	<div class="action-buttons row between-xs">
		<div data-fn="onCancel" class="click tve-button drop-panel-action btn-cancel"><?php echo __( 'Cancel', 'thrive-cb' ) ?></div>
		<div data-fn="onApply" class="click tve-button drop-panel-action btn-apply"><?php echo __( 'Apply', 'thrive-cb' ) ?></div>
	</div>
	<div class="tcb-panel-arrow"></div>
</div>
