.njba-breadcrumb > div, .njba-breadcrumb > span {
	display: inline-block;
	text-transform:uppercase;
}
.njba-breadcrumb > div a{
	letter-spacing:2px;
}
/*.njba-breadcrumb > div strong {
	color: #000;
	font-weight: 500;
	letter-spacing: 2px;
}*/