.njba-image-responsive {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}
.njba-col-xs-1,
.njba-col-xs-2,
.njba-col-xs-3,
.njba-col-xs-4,
.njba-col-xs-5,
.njba-col-sm-1,
.njba-col-sm-2,
.njba-col-sm-3,
.njba-col-sm-4,
.njba-col-sm-5,
.njba-col-md-1,
.njba-col-md-2,
.njba-col-md-3,
.njba-col-md-4,
.njba-col-md-5,
.njba-col-lg-1,
.njba-col-lg-2,
.njba-col-lg-3,
.njba-col-lg-4,
.njba-col-lg-5 {
    float: left;
    padding: 0 15px;
}
.njba-col-xs-1 {
    width: 100%;
}
.njba-col-xs-2 {
    width: 50%;
}
.njba-col-xs-3 {
    width: 33.33%;
}
.njba-col-xs-4 {
    width: 25%;
}
.njba-col-xs-5 {
    width: 20%;
}
.njba-col-sm-1 {
    width: 100%;
}
.njba-col-sm-2 {
    width: 50%;
}
.njba-col-sm-3 {
    width: 33.33%;
}
.njba-col-sm-4 {
    width: 25%;
}
.njba-col-sm-5 {
    width: 20%;
}
.njba-col-md-1 {
    width: 100%;
}
.njba-col-md-2 {
    width: 50%;
}
.njba-col-md-3 {
    width: 33.33%;
}
.njba-col-md-4 {
    width: 25%;
}
.njba-col-md-5 {
    width: 20%;
}
.njba-col-lg-1 {
    width: 100%;
}
.njba-col-lg-2 {
    width: 50%;
}
.njba-col-lg-3 {
    width: 33.33%;
}
.njba-col-lg-4 {
    width: 25%;
}
.njba-col-lg-5 {
    width: 20%;
}
.njba-contaner {
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
.njba-main{
	padding: 30px 0px;
    display: inline-block;
    width: 100%;	
	text-align:center;
}
.njba-highlight-box-main{
	width:100%;
	background-color:#fa7575;
	text-align:center; 
	cursor:pointer;
	overflow:hidden;
	transition:all 0.3s ease;
    position: relative;
    overflow: hidden;
    margin: 20px 0px;
}
.njba-image-box {
    padding: 0px;
}
.njba-image-box i{
	font-size:140px;
	color:#FFF;
}
.njba-hover-box{
    position: absolute;
    
    height: 100%;
    width: 100%;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    opacity: 0;
    transition:all 0.5s ease;
    padding: 10px;
    opacity:0;
}
.njba-highlight-box-main:hover .njba-hover-box{
    opacity: 1;
}
.njba-center-box{
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
}
.njba-inner-contant{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}
.njba-inner-contant i{
    
    width: 35px;
    height: 35px;
        line-height: 35px;
    transition:all 0.3s ease;
}
.njba-inner-contant span{
    
    display: block;
    word-break: keep-all;
}
/*lay-out two*/
.njba-layout-two .njba-hover-box{
    opacity: 1;
    left:-100%;
}
.njba-layout-two .njba-highlight-box-main:hover .njba-hover-box{
    left: 0;
    opacity: 1;
}
.njba-layout-two .njba-inner-contant a img{
    display: inline-block;
}
.njba-layout-two .njba-image-box{
    transform: translate(0% , 0%);
    transition: all 0.5s ease;
}
.njba-layout-two .njba-highlight-box-main:hover .njba-image-box{
    transform: translate(100% , 0%);
}
.njba-layout-two .njba-inner-contant span{
    
    display: block;
    word-break: keep-all;
}
/*lay-out three*/
.njba-layout-three .njba-hover-box{
    opacity: 1;
    top:-100%;
}
.njba-layout-three .njba-highlight-box-main:hover .njba-hover-box{
    top: 0;
    opacity: 1;
}
.njba-layout-three .njba-image-box{
    transform: translate(0% , 0%);
    transition: all 0.5s ease;
}
.njba-layout-three .njba-highlight-box-main:hover .njba-image-box{
    transform: translate(0% , 100%);
}
/*lay-out four*/
.njba-layout-four .njba-inner-contant span{
    
    display: block;
    word-break: keep-all;
}
.njba-layout-four .njba-hover-box{
    opacity: 1;
    right:-100%;
    left: auto;
}
.njba-layout-four .njba-highlight-box-main:hover .njba-hover-box{
    right: 0;
    opacity: 1;
}
.njba-layout-four .njba-image-box{
    transform: translate(0% , 0%);
    transition: all 0.5s ease;
}
.njba-layout-four .njba-highlight-box-main:hover .njba-image-box{
    transform: translate(-100% , 0%);
}
/*lay-out five*/
.njba-layout-five .njba-inner-contant span{
    
    display: block;
    word-break: keep-all;
}
.njba-layout-five .njba-hover-box{
    opacity: 1;
    bottom:-100%;
    top: auto;
}
.njba-layout-five .njba-highlight-box-main:hover .njba-hover-box{
    bottom: 0;
    opacity: 1;
}
.njba-layout-five  .njba-image-box{
    transform: translate(0% , 0%);
    transition: all 0.5s ease;
}
.njba-layout-five .njba-highlight-box-main:hover .njba-image-box{
    transform: translate(0% , -100%);
}   
