/*
    Administration stylesheet for MainWP Maintenance Extensioin
*/

#maintenance-site-progress-box .ui-progressbar {
		background-color: #fafafa;
    margin-top: 1em;
    height: 1em;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border: 0;
}

#maintenance-site-progress .ui-progressbar-value {
	background: #7fb100;
	display: inline-block;
	overflow: hidden;
	-webkit-transition: width .4s ease-in-out;
	-moz-transition: width .4s ease-in-out;
	-ms-transition: width .4s ease-in-out;
	-o-transition: width .4s ease-in-out;
	transition: width .4s ease-in-out;
}
#maintenance-site-progress .ui-progressbar-value:after {
content: "";
	position: relative;
	top: 0 ;
	height: 100%; width: 100%;
	display: inline-block;
	-webkit-background-size: 30px 30px;
	-moz-background-size:    30px 30px;
	background-size:         30px 30px;
	overflow: hidden !important;
	background-image: -webkit-gradient(linear, left top, right bottom,
	color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
	color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
	color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
	to(transparent));
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
	transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
	transparent 75%, transparent);
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
	transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
	transparent 75%, transparent);
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
	transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
	transparent 75%, transparent);
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
	transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
	transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
	transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
	transparent 75%, transparent);

	-webkit-animation: animate-stripes 6s linear infinite;
	-moz-animation: animate-stripes 6s linear infinite;
}

#maintenance_run_loading,
#maintenance_new_loading,
#maintenance_edit_loading,
#maintenance_save_loading,
.maintenance_trigger_loading{
	display: none;
}
#maintenance_options_revisions_count {
	width: 50px;
}
.maint_custom_tbl .form-table th{
    width: 150px !important;   
}