.snax-widget-cta {
    .snax-button-create {
        width: 100%;
        text-align: center;
    }
}

.snax {
    .snax-cta-text-before {
        margin-bottom: 30px;
        text-align: center;
        font-size: 1.5em;
        line-height: 1.25;
    }
}

.snax-widget-latest-votes{
    .snax-more-results{
        text-align: $right
    }
}

.snax {
    .snax-list-collection {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .snax-list-collection-item {
        margin: 0;
        padding: 0;
        list-style: none;

        > div {
            margin-bottom: 20px;

            // Clearfix
            &:after {
                display: table;
                clear: both;
                content: "";
            }

            > a {
                display: block;
                float: $left;
                width: 80px;
                margin-#{$right}: 15px;

                img {
                    display: block;
                }
            }
        }
    }
}

.snax-teaser-versus{
    .snax-teaser-versus-images{
        position:relative;
    }
    .snax-teaser-versus-images{
        position:relative;
        overflow:hidden;
        height:180px;
        @media only screen and ( max-width: 600px ) {
            height:auto;
        }
    }
    .snax-teaser-versus-images img:first-child{
        width:calc(50%);
        height:auto;
        display:inline-block;
        position:relative;
        top:30px;
        transform-origin: 0% 0%;
        transform: rotate(-5deg);
        z-index:1;
        box-shadow: 21px 21px 29px 0px rgba(0, 0, 0, 0.4);
        text-shadow: 21px 21px 29px rgba(0, 0, 0, 0.4);
    }
    .snax-teaser-versus-images img:last-child{
        width:calc(50% + 10px);
        height:auto;
        top:0px;
        #{$right}:0px;
        display:inline-block;
        position:absolute;
        transform-origin: 0% 0%;
        transform: rotate(5deg);
    }
    .snax-teaser-versus-images:after{
            content:"Vs";
            letter-spacing: -0.1em;
            position:absolute;
            background:#2a2a2a;
            color:white;
            font-size:36px;
            font-weight:bold;
            border-radius:100px;
            padding:22px 0px;
            min-width:80px;
            text-align: center;
            z-index:5;
            line-height:36px;
            top:50%;
            #{$left}:50%;
            transform:translateY(-50%) translateX(-50%);
            background-color: #000;
            @include filter-gradient(#424242, #000000, horizontal);
            @include background-image(linear-gradient(#{$left} top, #424242 0%,#000000 100%));
    }
    .snax-teaser-versus-post-title{
        text-align:center;
        color:black;
        padding-top:10px;
        padding-bottom:5px;
        margin:0 15px;
    }
    .snax-teaser-versus-button{
        display:block;
        text-align:center;
        margin:0 15px;
    }
}

.snax-teaser-binary{
    .snax-teaser-binary-images{
        position:relative;
        text-align: center;
    }
    .snax-teaser-binary-images img{
        @media only screen and ( max-width: 800px ) {
            width:100%;
            height:auto;
        }
    }
    .snax-teaser-binary-post-title{
        text-align:center;
        color:black;
        padding-top:10px;
        padding-bottom:5px;
        margin:0 15px;
    }
    .snax-teaser-binary-button{
        display:block;
        text-align:center;
        margin:0 15px;
    }
    .snax-teaser-binary-slogan{
        color:black;
        font-size:24px;
        position:absolute;
        text-align:center;
        #{$left}:0px;
        bottom:0px;
        width:100%;
        margin:auto;
        text-transform:uppercase;
        font-weight:bold;
        white-space: pre-line;
        z-index:1;
        transform-style: preserve-3d;
        line-height: 0px;
        div{
            padding: 3px 6px; line-height: 1;
            display:table;
            transform-origin:50%;
            position: relative;
            #{$left}:50%;
            &:nth-child(1){
                background:#ff5dff;
                z-index:2;
                transform:translateX(-50%) rotate(5deg) translateY(90%) translateZ(1px);
                margin-bottom: 12px;
            }
            &:nth-child(2){
                background:#fff;
                font-size:14px;
                z-index:1;
                transform:translateX(-50%) translateY(60%);
                margin-bottom: 10px;
            }
            &:nth-child(3){
                background:#5dd3ff;
                z-index:2;
                transform:translateX(-50%) rotate(-5deg);
                margin-bottom: 2px;
            }
        }
    }
}

.snax-widget-latest-votes{
    .snax-links{
        list-style-type: none;
        margin:0;
        li{
            @include display(flex);
            margin-bottom:12px;
            @include align-items(flex-start);
            .snax-upvote{
                @include snax_remove_link_underline;
                padding:12px;
                margin-#{$right}: 5px;
                font-size:0px;
                border-color: #e6e6e6;
                background-color: #f2f2f2;
                color:#c6c6c6;
                border-radius: 4px;
                &:before {
                    display: block;
                    font: 16px/1 "snaxicon";
                    content: "\e006";
                }
            }
            .snax-downvote{
                @include snax_remove_link_underline;
                padding:12px;
                border-color: #e6e6e6;
                background-color: #f2f2f2;
                color:#c6c6c6;
                border-radius: 4px;
                font-size:0px;
                margin-#{$right}:20px;
                &:before {
                    display: block;
                    font: 16px/1 "snaxicon";
                    content: "\e007"
                }
            }
            .snax-user-voted{
                color:black;
            }
            .snax-meta{
                padding-#{$right}:10px;
                text-align:center;
            }
        }
    }
}