html,
.mask {
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.ultimate-branding-settings-ms-site-check .mask,
body.ultimate-branding-settings-ms-site-check .overall {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
body.ultimate-branding-settings-ms-site-check .overall {
  display: flex;
  align-items: center;
}
body.ultimate-branding-settings-ms-site-check .overall .page {
  margin: 0 auto;
  padding: 1em 2em;
}
body.has-social #social {
  display: block;
  margin: 1em 0;
}
body.has-social #social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body.has-social #social a {
  color: black;
  text-decoration: none;
  opacity: .5;
}
body.has-social #social a:hover {
  opacity: 1;
}
body.has-social #social span {
  width: 3em;
  padding-bottom: 1em;
}
body.has-social #social span:before {
  font-size: 2em;
}
body.use-color .social-logo-amazon:before {
  color: #d70;
}
body.use-color .social-logo-blogger:before {
  color: #f57d00;
}
body.use-color .social-logo-codepen:before {
  color: #000;
}
body.use-color .social-logo-dribbble:before {
  color: #ea4c89;
}
body.use-color .social-logo-dropbox:before {
  color: #007ee5;
}
body.use-color .social-logo-eventbrite:before {
  color: #f6682f;
}
body.use-color .social-logo-facebook:before {
  color: #3b5999;
}
body.use-color .social-logo-flickr:before {
  color: #ff0084;
}
body.use-color .social-logo-foursquare:before {
  color: #f94877;
}
body.use-color .social-logo-ghost:before {
  color: #ecbb2e;
}
body.use-color .social-logo-github:before {
  color: #eb4924;
}
body.use-color .social-logo-google:before {
  color: #dd4b39;
}
body.use-color .social-logo-instagram:before {
  color: #e4405f;
}
body.use-color .social-logo-linkedin:before {
  color: #0077B5;
}
body.use-color .social-logo-pinterest:before {
  color: #bd081c;
}
body.use-color .social-logo-pocket:before {
  color: #ee4056;
}
body.use-color .social-logo-polldaddy:before {
  color: #bc0b0b;
}
body.use-color .social-logo-reddit:before {
  color: #ff5700;
}
body.use-color .social-logo-skype:before {
  color: #00AFF0;
}
body.use-color .social-logo-spotify:before {
  color: #1ed760;
}
body.use-color .social-logo-squarespace:before {
  color: #000;
}
body.use-color .social-logo-stumbleupon:before {
  color: #eb4924;
}
body.use-color .social-logo-telegram:before {
  color: #eb4924;
}
body.use-color .social-logo-tumblr:before {
  color: #34465d;
}
body.use-color .social-logo-twitter:before {
  color: #55acee;
}
body.use-color .social-logo-vimeo:before {
  color: #1ab7ea;
}
body.use-color .social-logo-whatsapp:before {
  color: #25D366;
}
body.use-color .social-logo-wordpress:before {
  color: #21759b;
}
body.use-color .social-logo-xanga:before {
  color: #437fbb;
}
body.use-color .social-logo-youtube:before {
  color: #cd201f;
}


/* 381945-1536242933-au */