#show_available_tokens {
	float: right;
}

#mainwp_extract_preview_output {
	height: 300px;
	width: 100%;
}

#mainwp_extract_format_output {
	width: 100%;
}

.ext-urls-option-box {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
	color: #333333;
	padding: 10px 5px;
	clear: both;
}

.mainwp_extract_export_type{
	float: right;
	width: 90px;
}
.ext-urls-option {
	float: left;
	margin-bottom: 8px;
}
.ext-urls-option > label{
	float: left;
	width: 150px;
	display: inline-block;
}
.ext-urls-option .mainwp_checkboxes{
	float: left;
	margin: 0;
}
.ext-urls-show-opt-links {
	text-align: right;
	float: right;
}
.ext-urls-show-opt-links a{
	margin-left: 10px;
}
.ext-urls-option-box {
	margin: 25px 0 0 0;
}
.ext_box_dismiss{
	float: right;
}
.ext_delete_template{
	color: #AA0000;
}
a.ext_url_add_token {
	padding: .2em .5em;
	color: #7fb100 !important;
}
a.ext_url_add_token:hover {
	background: #7FB100;
	color: #fff !important;
	cursor: pointer;
}
#ext_box1 p.ext-token {
	margin: 7px 0;
}
#mainwp-urlext-tips {
	display: none;
}
.mainwp-urlext-tut, #mainwp-urlext-tips {
	display: none;
}

.mainwp_ext_info_box {
	background-color: #fff;
	border: 1px Solid #e5e5e5;
	padding: 1em;
	margin-bottom: 1em;
	text-decoration: none !important;
}

.mainwp_ext_info_box a {
	text-decoration: none !important;
}
