/**
 * Simple style
 *
 * @author Leanza Francesco
 *
 * 1. Checkbox
 * 2. Tip Tip
 * 3. Booking Form
 * 4. Date Range Picker
 * 5. Date Picker
 * 6. Search Forms
 * 7. People Selector
 */

/* ----------------------------------
 *  1. Checkbox
 * ----------------------------------
 */
.yith-booking--simple-style .yith-wcbk-checkbox span.yith-wcbk-checkbox__checkbox {
    background : #fff;
}

/* ----------------------------------
 *  2. Tip Tip
 * ----------------------------------
 */
.yith-booking.yith-booking--simple-style #tiptip_holder {

}

.yith-booking.yith-booking--simple-style #tiptip_content {
    background    : #fff;
    color         : #484848;
    border-radius : 0;
    border        : 1px solid #dbdbdb;
    padding       : 18px;
}

.yith-booking.yith-booking--simple-style #tiptip_holder.tip_bottom #tiptip_arrow_inner {
    border-bottom-color : #dbdbdb;
    border-width        : 6px;
}

.yith-booking.yith-booking--simple-style #tiptip_holder.tip_bottom #tiptip_arrow_inner:before {
    content             : '';
    position            : absolute;
    height              : 0;
    width               : 0;
    border              : 6px solid transparent;
    border-bottom-color : #fff;
    margin-top          : -5px;
    margin-left         : -6px;
}

.yith-booking.yith-booking--simple-style #tiptip_holder.tip_top #tiptip_arrow_inner {
    border-top-color : #dbdbdb;
    border-width     : 6px;
}

.yith-booking.yith-booking--simple-style #tiptip_holder.tip_top #tiptip_arrow_inner:before {
    content          : '';
    position         : absolute;
    height           : 0;
    width            : 0;
    border           : 6px solid transparent;
    border-top-color : #fff;
    margin-top       : -7px;
    margin-left      : -6px;
}

/* ----------------------------------
 *  3. Booking Form
 * ----------------------------------
 */
.yith-booking--simple-style .yith-wcbk-booking-form input:not([type='checkbox']),
.yith-booking--simple-style .yith-wcbk-booking-form input.yith-wcbk-date-picker,
.yith-booking--simple-style .yith-wcbk-booking-form select,
.yith-booking--simple-style .yith-wcbk-booking-form textarea {
    background    : #fff;
    border        : 1px solid #d1d1d1;
    border-radius : 0;
    color         : #484848;
    padding       : 8px 14px;
}

.yith-booking--simple-style .yith-wcbk-booking-form .yith-wcbk-booking-form__label {
    font-weight : 600;
    font-size   : 12px;
    margin      : 5px 0 2px 0;
}

.yith-booking--simple-style .yith-wcbk-form-section-services-wrapper label.yith-wcbk-booking-form__label {
    margin-top : 15px;
}

.yith-booking--simple-style .yith-wcbk-booking-form-message p {
    padding    : 2px;
    border     : none;
    background : #fff;
    color      : #999;
    margin     : 5px 0 15px 0;
    font-size  : 12px;
}

.yith-booking--simple-style .yith-wcbk-booking-form-message p.error {
    border-color : #960039;
    color        : #960039;

}

.yith-booking--simple-style .yith-wcbk-booking-form-message p.bookable {
    border-color : #009688;
    color        : #009688;
}

/* ----------------------------------
 *  4. Date Range Picker
 * ----------------------------------
 */
.yith-booking--simple-style .yith-wcbk-date-range-picker {
    border-radius : 0;
    background    : #fff;
    border-color  : #dbdbdb;
    color         : #484848;
}

.yith-booking--simple-style .yith-wcbk-date-range-picker input.yith-wcbk-date-picker {
    border  : 0;
    padding : 12px 14px;
}

/* ----------------------------------
 *  5. Date Picker
 * ----------------------------------
 */
.yith-booking--simple-style #ui-datepicker-div.yith-wcbk-datepicker.ui-widget-content {
    box-shadow : 0 0 0 1px #d1d1d1 inset !important;
    width      : 318px;
    padding    : 13px;
}

.yith-booking--simple-style .yith-wcbk-datepicker .ui-datepicker-header {
    background : transparent;
    color      : #565a5c;
}

.yith-booking--simple-style .yith-wcbk-datepicker.ui-datepicker .ui-datepicker-title {
    font-size   : 17px;
    font-weight : 400;
}

.yith-booking--simple-style .yith-wcbk-datepicker.ui-datepicker .ui-datepicker-prev {
    left   : 7px;
    border : 1px solid #d1d1d1;
}

.yith-booking--simple-style .yith-wcbk-datepicker.ui-datepicker .ui-datepicker-next {
    right  : 7px;
    border : 1px solid #d1d1d1;
}

.yith-booking--simple-style .yith-wcbk-datepicker.ui-datepicker .ui-datepicker-prev-hover,
.yith-booking--simple-style .yith-wcbk-datepicker.ui-datepicker .ui-datepicker-next-hover {
    border : 1px solid #adadad;
}

.yith-booking--simple-style .yith-wcbk-datepicker.ui-datepicker .ui-datepicker-prev span:after,
.yith-booking--simple-style .yith-wcbk-datepicker.ui-datepicker .ui-datepicker-next span:after {
    top   : -2px;
    color : #565a5c;
}

.yith-booking--simple-style .yith-wcbk-datepicker.ui-datepicker th {
    font-weight : 400;
}

.yith-booking--simple-style .yith-wcbk-datepicker.ui-datepicker table {
    width  : 100%;
    margin : 13px 0;
}

.yith-booking--simple-style .yith-wcbk-datepicker.ui-datepicker td {
    width      : 39px;
    height     : 38px;
    border     : 1px double rgb(228, 231, 231);
    color      : rgb(220, 224, 224);
    background : rgb(255, 255, 255);
    text-align : center;
    font-size  : 15px;
}

.yith-booking--simple-style .yith-wcbk-datepicker.ui-datepicker td.ui-datepicker-other-month {
    border : none;
}

.yith-booking--simple-style .yith-wcbk-datepicker.ui-datepicker td.ui-datepicker-current-day {
    background : #00a699;
}

.yith-booking--simple-style .yith-wcbk-datepicker.ui-datepicker td:not(.ui-state-disabled):hover {
    background : #61cbc7;
}

.yith-booking--simple-style .yith-wcbk-datepicker.ui-datepicker td:not(.ui-state-disabled):hover a.ui-state-default {
    color : #fff;
}

.yith-booking--simple-style .yith-wcbk-datepicker.ui-widget-content .ui-datepicker-unselectable:not(.ui-datepicker-other-month) {
    text-decoration       : line-through;
    text-decoration-color : #565a5c;
}

.yith-booking--simple-style .yith-wcbk-datepicker.ui-datepicker td a.ui-state-active:before {
    display : none;
}

.yith-booking--simple-style .yith-wcbk-datepicker.ui-datepicker .ui-datepicker-buttonpane {
    height : auto;
}

.yith-booking--simple-style .yith-wcbk-datepicker.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-close {
    color     : #008489;
    font-size : 16px;
}

.yith-booking--simple-style .yith-wcbk-datepicker.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-close:hover {
    text-decoration : underline;
    color           : #009fa4;
}

/* ----------------------------------
 *  6. Search Forms
 * ----------------------------------
 */
.yith-booking--simple-style .yith-wcbk-booking-search-form input[type=text],
.yith-booking--simple-style .yith-wcbk-booking-search-form input[type=number],
.yith-booking--simple-style .yith-wcbk-booking-search-form .select2-choices,
.yith-booking--simple-style .yith-wcbk-booking-search-form .select2-container--default .select2-selection--multiple {
    border-radius : 0;
}

/* ----------------------------------
 *  7. People Selector
 * ----------------------------------
 */
.yith-booking--simple-style .yith-wcbk-people-selector {
    color : #484848;
}

.yith-booking--simple-style .yith-wcbk-people-selector__toggle-handler,
.yith-booking--simple-style .yith-wcbk-people-selector__fields-container {
    background    : #fff;
    border-color  : #dbdbdb;
    padding       : 3px 14px;
    border-radius : 0;
}

.yith-booking--simple-style .yith-wcbk-people-selector__totals {
    padding       : 3px 7px;
    border-radius : 4px;
}

.yith-booking--simple-style .yith-wcbk-people-selector__toggle-handler {
    padding : 1px 7px;
}

.yith-booking--simple-style .yith-wcbk-people-selector--opened .yith-wcbk-people-selector__totals {
    background : #1eadb3;
    color      : #fff;
}

.yith-booking--simple-style .yith-wcbk-people-selector__fields-container {
    border-top-width : 1px;
    margin-top       : 6px;
    min-width        : 300px;
    right            : 0;
    box-shadow       : 0 2px 13px 0 rgba(0, 0, 0, 0.24), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
}

.yith-booking--simple-style .yith-wcbk-people-selector__fields-container:before {
    content             : '';
    position            : absolute;
    height              : 0;
    width               : 0;
    border              : 13px solid transparent;
    border-bottom-color : #dbdbdb;
    margin-top          : -26px;
    margin-right        : 25px;
    top                 : 0;
    right               : 0;
}

.yith-booking--simple-style .yith-wcbk-people-selector__fields-container:after {
    content             : '';
    position            : absolute;
    height              : 0;
    width               : 0;
    border              : 13px solid transparent;
    border-bottom-color : #fff;
    margin-top          : -25px;
    margin-right        : 25px;
    top                 : 0;
    right               : 0;
}

@media (max-width : 44.375em) {
    .yith-booking--simple-style .yith-wcbk-people-selector__fields-container {
        min-width : 0;
        width     : 100%;
    }
}