.njba-image-hover-box1 .njba-njba-box-dispay {
    width: 100%;
    height: 100%;
    display: table;
}
.njba-image-hover-name{
	     font-family:'open sans';
         font-weight:bold;
		 font-size:48px;
		 padding-bottom:50px;
}
.njba-col-xs-4{
	width:25%;
	float:left;	
}
.njba-image-responsive{
	max-width:100%;
	width:100%;
	height:auto;
	display:block;	
     transition:all 0.5s;
}
.njba-image-hover-box{width:100%;
		  transition:all 0.3s;
		  margin: 30px 0;
		  position:relative;
}
.njba-image-hover-col-xs-3{
	width:33.33%;
    float:left;
	padding:0 15px;
	box-sizing:border-box;
}
.njba-image-hover-col-xs-5{
	width:33.33%;
   float:left;
   padding:30px 30px 0px 0px;
   box-sizing:border-box;
}
			  
/* layout-1  */
.njba-image-hover-box1{
	position:relative;
}
.njba-image-hover-border{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display:inline-block;
    z-index: 1;
}
/* for 1 2 4*/
.njba-box-dispay{
	display:table;
    width:100%;
    height:100%;
}
/* for 1 2 4*/
.njba-box-dispay-two{
	vertical-align:middle;
    width:100%;
	height:100%;
	display:table-cell;
	padding:0px 25px;
}
.njba-image-hover-common{
	font-family:'lato'; 
	color:#FFFFFF;
}
.njba-image-hover-border h1{opacity:0;}
.njba-image-hover-box1:hover .njba-image-hover-border h1{opacity:1;}
.njba-image-hover-border h2{opacity:0;}
.njba-image-hover-box1:hover .njba-image-hover-border  h2{opacity:1;}	
/* layout-2 */
			 
.njba-image-hover-box2{
	overflow:hidden;
	position:relative;
}
.njba-image-hover-box-three{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}
.njba-image-hover-box-three h1{
	text-transform:uppercase;
   top:100%;
   position:absolute;
   transform: translateY(-50%);
   right:0;
   left:0;
}
.njba-image-hover-box-three:hover{z-index:1;}
.njba-image-hover-box-three:hover.njba-image-hover-box-three h1{top:0%;}
/* layout- 3 */		  
                   
.njba-image-hover-box-four{
	position:relative;
    overflow:hidden;
}
.njba-interactive-img{position:relative;}
.njba-image-hover-name-one{
	position:absolute;
   z-index:2;
   right:0;
   left:0;
   opacity:0;
   bottom:100%;
   line-height: normal;
}
						   
.njba-image-hover-name-two{
	position:absolute;
   z-index:2;
   top:100%;
   right:0;
   left:0;
   opacity:0;
   line-height: normal;
}	
						   
.njba-image-hover-box-four:hover .njba-image-hover-name-two{
	top:0%;
    opacity:1;
}	
																				   						   					   
.njba-image-hover-box-four:hover .njba-image-hover-name-one{
	opacity:1;
    bottom:0%;
}
					
                 /* layout- 4 */
.njba-image-hover-box-five{
      box-sizing:border-box;
	  position:relative;
}
.njba-image-hover-box-five-one{
	position:absolute;
    width:100%;
	height:100%;
}
.njba-image-hover-box-five-one h1{
				   text-transform:uppercase;
				   position:relative;
				   top:22px;
				   margin: 0px;
				   
				   }
.njba-image-hover-box-five-one:hover.njba-image-hover-box-five-one h1{top:0px;}
.njba-image-hover-box-five-one h2{position:absolut;
								  left:0;
								  right:0;
								  opacity:0;
								  margin: 0px;
								  }													
.njba-image-hover-box-five-one:hover.njba-image-hover-box-five-one h2{opacity:1;}	
					/* layout- 5 */
.njba-image-hover-box-six{
                         
						  position:relative;
						  
						  overflow: hidden;
						  }
.njba-image-hover-box-six-one{position:absolute;
                               left:0;
							   right:0;
							   top:100%;
							   bottom:0;
							}
.njba-image-hover-box-six:hover .njba-image-hover-box-six-one{top:0%;}
						   
.njba-image-hover-box-six-one h1{
								 margin: 0px
							   	 left:0;
								 opacity:1;
								 }
								 
.njba-image-hover-box-six-one:hover.njba-image-hover-box-six-one h1{opacity:1;}
.njba-image-hover-box-six-one:hover.njba-image-hover-box-six-one h2{opacity:1;}
.njba-image-hover-box-six-one h2{
								 margin: 0px;
								 font-weight:normal;
								 left:0;
								 opacity:1;
								 }										   							  							   
.njba-box-dispay-three{vertical-align:middle;/* for 5 */
                width:100%;
				height:100%;
				display:table-cell;
				}
@media (max-width:1170px){		
	
	
	.njba-image-hover-border1 h1{font-size:25px;}
	
	.njba-image-hover-border h1{font-size:25px;}
	
	.njba-image-hover-overrlay-one h1 {font-size: 40px;}
	
	.njba-image-hover-overrlay-one h2 {font-size: 18px;}
	
	.njba-image-hover-overrlay-one p {font-size: 15px;}
	                             
	.njba-image-hover-overrlay-two h1 {font-size: 40px;}
	
	.njba-image-hover-overrlay-two h2 {font-size: 18px;}
	
	.njba-image-hover-overrlay-two p {font-size: 15px;}
	
	.njba-image-hover-overrlay-three h1 {font-size: 40px;}
	
	.njba-image-hover-overrlay-three h2 {font-size: 18px;}
	
	.njba-image-hover-overrlay-three p {font-size: 15px;}
	
	.njba-image-hover-overrlay-four h1 {font-size: 40px;}
	
	.njba-image-hover-overrlay-four h2 {font-size: 18px;}
	
	.njba-image-hover-overrlay-four p {font-size: 15px;}
	
	.njba-image-hover-border  h2{font-size:14px;}
	}
@media (max-width:991px){
	.njba-col-xs-4{width:50%;}
	
	.njba-image-hover-col-xs-5{width:50%;}
	
	.njba-image-hover-border1 h1{font-size:16px;}
	
	.njba-image-hover-border1 h2{font-size:10px;}
	
	.njba-image-hover-border h1{font-size:16px;}
	
	.njba-image-hover-border h2{font-size:10px;}
		
	}			
@media (max-width:767px){
	.njba-col-xs-4{width:100%;}	
	
	.njba-image-hover-col-xs-5{width:100%;}
	
	
	
	.njba-image-hover-col-xs-3{	width:100%;}
	 
	.layout-3 .njba-col-xs-4{width:100%;padding: 0 30px;}
	.layout-2 .njba-col-xs-4{width:100%;padding: 0 30px;}
	.layout-3 .njba-col-xs-4{width:100%;padding: 0 30px;}
	
	
	.njba-image-hover-border h1{font-size:18px;}
	
	.njba-image-hover-border h2{font-size:12px;}
	
	.njba-image-hover-border1 h1{font-size:18px;}
	
	.njba-image-hover-border1 h2{font-size:12px;}
		
	.njba-image-hover-overrlay-one h1 {font-size: 45px;}
	
	.njba-image-hover-overrlay-one h2 {font-size: 22px;}
	
	.njba-image-hover-overrlay-one p {font-size: 18px;}
	
	.njba-image-hover-box-three h1{font-size:18px;}
    
	.njba-image-hover-name-one{font-size:20px;}
                      
	.njba-image-hover-name-two{font-size:15px;}				  
	}
