.njba-infobox-sub-main.njba-one{
    display: inline-block;
    width: 100%;
}
.njba-img-responsive{
    max-width: 100%;
    height: auto;
    display: block;
}
.njba-infobox-sub-main{
    display: inline-block;
    width: 100%;
}
.position_center{
    float: none;
    width: 100%;
    text-align: center;
}
.position_left{
    float: left;
}
.position_right{
    float: right;
}