/*Fonts */
@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?eegarh');
  src:url('fonts/icomoon.eot?#iefixeegarh') format('embedded-opentype'),
    url('fonts/icomoon.woff?eegarh') format('woff'),
    url('fonts/icomoon.ttf?eegarh') format('truetype'),
    url('fonts/icomoon.svg?eegarh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Colors */
#UseyourDrive .jp-playlist-current .jp-playlist-item-song-title,
#UseyourDrive .jp-playlist-current .jp-playlist-item-song-artist {
  color: #0e92c7;
}

/* Reset */
#UseyourDrive .UseyourDrive.media *{
  box-sizing: content-box;
}

#UseyourDrive .UseyourDrive.media ul{
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#UseyourDrive .UseyourDrive.media ul li{
  list-style: none;
  margin: 0;
}
#UseyourDrive .UseyourDrive.media{
  position: relative;
  font-family: 'Segoe UI', Verdana, sans-serif;
  clear: both;
  margin-bottom: 10px;
  line-height: 1.4;
  font-size: 13px;
  text-align: center;
}
#UseyourDrive .UseyourDrive.media a{
  color: #333;
  text-decoration: none;
}
#UseyourDrive li:before{
  content: none !important;
}
/* No Solution */
#UseyourDrive .jp-no-solution{
  padding: 20px;
}

/* Containers */
#UseyourDrive .UseyourDrive.media{
  margin: 5px 0px 30px;
  position: relative;
  z-index: 0;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
}

#UseyourDrive .jp-video {
  position:relative;
}

#UseyourDrive .jp-video-100 {
  max-width: 100%;
}

#UseyourDrive .jp-video-270p {
  max-width:480px;
}

#UseyourDrive .jp-video-360p {
  max-width:570px;
}

#UseyourDrive .playerScreen .jp-video-play {
  display: block;
  position: absolute;
  z-index: 990;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  right: 0;
  background: url("preimg.light.png") no-repeat center center;
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.1);
}

/* Full Screen*/
#UseyourDrive .jp-video-full {
  width:100%!important;
  position:static !important;
  position:relative;
  background: none
}
#UseyourDrive.jp-video-full .jp-jplayer {
  top: 0;
  left: 0;
  position: fixed !important; position: relative; /* Rules for IE6 (full-screen) */
  overflow: hidden;
  z-index:1000;
}

#UseyourDrive .jp-video-full .jp-gui {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

#UseyourDrive .jp-video.jp-video-full .jp-playlist{
  display:none !important;
}

#UseyourDrive .jp-video.jp-video-full .jp-jplayer img{
  position:absolute;
  border-radius: 0;
}
#UseyourDrive .jp-video.jp-video-full .jp-jplayer video{
  border-radius: 0;
}

#UseyourDrive .jp-video.jp-video-full #UseyourDrive .jp-video.jp-video-full{
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  height: 100% !important;
}
/* Layout Player */
#UseyourDrive .jp-jplayer {
  position: relative;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  margin: 0 auto;
  opacity: 0;
}


#UseyourDrive .jp-video .jp-jplayer img{
  position:absolute;
  height:100%;
}
#UseyourDrive .jp-video .jp-jplayer video{

}

#UseyourDrive .jp-video-full .jp-jplayer img{
  position: fixed;
  left: 0;
  top: 0;
}


/* Gui & Controls */
#UseyourDrive .jp-gui{
  display: block;
  position: relative;
  height: 50px;
  background: #F0F0F0;
  color: #646464;
  padding: 5px 10px;
  z-index: 996;
  border: 1px solid e6e6e6;
}

#UseyourDrive  .leftblock {
  position: absolute;
  left: 3px;
  width: 50px;
}
#UseyourDrive .leftblock .jp-play {
  display: block;
  width: 40px;
  height: 40px;
  background: url("playerUI.light.png") no-repeat 0 1px;
  opacity: 0.8;
}
#UseyourDrive   .leftblock .jp-play:hover {
  opacity: 1;
}
#UseyourDrive  .leftblock .jp-pause {
  display: block;
  width: 40px;
  height: 40px;
  background: url("playerUI.light.png") no-repeat -40px 1px;
  opacity: 0.8;
}
#UseyourDrive  .leftblock .jp-pause:hover {
  opacity: 1;
}

#UseyourDrive .rightblock {
  position: absolute;
  right: 10px;
  width: 110px;
  top: 5px;
  height:28px;
}
#UseyourDrive .rightblock .volumeText {
  display: block;
  position: absolute;
  bottom: -12px;
  text-align: center;
  width: 80px;
  font-size: 11px;
}
#UseyourDrive   .rightblock .volumeBar {
  display: block;
  position: absolute;
  height: 4px;
  background-color: #EBEBEB;
  background: rgba(0, 0, 0, 0.1);
  width: 80px;
  top: 20px;
  left: 0;
  cursor: pointer;
}
#UseyourDrive  .rightblock .volumeBar .currentVolume {
  position: relative;
  height: 2px;
  padding: 1px;
}
#UseyourDrive   .rightblock .volumeBar .currentVolume .curvol {
  display: block;
  height: 2px;
  padding: 0;
  background: #191919;
}
#UseyourDrive   .rightblock .volumeBar .currentVolume a {
  display: block;
  position: absolute;
  top: -2px;
  margin-left: -3px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background: #191919;
}
#UseyourDrive  .rightblock .volumeBar .currentVolume a div {
  display: block;
  width: 8px;
  height: 8px;
}
#UseyourDrive  .rightblock .jp-full-screen {
  display: block;
  float: right;
  width: 16px;
  height: 16px;
  background: url("playerUI.light.png") no-repeat 0 -50px;
  margin-top: 12px;
  opacity: 0.4;
  right: 0px;
  top: 0px;
}
#UseyourDrive   .rightblock .jp-full-screen:hover {
  opacity: 0.8;
}
#UseyourDrive   .rightblock .jp-restore-screen {
  display: block;
  float: right;
  width: 16px;
  height: 16px;
  background: url("playerUI.light.png") no-repeat 0 -68px;
  margin-top: 12px;
  opacity: 0.4;right: 0px;
  top: 0px;

}
#UseyourDrive   .rightblock .jp-restore-screen:hover {
  opacity: 0.8;
}

/* Playlist*/
#UseyourDrive .jp-title .jp-playlist-item-song-title,
#UseyourDrive .jp-title .jp-playlist-item-song-artist{
  font-size: 12px;
  margin-left: 0px;
  display: inline-block;
  color: #282828;
  padding: 0;
}

#UseyourDrive .jp-title .jp-playlist-item-thumb{
  display: none;
}

#UseyourDrive .jp-playlist-item {
  text-decoration: none;
}

#UseyourDrive .jp-full-screen,
#UseyourDrive .jp-restore-screen{
  position: absolute;
  right: 34px;
  top: 14px;
}

#UseyourDrive , #UseyourDrive  ul.jp-controls {
  position: relative;
}
#UseyourDrive  ul.jp-controls {
  margin: 0px 20px 0;
  position: relative;
  top: 5px;
  height: 10px;
}

#UseyourDrive .jp-progress{
  position: relative;
  display: block;
  margin: 0 130px 0 50px;
  text-align: left;
}
#UseyourDrive .jp-progress span {
  height: 12px;
  overflow: hidden;
  display: inline-block !important;
  font-size: 12px;
  margin-left: 1px;
  color: #282828;
  line-height: 9px;
}
#UseyourDrive .jp-progress-bar {
  display: block;
  height: 4px;
  background-color: #3C3C3C;
  background: rgba(0, 0, 0, 0.1);
  margin: 2.5px 0;
}
#UseyourDrive .jp-seek-bar {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 1px;
  background: rgba(0, 0, 0, 0.1);
  max-width: 100%;
}
#UseyourDrive .jp-play-bar {
  background: #191919;
  height: 2px;
  position: relative;
  width: 0;
  padding: 0;
}
#UseyourDrive .jp-play-bar:after {
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  right: 0;
  top: -3px;
  width: 8px;
  background: #191919;
  border-radius: 5px;
}
#UseyourDrive .jp-current-time, #UseyourDrive .jp-duration {
  display: block;
  position: absolute;
  width: 50px;
  font-size: 11px;
}
#UseyourDrive .jp-current-time {
  left: 1px;
  text-align: left;
  color: #282828;
}
#UseyourDrive .jp-duration {
  right: 0px;
  text-align: right;
}

/* @group playlist */
#UseyourDrive div.jp-playlist {
  width:100%;
  background-color: #F7F7F7;
  position: relative;
  z-index: 1000;
}

#UseyourDrive div.jp-playlist li {
  border-top: 1px solid #e6e6e6;
  margin: 0;
  padding: 7px 25px;
  word-wrap: break-word;
}
#UseyourDrive div.jp-playlist li div{
  width: 100%;
  display: table-row;
}
#UseyourDrive div.jp-playlist li.jp-playlist-current{
  box-shadow: 0 0 3px #B6ACAC;
}

#UseyourDrive div.jp-playlist li:hover{
  box-shadow: 0 0 6px #B6ACAC;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
/* Note that the first-child (IE6) and last-child (IE6/7/8) selectors do not work on IE */
#UseyourDrive div.jp-playlist li:first-child {

}

#UseyourDrive div.jp-playlist li:last-child {
  border-bottom:none;
}

#UseyourDrive div.jp-playlist-item-song-title{
  color: #333333;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 3px;
  padding-top: 5px;
  text-align: left;
  font-family: Arial;
}
#UseyourDrive div.jp-playlist-item-song-artist{
  color: #333333;
  font-size: 11px;
  text-align: left;
  font-family: Arial;
}

#UseyourDrive span.jp-playlist-item-url{
  display: table-cell;
  vertical-align: middle;
  width: 75px;
}

#UseyourDrive .jp-playlist-item-dl,
#UseyourDrive .jp-playlist-item-sell{
  font-size: 16px;
  height: 16px;
  margin-left: 15px;
  margin-top: -2px;
  position: relative;
  width: 16px;
}
#UseyourDrive .jp-playlist-item-sell{
  top:1px;
}
#UseyourDrive .media a.jp-playlist-item {
  display: table-cell;
  vertical-align: middle;
  padding:0 20px;
  width:100%;
}
#UseyourDrive .media.audio.nocover a.jp-playlist-item {
  margin-left:0;
}
#UseyourDrive .media .jp-playlist-item-img{
  min-width:50px;
  width:50px;
  display: table-cell;
  vertical-align: middle
}
#UseyourDrive .media .jp-playlist-item-thumb{
  min-width:50px;
  width:50px;
  height:auto;
  border-radius: 5px;
}

#UseyourDrive .media li div.jp-playlist-item-song-title,
#UseyourDrive .media li div.jp-playlist-item-song-artist{
  display: block;
}

/* Audio player */
#UseyourDrive .UseyourDrive.media.audio.cover{
  border: none;
}

#UseyourDrive .media.audio.cover .jp-jplayer {
  overflow:hidden;
  border: none;
}
#UseyourDrive .media.audio .jp-jplayer img{
  border-radius: 18px 18px 0 0;
  height:200px!important;
  width: auto!important;
  margin: 0 auto;
  position: relative;
  display:block!important;
  background-color: #EEF1F2;
}

#UseyourDrive .media.audio.nocover .jp-jplayer{
  display:none!important;
}
#UseyourDrive .media.audio.nocover .jp-playlist-item-img{
  display:none;
}
#UseyourDrive .media.audio.nocover span.jp-playlist-item-url{
  top:5px;
}
#UseyourDrive .audio .jp-full-screen {
  display: none !important;
}
#UseyourDrive .audio .jp-restore-screen {
  display: none !important;
}

#UseyourDrive .audio .rightblock{
  width:80px; 
}
#UseyourDrive .audio  .jp-progress {
  margin-right:100px;
}
#UseyourDrive .audio  .rightblock .volumeBar{
  top: 21px;
}
#UseyourDrive .audio .playerScreen .jp-video-play{
  display:none;
}
/* Small screens */
@media only screen and (max-width: 320px){
  #UseyourDrive .rightblock .volumeBar,
  #UseyourDrive .rightblock .volumeText{
    display: none;
  }
  #UseyourDrive .audio .jp-progress{
    margin-right: 0px;
  }
  #UseyourDrive .video .jp-progress{
    margin-right: 30px;
  }
}

/* ICONS */
#UseyourDrive .jp-playlist-item-dl,
#UseyourDrive .jp-playlist-item-sell{
  font-family: 'icomoon';
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-decoration: none !important;
  text-transform: none;
}

#UseyourDrive .jp-playlist-item-url .jp-playlist-item-dl:before {
  content: "\e102";
}
#UseyourDrive .jp-playlist-item-url .jp-playlist-item-sell:before {
  content: "\e103";
}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 500px) {
  #UseyourDrive div.jp-playlist li div{
    text-align: center;
    display: block;
  }
  #UseyourDrive .media .jp-playlist-item-img{
    display: block;
    width: 100%;
  }
  #UseyourDrive .media a.jp-playlist-item{
    display: block;
    width: initial;
  }
  #UseyourDrive span.jp-playlist-item-url{
    display: block;
    width: 100%;
  }
  #UseyourDrive .jp-playlist-item-dl, #UseyourDrive .jp-playlist-item-sell{
    margin-left:6px;
  }

}