#ign_opc_pf_wrap {
	z-index: 9999999;
}
.payment_method_paypal img {
	height: 35px;
}
#one_page_load_order {
	background-color: #ffffe0;
	border: 1px solid #F9F9CC;
	height: auto !important;
	margin-bottom: 20px;
	padding: 10px 10px 8px 0;
	width: 99%;
}
.opc_add_fee_wrap { 
	background-color: #FFFFE0;
	border: 1px solid #F9F9CC;
	height: auto;
	margin-bottom: 20px;
	padding: 10px 10px 8px 16px;
	width: 100%;
}
.opc_add_fee_wrap input[type="text"] {
	padding: 5px;
	width: 49%;
	display: inline-block;
	margin-bottom: 10px;
}
.opc_add_fee_wrap input[type="submit"] {
	padding: 5px 15px;
}
.opc_add_fee_wrap p.fee_heading { 
	text-transform: uppercase !important;
	font-weight: bold !important;
	font-size: 1.1em !important;
	margin: 0 0 12px !important;
	line-height: 1;
}
.opc_fee_table {
	width: 100%;
}
.opc_fee_table td, .opc_fee_table th {
	padding: 7px !important;
}
.opc_fee_table th {
	background-color: #FFFFE0 !important;
	text-transform: uppercase !important;
	font-weight: bold !important;
}
.opc_fee_table .fee_action {
	text-align:center;
	font-size: 1.2em;
}
.opc_fee_table .fee_action a {
	color: #bf0000;
	font-weight: bold;
}
.opc_fee_wrap {
	height: auto;
}
.opc_fee_table p {
	margin: 0;
	padding: 0;
}
.clear_entire_cart.button { 
	margin-top: 14px !important;
	float: none !important;
	background-color: #ddd !important;
	color: #111 !important;
	font-weight: normal !important;
	border: 1px solid #ccc !important;
	box-shadow: none !important;
}
.clear_entire_cart.button:hover {
	background-color: #ececec !important;
	color: #111;
	border: 1px solid #ccc;
}
.one_page_checkout_page .select2-search {
	display: inline-block !important;
}
.one_page_checkout_page .woocommerce-info {
	background-color: #ffffe0 !important;
	border: 1px solid #F9F9CC;
}
.one_page_checkout_page .woocommerce-info a {
	color: #333 !important;
}
	
.one_page_checkout_form td {
	border:none !important;
	font-size: 16px !important;
	vertical-align: middle !important;
	padding: 0 !important;
	
}
.ign_opc_full_width { 
	position: absolute !important;
	z-index: 1051 !important; /* Use 1051 here because Select2 uses it to z-index it's dropdown search box display */
	width: 100% !important;
	background: #fff !important;
	top: 32px !important;
	margin: 0 !important;
	left: 0 !important;
	padding: 1em !important;
}

.one_page_checkout_form td input {
	font-size: 16px !important;
}
.one_page_checkout_page .create-account {
	background-color: #fafafa;
	border-radius: 2px;
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 0.5em !important;
	padding: 0.5em 1em 0.5em 1.2em !important;
}
.one_page_checkout_page .create-account #account_password { 
	background-color: #fff;
	border: 1px solid #ddd;
}
.opc-search-cats { 
	width: 39%;
}
.opc-product-search { 
	width: 59%
}
.opc-customer-search {
	width: 100% !important;
}

.one_page_checkout_page .chosen-container-multi .chosen-choices {
	background-image: none !important;
}

.one_page_checkout_page .chosen-container-multi .chosen-choices li.search-choice {
	background-clip: padding-box;
	background-color: #f4f4f4 !important;
	background-image: none !important;
	border: 1px solid #aaa;
	border-radius: 3px;
	box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
	color: #333;
	cursor: default;
	line-height: 14px;
	margin: 5px 7px 3px;
	padding: 6px 20px 6px 5px !important;
	position: relative;
}
	
.one_page_checkout_page .chosen-container-single .chosen-single {
	background: #f4f4f4 !important;
	border: 1px solid #aaa;
	border-radius: 5px;
	box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
	color: #444;
	display: block;
	height: 32px;
	line-height: 24px;
	overflow: hidden;
	padding: 2px 0 0 8px !important;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
}

.one_page_checkout_page .chosen-container-single .chosen-single div b {
	background-position: 0 6px !important;
}

.one_page_checkout_page .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	background-position: -42px 4px !important;
}
.one_page_checkout_page .opc_remove_from_cart {
	color: #d30000;
	font-weight: bold;
	border: none !important;
	box-shadow: none !important;
	font-size: 1.2em;
}
.opc_choose_products_desc { 
	font-size: 0.8em;
	font-style:italic;
	font-weight: normal;
}
.opc_arbitrary_product_btn {
	font-size: 0.8em !important;
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}
.opc_remove_product_link {
	clear: both;
	line-height: 2em !important;
	margin-top: 1.5em !important;
}
.one_page_checkout_page .opc_cart_is_empty {
	background: #fcfcfc none repeat scroll 0 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1.1em;
	font-weight: bold;
	margin: 1em 0;
	padding: 1em;
}
.one_page_checkout_page .opc_price, .one_page_checkout_page .opc_changeable_price  {
	width: 3.5em;
	display: inline-block;
	border: 1px solid #ccc;
}
.select2-container .select2-choice {
	font-size: 1.1em;
	margin-bottom: 12px;
	min-height: 27px;
}
/* Cart Updated Notice */
.ign_one_page_cart_updated_wrap {
	background-color: #fff;
	border-radius: 7px;
	color: #333;
	font-size: 2em;
	padding: 1em;
	text-align: center;
	height: auto;
}

/* Searchable layout - form */
#one_page_searchable_form, #one_page_searchable_customer_search { 
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 1em 1em 0 1em;
}


/* List layout */

ul.one_page_product_list li {
	border: 1px solid #ccc;
	border-radius: 7px;
	padding: 0.5em 0 0.5em 0;
	list-style-type: none;
	margin-bottom: 1rem;
}
ul.one_page_product_list li:hover {
	background-color: #f7f7f7;
}
ul.one_page_product_list li .opc_product_item {
	margin-left: 1em;
}

ul.one_page_product_list li .product_title {
	display: inline-block;
	font-size: 1.2rem;
	width: 60%;
}
ul.one_page_product_list li .amount {
	font-weight: bold;
	font-size: 1.2rem;
}
ul.one_page_product_list li .sku {
	font-size: 1rem;
}
ul.one_page_product_list dt {
	line-height: 1rem;
	width: 33%;
	display: inline-block;
	margin-bottom: 1rem;
}
ul.one_page_product_list dd {
	line-height: 1rem;
	width: 66%;
	display: inline-block;
	margin-bottom: 1rem;
}
/* Image thumbnail size and position */
ul.one_page_product_list .attachment-shop_thumbnail, ul.one_page_product_list .woocommerce-placeholder {
	max-width: 32px;
	vertical-align: middle;
	margin: 1.5em;
}

/* ---------- Table layout ----------- */
#opc_table_layout tr.one_page_product_table_item td { 
	padding: 0.5em 0.2em !important;
}
#opc_table_layout form {
	margin: 0;
}
#opc_table_layout tr:nth-child(2n) td {
	background-color: #f7f7f7 !important;
}
#opc_table_layout tr td {
	background-color: #fcfcfc !important;
}
#opc_table_layout .wp-post-image, #opc_table_layout .product-thumbnail img {
	margin: 0 0em;
}

table.one_page_product_list {
	width: 100%;
}
table.one_page_product_list tr {
	border: 1px solid #ccc;
	list-style-type: none;
}

table.one_page_product_list tr .product_title {
	font-size: 100%;
}
table.one_page_product_list tr .amount {
	font-weight: bold;
	font-size: 100%;
	text-align:right
}
table.one_page_product_list tr .sku {
	font-size: 1rem;
}
table.one_page_product_list dl {
	margin: 0;
}
table.one_page_product_list dt {
	line-height: 1rem;
	width: 50%;
	display: inline-block;
	margin-bottom: 1rem;
}
table.one_page_product_list dd {
	line-height: 1rem;
	width: 50%;
	display: inline-block;
	margin-bottom: 1rem;
}
/* Image thumbnail size and position */
table.opc_manual_order_table .one_page_product_table_item .attachment-shop_thumbnail, table.one_page_product_list .attachment-shop_catalog, table.one_page_product_list .woocommerce-placeholder {
	max-width: 128px;
	vertical-align: middle;
	margin: 0.5;
}
table td .opc_product_item {
	float: right;
}

table.opc_manual_order_table .one_page_product_table_item .attachment-shop_thumbnail, table.opc_manual_order_table .one_page_product_table_item .woocommerce-placeholder {
	width: 75px;
}

#one_page_searchable_customer_search h3 { 
	margin: 0 0 10px 0;
	font-size: 18px;
	
}
/** Table CSS for the form used to add arbitrary products **/
.arbitrary_form {
	padding-top:6px;
}
.arbitrary_form table td { 
	border: none; 
}
#arbitrary_form_wrap { 
	display:none;
	width: 100%;
	margin-top: 10px;
	display: block;
	clear: both;
	position: relative;
	top: 10px;
}
#arbitrary_form_wrap .wc_input_decimal { 
	width: 75px;
	display: inline-block;
}

/** Simple Popup for adding arbitrary products **/
#ign-simple-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100001;
}
.ign-simple-popup-content .arbitrary_error {
	border:2px solid #bc0000;
}
.ign-simple-popup-content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%); /* Safari <= 8.1 :-( */
    -ms-transform: translate(-50%, -50%); /* Bloody IE9 */
    transform: translate(-50%, -50%);
    max-height: 80%;
    max-width: 100%;
    z-index: 100002;
    padding: 10px 10px;
    overflow: auto;
}

.ign-simple-popup-content .close {
	position: absolute;
	right: 0;
	top: 0;
	background: #f7f7f7;
	width: 100%;
	text-align: right;
}

.ign-simple-popup-content .close::after {
    display: inline-block;
    text-align: center;
    content: "\00d7";
    font-size: 26px;
    font-weight: bold;
    color: #aaa;
    width: 40px;
    line-height: 40px;
}

.ign-simple-popup-content .close:hover {
    cursor: hand;
    cursor: pointer;
}

.ign-simple-popup-content .close:hover::after {
    color: grey;
}
.simple-popup-title { 
	text-align: left;
	width: 90%;
	display: inline-block;
	position: relative;
	left: 0;
	top: -3px;
	font-weight: bold;
	font-size: 16px;
}

#ign-simple-popup-backdrop,
.ign-simple-popup-backdrop-content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000;
}

#ign-simple-popup,
#ign-simple-popup-backdrop,
#ign-simple-popup.hide-it,
#ign-simple-popup-backdrop.hide-it {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -ms-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

#ign-simple-popup.hide-it,
#ign-simple-popup-backdrop.hide-it {
    opacity: 0;
}

#ign-simple-popup,
#ign-simple-popup-backdrop {
    opacity: 1;
}

/** Override /* jQuery Chosen" styles -- Based on chosen.less code */ 

#wpadminbar .quicklinks .menupop.hover ul.switch-to-user-profile-menu li a:hover,
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu li a:hover { color: white; }

#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu { background: #999; padding: 0px 10px 14px !important; margin: 0 !important; /* border: 0; */ width: 320px; box-sizing: border-box;}
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu * { text-shadow: none; background: none; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu li { line-height: 21px; margin-top: 0; margin-bottom: 0; font-size: 13px; padding: 0 10px; z-index: 99999; position: initial;}
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu > li { background: none; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu li .ab-item { line-height: inherit; font: inherit; margin: 0; height: auto; padding: 0; color: #F8F8F8;}
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu li .ab-item:hover,
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu li .ab-item:active,
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu li .ab-item:focus { background: none; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu li a { color: white; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu li a.ab-item:hover { color: #F3B9DE; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu li#wp-admin-bar-sac-heading-h3 { font: 900 13px "Open Sans Bold", "Open Sans", Arial, sans-serif !important; color: white; -webkit-font-smoothing: none; margin-bottom: 9px;}
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu li#wp-admin-bar-sac-heading-h4 { font: 900 13px "Open Sans Bold", "Open Sans", sans-serif !important; color: white; margin-bottom: 7px; margin-top: 22px;}
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu li#wp-admin-bar-sac-user-info { margin-bottom: 9px; font-size: 16px; line-height: 1.5em; margin-top: -6px;}
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu li.sac-nested-links {  }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu li.sac-nested-links a { display: none; line-height: inherit; margin: 0 0 0 11px; padding: 0; font-size: 11px; color: rgb(213, 168, 197); }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu li.sac-nested-links:hover a { display: inline; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu li.sac-nested-links a:hover { color: rgb(255, 145, 216); }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu li#wp-admin-bar-search-users { position: relative; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu li select { width: 100%; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu li.sac-hover-links a:hover { color: #F8F8F8 !important; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .previous-switched-users { margin-bottom: 4px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .previous-switched-user-group { line-height: 20px; padding: 0; margin: 3px 0 0; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .previous-switched-user-name {  height: auto;   line-height: 20px; padding: 0; margin: 0;}
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu a.previous-switched-user-link {  height: auto;  line-height: 20px;  padding: 0;  margin: 0;   display: inline-block;  font-size: 12px;  color: #D6C5CE;}
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .previous-switched-user-link-divider { font-size: 9px; position: relative; top: -1px; color: #AF829B !important; line-height: 9px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu a.sac-switch-link { background: #B16D97 url(../images/sac-switch-icon.png) no-repeat 94%; position: absolute; top: 2px; right: 10px; -webkit-border-radius: 3px; border-radius: 3px; padding: 3px 34px 3px 8px; -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07) inset; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07) inset; line-height: 22px; height: 23px; border: 1px solid rgba(0, 0, 0, 0.42);}
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu a.sac-switch-link:hover { background-color: #CA88B1; border: 1px solid rgba(0, 0, 0, 0.47);}

/* ---------- search filter ---------- */
/* @group Base */
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container { position: relative; display: inline-block; vertical-align: middle; font-size: 13px; zoom: 1; *display: inline; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container .chzn-drop { position: absolute; top: 100%; left: -9999px; z-index: 99999; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; border: none; border-top: 0; background: #FFFFFF; -webkit-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2); -webkit-border-radius: 0; border-radius: 0;}
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container.chzn-with-drop .chzn-drop { left: 0; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container a { cursor: pointer; }

/* @end */
/* @group Single Chosen */
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-single .chzn-single { position: relative; display: block; overflow: hidden; padding: 0 0 0 11px !important; height: 33px; border: 1px solid #aaa; -webkit-border-radius: 0; border-radius: 0; -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12) inset; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12) inset; color: #444; text-decoration: none; white-space: nowrap; line-height: 24px; background: #814365; border: 1px solid rgba(0, 0, 0, 0.2); }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-single .chzn-default { color: #999; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-single .chzn-single span { display: block; overflow: hidden; margin-right: 26px; text-overflow: ellipsis; white-space: nowrap; line-height: 33px; color: white; text-shadow: none;}
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-single .chzn-single-with-deselect span { margin-right: 38px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-single .chzn-single abbr { position: absolute; top: 6px; right: 26px; display: block; width: 12px; height: 12px; background: url('chosen-sprite.png') -42px 1px no-repeat; font-size: 1px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-single .chzn-single abbr:hover { background-position: -42px -10px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-single.chzn-disabled .chzn-single abbr:hover { background-position: -42px -10px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-single .chzn-single div { position: absolute; top: 0; right: 0; display: block; width: 18px; height: 100%; border: 0; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-single .chzn-single div b { display: block; width: 100%; height: 100%; background: url('chosen-sprite.png') no-repeat 0px 7px !important; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-single .chzn-search { position: relative; z-index: 1010; margin: 5px 5px 5px; padding: 0; white-space: nowrap; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-single .chzn-search input[type="text"] { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 9px 20px 9px 9px; width: 100% !important; height: auto; outline: 0; border: 1px solid rgba(0, 0, 0, 0.28); background: url('chosen-sprite.png') no-repeat 100% -20px, #333; font-size: 1em; font-family: sans-serif; line-height: normal; -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12) inset; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12) inset; -webkit-border-radius: 0; border-radius: 0; color: white;}
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-single .chzn-drop { }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-single.chzn-container-single-nosearch .chzn-search { position: absolute; left: -9999px; }
/*custom*/

/* @end */
/* @group Results */
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container .chzn-results { position: relative; overflow-x: hidden; overflow-y: auto; margin: 0; padding: 0; margin: 0 5px 5px; max-height: 240px; -webkit-overflow-scrolling: touch; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container .chzn-results li { display: none; margin: 0 0 0 !important; padding: 9px 9px 9px !important; list-style: none; text-shadow: none; line-height: 15px; color: #333 !important;}
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container .chzn-results li.active-result { display: list-item; cursor: pointer; border: #efefef;}
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container .chzn-results li.disabled-result { display: list-item; color: #ccc; cursor: default; }
/*
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container .chzn-results li.highlighted { background-color: #ECD7E3; background- color: #fff; color: #333; -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08) inset; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08) inset;}
*/
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container .chzn-results li.no-results { display: list-item; background: #f4f4f4; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container .chzn-results li.group-result { display: list-item; font-weight: bold; cursor: default; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container .chzn-results li.group-option { padding-left: 15px; }

/* @end */
/* @group Multi Chosen */
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-multi .chzn-choices { position: relative; overflow: hidden; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; width: 100%; height: auto !important; height: 1%; border: 1px solid #aaa; background-color: #fff; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff)); background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%); background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff)); background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%); background-image: linear-gradient(#eeeeee 1%, #ffffff 15%); cursor: text; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-multi .chzn-choices li { float: left; list-style: none; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-multi .chzn-choices li.search-field { margin: 0; padding: 0; white-space: nowrap; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-multi .chzn-choices li.search-field input[type="text"] { margin: 1px 0; padding: 5px; height: 15px; outline: 0; border: 0 !important; background: transparent !important; -webkit-box-shadow: none; box-shadow: none; color: #666; font-size: 100%; font-family: sans-serif; line-height: normal; -webkit-border-radius: 0; border-radius: 0; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-multi .chzn-choices li.search-field .default { color: #999; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-multi .chzn-choices li.search-choice { position: relative; margin: 3px 0 3px 5px; padding: 3px 20px 3px 5px; border: 1px solid #aaa; -webkit-border-radius: 3px; border-radius: 3px; background-color: #e4e4e4; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee)); background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eeeeee)); background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-clip: padding-box; -webkit-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05); box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05); color: #333; line-height: 13px; cursor: default; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-multi .chzn-choices li.search-choice .search-choice-close { position: absolute; top: 4px; right: 3px; display: block; width: 12px; height: 12px; background: url('chosen-sprite.png') -42px 1px no-repeat; font-size: 1px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-multi .chzn-choices li.search-choice .search-choice-close:hover { background-position: -42px -10px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-multi .chzn-choices li.search-choice-disabled { padding-right: 5px; border: 1px solid #ccc; background-color: #e4e4e4; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee)); background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eeeeee)); background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); color: #666; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-multi .chzn-choices li.search-choice-focus { background: #d4d4d4; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-multi .chzn-choices li.search-choice-focus .search-choice-close { background-position: -42px -10px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-multi .chzn-results { margin: 0; padding: 0; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-multi .chzn-drop .result-selected { display: list-item; color: #ccc; cursor: default; }

/* @end */
/* @group Active  */
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-active .chzn-single {}
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-active.chzn-with-drop .chzn-single { }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-active.chzn-with-drop .chzn-single div { border-left: none; background: transparent; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-active.chzn-with-drop .chzn-single div b { background-position: -18px 2px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-active .chzn-choices { border: 1px solid #5897fb; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-active .chzn-choices li.search-field input[type="text"] { color: #111 !important; }

/* @end */
/* @group Disabled Support */
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-disabled { opacity: 0.5 !important; cursor: default; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-disabled .chzn-single { cursor: default; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-disabled .chzn-choices .search-choice .search-choice-close { cursor: default; }

/* @end */
/* @group Right to Left */
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-rtl { text-align: right; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-rtl .chzn-single { overflow: visible; padding: 0 8px 0 0; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-rtl .chzn-single span { margin-right: 0; margin-left: 26px; direction: rtl; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-rtl .chzn-single-with-deselect span { margin-left: 38px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-rtl .chzn-single div { right: auto; left: 3px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-rtl .chzn-single abbr { right: auto; left: 26px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-rtl .chzn-choices li { float: right; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-rtl .chzn-choices li.search-field input[type="text"] { direction: rtl; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-rtl .chzn-choices li.search-choice { margin: 3px 5px 3px 0; padding: 3px 5px 3px 19px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-rtl .chzn-choices li.search-choice .search-choice-close { right: auto; left: 4px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-rtl.chzn-container-single-nosearch .chzn-search,
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-rtl .chzn-drop { left: 9999px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-rtl.chzn-container-single .chzn-results { margin: 0 0 4px 4px; padding: 0 4px 0 0; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-rtl .chzn-results li.group-option { padding-right: 15px; padding-left: 0; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-rtl.chzn-container-active.chzn-with-drop .chzn-single div { border-right: none; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-rtl .chzn-search input[type="text"] { padding: 4px 5px 4px 20px; background: white url('chosen-sprite.png') no-repeat -30px -20px; background: url('chosen-sprite.png') no-repeat -30px -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff)); background: url('chosen-sprite.png') no-repeat -30px -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%); background: url('chosen-sprite.png') no-repeat -30px -20px, -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff)); background: url('chosen-sprite.png') no-repeat -30px -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%); background: url('chosen-sprite.png') no-repeat -30px -20px, linear-gradient(#eeeeee 1%, #ffffff 15%); direction: rtl; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-rtl.chzn-container-single .chzn-single div b { background-position: 6px 2px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-rtl.chzn-container-single.chzn-with-drop .chzn-single div b { background-position: -12px 2px; }

/* @end */

/* ---------- Duplicate Chozen - to accomodate for native "chosen" dropdown on front end ---------- */
/* @group Base */
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container { position: relative; display: inline-block; vertical-align: middle; font-size: 13px; zoom: 1; *display: inline; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container .chosen-drop { position: absolute; top: 100%; left: -9999px; z-index: 99999; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; border: none; border-top: 0; background: #FFFFFF; -webkit-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2); -webkit-border-radius: 0; border-radius: 0;}
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container.chosen-with-drop .chosen-drop { left: 0; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container a { cursor: pointer; }

/* @end */
/* @group Single Chosen */
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-single .chosen-single { position: relative; display: block; overflow: hidden; padding: 0 0 0 11px !important; height: 33px; border: 1px solid #aaa; -webkit-border-radius: 0; border-radius: 0; -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12) inset; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12) inset; color: #444; text-decoration: none; white-space: nowrap; line-height: 24px; background: #333; border: 1px solid rgba(0, 0, 0, 0.2); }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-single .chosen-default { color: #999; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-single .chosen-single span { display: block; overflow: hidden; margin-right: 26px; text-overflow: ellipsis; white-space: nowrap; line-height: 33px; color: white; text-shadow: none;}
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-single .chosen-single-with-deselect span { margin-right: 38px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-single .chosen-single abbr { position: absolute; top: 6px; right: 26px; display: block; width: 12px; height: 12px; background: url('chosen-sprite.png') -42px 1px no-repeat; font-size: 1px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-single .chosen-single abbr:hover { background-position: -42px -10px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-single.chosen-disabled .chosen-single abbr:hover { background-position: -42px -10px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-single .chosen-single div { position: absolute; top: 0; right: 0; display: block; width: 18px; height: 100%; border: 0; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-single .chosen-single div b { display: block; width: 100%; height: 100%; background: url('chosen-sprite.png') no-repeat 0px 7px !important; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-single .chosen-search { position: relative; z-index: 1010; margin: 5px 5px 5px; padding: 0; white-space: nowrap; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-single .chosen-search input[type="text"] { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 9px 20px 9px 9px; width: 100% !important; height: auto; outline: 0; border: 1px solid rgba(0, 0, 0, 0.28); background: url('chosen-sprite.png') no-repeat 100% -20px, #333; font-size: 1em; font-family: sans-serif; line-height: normal; -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12) inset; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12) inset; -webkit-border-radius: 0; border-radius: 0; color: white;}
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-single .chosen-drop { }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-single.chosen-container-single-nosearch .chosen-search { position: absolute; left: -9999px; }
/*custom*/

/* @end */
/* @group Results */
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container .chosen-results { position: relative; overflow-x: hidden; overflow-y: auto; padding: 0; margin: 0 5px 5px; max-height: 240px; -webkit-overflow-scrolling: touch; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container .chosen-results li { display: none; margin: 0 0 0 !important; padding: 9px 9px 9px !important; list-style: none; text-shadow: none; line-height: 15px; color: #333 !important;}
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container .chosen-results li.active-result { display: list-item; cursor: pointer; border: #efefef;}
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container .chosen-results li.disabled-result { display: list-item; color: #ccc; cursor: default; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container .chosen-results li.highlighted { background-color: #eee; color: #333; -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08) inset; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08) inset;}
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container .chosen-results li.no-results { display: list-item; background: #f4f4f4; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container .chosen-results li.group-result { display: list-item; font-weight: bold; cursor: default; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container .chosen-results li.group-option { padding-left: 15px; }

/* @end */
/* @group Multi Chosen */
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-multi .chosen-choices { position: relative; overflow: hidden; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; width: 100%; height: auto !important; height: 1%; border: 1px solid #aaa; background-color: #fff; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff)); background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%); background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff)); background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%); background-image: linear-gradient(#eeeeee 1%, #ffffff 15%); cursor: text; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-multi .chosen-choices li { float: left; list-style: none; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-multi .chosen-choices li.search-field { margin: 0; padding: 0; white-space: nowrap; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-multi .chosen-choices li.search-field input[type="text"] { margin: 1px 0; padding: 5px; height: 15px; outline: 0; border: 0 !important; background: transparent !important; -webkit-box-shadow: none; box-shadow: none; color: #666; font-size: 100%; font-family: sans-serif; line-height: normal; -webkit-border-radius: 0; border-radius: 0; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-multi .chosen-choices li.search-field .default { color: #999; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-multi .chosen-choices li.search-choice { position: relative; margin: 3px 0 3px 5px; padding: 3px 20px 3px 5px; border: 1px solid #aaa; -webkit-border-radius: 3px; border-radius: 3px; background-color: #e4e4e4; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee)); background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eeeeee)); background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-clip: padding-box; -webkit-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05); box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05); color: #333; line-height: 13px; cursor: default; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-multi .chosen-choices li.search-choice .search-choice-close { position: absolute; top: 4px; right: 3px; display: block; width: 12px; height: 12px; background: url('chosen-sprite.png') -42px 1px no-repeat; font-size: 1px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover { background-position: -42px -10px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-multi .chosen-choices li.search-choice-disabled { padding-right: 5px; border: 1px solid #ccc; background-color: #e4e4e4; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee)); background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eeeeee)); background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%); color: #666; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-multi .chosen-choices li.search-choice-focus { background: #d4d4d4; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close { background-position: -42px -10px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-multi .chosen-results { margin: 0; padding: 0; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-multi .chosen-drop .result-selected { display: list-item; color: #ccc; cursor: default; }

/* @end */
/* @group Active  */
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-active .chosen-single {}
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-active.chosen-with-drop .chosen-single { }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-active.chosen-with-drop .chosen-single div { border-left: none; background: transparent; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-active.chosen-with-drop .chosen-single div b { background-position: -18px 2px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-active .chosen-choices { border: 1px solid #5897fb; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-active .chosen-choices li.search-field input[type="text"] { color: #111 !important; }

/* @end */
/* @group Disabled Support */
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-disabled { opacity: 0.5 !important; cursor: default; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-disabled .chosen-single { cursor: default; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-disabled .chosen-choices .search-choice .search-choice-close { cursor: default; }

/* @end */
/* @group Right to Left */
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-rtl { text-align: right; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-rtl .chosen-single { overflow: visible; padding: 0 8px 0 0; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-rtl .chosen-single span { margin-right: 0; margin-left: 26px; direction: rtl; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-rtl .chosen-single-with-deselect span { margin-left: 38px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-rtl .chosen-single div { right: auto; left: 3px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-rtl .chosen-single abbr { right: auto; left: 26px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-rtl .chosen-choices li { float: right; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-rtl .chosen-choices li.search-field input[type="text"] { direction: rtl; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-rtl .chosen-choices li.search-choice { margin: 3px 5px 3px 0; padding: 3px 5px 3px 19px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-rtl .chosen-choices li.search-choice .search-choice-close { right: auto; left: 4px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-rtl.chosen-container-single-nosearch .chosen-search,
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-rtl .chosen-drop { left: 9999px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-rtl.chosen-container-single .chosen-results { margin: 0 0 4px 4px; padding: 0 4px 0 0; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-rtl .chosen-results li.group-option { padding-right: 15px; padding-left: 0; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div { border-right: none; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-rtl .chosen-search input[type="text"] { padding: 4px 5px 4px 20px; background: white url('chosen-sprite.png') no-repeat -30px -20px; background: url('chosen-sprite.png') no-repeat -30px -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff)); background: url('chosen-sprite.png') no-repeat -30px -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%); background: url('chosen-sprite.png') no-repeat -30px -20px, -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff)); background: url('chosen-sprite.png') no-repeat -30px -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%); background: url('chosen-sprite.png') no-repeat -30px -20px, linear-gradient(#eeeeee 1%, #ffffff 15%); direction: rtl; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-rtl.chosen-container-single .chosen-single div b { background-position: 6px 2px; }
#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b { background-position: -12px 2px; }

/* @end */
/* @group Retina stuff */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
	#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-rtl .chosen-search input[type="text"],
	#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-single .chosen-single abbr,
	#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-single .chosen-single div b,
	#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-single .chosen-search input[type="text"],
	#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
	#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container .chosen-results-scroll-down span,
	#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chosen-container .chosen-results-scroll-up span { background-image: url('../images/chosen-sprite@2x.png') !important;   background-size: 52px 37px !important; background-repeat: no-repeat !important; }
}
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
	#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-rtl .chzn-search input[type="text"],
	#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-single .chzn-single abbr,
	#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-single .chzn-single div b,
	#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-single .chzn-search input[type="text"],
	#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container-multi .chzn-choices .search-choice .search-choice-close,
	#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container .chzn-results-scroll-down span,
	#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu .chzn-container .chzn-results-scroll-up span {   background-image: url('../images/chosen-sprite@2x.png') !important;   background-size: 52px 37px !important; background-repeat: no-repeat !important; }
}


@media screen and (max-width: 782px) {
	
	#wpadminbar .quicklinks .menupop ul.switch-to-user-profile-menu { width: 100%; }
		
}

.wp_admin_bar_column { width: 100% }
.create-this-order-info-tooltip-html, .pay-order-order-info-tooltip-html, .send-out-invoice-info-tooltip-html, .switch-back-view-info-tooltip-html { display: none; }

/* TipTip CSS - Version 1.2 */
.woocommerce-help-tip {
	cursor: pointer;
	padding-top: 3px;
	vertical-align: text-bottom;
}
#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}
