.njba-column-12{width: 100%;float: left;padding:0 15px;}
.njba-column-6{width: 50%;float: left;padding:0 15px;}
.njba-column-3{width: 25%;float: left;padding:0 15px;}
.njba-column-4{width: 33.33%;float: left;padding:0 15px;}
.njba-hover-box-carosel-main .njba-heading{display: inline-block;margin: 20px 0;width: 100%;}
.njba-hover-box-carosel-main .njba-heading h2 {text-align: center;margin: 15px 0;}
.njba-team-content h4 {font-size: 20px;font-weight: 500;letter-spacing: 1px;line-height: 25px;}
.njba-img-responsive {max-width: 100%;height: auto;}
.njba-hover-box-carosel-main.njba-teams-loaded .bx-wrapper .bx-next i,
.njba-hover-box-carosel-main.njba-teams-loaded .bx-wrapper .bx-prev i{display: block;text-align: center;line-height: 37px;}
.njba-hover-box-carosel-main.njba-teams-loaded .bx-wrapper .bx-controls-direction a.bx-next,
.njba-hover-box-carosel-main.njba-teams-loaded .bx-wrapper .bx-controls-direction a.bx-prev {height: 35px; margin-top: -20px;outline: 0 none;position: absolute;top: 50%;width: 35px;z-index: 99;font-size: 35px;background: #000000;text-indent: 0;
    line-height: 40px;display: block;color: #ffffff;}
.njba-hover-box-carosel-main.njba-teams-loaded .bx-wrapper .bx-controls-direction a.bx-next {right: -40px;}
.njba-hover-box-carosel-main.njba-teams-loaded .bx-wrapper .bx-controls-direction a.bx-prev {left: -40px;}
.njba-hover-box-carosel-main.njba-teams-loaded .bx-wrapper .bx-controls-direction a:active,
.njba-hover-box-carosel-main.njba-teams-loaded .bx-wrapper .bx-controls-direction a:focus,
.njba-hover-box-carosel-main.njba-teams-loaded .bx-wrapper .bx-controls-direction a:hover {text-decoration: none;}
/*Layout 1  */
.njba-teams-layout-1 .njba-team-section {border: 1px solid #dfdfdf;float: left;padding: 15px;margin-bottom:15px;}
.njba-teams-layout-1 .njba-team-img img{width: 100%;transition: all 0.5s;}
.njba-teams-layout-1 .njba-read-more-link {text-align: left;}	
.njba-teams-layout-1 .njba-btn {color: #000000;display: inline-block;font-size: 14px;margin: 10px 0 0;font-weight: bold;text-decoration: none;}	
.njba-teams-layout-1 .njba-team-content h5 {color: #7f7f7f;font-size: 14px;font-weight: 400;padding: 5px 0 15px;text-transform: capitalize; margin: 0;}
.njba-teams-layout-1 .njba-team-content {margin-top: 24px;}
.njba-teams-layout-1 .njba-team-content h4 {font-size: 20px;font-weight: 500;letter-spacing: 1px;line-height: 25px;margin: 0;}
.njba-teams-layout-1 .njba-team-section:hover .njba-overlay{background-color: rgba(0, 0, 0, 0.5);}
.njba-team-section:hover .njba-team-social li.left{transform: translate(0, 0px);}
.njba-team-section:hover .njba-team-social li.right{transform: translate(0, 0px);}
.njba-team-section:hover .njba-team-social li.top {transform: translate(0,0px);}
.njba-team-section:hover .njba-team-social li.bottom {transform: translate(0,0px);}
.njba-teams-layout-1 .njba-overlay {background-color: rgba(0, 0, 0, 0.0);bottom: 0;height: 100%;left: 0;position: absolute;right: 0;top: 0;width: 100%;transition:all 0.5s;}
.njba-teams-layout-1 .njba-team-img img {width: 100%;transition:all 0.5s;}
.njba-teams-layout-1 .njba-team-section:hover .njba-team-img img {transform: scale(1.1);}
.njba-teams-layout-1 .njba-team-img {position: relative;overflow:hidden;}
.njba-teams-layout-1 .njba-team-social {bottom: 0;left: 0;list-style: outside none none;position: absolute;right: 0;top: 0;z-index: 1;}
.njba-teams-layout-1 .njba-team-social-vertical {display: table;height: 100%;text-align: center;width: 100%;}
.njba-teams-layout-1 .njba-team-social-vertical ul {display: table-cell;height: 100%;vertical-align: middle;width: 100%;list-style: none;padding: 0;}
.njba-teams-layout-1 .njba-team-social li.left {transform: translate(-200px, 0px);transition: all 0.3s ease 0s;}
.njba-teams-layout-1 .njba-team-social li.top {transform: translate(0,-400px);transition: all 0.3s ease 0s;}
.njba-teams-layout-1 .njba-team-social li.bottom {transform: translate(0,400px);transition: all 0.3s ease 0s;}
.njba-teams-layout-1 .njba-team-social li{display: inline-block;margin: 0 5px;}
.njba-teams-layout-1 .njba-team-social li.right {transform: translate(200px, 0px);transition: all 0.3s ease 0s;}
.njba-teams-layout-1 .njba-team-social-vertical ul li a {background-color: #000;display: block;height: 30px;width: 30px;transition: all 0.3s ease 0s;}
.njba-teams-layout-1 .njba-team-social-vertical ul li a i { line-height: 30px;transition: all 0.3s ease 0s;}
/* Layout 2 */
.njba-teams-layout-2 .njba-column-12,
.njba-teams-layout-2 .njba-column-6,
.njba-teams-layout-2 .njba-column-4,
.njba-teams-layout-2 .njba-column-3{padding: 0px;}
.njba-teams-layout-2 .njba-team-img img {width: 100%;}
.njba-teams-layout-2 .njba-team-img {position: relative;overflow: hidden;}
.njba-teams-layout-2 .njba-team-content {background: #f2f3f3 none repeat scroll 0 0;padding: 15px;}
.njba-teams-layout-2 .njba-team-content h4 {color: #353535;font-size: 18px;font-weight: bold;margin-bottom: 5px;text-align: center;}
.njba-teams-layout-2 .njba-team-content h4 a {color: #353535;text-transform: capitalize;text-decoration: none;}
.njba-teams-layout-2 .njba-team-content h5 {font-size: 14px;margin: 15px 0 10px;text-align: center;text-transform: capitalize;}
.njba-teams-layout-2 .njba-team-social { display: table; height: 100%;text-align: center;width: 100%;overflow: hidden;}
.njba-teams-layout-2 .njba-team-social > ul {display: table-cell; vertical-align: middle;padding: 0;}
.njba-teams-layout-2 .njba-team-social li {display: inline-block;list-style: outside none none;margin: 0 auto;}
.njba-teams-layout-2 .njba-team-social li a {font-size: 16px;width: 40px;height: 40px;color: #000;padding: 10px;display: block;transition: all 0.3s ease 0s;}
.njba-teams-layout-2 .njba-team-social li a i{transition: all 0.3s ease 0s;}
/* Layout 3 */
.njba-teams-layout-3 .njba-team-img {position: relative;overflow: hidden;}
.njba-teams-layout-3 .njba-img-responsive {max-width: 100%;height: auto;}
.njba-teams-layout-3 .njba-overlay {bottom: 0;left: 0;margin: 10px;position: absolute;right: 0;text-align: center;transition: all 0.6s;top: 0;opacity: 0;}
.njba-teams-layout-3 .njba-team-section:hover .njba-overlay {background-color: rgba(0, 0, 0, 0.7); opacity: 1;}
.njba-teams-layout-3 .njba-team-section:hover .njba-team-social h6 span{ max-height: 120px;overflow: hidden;display: block;}
.njba-teams-layout-3 .njba-team-section:hover .njba-team-social h6{    bottom: 10px;}
.njba-teams-layout-3 .njba-team-section:hover .njba-team-social-aminate{top:20px;}
.njba-teams-layout-3 .njba-team-social ul{padding: 0;}
.njba-teams-layout-3 .njba-team-social li {display: inline-block;list-style: outside none none;}
.njba-teams-layout-3 .njba-read-more-link a{display: block;font-size: 20px;font-weight: bold;color:#000;margin-top: 10px;transition: all 0.3s ease 0s;}
.njba-teams-layout-3 .njba-team-social li a {display: block;font-size: 20px;color: #fff;background-color: #000;width: 40px;height: 40px;margin: 5px;transition: all 0.3s ease 0s;}
.njba-teams-layout-3 .njba-team-social li a i{line-height: 40px;transition: all 0.3s ease 0s;}
.njba-teams-layout-3 .njba-team-social h6{font-size: 18px;margin: 10px;bottom: -100%;left: 0;position: absolute;right: 0;transition: all 0.5s;}
.njba-teams-layout-3 .njba-team-social-aminate {top: -100%;left: 0;position: absolute;right: 0;transition: all 0.5s;}
.njba-hover-box-carosel-main .njba-slider-nav a i {
    height: 40px;
    line-height: 40px;
    width: 40px;
}
/*Layout 4*/ 
.njba-teams-layout-4 .njba-team-section .njba-team-img {position: relative;margin: 0 10px;padding: 10px;overflow: hidden;}
.njba-teams-layout-4 .njba-team-section .njba-team-img img {border-radius: 50%;box-shadow: 0 0 3px 2px #dfdfdf;margin: 0 auto;max-width: 100%;overflow: hidden;padding: 11px;transition: all 0.5s ease 0s;width: 100%;}
.njba-teams-layout-4 .njba-team-section:hover .njba-team-img img {border-radius: 0px;max-width: 100%;width: 100%;}
.njba-teams-layout-4 .njba-team-section:hover .njba-read-more-link {top: 0px;}
.njba-teams-layout-4 .njba-team-section .njba-team-social ul{padding: 0;}
.njba-teams-layout-4 .njba-team-section .njba-team-social ul li {line-height: none;display: inline-block;}
.njba-teams-layout-4 .njba-team-section .njba-team-social li a {background-color: #fff;border-radius: 50%;color: #000;display: block;height: 40px;width: 40px;line-height: 40px;margin: 5px;transition: all 0.3s ease 0s;}
.njba-teams-layout-4 .njba-team-section .njba-team-social li a i{transition: all 0.3s ease 0s;}
.njba-teams-layout-4 .njba-team-section .njba-team-content {margin: 0 15px;}
.njba-teams-layout-4 .open-text-vertical span.open-text-vertical-area{display: table-cell;vertical-align: middle;height: 100%;padding: 20px;width: 100%;}
.njba-teams-layout-4 .open-text-vertical {display: table;width: 100%;height: 100%;}
.njba-teams-layout-4 a.njba-btn {font-size: 16px;font-weight: 900;display: inline-block;transition: all 0.3s ease 0s;}
.njba-teams-layout-4 a.njba-btn:hover {text-decoration: none;}
.njba-teams-layout-4 .njba-read-more-link {position: absolute;top: -200%;right: 0;left: 0;transition: all 0.3s;bottom: 0;z-index: 1;}
.njba-teams-layout-4 .njba-team-section .njba-overlay {background-color: rgba(0, 0, 0, 0.0);border-radius: 50%;bottom: 0;left: 0;position: absolute;right: 0;top: 0;transition: all 0.5s;}
.njba-teams-layout-4 .njba-team-section:hover .njba-overlay {background-color: rgba(0, 0, 0, 0.5);border-radius: 0px;}
/*Layout 5*/ 
.njba-teams-layout-5 .njba-team-social-aminate ul{list-style: none;}
.njba-teams-layout-5 .njba-team-social-aminate ul li{display: inline-block;margin: 5px;transition: all 0.3s;}
.njba-teams-layout-5 .njba-team-social-aminate ul li a i{line-height: 40px;transition: all 0.3s ease 0s;}
.njba-teams-layout-5 .njba-team-section .njba-team-img .njba-overlay{left: 0;right: 0;top:0;bottom: 0;position: absolute;transition: all 0.3s ease 0s;}
.njba-teams-layout-5 .njba-team-section .njba-team-img{overflow:hidden;position: relative;}
.njba-teams-layout-5 .njba-team-social-aminate ul li a{    background-color: #000;color: #fff;display: block;height: 40px;text-align: center;width: 40px;transition: all 0.3s ease 0s;}
.njba-teams-layout-5 .njba-team-section .njba-overlay ul .njba-social-aminate {display: table-cell;height: 100%;vertical-align: middle;width: 100%;}
 .njba-teams-layout-5 .njba-team-section .njba-overlay ul {display: table;height: 100%;text-align: center;width: 100%;}
 .njba-teams-layout-5 .njba-team-section .njba-overlay ul li.left {transform: translate(-300px,0);}
 .njba-teams-layout-5 .njba-team-section .njba-overlay ul li.right {transform: translate(300px,0);}
 .njba-teams-layout-5 .njba-team-section .njba-overlay ul li.top {transform: translate(0,-400px);}
 .njba-teams-layout-5 .njba-team-section .njba-overlay ul li.bottom {transform: translate(0,400px);}
 .njba-teams-layout-5 .njba-team-section:hover .njba-overlay li{transform: translate(0) !important;}
 .njba-teams-layout-5 .njba-team-social-aminate {display: table;width: 100%;height: 100%;}
.njba-teams-layout-5 .njba-team-content {padding: 5px 0;}
.njba-teams-layout-5 .njba-team-section .njba-overlay ul {display: table-cell;height: 100%;text-align: center;width: 100%;vertical-align: middle;}
.freature-img-overlay {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}
.freature-title {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	color: #fff;
	z-index: 2;
	font-size: 34px;
	padding: 0 34px;
	font-weight:600;
	letter-spacing: 0.5px;
	text-transform:uppercase;
	transform: translate(0,-50%);
	-moz-transform: translate(0,-50%)
	-ms-transform: translate(0,-50%)
	-o-transform: translate(0,-50%)
	-webkit-transform: translate(0,-50%)
}
.freature-plus-icon span {
	width: 80px;
	height: 80px;
	text-align: center;
	line-height: 0;
	background-color: rgba(255,255,255,0.64);
	display: block;
	border-radius: 50%;
	margin: 0 auto;
	font-size: 75px;
	color: #15499a;
	font-weight: 200;
	padding-top: 26px;
}
.freature-plus-icon span img{
	margin:0 auto;	
	}
.njba-carousel {
	padding: 0 35px;
}
.freature-plus-icon {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 2;
	bottom: 34px;
}
.freature-repair {
	position: relative;
	overflow:hidden;
	margin-bottom:20px;
}
.freature-hover-box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	z-index: 3;
	padding: 30px;
	transform: translate(0,100%);
	-moz-transform: translate(0,100%);
	-ms-transform: translate(0,100%);
	-o-transform: translate(0,100%);
	-webkit-transform: translate(0,100%);
	transition:all 0.3s;
	-ms-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	-webkit-transition:all 0.3s;
}
.freature-repair:hover .freature-hover-box{
	transform: translate(0,0%);
	-moz-transform: translate(0,0%);
	-ms-transform: translate(0,0%);
	-o-transform: translate(0,0%);
	-webkit-transform: translate(0,0%);	
	}
.freature-img{
	-ms-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	-webkit-transition:all 0.3s;	
	}
.freature-repair:hover .freature-img{
	opacity:0;	
	}
.freature-hover-table-cell {
	height: 100%;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}
.freature-hover-table {
	height: 100%;
	width: 100%;
	display: table;
}
.freature-hover-box .hover-freature-title {
	color: #fff;
	font-size: 37px;
	text-transform: uppercase;
	line-height: 36px;
	font-weight: 600;
	letter-spacing: 3px;
}
.freature-hover-box hr {
	width: 60px;
	height: 2px;
	background-color: #fff;
	border: none;
	margin: 22px auto;
}
.hover-freature-discription {
	font-size: 20px;
	font-weight: 100;
	color: #fff;
	line-height: 24px;
	letter-spacing: 0.6px;
}
.freature-hover-box {
    text-align: center;
}
.freature-repair > img{
	width:100%;	
	}
.freature-info{
	padding-top: 22px;	
	}
.freature-info a {
	color: #fff;
	text-decoration: none;
	background-color: #000;
	font-size: 19px;
	text-transform: uppercase;
	padding: 10px 30px;
	display: inline-block;
	letter-spacing: 1px;
	font-weight: 500;
	transition:all 0.3s;
}
.freature-info a:hover{	
	background-color:#fff;
	color:#000;
	}
/* Media Query */ 
@media (max-width: 1169px){
	.njba-teams-layout-4.njba-hover-box-carosel-main .njba-arrow-wrapper.njba-center-arrow-side {padding: 0 20px;}
	.njba-teams-layout-5.njba-hover-box-carosel-main .njba-arrow-wrapper.njba-center-arrow-side {padding: 0 20px;}
	}
@media (max-width: 990px){
	.njba-column-6{width: 50%;}
	.njba-column-3{width: 50%;}
	.njba-column-4{width: 50%;}
	.njba-hover-box-carosel-main .njba-slider-nav a i {height: 30px;line-height: 30px;width: 30px;}
}
@media (max-width: 768px){
	.njba-hover-box-carosel-main .njba-slider-prev.njba-slider-nav {
		margin-left: -15px;
	}
	.njba-hover-box-carosel-main .njba-slider-next.njba-slider-nav {
		margin-right: -15px;
	}
	.njba-hover-box-carosel-main.njba-teams-layout-2 .njba-slider-prev.njba-slider-nav {
		margin-left: -15px;
	}
	.njba-hover-box-carosel-main.njba-teams-layout-2 .njba-slider-next.njba-slider-nav {
		margin-right: -5px;
	}
	.njba-hover-box-carosel-main .njba-team-section {max-width: 400px;    margin: 0 auto;}
	.njba-hover-box-carosel-main.njba-teams-loaded .bx-wrapper .bx-controls-direction a.bx-next {right: -10px;}
	.njba-hover-box-carosel-main.njba-teams-loaded .bx-wrapper .bx-controls-direction a.bx-prev {left: -10px;}	
}
@media (max-width: 767px){
	.njba-column-6{width: 100%;}
	.njba-column-3{width: 100%;}
	.njba-column-4{width: 100%;}
	.njba-hover-box-carosel-main.njba-teams-layout-1 .njba-column-4{width: 50%;}
	
}
@media (max-width: 550px){
	.njba-hover-box-carosel-main.njba-teams-layout-1 .njba-column-4{width: 100%;}	
	.njba-hover-box-carosel-main.njba-teams-loaded .bx-wrapper .bx-controls-direction a.bx-next {right: -15px;}
	.njba-hover-box-carosel-main.njba-teams-loaded .bx-wrapper .bx-controls-direction a.bx-prev {left: -15px;}
}
@media (max-width: 375px){
	
	.njba-hover-box-carosel-main.njba-teams-loaded .bx-wrapper .bx-controls-direction a.bx-next {right: -20px;}
	.njba-hover-box-carosel-main.njba-teams-loaded .bx-wrapper .bx-controls-direction a.bx-prev {left: -20px;}
}
