a , a:hover a:focus , a:active{	text-decoration:none;}
.njba-image-responsive{display:block;max-width:100%;height:auto;}
.njba-blog-posts-col-2 { width: 16.66%;float: left; }
.njba-blog-posts-col-5 { width: 20%;float: left; }
.njba-blog-posts-col-3 { width: 25%;float: left; }
.njba-blog-posts-col-4 { width: 33.33%; float: left;}
.njba-blog-posts-col-6 { width: 50%; float: left;}
.njba-blog-posts-col-12 { width: 100%;float: left; }
.njba-blog-row img {width: 100%;}
.njba-blog-posts-list h1,
.njba-blog-posts-list h2,
.njba-blog-posts-list h3,
.njba-blog-posts-list h4,
.njba-blog-posts-list h5,
.njba-blog-posts-list h6{margin: 0;}
.njba-blog-posts-grid .njba-post-wrapper {padding: 10px;}
.njba-blog-separator {text-align: center;}
.njba-blog-separator span {display: inline-block;border-bottom: 1px solid #e6e6e6;width: 100%;margin: 0 auto;}
.njba-blog-separator:last-child {display: none;}
.njba-blog-posts-list .njba-post-wrapper {padding: 15px 0px 60px 0px;}
.njba-content-grid-image {overflow: hidden;}
.njba-content-grid-contant h1 {font-size: 20px;padding: 10px 0; font-weight: normal;}
.njba-blog-posts-list ul {list-style: none;}
.njba-blog-posts-list ul li {display: inline-block;color: #afafaf;font-size: 18px;line-height: 20px;}
.njba-blog-posts-list ul li i{padding-right: 7px;}
.njba-blog-posts-list ul li a{color: #afafaf;display: inline-block;font-size: 14px;font-size: 18px;line-height: 20px;    text-transform: capitalize;}
.njba-blog-posts-list ul li span{display: inline-block;color: #afafaf;margin: 0 10px;font-size: 18px;line-height: 20px;}
.njba-blog-posts-list ul li:last-child span{ display: none;}
.njba-content-grid-contant p {font-size: 15px;font-weight: normal;line-height: 24px;padding: 10px 0;}
.njba-blog-posts-list a.njba-btn {font-size: 18px; font-weight: 600;}
/*Style 1*/
.njba-style-1 .njba-content-grid {padding: 0;}
.njba-style-1 .njba-content-grid-contant h1{padding:0 0 10px;}
.njba-style-1 .njba-content-grid-contant h1 a{font-weight: 800;font-size: 24px;text-align: left;line-height: 24px;}
.njba-style-1 .njba-content-grid-image{float: left;width: 30%;    box-shadow: -20px 25px 10px 0px #a8a8a8;}
.njba-style-1 .njba-content-grid-contant{float:left;width:70%;padding:15px 15px 15px 40px;}
/*Style 2*/
.njba-style-2 .njba-content-grid {padding: 0;}
.njba-style-2 .njba-content-grid-contant h1{padding:0 0 10px;}
.njba-style-2 .njba-content-grid-contant h1 a{font-weight: 800;font-size: 24px;text-align: left;line-height: 24px;}
.njba-style-2 .njba-content-grid-image{float: left;width: 30%;box-shadow: 15px 15px 10px 0px #a8a8a8;}
.njba-style-2 .njba-content-grid-contant{float:left;width:70%;padding:15px 40px 15px 0px;}
/*Style 3*/
.njba-style-3 .njba-content-grid-contant {width: 100%;}
.njba-style-3 .njba-content-grid {padding: 0;}
.njba-style-3 .njba-content-grid-contant h1{padding:0 0 10px;}
.njba-style-3 .njba-content-grid-contant h1 a{font-weight: 800;font-size: 24px;text-align: left;line-height: 24px;}
.njba-style-3 .njba-content-grid-image{float: left;width: 100%;padding: 15px 0;}
.njba-style-3 .njba-content-grid-contant{float:left;padding:15px;}
/*Pagination**/
.njba-pagination { width: 100%;}
.njba-pagination ul.page-numbers {list-style: none;margin: 0;padding: 0;text-align: center;}
.njba-pagination ul.page-numbers li {display: inline-block;list-style: none;margin: 0;padding: 0;}
.njba-pagination li a.page-numbers:hover,
.njba-pagination li span.current{background: #f5f5f5;text-decoration: none;}
.njba-pagination li a.page-numbers,
.njba-pagination li span.page-numbers {border: 1px solid #e6e6e6;display: inline-block;padding: 5px 10px;margin: 0 0 5px;}
@media (max-width: 767px){
.njba-style-1 .njba-content-grid-image,
.njba-style-1 .njba-content-grid-contant,
.njba-style-2 .njba-content-grid-contant,
.njba-style-2 .njba-content-grid-image{width: 100%;}
	
}
