.gaddon-section.fg-entryautomation-dropbox table.gforms_form_settings > tbody > tr > th {
	padding: 0;
	width: 10px;
}

#fg_entryautomation_dropbox_auth_button {
	margin-bottom: 1em;
}

#fg_entryautomation_dropbox_deauth_button {
	margin-top: 1em;
}
