.wpie-app-form-msg-wrap { font-size:16px; line-height:28px }
.wpie-app-form-msg { padding:5px 0 }
.wpie-app-form-msg-err { color:#D54E21; background-color:yellow; padding:5px; font-weight:bold }
.wpie-app-form-msg-suc6 { color:#74D83A }

.wpie-app-form { font-family:Arial, sans-serif; font-size:16px; line-height:28px  }

.wpie-app-form .btn { color: #ECECEC; height: 34px; padding: 6px 7px; background-color: #D54E21; border:1px solid #D54E21; border-radius: 2px; text-decoration: none; font-size: 16px !important; line-height: 20px !important; text-transform:uppercase }
.wpie-app-form .btn:hover { cursor:pointer }

.wpie-app-form .wpie-form-field { padding:15px 0 }  
  
.wpie-app-form input[type="text"] { width:100%; padding:0 5px; height:36px; border:1px solid #ECECEC;  background-color:#ECECEC }
.wpie-app-form input[type="submit"] { line-height:34px }

::-webkit-input-placeholder {color:#B5B5B5}
::-moz-placeholder {color:#B5B5B5}
:-ms-input-placeholder {color:#B5B5B5 !important}
:-moz-placeholder {color:#B5B5B5 !important}

.wpie-app-form label { }

.wpie-app-form input:active,
.wpie-app-form input:focus { background-color:#ECECEC; border-color:#D54E21 }

.wpie-app-form .btn:active,
.wpie-app-form .btn:hover,
.wpie-app-form .btn:focus { background-color:#D54E21; border-color:#D54E21; color: #3D9FC4 }

/* errors */
.wpie-form-field.has-err {}
.wpie-form-field.has-err input[type="text"], 
.wpie-form-field.has-err input[type="email"], 
.wpie-form-field.has-err input[type="url"], 
.wpie-form-field.has-err textarea { border: 1px solid #D54E21 }