.njba-quote-box-main h2,
.njba-quote-box-main h3,
.njba-quote-box-main h4{margin: 0;}
/*layout-one*/
.njba-quote-box-inner{width: 100%;float: left;}
.njba-quote-box{width: 100%; position: relative;height: auto;background-color: #EFEFEF;display: inline-block;border-radius: 25px;}
.njba-quote-box-main.layout-4 .njba-quote-post{display: inline-block;position: absolute;top: -60px;bottom: auto;left: 0px;right: 0px;margin: 0 auto;}
.njba-quote-image{overflow: hidden;border-radius: 50%;max-width: 130px;bottom: auto;left: 0px;right: 0px;margin: 0 auto;}
.njba-quote-box-content {padding: 140px 60px 30px 60px;}
.njba-quote-box-content h4{font-size: 17px;font-weight: 400;letter-spacing: 1px;line-height: 35px;color: #333333;text-align: justify;}
.njba-quote-post-name{text-align: center;margin-top: 20px;margin-bottom: 10px;}
.njba-quote-post-name h2{font-size: 14px;font-weight: 600;color: #333333;margin-bottom: 5px;}
.njba-quote-post-name h3{font-size: 13px;font-weight: 600;color: #333333;}
.njba-quote-icon-two{position: absolute;top: auto;bottom: -30px;right: 40px;left: auto;}
.njba-quote-icon-two i{color: #E0E0E0;font-size: 70px;}
.njba-quote-icon { position: absolute;top: auto;bottom: -30px;right: 40px;left: auto;}
/*layout-two*/
.njba-quote-box-main.layout-5 .njba-quote-box-content{padding: 40px 60px 140px 60px;}
.njba-quote-box-main.layout-5 .njba-quote-post{padding: 50px 25px 90px 25px;text-align: center;}
.njba-quote-box-main.layout-5 .njba-quote-box{background-color: #FF7777;}
.njba-quote-box-main.layout-5 .njba-quote-box{border-radius: 0px;margin-bottom: 40px;}
.njba-quote-box-main.layout-5 .njba-quote-image img{border-radius: 50%;border: 1px solid #FF7777;padding: 5px;}
.njba-quote-box-main.layout-5 .njba-quote-image{overflow: hidden;border-radius: 50%;max-width: 130px;left: 0px;right: 0px;margin: 0 auto;background-color: white;padding: 10px; position: absolute; bottom: -60px;}
.njba-quote-box-main.layout-5 h4{font-size: 17px;font-weight: 400;letter-spacing: 1px;line-height: 35px;text-align: center;}
.njba-quote-box-main.layout-5 h2{font-size: 14px;font-weight: 600;margin-bottom: 5px;}
.njba-quote-box-main.layout-5 h3{font-size: 13px;font-weight: 600;}
.njba-quote-box-main.layout-5 .njba-quote-icon-two{top: -40px;bottom: auto;right: 0px;left: 0px;max-width: 80px;margin: 0 auto;background-color: #FF7777;padding: 20px;border-radius: 50%;}
.njba-quote-box-main.layout-5 .njba-quote-icon-two i{font-size: 40px;color: #fff;}
.njba-quote-box-main.layout-5 .njba-quote-post-name{margin-top: 10px;margin-bottom: 20px;}
/*layout-three*/
.njba-quote-box-main.layout-6 .njba-quote-box-content{padding: 0px 0px 0px 0px;overflow: hidden;padding: 70px 30px;background-color: #58595b;border-radius: 0px 20px 20px 0px;position: relative;}
.njba-quote-box-main.layout-6 .njba-quote-post{margin: 0px 0px;position: relative;float: left;padding: 30px 50px;}
.njba-quote-box-main.layout-6 .njba-quote-box{background-color: #ea612d;}
.njba-quote-box-main.layout-6 .njba-quote-box{border-radius: 20px;padding: 0px 0px;box-shadow: 10px 15px 15px #ccc;border-top: 0px solid #292929;width: 100%;}
.njba-quote-box-main.layout-6 .njba-quote-image img{border-radius: 50%;border: 0px solid #525252;padding: 0px;}
.njba-quote-box-main.layout-6 .njba-quote-image{overflow: hidden;border-radius: 0%;max-width: 110px;bottom: auto;left: 0px;right: 0px;margin: 0 auto;background-color: transparent;padding: 0px;}
.njba-quote-box-main.layout-6 .njba-quote-box-content h4{text-align: justify;line-height: 30px;font-style: italic;}
.njba-quote-box-main.layout-6 .njba-quote-icon-two{top: auto;bottom: -20px;right: 30px;left: auto;background-color: transparent;padding: 00px;border-radius: 50%;padding: 0px;}
.njba-quote-box-main.layout-6 .njba-quote-icon-two i{font-size: 50px;color: #ea612d;}
.njba-quote-box-main.layout-6 .njba-quote-post-name{margin-top: 10px;margin-bottom: 0px;}
.njba-separator-arrow{border-top: 15px solid transparent;border-bottom: 15px solid transparent;border-right: 15px solid transparent;height: 15px;right: 0;position: absolute;border-right-color: #58595b;z-index: 1;top: 70px;bottom: auto;}
/*layout-four*/
.njba-quote-box-main.layout-7{width: 100%;text-align: center;/*padding: 160px 0px 0px;*/background-color: #f7f7f7;}
.njba-quote-box-main.layout-7 .njba-quote-box-content{padding: 0px;overflow: hidden;background-color: transparent;border-radius: 0px 0px 0px 0px;position: relative;z-index: 1;}
.njba-quote-box-main.layout-7 .njba-quote-post{bottom: auto;padding: 0px;margin: 0px auto;left: 0px;right: 0px;}
.njba-quote-box-main.layout-7 .njba-quote-box{background-color: #fff;padding: 70px 30px;}
.njba-quote-box-main.layout-7 .njba-quote-box{border-radius: 0px;border-top: 0px solid #292929;width: 100%;border-right: 5px solid #00abc9;border-left: 5px solid #00abc9;margin-top: 0;
    }
.njba-quote-box-main.layout-7 .njba-quote-image{overflow: hidden;border-radius: 0%;max-width: 110px;bottom: auto;left: 0px;right: 0px;margin: 0 auto;background-color: transparent;padding: 0px;border: 2px solid #00abc9;}
.njba-quote-box-main.layout-7 .njba-quote-box-content h4{text-align: center;line-height: 30px;font-style: italic;}
.njba-quote-box-main.layout-7 .njba-quote-icon{top: 50px;bottom: auto;right: auto;left: 30px;background-color: transparent;padding: 00px;border-radius: 50%;padding: 0px;}
.njba-quote-box-main.layout-7 .njba-quote-icon i{font-size: 50px;color: rgba(214, 214, 214, 0.51);}
.njba-quote-box-main.layout-7 .njba-quote-post-name{margin-top: 10px;margin-bottom: 0px;}
.njba-quote-box-main.layout-7 .njba-separator-arrow{    border-right: 15px solid transparent; border-left: 15px solid transparent;border-bottom: 15px solid transparent;height: 15px;left: 0px;position: relative;border-bottom-color: #00abc9;
    z-index: 1;right: 0px;margin: 0px auto;width: 0px;top: 0;}
/*layout-five*/
.njba-quote-box-main.layout-8 {text-align: center;background-color: transparent;}
.njba-quote-box-main.layout-8 .njba-quote-box-content{overflow: hidden;padding: 70px 30px;background-color: #ebebeb;border-radius: 0px 0px 0px 0px;position: relative; z-index: 1;box-shadow: 10px 10px 15px #ccc;border-right: 5px solid #6b6e80;}
.njba-quote-box-main.layout-8 .njba-quote-post{position: relative;float: left;padding: 30px 50px;}
.njba-quote-box-main.layout-8 .njba-quote-box{border-radius: 0px;background-color: transparent;padding: 0px 0px;border-top: 0px solid #292929;width: 100%;}
.njba-quote-box-main.layout-8 .njba-quote-image{overflow: hidden;border-radius: 50%;max-width: 110px;bottom: auto;left: 0px;right: 0px;margin: 0 auto;background-color: transparent;padding: 0px;border: 2px solid #ff9638;}
.njba-quote-box-main.layout-8 .njba-quote-box-content h4{text-align: center;line-height: 30px;font-style: italic;}
.njba-quote-box-main.layout-8 .njba-quote-icon{top: 10px;bottom: auto;right: auto;left: -15px;background-color: #FFF;border-radius: 50%;padding: 10px;border: 2px solid #ff9638;width: 40px;height: 40px;line-height: 20px;}
.njba-quote-box-main.layout-8 .njba-quote-icon i{font-size: 15px;color: #ff9638;}
.njba-quote-box-main.layout-8 .njba-quote-post-name{margin-top: 10px;margin-bottom: 0px;}
.njba-quote-box-main.layout-8 .njba-separator-arrow{border-top: 15px solid transparent;border-bottom: 15px solid transparent;border-right: 15px solid transparent;height: 15px;position: absolute;border-right-color: #ebebeb;z-index: 1;top: 70px;
    right: 0;}
.njba-quote-box-main.layout-8 .njba-quote-post-image-box{position: relative; display: inline-block;}
/*layout-six*/
.njba-quote-box-main.layout-1 .njba-quote-box-content{overflow: hidden;padding: 0px;}
.njba-quote-box-main.layout-1 .njba-quote-box{border-radius: 0px;border: 5px solid #00abc9;padding: 30px;}
.njba-quote-box-main.layout-1 .njba-quote-box-content h4{text-align: center;color: #636363;font-weight: 400;line-height: 30px;font-style: italic;}
.njba-quote-box-main.layout-1 h2{margin-bottom: 10px;}
.njba-quote-box-main.layout-1 .njba-quote-icon{top: -50px;bottom: auto;right: auto;left: 15px;padding: 10px;}
.njba-quote-box-main.layout-1 .njba-quote-icon-two{top: auto;bottom: -50px;right: 30px;left: auto;padding: 10px;position: absolute;}
.njba-quote-box-main.layout-1 .njba-quote-icon i{font-size: 70px;color: #cacaca;}
.njba-quote-box-main.layout-1 .njba-quote-icon-two i{font-size: 70px;color: #cacaca;}
.njba-quote-box-main.layout-1 .njba-quote-post-name{margin-top: 10px;margin-bottom: 0px;}
.njba-quote-box-main.layout-1 .njba-separator-arrow{display: none;}
/*layout-seven*/
.njba-quote-box-main.layout-2 .njba-quote-box-content{overflow: hidden;padding: 60px 5px 20px;position: relative;z-index: 1;}
.njba-quote-box-main.layout-2 .njba-quote-box{box-shadow: 5px 5px 15px #ccc;background-color: #ebebeb;padding: 0 55px 10px;}
.njba-quote-box-main.layout-2 .njba-quote-box-content h4{text-align: center;font-weight: 400;line-height: 30px;font-style: italic;}
.njba-quote-box-main.layout-2 .njba-quote-post-name h2{margin-bottom: 10px;}
.njba-quote-box-main.layout-2 .njba-quote-icon{top: 20px;bottom: auto;right: auto;left: 15px;padding: 10px;}
.njba-quote-box-main.layout-2 .njba-quote-icon-two{top: auto;bottom: 60px;right: 30px;left: auto;padding: 10px;position: absolute;}
.njba-quote-box-main.layout-2 .njba-quote-icon i{font-size: 70px;color: rgba(255, 150, 56, 0.59);}
.njba-quote-box-main.layout-2 .njba-quote-icon-two i{font-size: 70px;color: rgba(255, 150, 56, 0.59);}
.njba-quote-box-main.layout-2 .njba-quote-post-name{margin-top: 10px;margin-bottom: 0px;}
/*layout-eight*/
.njba-quote-box-main.layout-3 .njba-quote-box-content{overflow: hidden;padding:0px;}
.njba-quote-box-main.layout-3 .njba-quote-post{position: static;float: none;margin-right: 0px; margin-left: 0px;padding: 0px 0px 20px;right: 0px;}
.njba-quote-box-main.layout-3 .njba-quote-box{background-color: transparent;}
.njba-quote-box-main.layout-3 .njba-quote-box{border-radius: 0px;border: 5px solid #3a3a3a;}
.njba-quote-box-main.layout-3 .njba-quote-image img{border-radius: 50%;border: 0px solid #525252;padding: 0px;}
.njba-quote-box-main.layout-3 .njba-quote-image{display: none;}
.njba-quote-box-main.layout-3 .njba-quote-box-content h4{text-align: center;font-weight: 400;line-height: 30px;font-style: italic;}
.njba-quote-box-main.layout-3 .njba-quote-post-name h2{margin-bottom: 10px;}
.njba-quote-box-main.layout-3 .njba-quote-icon{position: absolute;background-color: #fff;padding: 20px;right: auto;left: -46px;top: -50px;bottom: auto;}
.njba-quote-box-main.layout-3 .njba-quote-icon-two{top: auto;bottom: -30px;right: -55px;left: auto;background-color: #fff;padding: 20px;position: absolute;}
.njba-quote-box-main.layout-3 .njba-quote-icon i{font-size: 70px;color: #3a3a3a;}
.njba-quote-box-main.layout-3 .njba-quote-icon-two i{font-size: 70px;color: #3a3a3a;}
.njba-quote-box-main.layout-3 .njba-quote-post-name{margin-top: 0px;margin-bottom: 20px;}
/*layout-nine*/
.njba-quote-box-main.layout-9 .njba-quote-box-content{overflow: hidden;padding: 40px 30px 39px;position: relative;z-index: 1;}
.njba-quote-box-main.layout-9 .njba-quote-box{border-radius: 0px;background-color: #ebebeb;box-shadow: 5px 5px 15px #ccc;}
.njba-quote-box-main.layout-9 .njba-quote-box-content h4{text-align: center;font-weight: 400;line-height: 30px;font-style: italic;}
.njba-quote-box-main.layout-9 .njba-quote-post-name h2{font-weight: bold;margin-bottom: 10px;}
.njba-quote-box-main.layout-9 .njba-quote-icon{position: static;background-color: #D32F2E;padding: 55px;float: left;}
.njba-quote-box-main.layout-9 .njba-quote-icon-two{top: auto;bottom: 40px;right: 30px;left: auto;padding: 10px;position: absolute;}
.njba-quote-box-main.layout-9 .njba-quote-icon i{font-size: 95px;color: #fff;}
.njba-quote-box-main.layout-9 .njba-quote-icon-two i{font-size: 40px;color: #dadada;}
.njba-quote-box-main.layout-9 .njba-quote-post-name{margin-top: 10px;margin-bottom: 0px;}
.njba-quote-box-main.layout-9 .njba-separator-arrow{border-top: 0px solid transparent;border-bottom: 45px solid transparent;border-left: 45px solid transparent;height: 0px;left: 50px;position: absolute;border-left-color: #D32F2E;
    z-index: 1;top: auto;right: auto;bottom: -45px;border-right: 0px;}
/*layout-ten*/
.njba-quote-box-main.layout-10 .njba-quote-box-content{overflow: hidden;padding: 40px 30px 0px;position: relative;z-index: 1;}
.njba-quote-box-main.layout-10 .njba-quote-post{position: static;float: none;margin-right: 0px; margin-left: 0px;padding: 0px 0px 20px;right: 0px;}
.njba-quote-box-main.layout-10 .njba-quote-box{background-color: #FB8C00;}
.njba-quote-box-main.layout-10 .njba-quote-box{border-radius: 0px;box-shadow: 5px 5px 15px #ccc;}
.njba-quote-box-main.layout-10 h4{text-align: center;font-weight: 400;line-height: 30px;font-style: italic;}
.njba-quote-box-main.layout-10 h2{font-weight: bold;margin-bottom: 10px;}
.njba-quote-box-main.layout-10 h3{font-weight: 400;}
.njba-quote-box-main.layout-10 .njba-quote-icon{position: relative;background-color: #fff;padding: 55px;float: left;top: 0px;left: 0px;}
.njba-quote-box-main.layout-10 .njba-quote-icon-two{top: auto;bottom: 30px;right: 30px;left: auto;background-color: transparent;padding: 00px;border-radius: 50%;padding: 10px;border: 0px solid #ff9638;position: absolute;}
.njba-quote-box-main.layout-10 .njba-quote-icon i{font-size: 95px;color: #FB8C00;}
.njba-quote-box-main.layout-10 .njba-quote-icon-two i{font-size: 40px;color: #ce7608;}
.njba-quote-box-main.layout-10 .njba-quote-post-name{margin-top: 10px;margin-bottom: 0px;}
.njba-quote-box-main.layout-10 .njba-separator-arrow{border-top: 0px solid transparent;border-bottom: 45px solid transparent;border-left: 45px solid transparent;height: 0px;left: 50px;position: absolute;border-left-color: #fff;z-index: 1;
    top: auto;right: auto;bottom: -45px;border-right: 0px;}
.njba-quote-box-shep{border-top: 103px solid transparent;border-bottom: 103px solid transparent;border-left: 20px solid transparent;height: 0px;border-left-color: #fff;position: absolute;right: -20px;top: 0px;}
.njba-quote-box-shep-main{border-top: 103px solid transparent;border-bottom: 103px solid transparent;border-left: 20px solid transparent;height: 0px;border-left-color: #FB8C00;position: absolute;right: -20px;top: 0px;}
/*layout-eleven*/
.njba-quote-box-main.layout-11 .njba-quote-box-content{overflow: hidden;padding: 40px 40px 40px;background-color: #424242;border-radius: 15px;position: relative;z-index: 0;border-right: 0px solid #6b6e80;transform: rotate(8deg);}
.njba-quote-box-main.layout-11 .njba-quote-post{position: static;float: none;margin-right: 0px;margin-left: 0px;padding: 0px 0px 20px;right: 0px;}
.njba-quote-box-main.layout-11 .njba-quote-box{background-color: #FB8C00;border-radius: 15px;transform: rotate(-8deg);}
.njba-quote-box-main.layout-11 h4{text-align: center;font-weight: 400;line-height: 30px;font-style: italic;padding-top: 10px}
.njba-quote-box-main.layout-11 h2{font-weight: bold;margin-bottom: 10px;}
.njba-quote-box-main.layout-11 h3{font-weight: 400;}
.njba-quote-box-content-inner {position: relative;}
.njba-quote-box-main.layout-11 .njba-quote-icon{float: left;right: auto;left: 0;top: -15px;bottom: auto;z-index: 1;}
.njba-quote-box-main.layout-11 .njba-quote-icon-two{top: auto;bottom: -15px;right: 0;left: auto;float: right;position: absolute;}
.njba-quote-box-main.layout-11 .njba-quote-icon i{font-size: 30px;color: #afafaf;}
.njba-quote-box-main.layout-11 .njba-quote-icon-two i{font-size: 30px;color: #afafaf;}
.njba-quote-box-main.layout-11 .njba-quote-post-name{margin-top: 0px;margin-bottom: 20px;}
/* media */
@media(max-width:768px) {
    .njba-quote-box-inner{width:100%;}
}
@media (max-width: 767px){
    .njba-quote-box-content {padding: 140px 30px 30px 30px;}
    .njba-quote-box-main.layout-5 .njba-quote-box-content {padding: 40px 30px 120px 30px;}
    .njba-quote-box-main.layout-8 .njba-quote-box{background-color: #ebebeb;}
    .njba-quote-box-main.layout-8 .njba-separator-arrow{height: 0px;display: none;}
    .njba-quote-box-main.layout-8 .njba-quote-box-content{border-bottom: 5px solid #6b6e80;border-right:0px;padding: 0px 30px 30px;}
    .njba-quote-box-main.layout-8 .njba-quote-post{float: none;}
    .njba-quote-box-main.layout-8 .njba-quote-box-content{width: 100%;}
    .njba-quote-box-content h4{font-size: 15px;}
    .njba-quote-box-main.layout-8 .njba-quote-icon{left:100px;}
    .njba-quote-box-main.layout-9 .njba-quote-icon{float: none;}
    .njba-quote-box-main.layout-10 .njba-quote-icon{float: none;}
    .njba-quote-box-main.layout-3 .njba-quote-icon{left: -15px;top: -20px;padding: 10px;}
    .njba-quote-box-main.layout-3 .njba-quote-icon-two{bottom: -10px;right: -20px;padding: 10px;}
    .njba-quote-box-main.layout-3 .njba-quote-icon i{font-size: 50px;}
    .njba-quote-box-main.layout-3 .njba-quote-icon-two i{font-size: 50px;}
    .njba-quote-box-shep{border:none;}
    .njba-quote-box-shep-main{border: none;}
}
@media(max-width:320px) {
    .njba-quote-box-main.layout-6 .njba-quote-post{max-width: 60px;}
    .njba-quote-box-main.layout-8 .njba-quote-icon {left: 50px;}
    .njba-quote-box-content h4 {font-size: 12px;}
    .njba-quote-box-main.layout-6 .njba-quote-box-content{padding: 10px 20px;}
}
