.wcst_option_text_field
{
	width: 300px;
}
.wcst_option_label
{
	margin-top: 60px;
	
}
.wcst_option_less_margin_label
{
	margin-top: 30px;
	
}
.wcst_sub_titles
{
	font-size: 25px;
}
.input_box
{
	border: 1px solid #d3d3d3;
    margin-top: 40px;
    padding: 15px;
}
#wcst_advanced_bulk_import_options
{
	margin-top:10px;
	display:none;
	border: 1px #d3d3d3 solid;
	padding: 0px 20px 20px 20px;
	width:90%;
}
.wcst_csv_file_input_text
{
	min-width:500px;
}
h3 {
  margin-top: 15px;
  color: #96588a;
}
h4 {
  margin-top: 40px;
  color: #96588a;
  font-size: 18px;
  margin-bottom: 0px;
}
.wp-editor-wrap {
	margin-top: -5px !important;
}
h3.wcsts_option_section_title
{
	margin-top: 35px;
}
.input_fields_wrap
{
	background: white none repeat scroll 0 0;
	margin-top: 15px;
	width: 90%;
}
label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}
.wcst_title_label
{
	margin-top:30px;
	margin-bottom: 5px;
}
.wcst_label
{
	margin-top:20px;
}
.wcst_extra_options_container 
{
	padding: 10px;
	background: #f9f9f9;
	border-radius: 3px;
}
textarea
{
	margin-bottom: 20px;
}
.wcst_company_name_input
{
	width: 90%;
	max-width: 500px;
}
.preview_box
{
	margin-bottom: 70px;
	padding: 25px 25px 25px 25px;
	background: #f3f3f3;
	width: 650px;
	display: block;
	margin-top: 10px;
	border-radius: 5px;
}
#wcst_select2_order_id
{
	min-width: 350px;
}
.white-box
{
	background-color: white;
   /*  box-shadow: 2px 5px 10px; */
    box-shadow: 1px 1px 2px;
	padding: 15px 15px 15px 15px;
	overflow: auto;
}
.wcst_title_with_border
{
	border-bottom: 1px solid #d3d3d3;
	padding-bottom: 10px;
	padding-top: 30px;
}
.wcst_checkout_tab_input
{
	width:350px;
}
.wcst_option_sub_title
{
	margin-top: 30px;
	margin-bottom: 5px;
	font-style: italic;
}
.wcst_text_input
{
	width: 350px;
}
.wcst_checkout_tab_textarea
{
	width:350px;
	height:150px;
}
.wcst_notice
{
	background:#71b02f;
	color:white;
	padding:5px;
	font-size:11px;
}
.wcst_no_margin_top
{
	margin-top: 0px !important;
}
.notice-success, div.updated 
{
  padding: 10px;
}
.wcst_disable_tracking_url_info
{
	display:block;
	margin-bottom: 5px;
}
input[type="text"][disabled] 
{
   background: #d4d4d4;
}
#wcst_description_note_title 
{
	color: #96588a;
	font-weight: bold;
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
}
#wcst_description_note
{
	/* border: 1px dashed #96588a;
	padding: 15px;
	margin-top: 30px; */
	border: 1px solid #c8c8c8;
	padding: 15px;
	margin-top: 30px;
	background: #fcfcfc;
}
button.remove_field.button-secondary
{
	display: block;
	margin-top: 10px;
}
button.remove_field.button-secondary, button.remove_field.button-secondary:focus
{
	background: #ee2d2d none repeat scroll 0 0;
    border-color: #ee2d2d;
    box-shadow: none;
	font-weight: bold;
	text-shadow:none;
	color:white;
}
button.remove_field.button-secondary:hover {
	background: #EA8181 none repeat scroll 0 0;
	border-color: #EA8181;
	box-shadow: none;
	font-weight: bold;
	color:white;
}