.wcst_shipping_info_box li input:not([type="checkbox"]), .wcst_shipping_info_box li select, .wcst_shipping_info_box li textarea
{
	width: 98%;
}
p.wcst_extra_delivery_row
{
	display: block;
	clear: both;
	overflow: hidden;
}
/* .wcst_shipping_info_box li input
{
	display: inline;
	width: auto;
} */