/* ========================================================================
Defaults
========================================================================== */

/* Admin Bar */
.admin-bar .#{$prefix}-menu-off-canvas,
.admin-bar .#{$prefix}-menu-full-screen {
	margin-top: 32px;
}


/* ========================================================================
Youtube Shortcode
========================================================================== */

.wpbf-video {
	margin-bottom: $margin;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0px;
	height: 0;
	overflow: hidden;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.wpbf-video-opt-in {
	padding: 40px;
	background: $base-color-alt;
	img {
		width: 800px;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	p:last-child {
		margin-bottom: 0;
	}
}

.wpbf-video.opt-in {
	display: none;
}

/* ========================================================================
Social Media Icons
========================================================================== */
.wpbf-social-icons {
	display: inline-block;
	a {
		display: inline-block;
		vertical-align: middle;
		margin: 3px;
	}
}

.wpbf-social-icons.wpbf-social-shape-plain {
	a {
		margin: 6px;
	}
}

.wpbf-social-shape-rounded {
	a {
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		background: $base-color-alt;
		@include border-radius(100%);
	}
}

.wpbf-social-shape-rounded.wpbf-social-size-large {
	a {
		width: 40px;
		height: 40px;
		line-height: 40px;
	}
}

.wpbf-social-shape-boxed {
	a {
		@include transition(all 0.2s);
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		background: $base-color-alt;
	}
}

.wpbf-social-shape-boxed.wpbf-social-size-large {
	a {
		width: 40px;
		height: 40px;
		line-height: 40px;
	}
}

.wpbf-social-style-brand {
	.wpbf-social-facebook {
		color: #3b5998;
		&:hover {
			color: rgba(#3b5998,.8);
		}
	}
	.wpbf-social-twitter {
		color: #1da1f2;
		&:hover {
			color: rgba(#1da1f2,.8);
		}
	}
	.wpbf-social-google {
		color: #dd4b39;
		&:hover {
			color: rgba(#dd4b39,.8);
		}
	}
	.wpbf-social-pinterest {
		color: #bd081c;
		&:hover {
			color: rgba(#bd081c,.8);
		}
	}
	.wpbf-social-youtube {
		color: #cd201f;
		&:hover {
			color: rgba(#cd201f,.8);
		}
	}
	.wpbf-social-instagram {
		color: #405de6;
		&:hover {
			color: rgba(#405de6,.8);
		}
	}
	.wpbf-social-vimeo {
		color: #1ab7ea;
		&:hover {
			color: rgba(#1ab7ea,.8);
		}
	}
	.wpbf-social-soundcloud {
		color: #ff8800;
		&:hover {
			color: rgba(#ff8800,.8);
		}
	}
	.wpbf-social-linkedin {
		color: #0077b5;
		&:hover {
			color: rgba(#0077b5,.8);
		}
	}
	.wpbf-social-yelp {
		color: #d32323;
		&:hover {
			color: rgba(#d32323,.8);
		}
	}

}

.wpbf-social-style-filled:not(.wpbf-social-shape-plain) {
	a {
		color: #fff;
	}
	.wpbf-social-facebook {
		background: #3b5998;
		&:hover {
			background: rgba(#3b5998,.8);
		}
	}
	.wpbf-social-twitter {
		background: #1da1f2;
		&:hover {
			background: rgba(#1da1f2,.8);
		}
	}
	.wpbf-social-google {
		background: #dd4b39;
		&:hover {
			background: rgba(#dd4b39,.8);
		}
	}
	.wpbf-social-pinterest {
		background: #bd081c;
		&:hover {
			background: rgba(#bd081c,.8);
		}
	}
	.wpbf-social-youtube {
		background: #cd201f;
		&:hover {
			background: rgba(#cd201f,.8);
		}
	}
	.wpbf-social-instagram {
		background: #405de6;
		&:hover {
			background: rgba(#405de6,.8);
		}
	}
	.wpbf-social-vimeo {
		background: #1ab7ea;
		&:hover {
			background: rgba(#1ab7ea,.8);
		}
	}
	.wpbf-social-soundcloud {
		background: #ff8800;
		&:hover {
			background: rgba(#ff8800,.8);
		}
	}
	.wpbf-social-linkedin {
		background: #0077b5;
		&:hover {
			background: rgba(#0077b5,.8);
		}
	}
	.wpbf-social-yelp {
		background: #d32323;
		&:hover {
			background: rgba(#d32323,.8);
		}
	}

}

.wpbf-social-style-grey {
	a {
		color: #aaa;
	}
	.wpbf-social-facebook:hover {
		color: #3b5998;
	}
	.wpbf-social-twitter:hover {
		color: #1da1f2;
	}
	.wpbf-social-google:hover {
		color: #dd4b39;
	}
	.wpbf-social-pinterest:hover {
		color: #bd081c;
	}
	.wpbf-social-youtube:hover {
		color: #cd201f;
	}
	.wpbf-social-instagram:hover {
		color: #405de6;
	}
	.wpbf-social-vimeo:hover {
		color: #1ab7ea;
	}
	.wpbf-social-soundcloud:hover {
		color: #ff8800;
	}
	.wpbf-social-linkedin:hover {
		color: #0077b5;
	}
	.wpbf-social-yelp:hover {
		color: #d32323;
	}

}