/* Navigation */

// Menu Item
.wpbf-woo-menu-item {
	a:after {
		display: none;
	}
	.wpbf-woo-menu-item-label {
		margin-right: 5px;
	}
	.wpbf-woo-menu-item-separator {
		margin: 0 5px;
	}
	.wpbf-woo-sub-menu {
		font-size: $small-fontsize;
		padding: 0;
		left: auto;
		right: 0;
		width: 340px;
		text-align: right;
	}
	.wpbf-woo-sub-menu:before {
		content: "\f10a";
		font-family: "page-builder-framework";
		position: absolute;
		right: 14px;
		top: -14px;
		line-height: 1;
		font-size: $big-fontsize;
		color: #fff;

		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.wpbf-woo-sub-menu-table-wrap {
		padding: $padding-small $padding 0 $padding;
	}
	.wpbf-table {
		text-align: left;
		border: none;
		margin-bottom: 0;
		th {
			background: transparent;
		}
		td,
		th {
			padding: 8px 0;
			border: none;
		}
		tr {
			border-bottom: 1px solid $base-color-alt;
		}
		// tr:last-child {
			// border-bottom: none;
		// }
		th:nth-child(2), td:nth-child(2) {
			text-align: right;
		}
		a {
			padding: 0 !important;
		}
		tfoot {
			padding: $padding-small;
			background: $base-color-alt;
		}
	}
	img {
		width: 54px;
		margin-right: $margin-small;
	}
	.wpbf-woo-sub-menu-button-wrap,
	.wpbf-woo-sub-menu-summary-wrap {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	.wpbf-woo-sub-menu-summary-wrap {
		padding: $padding-small $padding;
		> div:first-child {
			font-weight: 700;
		}
	}
	.wpbf-button {
		padding: $padding !important;
		flex: 1 0 0;
		color: $brand-color-alt;
		border: none;
		border-radius: 0;
	}
	.wpbf-button-primary {
		color: #fff;
	}
}

.wpbf-mobile-nav-wrapper {
	.wpbf-woo-sub-menu {
		display: none !important;
	}
}

/* Loop */

// Image Flip
.wpbf-woo-has-gallery .wp-post-image-secondary {
	position: absolute;
	top: 0; left: 0;
	opacity: 0;
}

ul.products li.wpbf-woo-has-gallery .wp-post-image {
	@include transition(opacity .5s);
}

ul.products li.wpbf-woo-has-gallery .wpbf-woo-loop-thumbnail-wrapper:hover .wp-post-image {
	opacity: 0;
}

ul.products li.wpbf-woo-has-gallery .wpbf-woo-loop-thumbnail-wrapper:hover .wp-post-image-secondary {
	opacity: 1;
}

/* Quick View */

// Quick View Button
.wpbf-woo-quick-view {
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	width: calc(100%-20px);
	background: rgba(black,.7);
	color: #fff;
	display: none;
	text-align: center;
	line-height: 1;
	padding: $padding-small;
	font-size: $small-fontsize;
}

.wpbf-woo-quick-view:hover {
	color: #fff;
}

// Quick View Modal
.wpbf-woo-quick-view-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(#000,.8);
	z-index: 999;
	display: none;
}

.wpbf-woo-quick-view-modal-content {
	z-index: 9999;
	width: 900px;
	max-width: 75%;
	max-height: 75%;
	overflow: auto;
	@include center-align();
	background: #fff;
	div.product {
		div.images {
			margin-bottom: 0;
		}
		div.summary {
			margin-bottom: 0;
			padding: $padding-medium;
		}
	}
	.wpbf-woo-cart-error {
		color: tomato;
		span {
			display: block;
		}
	}
	.select-error {
		border-color: tomato;
	}
}

.wpbf-woo-quick-view-modal-close {
	position:				absolute;
	right:					0;
	top:					0;
	height:					60px;
	line-height: 			60px;
	text-align:				center;
	width:					60px;
	cursor:					pointer;
	opacity: 				.8;
	color: 					#fff;
	@include				transition(opacity 0.2s);
}

.wpbf-woo-quick-view-modal-close:hover {
	opacity: 1;
}

.woocommerce.admin-bar .wpbf-woo-quick-view-modal-close {
	top: 32px;
}