.njba-dual-btn-main a{text-decoration: none;position: relative;}
.njba-dual-btn-main a:hover, .njba-dual-btn-main a:active, .njba-dual-btn-main a:focus{text-decoration: none;}
.njba-dual-btn-main a:active, .njba-dual-btn-main a:focus{outline: none;}