span.wpgmp_locateme_control {
    background: url(../images/nav.png) no-repeat;
    display: inline-block;
    height: 25px;
    cursor: pointer!important;
    vertical-align: middle;
    width: 25px;
    z-index: 50;
    position: relative;
    text-indent: -9999px;
}


.bottom_center {
    margin-bottom: 5px;
}

.top_center {
    margin-top: 5px;
}

.right_center {
    margin-right: 5px;
}

.left_center {
    margin-left: 5px;
}

/*.wpgmp_map img {
    max-width: none !important;
    padding: 0px !important;
}*/
@font-face{font-family:'FontAwesome';src:url('fonts/fontawesome-webfont.eot?v=4.6.3');src:url('fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'),url('fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'),url('fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'),url('fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'),url('fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-fw{width:1.28571429em;text-align:center}.fa-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none}.fa-ul>li{position:relative}.fa-li{position:absolute;left:-2.14285714em;width:2.14285714em;top:.14285714em;text-align:center}.fa-li.fa-lg{left:-1.85714286em}
.fa-chevron-up:before{content:"\f077"}.fa-chevron-down:before{content:"\f078"}
.fa-star:before{content:"\f005"}.fa-star-half:before{content:"\f089"}.fa-heart-o:before{content:"\f08a"}
.wpgmp_map div {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.geotags_link {
    clear: both;
    display: block;
    text-decoration: none;
    border: none;
}
/* Reset all CSS */

.wpgmp_tabs_container *, .wpgmp_listing_container *, .wpgmp_infowindow  {
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    font-size: 1em;
	line-height:1.5em;
    font-weight: normal;
    box-shadow: none;
    text-decoration: none;
}
.wpgmp_tabs_container a, .wpgmp_tabs_container a:hover {
    text-decoration: none !important;
    border-bottom: 0px;
}

/* Color Schema */

/* Primary Color */
.wpgmp_tabs_container .wpgmp_tabs li a.active, .wpgmp_direction_container p input.wpgmp_find_direction,
.wpgmp_nearby_container .wpgmp_find_nearby_button, .wpgmp_pagination span.current, .wpgmp_pagination a:hover, .wpgmp_toggle_main_container input[type="submit"], .wpgmp_toggle_main_container .amenity_type:hover {
background: #29B6F6; 
}



div.wpgmp_search_form input.wpgmp_search_input:focus {
    border: 1px solid #29B6F6;
}

div.wpgmp_search_form input.wpgmp_search_input {
    border-bottom: 1px solid '.$secondary_color.';
}
/* End Primary Color */

/* Secondary Color */


.fc-label-info, .fc-badge.info, .wpgmp_pagination span,
.wpgmp_pagination a, .wpgmp_toggle_main_container .amenity_type, div.categories_filter select, .wpgmp_tabs_container .wpgmp_tabs, .wpgmp_toggle_container {
        background: #212f3d;
}


.wpgmp-select-all, .wpgmp_tabs_container .wpgmp_tab_item .wpgmp_cat_title, .wpgmp_tabs_container .wpgmp_tabs li a.active, .wpgmp_location_title a.place_title
{
        color: #212f3d;
} 

.fc-label-info, .fc-badge.info {
    border: 1px solid #212f3d;
}

.wpgmp-infowindow-action {
    margin-top: 10px;
}

.wpgmp-infowindow-action:hover a {
    opacity: .87;
}

/* End Secondary Color */

/* Other Fore Colors */

 .wpgmp-map-1 .wpgmp-select-all, .wpgmp-map-1 .wpgmp_infowindow .wpgmp-infowindow-fields span b, .wpgmp_location_meta, span.wpgmp_nearby_distance, .wpgmp_nearby_container select#tmode, .wpgmp_nearby_container .wpgmp_set_current_location, div.wpgmp_pagination span.disabled, span.wpgmp_nearby_distance, .wpgmp_location_meta, .wpgmp_pagination span, div.wpgmp_direction_panel_container h2 a , div.wpgmp_direction_panel_container div.dir_start, div.wpgmp_direction_panel_container .dir_end {
   color: rgba(0,0,0,.87);
}

.wpgmp-map-1 .wpgmp-select-all, .wpgmp-map-1 .wpgmp_infowindow .wpgmp-infowindow-fields span, .wpgmp_infowindow .fc-item-featured_image, div.wpgmp_search_form input.wpgmp_search_input, .wpgmp_listing_grid .wpgmp_locations .wpgmp_locations_content,
.wpgmp_listing_list .wpgmp_locations .wpgmp_locations_content {
    color: rgba(0,0,0,.58);
}

.wpgmp-infowindow-action a.fc-btn,.wpgmp-infowindow-action a.fc-btn:hover,.wpgmp_tabs_container .wpgmp_tabs li a.active,.wpgmp_pagination span.current, .wpgmp_pagination a:hover, .wpgmp_toggle_main_container input[type="submit"], .wpgmp_direction_container p input.wpgmp_find_direction,
.wpgmp_nearby_container .wpgmp_find_nearby_button, .wpgmp_pagination a,  .wpgmp_locations_listing div.wpgmp_pagination span.current, .wpgmp_locations_listing div.wpgmp_pagination a, div.categories_filter select, .wpgmp_tabs_container .wpgmp_tabs li a, .wpgmp_toggle_container, .wpgmp_toggle_main_container .amenity_type, .fc-badge, .fc-btn {
    color: #fff;
}

/* Other BG Colors */

[data-input="map-search-control"], .wpgmp_toggle_main_container p select, .adp-directions tr:hover td, div.directions-panel,
div.wpgmp-directions-panel-route-style, div.wpgmp_rdpcontainer, div.wpgmp_search_form input.wpgmp_search_input, .wpgmp_locations_listing div.wpgmp_pagination span.current, .wpgmp_nearby_container .wpgmp_set_current_location, .wpgmp_direction_container p select[name="start_point"],
.wpgmp_direction_container p select[name="end_point"], li.wpgmp_nearby_all_locations, .wpgmp_tabs_container { 
    background: #fff;
}
.adp-directions td, div.wpgmp_direction_panel_container h2, div.wpgmp_direction_panel_container .dir_end, div.wpgmp_direction_panel_container div.dir_start, .wpgmp_tabs_container .jspCorner, .wpgmp_tabs_container .jspArrow.jspDisabled, .wpgmp_tabs_container .jspArrow, .wpgmp_tabs_container .jspTrack, .wpgmp_tabs_container .jspDrag { 
    background: #dde;
}

/* font setting */

.wpgmp_locations .wpgmp_location_title a 
{
font-size: 1.2em;
}
div.wpgmp-directions-panel-route-style table, div.wpgmp-directions-panel-route-style table tr, div.wpgmp-directions-panel-route-style table tr td, .wpgmp_location_title a.place_title, div.wpgmp_toggle_main_container div.wpgmp_tab_item ul.wpgmp_location_container li a, , .wpgmp_tabs_container .wpgmp_tab_item .wpgmp_cat_title, .wpgmp_tabs_container .wpgmp_tabs li a {
    font-size: 1em;
}

.adp-legal, .adp-text, .adp-summary, .wpgmp_toggle_main_container p select, .wpgmp_toggle_main_container input[type="text"], .wpgmp_toggle_main_container .amenity_type label, .wpgmp_direction_container p input.wpgmp_find_direction, .wpgmp_nearby_container .wpgmp_find_nearby_button, div.wpgmp_search_form input.wpgmp_search_input, [data-input="map-search-control"], div.categories_filter select, .fc-label-info, .fc-badge.info, .wpgmp_pagination {
    font-size:.875em;
}

.adp-legal,.adp-text, .adp-summary {
    padding-top: 7px;
}

.adp-legal {
    text-align: right;
}


.wpgmp_tabs_container {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    position: absolute;
    right: 5px;
    top: 45px;
    z-index: 100;
    padding: 0px;
}

.wpgmp_tabs_container .jspContainer {
    overflow: hidden;
    position: relative;
}

.wpgmp_tabs_container .jspPane {
    position: absolute;
}

.wpgmp_tabs_container .jspPane, .wpgmp_tabs_container .jspContainer, .wpgmp_tabs_container .scroll-pane {
width: 100% !important;
}

.wpgmp_tabs_container .jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0px;
    width: 3px;
    height: 100%;
}

.wpgmp_tabs_container .jspVerticalBar .jspArrow {
    height: 16px;
}

.wpgmp_tabs_container .jspVerticalBar .jspArrow:focus {
    outline: none;
}

.wpgmp_tabs_container .jspHorizontalBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
}

.wpgmp_tabs_container .jspHorizontalBar .jspCap {
    float: left;
}

.wpgmp_tabs_container .jspHorizontalBar .jspArrow {
    width: 16px;
    float: left;
    height: 100%;
}

.wpgmp_tabs_container .jspCap {
    display: none;
}


.wpgmp_tabs_container .jspTrack {
    position: relative;
}


.wpgmp_tabs_container .jspDrag {
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.wpgmp_tabs_container .jspArrow {
    text-indent: -20000px;
    display: block;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.wpgmp_tabs_container .jspArrow.jspDisabled {
    cursor: default;
}


.wpgmp_tabs_container .jspCorner {
    float: left;
    height: 100%;
}

.wpgmp_tabs_container .wpgmp_tabs {
    width: 100%;
    display: flex;
    margin: 0 0 0 !important;
    padding: 0;
	  overflow: auto;
}

.wpgmp_tabs_container .wpgmp_tabs li {
    flex: 1 0 0;
    white-space: nowrap;
    list-style: none;
}

.wpgmp_tabs_container .wpgmp_tabs li:focus {
    outline: none;
}

.wpgmp_tabs_container .wpgmp_tabs li a.active {
    cursor: pointer;
    border: none;
}

.wpgmp_tabs_container .wpgmp_tabs li a {
   display: block;
    text-align: center;
    text-decoration: none !important;
   padding: 10px;
    
}

.wpgmp_tabs_container .wpgmp_tab_item {
    border-bottom: 1px solid #e8ebec;
    margin: 0px;
    padding: 10px 0px;
}
.wpgmp_tabs_container .wpgmp_tab_item:last-child{
	border-bottom:none;
}
.wpgmp_tabs_container .wpgmp_tab_item .wpgmp_cat_title {
    text-decoration: none !important;
    padding: 0 0 0 8px;
    text-transform: capitalize;
	box-shadow:none;
	display:inline;
	 transition: all 0.3s;
	-webkit-transition: all 0.3s;
 	 
}
 
.wpgmp-select-all {
    text-align: center;
    margin-right: 10px;
}



.wpgmp_tabs_container .wpgmp_tab_item input[type="checkbox"] {
    vertical-align: middle;
	/*width:0px;
	opacity:0;*/
	display:inline;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	margin-left:-14px;
	
}
@media(max-width:767px){
.wpgmp_tabs_container .wpgmp_tab_item input[type="checkbox"] {
	margin-left:-16px;
}
}
.wpgmp_tabs_container #wpgmp_tab_0,
.wpgmp_tabs_container #wpgmp_tab_3{
	overflow:hidden;
}
.wpgmp_tabs_container #wpgmp_tab_0 .wpgmp_tab_item:hover  input[type="checkbox"],
.wpgmp_tabs_container #wpgmp_tab_3 .wpgmp_tab_item:hover  input[type="checkbox"] {
    display: table-cell;
	opacity:1;
	width:auto;
	margin-left:0px;
}
.wpgmp_tabs_container .wpgmp_tab_item .wpgmp_cat_title span.arrow {
    float: right;
    width: 32px;
    margin-top: -5px;
    margin-right: 10px;
}
 
 

.wpgmp_tabs_container .wpgmp_tab_item .wpgmp_cat_title:hover {
    text-decoration: none!important;
}

.wpgmp_tabs_container .jspHorizontalBar .jspTrack,
.wpgmp_tabs_container .jspHorizontalBar .jspDrag {
    float: left;
    height: 100%;
}

* html .wpgmp_tabs_container .jspCorner {
    margin: 0 -3px 0 0;
}

.wpgmp_map_container {
    position: relative;
    outline: none;
}

.wpgmp_map_container .gm-style-iw {
    min-height: 50px!important;
    min-width: 150px!important;
}

.wpgmp_toggle_main_container {
    width: 100%;
    padding:1em;
    max-height: 300px;
    overflow: auto;
}


.wpgmp_tab_item .wpgmp_location_container {
    margin: 0!important;
    padding-top : 10px;
	padding-bottom:30px;
	overflow:hidden;
}
.wpgmp_tabs_container .wpgmp_tab_item .wpgmp_location_container input[type="checkbox"]{
	margin-left:-23px;
}
.wpgmp_tab_item .wpgmp_location_container li.wpgmp_all_locations {
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    margin: 0 18px 0 25px;
    padding: 4px 0;
}

.wpgmp_tab_item .wpgmp_location_container li.wpgmp_all_locations:before {
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    border-left: 4px solid #9E9E9E;
    border-top: 4px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin: -4px 5px 0 0;
}

.wpgmp_tab_item .wpgmp_location_container li.wpgmp_all_locations:hover {
    border: 1px solid #D1D1D1;
    text-decoration: none!important;
}

li.wpgmp_nearby_all_locations {
    list-style: none;
    cursor: pointer;
    border: 1px solid #E9E9E9;
    width: 97%;
    text-indent: 10px;
    margin: 6px 10px 0 0px !important;
    padding: 7px 5px;
    float: left;
}
/*
.wpgmp_listing_grid .fc-component-6{
	-webkit-column-count: 3;  
    -moz-column-count: 3;  
    column-count: 3;
}
*/
.wpgmp_listing_grid .wpgmp_locations {
    width: 31.3333333333333333%;
    vertical-align: top;
    display: inline-block;
    padding:0 !important;
    margin: 1% 1%  !important;
    border: 1px solid #E9E9E9;
    border-radius: 0px;
	height:auto;
	float:none;
	padding-bottom:0px !important;
	
}
.wpgmp_listing_grid .fc-itemcontent-padding,
.wpgmp_listing_grid .fc-item-padding-content_15{
	padding:15px;
}
.wpgmp_print_listing .fc-item-padding-content_15 {
     float: left;
    width: 100%;
}
.wpgmp_listing_list .fc-itemcontent-padding{
	padding:0 0 0 15px;
}
 
.wpgmp_listing_grid .fc-item-default.fc-wait  .wpgmp_locations{
	padding:15px !important;
}
	
.wpgmp_listing_grid .fc-item-title{
	margin-top:15px;
}
.wpgmp_listing_grid .wpgmp_locations_head {
    margin-bottom: 10px;
}
.wpgmp_listing_grid .wpgmp_locations .wpgmp_location_title {
    line-height: 25px;
    display: inline-block;
}

.wpgmp_listing_grid .wpgmp_locations .wpgmp_location_meta {
    margin-top: 5px;
}

.wpgmp_listing_grid .wpgmp_locations .wpgmp_locations_content img {
   float: none;
    width: 100% !important;
    margin-bottom: 10px !important;
    border: none;
}

.wpgmp_listing_list .wpgmp_locations {
    float: left;
    width: 100%;
	box-sizing:border-box;
    padding: 14px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;
	height:auto !important;
}

.wpgmp_listing_list .wpgmp_locations .wpgmp_location_meta {
    float: right;
}

.wpgmp_listing_grid .wpgmp_locations .wpgmp_locations_content,
.wpgmp_listing_list .wpgmp_locations .wpgmp_locations_content {
    float: left;
    width: 100%;
}



.categories_filter span.span_list,
.categories_filter span.span_grid,
.categories_filter span.span_print {
    float: right;
	margin-top:0.75em;
}

.categories_filter span.span_list img,
.categories_filter span.span_list .active img,
.categories_filter span.span_grid img,
.categories_filter span.span_grid .active img,
.categories_filter span.span_print img,
.categories_filter span.span_print .active img {
    opacity: .7;
}

.categories_filter span.span_list img:hover,
.categories_filter span.span_list .active img,
.categories_filter span.span_grid img:hover,
.categories_filter span.span_grid .active img,
.categories_filter span.span_print img:hover,
.categories_filter span.span_print .active img {
    opacity: 1;
}

.categories_filter span.span_list img,
.categories_filter span.span_grid img,
.categories_filter span.span_print img {
    box-shadow: none;
    cursor: pointer;
    border-radius: 0px;
    padding: 5px;
}

span.wpgmp_nearby_distance {
    font-style: italic;
    color: #9e9e9e;
    float: left;
    margin-right: 8px;
}



.wpgmp_direction_container,
.wpgmp_routes_container,
.wpgmp_nearby_container {
    margin-top: 0px;
}

.wpgmp_direction_container p {
    margin: 4px 0 7px;
}

.wpgmp_direction_container .wpgmp-direction-form .input {
    float: left;
    width: 235px;
    border-radius: 0!important;
    margin: 4px 10px 5px 0;
    padding: 5px 30px 5px 10px;
}

.wpgmp_direction_container span.wpgmp_mcurrent_loction {
    background: url(../images/nav.png) no-repeat;
    display: inline-block;
    height: 25px;
    cursor: pointer!important;
    vertical-align: middle;
    width: 25px;
    float: right;
    margin: -25px 10px;
}

.wpgmp_direction_container p select[name="start_point"],
.wpgmp_direction_container p select[name="end_point"] {
    box-shadow: none !important;
    display: block;
    margin-bottom: 10px;
}


.wpgmp_direction_container p input.wpgmp_find_direction,
.wpgmp_nearby_container .wpgmp_find_nearby_button {
    border: 0px;
    padding: 0.642857em 1.142857em;
	line-height:1.5;
}

.wpgmp_tabs_container input[type="button"]:hover, .wpgmp_tabs_container input[type="submit"]:hover{
 opacity: .87;
}
.wpgmp_nearby_container select#tmode {
    width: 175px;
    background: none;
    margin: 4px 10px 7px 0;
    padding: 5px 0 5px 5px;
}



.wpgmp_nearby_container .wpgmp_set_current_location {
    font-size: 10px;
    border: solid 1px #ddd;
    display: block;
    margin: 10px 0;
    padding: 5px 0;
}

.wpgmp_nearby_container span.wpgmp_mcurrent_loction {
    background: url(../images/nav.png) no-repeat;
    display: inline-block;
    height: 25px;
    cursor: pointer!important;
    vertical-align: middle;
    width: 25px;
    margin: 3px -35px;
}

.wpgmp_toggle_container {

    border-radius: 0 0 2px 2px;
    cursor: pointer;
    left: 50%;
    margin-left: -49px;
    position: absolute;
    text-align: center;
    width: 90px;
    padding: 5px;
}

.wpgmp_locations_content img {
    vertical-align: middle;
}

.wpgmp_location_meta {
    display: inline-block;
    float: right;
    margin-right: 10px;
    font-style: italic;
}

.wpgmp_display_category_data {
    list-style: none!important;
}

.wpgmp_loading {
    min-width: 300px;
    min-height: 100px;
    background: url(../images/loader.gif) no-repeat center;
}

.wpgmp_display_locations_data {
    list-style: none!important;
    padding-bottom: 12px!important;
    border-bottom: 1px solid #E5E4E2!important;
    margin: 16px 0!important;
}

.wpgmp_display_locations_data h2 {
    margin-bottom: 12px!important;
    padding: 0!important;
}

.wpgmp_display_locations_data p {
    margin-bottom: 7px!important;
    padding: 0!important;
}

.wpgmp_display_locations_data img {
    float: left!important;
    width: 30px!important;
    height: 30px!important;
}

.wpgmp_locations_listing div.wpgmp_pagination {
    text-align: center;
    margin: 3px;
    padding: 3px;
}


.wpgmp_locations_listing div.wpgmp_pagination a {
    margin-right: 2px;
    border: 1px solid #ddd;
    text-decoration: none;
    padding: 2px 5px;
}


.wpgmp_locations_listing div.wpgmp_pagination span.current {
    margin-right: 2px;
    border: 1px solid #e0e0e0;
    font-weight: 700;
    padding: 2px 5px;
}

div.wpgmp_pagination span.disabled {
    margin-right: 2px;
    border: 1px solid #f3f3f3;
    padding: 2px 5px;
}

div.wpgmp_listing_header,
div.categories_filter,
div.wpgmp_categories,
div.wpgmp_before_listing {
    float: left;
    width: 100%;
    margin: 0px;
}

.wpgmp_location_container {
    padding: 0;
}

.wpgmp_listing_container .wpgmp_location_listing_header {
    font-weight: 400;
    margin: 10px 5px;
}

div.wpgmp_search_form input.wpgmp_search_input {
    display: block;
    padding: 0.7142857em;
    width: 100%;
   
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: 1px solid #fff; border-bottom: 1px solid #f1f1f1;
	-webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
}

div.wpgmp_search_form input.wpgmp_search_input:focus {}
div.wpgmp_search_form{
	position:relative;
}
div.wpgmp_search_form:after{
	position:absolute;
	content:'';
	height:96%;
	width:40px;
	top:1px;
	right:0.7142857em;
	background: rgba(255,255,255,0);
background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}
div.wpgmp_tabs_container div.wpgmp_tab_item span.arrow img {
    width: 100%;
    box-shadow: none;
    vertical-align: middle;
    margin:0px;
}

div.wpgmp_toggle_main_container div.wpgmp_tab_item ul.wpgmp_location_container li {
   list-style: none outside none;
    margin: 0px;
    padding: 0px .625em .625em .625em;
	display:table;
}

div.wpgmp_toggle_main_container div.wpgmp_tab_item ul.wpgmp_location_container li .wpgmp_specific_location_item {
    margin-right: 10px;
}

div.wpgmp_toggle_main_container div.wpgmp_tab_item ul.wpgmp_location_container li a {
    text-decoration: none;
    padding-left: 10px;
	display:table-cell;
	box-shadow:none;
}

div.wpgmp_direction_panel_container {
    width: 100%;
    float: left;
    border-radius: 3px;
    margin-bottom: 10px;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

div.wpgmp_direction_panel_container div.dir_start {
    font-weight: bold;
    padding: 7px;
    margin: 10px 12px;
    border-left: 4px solid #BFBFBF;
    color: #666;
}


div.wpgmp_direction_panel_container .dir_end {
    font-weight: bold;
    padding: 7px;
    margin: 10px 12px;
    border-left: 4px solid #BFBFBF;
}

div.wpgmp_direction_panel_container .dir_summary {
    margin: 5px 15px;
}

div.wpgmp_direction_panel_container table {
    border: none !important;
    margin: 0px 15px !important;
    padding: 0 !important;
    width: 96% !important;
}

div.wpgmp_direction_panel_container div.dir_end {
    margin-bottom: 20px !important;
}



div.wpgmp_direction_panel_container h2 {
    border-radius: 3px;
    margin: 10px 0;
}

div.wpgmp_direction_panel_container h2 a {
    background: url("../images/wpgmp-toggle-sprite.png") no-repeat scroll 15px 13px rgba(0, 0, 0, 0);
    display: block;
    font-weight: normal;
    margin: 0;
    padding: 6px 10px 6px 32px;
    text-decoration: none;
}

div.wpgmp_direction_panel_container h2.open a {
    background-position: 13px -25px;
}

.dir_row {
    padding-right: 10px;
}

.dir_sprite {
    width: 20px;
    height: 20px;
    display: block;
}

div.wpgmp_direction_panel_container table tr,
div.wpgmp_direction_panel_container table td {
    border: none !important;
    background: none !important;
    border-bottom: 1px solid #e8ebec;
}

div.wpgmp_before_listing h2 {
    margin: 0px;
}

div.wpgmp_listing_header div.wpgmp_search_form {
    float: left;
    width: 100%;
    margin: 0.75em 0px 0px 0px;
}

div.categories_filter select {
    margin-top: 0.85714em;
    margin-right: 0.85714em;
     border: 0px;
    box-shadow: none !important;
    display: block;
    padding:0.7142857em 2.85714em 0.7142857em 0.7142857em;
    float: left;
	border-radius:0px;
    height:inherit;
	max-width:225px;
    text-transform: capitalize;
    cursor: pointer;
	-webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
	 background:url(../images/white_select_arrow.png) no-repeat  99% 50% #212f3d;
}

div.directions-panel,
div.wpgmp-directions-panel-route-style {
    margin-top: 8px !important;
    padding: 2px 9px !important;
    border: 1px solid #e8ebec;
}

div.directions-panel table,
div.directions-panel table tr,
div.directions-panel table tr td {
    border: none !important;
    background: none !important;
    vertical-align: top !important;
}

div.wpgmp-directions-panel-route-style table,
div.wpgmp-directions-panel-route-style table tr,
div.wpgmp-directions-panel-route-style table tr td {
    border: none !important;
    background: none !important;
    vertical-align: top !important;
}

div.directions-panel table tr td img,
div.wpgmp-directions-panel-route-style table tr td img {
    box-shadow: none !important;
}

div.wpgmp_categories div.wpgmp_no_locations {
    font: italic normal 18px georgia;
    line-height: 25px;
    margin: 10px 6px;
}

div.wpgmp_infowindow {
    overflow: hidden;
}

.direction-panel .adp-text {
    padding-left: 10px;
}

.adp-directions tr td:first-child,
.adp-directions tr td:nth-child(2),
.adp-directions tr td::last-child {
    width: 10% !important;
}

.adp-directions tr td:nth-child(3) {
    width: 70% !important;
}

.directions-panel {
    height: 280px !important;
    overflow: auto;
}

.directions-panel .adp-text {
    padding-left: 10px;
}

.adp-directions {
    margin: 0px;
    padding: 0px;
    width: 100%;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

.adp-directions table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.adp-directions td {
    vertical-align: middle;
    border: 1px solid #000000;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 7px;
    font-size: .7em;
    font-family: Arial;
    font-weight: normal;
    color: #000000;
}
/**********************/


.wpgmp_toggle_main_container input[type="text"] {
    display: block;
    width: 100%;
    border: solid 1px #f1f1f1 !important;
    padding: 8px;
    margin-bottom: 0.85714em;
	line-height:1.5em;
	background:#fff;
	-webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
}

.wpgmp_toggle_main_container input[name="wpgmp_radius"] {
    width: 25%;
    float: left;
    margin-right: 0.85714em;
}

.wpgmp_toggle_main_container span.wpgmp_mcurrent_loction {
    background: url(../images/nav.png) no-repeat;
    display: inline-block;
    height: 25px;
    cursor: pointer!important;
    vertical-align: middle;
    width: 25px;
    float: right;
    margin: -43px 5px 0;
    z-index:50;
    position:relative;
}
 
.wpgmp_toggle_main_container p {
    margin:0;
}
 
.wpgmp_toggle_main_container p select {
    width: 40%;
    display: block;
    font-weight: 300 !important;
    float: left;
    margin-right:0.85714em;
    height:inherit;
    border: solid 1px #f1f1f1;
	border-radius:0px;
	line-height:1.5em;
	margin-bottom:0.85714em;
	-webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
	 padding:8px 20px 8px 8px;
	 background:url(../images/select_arrow.png) no-repeat  99% 50% #fff;
}

.wpgmp_toggle_main_container p select::-ms-expand,
div.categories_filter select::-ms-expand {
    display: none;
}

.wpgmp_toggle_main_container input[type="submit"] {
    border: 0px;
    padding: 0.642857em 1.142857em;
     
}

.wpgmp_toggle_main_container .choose_amenities {
    clear: both;
    padding: 0px;
    text-transform: uppercase;
}

.wpgmp_toggle_main_container .choose_amenities label {
    display: block;
}


.wpgmp_toggle_main_container .amenity_type {
    margin-right: 0.75em;
    color: #fff;
    padding: 0.4em 0.6em;
    margin-bottom: 0.75em;
    display: inline-table;
     
	vertical-align: middle;
}
.wpgmp_toggle_main_container .amenity_type label{
	 font-size: .75em;
}
.wpgmp_toggle_main_container .choose_amenities input[type='checkbox'] {
    vertical-align: middle;
	    width: 1.0714em;
    height: 1.0714em;
    margin-right: 0.4285em;
}

.wpgmp_listing_list .wpgmp_locations .wpgmp_location_title {
    display: inline-block;
    margin-bottom: 10px;
}

div.wpgmp_listing_container {
    float: left;
    width: 100%;
    margin: 10px 0 0;
}

.wpgmp_pagination {
    padding: 20px 0px;
    margin-bottom: 20px;
}



.wpgmp_pagination span,
.wpgmp_pagination a {
    display: inline-block;
    margin-right: 4px;
    text-decoration: none;
    padding: 0px 10px;
    border: 0px;
}

.wpgmp_locations img {
    float: left;
    margin-right: 10px;
    width: 200px !important;
    margin: 0px 10px 0px 0px !important;
	border: 1px solid #ddd;
    padding: 5px;
}

.wpgmp_specific_category_item {
    vertical-align: middle;
}

.gm-style-iw .wpgmp_map img {
max-width: 100% !important;
}

/** Infowindow Design **/

.wpgmp_infowindow .fc-content-holder {
    margin-top: 10px;
}
.wpgmp_infowindow .fc-content-holder img{
    width: 100px;
    border: 1px solid #ddd !important;
    padding: 5px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.wpgmp_infowindow .fc-item-title {
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #212f3d;
    font-weight: 600;
    font-size: 18px;
}

.wpgmp_infowindow .fc-badge.info{
    font-size: 12px;
    padding: 2px 8px;
}

.gm-style-iw .wpgmp_infowindow .fc-main {
    line-height: 22px !important;
}

.wpgmp_infowindow .wpgmp-infowindow-fields span {
    display: block;
    margin: 0px;
    padding: 0px;
}

.wpgmp_location_title a.place_title {
    text-decoration: none;
    border-bottom: 0px;
}

.fc-badge {
    padding: 5px 10px;
    border-radius: 0px;
}

[data-input="map-search-control"] {
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 50% !important;
}
[data-input="map-search-control"] {
   margin-top: 10px !important;
    margin-bottom: 10px !important;
    border: 1px solid transparent !important;
    border-radius: 2px 0 0 2px !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
}
[data-input="map-search-control"]:focus {
        border-color: #4d90fe;
}
.wpgmp_iw_content{
 
	padding:10px 10px 10px !important;
}
.wpgmp_iw_head_content{
	padding-left:10px !important;
}

.fc-item-top-space {
    margin-top: 10px;
}

.fc-item-top-space_5 {
    margin-top: 5px;
}

.fc-item-top-space_20 {
    margin-top: 20px;
}

.fc-item-top-space_30 {
    margin-top: 30px;
}

.fc-item-bottom-space {
    margin-bottom: 10px;
}

.fc-item-bottom-space_20 {
    margin-bottom: 20px;
}

.fc-item-bottom-space_30 {
    margin-bottom: 30px;
}

.fc-item-padding-content {
    padding: 0 10px;
    box-sizing: border-box;
}
.fc-item-padding-content_15 {
    padding: 0 15px;
    box-sizing: border-box;
}


.fc-item-padding-content_20 {
    padding: 0 20px;
    box-sizing: border-box;
}

.fc-item-padding-content_30 {
    padding: 0 30px;
    box-sizing: border-box;
}

.fc-item-padding-content_40 {
    padding: 0px 40px;
}

.fc-item-no-padding {
    padding: 0px;
}
.fc-itemcontent-padding{
	padding:10px;
	float:left; width:100%;
}
.fc-btn {
    padding: 6px 18px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin: 5px 0;
    transition: all 0.5s;
    text-align: center;
}

.fc-btn-small {
    padding: 2px 8px;
}

.wpgmp_map_container img{
	border:none;
}

.infowindow-close{
    background:url(../images/cross.png) no-repeat;
    position:absolute;
    right:0px;
    top:2px;
    cursor:pointer;
    height:20px;
    width:20px;
    z-index:100;
}
.wpgmp-control-outer {
    padding: 5px;
    text-align: center;
}
.wpgmp_listing_grid .fc-component-thumb{
	width:100% !important;
}
.wpgmp_listing_grid .fc-component-thumb img{
	margin-bottom:20px;
}
.wpgmp_listing_grid .fc-component-text{
	width:100% !important;
}
.wpgmp_infowindow  .fc-item-box{
	min-width:inherit !important;
}


.wpgmp_locations_foot{
	float:left;
	width:100%;
	margin:10px 0;
}
.wpgmp_locations_foot{
	line-height:1.6em;
}
.wpgmp_locations_foot strong{
	font-weight:600;
}
@media only screen and (min-width : 0px) and (max-width : 319px) {

    /* Styles */
    .wpgmp_tabs_container *, .wpgmp_listing_container *, .wpgmp_pagination * {
        font-size: 10px;
    }

    .wpgmp_listing_container .categories_filter select {
        width: 100%;
        margin-bottom: 10px;
        padding: 4px;
        height: 30px;
        font-size: 10px;
    }

    .wpgmp_map_container .gm-style-iw {
        max-width: 80% !important;
    }

}

@media only screen and (min-width : 320px) and (max-width : 480px) {

    /* Styles */
    .wpgmp_listing_container .categories_filter select {
        width: 100%;
        margin-bottom: 10px;
        padding: 4px;
        height: 30px;
        font-size: 10px;
    }

    .wpgmp_tabs_container .wpgmp_tabs li a {
        padding: 10px 5px;
    }

   .wpgmp_map_container .gm-style-iw {
        max-width: 80% !important;
    }

}
@media only screen and (min-width : 481px) and (max-width : 767px) {


 .wpgmp_listing_container .categories_filter select {
        width: 48%;
        margin-bottom: 10px;
        padding: 4px;
        height: 30px;
        font-size: 10px;
    }

    .wpgmp_map_container .gm-style-iw {
        max-width: 80% !important;
    }
	.fc-infowindow-default .fc-item-featured img {
		width:100%;
		padding:0px !important;
		margin:10px 0px !important;
	}

}
@media only screen and (min-width : 769px) and (max-width : 1024px) {
    .wpgmp_tabs_container  {
        width: 30%;
        max-width: 30%;
    }
         /* Styles */
    
    .wpgmp_map_container .gm-style-iw {
        max-width: 300px !important;
    }
    

    .wpgmp_tabs_container *, .wpgmp_listing_container *, .wpgmp_pagination * {
        font-size: 14px;
    }

    .wpgmp_listing_container .categories_filter select {
        margin-bottom: 10px;
        padding: 0px;
        height: 30px;
    }

     .wpgmp_pagination {
        padding: 0px;
    }

    .wpgmp_listing_container .categories_filter select {
        width: 48%;
        margin-bottom: 10px;
        padding: 4px;
        height: 30px;
        font-size: 10px;
    }

    }
@media only screen and (min-width : 1024px) and (max-width : 1824px) {
.wpgmp_tabs_container  {
        width: 30%;
        max-width: 30%;
    }
}
 
    /* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */

    .wpgmp_tabs_container  {
        width: 30%;
        max-width: 30%;
    }

    }    

@media only screen and (max-width : 768px) {

     .wpgmp_toggle_main_container span.wpgmp_mcurrent_loction
    {
        margin-top: -39px;
    }

    
    .wpgmp_infowindow .wpgmp_iw_content .fc-badge.info {
        display: block;
        margin-top: 10px;
    }
    .wpgmp_tabs_container *, .wpgmp_listing_container *, .wpgmp_pagination * {
        font-size: 14px;
    }
    .wpgmp_pagination {
        padding: 0px;
    }
    div.wpgmp_tabs_container div.wpgmp_tab_item span.arrow img {
        width: 24px;
    }

    .wpgmp_map_container {
        box-shadow: none;
    }
    
     
    .wpgmp_tabs_container {
        position: relative;
        top: 0;
        left:0;
        box-shadow: none;
        -ms-box-shadow: none;
        margin-top: 10px;
    }

    .wpgmp_toggle_container {display: none;}
	.fc-feature-img img{
		width:100%;
		height:auto;
	}
	.wpgmp_toggle_main_container p select{
		width:48.5%;
	}
	.wpgmp_toggle_main_container p select#travel_unit{
		margin-right:0px;
	}
	.fc-hide-mobile  {
        display: none;
    }

}
 @media(max-width:767px){
.wpgmp_toggle_main_container p select{
		width:47%;
	}
	.fc-hide-mobile, .span_grid, .span_list {
        display: none;
    }
 }
@media(min-width:768px) and (max-width:992px){
	 .categories_filter span.span_list img, .categories_filter span.span_grid img, .categories_filter span.span_print img {    
		padding: 3px;
		width: 18px;
	}
}
@media(max-width:650px){
	.wpgmp_toggle_main_container p select,
	div.categories_filter select {
			width:100%;
			 
			border-radius:0px;
			max-width:100%;
	}
	.wpgmp_toggle_main_container input[name="wpgmp_radius"]{
		width:100%;
	}
	 
	 
}
.fc-badge:empty
{
    display:none;
}

 @media(max-width:960px){
	 .wpgmp_listing_grid .fc-component-6{
		-webkit-column-count: 2;  
		-moz-column-count: 2;  
		column-count: 2;
	}
  
}
@media(max-width:678px){
	.wpgmp_listing_grid .fc-component-6{
		-webkit-column-count: 1;  
		-moz-column-count: 1;  
		column-count: 1;
	} 
.wpgmp_listing_grid .wpgmp_locations{width: 100%; margin-left:0px !important; margin-right:0px !important;} }
.fc-item-title {
    font-size: 1.5em;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.gm-style-iw {
    line-height: 22px !important;
}
.fc-badge {
    border-radius: 2px;
    color: #a5a3a3;
    font-size: 14px;
    padding: 0 10px;
}
.fc-badge.info {
    background: #f1f1f1 none repeat scroll 0 0;
    border: 1px solid #f1f1f1;
 display: inline-block;
}
.fc-item-featured_image {
    /*width: 100px;
*/}
.fc-infowindow-default .fc-item-featured img,
.fc-item-featured_image img {
    float: left;
    margin-right: 10px;
    margin-top: 9px;
 border: 1px solid #ddd;
    height: auto;
    max-width: 100%;
    padding: 5px;
}
.fc-infowindow-default .fc-item-featured img {
    float: left;
    width: 200px !important;
    margin-right: 10px;
}
.fc-btn {
    border: medium none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    margin: 5px 0;
    padding: 6px 18px;
    text-align: center;
    transition: all 0.5s ease 0s;
}
.fc-btn-red {
    background: #c12e2a none repeat scroll 0 0;
    border: 1px solid #a91511;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #fff !important;
    text-decoration: none !important;
}
.fc-btn-green {
    background: #419641;
    border: 1px solid #1d741d;
	 box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
	 color: #fff !important;
    text-decoration: none !important;
}
.fc-btn-small {
    font-size: 12px;
    padding: 2px 8px;
}
.fc-item-no-padding {
    padding: 0px;
}
.fc-itemcontent-padding{
	padding:10px;
	float:left; width:100%;
}

.fc-item-box {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    padding: 10px !important;
    border: 1px solid #F1F1F1;
    box-sizing: border-box !important;
    width: 100%;
    position: relative;
    height: 100%;
    background: #fff;
}
.wpgmp_infowindow.fc-infowindow-default .fc-item-box,
.wpgmp_infowindow.fc-item-default .fc-item-box{
	border:none;
	padding:0px !important;
}
.wpgmp_listing_list .fc-item-box {
    margin: 10px 0 !important;
}
.fc-component-content ul li.fc-component-thumb .fc-feature-img{
	width:250px;
}
.wpgmp_infowindow  .default-feature-img{
	display:none;
}
.wpgmp_listing_grid  .fc-component-content ul li.fc-component-thumb .fc-feature-img{
		width:100%;
	}
	.wpgmp_listing_grid .fc-component-content ul{
		    width: 100% !important;
          display: block !important;
	}
.wpgmp_listing_grid .fc-component-content ul li{
		display:inherit !important;
		width:100% !important;
		float:left;
	}
.wpgmp_listing_container .fc-component-content ul{
	margin:0;
	padding:0;
	display:table;
	width:100%;
}
.wpgmp_listing_container .fc-component-content ul li{
	list-style:none;
	display:table-cell;
	vertical-align:top;
}
.wpgmp_listing_container .fc-component-content ul li.fc-component-text{
	width:100%;
}
.fc-component-content .fc-featured-hoverdiv{
	position:relative;
	float:left;
	width:100%;
}
.fc-component-content .fc-featured-hoverinner{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	  
	 transition: all 0.5s ease;
	 opacity:0;
}
.fc-component-content .fc-featured-hoverdiv:hover .fc-featured-hoverinner{
 	opacity:1;
}
 .fc-featured-hoverinner a{
	text-decoration:none;
	box-shadow:none;
}
.fc-featured-hoverinner .facebook{
	background:url(../images/facebook.png) no-repeat;
	width:40px;
	height:40px;
	display:inline-block;
	margin:0 5px;
}
.fc-featured-hoverinner .twitter{
	background:url(../images/twitter.png) no-repeat;
	width:40px;
	height:40px;
	display:inline-block;
	margin:0 5px;
}
.fc-featured-hoverinner .map{
	background:url(../images/map.png) no-repeat;
	width:50px;
	height:50px;
	display:inline-block;
	margin:0 5px;
}
.fc_preview .fc-component-content ul li{
	float:left;
}
.fc-item-kairav.fc-wait .fc-item-meta,
.fc_preview .fc-item-kairav .fc-item-meta{
	background:#f1f1f1;
	padding:3px 10px;
	color:#000;
	margin:0px;
}
.fc-right {
    float: right;
}
.fc-left {
    float: left;
}
.wpgmp_listing_list .fc-wait .fc-item-padding-content_15{
	padding-right:0px;
}
.fc-location-marker{
	float:left;
	width:100%;
	background-repeat:no-repeat;
	padding-left:23px;
	margin:10px 0;
	position: relative;
}
.fc-location-marker:before {
    position: absolute;
    background: url(../images/location-icon.png) no-repeat top left;
    content: '';
    width: 15px;
    height: 24px;
    left: 0px;
    top: 0px;
}
.wpgmp_listing_grid .fc-hide-grid{
	display:none;
}
.wpgmp_listing_list .fc-show-grid{
	display:none;
}
@media(max-width:767px) {
	.fc-component-content ul li.fc-component-thumb .fc-feature-img {
		width:100% !important;
	}
	.fc-item-default.fc-wait .wpgmp_locations .wpgmp_locations_content img{
		width:100% !important;
		margin-bottom:10px !important;
	}
	.fc-component-content ul li{
		display:inherit !important;
		width:100%;
	}
	.wpgmp_listing_list .fc-wait .fc-item-padding-content_15{
		padding:0 15px;
	}
	.wpgmp_listing_grid .fc-hide-grid,
	.wpgmp_listing_list .fc-hide-grid{
		display:none;
	}
	.wpgmp_listing_grid .fc-show-grid,
	.wpgmp_listing_list .fc-show-grid{
		display:block;
	}
}

.fc-infowindow3{
	position:relative;
	width:100%;
	height:100%;
}
.wpgmp_infowindow.fc-infowindow-fano .fc-item-title,
.wpgmp_infowindow.fc-item-fano .fc-item-title,
.wpgmp_infowindow.fc-post-fano .fc-item-title{
	position:absolute;
	left:10px;
	top:10px;
}
.wpgmp_infowindow.fc-infowindow-fano .fc-item-meta,
.wpgmp_infowindow.fc-item-fano .fc-item-meta,
.wpgmp_infowindow.fc-post-fano .fc-item-meta{
	position: absolute;
    right: 8px;
    bottom: 1px;
    background: #fff;
    padding: 5px 10px;
    text-align: center;
}
.fc-infowindow-content,
.fc-item-content{
	float:left;
	width:100%;
	box-sizing:border-box;
}
.fc-infowindow-ojas .fc-item-title,
.fc-post-ojas .fc-item-title{
	background:#f44336;
	color:#fff;
	padding:8px 30px 8px 10px;
}
.fc-post-ojas .fc-item-title a{
 	color:#fff;
}
.fc-space-bottom{
	margin-bottom:20px;
}
.wpgmp_infowindow.fc-item-aare,
.wpgmp_infowindow.fc-item-acerra,
.wpgmp_infowindow.fc-item-fano,
.wpgmp_infowindow.fc-item-kairav,
.wpgmp_infowindow.fc-item-kriday,
.wpgmp_infowindow.fc-item-ojas,
.wpgmp_infowindow.fc-item-parma,
.wpgmp_infowindow.fc-item-udine,
.wpgmp_infowindow.fc-infowindow-aare,
.wpgmp_infowindow.fc-infowindow-acerra,
.wpgmp_infowindow.fc-infowindow-fano,
.wpgmp_infowindow.fc-infowindow-kairav,
.wpgmp_infowindow.fc-infowindow-kriday,
.wpgmp_infowindow.fc-infowindow-ojas,
.wpgmp_infowindow.fc-infowindow-parma,
.wpgmp_infowindow.fc-infowindow-udine{
	width:300px;
	background:#fff;
	position:relative;	 
}
@media(max-width:600px){
	.wpgmp_infobox .wpgmp_infowindow{
		width:90% !important;
		position:relative;
 	}
}
.infowindow-close{
	    right: 6px;
    top: 8px;
}
.fc-item-padding-content_20 {
    padding: 0 20px;
    box-sizing: border-box;
}
.wpgmp_infowindow_post .fc-item-title a{
	text-decoration:none !important;
	box-shadow:none !important;
}
.wpgmp_infowindow_post .wp-post-image{
	max-width:100% !important;
	height:auto;
	box-sizing:border-box;
}
.wpgmp_infowindow a{
	box-shadow:none;
}

/*
=================================================== 
Accordion layout
=================================================== 
*/

.fc-accordion {
    margin: 0 0 15px 0;
}

.fc-accordion dt {
 	float:left;
	width:100%;
}

.fc-accordion dt a {
    background-color: #012139;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    display: block;
    text-align: left;
    cursor: pointer;
    font-weight: 600;
    color: #80c8fe;
    text-decoration: none;
    padding: 11px 15px;
	border-bottom:1px solid #6b94b3;
	outline:none;
}
.fc-accordion dt a:active,
.fc-accordion dt a:visited,
.fc-accordion dt a:focus {
	outline:none;
	box-shadow:none;
}
.fc-accordion dt i {
    float: right;
    margin-top: 2px;
}

.fc-accordion dt a:hover,
.fc-accordion dt.active a {
    text-decoration: none;
    background: #012139;
    color: #80c8fe;
}
.fc-accordion dt a::after {
    font-family: 'FontAwesome';
    content: "\f078";
    position: absolute;
    right: 10px;
}
.fc-accordion dt.active a::after {
	font-family: 'FontAwesome';
	content: "\f077";
	position:absolute;
	right:10px;
}
 
.fc-accordion dd {
    background-color:#fff;
    padding: 15px;
    display: none;
   border-bottom:1px solid #6b94b3;
	max-height:0;
	transition: max-height 0.2s ease-out;
	float:left;
	width:100%;
	position:relative;
	margin-bottom:0px;
	box-sizing:border-box;
}

.fc-accordion dd.active {
    display: block;
	max-height:inherit;
}
.fc-infowindow-parma .fc-accordion,
.wpgmp_infowindow_post.fc-item-parma .fc-accordion{
	float:left;
	width:100%;
	margin:0px 0 15px;
}
.fc-infowindow-parma .fc-accordion dl,
.wpgmp_infowindow_post.fc-item-parma .fc-accordion dl{
	margin:0px;	 
}
.fc-infowindow-parma .fc-accordion dt a,
.wpgmp_infowindow_post.fc-item-parma .fc-accordion dt a {
    background-color: #e0e0e0;     
    color: #000;
     padding: 6px 15px;
    border-bottom: 1px solid #d8d7d7;
	box-sizing:border-box;
 }
.fc-infowindow-parma .fc-accordion dt a:hover,.fc-infowindow-parma .fc-accordion dt.active a,
.wpgmp_infowindow_post.fc-item-parma .fc-accordion dt a:hover,.wpgmp_infowindow_post.fc-item-parma .fc-accordion dt.active a {
    text-decoration: none;
    background: #e0e0e0;
    color: #000;
	width:100%;
	float:left;
	display:block;
}
.fc-infowindow-parma .fc-accordion dd,
.wpgmp_infowindow_post.fc-item-parma .fc-accordion dd {
    background-color: #fff;
	border-bottom:1px solid #d8d7d7;
	margin:0px;
}
.fc-item-fano  div.fc-item-meta{
     background:#FBFBFB;
    padding: 5px 10px;
    text-align: center;
	white-space:nowrap;
}
.fc-item-fano div.fc-feature-img + div.fc-item-meta,
.fc-item-fano img + div.fc-item-meta{
	position: absolute;
    left:3px;
    top: 3px;
}
.fc-item-fano .read-more{
	border: 1px solid #444444;
    font-size: 14px;
    padding: 0;
    display: inline-block;
    margin: 16px 0 0;
    box-shadow: none;
    background: url(../images/arrow.png) no-repeat center 7px;
    width: 67px;
    height: 33px;
    text-indent: -99999px;
}
.fc-item-fano .read-more:hover{
	background: url(../images/arrow.png) no-repeat center -43px #444444;
	color:#fff;
}
.fc-item-aare .read-more {
    border: 1px solid #444444;
    font-size: 12px;
    padding: 5px 10px;
    display: inline-block;
    margin: 15px 0 0;
    box-shadow: none;
}
.fc-item-aare .read-more:hover{
	background:#444444;
	color:#fff;
}
.fc-item-padding-content_15 {
    padding: 0 15px;
    box-sizing: border-box;
}
@media (max-width: 600px){
	.infowindow-close {
		right: 4px;
	 }
	 .wpgmp_categories .fc-feature-img{
		 width:100%;
		 float:left;
		 margin:0px 0 0px;
	}
	.wpgmp_categories .fc-feature-img img{
		width: 100% !important;
		height: auto;
		margin: 0px !important;
		padding: 0px !important;
	}
}
.wpgmp_iw_content .fc-main{
	background:none;
}
.fc-p-text {
    font-size: 14px;
    margin-bottom: 30px;
}

.wpgmp_filter_wrappers{
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.wpgmp_before_listing{
	line-height:1em;
}
.infoBoxTail:after {
    content: "";
    position: absolute;
    /**bottom: 0px;**/
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
}
.infoBox{
	animation: fadeIn 0.9s;
}
.fc-6 {
    width: 50%;
	float:left;
	position:relative;
	    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}
@media (max-width: 992px){
.fc-6{
    width: 100%;
}

}

.wpgmp_filter_wrappers {
    background: #efefef;
    padding: 20px;
    border-radius: 2px;
}
@media (max-width: 370px){
.wpgmp_infobox .wpgmp_infowindow {
    width: 65% !important;
}
}

.wpgmp_map_parent{
	float:left;
	width:100%;
	position:relative;
	margin-bottom:10px;
}
#wpgmp_tab_3 .wpgmp_cat_title span{
	margin-top:7px !important;
}
.adp-placemark td:nth-child(2){
	padding-left:5px;
}
.categories_filter span.span_list img,
.categories_filter span.span_print img{ 
	display:block;
}

.amenity_type{
	padding-left:30px;
	position:relative;
}
.amenity_type input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
    position: relative;
}
.amenity_type label {
    vertical-align: middle;
    position: relative;
     transition: all 0.4s ease 0s;
	 display:inline-block !important;
	 font-weight:normal;
	 line-height:1.5em;
}
.amenity_type label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 1.25em;
    height: 1.25em;
    left: 0;
    top: 1px;
    margin-left: -1.75em;
    border: 1px solid #fff;
    border-radius: 0px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.amenity_type label::after {
    display: inline-block;
    position: absolute;
    width: 1.25em;
    height: 1.25em;
    left: 1px;
    top: -1px;
    margin-left: -2.1em;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 0.916667em;
    color: #000;
}
.amenity_type input[type="checkbox"]:checked + label::before {
    outline: none;
    border: 1px solid #fff;
    outline: 0px auto -webkit-focus-ring-color;
    background: #fff;
}
.amenity_type input[type="checkbox"]:checked + label::after {
    font-family: "fontawesome";
    content: "\f00c";
}
.wpgmp_infowindow .fc-item-box img{
	display:block;
}

.fc-featured-hoverdiv div.fc-featured-hoverinner:last-child{
	display:none;
}