/* Galleria - LCweb Theme 2013-04-17 - for MediaGrid | (c) Montanari Luca */

/****** global styles ******/
.mg_galleria_slider_wrap .galleria-mg-info-link,
.mg_galleria_slider_wrap .galleria-mg-play,
.mg_galleria_slider_wrap .galleria-mg-toggle-thumb,
.mg_galleria_slider_wrap .galleria-mg-lightbox,
.mg_galleria_slider_wrap .galleria-image-nav-left,
.mg_galleria_slider_wrap .galleria-image-nav-right,
.mg_galleria_slider_wrap .galleria-thumb-nav-left,
.mg_galleria_slider_wrap .galleria-thumb-nav-right,
.mg_inl_slider_wrap .galleria-image-nav > div {
	font-family: 'FontAwesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;		
}

.mg_galleria_slider_wrap {
	width: 100%;
	margin: auto;
}
#galleria-loader{
	height: 1px !important;
}
.mg_galleria_slider_wrap .galleria-container {
    position: relative;
	min-width: 100%;
	max-width: 100%;
}
.mg_galleria_slider_wrap .galleria-container img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.mg_galleria_slider_wrap .galleria-stage {
    position: absolute !important;
    top: 4px;
	bottom: 4px;
    left: 0px;
    right: 0px;
    overflow:hidden;
	z-index: 4;
	border-width: 0px;
	border-style: solid;
}
.mg_galleria_slider_wrap .galleria-thumbnails-container {
    height: 50px;
    position: absolute;
    left: 10px;
    right: 10px;
    z-index: 2;
}
.mg_galleria_slider_wrap .galleria-carousel .galleria-thumbnails-list {
    margin-left: 30px;
    margin-right: 30px;
}
.mg_galleria_slider_wrap .galleria-thumbnails .galleria-image {
    height: 45px;
    width: 60px;
    margin: 0 7px 0 0;
    float: left;
    cursor: pointer;
	border-radius: 1px;
	box-shadow: 0px 0 2px rgba(0,0,0,0.25)
}
.mg_galleria_slider_wrap .galleria-loader {
    background: none;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 50%;
	margin-top: -10px;
	margin-right: -10px;
    z-index: 2;
    display: none;
}
.mg_galleria_slider_wrap .galleria-info {
    width: 50%;
    top: 15px;
    left: 10px;
    z-index: 7;
    position: absolute;
}
.mg_galleria_slider_wrap .galleria-info .galleria-info-text { /* hide default text - new one will be appended */
	display: none !important;
	visibility: hidden !important;
}

.mg_galleria_slider_wrap .galleria-stage .galleria-info-text {
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 999;
    position: absolute;
	width: auto;
	bottom: 10px;
    top: auto;
	right: 10px;
	left: 10px;
}

.mg_galleria_slider_wrap .galleria-info-title {
    display: block !important;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
	border-radius: 2px;
}
.mg_galleria_slider_wrap .galleria-info-title span {
    font-weight: normal;
	font-style: italic;
	font-size: 11px;
	padding-left: 3px;
}
.mg_galleria_slider_wrap .galleria-info-description {
    font-size: 14px;
	line-height: normal;
    margin: 0;
	padding: 12px 18px;
}
.mg_galleria_slider_wrap .has_no_data .galleria-mg-info-link,
.mg_galleria_slider_wrap .has_no_data .galleria-info-text {
	display: none !important;
}

/* main navigation */
.mg_galleria_slider_wrap .galleria-image-nav {
    position: absolute;
    top: 50%;
    margin-top: -28px;
    width: 100%;
    height: 0;
    left: 0;
	z-index: 100;
}
.mg_galleria_slider_wrap .galleria-image-nav-left,
.mg_galleria_slider_wrap .galleria-image-nav-right {
    opacity: 0.9;
    filter: alpha(opacity=90);
    cursor: pointer;
    width: 28px;
    height: 56px;
    position: absolute;
    left: 10px;
    z-index: 2;
	font-size: 56px;
	text-align: center;
	text-shadow: 0 0 6px rgba(0,0,0,0.5);
	color: #fff;
	
	-webkit-transition: opacity .3s ease-out; 
	-ms-transition: 	opacity .3s ease-out;
	transition: 		opacity .3s ease-out; 
}
.mg_galleria_slider_wrap .galleria-image-nav-left:before {
	content: "\f104";
	position: relative;
	top: 3px;
	left: 0px;
}
.mg_galleria_slider_wrap .galleria-image-nav-right {
    left: auto;
    right: 10px;
    z-index: 2;
}
.mg_galleria_slider_wrap .galleria-image-nav-right:before { 
	content: "\f105";
	position: relative;
	top: 3px;
	right: 0px;
}

.mg_galleria_slider_wrap .notouch .galleria-image-nav-left:hover,
.mg_galleria_slider_wrap .notouch .galleria-image-nav-right:hover,
.mg_galleria_slider_wrap .touch .galleria-image-nav-left:active,
.mg_galleria_slider_wrap .touch .galleria-image-nav-right:active {
    opacity: 1;
    filter: alpha(opacity=100);
}

/* thumbnails */
.mg_galleria_slider_wrap .galleria-thumbnails {
	margin: auto;	
	padding: 2px;
}
.mg_galleria_slider_wrap .galleria-thumbnails-container {
    bottom: 10px;
}
.mg_galleria_slider_wrap .galleria-thumb-nav-left,
.mg_galleria_slider_wrap .galleria-thumb-nav-right {
    cursor: pointer;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 23px;
    z-index: 3;
    opacity: 0.45;
    filter: alpha(opacity=45);
	font-size: 20px;
	
	-webkit-transition: opacity .3s ease-out; 
	-ms-transition: 	opacity .3s ease-out;
	transition: 		opacity .3s ease-out; 
}
.mg_galleria_slider_wrap .galleria-thumb-nav-left {
    border: none;
    left: 0;
    right: auto;
}
.mg_galleria_slider_wrap .galleria-thumb-nav-left:before {
	content: "\f137";
	position: relative;
	top: 12px;
	left: 0px;
}
.mg_galleria_slider_wrap .galleria-thumb-nav-right {
    border: none;
    right: 0;
    left: auto;
}
.mg_galleria_slider_wrap .galleria-thumb-nav-right:before {
	content: "\f138";
	position: relative;	
	top: 12px;
	right: -3px;
}
.mg_galleria_slider_wrap .galleria-thumbnails-container .disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: default;
}
.mg_galleria_slider_wrap .notouch .galleria-thumb-nav-left:hover,
.mg_galleria_slider_wrap .notouch .galleria-thumb-nav-right:hover,
.mg_galleria_slider_wrap .touch .galleria-thumb-nav-left:active,
.mg_galleria_slider_wrap .touch .galleria-thumb-nav-right:active {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.mg_galleria_slider_wrap .notouch .galleria-thumbnails-container .disabled:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.mg_galleria_slider_wrap .galleria-carousel .galleria-thumb-nav-left,
.mg_galleria_slider_wrap .galleria-carousel .galleria-thumb-nav-right {
    display: block;
}

.mg_galleria_slider_wrap .galleria-mg-info-link,
.mg_galleria_slider_wrap .galleria-mg-play,
.mg_galleria_slider_wrap .galleria-mg-toggle-thumb {
	float: left;
	margin-right: 7px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.mg_galleria_slider_wrap .galleria-mg-info-link,
.mg_galleria_slider_wrap .galleria-mg-play,
.mg_galleria_slider_wrap .galleria-mg-toggle-thumb,
.mg_galleria_slider_wrap .galleria-counter {
	opacity: 0.85;
	box-shadow: 0 0 1px rgba(0,0,0, 0.1);

	-webkit-transition: opacity .3s ease-out; 
	-ms-transition: 	opacity .3s ease-out;
	transition: 		opacity .3s ease-out; 	
}
.mg_galleria_slider_wrap .galleria-mg-info-link:hover,
.mg_galleria_slider_wrap .galleria-mg-play:hover,
.mg_galleria_slider_wrap .galleria-mg-toggle-thumb:hover,
.mg_galleria_slider_wrap .galleria-counter:hover {	
	opacity: 1;
    filter: alpha(opacity=100);
}
.mg_galleria_slider_wrap .galleria-mg-toggle-thumb:before {
	content: "\f00a";
	position: relative;
	top: 4px;
	font-size: 14px;
}
.mg_galleria_slider_wrap .galleria-mg-play:before {
	content: "\f04b";
	position: relative;
	top: 4px;
	font-size: 13px;
	left: 1px;
}
.mg_galleria_slider_wrap .galleria-mg-pause:before {
	content: "\f04c";
	left: 0px;
}

.mg_galleria_slider_wrap .notouch .galleria-mg-info-link:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.mg_galleria_slider_wrap .touch .galleria-mg-info-link:active {
    opacity: 1;
    filter: alpha(opacity=100);
}
.mg_galleria_slider_wrap .galleria-container,
.mg_galleria_slider_wrap > a {opacity: 0;}


.mg_galleria_slider_wrap .galleria-counter {
	position: absolute;
	left: auto !important;
	right: 10px;
	top: 11px;
	z-index: 10;
	height: 22px;
	font-size: 14px;
	font-family: "Source Sans Pro", "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height: 19px;
	padding: 0 6px;
	border-radius: 1px;	
	font-weight: bold;
}


/* display thumbs by default */
.mg_galleria_slider_wrap.mg_galleria_slider_show_thumbs {
	padding-bottom: 62px;	
}
.mg_galleria_slider_show_thumbs .galleria-thumbnails-container {
    bottom: -60px;
}




/****** DARK MODE ******/
.mg_galleria_slider_dark .galleria-info-title {
	background: #444;
	box-shadow: 0 0 0 1px #444 inset;
}
.mg_galleria_slider_dark .galleria-info-description {
	color: #fefefe;
}
.mg_galleria_slider_dark .galleria-thumb-nav-left,
.mg_galleria_slider_dark .galleria-thumb-nav-right {
	color: #444;
}
.mg_galleria_slider_dark .galleria-mg-play,
.mg_galleria_slider_dark .galleria-mg-toggle-thumb,
.mg_galleria_slider_wrap .galleria-counter {
	background: #444;
	background: rgba(68,68,68,0.85);
    color: #fff;
    text-align: center;
    border-radius: 1px;
	font-size: 14px;
}



/****** LIGHT MODE ******/
.mg_galleria_slider_light .galleria-info-title {
    background: #fff;
	background: rgba(255, 255, 255, 0.85);
	box-shadow: 0 0 0 1px #fff inset;
}
.mg_galleria_slider_light .galleria-info-description {
	color: #262626;
}
.mg_galleria_slider_light .galleria-thumb-nav-left,
.mg_galleria_slider_light .galleria-thumb-nav-right {
	color: #666;
}
.mg_galleria_slider_light .galleria-mg-play,
.mg_galleria_slider_light .galleria-mg-toggle-thumb,
.mg_galleria_slider_wrap .galleria-counter {
	background: #fff;
    color: #666;
    text-align: center;
    border-radius: 1px;
	font-size: 14px;
}
