/* Rest API Templates */
.astra-portfolio-wrap > h3 {
    display: none;
}
.template-meta .item-title {
    font-weight: 600;
    padding: 10px 0;
    display: inline-block;
}
.astra-portfolio-wrap .site-single:hover .view-demo-wrap {
    opacity: 1;
    visibility: visible;
    background: rgba(0,0,0,0.4);
}
.astra-portfolio-wrap .view-demo-wrap {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.72);
    transition: all ease 0.3s;
}
.view-demo {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    background: #23282d;
    background: rgba(0,0,0,0.7);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.6);
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: center;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
}
.site-single .site-preview {
    position: relative;
    display: block;
}

.astra-portfolio-wrap .site-single .inner {
	display: inline-block;
	width: 100%;
    box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0.11);
}

.astra-portfolio-wrap .inner img {
	width: 100%;
	height: auto;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Filters */
.filter-links li {
    margin: 0;
    display: inline-block;
}
.filter-links li a {
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    display: inline-block;
    transition: color 0.3s ease;
    text-decoration: none;
}
.filter-links li a.active {
    color: #000;
    transition: color 0.3s ease;
}
.site-single {
    margin-bottom: 50px;
    text-align: center;
    transition: none !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#astra-portfolio-loadmore .button {
	font-size: 14px;
    padding: 8px 22px;
    transition: all linear 150ms;
}

.site-loading {
    display: none;
    position: absolute;
    left: 50%;
    top: 40%;
    text-align: center;
    color: #555;
    transform: translate(-50%, -40%);
}
.top .site-loading {
    top: 50%;
    transform: translate(-50%, -50%);
}

.site-loading h3 {
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.site-loading p {
    margin: 0;
}

.astra-portfolio-thickbox-loading .site-loading {
    display: block;
}

.astra-portfolio-thickbox-loading:before {
    content: "";
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.loadmore {
    clear: both;
	text-align: center;
}
.page-id-11742 .loadmore {
	position: absolute;
	top: 92%;
	left: 50%;
	transform: translateX(-50%);
}
.loadmore .loadmore-inner {
	display: inline-block;							
}
.loadmore-inner .button {
    padding: 8px 16px;
    border: 1px solid #525252;
    background: #525252;
    color: #fff;
    font-family: Raleway;
    font-weight: 500;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
    transition: none !important;
}
.loadmore-inner i {
    font-size: 20px;
    color: #525252;
    transition: none !important;
}
.loadmore-icon  {
	opacity: 0
}
.loadmore-inner i {
	/*display: block;*/
	-webkit-animation: cssAnimation 550ms ease infinite;
    -moz-animation: cssAnimation 550ms ease infinite;
    -o-animation: cssAnimation 550ms ease infinite;
}
#astra-portfolio-loadmore .button {
    transition: none !important;
}

@-webkit-keyframes cssAnimation {
   from { -webkit-transform: rotate(0); }
   to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes cssAnimation {
   from { -moz-transform: rotate(0); }
   to { -moz-transform: rotate(360deg); }
}
@-o-keyframes cssAnimation {
    from { -o-transform: rotate(0); }
    to { -o-transform: rotate(360deg); }
}

/**
 * Full Width
 */
#TB_window {
    width: 100% !important;
    margin: 0 !important;
    text-align: center !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}

#TB_iframeContent {
    width: 100% !important;
    height: 100% !important;
}

.desktop #TB_iframeContent-wrapper {
    position: fixed;
    right: 0;
    bottom: 80px;
    left: 0;
    top: 0;
}

/* For general iPad layouts */
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
    #TB_iframeContent-wrapper {
        position: fixed;
        right: 0;
        bottom: 50px;
        left: 0;
        top: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

.astra-portfolio-thickbox-loading #TB_iframeContent,
.astra-portfolio-thickbox-loading #TB_iframeContent-wrapper {
    display: none;
}

#TB_window #TB_ajaxWindowTitle {
    line-height: 80px;
    font-size: 1.2rem;
    display: inline-block;
    width: auto;
    padding: 0 30px;
}

#TB_window #TB_closeWindowButton {
    height: 80px;
    width: 50px;
    position: relative;
    vertical-align: top;
}

#TB_window .tb-close-icon {
    line-height: 80px;
    height: 80px;
    width: 50px;
}
.tb-close-icon:before {
    vertical-align: middle;
}

/**
 * Popup
 */
#TB_window {
    text-align: center;
}
#TB_iframeContent.tablet {
    width: 768px !important;
    height: 1024px !important;
    background: #111;
    padding: 40px 10px 70px;
    border-radius: 30px;
}
#TB_iframeContent.tablet.landscape {
    width: 1024px !important;
}
#TB_iframeContent.mobile {
    width: 360px !important;
    height: 640px !important;
    background: #111;
    padding: 40px 10px 70px;
    border-radius: 30px;
}
#TB_iframeContent.mobile.landscape {
    width: 360px !important;
}


/**
 * Responsive Buttons.
 */
.responsive-view .dashicons.active,
.responsive-view .dashicons:hover {
    background: #cccccc;
}

/**
 * NEW
 */
.astra-portfolio-filters .filter-count {
    background: #fafafa;
    height: 2.5em;
    width: 2.5em;
    font-weight: bold;
    line-height: 2.5em;
    margin-right: 2em;
    color: #888;
    text-align: center;
    box-shadow: 0px 0px 0px 1px #eaeaea;
}
.astra-portfolio-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 3em auto;
    background: #ffffff;
    box-shadow: 0 0 1px 1px #f3f3f3;
    padding: 1.4em 1em;
    flex-wrap: wrap;
}
.astra-portfolio-wrap {
    text-align: center;
    min-height: 100vh;
}
.astra-portfolio-filters .filters-wrap {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.astra-portfolio-filters .search-form {
    display: inline-block;
    margin-left: 1em;
}
.astra-portfolio-filters .search-form input {
    font-size: 12px;
}
.astra-portfolio-filters .search-form input[type="search"]::-webkit-search-cancel-button,
.astra-portfolio-filters .search-form input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: searchfield-cancel-button;
}
.filter-links {
    margin: 0;
}

.astra-portfolio-not-found,
.no-more-demos {
    font-size: 1.2em;
    padding: 4em 0 6em 0;

    /** To avoid masonry position **/
    position: relative !important;
}
.site-type.premium {
    font-size: 12px;
    background: #FFC107;
    padding: 2px 8px;
    text-transform: capitalize;
    display: inline-block;
    margin-left: 0.5em;
}
.site-type {
    display: none;
}

.astra-portfolio-list {
    padding: 0.6em 1em;
    margin-right: 1em;
    border-top: none;
    border-bottom: none;
    border-radius: 0;
}

html.processing {
    overflow: hidden;
}

.responsive-view .actions a:hover,
.responsive-view .actions a:focus {
    outline: none;
}

.responsive-view .actions a {
    color: #666;
    cursor: pointer;
    display: inline-block;
    padding: 2em 1em;
    vertical-align: middle;
}

#TB_closeAjaxWindow {
    float: right;
    padding-right: 15px;
}

/**
 * Dark Theme
 */
div#TB_window {
    background-color: #333;
    color: #fff;
}
#TB_window.tablet #TB_title,
#TB_window.mobile #TB_title {
    padding-right: 20px;
}
#TB_window #TB_title {
    border: none;
    text-align: left;
    height: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: none;
    background: #222;
    position: fixed;
}
#TB_window.tablet,
#TB_window.mobile {
    overflow-y: scroll;
}
#TB_window.tablet,
#TB_window.mobile {
    padding-bottom: 200px;
    padding-top: 100px;
}
.responsive-view .dashicons.active,
.responsive-view .dashicons:hover {
    background: transparent;
    color: #fff;
}
#TB_window #TB_closeWindowButton:focus .tb-close-icon {
    box-shadow: none;
    color: #666;
}

#TB_closeWindowButton:hover .tb-close-icon {
    color: #fff;
}
@media all and (max-width: 768px) {
    #TB_closeAjaxWindow {
        padding-right: 0;
    }
    #TB_window .tb-close-icon,
    #TB_window #TB_closeWindowButton {
        width: 80px;
    }

    .responsive-view {
        display: none;
    }    

    .astra-portfolio-filters {
        flex-direction: column;
    }

    .astra-portfolio-filters .filter-count {
        margin: 0 0 1em 0;
    }

    .astra-portfolio-filters .filters-wrap {
        display: block;
    }

    .astra-portfolio .filter-links.astra-portfolio-other-categories {
        margin: 0;
    }

    .astra-portfolio-other-categories-wrap {
        margin-bottom: 0.7em;
    }

    .search-form {
        margin-top: 1em;
    }
}

@media all and ( max-width: 768px ) {
    .astra-portfolio-filters {
        display: flex;
    }

    .astra-portfolio-filters .filter-count {
        display: inline-block;
        margin: 0 0 1em 0;
    }

    .astra-portfolio-categories-wrap {
        float: left;
        width: 100%;
        clear: both;
    }

    .filters-wrap .astra-portfolio-other-categories-wrap {
        margin-bottom: 1em;
    }

}

.hide-me {
    display: none !important;
}

.spinner.is-active {
    visibility: visible;
}

.spinner {
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
    vertical-align: middle;
    visibility: hidden;
    opacity: 0.7;
    filter: alpha(opacity=70);
    width: 20px;
    height: 20px;
    margin: 4px 10px 0;
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    padding: 2em;
}

/**
 * Preview Bar
 */
.top #TB_iframeContent-wrapper {
    bottom: 0;
    top: 80px;
}

#TB_window.top  #TB_title {
    top: 0;
}

/**
 * Popup
 */
.admin-bar .astra-portfolio-popup .mfp-iframe-holder .mfp-close {
    top: -40px !important;
}