.gravityflow-action-buttons{
    text-align:right;
}

/* The little triangle indicator */
.gravityflow-editable-field.green-triangle:not(.gfield_error) label.gfield_label {
    width:100%;
    position: relative;
}

.gravityflow-editable-field.green-triangle:not(.gfield_error) label.gfield_label::before,
.gravityflow-editable-field.green-triangle:not(.gfield_error) label.gfield_label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-color: transparent;
    border-style: solid;
}

.rtl .gravityflow-editable-field.green-triangle:not(.gfield_error) label.gfield_label::before,
.rtl .gravityflow-editable-field.green-triangle:not(.gfield_error) label.gfield_label::after {
    left: auto;
    right: 0;
}

.gravityflow-editable-field.green-triangle:not(.gfield_error) label.gfield_label::before {
    border-width: 0.4em;
    border-left-color: #ccc;
    border-top-color: #ccc;
}

.rtl .gravityflow-editable-field.green-triangle:not(.gfield_error) label.gfield_label::before {
    border-left-color: transparent;
    border-right-color: #ccc;
}

.gravityflow-editable-field.green-triangle:not(.gfield_error) label.gfield_label::after {
    border-radius: 0.1em;
    border-width: 0.4em;
    border-left-color: #0c0;
    border-top-color: #0c0;
}

.rtl .gravityflow-editable-field.green-triangle:not(.gfield_error) label.gfield_label::after {
    border-left-color: transparent;
    border-right-color: #0c0;
}

.gravityflow-editable-field.green-background:not(.gfield_error) {
    list-style-position:inside;
    border: 1px solid green;
    background: #eeffee;
    padding:10px;
}

#minor-publishing{
    padding:10px;
}

#gravityflow_save_progress_button {
    margin-right:10px;
}

.rtl #gravityflow_save_progress_button {
    margin-left:10px;
}

/* Notes */

.gravityflow-note-avatar{
    float: left;
    width: 84px;
    text-align:center;
    padding-right:10px;
}

.rtl .gravityflow-note-avatar{
    float: right;
    padding-left: 10px;
    padding-right: 0;
}


.gravityflow-note-body-wrap{
    border: 1px solid #E0E0E0;
    margin-left: 100px;
    padding: 10px;
    display:block;
}

.rtl .gravityflow-note-body-wrap{
    margin-right: 100px;
    margin-left: 0;
}

.gravityflow-note-body{
    line-height: 1.3em;
    overflow: auto;
    width: 100%;
    word-wrap: break-word;
    display:block;
}

.gravityflow-note-header:before,
.gravityflow-note-header:after {
    content: "";
    display: table;
    line-height: 0;
}

.gravityflow-note-header:after{
    clear: both;
}

.gravityflow-note-title{
    float: left;
    margin-bottom:0.5em;
    font-size:1.2em;
    color:#939FA5;
}

.rtl .gravityflow-note-title{
    float: right;
}

.gravityflow-note-title a {
    font-weight:bold;
    text-decoration: none;
}

.gravityflow-note-body{
    overflow-y: hidden;
    display: block;
}

.gravityflow-note-meta{
    color: #939FA5;
    float: right;
    font-size: 11px;
    text-align: right;
    display: block;
}

.rtl .gravityflow-note-meta{
    float: left;
    text-align: left;
}

.gravityflow-note-body-wrap{
    background-color:#FFF;
}

.gravityflow-note-user{
    background-color:#FFF8DC;
}

#gravityflow-add-note-container{
    float:right;
}

.rtl #gravityflow-add-note-container{
    float:left;
}

.gravityflow-note{
    margin:20px 0 30px;
    clear:both;
    width:100%;
}

#gravityflow-note-content{
    padding:10px;
    float:left;
    position: relative;
}

.rtl #gravityflow-note-content{
    float:right;
}

.gravityflow-notes-checkbox{
    width:20px;
    display:table-cell;
    vertical-align:top;
    padding:15px 0 0 5px;

}

#gravityflow-note-new{
    width: 100%;
    display: table;
}

.gravityflow-note-body{
    line-height: 1.3em;
    overflow: auto;
    width: 100%;
    word-wrap: break-word;
    display:block;
}

.gravityflow-note-header:before,
.gravityflow-note-header:after
{
    content: "";
    display: table;
    line-height: 0;
}

.gravityflow-note-header:after{
    clear: both;
}

.gravityflow-note-title{
    float: left;
    margin-bottom:0.5em;
    font-size:1.2em;
    color:#939FA5;
}

.rtl .gravityflow-note-title {
    float: right;
}

.gravityflow-note-title a {
    font-weight:bold;
    text-decoration: none;
}

.gravityflow-note-body{
    overflow-y: hidden;
    display: block;
}

.gravityflow-note-meta{
    color: #939FA5;
    float: right;
    font-size: 11px;
    text-align: right;
    display: block;
}

.rtl .gravityflow-note-meta{
    float: left;
    text-align: left;
}

#gravityflow-admin-action{
    width:170px;

}

#gravityflow-note{
    width:100%;
}


@media screen and (max-width: 850px) {
    .has-right-sidebar #post-body {
        clear: left;
        float: right;
        width: 100%;
        margin-right: 0;
    }

    .rtl .has-right-sidebar #post-body {
        clear: right;
        float: left;
        margin-left: 0;
    }

    .has-right-sidebar .inner-sidebar{
        width:100%;
    }

    .has-right-sidebar #post-body-content {
        margin-right: 0!important;
    }

    .rtl .has-right-sidebar #post-body-content {
        margin-left: 0!important;
    }
}

.gravityflow-note-avatar span > i {
	width:65px;
	height:65px;
	display:inline-block;
	font-size:4em;
	margin:5px;
	color:#0074a2;
}

table.entry-detail-view td.detail-view{
    border-right: 1px;
    border-left: 1px;
    border-top: 0;
    border-bottom: 0;
}

.gravityflow-field-value {
    padding: 7px 7px 7px 40px;
    line-height: 1.8;
}

.rtl .gravityflow-field-value {
    padding: 7px 40px 7px 7px;
}

.gravityflow-field-value p {
    text-align: left;
}

.rtl .gravityflow-field-value p {
    text-align: right;
}

.gravityflow-field-value ul.bulleted {
    margin-left: 12px;
}

.rtl .gravityflow-field-value ul.bulleted {
    margin-right: 12px;
    margin-left: 0;
}

.gravityflow-field-value ul.bulleted li {
    list-style-type: disc;
}

.gfield.gravityflow-display-field label.gfield_label,
.gfield.gravityflow-editable-field:not(.green-background):not(.gfield_error) label.gfield_label{
    background-color: #EAF2FA;
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #FFF;
    line-height: 1.5;
    padding: 7px;
    width:100%;
    margin:0;
}

.gravityflow-editable-field.gfield.green-background label.gfield_label{
    border: 0;
    margin: 0;
    padding: 0;
}
.gravityflow-editable-field.gfield.green-background{
    background-color: #eeffee;
    padding: 7px;
}

td.gravityflow-order-summary{
    border-top:1px solid #DDDDDD;
    background-color: #EFEFEF;
    font-weight: bold;
    font-size: 16px;
}

.gravityflow-instructions div.inside ul,
.gravityflow-instructions div.inside ol {
    margin: 1em 0 1em 2em;
}

.rtl .gravityflow-instructions div.inside ul,
.rtl .gravityflow-instructions div.inside ol {
    margin: 1em 2em 1em 0;
}

.gravityflow-instructions div.inside ul li {
    list-style-type: disc;
}

.gravityflow-instructions div.inside ol li {
    list-style-type: decimal;
}

span.gf_admin_page_formid {
    background-color: #d4662c;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    line-height: 2;
    margin: 0 2px 0 12px;
    padding: 0 8px;
    position: relative;
    text-decoration: none;
    text-shadow: none;
    top: -3px;
    white-space: nowrap;
}

.rtl span.gf_admin_page_formid {
    margin: 0 12px 0 2px;
}

.gravityflow-box-title{
    cursor:default;
    border-bottom: 1px solid #eee;
}

/* Step Highlight */
table#gravityflow-inbox tbody tr{
    border-left-width: 3px;
    border-left-style: solid;
}

.rtl table#gravityflow-inbox tbody tr{
    border-left-width: 0;
    border-right-width: 3px;
    border-right-style: solid;
}

@media print {
    .gravityflow-dicussion-item-hidden {
        display:block !important;
    }

    .gravityflow-dicussion-item-toggle-display {
        display: none;
    }

    /* This is set in Gravity Forms print.css, we need to alter here for the print version */
    .rtl table.entry-detail-view th, .rtl table.entry-detail-notes th {
        text-align: right;
    }
}