.jet-parallax-plugin-section {

	&__layout {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
		pointer-events: none;
		perspective: 1200px;
	}

	&__image {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: auto;
		background-position-x: 50%;
		background-position-y: 50%;
	}

	.jet-parallax-plugin-section__scroll-layout:not(.is-mac) {

		.jet-parallax-plugin-section__image {
			transition: transform 0.5s cubic-bezier(.25,.88,.54,.98),
						background-position 0.3s linear;
		}
	}
}
