/***********************************************/
/* Product available on amazon country? */
/***********************************************/

/* Ajax Loader for countries */
.WooZone-cc-loader {
	display: inline-block;
	text-align: center;
	width: 55px;
}

.WooZone-cc-loader > span {
	background-color: #333333;
	border-radius: 100%;
	display: inline-block;
	height: 5px;
	vertical-align: top;
	margin-top: 16px;
	width: 5px;

	-webkit-animation: wcc-bouncedelay 1.4s infinite ease-in-out both;
	animation: wcc-bouncedelay 1.4s infinite ease-in-out both;
}

.WooZone-cc-loader .WooZone-cc-bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.WooZone-cc-loader .WooZone-cc-bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes wcc-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes wcc-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}

/* Title */
.WooZone-country-check-title {
	color: #333333;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-size: bold;
	line-height: 38px;
	padding-left: 1px;
}

/* Country Box */
.WooZone-country-check {
	border: 1px solid #e0dede;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	overflow: hidden;
	padding: 19px 29px;
	position: relative;
}
	.WooZone-country-check.WooZone-boxpos-before_woocommerce_tabs {
		margin: 0 0 20px;
		clear: both;
	}
.WooZone-country-check-small {
	border: 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
	display: inline-block;
}
.WooZone-country-check-small.WooZone-cc-custom {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

	.WooZone-country-check .WooZone-country-loader {
		display: none;
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		height: 25px;
		background-color: #ecf0f1;
	}
	.WooZone-country-check .WooZone-country-loader.bottom {
		top: auto;
		bottom: 0;
	}
		.WooZone-country-check .WooZone-country-loader > div {
			margin: auto;
			position: relative;
			width: 90%;
			text-align: center;
			height: inherit;
		}
		.WooZone-country-check .WooZone-country-loader > div > div {
			display: inline-block;
			height: inherit;
		}
		.WooZone-country-check .WooZone-country-loader > div .WooZone-country-loader-text {
			font-size: 14px;
			line-height: 14px;
			margin-left: 7px;
			vertical-align: middle;
		}

/* Country lists */
.WooZone-country-check li {
	color: #747474;
	display: inline-block;
	font-size: 15px;
	line-height: 35px;
	list-style-type: none;
	min-width: 280px;
}
.WooZone-country-check-small li {
	color: #747474;
	display: inline-block;
	font-size: 15px;
	line-height: 25px;
	min-width: auto;
	padding: 0px;
	margin: 0px;
}

/* Country name */
.WooZone-country-check li .WooZone-cc_name > a {
	box-shadow: 0 0 0 0 currentcolor;
	text-decoration: none;
}

/* Availability colors */
.WooZone-status-available {
	color: #31b93e;
}

.WooZone-status-unavailable {
	color: #f12525;
}

/* Country status */
.WooZone-country-check-small .WooZone-cc_status:before {
	display: inline-block;
	margin-right: 3px;
	width: 16px;
	height:16px;
	margin-top:4px;
}

.WooZone-country-check-small .WooZone-cc_status.available-yes:before {
	content: url(../images/available-yes.png);
}

.WooZone-country-check-small .WooZone-cc_status.available-no:before {
	content: url(../images/available-no.png);
}

.WooZone-country-check-small .WooZone-cc_status.available-todo:before {
	content: url(../images/available-todo.png);
}

/* Country Flags as Links */
.WooZone-countryflag-aslink {
	position: relative;
}
	.WooZone-countryflag-aslink > a {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		text-decoration: none;
		box-shadow: 0 0 0 0 currentcolor;
	}
	.WooZone-country-check li .WooZone-countryflag-aslink > a {
		box-shadow: 0 0 0 0 currentcolor;
	}

/* Country Flags */
.WooZone-country-check li .WooZone-cc_domain:before,
.WooZone-country-check-small .WooZone-cc_domain:before,
.WooZone-cart-checkout .WooZone-cc_domain:before {
	display: inline-block;
	margin-right: 11px;
	width: 16px;
}
.WooZone-country-check-small .WooZone-cc_domain:before {
	margin-right: 4px;
}

.WooZone-country-check li .WooZone-cc_domain.com:before,
.WooZone-country-check-small .WooZone-cc_domain.com:before,
.WooZone-cart-checkout .WooZone-cc_domain.com:before {
	content: url(../flags/us.png);
}

.WooZone-country-check li .WooZone-cc_domain.co-uk:before,
.WooZone-country-check-small .WooZone-cc_domain.co-uk:before,
.WooZone-cart-checkout .WooZone-cc_domain.co-uk:before {
	content: url(../flags/uk.png);
}

.WooZone-country-check li .WooZone-cc_domain.de:before,
.WooZone-country-check-small .WooZone-cc_domain.de:before,
.WooZone-cart-checkout .WooZone-cc_domain.de:before {
	content: url(../flags/de.png);
}

.WooZone-country-check li .WooZone-cc_domain.fr:before,
.WooZone-country-check-small span .WooZone-cc_domain.fr:before,
.WooZone-cart-checkout .WooZone-cc_domain.fr:before {
	content: url(../flags/fr.png);
}

.WooZone-country-check li .WooZone-cc_domain.co-jp:before,
.WooZone-country-check-small .WooZone-cc_domain.co-jp:before,
.WooZone-cart-checkout .WooZone-cc_domain.co-jp:before {
	content: url(../flags/jp.png);
}

.WooZone-country-check li .WooZone-cc_domain.ca:before,
.WooZone-country-check-small .WooZone-cc_domain.ca:before,
.WooZone-cart-checkout .WooZone-cc_domain.ca:before {
	content: url(../flags/ca.png);
}

.WooZone-country-check li .WooZone-cc_domain.cn:before,
.WooZone-country-check-small .WooZone-cc_domain.cn:before,
.WooZone-cart-checkout .WooZone-cc_domain.cn:before {
	content: url(../flags/cn.png);
}

.WooZone-country-check li .WooZone-cc_domain.in:before,
.WooZone-country-check-small .WooZone-cc_domain.in:before,
.WooZone-cart-checkout .WooZone-cc_domain.in:before {
	content: url(../flags/in.png);
}

.WooZone-country-check li .WooZone-cc_domain.it:before,
.WooZone-country-check-small .WooZone-cc_domain.it:before,
.WooZone-cart-checkout .WooZone-cc_domain.it:before {
	content: url(../flags/it.png);
}

.WooZone-country-check li .WooZone-cc_domain.es:before,
.WooZone-country-check-small .WooZone-cc_domain.es:before,
.WooZone-cart-checkout .WooZone-cc_domain.es:before {
	content: url(../flags/es.png);
}

.WooZone-country-check li .WooZone-cc_domain.com-mx:before,
.WooZone-country-check-small .WooZone-cc_domain.com-mx:before,
.WooZone-cart-checkout .WooZone-cc_domain.com-mx:before {
	content: url(../flags/mx.png);
}

.WooZone-country-check li .WooZone-cc_domain.com-br:before,
.WooZone-country-check-small .WooZone-cc_domain.com-br:before,
.WooZone-cart-checkout .WooZone-cc_domain.com-br:before {
	content: url(../flags/br.png);
}

.WooZone-country-check li .WooZone-cc_domain.com-au:before,
.WooZone-country-check-small .WooZone-cc_domain.com-au:before,
.WooZone-cart-checkout .WooZone-cc_domain.com-au:before {
	content: url(../flags/au.png);
}

/* Cart page - box amazon shops */
.WooZone-cart-checkout {
	border: 1px solid #e0dede;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	overflow: hidden;
	padding: 19px 29px;
	position: relative;
}
	.WooZone-cart-checkout .WooZone-cc_status,
	.WooZone-cart-checkout .WooZone-cart-msg {
		font-size: 14px;
		color: #747474;
	}
	.WooZone-cart-checkout .WooZone-cc_status.success,
	.WooZone-cart-checkout .WooZone-cart-msg .success {
		color: #2ecc71;
		font-weight:bold;
		background-image: url(../images/available-yes.png);
		background-position: 95% 50%;
		background-repeat:no-repeat;
		padding-right:30px;
	}
	.WooZone-cart-checkout .WooZone-cc_status.cancel,
	.WooZone-cart-checkout .WooZone-cart-msg .cancel {
		color: #e74c3c;
	}
	.WooZone-cart-checkout ul.WooZone-cart-shops {
		margin: 0px;
	}
		.WooZone-cart-checkout ul.WooZone-cart-shops li {
			color: #747474;
			display: block;
			font-size: 15px;
			line-height: 55px;
			list-style-type: none;
			min-width: 280px;
		}
			.WooZone-cart-checkout ul.WooZone-cart-shops li form {
				display: inline-block;
			}
			.WooZone-cart-checkout .WooZone-button {
				background: #ea6c1f none repeat scroll 0 0;
				border: 0 none;
				border-radius: 0.5rem;
				color: #fff;
				font-size: 0.9rem;
				font-weight: 500;
				height: 2.5rem;
				padding: 5px 20px 5px 45px !important; 
				text-decoration: none;
				text-transform: none;
				margin:0 10px 0 30px;
				background-image: url(../images/24.png);
				background-repeat:no-repeat;
				background-position:5% 50%;
				cursor:pointer;
			}
		
			.WooZone-cart-checkout .WooZone-button:hover {
				background: #231f20 none repeat scroll 0 0;
				background-image: url(../images/24.png);
				background-repeat:no-repeat;
				background-position:5% 50%;
			}
			.WooZone-cart-checkout .WooZone-button.cancel {
				background: #b181a7 none repeat scroll 0 0;
				padding: 5px 20px 5px 20px !important;
				margin:0 10px 0 0px;
			}
			.WooZone-cart-checkout .WooZone-button.cancel:hover {
				background: #d3aaca none repeat scroll 0 0;
			}
		
/* main cart page - kingdom fix */
.row .woocommerce .product-quantity > .quantity {
	width: 115px;
}
.row .woocommerce .product-quantity > .quantity > input[type="text"] {
	width: auto;
}

.row .woocommerce .WooZone-cart-checkout ul.WooZone-cart-shops {
margin: 0 0 0 -40px;
}
	.row .woocommerce .WooZone-cart-checkout ul.WooZone-cart-shops li {
		margin-bottom: 15px;
	}
	.row .woocommerce .WooZone-cart-checkout .WooZone-button {
		font-size: inherit;
		height: auto;
	}

/* Box loader - product details page */
#floatingBarsG{
	position:relative;
	width:15px;
	height:19px;
	margin:auto;
}

.blockG{
	position:absolute;
	background-color:rgb(255,255,255);
	width:2px;
	height:6px;
	border-radius:2px 2px 0 0;
		-o-border-radius:2px 2px 0 0;
		-ms-border-radius:2px 2px 0 0;
		-webkit-border-radius:2px 2px 0 0;
		-moz-border-radius:2px 2px 0 0;
	transform:scale(0.4);
		-o-transform:scale(0.4);
		-ms-transform:scale(0.4);
		-webkit-transform:scale(0.4);
		-moz-transform:scale(0.4);
	animation-name:fadeG;
		-o-animation-name:fadeG;
		-ms-animation-name:fadeG;
		-webkit-animation-name:fadeG;
		-moz-animation-name:fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#rotateG_01{
	left:0;
	top:7px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
	transform:rotate(-90deg);
		-o-transform:rotate(-90deg);
		-ms-transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
		-moz-transform:rotate(-90deg);
}

#rotateG_02{
	left:2px;
	top:2px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
	transform:rotate(-45deg);
		-o-transform:rotate(-45deg);
		-ms-transform:rotate(-45deg);
		-webkit-transform:rotate(-45deg);
		-moz-transform:rotate(-45deg);
}

#rotateG_03{
	left:6px;
	top:1px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
	transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
}

#rotateG_04{
	right:2px;
	top:2px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
	transform:rotate(45deg);
		-o-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
}

#rotateG_05{
	right:0;
	top:7px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
	transform:rotate(90deg);
		-o-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
		-moz-transform:rotate(90deg);
}

#rotateG_06{
	right:2px;
	bottom:2px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
	transform:rotate(135deg);
		-o-transform:rotate(135deg);
		-ms-transform:rotate(135deg);
		-webkit-transform:rotate(135deg);
		-moz-transform:rotate(135deg);
}

#rotateG_07{
	bottom:0;
	left:6px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
	transform:rotate(180deg);
		-o-transform:rotate(180deg);
		-ms-transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
}

#rotateG_08{
	left:2px;
	bottom:2px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
	transform:rotate(-135deg);
		-o-transform:rotate(-135deg);
		-ms-transform:rotate(-135deg);
		-webkit-transform:rotate(-135deg);
		-moz-transform:rotate(-135deg);
}



@keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}


/***********************************************/
/* Cross Sell Box */
/***********************************************/
	.main-cross-sell {
		position: relative;
		min-height:125px;
	}
	.main-cross-sell .WooZone-cross-sell-loader {
		display: none;
		position: absolute;
		top: 50%; left: 0;
		transform: translateY(-50%);
		width: 100%;
		height: 25px;
		font-family: "Open Sans";
		font-size:13px;
	}
	.main-cross-sell .WooZone-cross-sell-loader.bottom {
		top: auto;
		bottom: 0;
	}
		.main-cross-sell .WooZone-cross-sell-loader > div {
			margin: auto;
			position: relative;
			width: 90%;
			text-align: center;
			height: inherit;
		}
		.main-cross-sell .WooZone-cross-sell-loader > div > div {
			display: inline-block;
			height: inherit;
			vertical-align: middle;
		}
		.main-cross-sell .WooZone-cross-sell-loader > div #floatingBarsG {
		}
		.main-cross-sell .WooZone-cross-sell-loader > div .WooZone-cross-sell-loader-text {
			font-size: 14px;
			line-height: 14px;
			margin-left: 7px;
			vertical-align: initial;
		}

	/* DEBUG BOX */
	#WooZone-cross-sell-debug {
		display: none;
		position: relative;
		width: 70%;
		/*background-color: #3A539B;
		color: #fff;
		font-weight: bold;
		font-size: 14px;
		font-family: verdana;*/
	}
		#WooZone-cross-sell-debug button {
			height: 1.8rem !important;
			padding: 0.4rem 1.1rem !important;
			font-size: 1rem !important;
			background: #a46497 !important;
			color: #fff !important;
			line-height: 1rem !important;
			display: inline-block;
			cursor: pointer;
			/*height: 4.2rem !important;
			padding: 1rem 1.6rem !important;
			font-size: 1.1rem !important;*/
			border: none 0 !important;
			border-radius: 0.5rem !important;
			font-weight: 800;
			text-transform: uppercase;
			text-decoration: none;
		}
		#WooZone-cross-sell-debug button:disabled {
			color: #BFBFBF;
			background-color: #fff;
		}
		#WooZone-cross-sell-debug div:first-child {
			padding: 3px 5px;
			text-align: center;
			background-color: #CFD8DC;
		}
		#WooZone-cross-sell-debug div:last-child {
			text-align: center;
			padding-bottom: 3px;
		}
		#WooZone-cross-sell-debug div:nth-child(2) {
			font-weight: normal;
			text-align: center;
		}
			#WooZone-cross-sell-debug div:nth-child(2) table {
				margin: 0 auto !important;
				min-width: 500px;

				table-layout: fixed;
				border-spacing: 7px;
				border-collapse: separate;
			}
				#WooZone-cross-sell-debug div:nth-child(2) table th,
				#WooZone-cross-sell-debug div:nth-child(2) table td {
					font-weight: normal;
					text-align: left;
					padding: 7px 0px !important;
					border-bottom: 1px solid #CFD8DC !important;
				}





	.WooZone-form-button, .WooZone-form-button-small {
		cursor: pointer;
		height: 4.2rem;
		padding: 1rem 1.6rem;
		border: none 0;
		border-radius: 0.5rem;
		font-size: 1.1rem;
		font-weight: 800;
		text-transform: uppercase;
		text-decoration: none;
	}
	.WooZone-form-button.WooZone-form-button-info, .WooZone-form-button-small.WooZone-form-button-info {
		color: #fff;
		background: #3194f1;
	}
	.WooZone-form-button.WooZone-form-button-info:hover, .WooZone-form-button-small.WooZone-form-button-info:hover {
		background: #0c61b0;
	}
	.WooZone-form-button.WooZone-form-button-success, .WooZone-form-button-small.WooZone-form-button-success {
		color: #fff !important;
		background: #68c64b;
	}
	.WooZone-form-button.WooZone-form-button-success:hover, .WooZone-form-button-small.WooZone-form-button-success:hover {
		background: #3e8229;
	}
	.WooZone-form-button.WooZone-form-button-warning, .WooZone-form-button-small.WooZone-form-button-warning {
		color: #fff;
		background: #f0ad4e;
	}
	.WooZone-form-button.WooZone-form-button-warning:hover, .WooZone-form-button-small.WooZone-form-button-warning:hover {
		background: #c77c11;
	}
	.WooZone-form-button.WooZone-form-button-primary, .WooZone-form-button-small.WooZone-form-button-primary {
		color: #fff;
		background: #a46497;
	}
	.WooZone-form-button.WooZone-form-button-primary:hover, .WooZone-form-button-small.WooZone-form-button-primary:hover {
		background: #663c5e;
	}
	.WooZone-form-button.WooZone-form-button-danger, .WooZone-form-button-small.WooZone-form-button-danger {
		color: #fff !important;
		background: #d9534f;
	}
	.WooZone-form-button.WooZone-form-button-danger:hover, .WooZone-form-button-small.WooZone-form-button-danger:hover {
		background: #a02622;
	}
	.WooZone-form-button.WooZone-form-button-small, .WooZone-form-button-small.WooZone-form-button-small {
		padding: 0.4rem 1.5rem !important;
		height: 2.8rem;
		font-size: 1rem;
	}
	a.WooZone-form-button, a.WooZone-form-button-small {
		display: inline-block;
		height: auto;
		line-height: 2rem;
	}



/***********************************************/
/* FRONTEND SYNC */
/***********************************************/

#WooZone-syncfront-wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	background-color: rgba(117,117,117 ,0.70);
	color: green;
}
	#WooZone-syncfront-wrapper #WooZone-syncfront-content {
		margin: 0 auto;
		margin-top: 10%;
		width: 800px;
		height: auto;
		padding: 25px;
		background-color: #fff;
		color: rgba(1,87,155 ,1);
		text-align: center;
		border-radius: 5px;
	}
		#WooZone-syncfront-wrapper #WooZone-syncfront-content h1 {
			font-size: 20px;
			font-family: 'Montserrat';
			font-weight: 300;
			color: #343434;
			margin-bottom: 20px;
		}
			#WooZone-syncfront-wrapper #WooZone-syncfront-content h1 span {
				display: inline-block;
				min-width: 40px;
				font-family: 'Montserrat';
				letter-spacing: -1px;
				font-weight: 300;
			}
			#WooZone-syncfront-wrapper #WooZone-syncfront-content .WooZone-syncfront-btn input[type="button"]:nth-child(2) {
				margin-left: 30px;
			}

#WooZone-syncfront-wrapper .WooZone-form-button, #WooZone-syncfront-wrapper .WooZone-form-button-small {
	font-weight: 300;
	font-family: 'Montserrat';
	text-align: center;
	font-size: 14px !important;
	padding: 10px 20px !important;
	height: auto !important;
	text-transform: none;

}



#WooZone-syncfront-debug {
	/*position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 9999;
	max-width: 400px;
	max-height: 200px;*/

	/*background-color: rgba(236,239,241 ,1);
	border: 1px solid #ededed;
	color: rgba(55,71,79 ,1);
	font-size: 14px;
	border-collapse: separate;
	border-spacing: 0;
	overflow-x: auto;*/
	width: 100%;
}
	#WooZone-syncfront-debug table {
		table-layout: fixed;
		border-spacing: 7px;
		border-collapse: separate;
	}
	#WooZone-syncfront-debug table thead th:first-child {
		width: 6%;
		max-width: 10%;
	}
	#WooZone-syncfront-debug table thead th,
	#WooZone-syncfront-debug table tbody td {
		font-weight: normal;
		text-align: left;
		padding: 7px 0px !important;
		border-bottom: 1px solid #CFD8DC !important;
	}
	#WooZone-syncfront-debug table tbody td {
		vertical-align: top;
	}

	.wzsync-last-sync-info-wrapper .WooZone-sync-last-status-text {
		background-color: #eceff1;
		color: #37474f;
		padding: 3px 5px;
		font-size: 11px;
		font-style: italic;
	}
	.wzsync-last-sync-info-wrapper .WooZone-sync-last-status-text.sync-updated {
		background-color: #4caf50;
		color: #fff;
	}
	.wzsync-last-sync-info-wrapper .WooZone-sync-last-status-text.sync-notupdated {
		background-color: #03a9f4;
		color: #fff;
	 }
	.wzsync-last-sync-info-wrapper .WooZone-sync-last-status-text.sync-notfound {
		background-color: #fb8c00;
		color: #fff;
	}
	.wzsync-last-sync-info-wrapper .WooZone-sync-last-status-text.sync-error {
		background-color: #ef5350;
		color: #fff;
	}
	.wzsync-last-sync-info-wrapper > a > img {
		display: inline-block;
		margin-right: 0.2rem !important;
		max-width: 2.5rem;
		vertical-align: middle;
		border: 0;
		height: 12px;
	}
   .wzsync-last-sync-info-wrapper i.fa {
		min-width: 1.1rem !important;
		margin-left: 0.2rem !important;
	}
	.wzsync-last-sync-info-wrapper > span {
		margin-left: 1px;
	}
	.wzsync-last-sync-info-wrapper > span.sync-current-cycle {
	margin-left: 0px;
	}
	.wzsync-last-sync-info-wrapper > span.sync-current-cycle i {
		color: #ffc107;
	}

/* responsive */
@media (max-width: 768px) {
	#WooZone-syncfront-wrapper #WooZone-syncfront-content {
		width: 700px;
	}
}

@media (max-width: 425px) {
	#WooZone-syncfront-wrapper #WooZone-syncfront-content {
		width: 370px;
		margin-top: 20%;
	}

	#WooZone-syncfront-wrapper #WooZone-syncfront-content .WooZone-syncfront-btn input[type="button"]:nth-child(2) {
		margin-left: 0px;
		margin-top: 20px;
	}
}

@media screen and (min-device-width: 320px) and (max-device-width: 375px) { 
	#WooZone-syncfront-wrapper #WooZone-syncfront-content {
		width: 290px;
		margin-top: 20%;
	}

	#WooZone-syncfront-wrapper #WooZone-syncfront-content .WooZone-syncfront-btn input[type="button"]:nth-child(2) {
		margin-left: 0px;
		margin-top: 20px;
	}

	#WooZone-syncfront-wrapper #WooZone-syncfront-content h1 {
		font-size: 14px;
	}
}


/***********************************************/
/* BADGES */
/***********************************************/

/* only on wp hook post_thumbnail_html */
.wzfront-badges-wrapper {
	position: relative;
	display: block;
	text-indent: 0;
	line-height: 0;
}

.wzfront-badges {
	max-width: 200px;
	z-index: 999;
	position: absolute;
}
.wzfront-badges.top_left, .wzfront-badges.bottom_left {
	text-align: left;
}
.wzfront-badges.top_right, .wzfront-badges.bottom_right {
	text-align: right;
}
	.wzfront-badges > ul {
		list-style: none;
		padding: 0px !important;
		margin: 0px !important;
	}
		.wzfront-badges > ul > li {
			display: block;
			margin-top: 8px; 
			line-height: 12px;
		}
		.wzfront-badges > ul > li:first-child {
			margin-top: 0px;
		}
			.wzfront-badges.wzfront-badges-big > ul > li > div,
			.wzfront-badges.wzfront-badges-icons > ul > li > div {
				display: inline-block;
				background: #616161;
				color: #fff;
				font-weight: 500;
				box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
				text-align: center;
				height: 100%;
				line-height: 12px;
				padding: 5px 10px;
			}
			.wzfront-badges.wzfront-badges-big > ul > li.wzfront-badges-badge-new > div,
			.wzfront-badges.wzfront-badges-icons > ul > li.wzfront-badges-badge-new > div {
				background: #145C9E;
			}
			.wzfront-badges.wzfront-badges-big > ul > li.wzfront-badges-badge-onsale > div,
			.wzfront-badges.wzfront-badges-icons > ul > li.wzfront-badges-badge-onsale > div {
				background: #FE5D26; 
			}
			.wzfront-badges.wzfront-badges-big > ul > li.wzfront-badges-badge-freeshipping > div,
			.wzfront-badges.wzfront-badges-icons > ul > li.wzfront-badges-badge-freeshipping > div {
				background: #7AC74F;
			}
			.wzfront-badges.wzfront-badges-big > ul > li.wzfront-badges-badge-amazonprime > div {
				padding-top:10px;
				background: #fff;
			}
			.wzfront-badges.wzfront-badges-icons > ul > li.wzfront-badges-badge-amazonprime > div {
				background: #4527A0;
			}
			.wzfront-badges > ul > li.wzfront-badges-badge-freeshipping > div:hover {
				background: #A1CF6B;
				cursor: pointer;
			}
				.wzfront-badges > ul > li img,
				.wzfront-badges > ul > li.wzfront-badges-badge-freeshipping a,
				.wzfront-badges.wzfront-badges-big > ul > li span.badge-text {
					display: inline-block;
					line-height: normal;
					vertical-align: center;
					font-family: 'Open Sans', sans-serif;
					font-weight: bold;
					text-transform: uppercase;
				}
				.wzfront-badges.wzfront-badges-big > ul > li.wzfront-badges-badge-amazonprime span.badge-text,
				.wzfront-badges.wzfront-badges-big > ul > li.wzfront-badges-badge-freeshipping span.badge-text {
					display: none;
				}

	.wzfront-badges.wzfront-badges-icons > ul {
	}
		.wzfront-badges.wzfront-badges-icons > ul li {
			margin: 0px !important;
			padding: 0px !important;
			margin-top: 1px;
			height: 20px;
			line-height: 20px;
			width: 22px;
			border: 0px !important;
		}
			.wzfront-badges.wzfront-badges-icons > ul li > div {
				padding: 0px;
				box-shadow: none;
				width: 100%;
				height: auto;
				line-height: inherit;
			}
				.wzfront-badges.wzfront-badges-icons > ul li span.badge-text {
					display: none;
				}
				.wzfront-badges.wzfront-badges-icons > ul li i {
					display: inline-block;
				}

				.wzfront-badges > ul > li.wzfront-badges-badge-freeshipping a,
				.wzfront-badges > ul > li.wzfront-badges-badge-freeshipping a:hover {
					text-decoration: none;
					color: #fff;
				}


/***********************************************/
/* PRICE, Availability, FreeShipping, Coupon...
/***********************************************/

.WooZone-price-info {
	font-weight: normal;
}

.WooZone-availability-icon {
	background: transparent url(../images/shipping.png) no-repeat top left;
	padding-left: 30px;
}

.WooZone-free-shipping {
	color: #000;
	font-size: 14px;
}
.WooZone-free-shipping a.link {
	text-decoration: none;
}

.WooZone-coupon {
}
	.WooZone-coupon .WooZone-coupon-title {
		color: #d71321;
		font-size: 18px;
	}
	.WooZone-coupon .WooZone-coupon-details {
		color: #8c8c8c;
		font-size: 14px;
	}
	.WooZone-coupon .WooZone-coupon-details a.link {
		color: #db2a37;
		text-decoration: none;
	}
.WooZone-coupon-container {
	margin-top: 17px;
}
	.WooZone-coupon-container .WooZone-coupon-clear {
		clear: left;
	}
	.WooZone-coupon-container .WooZone-coupon-header {
		float: left;
		width: 100%;
		color: #808080;
		font-size: 12px;
	}
	#TB_ajaxContent .WooZone-coupon-container .WooZone-coupon-header p {
		margin: 0px 0px 9px;
		padding: 0;
	}
	.WooZone-coupon-container .WooZone-coupon-header > p {
		float: left;
	}
	.WooZone-coupon-container .WooZone-coupon-header > a {
		float: right;
		color: #2b62a0;
		font-weight: bold;
	}
	.WooZone-coupon-container .WooZone-coupon-summary {
		background-color: #fff;
		border: 1px solid #eaeaea;
		border-radius: 4px;
		padding: 6px 8px;
		display: block;
	}
		.WooZone-coupon-container .WooZone-coupon-summary-inner {
			display: block;
			width: 100%;
			/*-webkit-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
			transform-style: preserve-3d;*/
		}
			.WooZone-coupon-container .WooZone-coupon-summary-inner-left {
				display: inline-block;
				width: 53px;
				padding: 10px 5px;
				color: #7d9f22;
				line-height: 1.3em;
				border: 2px dashed #699000;
				border-radius: 10px;
				/*box-shadow: 0 0 0 4px #f5f8ee, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);*/
				text-shadow: -1px -1px #c3d399;
				text-align: center;
			}
			.WooZone-coupon-container .WooZone-coupon-summary-inner-right {
				display: inline-block;
				margin-left: 15px;
				font-size: 12px;
				color: #363636;
				width: 80%;
				/*position: relative;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);*/
			}
			#TB_ajaxContent .WooZone-coupon-container .WooZone-coupon-summary-inner-right p {
				margin: 0px;
				padding: 0px;
			}
	.WooZone-coupon-container .WooZone-coupon-desc {
		font-size: 12px;
		color: #808080;
		margin-top: 24px;
	}
		.WooZone-coupon-container .WooZone-coupon-desc strong {
			color: #444444;
			margin-bottom: 12px;
		}
		.WooZone-coupon-container .WooZone-coupon-desc ol,
		.WooZone-coupon-container .WooZone-coupon-desc ul  {
			font-size: 11px;
			color: #5d5d5d;
		}
		.WooZone-coupon-container .WooZone-coupon-desc ul,
		.WooZone-coupon-container .WooZone-coupon-desc ol li,
		.WooZone-coupon-container .WooZone-coupon-desc ul li {
			margin-left: 9px;
		}