.ypop-wrapper{
    overflow: hidden;
}
.ypop-container-inner{
    position: relative;
    overflow: hidden;
    height: 100%;
}
.ypop-content{
    padding: 5%;
    text-align: center;
}
.ypop-header h2{
    font-size: 40px;
    line-height: 1.2em;
    margin-bottom: 15px;
}
.ypop-header p{
    font-size: 18px;
}

.ypop-footer {
    padding: 15px 0;
    text-align: center;
    font-size: 10px;
}

.ypop-checkzone{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.ypop-wrapper  a.close{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

/* TEXT */
.ypop-content .ypop-header ul{
    list-style: none;
    margin-left: 0;
    margin-bottom: 10px;
    text-align: left;
}

.ypop-content .ypop-header ul li{
    position: relative;
    margin: 5px 0;
    padding-left: 27px;
}

.ypop-content .ypop-header ul li:before{
    width: 20px;
    height: 20px;
    display: block;
    content: '';
    position: absolute;
    background-color: #1d456b;
    border-radius: 50%;
    left: 0;
    top: 3px;
}

.ypop-content .ypop-header ul li:after{
    background: url("../images/bullett.png") no-repeat left;
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    z-index: 10;
    top: 2px;
    left: 5px;
}

/* SOCIAL */
.share-container a{
    text-decoration: none;
    text-align: center;
}
.icon-circle{
    border: 1px solid;
    text-align: center;
    margin: 15px 2px;
    text-decoration: none;
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 20px;
}

/* NEWSLETTER */

.ypop-form-newsletter-wrapper fieldset {
    border: 0;
}

.ypop-form-newsletter-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: table;
    width: 100%;
}

.ypop-form-newsletter-wrapper ul li {
    display: inline-block;
    vertical-align: bottom;
    display: table-cell;
}
.ypop-form-newsletter-wrapper ul:after{
    display: none;
}

.ypop-form-newsletter-wrapper .newsletter_form_name input,
.ypop-form-newsletter-wrapper .newsletter_form_email input {
    width: 100%;
    padding: 18px 12px;
    border: 0px;
    font-size: 18px;
    border-bottom: 2px solid #d9d9d9;
}

.ypop-content-type{
    padding-bottom: 20px;
}

.ypop-wrapper button, .ypop-content-type .contact-form input[type=submit],
.ypop-content-type .contact-form input[type=submit],
.ypop-product-wrapper  .add_to_cart a{
    padding: 18px;
    font-size: 18px;
    width: 100%;
    white-space: nowrap;
    border-bottom: 2px solid #d9d9d9;
}

.ypop-submit{
    width: 1px;
}

.ypop-form-newsletter-wrapper .message-box span{
    background-color: #fff;
    margin: 0 0 15px 0;
}


/* FORM */

div.wpcf7 input[type=checkbox],
div.wpcf7 input[type=radio],
.ypop-content-type .contact-form input[type=checkbox],
.ypop-content-type .contact-form input[type=radio]{
    width: auto;
}


/*********************/
/* YIT CONTACT FORM  */
/*********************/

.msg-error{
    position: absolute;
    right: 10px;
    top: 27px;
}

div.wpcf7 input[type=submit],
.ypop-content-type .contact-form input[type=submit]{
    width: auto;
    padding: 11px 18px;
    font-size: 16px;
    white-space: nowrap;
    float: right;
}

.user-message,
.ypop-form-newsletter-wrapper .message-box span{
    background-color: #fff;
    margin: 10px 0 0;
}

.input-prepend{
    position: relative;
}

/*********************/
/* CONTACT FORM 7    */
/*********************/
.wpcf7-form{
    text-align: left;
}

.wpcf7-form p .wpcf7-submit{
    float: right;
}


/* WOOCOMMERCE */
.ypop-product-wrapper h4{
    font-size: 20px;
    padding-bottom: 20px;
}
.ypop-product-wrapper .ypop-woo-thumb{
    width: 60%;
    margin: 0 auto;
}
.ypop-product-wrapper  .add_to_cart{
    margin: 20px 0px;
}

.ypop-product-wrapper  .price{
    margin-top: 10px;
    font-size: 22px;
    font-weight: 800;
}

.ypop-product-wrapper .add_to_cart a{
    padding: 11px 18px;
}


.ypop-product-wrapper  .add_to_cart{
    margin: 20px 10px;
    display: inline-block;
}

.ypop-product-wrapper  .price{
    margin-top: 10px;
    font-size: 22px;
    font-weight: 800;
    display: inline-block;
}


@media(max-width: 767px) {


    .ypop-wrapper{
        overflow: scroll;
        position: absolute !important;
        background-size: cover;
    }
    .ypop-modal.open{
        overflow-y: scroll;
        position: absolute;
    }

    .ypop-overlay{
        position: fixed;
    }

    .ypop-form-newsletter-wrapper ul{
        display: block;
    }

    .ypop-form-newsletter-wrapper ul li{
        display: block;
        margin-bottom: 10px;
    }
    .ypop-submit{
        width: auto;
    }
}
