@import "../../../base/display/set1-template";
@import "../../../slider";
@import "../../../grid";

@font-face {
  font-family: '#{$navigation-icon}';
  src: url('../../fonts/default-template/tvo-default-t-icons.eot?62scwa');
  src: url('../../fonts/default-template/tvo-default-t-icons.eot?#iefix62scwa') format('embedded-opentype'),
  url('../../fonts/default-template/tvo-default-t-icons.woff?62scwa') format('woff'),
  url('../../fonts/default-template/tvo-default-t-icons.ttf?62scwa') format('truetype'),
  url('../../fonts/default-template/tvo-default-t-icons.svg?62scwa#tlp-icon-authorfocused') format('svg');
  font-weight: normal;
  font-style: normal;
}

.tvo-#{$template-name}-template {
  &.tvo-testimonials-display-slider {
    @include tvo-relative;
    box-sizing: border-box;
    padding: 0 $slider-spacing;
    .tvo-item-grid {
      margin-left: 0;
      margin-right: 0;
    }
    .tvo-testimonial-display-item {
      h4 {
        color: $title-color-large;
        font-size: $title-size-large;
        font-weight: $title-weight-large;
        line-height: $title-line-height-large;
        margin-bottom: $title-small-margin-bottom;
        margin-top: 0;
      }
      p {
        color: $font-color;
        font-size: $font-size;
        font-weight: $font-weight;
        line-height: $font-line-height;
        margin-bottom: $font-margin-bottom;
      }
    }
    .tvo-testimonial-image-cover {
      height: $image-size;
      width: $image-size;
    }
    .tvo-testimonial-image {
      height: $image-size;
      width: $image-size;
    }
    .tvo-image-wrapper {
      margin-bottom: $grid-item-padding-vertical;
    }
    .tvo-testimonial-content {
      padding: 0 $grid-item-padding-side;
    }
    .thrlider-nav {
      text-align: center;
    }
    .thrlider-nav-wrapper {
      margin: 0 auto ($slider-spacing/2);
    }
    .thrlider-navItem {
      display: inline-block;
      float: none;
      border-radius: $bullet-border-radius;
      background: $bullet-bg;
      height: $bullet-size;
      width: $bullet-size;
      &:hover {
        circle {
          fill: currentColor;
        }
      }
      &.thrlider-active {
        svg {
          circle {
            fill: currentColor;
            stroke: currentColor;
            stroke-dasharray: none;
          }
        }
      }
      circle {
        color: #373434;
        fill: rgba(#fff, 0.1);
        stroke: currentColor;
        stroke-width: 1.3;
        stroke-dasharray: 3, 2;
        stroke-dashoffset: 0;
      }
    }
    .thrlider-prev, .thrlider-next {
      margin: auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .thrlider-prev {
      left: $slider-spacing/2;
    }
    .thrlider-next {
      right: $slider-spacing/2;
    }
  }
}

@media (max-width: 540px) {
  .tvo-set1-template.tvo-testimonials-display-slider {
    padding: 0;
  }
  .tvo-set1-template.tvo-testimonials-display-slider .thrlider-prev, .tvo-set1-template.tvo-testimonials-display-slider .thrlider-next {
    top: 100px;
    transform: none;
  }
}

div[id*='thrlider'] {
  width: 100% !important;
}
