@import "../../../base/display/set9-template";
@import "../../../slider";
@import "../../../grid";

@font-face {
  font-family: '#{$navigation-icon}';
  src: url('../../fonts/default-template/tvo-default-t-icons.eot?62scwa');
  src: url('../../fonts/default-template/tvo-default-t-icons.eot?#iefix62scwa') format('embedded-opentype'),
  url('../../fonts/default-template/tvo-default-t-icons.woff?62scwa') format('woff'),
  url('../../fonts/default-template/tvo-default-t-icons.ttf?62scwa') format('truetype'),
  url('../../fonts/default-template/tvo-default-t-icons.svg?62scwa#tlp-icon-authorfocused') format('svg');
  font-weight: normal;
  font-style: normal;
}

.tvo-#{$template-name}-template {
  &.tvo-testimonials-display-slider {
    @include tvo-relative;
    padding: 0 $slider-spacing;
    .tvo-item-grid {
      -webkit-align-items: center;
      align-items: center;
      margin-left: 0;
      margin-right: 0;
    }
    .tvo-testimonial-display-item {
      //  padding: $grid-item-padding-small;
      h4 {
        color: $title-color-large;
        font-size: $title-size-large;
        font-weight: $title-weight-large;
        line-height: $title-line-height-large;
        margin-bottom: $title-small-margin-bottom;
        margin-top: 0;
      }
      p {
        color: $font-color;
        font-size: $font-size;
        font-weight: $font-weight;
        line-height: $font-line-height;
        margin-bottom: $font-margin-bottom;
        overflow-wrap: break-word;
      }
    }
    .tvo-image-wrapper {
      min-width: $image-size;
    }
    .tvo-testimonial-content {
      -webkit-flex: 1;
      flex: 1;
      padding: 0 $grid-item-padding-side;
    }
    .thrlider-nav-wrapper {
      box-sizing: border-box;
      padding: 0 $grid-item-padding-side;
      margin: 0 !important;
    }
    .thrlider-navItem {
      opacity: .5;
      transition: opacity .3s ease;
      &:hover {
        opacity: 1;
      }
      &.thrlider-active {
        opacity: 1;
      }
    }
    .thrlider-prev, .thrlider-next {
      margin: auto;
      position: absolute;

      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);

    }
    .thrlider-prev {
      left: ($slider-spacing/3);
    }
    .thrlider-next {
      right: ($slider-spacing/3);
    }
  }
}

@media (max-width: 940px) {
  .tvo-set9-template.tvo-testimonials-display-slider .thrlider-prev, .tvo-set9-template.tvo-testimonials-display-slider .thrlider-next {
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    top: auto;
    bottom: -25px;
  }
  .tvo-set9-template.tvo-testimonials-display-slider {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}

div[id*='thrlider'] {
  width: 100% !important;
}
