/*-[Comments]--------------*/
.wp_review_comments_template .nocomments {
    margin-top: 20px;
    clear: both;
    float: left;
    width: 100%;
    display: none;
}
.wp_review_comments_template #comments {
    padding: 3%;
    margin-top: 27px;
    float: left;
    clear: both;
    width: 100%;
    box-sizing: border-box;
}
.wp_review_comments_template #respond h4 {
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 19px;
}
.wp_review_comments_template #commentsAdd {
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: 20px;
}
.wp_review_comments_template #comments .avatar {
    float: left;
    margin-right: 20px;
    margin-top: 7px;
    position: relative;
    left: 0;
    right: 0;
    border: 5px solid transparent;
}
.wp_review_comments_template #comments .bypostauthor .avatar {
    border: 5px solid #000;
}
.wp_review_comments_template .comment time { padding-left: 10px }
.wp_review_comments_template ul.children .commentImageLeft {
    width: 60px;
    height: 90px;
    border-left: 1px solid #c1bbb6;
    border-bottom: 1px solid #c1bbb6;
    position: absolute;
    top: -50px;
    left: -70px;
}
.wp_review_comments_template #commentform label {
    position: relative;
    left: 0;
    right:0;
 }
.wp_review_comments_template input.text-input, .wp_review_comments_template #commentform input { padding: 11px }
.wp_review_comments_template input#author, .wp_review_comments_template  input#email, .wp_review_comments_template input#url {
    max-width: 100%;
    box-sizing: border-box;
}
.wp_review_comments_template input#author, .wp_review_comments_template input#email, .wp_review_comments_template input#url, .wp_review_comments_template #comment { transition: all 0.25s ease-in-out }
.wp_review_comments_template #cancel-comment-reply-link {
    float: right;
    line-height: 24px;
    margin-top: 0;
}
.wp_review_comments_template .comment-reply-link {
    float: left;
    margin: 0;
}
.wp_review_comments_template .reply a {
    font-weight: normal;
    font-size: inherit;
}
.wp_review_comments_template #cancel-comment-reply-link {
    cursor: pointer;
    margin-bottom: -20px;
    z-index: 100;
    position: relative;
}
.wp_review_comments_template #comments .error { color: red }
.wp_review_comments_template #comments .thanks p { color: green }
.wp_review_comments_template ol.commentlist {
    margin-left: 0;
    margin-right: 0;
    margin-top: 13px;
    padding: 0;
}
.wp_review_comments_template .comment, .wp_review_comments_template .pingback, .wp_review_comments_template .trackback {
    list-style: none;
    margin: 0 0 30px 0;
    float: left;
    box-sizing: border-box;
    width: 100%!important;
    position: relative;
    padding: 0;
}
.wp_review_comments_template .commentlist p {
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.wp_review_comments_template #comments .ago {
    color: #999;
    text-transform: uppercase;
    font-size: 12px;
}
.wp_review_comments_template #comments .fn {
    display: inline-block;
    line-height: 1.375em;
    font-weight: bold;
    padding: 0;
}
.wp_review_comments_template #comments .fn a {
    font-weight: bold;
    font-size: 15px;
}
.wp_review_comments_template #comments .bypostauthor .fn:after, .wp_review_comments_template #comments .bypostauthor .fn > span:after {
    content: "";
    padding: 0;
}
.wp_review_comments_template .comment-meta { font-size: 12px ; display: inline-block; }
.wp_review_comments_template .commentmetadata { overflow: hidden }
.wp_review_comments_template .commentmetadata li {
    border: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
    list-style: square;
}
.wp_review_comments_template .commentmetadata ol li { list-style: decimal }
.wp_review_comments_template .wp-review-comment-rating { margin-left: -3px; }
.wp_review_comments_template #commentform .wp-review-comment-field a i, .wp_review_comments_template #commentform .wp-review-comment-field .review-result i, .wp_review_comments_template .comment .wp-review-comment-rating .review-result i, .wp_review_comments_template .comment .wp-review-comment-rating a i { color: #FFB300!important }
.wp_review_comments_template #commentsAdd #respond h4 { margin-bottom: 19px }
.wp_review_comments_template .comment #respond #respond { margin-top: 20px }
.wp_review_comments_template .commentlist .children {
    margin-left: 10%;
    margin-bottom: 0;
    margin-top: 0;
    float: left;
    width: 90%;
    box-sizing: border-box;
}
.wp_review_comments_template .commentlist .children li { margin-bottom: 0 }
.wp_review_comments_template #respond h3 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.wp_review_comments_template .comment-awaiting-moderation {
    font-style: italic;
    font-weight: bold;
}
.wp_review_comments_template .commentmetadata ul, .wp_review_comments_template .commentmetadata ol { margin-top: 5px }
/*-[ Comment Form ]----------------------------*/
.wp_review_comments_template #commentform p {
    margin-bottom: 15px;
    float: left;
    width: 100%;
    clear: both;
    margin-right: 0;
    margin-left: 0;
}
.wp_review_comments_template #commentform p label {
    display: inline-block;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0;
}
.wp_review_comments_template .cancel-comment-reply a {
    float: right;
    margin-top: -8px;
}
.wp_review_comments_template .required {
    color: red;
    padding: 0;
    line-height: 1;
}
.wp_review_comments_template .comment-notes .required {
    padding-left: 0;
    padding-top: 3px;
}
.wp_review_comments_template .comment-notes { font-style: italic }
.wp_review_comments_template #commentform .wp-review-comment-field a i, .wp_review_comments_template #commentform .wp-review-comment-field .review-result i, .wp_review_comments_template .comment .wp-review-comment-rating .review-result i, .wp_review_comments_template .comment .wp-review-comment-rating a i { color: #FFB300!important }

.wp_review_comments_template .commentlist .children .comment > div { padding: 0 }
.wp_review_comments_template #commentform { padding: 3% }
/*RTL*/
.rtl.wp_review_comments_template .nocomments, .rtl.wp_review_comments_template #comments, .rtl.wp_review_comments_template #commentsAdd, .rtl.wp_review_comments_template #comments .avatar, .rtl.wp_review_comments_template .comment, .rtl.wp_review_comments_template .pingback, .rtl.wp_review_comments_template .trackback, .rtl.wp_review_comments_template #commentform p, .rtl.wp_review_comments_template .comment-reply-link { float: right; }
.rtl.wp_review_comments_template .comment time { padding-left: 0; padding-right: 10px }
.rtl.wp_review_comments_template ul.children .commentImageLeft {
    border-right: 1px solid #c1bbb6;
    border-left: 0;
    left: auto;
    right: -70px;
}
.rtl.wp_review_comments_template #cancel-comment-reply-link { float: left }
.rtl.wp_review_comments_template .wp-review-comment-rating { margin-left: auto; margin-right: -3px; }
.rtl.wp_review_comments_template .commentlist .children {
    margin-right: 10%;
    margin-left: 0;
    float: right;
}