/*
* Plugin Name: WP Review Pro
* Plugin URI: http://mythemeshop.com/plugins/wp-review-pro/
* Description: Create reviews! Choose from Stars, Percentages, Circles or Points for review scores. Supports Retina Display, WPMU & Unlimited Color Schemes.
* Author: MyThemesShop
* Author URI: http://mythemeshop.com/
*/
.review-wrapper {
    border: 1px solid #e7e7e7;
    margin-bottom: 1.5em;
    clear: both;
    box-sizing: border-box;
}
.review-title {
    background-color: #f6f6f6;
    border-bottom: 1px solid #e7e7e7;
    margin: 0;
    padding: 10px 15px;
}
.review-wrapper .review-list {
    margin: 0;
    list-style: none;
    padding: 0;
}
.review-wrapper .review-list li {
    margin: 0;
    list-style: none;
}
.review-wrapper .review-list li:after {
    content: '';
    display: block;
    clear: both;
}
.review-links {
    list-style: none;
    padding: 10px 15px 15px;
    margin: 0;
    overflow: hidden;
}
.review-links li { display: inline-block; margin-bottom: 10px; }
.review-links:not(:last-child) a { margin-right: 10px }
.review-links li a {
    display: block;
    padding: 4px 10px;
    margin: 0 10px 0 0;
    border: 1px solid currentColor;
    border-radius: 5px;
}


.entry-content .review-wrapper li:last-child a {
    margin-right: 0;
}
.review-list li {
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 15px;
    position: relative;
    list-style: none !important;
}
.review-list li:nth-child(even) { background-color: #fafafa }
.review-list li:last-child { border-bottom: 1px solid #e7e7e7 }
.review-summary-title { margin-bottom: 5px }
.review-desc {
    padding: 10px 15px;
    box-sizing: border-box;
}
.review-desc p:last-child { margin-bottom: 0 }
.review-result-wrapper {
    font-size: 0;
    height: 20px;
}
.review-result-wrapper i {
    font-style: normal;
    font-size: 16px;
    padding: 0 1px;
}
.reviewed-item {
    display: inline-block;
    padding: 10px 15px;
    border-bottom: 1px solid #e7e7e7;
    width: 100%;
    box-sizing: border-box;
}
.reviewed-item-image {
    float: right;
    max-width: 50%;
    margin-left: 15px;
}
.rtl .reviewed-item-image {
    float: left;
    margin-left: 0;
    margin-right: 15px;
}
/*.reviewed-item-data {
    overflow: hidden;
}*/
.reviewed-item-data-label { display: inline-block }
.review-result {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    overflow: hidden;
    white-space: nowrap;
}
.rtl .review-result {
    left: auto;
    right: 0;
}
.review-total-wrapper {
    float: right;
    padding-right: 0;
    clear: both;
    position: relative;
    box-sizing: border-box;
    margin: 10px 15px 20px 15px;
}
.rtl .review-total-wrapper { float: left }
.review-total-wrapper span.review-total-box {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    display: block;
    font-size: 40px;
    font-weight: 700;
    text-align: right;
    margin: 0;
    padding: 35px 0 20px;
    width: 100%;
    box-sizing: border-box;
}
.circle-point span.review-total-box { height: 180px }
.review-total-wrapper span.review-total-box small {
    font-size: 12px;
    display: block;
}
.percentage-icon {
    font-size: 22px;
    position: relative;
    top: -14px;
}
.review-total-star {
    position: relative;
    margin-top: 5px;
    margin: 0 auto;
    float: right;
}
.review-star.review-total { position: relative }
.wp-review-loading-msg { display: none }
.wp-review-loading .wp-review-loading-msg { display: block }
.review-total {
    z-index: 99;
}
.rtl .review-total {
    left: auto;
    right: 0;
}
.review-star {
    position: relative;
    margin-top: 5px;
    margin: 3px auto;
    display: inline-block;
}
.postbox .review-star {
    position: relative;
    right: auto;
    top: auto;
}
.review-list .review-star, .user-review-area .review-star, .review-total-circle .review-star, .wp-review-point-type .review-total-circle .review-star, .wp-review-percentage-type .review-total-circle .review-star {
    float: right;
    margin-left: 10px;
}
 .rtl .review-list .review-star,  .rtl .user-review-area .review-star,  .rtl .review-total-circle .review-star, .rtl .wp-review-point-type .review-total-circle .review-star, .rtl .wp-review-percentage-type .review-total-circle .review-star {
    float: left;
    margin-right: 10px;
    margin-left :0;
 }
.review-total-star .review-result { background: none !important }
.review-total-circle .review-result-wrapper { background: none !important }
/**
 * Bar & Percentage Point
 */
.circle-point .review-list li { padding: 14px 15px }
.review-point .review-result-wrapper, .review-percentage .review-result-wrapper {
    background: rgba(0,0,0,0.1);
    width: 100%;
    height: 22px;
}
.review-point .review-result-wrapper { background-color: rgba(0,0,0,0.1) }
.wp-review-point-type .review-result, .wp-review-percentage-type .review-result, .review-total-point .review-result {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 22px;
    z-index: 99;
}
.rtl .wp-review-point-type .review-result, .rtl .wp-review-percentage-type .review-result, .rtl  .review-total-point .review-result {
    left: auto;
    right: 0px;
}
.review-total-star.allowed-to-rate .review-result-wrapper { background: none }
.wp-review-point-type .review-total-point .review-result-wrapper { background: none }
.review-total-percentage.allowed-to-rate.has-not-rated-yet, .review-total-point.allowed-to-rate.has-not-rated-yet {
    float: none;
    cursor: pointer;
}
.review-percentage .review-result-wrapper, .review-point .review-result-wrapper {
    position: relative;
    width: 100%;
}
.review-percentage .review-result, .review-point .review-result { background: currentColor }
.wp-review-comment-rating.wp-review-comment-rating-point .review-result-wrapper, .wp-review-user-rating.wp-review-user-rating-point .review-result-wrapper, .wp-review-comment-rating.wp-review-comment-rating-percentage .review-result-wrapper, .wp-review-user-rating.wp-review-user-rating-percentage .review-result-wrapper { cursor: pointer }
.wp-review-user-rating.wp-review-user-rating-point.has-rated .review-result-wrapper, .wp-review-user-rating.wp-review-user-rating-percentage.has-rated .review-result-wrapper { cursor: default }
.wp-review-comment-rating.wp-review-comment-rating-point .review-result-wrapper:hover .review-result, .wp-review-user-rating.wp-review-user-rating-point .review-result-wrapper:hover .review-result, .wp-review-comment-rating.wp-review-comment-rating-percentage .review-result-wrapper:hover .review-result, .wp-review-user-rating.wp-review-user-rating-percentage .review-result-wrapper:hover .review-result {
    display: block;
    transition: none;
}
.review-point, .review-percentage {
    position: relative;
    clear: both;
}
.wp-review-your-rating {
    position: absolute;
    top: 102%;
    left: 45%;
    font-size: 12px;
    line-height: 18px;
    background: #f0f0f0;
    color: #444;
    pointer-events: none;
    z-index: 999;
    display: none;
    white-space: nowrap;
    padding: 2px 4px;
    border-radius: 0 5px 5px 5px;
}
.rtl .wp-review-your-rating {
    left: auto;
    right: 45%;
}
.review-point:hover .wp-review-your-rating, .wp-review-input-set .review-point .wp-review-your-rating, .review-percentage:hover .wp-review-your-rating, .wp-review-input-set .review-percentage .wp-review-your-rating { display: block }
.review-result-text {
    position: absolute;
    left: 4px;
    top: 0px;
    font-size: 16px;
    line-height: 22px;
    display: none;
}
.rtl .review-result-text {
    left: auto;
    right: 4px;
}
.wp-review-usercomment-rating .review-result-text, .wp-admin .review-result-text { display: block }
/**
 * Circle
 */
.review-total-circle.allowed-to-rate.has-not-rated-yet .review-result-wrapper { cursor: pointer }
.user-review-area .wp-review-user-rating { float: right }
.rtl .user-review-area .wp-review-user-rating { float: left }
.wp-review-user-rating-circle .review-result-wrapper { text-align: right }
.wp-review-circle-rating-send-button { display: none }
.wp-review-circle-rating-send { text-decoration: underline }
.wp-review-circle-rating-send:hover { color: #444 }
.wp-review-input-set .wp-review-circle-rating-send-button {
    display: block;
    text-align: center;
}
.review-wrapper .wp-review-circle-rating { padding: 0; width: auto; display: inline;}
.user-review-area .review-circle { float: right }
.wp-review-comment-rating-circle .wp-review-circle-rating-send-button { display: none !important }
.review-list .review-circle {
    float: right;
    margin-top: -4px;
}
.wp-review-circle-type .review-total-wrapper > .review-total-box { display: none }
.review-circle.review-total {
    height: 100px;
    width: 100px;
}
/**
 * Twenty series themes compatibilty
 */
.entry-content .review-title, #content .review-title { margin: 0 }
.entry-content .review-summary-title, #content .review-summary-title, .entry-content .reviewed-item p, #content .reviewed-item p { margin-bottom: 5px }
#content .review-desc p:last-child { margin-bottom: 0 }
/**
 * Basic styling for wp_review_display_total
 */
.review-total-only {
    padding: 3px 8px;
    background: #fff;
    display: inline-block;
}
.review-total-only .percentage-icon {
    font-size: inherit;
    top: 0;
}
.review-total-only .review-type-star {
    font-size: 12px;
    padding: 3px 6px;
}
.review-total-only .review-total-star {
    font-size: 12px;
    margin: 0;
}
.review-total-only canvas {
    width: 21px!important;
    height: auto!important;
}
.review-result-wrapper i {
    opacity: 0.50;
    filter: alpha(opacity=50);
}
.review-result-wrapper .review-result i {
    opacity: 1;
    filter: alpha(opacity=100);
}
.wp-review-box-float-left { margin-right: 20px }
.wp-review-box-float-right { margin-left: 20px }
/**
 * Users review area
 */
.user-review-area {
    border-top: 1px solid #e7e7e7;
    padding: 10px 15px;
    position: relative;
    clear: both;
    overflow: hidden;
}
.user-total-wrapper {
    margin: 0;
}
.review-total-star.allowed-to-rate {
    float: right;
    margin: 0;
}
.user-total-wrapper .user-review-title {
    font-weight: bold;
    margin: 0;
}
.wp-review-user-rating .review-result-wrapper span { cursor: pointer }
.wp-review-user-rating .review-result-wrapper span i { opacity: 0.2 }
.wp-review-user-rating .review-result-wrapper:hover span i { opacity: 1 }
.wp-review-user-rating .review-result-wrapper span:hover ~ span i { opacity: 0.2 }
.wp-review-user-rating .review-result-wrapper:hover .review-result { display: none }
.wp-review-user-rating.has-rated .review-result-wrapper:hover .review-result { display: block }
.wp-review-user-rating.wp-review-loading .review-result-wrapper, .wp-review-user-rating.wp-review-loading .wp-review-your-rating { display: none }
/**
 * Review in comments
 */
.wp-review-comment-field { margin-bottom: 10px }
.review-comment-field-msg { margin-right: 12px }
.review-total-star-comments {
    position: relative;
    display: inline-block;
}
.comment-text-inner { clear: both }
.wp-review-comment-rating .review-result-wrapper span { cursor: pointer }
.wp-review-comment-rating .review-result-wrapper span i { opacity: 0.2 }
.rtl .wp-review-comment-rating .review-result-wrapper span i { float: right }
.wp-review-comment-rating .review-result-wrapper:hover span i {
    opacity: 1;
    color: #FFB300;
}
.wp-review-comment-rating .review-result-wrapper span:hover ~ span i {
    opacity: 0.2;
    color: currentColor;
}
.wp-review-comment-rating .review-result-wrapper:hover .review-result { display: none }
.wp-review-feedback .review-btn {
    display: inline-block;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #eee;
    padding: 3px 9px;
    color: #333;
    border-radius: 4px;
}
#comments .wp-review-feedback a span { display: inline-block; }
.wp-review-feedback .review-btn.voted {
    background: #4CAF50;
    color: #fff;
}
.wp-review-feedback .review-btn.voted, .wp-review-feedback .review-btn.voted ~ a { cursor: default }
.wp-review-feedback .review-btn:hover {
    text-decoration: none;
    background: #4CAF50;
    color: #fff;
}
.wp-review-feedback .review-btn:nth-child(2) { margin-left: 5px }
.rtl .wp-review-feedback .review-btn:nth-child(2) { margin-left: auto; margin-right: 5px; }
.wp-review-feedback .review-btn:nth-child(2):hover, .wp-review-feedback .review-btn.voted:nth-child(2) {
    background-color: #F44336;
    color: #fff;
}
.wp-review-comment-title-field {

}
.wp-review-comment-title-field-input { /* margin-left: 20px; _NO__DOTCOMMA__AFTER__*/ }
.wp-review-comment-rating-circle-wrapper .review-comment-field-msg {
    vertical-align: middle;
    margin-right: 0;
}
.wp-review-comment-rating-circle-wrapper .wp-review-comment-field-inner {
    display: inline-block;
    vertical-align: middle;
}
.wp-review-comment-rating .review-result-wrapper a {
    text-decoration: none;
    border: none;
}
.wp-review-comment-rating-star .review-total-star { float: none }
.wp-review-comment-rating-circle-wrapper .wp-review-comment-field-inner { display: inline-block }
.wp-review-comment-rating-star-wrapper .wp-review-comment-field-inner { display: inline-block }
.wp-review-usercomment-rating .review-star {
    position: relative;
    top: 0;
    right: 0;
    display: inline-block;
}
.wp-review-usercomment-rating { margin-bottom: 10px }
.wp-review-comment-rating-star { display: inline-block }
form.wp-review-comment-form input, #commentform.wp-review-comment-form input {
    width: 100%;
    background: rgba(0, 0, 0, 0.035);
    border: 1px solid rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.31);
    max-width: 100%;
    height: 48px;
    font-size: 16px;
    padding-left: 2.5%;
    box-sizing: border-box;
}
.rtl form.wp-review-comment-form input, .rtl #commentform.wp-review-comment-form input {
    padding-left: auto;
    padding-right: 2.5%;
}
form.wp-review-comment-form textarea, #commentform.wp-review-comment-form textarea {
    width: 100%;
    background: rgba(0, 0, 0, 0.035);
    border: 1px solid rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.31);
    max-width: 100%;
    font-size: 16px;
    padding-left: 2.5%;
    box-sizing: border-box;
}
.rtl form.wp-review-comment-form textarea, .rtl #commentform.wp-review-comment-form textarea {
    padding-left: auto;
    padding-right: 2.5%;
}
form.wp-review-comment-form > div, #commentform.wp-review-comment-form > div {
    width: 100%;
    margin-bottom: 10px;
    float: left;
}
.rtl form.wp-review-comment-form > div, .rtl #commentform.wp-review-comment-form > div { float: right }
/**
 * Show on thumbnails
 */
.wp-review-thumbnail-wrapper { position: relative }
.wp-review-on-thumbnail {
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    padding: 2px 4px;
}
.wp-review-on-thumbnail.review-type-star .review-total-star { margin: 0 }
.review-type-circle.latestPost-review-wrapper, .review-type-circle.wp-review-on-thumbnail {
    height: 35px;
    background: #fff;
}
.latestPost-review-wrapper .wp-review-circle-rating, .wp-review-on-thumbnail .wp-review-circle-rating { font-size: 11px !important }
.review-type-circle.review-total-only, .review-type-circle.wp-review-show-total {
    padding-top: 6px;
    height: 34px;
}
.review-type-star.latestPost-review-wrapper {
    padding: 2px 8px;
}
.widget .wp-review-show-total .review-star, .widget .wp-review-user-rating .review-star {
    position: relative;
    top: 0;
    right: 0;
}
/**
 * Animation
 */
.review-wrapper .review-result { transition: width 2s ease }
.review-wrapper.delay-animation .review-result {
    width: 0% !important;
    transition: none;
}
/**
 * Font icon
 */
@font-face {
  font-family: 'font-icons';
  src: url('../fonts/font-icons.eot');
  src: url('../fonts/font-icons.eot') format('embedded-opentype'),
       url('../fonts/font-icons.woff') format('woff'),
       url('../fonts/font-icons.ttf') format('truetype'),
       url('../fonts/font-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class^="mts-icon-"]:before, [class*=" mts-icon-"]:before {
  font-family: "font-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 2px;
}

[class*="mts-icon-loader"]:before {
  font-family: "font-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
.mts-icon-star:before { content: '\e800'; }
.mts-icon-loader:before { content: '\e801'; }

/*
   Spin Animation For Loader
*/
.animate-spin {
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  display: inline-block;
}
@-webkit-keyframes spin { 
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}
@keyframes spin { 
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}
/*-----------------------------------------------------*/
/* Responsvie
/*-----------------------------------------------------*/
@media screen and (max-width:470px) {
  .review-total-wrapper {
      margin-right: 19px;
      text-align: right;
  }
  .review-total-wrapper span.review-total-box {
      padding: 10px 0 20px;
      text-align: right;
      padding-left: 10px;
  }
  .rtl .review-total-wrapper span.review-total-box {
      padding: 10px 0 20px;
      text-align: right;
      padding-left: 0;
      padding-right: 10px;
  }
  .review-total-star.allowed-to-rate {
      position: relative;
      right: auto;
      left: 0;
      float: left;
  }
  .rtl .review-total-star.allowed-to-rate{
      right: 0;
      left: auto;
      float: right;
  }
}
.rtl .review-total-box { unicode-bidi: isolate-override; }
.rtl .wp-review-user-rating-total { unicode-bidi: isolate; }
.rtl .wp-review-user-rating-total + small { unicode-bidi: plaintext; }
.rtl .review-links li a { margin: 0 0 0 10px }
