/*Magnificpopup*/
.admin-bar .mfp-wrap .mfp-close, 
.admin-bar .mfp-wrap .mfp-close:active, 
.admin-bar .mfp-wrap .mfp-close:hover, 
.admin-bar .mfp-wrap .mfp-close:focus{position: fixed;right: 30px;cursor: pointer !important;}
/*center-arrow-side*/
.njba-image-carousel-main .bx-wrapper .bx-next i,
.njba-image-carousel-main .bx-wrapper .bx-prev i{display: block;text-align: center;line-height: 37px;}
.njba-image-carousel-main .bx-wrapper .bx-controls-direction a.bx-next,
.njba-image-carousel-main .bx-wrapper .bx-controls-direction a.bx-prev {height: 40px; margin-top: -20px;outline: 0 none;position: absolute;top: 50%;width: 40px;z-index: 99;font-size: 35px;background: #000000;text-indent: 0;
    line-height: 40px;display: block;color: #ffffff;}
.njba-image-carousel-main .bx-wrapper .bx-controls-direction a.bx-next {right: 0;}
.njba-image-carousel-main .bx-wrapper .bx-controls-direction a.bx-prev {left: 0;}
.njba-image-carousel-main .bx-wrapper .bx-controls-direction a:active,
.njba-image-carousel-main .bx-wrapper .bx-controls-direction a:focus,
.njba-image-carousel-main .bx-wrapper .bx-controls-direction a:hover {text-decoration: none;}
.njba-image-carousel-main img.njba-image-responsive {width: 100%;}
.njba-image-carousel-wrapper a.njba-image-carousel {text-decoration: none;}
.njba-image-carousel-main .njba-image-box-img {position: relative;overflow: hidden;}
.njba-image-carousel-main .njba-image-carousel-box{position:relative;overflow: hidden;}
.njba-image-carousel-main .njba-image-box-overlay {background-color: rgba(0, 0, 0, 0.5);bottom: 0;left: 0;position: absolute;right: 0;top: 0;z-index: 1;opacity: 0;transform: scaleY(0);transition: all 0.3s;}
.njba-image-carousel-main .njba-image-carousel-box:hover .njba-image-box-overlay {opacity: 1;transform: scaleY(1);}
.njba-image-box-content {display: table;height: 100%;width: 100%;}
.njba-image-box-content h2.njba-caption{display: table-cell;height: 100%;vertical-align:middle;text-align:center;color:#fff;font-size:18px;font-weight:500;width: 100%;text-transform: capitalize;}
.njba-image-carousel-main .njba-video_overlay{display: none;}
.njba-image-carousel-main .magnific-video .njba-video_overlay{display: block;position: absolute;top: 0;bottom: 0;left: 0;right: 0;z-index: 11;}
.njba-image-carousel-main .magnific-video .njba-video_icon_table{display: table;width: 100%;height:100%;}
.njba-image-carousel-main .magnific-video .njba-video_icon{display: table-cell;width: 100%;height:100%;text-align: center;vertical-align: middle;}
.njba-image-carousel-main .magnific-video .njba-video_icon i{font-size: 14px; color: #ffffff;background: #CC181E;width: 45px;border-radius: 0;height: 30px;line-height: 30px;}
.njba-image-carousel-main .njba-image-carousel-box:hover .njba-image-box-img img.zoom-in.njba-image-responsive {transform: scale(2);}
.njba-image-carousel-main .njba-image-carousel-box .njba-image-box-img img.zoom-in.njba-image-responsive {transition: all 10s;}
.njba-image-carousel-main .njba-image-carousel-box:hover .njba-image-box-img img.zoom-out.njba-image-responsive {transform: scale(1);}
.njba-image-carousel-main .njba-image-carousel-box .njba-image-box-img img.zoom-out.njba-image-responsive {transition: all 2s linear;transform: scale(2);}
.njba-image-carousel-main .njba-image-carousel-box:hover .njba-image-box-overlay.rotate-right { opacity: 1;transform: scale(1) rotate(360deg);}
.njba-image-carousel-main .njba-image-box-overlay.rotate-right {transform: scale(0) rotate(0deg);}
.njba-image-carousel-main .njba-image-carousel-box:hover .njba-image-box-overlay.rotate-left { opacity: 1;transform: scale(1) rotate(-360deg);}
.njba-image-carousel-main .njba-image-box-overlay.rotate-left {transform: scale(0) rotate(0deg);}
/***Outside Below about photo Caption****/
.njba-image-box-content.outside_below h2.njba-caption{color:#000000;text-transform: capitalize;    margin: 0;}
.njba-image-box-content.outside_below { background-color: rgba(0, 0, 0, 0.5); bottom: 0; left: 0; padding: 10px 15px; right: 0; height: 100%;transition: all 0.3s;z-index: 2; position: relative;}
/***Outside Below about photo Caption****/
.njba-image-box-content.outside_top h2.njba-caption{color:#000000;text-transform: capitalize;    margin: 0;}
.njba-image-box-content.outside_top { background-color: rgba(0, 0, 0, 0.5); bottom: 0; left: 0; padding: 10px 15px; right: 0; height: 100%;transition: all 0.3s;z-index: 2; position: relative;}
/***Inside top about photo Caption****/
.njba-image-box-content.inside_top	 h2.njba-caption{color:#000000;text-transform: capitalize;    margin: 0;}
.njba-image-box-content.inside_top { background-color: rgba(0, 0, 0, 0.5); top: 0; left: 0; padding: 10px 15px; right: 0; height: 100%;position: absolute;z-index: 1;transition: all 0.3s;}
/***Inside Bottom about photo Caption****/
.njba-image-box-content.inside_below	 h2.njba-caption{color:#000000;text-transform: capitalize;    margin: 0;}
.njba-image-box-content.inside_below { background-color: rgba(0, 0, 0, 0.5); bottom: 0; left: 0; padding: 10px 15px; right: 0; height: 100%;position: absolute;transition: all 0.3s;}
.njba-image-carousel-box:hover .njba-image-box-content.inside_top,
.njba-image-carousel-box:hover .njba-image-box-content.inside_below{opacity: 0;}
.njba-image-box-content.njba-image-box-hover {display: table;height: 100%;width: 100%;}
.njba-image-box-content.njba-image-box-hover h3 {display: table-cell;height: 100%;vertical-align: middle;width: 100%;}
