/* Various Icons */
.gdbbx-image-mark {
    background: transparent url(icons.png);
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 4px;
}

.gdbbx-image-mark.gdbbx-image-lock {
    background-position: 0 -288px;
}

.gdbbx-image-mark.gdbbx-image-reply {
    background-position: 0 -304px;
}

.gdbbx-image-mark.gdbbx-image-stick {
    background-position: 0 -320px;
}

.gdbbx-image-mark.gdbbx-image-private {
    background-position: 0 -336px;
}

.gdbbx-image-mark.gdbbx-image-arrow {
    background-position: 0 -352px;
    margin-left: 4px;
    margin-right: 0;
}
/* Various Icons */

/* Attachment Icons */
.gdbbx-attachments ol.with-icons li {
    line-height: 16px;
    height: 16px;
    list-style: none;
    padding: 0 0 0 18px;
}

.gdbbx-attachments li.gdbbx-image {
    background: transparent url(icons.png) no-repeat !important;
}

.gdbbx-attachments li.gdbbx-image.gdbbx-image-ai {
    background-position: 0 -128px  !important;
}

.gdbbx-attachments li.gdbbx-image.gdbbx-image-archive {
    background-position: 0 -144px !important;
}

.gdbbx-attachments li.gdbbx-image.gdbbx-image-audio {
    background-position: 0 -256px !important;
}

.gdbbx-attachments li.gdbbx-image.gdbbx-image-code {
    background-position: 0 -32px !important;
}

.gdbbx-attachments li.gdbbx-image.gdbbx-image-documents {
    background-position: 0 -240px !important;
}

.gdbbx-attachments li.gdbbx-image.gdbbx-image-excel {
    background-position: 0 -64px !important;
}

.gdbbx-attachments li.gdbbx-image.gdbbx-image-generic {
    background-position: 0 -16px !important;
}

.gdbbx-attachments li.gdbbx-image.gdbbx-image-html {
    background-position: 0 -208px !important;
}

.gdbbx-attachments li.gdbbx-image.gdbbx-image-icon {
    background-position: 0 -272px !important;
}

.gdbbx-attachments li.gdbbx-image.gdbbx-image-image {
    background-position: 0 -96px !important;
}

.gdbbx-attachments li.gdbbx-image.gdbbx-image-pdf {
    background-position: 0 -192px !important;
}

.gdbbx-attachments li.gdbbx-image.gdbbx-image-powerpoint {
    background-position: 0 -176px !important;
}

.gdbbx-attachments li.gdbbx-image.gdbbx-image-psd {
    background-position: 0 -112px !important;
}

.gdbbx-attachments li.gdbbx-image.gdbbx-image-text {
    background-position: 0 -160px !important;
}

.gdbbx-attachments li.gdbbx-image.gdbbx-image-video {
    background-position: 0 -224px !important;
}

.gdbbx-attachments li.gdbbx-image.gdbbx-image-word {
    background-position: 0 -80px !important;
}

.gdbbx-attachments li.gdbbx-image.gdbbx-image-xml {
    background-position: 0 -48px !important;
}
/* Attachment Icons */
