/* image box css start    */
	.njba-row{
		margin-left:-15px;
		margin-right:-15px;	
	}
	
	.njba-image-responsive{max-width:100%;height:auto;display:block;}
	.njba-col-xs-1 , .njba-col-xs-2 , .njba-col-xs-3 , 
	.njba-col-xs-4 , .njba-col-xs-5 , .njba-col-sm-1 , 
	.njba-col-sm-2 , .njba-col-sm-3 , .njba-col-sm-4 , 
	.njba-col-sm-5 , .njba-col-md-1 , .njba-col-md-2 , 
	.njba-col-md-3 , .njba-col-md-4 , .njba-col-md-5 , 
	.njba-col-lg-1 , .njba-col-lg-2 , .njba-col-lg-3 , 
	.njba-col-lg-4 , .njba-col-lg-5{float:left;padding:0 15px;}
	
	.njba-col-xs-1{width:100%;}
	.njba-col-xs-2{width:50%;}
	.njba-col-xs-3{width:33.33%;}
	.njba-col-xs-4{width:25%;}
	.njba-col-xs-5{width:20%;}
	
	.njba-col-sm-1{width:100%;}
	.njba-col-sm-2{width:50%;}
	.njba-col-sm-3{width:33.33%;}
	.njba-col-sm-4{width:25%;}
	.njba-col-sm-5{width:20%;}
	
	.njba-col-md-1{width:100%;}
	.njba-col-md-2{width:50%;}
	.njba-col-md-3{width:33.33%;}
	.njba-col-md-4{width:25%;}
	.njba-col-md-5{width:20%;}
	
	.njba-col-lg-1{width:100%;}
	.njba-col-lg-2{width:50%;}
	.njba-col-lg-3{width:33.33%;}
	.njba-col-lg-4{width:25%;}
	.njba-col-lg-5{width:20%;}
	
	
	.njba-image-hover-box-main {display: inline-block;width: 100%;}
	.njba-image-hover-box-main {padding:0;}
	.njba-image-hover-box-main .njba-image-box-img img{
		width:100%;
	}
	.njba-image-hover-box-main .njba-image-box{position:relative;overflow:hidden;}
	
	.njba-image-hover-box-main .njba-image-box-content h1{
		
		color: #fff;
		font-style:italic;
		font-weight:500;
	}
	.njba-square-hover .njba-image-box-overlay{
		
		bottom: 0;
		left: 0;
		top:0;
		text-align:center;
		padding: 10px 15px;
		
		position: absolute;
		right: 0;
	}
	.njba-image-hover-box-main .njba-image-box-content{
		display:table;
		width:100%;
		height:100%;	
	}
	.njba-image-hover-box-main .njba-image-box-content h1{
		display:table-cell;
		width:100%;
		vertical-align:middle;
		height:100%;	
	}
	.njba-image-hover-box-main .njba-square-hover .njba-box-border-line{
		border: 1px solid #ffffff;
		bottom: 0;
		left: 0;
		
		position: absolute;
		right: 0;
		top: 0;
		z-index: 3;
	}
	
/*layout-1*/
	
	.njba-square-hover .njba-box-line-top {
		height: 1px;
		left: -1px;
		top: -1px;
		width: 10%;
	}
	.njba-square-hover .njba-box-line-right {
		height: 10%;
		right: -1px;
		top: -1px;
		width: 1px;
	}
	.njba-square-hover .njba-box-line-bottom {
		bottom: -1px;
		height: 1px;
		right: -1px;
		width: 10%;
	}
	.njba-square-hover .njba-box-line-left {
		bottom: -1px;
		height: 10%;
		left: -1px;
		width: 1px;
	}
	.njba-square-hover .njba-box-line {
		
		position: absolute;
		transition: all 0.35s ease-out 0s;
	}
	.njba-image-box.njba-square-hover:hover .njba-box-line-top , .njba-image-box.njba-square-hover:hover .njba-box-line-bottom{width:calc(100% + 1px);}
	.njba-image-box.njba-square-hover:hover .njba-box-line-right , .njba-image-box.njba-square-hover:hover .njba-box-line-left{height:calc(100% + 1px);}
/*layout 2*/
	.njba-image-box.njba-square-hover-two .njba-image-box-content h1{color:#000;}/*comman css*/
	.njba-image-box-collum {
		padding: 0;
	}
	.njba-square-hover-two .njba-image-box-overlay{/*comman css*/
		bottom: 0;
		left: 0;
		top:0;
		text-align:center;
		padding:15px;
		transition:all 0.3s;
		position: absolute;
		right: 0;
	}
	.njba-image-box.njba-square-hover-two:hover .njba-image-box-overlay{padding:35px;}
	.njba-image-box.njba-square-hover-two .njba-image-box-content h1 {
		transform: scale(0);
		transition:all 0.3s;
	}
	.njba-image-box.njba-square-hover-two:hover .njba-image-box-content h1 {
		transform: scale(1);		
	}
	.njba-image-box.njba-square-hover-two .njba-image-box-content{
		background-color: rgba(255, 255, 255, 0.0);	
		transition:all 0.3s;
	}
	
/*layout 3*/
.njba-image-box.njba-square-hover-three .njba-image-box-img{
	position:relative;	
}
.njba-image-box.njba-square-hover-three {
	position:relative;
	
	overflow:hidden;
}
.njba-image-box.njba-square-hover-three .njba-image-box-overlay {/*comman css*/
    
    bottom: 0;
    left: 0;
    
    position: absolute;
    right: 0;
	opacity:0;
	transform: scale(1.3);
    text-align: center;
    top: 0;
    transition: all 0.3s ease 0s;
}
.njba-image-box.njba-square-hover-three .njba-box-border-line {
    border: 1px solid;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(45deg) scale(1.3);
    width: 100%;
    z-index: 1;
	transition: all 0.3s ease 0s;
	opacity:0;
}
.njba-image-box.njba-square-hover-three .njba-box-border-line-double {
    border: 1px solid;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(90deg);
    z-index: 1;
}
.njba-image-box.njba-square-hover-three:hover .njba-box-border-line {
	opacity:1;	
	transform: rotate(45deg) scale(1.2);
}
.njba-image-box.njba-square-hover-three:hover .njba-image-box-overlay {
	opacity:1;	
	
	transform: scale(1);
}
	
/*layour 4*/
.njba-image-box.njba-square-hover-four .njba-image-box-overlay {/*comman css*/
    
    bottom: 0;
    left: 0;
    padding: 10px 15px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0%;
}
.njba-image-box.njba-square-hover-four .njba-image-box-img {
    position: relative;
    transform:translate(0% , 0%);
	transition: all 0.3s ease 0s;
}
.hover-one .njba-image-box.njba-square-hover-four .njba-image-box-overlay {
	transform:translate(0% , 100%);
    transition: all 0.3s ease 0s;
}
.hover-one .njba-image-box.njba-square-hover-four:hover .njba-image-box-img{
	transform:translate(0% , -100%);
}
.hover-one .njba-image-box.njba-square-hover-four:hover .njba-image-box-overlay{
	transform:translate(0% , 0%);
}
.hover-two .njba-image-box.njba-square-hover-four .njba-image-box-overlay {
	transform:translate(0% , -100%);
    transition: all 0.3s ease 0s;
}
.hover-two .njba-image-box.njba-square-hover-four:hover .njba-image-box-img{
	transform:translate(0% , 100%);
}
.hover-two .njba-image-box.njba-square-hover-four:hover .njba-image-box-overlay{
	transform:translate(0% , 0%);
}
.hover-three .njba-image-box.njba-square-hover-four .njba-image-box-overlay {
	transform:translate(-100% , 0%);
    transition: all 0.3s ease 0s;
}
.hover-three .njba-image-box.njba-square-hover-four:hover .njba-image-box-img{
	transform:translate(100% , 0%);
}
.hover-three .njba-image-box.njba-square-hover-four:hover .njba-image-box-overlay{
	transform:translate(0% , 0%);
}
.hover-four .njba-image-box.njba-square-hover-four .njba-image-box-overlay {
	transform:translate(100% , 0%);
    transition: all 0.3s ease 0s;
}
.hover-four .njba-image-box.njba-square-hover-four:hover .njba-image-box-img{
	transform:translate(-100% , 0%);
}
.hover-four .njba-image-box.njba-square-hover-four:hover .njba-image-box-overlay{
	transform:translate(0% , 0%);
}
/*layour 5*/
.njba-image-box.njba-square-hover-five{
    border-radius: 50%;
    overflow: hidden;
	margin: 10px;
}
.njba-image-box.njba-square-hover-five .njba-image-box-overlay {/*comman css*/
    background-color: rgba(0, 0, 0, 0.0);
    bottom: 0;
    left: 0;
    padding:15px;
    position: absolute;
    right: 0;
	opacity:0;
	transform: scale(1) rotate(90deg);
    text-align: center;
    top: 0;
    
}
.njba-image-box.njba-square-hover-five:hover .njba-image-box-overlay {
	opacity: 1;
    transform: rotate(0deg);
}
	
@media (max-width:990px){
	.njba-col-sm-6{width:50%;}
	.njba-image-box-collum {padding: 14px 15px;}
	.njba-image-box.njba-square-hover-four ,.njba-image-box.njba-square-hover{margin-bottom: 30px;}
}	
@media (max-width:767px){
	.njba-col-xs-12{width:100%;}
}
