/* Administration stylesheet for MainWP Sucuri Extension */
.mainwp_sucuri_report_content_box{
	margin: 25px 0;
	position: relative;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	background: #fff;
}
.mainwp_sucuri_report_content_box a {
	text-decoration: none;
}
.mainwp_sucuri_report_content_box .handlediv{
	float: right;
	height: 30px;
	width: 27px;
}
.mainwp_sucuri_report_content_box .handlelnk{
	margin: 10px 10px 0;
	float: right;
	text-decoration: none;
}
.mainwp_sucuri_report_content_box .handlediv:before{
	content: '\f142';
}
.mainwp_sucuri_report_content_box.closed .handlediv:before{
	content: '\f140';
}
.mainwp_sucuri_report_content_box .handlediv:before{
	right: 12px;
	font: normal 20px/1 'dashicons';
	speak: none;
	display: inline-block;
	padding: 8px 10px;
	top: 0;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
}
.mainwp_sucuri_report_content_box h3{
	border-bottom: 1px solid #e5e5e5;
	margin: 0;
	font-size: 14px;
}
.mainwp_sucuri_report_content_box > h3{
	padding: 10px;
}
.scr-inside-box h3 {
	padding: 10px;
	/*border-top: 1px solid #e5e5e5;*/
}
.mainwp_sucuri_report_content_box > .scr-inside, .scr-inside-box > .scr-content{
	display: block;
}
.mainwp_sucuri_report_content_box.closed > .scr-inside, .scr-inside-box.closed > .scr-content{
	display: none;
}
.mainwp_sucuri_report_content_box .scr-inside, .mainwp_sucuri_report_content_box .scr-content{
	margin: 20px 10px;
}
.scr-inside-box {
	margin: 0;
	width: 100%;
}
.scr-inside-box .scr-content{
	margin: 10px 15px;
}
.mainwp_sucuri_report_content_box .green, .scr-content .scr-status{
	color: #7FB100;
}

.mainwp_sucuri_report_content_box .red{
	color: red;
}
.scr-row-actions {
	float: right;
}
.mainwp-sucuri-saved-report-list-item {
	border-bottom: 1px solid #E5E5E5;
	height: 25px;
	padding: 10px 0 0;
}

.scr-content .blue {
	color: 10074A2;
}
.scr-content .scr-status{
	font-weight: bold;
}
.scr-content label{
	display: inline-block;
	width: 250px;
}
.mainwp_sucuri_report_content_box .ui-state-error, .mainwp_sucuri_report_content_box .ui-state-highlight{
	border: 0;
	background: none;
}
.mainwp_sucuri_report_content_box .ui-icon-info, .mainwp_sucuri_report_content_box .ui-icon-alert {
	float: left;
	margin: 2px 5px 0;
}
.mainwp_sucuri_logo{
	float: right;
}
.mainwp_sucuri_report_content_box .mainwp-upgrade-button {
	float: right;
	margin-right: 80px;
}
.clearfix{
	clear: both;
}

.scr-row-actions .mainwp-sucuri-saved-report-delete{
	color: #BC0B0B;
}

.mainwp-sucuri-report-action-status{
	font-style:italic;
}
.mainwp-sucuri-report-loading{
	display: inline;
}

.scr-inside-box.closed .scr-report-content{
	display: none;
}

#mainwp-sr-tips {
	display: none;
}
.mainwp-sr-tut, #mainwp-sr-tips {
	display: none;
}

.mainwp_ext_info_box {
	background-color: #fff;
	border: 1px Solid #e5e5e5;
	padding: 1em;
	margin-bottom: 1em;
	text-decoration: none !important;
}

.mainwp_ext_info_box a {
	text-decoration: none !important;
}
