.ame-image-preview {
  border: 1px dashed #b4b9be;
  text-align: center;
  background: #f1f1f1;
  line-height: 0;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .ame-image-preview img {
    max-width: 100%; }

.ame-image-preview-placeholder {
  display: inline-block;
  padding: 10px;
  line-height: normal; }

.ame-image-selector-actions {
  display: block;
  margin-top: 0.8em; }

.ame-remove-image-link {
  line-height: 28px;
  margin-left: 1em; }

#ame-background-position-selector {
  margin-top: 0.5em;
  border-spacing: 0;
  border-collapse: collapse; }
  #ame-background-position-selector td {
    margin: 0;
    padding: 0;
    border: 2px solid silver;
    text-align: center;
    background: #fafafa; }
    #ame-background-position-selector td.ame-selected-background-position {
      background: Highlight; }
    #ame-background-position-selector td input {
      margin-right: 0; }
    #ame-background-position-selector td label {
      padding: 8px 10px;
      margin: 0 !important; }

#ame-login-page-settings .CodeMirror {
  height: auto; }
#ame-login-page-settings .CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
  min-height: 100px; }

/*# sourceMappingURL=login-page.css.map */
