.njba-counter .svg-container{
	display: inline-block;
	position: relative;
	z-index: 1;
	width: 100%;
	height: auto;
	padding-bottom: 100%;
}
.njba-counter .svg-container .svg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.njba-counter h1,.njba-counter  h2,.njba-counter  h3,.njba-counter  h4,.njba-counter  h5,.njba-counter  h6 ,.njba-counter p {
	margin: 0;
	padding: 0;
}
.njba-counter .njba-counter-bar {
    padding: 5px;
}
.njba-counter-before-text{
	margin-bottom: 10px;
}
.njba-counter-after-text{
	margin-top: 10px;
}
.njba-counter-before-text, .njba-counter-after-text{
	display: block;
}
.njba-counter .njba-counter-pos-above .njba-counter-bar {
    margin-top: 5px;
}
.njba-counter .njba-counter-pos-below .njba-counter-bar {
    margin-bottom: 5px;
}