@import '../../../woocommerce/assets/css/_mixins.scss';

@font-face {
	font-family: 'WC-Mix-And-Match';
	src: url('../fonts/WC-Mix-And-Match.eot');
	src: url('../fonts/WC-Mix-And-Match.eot?#iefix') format('embedded-opentype'),
		url('../fonts/WC-Mix-And-Match.woff') format('woff'),
		url('../fonts/WC-Mix-And-Match.ttf') format('truetype'),
		url('../fonts/WC-Mix-And-Match.svg#WC-Mix-And-Match') format('svg');
	font-weight: normal;
	font-style: normal;
}

// single product
.summary-add-to-cart-form-mnm {
	clear: both;
    margin-bottom: 3em;
}

.summary-add-to-cart-form-mnm:before {
	display: table;
	content: ' ';
	clear: both;
}

.mnm_form {
	ul.mnm_message_content li {
		list-style: none;
	}

	.mnm_reset {
		margin: 1.5em 0;
		display: block;
		text-decoration: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		&:after { 
			@include iconafter("\e031");
			font-family: 'WC-Mix-And-Match';
		}
	}

	.mnm_price:before {
		display: table;
		content: ' ';
		clear: both;
	}
}

.mnm_form.layout_grid ul.products li.product {

	.mnm_image {

		min-width: 100px;
		max-width: 100%;
		margin: 0 auto;
		text-align: center;

		img {
			margin-bottom: 1.5em;
		}
	}

	.mnm-quantity {
		width: 100%;

		input {
			margin: 0 auto;
			display: block;
		}
	}

	.product-details {
		margin-bottom: 1.5em;
		text-align: center;
	}
}


// Single product table.
.mnm_table {

	border-width: 0 0 1px 0;

	th, td { border: 0; }

	.product-thumbnail, .product-name, .product-quantity {
		min-width: 32px;
		vertical-align: middle;
	}

	.product-thumbnail {
		width: 25%;
	}

	.mnm_image {
		min-width: 100px;
		max-width: 300px;
		padding-right: 1em;
	}

	.mnm_image img {
		display: block;
	}

	.product-thumbnail, .product-name {
		text-align: left;
	}

	.product-quantity {
		text-align: center;
		width: 150px;
	}

	dl { font-size: 85%; }

	.qty {
		width: 3.631em;
		text-align: center;
	}
}

// Checkout/cart/my account tables.
.cart, .shop_table {
	.mnm_table_container {
		td {
			border-bottom: none !important;
		}
		dl { font-size: 85%; }
	}
	.mnm_table_item {
		border-bottom: none !important;
		td {
			border-top: none !important;
		}
		&:not(.mnm_table_item_last) td {
			border-bottom: none !important;
		}
		.product-name, .product-price, .product-quantity, .product-subtotal {
			font-size: 85%;
			font-weight: normal;
		}
		.mnm_table_item_indent {
			padding-left: 2em;
		}
		.product-quantity {
			text-align: center;
		}
		.mnm-quantity {
			font-size: 85%;
		}
		dl.variation {
			font-size: 100%;
		}
	}
}

// Wishlists.
.wishlist_mnm_items, .wishlist_mnm_notice { font-size: 85%; }

// Compatibility.
.single-product div.product form.cart {

	.mnm_table .quantity {
		float: none;
		display: inline-block;
		margin-right: 0;
	}

	.mnm_price p.price {
		margin: 0 0 1.5em;
	}
}
