// Admin Orders CSS
#woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items { 
	.mnm_table_container {
		td {
			border-bottom: none !important;
		}
		dl, .display_meta { 
			font-size: .96em; 
		}
	}
	.mnm_table_item {
		border-bottom: none !important;

		* { font-size: .96em; }

		td.name, td.thumb {
			padding-left: 3em;
		}
	}
}

.wc-order-preview-table {
	tr.wc-order-preview-table__item.mnm_table_item {
		* {
			font-size: 0.96em;
		}
		td.wc-order-preview-table__column--product {
			padding-left: 3em;
		}

		&:not(.last) td, td {
			border-bottom-color: #f8f8ff;
		}
	}
}