
form.is_bulk.variations_form, div#matrix_form {
	display:none;
}

#matrix_form .matrix-add-to-cart-wrap {
	border-top: 1px solid #C4C4C4;
	text-align: right;
	padding: 15px;
	width:100%;
}

#matrix_form_table, #matrix_form_table thead tr th, #matrix_form_table tbody tr td {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 100%;
	vertical-align: baseline;
	border-radius: 0px;
	background:none;

}

#matrix_form_table {
	border-collapse: separate;
	border-left: 1px solid #C4C4C4;
	border-top: 1px solid #C4C4C4;
	clear: both;
	float: none;
	max-width: 100%;
	overflow: hidden;
	width: 100%;
}

#matrix_form_table tbody tr td {
	border-top: 1px solid #C4C4C4;
	border-right: 1px solid #C4C4C4; 
	border-bottom: none;
	border-left:none;
}

#matrix_form_table tbody tr td.active {
	background-color: #fff;
	border-top: none !important;
}

#matrix_form_table tbody tr {
	background-color: #fafafa;
}

#matrix_form_table tbody tr.alt {
	background-color: #f5f5f5;
}

#matrix_form_table tr.info-row {
	background-color: #fff;
}

#matrix_form_table thead tr th {
	background-color: #C4C4C4;
	font-weight: bold;
	padding:10px;
	text-shadow: none;
	border-right: 1px solid #efefef;  
	border-top: none;
	border-left: none;
}

#matrix_form_table th, #matrix_form_table td {
	text-align: center;
}



#matrix_form_table input {
	width:55%;
	border:1px solid #C4C4C4;
	margin:0px;
}

#matrix_form_table td.row-label {
	background-color:whitesmoke;
	font-weight: bold;
	padding:10px;
}

.qty_input_info {
	margin:25px;
}

#matrix_form_table .qty_input_info .images {
	width:50px;
	height:50px;
	float:left;
	margin-right: 25px;
}

#matrix_form_table .qty_input_info .images img {
	max-width: 50px;
	max-height: 50px;
}

.qty_input_info .summary {
	float:left !important;
	text-align: left;
	margin-bottom:0px !important;
}

.qty_input_info .summary .product_title {
	font-weight: bold;
	margin-bottom:0px;
}

.qty_input_info .summary ul {
	list-style: none;
}


#wholesale_form input.error { border: 1px solid red; }

div.message{
	background: transparent url(../images/msg_arrow.gif) no-repeat scroll left center;
	padding-left: 7px;
}

div.error{
	background-color:#F3E6E6;
	border-color: #924949;
	border-style: solid solid solid none;
	border-width: 2px;
	padding: 5px;
}

/*
form.is_bulk.variations_form {
	display:block !important;
}

.button btn-single {
	display: none;
}
*/