<div class="spacing-container">
    <aside class="admin-pill-nav rounded">
        <a class="nav-item" routerLink="homepage" routerLinkActive="selected"><div class="name" trans>Homepage</div></a>
        <a class="nav-item" *ngFor="let page of settings.get('vebto.admin.settingsPages')" [routerLink]="page.route" routerLinkActive="selected"><div class="name">{{page.name}}</div></a>
        <a class="nav-item" routerLink="billing" *ngIf="!settings.get('vebto.admin.hideBilling')" routerLinkActive="selected"><div class="name" trans>Billing</div></a>
        <a class="nav-item" routerLink="localization" routerLinkActive="selected"><div class="name" trans>Localization</div></a>
        <a class="nav-item" routerLink="authentication" routerLinkActive="selected"><div class="name" trans>Authentication</div></a>
        <a class="nav-item" routerLink="uploading" routerLinkActive="selected"><div class="name" trans>Uploading</div></a>
        <a class="nav-item" routerLink="mail" routerLinkActive="selected"><div class="name" trans>Mail</div></a>
        <a class="nav-item" routerLink="cache" routerLinkActive="selected"><div class="name" trans>Cache</div></a>
        <a class="nav-item" routerLink="analytics" routerLinkActive="selected"><div class="name" trans>Analytics</div></a>
        <a class="nav-item" routerLink="logging" routerLinkActive="selected"><div class="name" trans>Logging</div></a>
        <a class="nav-item" routerLink="queue" routerLinkActive="selected"><div class="name" trans>Queue</div></a>
    </aside>

    <div class="settings-panels-container">
        <router-outlet></router-outlet>
    </div>
</div>