/* Clearfix */
.clearfix:before,
.clearfix:after {content: " ";display: table;}
.clearfix:after {clear: both;}
/*commen css*/
.njba-testimonial-main {padding-top: 35px;position: relative;}
.njba-review i {margin: 0 2px;}
.njba-testimonial-content {overflow-wrap: break-word;}
.njba-testimonial-heading{position: relative;margin-bottom: 40px;}
.njba-testimonial-heading h1::before {bottom: -15px;content: "";display: block;height: 2px;left: 0;margin: 0 auto; position: absolute; right: 0; width: 35px;}
/* Layouts */
.njba-testimonial-main.layout-3 .njba-content-arrow-left { border-top: 10px solid transparent; border-bottom: 10px solid transparent;border-right: 10px solid transparent;height: 0;left: 166px;position: absolute;top: 30px;width: 0;}
/* Layout 1 */
.njba-testimonial{text-align: center;}
/* Layout 2 */
.njba-testimonial.layout-2 {text-align: center;}
.njba-testimonial.layout-2 .njba-testimonial-body-right{display: inline-block;margin: 10px 0 0;}
.njba-testimonial.layout-2 .njba-testimonial-image{float: left;}
.njba-testimonial.layout-2 .njba-testimonial-image-right{float: left;margin-left: 15px;}
.njba-testimonial.layout-2  .njba-vertical-align {margin: 0 auto;}
.njba-testimonial.layout-2 .njba-content-wrapper  {margin-bottom: 25px;}
/* Layout 3 */
 .njba-testimonial.layout-3 .njba-arrow-wrapper.njba-center-arrow-side {margin-top: 0;}
 .njba-testimonial.layout-3 .njba-testimonial-body-left{float: left;margin-right: 20px;}
 .njba-testimonial.layout-3 .njba-testimonial-body-right{/*background-color: #f9f9f9;*/ overflow: hidden;padding: 0 0 20px;}
 .njba-testimonial.layout-3 .njba-content-arrow-left { border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-right: 10px solid transparent; height: 0; left: 166px; position: absolute; top: 30px; width: 0;}
 .njba-testimonial.layout-3 .njba-testimonial-body-indicator{overflow: hidden;position:relative;padding: 0 15px;}
 /* layout 4*/
 	 
.njba-testimonial.layout-4 .njba-testimonial-body {margin-top: 60px;}
.njba-testimonial.layout-4 .njba-testimonial-body {float: left;padding: 0 15px;position: relative;background: #f9f9f9 none repeat scroll 0 0;}		
.njba-testimonial.layout-4 .njba-testimonial-body-left { left: 0; margin: 0 auto; position: absolute;right: 0;}
.njba-testimonial.layout-4 .njba-testimonial-body-left {left: 0;margin: 0 auto;position: absolute;right: 0;top: -50px;}
.njba-testimonial.layout-4 .njba-testimonial-body-right {padding: 40px 0 40px;/*padding-top: 40px;*/}
.njba-testimonial{position: relative;padding: 35px 0 0;}
.njba-testimonial-main .bx-wrapper .bx-prev,
.njba-testimonial-main .bx-wrapper .bx-next {background: none;}
/* layout 6*/
.njba-testimonial.layout-6{padding: 30px 40px 0;color:#fff;}
.njba-testimonial.layout-6 .njba-testimonial-image img {border: 2px solid #fff;border-radius: 50%;height: auto;max-width: 100px;width: 100%;}
.njba-testimonial.layout-6 .njba-testimonial-body-left{background-color: #ff7777;border-radius: 50%;margin: 0 auto;overflow: hidden;padding: 10px;width: 100px;}
.njba-testimonial.layout-6 .njba-testimonial-title{ border-bottom: 1px solid #fff;font-size: 25px;padding-bottom: 25px;padding-top: 10px;text-transform: uppercase;text-align:center;}
.njba-testimonial.layout-6 .njba-testimonial-content p {margin: 20px;text-align:center;}
.njba-testimonial.layout-6 .bx-wrapper {margin-bottom: 20px;}
.njba-testimonial.layout-6 .njba-testimonial-sub-title {font-style: italic;letter-spacing: 3px;text-align:center;}
.njba-testimonial.layout-6 .bx-controls.bx-has-pager {padding-top: 0;}
.njba-testimonial.layout-6 .njba-testimonial-main {padding-top: 0;margin-top: -50px;}
.njba-testimonial.layout-6 {color: #fff;padding-top:0;}
	
	
/*layout 7*/
.njba-testimonial-body.layout_7{background-color: #d67456;}
.njba-testimonial.layout-7 .njba-testimonial-body-right {float: left;width: 30%;}
.njba-testimonial.layout-7 .njba-testimonial-body-left {display: table;float: left;height: 325px;padding: 20px 170px;position: relative;width: 70%;}
.njba-testimonial.layout-7 .njba-testimonial-body {display: inline-block;width: 100%;}
.njba-testimonial.layout-7 .njba-testimonial-body-left .njba-testimonial-content{color: #fff;display: table-cell;font-size: 18px;font-style: italic;height: 100%;letter-spacing: 1px;line-height: 35px;margin: 0;text-align: left;
  vertical-align: middle;}
.njba-testimonial.layout-7 .njba-testimonial-body-right {background-color: #e6e6e6;padding: 67px 20px 68px;}
/*.njba-testimonial.layout-7 .njba-testimonial-body-left p:before{color: #fff;font-size: 80px;left: 80px;opacity: 0.2;position: absolute;top: 60px;content: "";font-family:FontAwesome;}*/
.njba-testimonial.layout-7 .njba-testimonial-body img {border: 5px solid #d67456;border-radius: 50%;height: auto;max-width: 120px;}
.njba-testimonial.layout-7 .njba-testimonial-title{letter-spacing: 2px;margin: 10px 0 5px;text-transform: uppercase;}
.njba-testimonial.layout-7 .njba-testimonial-sub-title{color: #999;font-size: 20px;letter-spacing: 1px;text-align:center;}
/*.njba-testimonial.layout-7 .njba-testimonial-body-left::after {border-bottom: 60px solid transparent;border-left: 60px solid #d67456;border-right: 40px solid transparent;content: "";display: block;height: 0;margin-top: -25px;
  position: absolute; right: -100px; top: 50%; width: 0; z-index: 3;}*/
.njba-testimonial.layout-7 .njba-testimonial-position {color: #999;font-size: 16px;font-style: italic;letter-spacing: 1px;margin-top: 5px;}
.njba-testimonial.layout-7{padding: 0;}
	
	/*layout 8*/
.njba-testimonial.layout-8 .njba-testimonial-body-right {float: left;width: 30%;}
.njba-testimonial.layout-8 .njba-testimonial-body-left{display: table;float: left;height: 325px;padding: 20px 170px;position: relative;width: 70%;}
.njba-testimonial.layout-8 .njba-testimonial-body {display: inline-block;width: 100%;}
.njba-testimonial.layout-8 .njba-testimonial-content {color: #fff;display: table-cell;font-size: 18px;font-style: italic;height: 100%;letter-spacing: 1px;line-height: 35px;margin: 0;text-align: left;vertical-align: middle;
  text-align: justify;}
.njba-testimonial.layout-8 .njba-testimonial-body {background-color: #d67456;}
.njba-testimonial.layout-8 .njba-testimonial-body-right {background-color: #e6e6e6;padding: 75px 20px;}
/*.njba-testimonial.layout-8 .njba-testimonial-body-left p:before{color: #fff;font-size: 80px;left: 80px;opacity: 0.2;position: absolute;top: 60px;content: "";font-family:FontAwesome;}*/
.njba-testimonial.layout-8 .njba-testimonial-body img {border: 5px solid #d67456;border-radius: 50%;height: auto;max-width: 120px;}
.njba-testimonial.layout-8 .njba-testimonial-title{letter-spacing: 2px;margin: 10px 0 5px;text-transform: uppercase;}
.njba-testimonial.layout-8 .njba-testimonial-sub-title{color: #999;font-size: 16px;font-style: italic;letter-spacing: 1px;margin-top: 5px;}
.njba-testimonial.layout-8 .njba-testimonial-body-left::after {border-bottom: 60px solid transparent;border-left: 50px solid transparent;border-right: 60px solid #d67456;content: "";display: block;height: 0;left: -110px; margin-top: -25px;
  position: absolute;top: 50%;width: 0;z-index: 3;}
.testimonial-main.njba-testimonial.layout-8{padding: 0;}
	
/*layout 9*/
.njba-testimonial.layout-9 .njba-testimonial-quote-box-content{overflow: hidden;padding: 40px 40px 40px;background-color: #424242;border-radius: 15px;position: relative;z-index: 0;border-right: 0px solid #6b6e80;transform: rotate(4deg); }
.njba-testimonial.layout-9 .njba-testimonial-body-quote-box{background-color: #FB8C00;border-radius: 15px;transform: rotate(-4deg);    margin: 40px 10px;}
.njba-testimonial.layout-9 .njba-testimonial-body-inner {padding: 30px;width: 100%;}
.njba-testimonial.layout-9 .njba-testimonial-content-warpper {position: relative;}
.njba-testimonial.layout-9 .njba-testimonial-quote-icon {float: left;top: -33px;position: absolute;color: #ffffff;font-size: 30px;}
.njba-testimonial.layout-9 .njba-testimonial-quote-icon-two {position: absolute;float: right;right: 0;color: #ffffff;font-size: 30px;bottom: -15px;}
/****************************************************************************************/
/*top arrow*/
.njba-arrow-wrapper.njba-top-arrow {height: 32px;left: 0;position: absolute;right: 0;top: 0;}
.njba-arrow-wrapper.njba-top-arrow .njba-slider-nav a i{line-height:30px;}
.njba-arrow-wrapper.njba-top-arrow {display: inline-block;height: 38px;width: 100%;text-align: center;}
.njba-top-arrow .njba-slider-nav {display: inline-block;margin: 0 10px;position: relative;}
/*top side arrows*/
.njba-top-arrow-side .njba-slider-prev.njba-slider-nav {left: 0;position: absolute;}
.njba-top-arrow-side .njba-slider-next.njba-slider-nav {position: absolute;right: 0;}
.njba-top-arrow-side .njba-slider-nav  a i{line-height:0;}
.njba-arrow-wrapper.njba-top-arrow-side {height: 32px;}
.njba-arrow-wrapper.njba-top-arrow-side  {height: 32px;left: 10px;position: absolute;right: 10px;top: 0;}
/*bottom arrow*/
.njba-arrow-wranjbaer.njba-bottom-arrow {height: 32px;line-height:35px;left: 0;position: absolute;right: 0;bottom: 08px;}
.njba-arrow-wranjbaer.njba-bottom-arrow {display: inline-block;height: 38px;width: 100%;}
.njba-bottom-arrow .njba-slider-nav {display: inline-block;margin: 0 10px;position: relative ;}
.njba-arrow-wrapper.njba-bottom-arrow {bottom: -20px;position: absolute;width: 100%;}
/*bottom-arrow-side*/
.njba-bottom-arrow-side .njba-slider-prev.njba-slider-nav {left: 0;position: absolute;bottom: -20px;}
.njba-bottom-arrow-side .njba-slider-next.njba-slider-nav {position: absolute;bottom: -20px;right: 0;}
.njba-arrow-wranjbaer.njba-bottom-arrow-side{height: 32px;}
.njba-arrow-wranjbaer.njba-bottom-arrow-side{ height: 32px;left: 10px;position: absolute;right: 10px;bottom: 8px;line-height:35px;}
.njba-testimonial .bx-controls.bx-has-pager {padding-top: 30px;}
/*center-arrow-side*/
.njba-center-arrow-side .njba-slider-prev.njba-slider-nav {left: -40px;position: absolute;}
.njba-center-arrow-side .njba-slider-next.njba-slider-nav {position: absolute;right: -40px;	}
.njba-center-arrow-side .njba-slider-nav  a i{line-height:0;}
.njba-arrow-wrapper.njba-center-arrow-side{height: 32px;}
.njba-arrow-wrapper.njba-center-arrow-side{height: 32px;left: 10px;position: absolute;right: 10px;top:50%;margin-top:-20px;}
.njba-testimonial.layout-4 .njba-arrow-wrapper.njba-center-arrow-side{margin-top: 30px;}
.njba-testimonial.layout-2 .njba-arrow-wrapper.njba-center-arrow-side {margin-top: 0;}
.njba-testimonial.layout-5 .njba-arrow-wrapper.njba-center-arrow-side {margin-top: 0;}
.njba-testimonial.layout-6 .njba-arrow-wrapper.njba-center-arrow-side {margin-top: 55px;}
.njba-testimonial.layout-7 .njba-arrow-wrapper.njba-center-arrow-side {margin-top: 0;}
	
	
	
@media (max-width:1169px){
.njba-testimonial.layout-4 .njba-testimonial-main,
.njba-testimonial.layout-3 .njba-testimonial-main,
.njba-testimonial.layout-7 .njba-testimonial-main,
.njba-testimonial.layout-8 .njba-testimonial-main  {padding-left: 40px;padding-right: 40px;}
.njba-center-arrow-side .njba-slider-prev.njba-slider-nav {left: 0;}
.njba-center-arrow-side .njba-slider-next.njba-slider-nav {right: 0;}
.njba-bottom-arrow-side .njba-slider-prev.njba-slider-nav {left:0;}
.njba-bottom-arrow-side .njba-slider-next.njba-slider-nav {right: 0;}
.njba-top-arrow-side .njba-slider-prev.njba-slider-nav {left: 0;}
.njba-top-arrow-side .njba-slider-next.njba-slider-nav {right: 0;}
 /*seven testimonial*/
	.njba-testimonial.layout-7 .njba-testimonial-body-left {padding: 20px 90px 20px 140px;}
	
}	
@media (max-width:990px){
	
	/*seven testimonial*/
	.njba-testimonial.layout-7 .njba-testimonial-body-left {padding: 20px 40px 20px 60px;}	
	.njba-testimonial.layout-8 .njba-testimonial-body-left {padding: 20px 40px 20px 60px;}	
	
}
@media (max-width:767px){
	
	/*seven testimonial*/
	.njba-testimonial.layout-7 .njba-testimonial-body-left ,.njba-testimonial.layout-7 .njba-testimonial-body-right{width:100%;height: auto;}
	.njba-testimonial.layout-7 .njba-testimonial-body-left::after {display: none;}
	.njba-testimonial.layout-7 .njba-testimonial-body-left{padding: 30px 30px 30px 50px;}
	.njba-testimonial.layout-7 .njba-testimonial-body-right{ padding: 30px;}
	.njba-testimonial.layout-7 .njba-testimonial-body-left p::before {font-size: 30px;top: 20px;}
	.njba-testimonial.layout-7 .njba-testimonial-body-right {background-color: transparent;color: #fff;}
	.njba-testimonial.layout-7 .njba-testimonial-position{color:#fff;}
	
	.njba-testimonial.layout-8 .njba-testimonial-body-left ,.njba-testimonial.layout-8 .njba-testimonial-body-right{width:100%;height: auto;}
	.njba-testimonial.layout-8 .njba-testimonial-body-left::after {display: none;}
	.njba-testimonial.layout-8 .njba-testimonial-body-left{padding: 30px 30px 30px 50px;}
	.njba-testimonial.layout-8 .njba-testimonial-body-right{ padding: 30px;}
	.njba-testimonial.layout-8 .njba-testimonial-body-left p::before {font-size: 30px;top: 20px;}
	.njba-testimonial.layout-8 .njba-testimonial-body-right {background-color: transparent;color: #fff;}
	.njba-testimonial.layout-8 .njba-testimonial-position{color:#fff;}
	}
	
@media (max-width:480px){
	.njba-testimonial.layout-2 .njba-testimonial-body-right{width:100%;}
	.njba-testimonial.layout-2 .njba-testimonial-image{width:100%;}
	.njba-testimonial.layout-2 .njba-testimonial-image-right{margin-left:0;width:100%;}
	.njba-testimonial.layout-3 .njba-testimonial-body-left{width:100%;margin:0 0 30px;}
	.njba-testimonial.layout-3 .njba-testimonial-body-right::before,
	.njba-testimonial.layout-7 .njba-testimonial-body-left p::before,
	.njba-testimonial.layout-8 .njba-testimonial-body-left p:before{display:none;}
}
