@font-face {
	font-family: 'forgravity';
	src: url( '../fonts/forgravity.eot' );
	src: url( '../fonts/forgravity.eot?#iefix' ) format( 'embedded-opentype' ),
	url( '../fonts/forgravity.woff' ) format( 'woff' ),
	url( '../fonts/forgravity.ttf' ) format( 'truetype' ),
	url( '../fonts/forgravity.svg#forgravity' ) format( 'svg' );
	font-weight: normal;
	font-style: normal;

}

.dashicons-forgravity:before {
	display: inline-block;
	font-family: 'forgravity';
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: 'a';
} 
