.fl-builder-lightbox .fl-lightbox{
	width: 700px;
}
.fl-builder-settings-tab {
    width: 650px;
}
.njba-multinumber:before {
    width: 15px;
    text-align: center;
    height: 24px;
    line-height: 24px;
    display: inline-block;
}
span.njba-multinumber input[type="number"] {
    width: 55px;
}
.njba-multinumber-wrap span {
  display: inline-block !important;
}
.njba-multinumber-wrap {
    display: inline-block !important;
}
.njba-simplify-wrapper .njba-simplify {
    width: 20%;
    display: inline-block;
}
.njba-simplify-wrapper .njba-simplify-item {
    display: inline-block;
    margin-right: 10px;
}
.njba-simplify-wrapper .njba-simplify-items .simplify{
	position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    cursor: pointer;
}
.njba-simplify-wrapper .njba-simplify-items i.dashicons {
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    /* border: 1px solid; */
}
.njba-simplify-wrapper .njba-simplify-item.desktop {
    margin: 0;
}
.njba-simplify-wrapper span.njba-icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    background-color: #eee;
    border: 1px solid #ccc;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.njba-simplify-wrapper .njba-icon .njba-tooltip,
.njba-simplify-wrapper .simplify .njba-tooltip {
    display: none;
    position: absolute;
    content: '';
    color: #fff;
    top: -35px;
    left: -5px;
    text-shadow: none;
    white-space: nowrap;
    padding: 8px;
    border-radius: 5px;
    font-size: 11px;
}
.njba-simplify-wrapper .njba-icon .njba-tooltip{
	background: #444;
}
.njba-simplify-wrapper .simplify .njba-tooltip{
	background: #00aef0;
}
.njba-simplify-wrapper .njba-icon .njba-tooltip:before,
.njba-simplify-wrapper .simplify .njba-tooltip:before {
    content: "";
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 10px;
}
.njba-simplify-wrapper .njba-icon .njba-tooltip:before{
	border-top: 5px solid #444;
}
.njba-simplify-wrapper .simplify .njba-tooltip:before{
    border-top: 5px solid #00aef0;
}
/*************
New
*/
.njba-simplify-wrapper .njba-simplify-item.optional {
    display: inline-block;
    /* vertical-align: text-top; */
}
.njba-simplify-wrapper .njba-simplify-size-wrap {
    display: inline-block;
    width: 65%;
}
.njba-simplify-wrapper .njba-size-wrap {
    display: inline-block;
    vertical-align: top;
    /*margin-right: 5px;*/
}
.njba-simplify-wrapper .njba-simplify-item input.njba-simplify-input {
    box-sizing: border-box!important;
    margin: 0 0 0 -0.4em !important;
    height: 25px !important;
    padding-left: 5px !important;
    width: 40px;
    vertical-align: middle;
    border-radius: 0 3px 3px 0;
}
/* Hover Css */
.njba-simplify-wrapper i.njba-help-tooltip:hover ~ div.njba-tooltip {
    display: block;
}
/*********** NJBA draggable**********/
.njba-cta-draggable {
    /*padding: 13px;*/
}
.njba-draggable-wrap {
    position:relative;
}
.njba-draggable-wrap img {
    width: 100%;
    height: 100%;
}
.njba-draggable-point {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 1px;
    height: 1px;
    background: transparent;
    -webkit-transition: box-shadow .3s ease;
    transition: box-shadow .3s ease;
    z-index: 1;
}
.njba-draggable-point:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.njba-draggable-point:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 12px solid rgba(51,51,51,0.5);
    border-radius: 100%;
    box-shadow: 0 0 1px 0px rgba(255,255,255,0.5);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: box-shadow .3s ease;
    transition: box-shadow .3s ease;
}
