/*Button Css*/
.njba-btn-main a.njba-btn{text-decoration: none;position: relative;}
.njba-btn-main a:hover, .njba-btn-main a:active, .njba-btn-main a:focus{text-decoration: none;}
.njba-btn-main a:active, .njba-btn-main a:focus{outline: none;}
.njba-btn-main a.njba-btn:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    -o-transition-property: transform;
    -ms-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
/* Row Separator CSS */
.njba-row-separator {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1
}
.njba-top-row-separator {
    top: -1px;
    bottom: auto
}
.njba-bottom-row-separator {
    top: auto;
    bottom: -1px
}
/*.ult-main-seperator-inner {
    position: relative;
    height: 100%;
    width: 100%
}*/
.njba-top-row-separator.njba-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: -1px;
    bottom: auto;
    width: 100%;
}
.njba-bottom-row-separator.njba-has-svg svg {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: -1px;
    top: auto;
    width: 100%;
}
.njba-bottom-row-separator.njba-has-svg .uasvg-wave-separator {
    bottom: 0;
}
.njba-top-row-separator.njba-has-svg .uasvg-wave-separator {
    top: 0;
}
/**
 *
 *  Svg Triangle Separator
 *  Big Triangle Separator
 *  Big Triangle Left Separator
 *  Svg Half Circle Separator
 *  Curve Center Separator
 *  Waves Separator
 *
 ***************************************/
.njba-bottom-row-separator.njba-svg-triangle svg,
.njba-bottom-row-separator.njba-xlarge-triangle svg,
.njba-top-row-separator.njba-xlarge-triangle-left svg,
.njba-bottom-row-separator.njba-svg-circle svg,
.njba-bottom-row-separator.njba-xlarge-circle svg,
.njba-top-row-separator.njba-wave-separator svg {
    -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1);
}
/**
 *
 *  Big Triangle Right Separator
 *
 ***************************************/
.njba-top-row-separator.njba-xlarge-triangle-right svg {
    -webkit-transform: scale(-1);
       -moz-transform: scale(-1);
        -ms-transform: scale(-1);
         -o-transform: scale(-1);
            transform: scale(-1);
}
.njba-bottom-row-separator.njba-xlarge-triangle-right svg {
    -webkit-transform: scaleX(-1);
       -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
         -o-transform: scaleX(-1);
            transform: scaleX(-1);
}
/**
 *
 *  Curve Left Separator
 *  Curve Right Separator
 *
 ***************************************/
.njba-top-row-separator.njba-curve-up-separator svg {
     -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1);
}
.njba-top-row-separator.njba-curve-down-separator svg {
    -webkit-transform: scale(-1);
       -moz-transform: scale(-1);
        -ms-transform: scale(-1);
         -o-transform: scale(-1);
            transform: scale(-1);
}
.njba-bottom-row-separator.njba-curve-down-separator svg {
    -webkit-transform: scaleX(-1);
       -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
         -o-transform: scaleX(-1);
            transform: scaleX(-1);
}
/**
 *
 *  Tilt Left Separator
 *  Tilt Right Separator
 *
 ***************************************/
.njba-top-row-separator.njba-tilt-left-separator svg {
    -webkit-transform: scale(-1);
       -moz-transform: scale(-1);
        -ms-transform: scale(-1);
         -o-transform: scale(-1);
            transform: scale(-1);
}
.njba-top-row-separator.njba-tilt-right-separator svg{
    -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1);
}
.njba-bottom-row-separator.njba-tilt-right-separator svg {
    -webkit-transform: scaleX(-1);
       -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
         -o-transform: scaleX(-1);
            transform: scaleX(-1);
}
/**
 *
 *  Clouds Separator
 *  Multi Triangle
 *
 ***************************************/
.njba-row-separator.njba-cloud-separator svg {
    left: -1px;
    width: 100%;
}
.njba-top-row-separator.njba-cloud-separator svg,
.njba-top-row-separator.njba-multi-triangle svg {
    -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1);
}
.njba-row-separator.njba-round-split {
    z-index: 1;
    /*position: relative;*/
}
.njba-row-separator.njba-round-split:after,
.njba-row-separator.njba-round-split:before {
    left: 0;
    z-index: 10;
    width: 50%;
    background: inherit inherit/inherit inherit inherit inherit;
    content: '';
    position: absolute
}