.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget {
  list-style: none;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget.arfdate-dropdown-menu {
  margin: 2px 0;
  width: 19em;
}
@media (min-width: 768px) {
  .arf_cal_theme_default_theme .bootstrap-datetimepicker-widget.arfdate-dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}
@media (min-width: 992px) {
  .arf_cal_theme_default_theme .bootstrap-datetimepicker-widget.arfdate-dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}
@media (min-width: 1200px) {
  .arf_cal_theme_default_theme .bootstrap-datetimepicker-widget.arfdate-dropdown-menu.timepicker-sbs {
    width: 38em;
  }
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget.arfdate-dropdown-menu:before,
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget.arfdate-dropdown-menu:after {
  display: inline-block;
  position: absolute;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget.arfdate-dropdown-menu.bottom:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #cccccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  top: -7px;
  left: 7px;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget.arfdate-dropdown-menu.bottom:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  top: -6px;
  left: 8px;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget.arfdate-dropdown-menu.top:before {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #cccccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  bottom: -7px;
  left: 6px;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget.arfdate-dropdown-menu.top:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  bottom: -6px;
  left: 7px;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget.arfdate-dropdown-menu.pull-right:before {
  left: auto;
  right: 6px;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget.arfdate-dropdown-menu.pull-right:after {
  left: auto;
  right: 7px;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget .list-unstyled {
  margin: 0px !important;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget a[data-action] {
  padding: 6px 0;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget a[data-action]:active {
  box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;

}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget .timepicker-hour,
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget .timepicker-minute,
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget .timepicker-second {
  width: 54px;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget button[data-action] {
  padding: 6px;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Increment Hours";
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Increment Minutes";
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Decrement Hours";
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Decrement Minutes";
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Show Hours";
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Show Minutes";
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Toggle AM/PM";
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget .btn[data-action="clear"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Clear the picker";
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget .btn[data-action="today"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Set the date to today";
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget .picker-switch {
  text-align: center;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget .picker-switch::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Toggle Date and Time Screens";
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget .picker-switch td {
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  line-height: inherit;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget .picker-switch td span {
  line-height: 44px;
  height: 44px;
  width: 100%;
  margin: 0px;
  background: #f3f3f3;
  border: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table {
  width: 100%;
  margin: 0;
  border-spacing: 0px;
  border-collapse: collapse;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td,
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table th {
  text-align: center;
    border: none;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table th {
  height: 20px;
  line-height: 20px;
  width: 20px;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table th.picker-switch {
  width: 145px;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table th.disabled,
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table th.disabled:hover {
  background: none;
  color: #777777;
  cursor: not-allowed;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table th.prev::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Previous Month";
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table th.next::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Next Month";
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table thead tr:first-child th {
  cursor: pointer;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td {
  height: 54px;
  line-height: 54px;
  width: 54px;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td.cw {
  font-size: .8em;
  height: 20px;
  line-height: 20px;
  color: #777777;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td.day {
  height: 36px;
  line-height: 35px;
  width: 36px;
  padding: 1px 0px 0px 0px;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td.day:hover,
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td.hour:hover,
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td.minute:hover,
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td.second:hover {
  color: #46484d;
  cursor: pointer;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td.old,
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td.new {
  color: #96979a;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td.today {
  position: relative;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td.today:before {
  content: '';
  display: inline-block;
  border: 3px solid #337ab7;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  position: absolute;
  bottom: 5px;
  right: 16px;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td.active,
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td.active:hover {
  color: #337ab7 !important;
  background: url(../../images/bootstrap_round_default.png) no-repeat !important;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td.disabled,
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td.disabled:hover {
  background: none !important;
  color: #c3c4c7 !important;
  cursor: not-allowed;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td span {
  display: inline-block;
  width: 54px;
  height: 54px;
  line-height: 54px;
  margin: 2px 1.5px;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td span:hover {
  border-color: #337ab7;
  color: #46484d;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td span.active {
  background-color: #337ab7;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td span.old {
  color: #777777;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td span.disabled,
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td span.disabled:hover {
  background: none;
  color: #c3c4c7;
  border-color: #ffffff;
  cursor: not-allowed;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget.usetwentyfour td.hour {
  height: 27px;
  line-height: 27px;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget.wider {
  width: 21em;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget .datepicker-decades .decade {
  line-height: 1.8em !important;
}
.arf_cal_theme_default_theme .input-group.date .input-group-addon {
  cursor: pointer;
}
.arf_cal_theme_default_theme .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.arf_cal_theme_default_theme .arf_cal_header {
    background-color: #ffffff !important;
    color: #46484d;
    border-bottom: 1px solid #f0f0f0;
}
.arf_cal_theme_default_theme .arf_cal_month {
    background-color: #ffffff !important;
    color: #46484d;
    border-bottom: 1px solid #f0f0f0;
}
.arf_cal_theme_default_theme .arf_cal_header th,
.arf_cal_theme_default_theme .arf_cal_month th {
    color: #46484d;
}
.arf_cal_theme_default_theme .arf_cal_body,
.arf_cal_theme_default_theme .arf_cal_body tr,
.arf_cal_theme_default_theme table tbody.arf_cal_body tr:nth-child(n+1),
.arf_cal_theme_default_theme table tbody.arf_cal_body tr:nth-child(2n+1)
{
    background-color: #ffffff;
    color:  #46484d;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td.day:hover {
    background: url(../../images/bootstrap_hover_1.png) no-repeat;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td.day.active,
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td.day.active:hover,
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td.day:hover{
    background-position:center center !important;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td.old:hover,
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td.new:hover {
    color: #96979a;
}
.arf_cal_theme_default_theme .timepicker-picker table,
.arf_cal_theme_default_theme .timepicker-hours table,
.arf_cal_theme_default_theme .timepicker-minutes table {
    background: #ffffff;
    color: #46484d;
}
.arf_cal_theme_default_theme .arf_cal_hour,
.arf_cal_theme_default_theme .arf_cal_minute {
    border: 1px solid #ffffff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}
.arf_cal_theme_default_theme .arf_cal_hour:hover,
.arf_cal_theme_default_theme .arf_cal_minute:hover {
    border-color: #337ab7;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget .picker-switch td span:hover {
    background: #f3f3f3;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table td span.active:hover {
    border-color: #ffffff;
}
.arf_cal_theme_default_theme .timepicker-picker .btn-primary {
    color: #ffffff !important;
    background-color: #337ab7;
    border-color: #337ab7;
}
.arf_cal_theme_default_theme .glyphicon-chevron-left:before {
    content: "\e079";
}
.arf_cal_theme_default_theme .glyphicon-chevron-right:before {
    content: "\e080";
}
.arf_cal_theme_default_theme .glyphicon-time:before {
    content: "\e023";
    color: #337ab7;
    font-size: 20px;
}
.arf_cal_theme_default_theme .glyphicon-calendar:before {
    content: "\e109";
    color: #337ab7;
    font-size: 20px;
}
.arf_cal_theme_default_theme .glyphicon-chevron-up:before {
    content: "\e113";
    color: #337ab7;
}
.arf_cal_theme_default_theme .glyphicon-chevron-down:before {
    content: "\e114";
    color: #337ab7;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget table tr{
    color: #46484d;
}
.arf_cal_theme_default_theme .bootstrap-datetimepicker-widget .table-condensed{ 
    margin:0;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box;
}