.njba-headline {
    font-size: 43px;
    line-height: 1.2;
}
.njba-headline-style-highlight .njba-headline-dynamic-wrapper {
    overflow: visible;
}
.njba-headline-style-highlight .njba-headline-dynamic-text {
    z-index: 1;
}
.njba-headline-style-highlight .njba-headline-plain-text {
    z-index: 1;
    position: relative;
}
.njba-headline-style-highlight svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc( 100% + 20px);
    height: calc( 100% + 20px);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: visible;
}
.njba-headline-style-highlight svg path {
    stroke: red;
    stroke-width: 9;
    fill: none;
    stroke-dasharray: 1500;
    -webkit-animation: njba-headline-dash-no-loop 10s ease;
    animation: njba-headline-dash-no-loop 10s ease;
}
.njba-headline-style-highlight.njba-headline-loop svg path {
    -webkit-animation: njba-headline-dash 10s infinite;
    animation: njba-headline-dash 10s infinite;
}
.njba-headline-style-highlight svg path:nth-of-type(2) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
@-webkit-keyframes njba-headline-dash {
    0% {
        stroke-dasharray: 0 1500;
    }
    15% {
        stroke-dasharray: 1500 1500;
    }
    85% {
        opacity: 1;
    }
    90% {
        stroke-dasharray: 1500 1500;
        opacity: 0;
    }
    100% {
        stroke-dasharray: 0 1500;
        opacity: 0;
    }
}
@keyframes njba-headline-dash {
    0% {
        stroke-dasharray: 0 1500;
    }
    15% {
        stroke-dasharray: 1500 1500;
    }
    85% {
        opacity: 1;
    }
    90% {
        stroke-dasharray: 1500 1500;
        opacity: 0;
    }
    100% {
        stroke-dasharray: 0 1500;
        opacity: 0;
    }
}
@-webkit-keyframes njba-headline-dash-no-loop {
    0% {
        stroke-dasharray: 0 1500;
    }
    15% {
        stroke-dasharray: 1500 1500;
    }
    85% {
        opacity: 1;
    }
    90% {
        stroke-dasharray: 1500 1500;
        opacity: 1;
    }
    100% {
        stroke-dasharray: 1500 1500;
        opacity: 1;
    }
}
@keyframes njba-headline-dash-no-loop {
    0% {
        stroke-dasharray: 0 1500;
    }
    15% {
        stroke-dasharray: 1500 1500;
    }
    85% {
        opacity: 1;
    }
    90% {
        stroke-dasharray: 1500 1500;
        opacity: 1;
    }
    100% {
        stroke-dasharray: 1500 1500;
        opacity: 1;
    }
}
.njba-headline-dynamic-wrapper {
    display: inline-block;
    position: relative;
}
.njba-headline-dynamic-wrapper .njba-headline-dynamic-text {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}
.njba-headline-dynamic-wrapper .njba-headline-dynamic-text.njba-headline-text-active {
    position: relative;
}
.njba-headline-dynamic-wrapper .njba-headline-dynamic-text i,
.njba-headline-dynamic-wrapper .njba-headline-dynamic-text i em {
    font-style: normal;
}
.njba-headline-animation-type-flip .njba-headline-dynamic-wrapper {
    -webkit-perspective: 300px;
    perspective: 300px;
}
.njba-headline-animation-type-flip .njba-headline-dynamic-text {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.njba-headline-animation-type-flip .njba-headline-dynamic-text.njba-headline-text-active {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-animation: njba-headline-flip-in 1.2s;
    animation: njba-headline-flip-in 1.2s;
}
.njba-headline-animation-type-flip .njba-headline-dynamic-text.njba-headline-text-inactive {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    -webkit-animation: njba-headline-flip-out 1.2s;
    animation: njba-headline-flip-out 1.2s;
}
@-webkit-keyframes njba-headline-flip-in {
    0% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        opacity: 0;
    }
    35% {
        -webkit-transform: rotateX(120deg);
        transform: rotateX(120deg);
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
        opacity: 1;
    }
}
@keyframes njba-headline-flip-in {
    0% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        opacity: 0;
    }
    35% {
        -webkit-transform: rotateX(120deg);
        transform: rotateX(120deg);
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
        opacity: 1;
    }
}
@-webkit-keyframes njba-headline-flip-out {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1;
    }
    35% {
        -webkit-transform: rotateX(-40deg);
        transform: rotateX(-40deg);
        opacity: 1;
    }
    65% {
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        opacity: 0;
    }
}
@keyframes njba-headline-flip-out {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1;
    }
    35% {
        -webkit-transform: rotateX(-40deg);
        transform: rotateX(-40deg);
        opacity: 1;
    }
    65% {
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        opacity: 0;
    }
}
.njba-headline-animation-type-typing .njba-headline-dynamic-wrapper {
    vertical-align: top;
    overflow: hidden;
}
.njba-headline-animation-type-typing .njba-headline-dynamic-wrapper::after {
    /* vertical bar */
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #0d0d0d;
}
.njba-headline-animation-type-typing .njba-headline-dynamic-wrapper:not(.njba-headline-typing-selected):after {
    -webkit-animation: njba-headline-pulse 1s infinite;
    animation: njba-headline-pulse 1s infinite;
}
.njba-headline-animation-type-typing .njba-headline-dynamic-wrapper.njba-headline-typing-selected {
    background-color: #0d0d0d;
}
.njba-headline-animation-type-typing .njba-headline-dynamic-wrapper.njba-headline-typing-selected::after {
    visibility: hidden;
}
.njba-headline-animation-type-typing .njba-headline-dynamic-wrapper.njba-headline-typing-selected .njba-headline-dynamic-text {
    color: #aebcb9;
}
.njba-headline-animation-type-typing .njba-headline-dynamic-text:not(.njba-headline-text-active) {
    visibility: hidden;
}
.njba-headline-animation-type-typing i:not(.njba-headline-animation-in) {
    position: absolute;
    visibility: hidden;
}
@-webkit-keyframes njba-headline-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}
@keyframes njba-headline-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}
.njba-headline-animation-type-swirl .njba-headline-dynamic-wrapper {
    -webkit-perspective: 300px;
    perspective: 300px;
}
.njba-headline-animation-type-swirl i,
.njba-headline-animation-type-swirl em {
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.njba-headline-animation-type-swirl .njba-headline-dynamic-text {
    opacity: 0;
}
.njba-headline-animation-type-swirl i {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
    transform: translateZ(-20px) rotateX(90deg);
    opacity: 0;
}
.njba-headline-text-active .njba-headline-animation-type-swirl i {
    opacity: 1;
}
.njba-headline-animation-type-swirl i.njba-headline-animation-in {
    -webkit-animation: njba-headline-swirl-in .4s forwards;
    animation: njba-headline-swirl-in .4s forwards;
}
.njba-headline-animation-type-swirl i:not(.njba-headline-animation-in) {
    -webkit-animation: njba-headline-swirl-out .4s forwards;
    animation: njba-headline-swirl-out .4s forwards;
}
.njba-headline-animation-type-swirl em {
    -webkit-transform: translateZ(20px);
    transform: translateZ(20px);
}
@-webkit-keyframes njba-headline-swirl-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(90deg);
        transform: translateZ(-20px) rotateX(90deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(-10deg);
        transform: translateZ(-20px) rotateX(-10deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0deg);
        transform: translateZ(-20px) rotateX(0deg);
    }
}
@keyframes njba-headline-swirl-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(90deg);
        transform: translateZ(-20px) rotateX(90deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(-10deg);
        transform: translateZ(-20px) rotateX(-10deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0deg);
        transform: translateZ(-20px) rotateX(0deg);
    }
}
@-webkit-keyframes njba-headline-swirl-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0);
        transform: translateZ(-20px) rotateX(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-100deg);
        transform: translateZ(-20px) rotateX(-100deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-90deg);
        transform: translateZ(-20px) rotateX(-90deg);
    }
}
@keyframes njba-headline-swirl-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0);
        transform: translateZ(-20px) rotateX(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-100deg);
        transform: translateZ(-20px) rotateX(-100deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-90deg);
        transform: translateZ(-20px) rotateX(-90deg);
    }
}
.njba-headline-animation-type-slide-down .njba-headline-text-wrapper {
    display: inline-block;
    padding: .2em 0;
}
.njba-headline-animation-type-slide-down .njba-headline-dynamic-wrapper {
    overflow: hidden;
    vertical-align: top;
}
.njba-headline-animation-type-slide-down .njba-headline-dynamic-text {
    opacity: 0;
    top: .2em;
}
.njba-headline-animation-type-slide-down .njba-headline-dynamic-text.njba-headline-text-active {
    top: 0;
    opacity: 1;
    -webkit-animation: njba-headline-slide-down-in .6s;
    animation: njba-headline-slide-down-in .6s;
}
.njba-headline-animation-type-slide-down .njba-headline-dynamic-text.njba-headline-text-inactive {
    -webkit-animation: njba-headline-slide-down-out .6s;
    animation: njba-headline-slide-down-out .6s;
}
@-webkit-keyframes njba-headline-slide-down-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(20%);
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes njba-headline-slide-down-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(20%);
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes njba-headline-slide-down-out {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateY(120%);
        transform: translateY(120%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}
@keyframes njba-headline-slide-down-out {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateY(120%);
        transform: translateY(120%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}
.njba-headline-animation-type-clip .njba-headline-text-wrapper {
    display: inline-block;
    padding: .2em 0;
}
.njba-headline-animation-type-clip .njba-headline-dynamic-wrapper {
    overflow: hidden;
    vertical-align: top;
}
.njba-headline-animation-type-clip .njba-headline-dynamic-wrapper::after {
    /* line */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #0d0d0d;
}
.njba-headline-animation-type-clip .njba-headline-dynamic-text {
    opacity: 0;
}
.njba-headline-animation-type-clip .njba-headline-dynamic-text.njba-headline-text-active {
    opacity: 1;
}
.njba-headline-animation-type-drop-in .njba-headline-dynamic-wrapper {
    -webkit-perspective: 300px;
    perspective: 300px;
}
.njba-headline-animation-type-drop-in .njba-headline-dynamic-text {
    opacity: 0;
}
.njba-headline-animation-type-drop-in .njba-headline-dynamic-text.njba-headline-text-active {
    opacity: 1;
    -webkit-animation: njba-headline-drop-in-in .8s;
    animation: njba-headline-drop-in-in .8s;
}
.njba-headline-animation-type-drop-in .njba-headline-dynamic-text.njba-headline-text-inactive {
    -webkit-animation: njba-headline-drop-in-out .8s;
    animation: njba-headline-drop-in-out .8s;
}
@-webkit-keyframes njba-headline-drop-in-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(100px);
        transform: translateZ(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}
@keyframes njba-headline-drop-in-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(100px);
        transform: translateZ(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}
@-webkit-keyframes njba-headline-drop-in-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-100px);
        transform: translateZ(-100px);
    }
}
@keyframes njba-headline-drop-in-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-100px);
        transform: translateZ(-100px);
    }
}
.njba-headline-animation-type-blinds .njba-headline-dynamic-wrapper {
    -webkit-perspective: 300px;
    perspective: 300px;
}
.njba-headline-animation-type-blinds .njba-headline-dynamic-text {
    opacity: 0;
}
.njba-headline-animation-type-blinds i {
    display: inline-block;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.njba-headline-text-active .njba-headline-animation-type-blinds i {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.njba-headline-animation-type-blinds i.njba-headline-animation-in {
    -webkit-animation: njba-headline-blinds-in .6s forwards;
    animation: njba-headline-blinds-in .6s forwards;
}
.njba-headline-animation-type-blinds i:not(.njba-headline-animation-in) {
    -webkit-animation: njba-headline-blinds-out .6s forwards;
    animation: njba-headline-blinds-out .6s forwards;
}
@-webkit-keyframes njba-headline-blinds-in {
    0% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    100% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}
@keyframes njba-headline-blinds-in {
    0% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    100% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}
@-webkit-keyframes njba-headline-blinds-out {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}
@keyframes njba-headline-blinds-out {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}
.njba-headline-animation-type-wave .njba-headline-dynamic-text {
    opacity: 0;
}
.njba-headline-animation-type-wave i {
    display: inline-block;
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.njba-headline-text-active .njba-headline-animation-type-wave i {
    opacity: 1;
}
.njba-headline-animation-type-wave i.njba-headline-animation-in {
    -webkit-animation: njba-headline-wave-up .6s forwards;
    animation: njba-headline-wave-up .6s forwards;
}
.njba-headline-animation-type-wave i:not(.njba-headline-animation-in) {
    -webkit-animation: njba-headline-wave-down .6s forwards;
    animation: njba-headline-wave-down .6s forwards;
}
@-webkit-keyframes njba-headline-wave-up {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    60% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes njba-headline-wave-up {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    60% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes njba-headline-wave-down {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    60% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
}
@keyframes njba-headline-wave-down {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    60% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
}
.njba-headline-animation-type-slide .njba-headline-dynamic-text {
    opacity: 0;
}
.njba-headline-animation-type-slide .njba-headline-dynamic-text.njba-headline-text-active {
    opacity: 1;
    -webkit-animation: njba-headline-slide-in .6s;
    animation: njba-headline-slide-in .6s;
}
.njba-headline-animation-type-slide .njba-headline-dynamic-text.njba-headline-text-inactive {
    -webkit-animation: njba-headline-slide-out .6s;
    animation: njba-headline-slide-out .6s;
}
@-webkit-keyframes njba-headline-slide-in {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes njba-headline-slide-in {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes njba-headline-slide-out {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateX(110%);
        transform: translateX(110%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}
@keyframes njba-headline-slide-out {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateX(110%);
        transform: translateX(110%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}