.mailster-btn{
	cursor: pointer !important;
}
.nowrap {
	white-space: nowrap !important;
}
.count{
	color: #999;
	font-size: 90%;
}
.help{
	cursor: help;
}
.postbox{
	display: none;
}
[id^="mailster_"].postbox, #postimagediv.postbox, #authordiv.postbox {
	display: inherit;
}
[id^="wpseo"], .yoast-seo-score{
	display: none;
}
#mailster_submitdiv.postbox .inside{
	padding: 0;
}
#mailster_submitdiv.postbox .inside #misc-publishing-actions{
	padding: 0 12px 12px;
}
.focus-on #normal-sortables, .focus-on #normal-sortables div#mailster_template, .focus-on #normal-sortables div#mailster_template > *, .focus-on div.updated, .focus-on .postbox-container > *{
	opacity: 1;
}
.focus-on div.postbox, .focus-on div.updated{
	opacity: 0;
	-webkit-transition: opacity .6s ease-in-out;
	-moz-transition: opacity .6s ease-in-out;
	-ms-transition: opacity .6s ease-in-out;
	-o-transition: opacity .6s ease-in-out;
	transition: opacity .6s ease-in-out;
}
div.postbox{
	-webkit-transition: height .25s ease;
	-moz-transition: height .25s ease;
	-ms-transition: height .25s ease;
	-o-transition: height .25s ease;
	transition: height .25s ease;
}
a{
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	outline: none;
}
#publishing-action{
	text-align: left;
	float: none;
}
#publishing-action .spinner{
	vertical-align: middle;
	display: block;
	float: left;
	margin-top: 4px;
	margin-right: 3px;
}
#publishing-action .button-primary{
	float: right;
	margin-left: 4px;
}
.rtl #publishing-action .button-primary{
	float: left;
	margin-left: 0;
	margin-right: 4px;
}
#publishing-action .button{
	float: right;
}
.rtl #publishing-action .button{
	float: left;
}
#publishing-action .button.statistics{
	float: left;
}
.rtl #publishing-action .button.statistics{
	float: right;
}
#publishing-action #draft{
	float: left;
}
.rtl #publishing-action #draft{
	float: right;
}
#publishing-action #password-wrap{
	display: block;
}
.postbox .spinner {
	visibility: visible;
	display: none;
}
#postimagediv.postbox .spinner{
	display: inline-block;
}
textarea#content, textarea#excerpt, textarea#modules, textarea#head {
	width: 100%;
	height: 570px;
	font-family: "Courier New",Courier,monospace;
	background-image: url(../img/pre_bg.png);
	background-attachment: scroll;
	overflow: auto;
	line-height: 19px;
	padding: 0;
	resize: none;
}
textarea#content, textarea#excerpt, textarea#modules, textarea#head {
	display: none;
}
#plain-text-wrap{
	display: none;
	width: 100%;
}
.default-value:before {
	content: '\e809';
}
.default-value {
	display: inline-block;
	line-height: 16px;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	vertical-align: text-bottom;
	text-decoration: none;
	outline: none;
}
#delivery-ajax-loading {
	margin-top: -7px;
	margin-right: 5px;
	position: absolute;
	top: 0px;
	right: 0;
}
.rtl #delivery-ajax-loading {
	margin-left: 5px;
	right: auto;
	left: 0;
}
/*----------------------------------------------------------------------*/
/* Optionbar
/*----------------------------------------------------------------------*/
.fixed-optionbar .optionbar{
	position: fixed;
	width: auto;
	z-index: 100;
	top: 30px;
	border: 1px solid #FFF;
	padding: 20px 0px 2px;
}
.fixed-optionbar .optionbar:after{
	content: '.';
	display: block;
	border-bottom: 1px solid #DFDFDF;
	margin-top: 23px;
}
.fixed-optionbar .has-modules .optionbar:after{
	margin-right: 29px;
}
.fixed-optionbar .show-modules .optionbar:after{
	margin-right: 169px;
}
.fixed-optionbar .has-modules.show-modules .optionbar:after{
	margin-right: 199px;
}
.rtl.fixed-optionbar .has-modules .optionbar:after{
	margin-right: 0;
	margin-left: 30px;
}
.rtl.fixed-optionbar .show-modules .optionbar:after{
	margin-right: 0;
	margin-left: 169px;
}
.rtl.fixed-optionbar .has-modules.show-modules .optionbar:after{
	margin-right: 0;
	margin-left: 200px;
}
.optionbar {
	position: relative;
	z-index: 100;
	font-weight: 100;
	width: 100%;
	height: 38px;
	background-color: #fff;
}
.optionbar ul {
	height: 38px;
	margin: 0;
	padding: 0;
	margin-bottom: 4px;
}
.optionbar ul li {
	position: relative;
	float: left;
	margin: 0;
	border-left: 0;
	border-right: 0;
	margin-left: 1px;
}
.rtl .optionbar ul li {
	float: right;
	margin-left: 0px;
	margin-right: 1px;
}
.optionbar ul li.no-border-left {
	border-left: 0 !important;
}
.optionbar ul li.no-border-right {
	border-right: 0 !important;
}
.optionbar ul li.current_template{
	border-right: 0;
}
.optionbar ul li.current_template span{
	display: block;
	padding: 3px 13px 4px 12px;
	border: 1px solid #fff;
	font-size: 16px;
	line-height: 27px;
	height: 26px;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
	max-width: 140px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.optionbar ul li:first-child {
	border-left: 0;
}
.optionbar ul li a {
	color: #333;
	text-decoration: none;
	display: block;
	padding: 8px 13px 1px 12px;
	border: 1px solid #fff;
	line-height: 1em;
	cursor: pointer;
	opacity: .7;
	filter: alpha(opacity=70);
	outline: 0;
}
.optionbar ul li a.disabled {
	opacity: .2;
	filter: alpha(opacity=20);
}
.optionbar ul li a.mailster-icon {
	background-repeat: no-repeat;
	background-position: center;
	width: 10px;
	line-height: 8px;
	background-position: 999px 999px;
	background-image: none;
}
.optionbar ul li a.mailster-icon:hover {
	background-position: 999px 999px;
}
.optionbar ul li a.mailster-icon{padding-bottom: 1px;}
.optionbar ul li a.mailster-icon:before{padding: 0px;margin: 0;display: block;text-indent: -4px;font-size: 125%;}
.optionbar ul li a.mailster-icon.undo:before{content: '\e802';}
.optionbar ul li a.mailster-icon.redo:before{content: '\e805';}
.optionbar ul li a.mailster-icon.clear-modules:before{content: '\e81F';}
.optionbar ul li a.mailster-icon.clear-modules:hover:before{content: '\e820';}
.optionbar ul li a.mailster-icon.code:before{content: '\e80a';}
.optionbar ul li a.mailster-icon.code.active:before{content: '\e810';}
.optionbar ul li a.mailster-icon.plaintext:before{content: '\e829';}
.optionbar ul li a.mailster-icon.plaintext.active:before{content: '\e810';}
.optionbar ul li a.mailster-icon.preview:before{content: '\e806';}
.optionbar ul li a.mailster-icon.dfw:before{content: '\e82b';}
.optionbar ul li a.mailster-icon.dfw.active:before{content: '\e82c';}
.optionbar ul li a.mailster-icon.save-template:before{content: '\e81e';}
.optionbar ul li a.mailster-icon.loading:before{
	content: '\e814' !important;
}
.optionbar ul li a:hover, .optionbar ul li a.active, .optionbar ul li span:hover {
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	background-color: #fafafa !important;
	border: 1px solid #999;
	border-radius: 2px;
	color: #23282d;
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba( 0, 0, 0, 0.08 );
}
.optionbar ul li a:active, .optionbar ul li a.active, .optionbar ul li span:active {
	background-color: #ebebeb !important;
	box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.3 );
}
.optionbar ul li select {
	margin: 5px;
}
.optionbar ul li:hover a {
	opacity: 1;
	filter: none;
}
.optionbar ul li:hover a.disabled {
	opacity: .2;
	filter: alpha(opacity=20);
}
.optionbar ul li div {
	display: none;
	position: absolute;
	padding: 10px 0 55px;
	right: -5px;
	background: rgba(255,255,255,0.01);
}
.rtl .optionbar ul li div {
	left: -5px;
	right: inherit;
}
.optionbar ul li div.spinner {
	display: block;
	visibility: visible;
	padding: 0;
	float: left;
}
.optionbar ul li .ddarrow{
	height: 2px;
}
.ie .optionbar ul li div.ddarrow {
	background-position: center top;
}
.optionbar ul li .inner {
	position: static;
	border: 1px solid #DFDFDF;
	background: #f9f9f9;
	padding: 5px 0 0;
	min-width: 220px;
	background: #f9f9f9;
	max-height: 600px;
	overflow: scroll;
	overflow-y: auto;
	overflow-x: hidden;
}
.optionbar ul li .inner h4 {
	margin: 0;
	padding: 3px 10px 0;
}
.optionbar ul li .inner p {
	margin: 0;
	padding: 10px;
}
.mailster_template_save .inner {
	position: relative;
	padding: 0px 20px;
}
.mailster_template_save #new_template_name{
	font-size: 1.8em;
}
.mailster_template_save #new_template_saveas_dropdown{
	width: 280px;
}
.mailster_template_save #new_template-ajax-loading{
	visibility: visible;
	display: none;
	float: right;
}
.mailster_template_save .foot {
	padding: 10px 20px;
	border-top: 1px solid #DFDFDF;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.mailster_template_save .foot button{
	float: right;
	margin-left: 6px;
}
.rtl .mailster_template_save .foot button{
	margin-left: 0px;
	margin-right: 6px;
	float: left;
}
.mailster_template_save .foot.textleft {
	text-align: left;
}
.optionbar ul li:hover div {
	display: block;
}
.optionbar ul li .inner label {
	padding: 3px 0;
	display: block;
}
.optionbar ul li:hover a {
	background-color: #fff;
}
.optionbar ul li .inner ul {
	overflow: hidden;
	position: relative;
	height: auto;
	border: 0;
	margin-top: 10px;
	max-width: 220px;
}
.optionbar ul li .inner ul li {
	position: static;
	float: none;
	clear: both;
	display: block;
	border: 0;
	height: auto;
}
.optionbar ul li.current_template.single .inner ul li{
	border-right: 0;
	border-left: 0;
}
.optionbar ul li.current_template .inner ul li i.version{
	color: #ccc;
	padding-left: 3px;
	font-size: 0.8em;
}
.optionbar ul li .inner ul:first-child li {
}
.optionbar ul li .inner ul li a {
	display: block;
	white-space: nowrap;
	padding: 5px 15px;
	font-weight: 700;
}
.optionbar ul li .inner ul li ul {
	display: none;
	margin: 0;
	max-height: 200px;
	overflow: scroll;
	overflow-y: auto;
	overflow-x: hidden;
}
.optionbar ul li .inner ul li ul li{
}
.optionbar ul li .inner ul li ul li a{
	padding-left: 25px;
	font-weight: 100;
	text-overflow: ellipsis;
	overflow: hidden;
}
.optionbar ul li .inner ul li ul li a:hover,.optionbar ul li .inner ul li ul li a.active:hover{
	color: #777;
	background: #fcfcfc;
}
.optionbar ul li .inner ul li ul li a.active{
	background-color: #777;
	font-weight: bold;
	color: #333;
}
#new_template-ajax-loading{
	float: left;
	margin-top: 6px;
}
/*----------------------------------------------------------------------*/
/* Editbar
/*----------------------------------------------------------------------*/
#editbar {
	background: #fff;
	color: #333;
	border: 1px solid #DFDFDF;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
	display: none;
	box-shadow: 0 2px 4px 1px rgba(112,112,112,0.1);
	margin: 0 5px;
	padding: 2%;
	min-height: 75px;
	z-index: 101;
}
#editbar{
	cursor: ns-resize;
	cursor: hand;
	cursor: grab;
	cursor: grabbing;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}
#editbar.ui-draggable.ui-draggable-dragging{
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}
#editbar.ui-state-disabled{
	opacity: 1;
	filter: none;
}
#editbar.current-codeview .highdpi-checkbox, #editbar.current-single .highdpi-checkbox, #editbar.current-multi .highdpi-checkbox{
	display: none;
}
#editbar h4.editbar-title {
	margin: 0;
	line-height: 1.2em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 90%;
	font-size: 1.5em;
	padding: 0 0 3px;
	clear: left;
	font-weight: normal;
	min-height: 26px;
}
#editbar a{
	outline: 0;
	text-decoration: none;
}
#editbar p{
	margin: 0.5em 0;
}
#editbar-ajax-loading {
	position: absolute;
	right: 24px;
	top: 8px;
}
.cancel.top-cancel{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 5px;
	top: 8px;
	cursor: pointer !important;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
}
.rtl .cancel.top-cancel{
	left: 5px;
	right: initial;
}
.cancel.top-cancel:hover{
	text-decoration: none;
}
#editbar .conditinal-area-wrap{
	position: relative;
}
#editbar .conditions{
	display: none;
	width: 320px;
	left: 0;
}
#editbar .type .conditions{
	display: block;
	padding: 5px 0;
}
#editbar .conditions select{
	width: 28%
}
#editbar .conditions select.condition-operators{
	width: 20%
}
#editbar .conditions input{
	width: 30%
}
#editbar .conditinal-area{
	overflow: hidden;
	clear: both;
	position: relative;
}
#editbar .condition-labels span{
	color: #ccc;
	width: 15%;
	text-transform: uppercase;
	text-align: right;
	font-size: 12px;
}
#editbar .condition-labels span{
	display: none;
}
#editbar .conditinal-area:first-child .condition-labels span:first-child{
	display: inline-block;
}
#editbar .conditinal-area .condition-labels span.condition-elseif{
	display: inline-block;
}
#editbar .conditinal-area:first-child .condition-labels span.condition-elseif{
	display: none;
}
#editbar .conditinal-area:last-child .condition-labels span:last-child{
	display: inline-block;
}
#editbar .conditinal-area:last-child .condition-labels span.condition-elseif{
	display: none;
}
#editbar .conditinal-area:last-child .conditions select, #editbar .conditinal-area:last-child .conditions input{
	display: none;
}
#editbar div.type {
	position: relative;
	padding-top: 6px;
	width: 99.9%;
	height: auto;
	cursor: default;
	margin: 0 auto;
}
#editbar div.type div.left {
	width: 25%;
	float: left;
}
.rtl #editbar div.type div.left {
	float: right;
}
#editbar div.type div.right {
	width: 75%;
	float: right;
}
.rtl #editbar div.type div.right {
	float: left;
}
#editbar div.type.auto div.left {
	width: 50%;
}
#editbar div.type.auto div.right {
	width: 50%;
}
#editbar div.type label.block {
	display: block;
	overflow: hidden;
	padding: 0 2px;
}
#editbar div.type.img div.left, #editbar div.type.btn div.left, #editbar div.type.single div.left {
	line-height: 34px;
	text-align: right;
	width: 24%;
	padding-right: 1%;
}
.rtl #editbar div.type.img div.left,.rtl #editbar div.type.btn div.left,.rtl  #editbar div.type.single div.left {
	text-align: left;
	padding-right: 0%;
	padding-left: 1%;
}
#editbar div.type.codeview{
	overflow: hidden;
}
#editbar div.type.codeview h2{
	margin: 4px 30px;
}
#editbar div.type.codeview .CodeMirror{
	min-height: 230px;
}
#editbar div.type.codeview textarea{
	width: 100%;
	resize: vertical;
	min-height: 300px;
}
#editbar div.type.codeview .buttons{
	padding: 10px;
}
#editbar a.nav-tab.nav-tab-active{
	background-color: #fff;
	border-bottom: 1px solid #fff;
}
#editbar.high-dpi .btnsrc img{
	box-sizing: border-box;
	width: 100%;
}
#editbar.high-dpi .btnsrc{
	box-sizing: border-box;
	width: 50%;
}
#editbar div.buttons {
	padding-top: 5px;
}
#editbar div.type.single #single-link{
	border: 1px solid #D3D6DB;
	margin: 10px 0;
	padding: 14px;
	display: none;
}
#editbar div.type.single #single-link label{
	margin-bottom: 12px;
}
#editbar div.type.multi {
	display: none;
	height: 400px;
}
#editbar a.mailster-btn {
	display: inline-block !important;
	position: relative;
	padding: 4px 10px;
	margin: 1px;
}
#editbar a.button.add_image, #editbar a.button.reload {
	float: right;
	margin: 0 0 0 5px;
	cursor: pointer;
}
.rtl #editbar a.button.add_image,.rtl #editbar a.button.reload {
	float: left;
	margin: 0 5px 0 0;
}
#editbar div.buttons button {
	float: right;
	margin: 0 0 0 5px;
	cursor: pointer;
}
.rtl #editbar div.buttons button {
	float: left;
	margin: 0 5px 0 0;
}
#editbar div.buttons label {
	float: right;
	margin: 6px 5px;
	line-height: 20px;
}
.rtl #editbar div.buttons label {
	float: left;
}
#editbar div.buttons a.remove {
	position: absolute;
	color: red;
	cursor: pointer;
	font-size: 15px;
	bottom: 18px;
	left: 18px;
	padding: 2px 3px 2px 2px;
	opacity: 0.5;
}
.rtl #editbar div.buttons a.remove {
	left: inherit;
	right: 18px;

}
#editbar div.buttons a.remove:before{content: '\e82a';}
#editbar div.buttons a.remove:hover {
	opacity: 1;
}
#editbar div.type .type-input {
	margin: 4px 0;
}
#editbar div.type input.input {
	background-color: #F9F9F9;
	border: 1px solid #DFDFDF;
	border-radius: 3px;
	width: 100%;
	padding: 3px;
	font-size: 16px;
	font-weight: 100;
	box-sizing: border-box;
}
#editbar.has-conditions div.type .type-input {
	position: absolute;
	right: 0;
	top: 0;
	left: 320px;
}
#editbar div.type textarea {
	height: 315px;
	resize: vertical;
	max-height: 315px;
}
#editbar #wp-mailster-editor-wrap {
	margin: 5px;
}
#editbar #wp-mailster-editor-editor-container {
	background-color: #F9F9F9;
}
#editbar .editbarinfo {
}
#editbar .editbarinfo span {
	font-weight: 700;
}
#editbar div.type.img .imagecontentwrap {
	overflow: hidden;
}
#editbar div.type.img .imagewidth, #editbar div.type.img .imageheight {
	width: 40%;
	text-align: center;
}
#editbar div.type.img .imagecroplabel {
	display: block;
	text-align: center;
	overflow: hidden;
}
#editbar div.type.img .imagecroplabel input {
	display: none;
}
#editbar div.type.img .imagecroplabel span {
	display: inline-block;
	border: 1px dotted #555;
	border-top: 0;
	width: 50%;
	margin: -5px auto 0;
	height: 17px;
	border-radius: 5px;
}
#editbar div.type.img .imagecroplabel span:before {
	visibility: visible;
	content: '\e835';
	font-size: 18px;
	margin-top: 10px;
}
#editbar div.type.img .imagecroplabel.not-cropped span:before {
	content: '\f127';
}
#editbar div.type.img .imagecroplabel.not-cropped span {
	border-color: #ccc;
}
#editbar div.type.img .right {
	-webkit-transition: margin-right .25s ease;
	-moz-transition: margin-right .25s ease;
	-ms-transition: margin-right .25s ease;
	-o-transition: margin-right .25s ease;
	transition: margin-right .25s ease;
}
#editbar div.type.img.edit .right {
	margin-right: -75%;
}
#editbar div.type.img .asp {
	border: 2px solid #ddd;
	height: 10px;
	border-top: 0;
	width: 68px;
	float: right;
	margin-right: 39px;
	display: block;
}
#editbar div.type.img .asp span.asp-lock {
	cursor: pointer;
	margin: 1px 24px 10px 0;
}
#editbar div.type.img .asp span.asp-lock:before {
	content: '\e815';
	font-size: 14px;
	vertical-align: middle;
	background: #fff;
	padding: 1px;
	margin: 0;
}
#editbar div.type.img .asp span.asp-lock.locked:before {
	content: '\e816';
}
#editbar div.type.img .imagewrap {
	padding: 5px;
	background-color: #fff;
	margin: 15px 0;
	max-width: 100%;
	position: relative;
	height: 320px;
}
#editbar div.type.img .imagewrap .jcrop-holder {
	z-index: 1;
	position: absolute !important;
}
#editbar div.type.img .imagewrap .imagepreview{
	position: absolute;
	left: 4px;
	max-width: 98%;
	display: block;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-o-transition: all 0.1s;
	-ms-transition: all 0.1s;
	transition: all 0.1s;
	z-index: 1;
}
.rtl #editbar div.type.img .imagewrap .imagepreview{
	left: inherit;
	right: 0;
}
#editbar div.type.img .imagewrap .imagepreview:hover{
}
#editbar div.type.img .imagewrap .imagepreview.zoom{
	position: absolute;
	max-width: 200%;
	width: 200%;
	box-shadow: 0 0 0 1px white, 0 0 0 5px #1E8CBE;
	background-color: #fff;
	z-index: 1000;
	cursor: -webkit-zoom-out;
	cursor: -moz-zoom-out;
	cursor: zoom-out;
	clip: inherit !important;
}
#editbar div.type.img .imagelist,#editbar div.type .postlist {
	height: 339px;
	width: 100%;
	overflow: auto;
	padding: 5px;
	box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
	box-sizing: border-box;
}
#editbar div.type .postlist {
}
#editbar div.type.img .imagelist {
	background-color: #fff;
}
#editbar #imagewidth{
	width: 50%;
}
#editbar #imagewidth a{
	cursor: pointer;
}
#editbar div.type .postlist {
	float: none;
}
#editbar div.type .postlist a.load-more-posts, #editbar div.type .imagelist a.load-more-posts{
	text-align: center;
	display: block;
	font-weight: 700;
}
#editbar div.type ul li a.load-more-posts span{
	padding-top: 18px;
	display: block;
}
#editbar div.type .imagelist ul li a.load-more-posts span{
	padding-top: 36px;
}
#editbar div.type.img .imagelist ul,#editbar div.type .postlist ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#editbar div.type .postlist ul li {
	display: block;
	height: 55px;
	border-top: 1px solid #F9F9F9;
	border-bottom: 1px solid #DFDFDF;
	margin: 0;
	line-height: 1.1em;
	position: relative;
	overflow: hidden;
	padding: 4px;
	cursor: pointer;
}
#editbar div.type .postlist ul li:first-child {
	border-top: 0;
}
#editbar div.type .postlist ul li:last-child {
	border-bottom: 0;
}
#editbar div.type .postlist ul, #editbar div.type .imagelist ul {
	padding-bottom: 6px;
}
#editbar div.type .postlist ul li .no-feature, #editbar div.type .postlist ul li .feature {
	width: 48px;
	height: 48px;
	box-shadow: inset 0 0 15px rgba( 0, 0, 0, 0.1 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.05 );
	background-color: #eee;
	float: left;
	margin: 3px 0;
}
.rtl #editbar div.type .postlist ul li .no-feature, .rtl #editbar div.type .postlist ul li .feature {
	float: right;
}
#editbar div.type .postlist ul li .feature {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
#editbar div.type .postlist ul li strong, #editbar div.type .postlist ul li span {
	display: block;
	margin-left: 52px;
	padding: 2px;
	cursor: pointer;
}
.rtl #editbar div.type .postlist ul li strong,.rtl #editbar div.type .postlist ul li span {
	margin-left: 0px;
	margin-right: 52px;
}
#editbar div.type .postlist ul li span.excerpt {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 30px;
}
#editbar div.type .postlist ul li span.date, #editbar div.type .postlist ul li span.info{
	font-size: 90%;
	color: #999;
}
#dynamic_embed_options span{
}
#editbar .tab #recent_feeds{
	margin: 0 6px;
	font-size: 11px;
	line-height: 1em;
}
#editbar .tab .rss_info h4{
	margin-bottom: 2px;
}
#editbar .tab .rss_info p{
	margin: 0 2px;
}
#editbar .tab, #editbar .link-wrap .postlist{
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid #D3D6DB;
	background-color: #fff;
	z-index: 3;
	margin-bottom: 4px;
	overflow: hidden;
	margin-top: -1px;
}
#editbar .tab .current-preview{
	margin: 0;
}
#editbar .tab h4.current-match{
	font-size: 14px;
	font-weight: 100;
	margin-top: 0;
}
#editbar .tab .current-tag{
	font-weight: 100;
	margin-top: 0;
	max-height: 120px;
	overflow: auto;
	white-space: pre;
}
#editbar .tab p{
	padding: 0 5px;
}
#editbar .dynamic_embed_options_taxonomies{
	padding: 0 5px;
	margin-bottom: 10px;
}
#editbar .dynamic_embed_options_taxonomy_label{
	display: inline-block;
	width: 20%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.dynamic_embed_options_taxonomy_container{
	border: 1px solid #DFDFDF;
	border-radius: 3px;
	margin: 3px 10px 3px 0;
	padding: 8px 5px;
	position: relative;
}
.dynamic_embed_options_taxonomy_container a.button{
	vertical-align: baseline;
}
.dynamic_embed_options_taxonomy_container select{
	width: 150px;
}
.dynamic_embed_options_taxonomy_wrap{
	margin: 3px 0;
}
.dynamic_embed_options_taxonomy_container div.mailster-list-operator span.operator-and{
	display: block;
}
.dynamic_embed_options_taxonomy_container:first-child div.mailster-list-operator span.operator-and{
	display: none;
}
#editbar div.type .postlist ul li span.post-type {
	position: absolute;
	top: 5px;
	right: 5px;
	display: block;
	background-color: #464646;
	color: white;
	font-size: 10px;
	padding: 3px 6px;
	z-index: 2;
}
.rtl #editbar div.type .postlist ul li span.post-type {
	right: auto;
	left: 5px;
}
#editbar div.type .postlist ul li em.post-status {
	font-size: 10px;
	padding: 3px 6px;
	border-radius: 5px;
	font-weight: normal;
}
#editbar div.type .postlist ul li:hover {
	background-color: #f1f1f1;
}
#editbar div.type .postlist ul li.selected {
	background-color: #f1f1f1;
	box-shadow: 0 0 0 1px white, 0 0 0 3px #1E8CBE;
	z-index: 1;
}
#editbar div.type.img .imagelist ul li {
	float: left;
	height: 100px;
	overflow: hidden;
	border: 0;
	margin: 0;
	width: 18%;
	padding: 1%;
}
.rtl #editbar div.type.img .imagelist ul li {
	float: right;
}
#editbar div.type.img .imagelist ul li a {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	cursor: pointer;
	position: relative;
}
#editbar div.type.img .imagelist ul li a span.caption {
	display: none;
	position: absolute;
	padding: 6px 4px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #6D6D6D;
	background-color: rgba(43, 43, 43, 0.6);
	color: white;
	font-weight: 100;
	font-size: 11px;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 15px;
	white-space: nowrap;
	line-height: 1em;
}
#editbar div.type.img .imagelist ul li:hover a span.caption {
	display: block;
}
#editbar div.type.img .imagelist ul li:hover a{
	box-shadow: 0 0 0 1px white, 0 0 0 3px #1E8CBE;
}
#editbar div.type.img .imagelist ul li.selected a {
	box-shadow: 0 0 0 1px white, 0 0 0 5px #1E8CBE;
}
#editbar div.type.img .imageurl-popup {
	display: none;
}
#editbar div.type .postlist ul li img {
	position: absolute;
	float: left;
	margin: 3px 0;
}
.rtl #editbar div.type .postlist ul li img {
	float: right;
}
#editbar div.type .imagelist ul li span.mime-type {
	display: block;
}
#editbar div.type .imagelist ul li span.norows, #editbar div.type .postlist ul li span.norows {
	display: block;
	font-size: 10px;
	text-align: center;
	padding-top: 6px;
}
#editbar div.type.btn ul.buttons {
	display: block;
	overflow: hidden;
	padding: 3px 3px;
}
#editbar div.type.btn ul#tab-buttons-btn, #editbar div.type.btn ul#tab-buttons-social{
	display: block !important;
}
#editbar div.type.btn .button-nav-wrap{
	margin-bottom: 5px;
}
#editbar div.type.btn .button-nav-wrap-root ul.buttons{
	display: block !important;
}
#editbar div.type.btn .button-nav{
	border-bottom: 1px solid #cccccc;
}
#editbar .nav-tab:hover, #editbar .nav-tab-active{
}
#editbar div.type.btn ul.buttons li {
	float: left;
}
.rtl #editbar div.type.btn ul.buttons li {
	float: right;
}
#editbar div.type.btn ul.buttons li a {
	display: block;
	cursor: pointer;
	padding: 5px;
	border: 1px solid #D3D6DB;
	margin: 0 3px;
	float: left;
	background: url(../img/trans_bg.png) repeat center center #fff;
}
#editbar div.type.btn ul.buttons.buttons-dark li a {
	background: #FdFdFd;
}
#editbar div.type.btn ul.buttons.buttons-dark li a img, #editbar div.type.btn ul.buttons.buttons-light li a img {
	background-color: transparent !important;
}
#editbar div.type.btn ul.buttons.buttons-light li a {
	background: #383838;
}
#editbar div.type.btn ul.buttons li a:hover {
	box-shadow: 0 1px 2px rgba(0,0,0,0.5), 0 0 0 1px white, 0 0 0 2px #1E8CBE;
}
#editbar div.type.btn ul.buttons li a.active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 0 0 1px white, 0 0 0 3px #1E8CBE;
}
#editbar div.type.btn ul.buttons li a img{
	cursor: pointer;
}
.post-type-newsletter #TB_ajaxContent{
	padding: 0 !important;
	min-width: 100%;
	max-width: 100%;
	margin-bottom: -4px;
	box-sizing: border-box;
	overflow: hidden;
}
.rtl #TB_ajaxContent{
	text-align: right;
}
.device-wrap{
	overflow: hidden;
	top: 29px;
	bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
}
.device{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	position: absolute;
	top: 0;
}
.device:hover{
	z-index: 100;
}
.device.desktop{
	width: 60%;
	max-width: 660px;
	min-width: 650px;
	height: 98%;
	margin-top: 1%;
	left: 4%;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #dfdfdf;
}
.rtl .device.desktop{
	left: auto;
	right: 4%;
}
.device.mobile{
	width: 494px;
	width: 344px;
	height: 920px;
	height: 768px;
	-webkit-transform: translateY(-50%) scale(0.75);
	-moz-transform: translateY(-50%) scale(0.75);
	transform: translateY(-50%) scale(0.75);
	top: 50%;
	right: 8%;
}
.rtl .device.mobile{
	left: 6%;
	right: auto;
}
.device.mobile:hover, .ie .device.mobile{
	-webkit-transform: translateY(-50%) scale(1);
	-moz-transform: translateY(-50%) scale(1);
	transform: translateY(-50%) scale(1);
}
.desktop-header{
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 1px solid #dfdfdf;
	height: 70px;
	background-color: #fafafa;
}
.desktop-header .desktop-header-bar{
	height: 22px;
	border-bottom: 1px solid #dfdfdf;
}
.desktop-header .desktop-header-bar i{
	display: block;
	float: left;
	background: #dfdfdf;
	border-radius: 50%;
	margin: 6px 1px 6px 5px;
	width: 10px;
	height: 10px;
}
.desktop-header .desktop-header-info{
	padding: 12px;
}
.desktop-header .desktop-header-info u{
	display: block;
	float: right;
	background: #f1f1f1;
	border-radius: 50%;
	margin-top: -3px;
	width: 30px;
	height: 30px;
}
.rtl .desktop-header .desktop-header-info u{
	float: left;
}
.desktop-header .desktop-header-info i{
	display: block;
	background: #f1f1f1;
	margin: 3px 0 5px 5px;
	width: 60%;
	height: 6px;
}
.desktop-header .desktop-header-info i:last-child{
	width: 40%;
}
.desktop-body{
	background: #dfdfdf;
	position: absolute;
	bottom: 0;
	top: 71px;
	left: 0;
	right: 0;
}
.mobile-header{
	-webkit-border-top-left-radius: 38px;
	-webkit-border-top-right-radius: 38px;
	-moz-border-radius-topleft: 38px;
	-moz-border-radius-topright: 38px;
	border-top-left-radius: 38px;
	border-top-right-radius: 38px;
	height: 100px;
	width: 100%;
	position: absolute;
	background-color: #efefef;
}
.mobile-header i{
	display: block;
	background: #dfdfdf;
	border-radius: 9px;
	margin: 14px auto 0;
	width: 55px;
	height: 12px;
}
.mobile-header u{
	display: block;
	background: #dfdfdf;
	border-radius: 50%;
	margin: 30px auto 0;
	width: 14px;
	height: 14px;
}
.mobile-body{
	background: #dfdfdf;
	border: 12px solid #efefef;
	border-width: 0 12px 0;
	position: absolute;
	bottom: 100px;
	top: 100px;
	left: 0;
	right: 0;
}
.mobile-footer{
	-webkit-border-bottom-left-radius: 38px;
	-webkit-border-bottom-right-radius: 38px;
	-moz-border-radius-bottomleft: 38px;
	-moz-border-radius-bottomright: 38px;
	border-bottom-left-radius: 38px;
	border-bottom-right-radius: 38px;
	height: 100px;
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: #efefef;
}
.mobile-footer i{
	display: block;
	background: #dfdfdf;
	border-radius: 50%;
	margin: 30px auto;
	width: 55px;
	height: 55px;
}
.device .preview-body{
	-webkit-overflow-scrolling: touch;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,.4);
	position: absolute;
	cursor: pointer;
	-webkit-transform: translateZ(0px);
}
.device .preview-body iframe{
	height: 100%;
	min-height: 100%;
}
.device-info {
	position: absolute;
	bottom: -84px;
	text-align: center;
	width: 120%;
	font-size: 130%;
	left: -10%;
}
/*----------------------------------------------------------------------*/
/* Table
/*----------------------------------------------------------------------*/
#mailster_details .red {
	color: #D8605F;
}
#mailster_details table {
	border-collapse: collapse;
	width: 100%;
}
#mailster_details table .spinner {
	margin: 0 5px 0 0;
}
#mailster_details table td,#mailster_details table th {
	vertical-align: text-top;
	padding: 7px;
	border-bottom: 1px solid #DFDFDF;
}
#mailster_details table .geolocation td,#mailster_details table .geolocation th {
	padding-bottom: 0px;
	border-bottom: 0;
}
#mailster_details table th {
	text-align: left;
	width: 130px;
}
#mailster_details table td.nopadding {
	padding-bottom: 0;
}
#mailster_details table ul {
	margin: 0;
}
#mailster_details table .default-value {
	float: right;
	text-decoration: none;
	cursor: pointer;
}
#mailster_details .showdetails {
	text-decoration: none;
	font-size: 90%;
	outline: none;
}
#mailster_details .showdetails:before {
	content: '\e815';
	font-size: 14px;
	vertical-align: middle;
}
#mailster_details .showdetails.open:before {
	content: '\e816';
	vertical-align: inherit;
}
#mailster_details .ajax-list {
	border: 1px solid #DFDFDF;
	border-bottom: 0;
	margin-top: 5px;
	display: none;
	overflow: auto;
	max-height: 428px;
	padding: 0;
}
#mailster_details .ajax-list table{
	border: 0;
}
#mailster_details .ajax-list table td{
	border: 0;
	display: table-cell;
}
#recipients-list{
}
#recipients-list .receiver-detail{
	display: none;
}
.ajax-list-header{
	position: absolute;
	border-bottom: 1px solid #DFDFDF;
	border-right: 1px solid #DFDFDF;
	border-top: 0;
	height: 21px;
	background-color: #FFF;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 6px 12px 12px;
	white-space: nowrap;
	z-index: 1;
}
.ajax-list-header label{
	padding-right: 10px;
}
.ajax-list-header select{
	line-height: 1em;
	max-width: 100px;
}
.ajax-list-header a.recipients-order{
	cursor: pointer;
	outline: 0;
	vertical-align: middle;
}
.ajax-list-header a.recipients-order:before{
	content: '\e815';
	font-size: 16px;
	vertical-align: middle;
}
.ajax-list-header a.recipients-order.asc:before{
	content: '\e816';
	vertical-align: inherit;
}
#recipients-list table{
	margin-top: 40px;
}
#recipients-list table td{
	white-space: nowrap;
}
#recipients-list .show-receiver-detail{
	cursor: pointer;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
	width: 95%;
	white-space: nowrap;
}
#recipients-list td.loading {
	background-position: 99% center;
	background-repeat: no-repeat;
	background-image: url(../img/loading.gif) !important;
}
#recipients-list .receiver-detail td{
	border-top: 0;
}
#recipients-list .receiver-detail div.receiver-detail-body{
	padding: 0 0 10px;
	display: none;
	overflow: hidden;
}
#recipients-list .receiver-detail div.receiver-detail-body label{
	display: inline-block;
	width: 120px;
	font-weight: 700;
}
#recipients-list .receiver-detail div.receiver-detail-body ul{
	width: auto;
}
#recipients-list .mailster-icon{
	font-size: 110%;
}
#recipients-list .mailster-icon.mailster-icon-unopen{
	color: #ccc;
}
#recipients-list tr.expanded td{
	border-bottom: 0 !important;
}
#recipients-list .bounce-indicator {
	cursor: pointer;
}
#recipients-list .bounce-indicator.hard {
	text-align: center;
	border-radius: 50%;
	display: block;
	width: 18px;
	height: 18px;
	line-height: 17px;
	font-size: 11px;
	color: #fff;
	background-color: #D8605F;
}
#recipients-list .bounce-indicator.hard:before {
	margin-left: 2px;
}
#recipients-list .user_image{
	width: 120px;
	height: 120px;
	padding: 5px;
	float: left;
	border: 1px solid #D3D6DB;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
	background-color: #fff;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 120px 120px;
}
#recipients-list .receiver-detail-data.has-avatar{
	margin-left: 150px;
}
#recipients-list .receiver-detail-data h4{
	font-size: 16px;
	font-weight: 100;
	margin: 0.3em 0 0.3em;
}
#recipients-list .receiver-detail-data h4 a{
	visibility: hidden;
	font-size: 10px;
}
#recipients-list .receiver-detail-body:hover h4 a{
	visibility: visible;
}
#recipients-list .receiver-detail-data ul li{
	white-space: pre-line;
}
#click-list, #error-list{
	margin-top: 5px;
	display: none;
}
#mailster_details #stats {
	margin-top: 20px;
	margin-bottom: 20px;
}
#mailster_details #stats li {
	width: 22%;
	display: block;
	float: left;
	text-align: center;
	line-height: 70px;
	box-sizing: border-box;
}
#mailster_details #stats li:first-child {
	width: 12%;
}
#mailster_details #stats li label {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	max-width: 60%;
	min-width: 100px;
}
#mailster_details .big {
	font-size: 18px;
	font-weight: 100;
	display: inline-block;
	margin-right: 5px;
	cursor: default;
}
#mailster_details .geolocation .big {
	width: 100px
}
#mailster_details .verybold {
	font-size: 20px;
	font-weight: 700;
}
#mailster_details .environment label{
	margin-right: 5%;
}
#mailster_details .client-type{
	width: 20px;
}
#mailster_details .mailster-icon.client-desktop:before{
	content: '\e811';
}
#mailster_details .mailster-icon.client-mobile:before{
	content: '\e813';
}
#mailster_details .mailster-icon.client-webmail:before{
	content: '\e828';
}
.clicked-link{
	max-width: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	margin-right: 5px;
}
.clicked-link:hover{
	overflow: visible;
}
.receiver-detail-data .clicked-link{
	float: left;
}
.receiver-detail-data ul li:hover span.count{
	visibility: hidden;
}
#mailster_details .piechart {
	width: 75px;
	height: 75px;
	display: inline-block;
}
#mailster_details table .countries{
	overflow: hidden;
	border: 0;
	border-top: 1px solid #DFDFDF;
	margin-top: 0;
}
#mailster_details table .countries .big{
	width: 70px;
}
#mailster_details table .countries tr{
	border-left: 1px solid #DFDFDF;
	border-right: 1px solid #DFDFDF;
}
#mailster_details table .countries td{
	padding-top: 0;
	padding-bottom: 0;
	border-bottom: 1px solid #DFDFDF;
}
#mailster_details table .countries td .mailster-flag-24{
	margin-top: 5px;
}
#mailster_details #countries_wrap{
	position: relative;
}
#mailster_details #countries_map {
	position: relative;
	float: left;
	width: 69%;
	height: 428px;
}
#mailster_details #countries_map td{
	border-bottom: 0;
}
#mailster_details a.zoomout {
	display: inline-block;
	visibility: hidden;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 1;
}
#mailster_details a.zoomout:before {
	content: '\e827';
}
#mailster_details #mapinfo {
	position: absolute;
	background-color: #777;
	color: white;
	margin: 400px 0 0 0;
	padding: 3px 6px;
	display: none;
	right: 31%;
}
#google-visualization-errors-all-1,#google-visualization-errors-all-2,#google-visualization-errors-all-3{
	position: absolute;
	right: 0;
	z-index: 1;
}
#google-visualization-errors-all-1 div > span,
#google-visualization-errors-all-2 div > span,
#google-visualization-errors-all-3 div > span{
	padding: 7px 10px !important;
	background-color: #777;
	display: block;
}
#google-visualization-errors-all-1 div span,
#google-visualization-errors-all-2 div span,
#google-visualization-errors-all-3 div span{
	color: white !important;
}
#mailster_details #countries_table {
	float: right;
	width: 29%;
	max-width: 29%;
	height: 430px;
	max-height: 430px;
	overflow: auto;
}
#mailster_details #countries_table table {
	border-top: 0;
}
#mailster_details #countries_table table th {
	border: 0;
}
#mailster_details #countries_table tbody tr {
	cursor: pointer;
}
#mailster_details #countries_table tbody tr td {
	padding: 5px 8px;
	vertical-align: middle;
}
#mailster_details #countries_table tbody tr:hover td {
	background: #fcfcfc;
}
#mailster_details #countries_table tbody tr.wp-ui-highlight:hover td {
	background: inherit;
}
#mailster_details #countries_table tbody tr.wp-ui-highlight td {
	color: white;
	border-top-color: gray;
}
#mailster_details #countries_table tbody tr.wp-ui-highlight td .count {
	color: white;
}
#mailster_details #countries_table .mailster-flag-32 {
	margin-top: 4px;
}
/*----------------------------------------------------------------------*/
/* Delivery
/*----------------------------------------------------------------------*/
.active_wrap, .autoresponder_active_wrap {
	position: relative;
	padding: 4px;
	margin-top: 4px;
}
.active_wrap .active_overlay, .autoresponder_active_wrap .autoresponder_active_overlay {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-image: url(../img/inactive.png);
	z-index: 100;
}
.timezone-enabled .utcoffset {
	text-decoration: line-through;
	color: #ccc;
}
.active_wrap.disabled .active_overlay, .autoresponder_active_wrap.disabled .autoresponder_active_overlay {
	display: none;
}
.tabs-panel{
	border: 1px solid #DFDFDF;
	padding: 0.5em 5px;
	overflow: hidden;
}
.mailster_autoresponder_more, .autoresponder_before_after{
	display: none;
}
.autoresponder-mailster_subscriber_insert .autoresponderfield-mailster_subscriber_insert,
.autoresponder-mailster_subscriber_unsubscribed .autoresponderfield-mailster_subscriber_unsubscribed,
.autoresponder-mailster_post_published .autoresponderfield-mailster_post_published,
.autoresponder-mailster_autoresponder_timebased .autoresponderfield-mailster_autoresponder_timebased,
.autoresponder-mailster_autoresponder_usertime .autoresponderfield-mailster_autoresponder_usertime,
.autoresponder-mailster_autoresponder_hook .autoresponderfield-mailster_autoresponder_hook,
.autoresponder-mailster_autoresponder_followup .autoresponderfield-mailster_autoresponder_followup
{
	display: block;
}
.autoresponder-mailster_autoresponder_usertime .autoresponder_before_after{
	display: inline;
}
.autoresponder-mailster_autoresponder_usertime .autoresponder_after{
	display: none;
}
.autoresponder_before{
	display: none;
}
.autoresponder-mailster_autoresponder_timebased .autoresponder_time{
	display: none;
}
.autoresponder_time select{
	width: 85px;
}
.mailster_autoresponder_condition{
	border: 1px solid #DFDFDF;
	border-radius: 3px;
	margin: 3px 0;
	padding: 5px;
	overflow: hidden;
}
#mailster_autoresponder_condition_0 .remove-condition{
	display: none;
}
.mailster_autoresponder_condition select{
	margin: 3px 0;
	width: 49%;
}
.mailster_autoresponder_condition input{
	margin: 3px 0;
	width: 95%;
	border-color: #DFDFDF;
}
.mailster_sendtest{
	float: right;
}
.rtl .mailster_sendtest{
	float: left;
}
input.deliverydate,input.deliverytime {
	width: 94px;
	font-size: 16px;
	padding: 3px 1px;
	color: #333;
	cursor: pointer;
	text-align: center;
}
input.deliverydate.inactive,input.deliverytime.inactive {
	color: #585858;
	background: #fff;
	padding: 4px 2px 3px;
	border: 0;
	border-bottom: 1px dotted #999;
}
.utcoffset{
	white-space: nowrap;
	font-size: 10px;
	letter-spacing: -0.05em;
}
input.deliverytime {
	width: 50px;
}
.deliverydate.inactive:hover,.deliverytime.inactive:hover {
	color: #333;
	border-bottom: 1px dotted #585858;
}
#ui-datepicker-div {
	display: none;
}
label.weekday input{
	margin-right: 1px;
}
#userexactdate span.disabled, #userexactdate span.disabled input, #userexactdate span.disabled select{
	color: #ccc;
	opacity: 0.6;
}
#mailster_testmail{
	margin: 0.3em 0;
}
.mailster-total{
	text-indent: -99999px;
	font-size: 16px;
	font-weight: 700;
	visibility: visible;
	cursor: pointer;
}
.mailster-total.loading{
	height: auto;
	opacity: 0.5;
}
.rtl .mailster-total{
	text-indent: 99999px;
}
.progress{
	width: 100%;
	height: 20px;
	background: #efefef;
	overflow: hidden;
	font-size: 10px;
	position: relative;
	text-align: right;
	line-height: 20px;
	border-radius: 2px;
}
.progress var{
	padding-right: 2px;
	font-style: normal;
	visibility: hidden;
	position: relative;
	z-index: 2;
}
.progress:hover var{
	visibility: visible;
}
.progress span{
	display: block;
	position: absolute;
	line-height: 1.6em;
	padding: 2px 0;
	top: 0;
	bottom: 0;
	white-space: nowrap;
}
.progress span.bar{
	-webkit-transition: width 1.25s ease;
	-moz-transition: width 1.25s ease;
	-ms-transition: width 1.25s ease;
	-o-transition: width 1.25s ease;
	transition: width 1.25s ease;
	overflow: visible;
	border-radius: 2px;
}
.progress span.bar{
	text-shadow: none;
	background: url(../img/progress.gif);
}
.progress.paused span.bar{
	background: #e3eaed;
	opacity: 0.8;
}
.spam-score .progress span{
	max-width: none;
}
.spam-score .progress span.bar{
	background: url(../img/score.png);
	background-position: left center;
}
.score{
	padding: 6px 0 0;
	font-style: italic;
}
#spam_score_progress{
	margin: 0.3em 0;
	display: none;
}
/*----------------------------------------------------------------------*/
/* Lists
/*----------------------------------------------------------------------*/

#mailster_receivers{}
#mailster_receivers ul.children{
	margin: 5px 0 5px 10px;
}
#mailster_receivers ul label{
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	width: 100%;
	white-space: nowrap;
}
.mailster_list_condition{
	border: 1px solid #DFDFDF;
	border-radius: 3px;
	margin: 3px 0;
	padding: 5px;
	position: relative;
}
.mailster-conditions:empty:before{
	content: attr(data-emptytext);
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	color: #999;
}
#mailster_list_condition_0 .remove-condition, #mailster_list_condition_0 div.mailster-list-operator{
	display: none;
}
#mailster_receivers p.lists strong:after{
	content: ',';
	display: inline-block;
}
#mailster_receivers p.lists strong:last-child:after{
	content: '';
}
.mailster_list_condition select{
	margin: 3px 0;
	width: 46%;
}
.mailster_list_condition input{
	margin: 3px 0;
	width: 95%;
	border-color: #DFDFDF;
}
#mailster_conditions_render{
	position: relative;
}
#mailster_conditions_render .mailster-conditions-render:empty{
	border: 1px solid #DFDFDF;
	border-radius: 2px;
	padding: 10px 6px;
	min-height: 18px;
}
#mailster_conditions_render .mailster-conditions-render:empty:before, .mailster-conditions .mailster-conditions-wrap:empty:before{
	content: attr(data-emptytext);
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	color: #999;
	white-space: nowrap;
}
.mailster-condition-render-group{
	border: 1px solid #DFDFDF;
	padding: 3px 6px;
	border-radius: 2px;
	background: #fdfdfd;
	margin: 1px 0 2px;
}
.mailster-condition-operators{
	color: #989898;
	font-size: 12px;
}
.mailster-condition-render{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.mailster-condition-render .mailster-condition-operators{
	font-size: 10px;
}

.create-new-list-wrap{
	display: none;
	border-top: 1px solid #DFDFDF;
}
div.mailster-list-operator{
	position: absolute;
	top: -12px;
	left: 50%;
}
div.mailster-list-operator span{
	transform: translateX(-50%);
	position: absolute;
	background-color: #fff;
	padding: 0 3px;
	text-transform: uppercase;
	color: #ccc;
	font-size: 15px;
	display: none;
}
#mailster_list_conditions.operator-is-OR div.mailster-list-operator span.operator-or{
	display: block;
}
#mailster_list_conditions.operator-is-AND div.mailster-list-operator span.operator-and{
	display: block;
}
/*----------------------------------------------------------------------*/
/* Options
/*----------------------------------------------------------------------*/
#mailster_options hr {
	visibility: hidden;
	clear: both;
	float: none;
}
.fixed-optionbar.focus-on div#mailster_options{
	opacity: 0.5;
}
.focus-on div#mailster_options {
	opacity: 0;
	position: fixed;
	top: 50px;
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
}
.focus-on div#mailster_options:hover {
	opacity: 1;
}
.wp-picker-holder{
	position: absolute;
	z-index: 1000;
}
ul.colors {
	margin: 5px 0;
}
ul.colors li label {
	font-size: 10px;
	display: none;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	cursor: default;
}
ul.colors.has-labels li label {
	display: block;
}
ul.colors li {
	box-sizing: border-box;
	display: inline-block;
}
ul.colors .default-value{
	display: none;
}
ul.colors.has-labels li {
	margin-bottom: 0;
}
ul.colors li a.reset {
	font-size: 20px;
	text-decoration: none;
}
input.color {
	width: 60px;
	font-size: 10px;
	text-transform: uppercase;
}
a.savecolorschema, a.colorschema-delete-all {
	cursor: pointer;
	font-size: 10px;
}
ul.colorschema {
	margin: 5px 0;
	border: 1px solid #DFDFDF;
	overflow: hidden;
	display: inline-block !important;
	max-width: 234px;
}
ul.colorschema {
	margin-right: 14px;
}
ul.colorschema.custom:hover {
	margin-right: 1px;
}
ul.colorschema:hover {
	border: 1px solid #606064;
}
ul.colorschema .colorschema-delete-field{
	display: none;
}
ul.colorschema:hover .colorschema-delete-field{
	display: block;
}
ul.colorschema.finished:hover {
	border: 1px solid #DFDFDF;
}
ul.colorschema li{
	cursor: pointer;
	position: relative;
	height: 13px;
	width: 13px;
	float: left;
	margin: 0;
	text-align: center;
}
ul.colorschema.finished li {
	cursor: default;
}
ul.colorschema li:first-child {
	border-left: 0;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
ul.colorschema li:last-child {
	border-right: 0;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
ul.colorschema li a.colorschema-delete{
	font-size: 13px;
	line-height: 1em;
	display: block;
}

/*----------------------------------------------------------------------*/
/* Attachments
/*----------------------------------------------------------------------*/

.mailster-attachments{
	overflow: hidden;
	margin: 0;
}
.mailster-attachments.is-editable .mailster-attachment:first-child{
	display: none;
}
.mailster-attachments .mailster-attachment{
	width: 47%;
	margin-right: 2%;
	height: 110px;
	position: relative;
	box-shadow: inset 0 0 15px rgba( 0, 0, 0, 0.1 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.05 );
	background: #eee;
	float: left;
	overflow: hidden;
}
.rtl .mailster-attachments .mailster-attachment{
	margin-right: 0;
	margin-left: 2%;
	float: right;
}
.mailster-attachments .mailster-attachment .delete-attachment{
	position: absolute;
	top: 1px;
	right: 1px;
	text-decoration: none;
	display: none;
	width: 18px;
	height: 18px;
	text-align: center;
	z-index: 1;
}
.mailster-attachments.is-editable .mailster-attachment:hover .delete-attachment{
	display: block;
}
.mailster-attachments .mailster-attachment img{
	margin: auto;
	display: block;
	top: 40%;
	position: relative;
	transform: translateY(-50%);
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	max-width: 100%;
	height: auto;
}
.mailster-attachments .mailster-attachment div.mailster-attachment-label{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	word-wrap: break-word;
	text-align: center;
	font-weight: 600;
	font-size: 12px;
	padding: 5px 10px;
	background: rgba( 255, 255, 255, 0.8 );
	box-shadow: inset 0 0 0 1px rgba( 0, 0, 0, 0.15 );
}
/*----------------------------------------------------------------------*/
/* Stuff
/*----------------------------------------------------------------------*/
a.mailster-btn.editbutton {
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 50px;
}
.blink {
	text-decoration: blink;
	-webkit-animation: blink 1s steps(5, start) infinite;
	-moz-animation: blink 1s steps(5, start) infinite;
	-o-animation: blink 1s steps(5, start) infinite;
	animation: blink 1s steps(5, start) infinite;
}
@-webkit-keyframes blink {
	to { visibility: hidden; }
}
@-moz-keyframes blink {
	to { visibility: hidden; }
}
@-o-keyframes blink {
	to { visibility: hidden; }
}
@keyframes blink {
	to { visibility: hidden; }
}
/*----------------------------------------------------------------------*/
/* Clickbadge
/*----------------------------------------------------------------------*/
#clickmap-stats{
	background: #fff;
	padding: 6px 10px;
	box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.5);
	position: absolute;
	display: none;
	z-index: 10000;
}
#clickmap-stats .piechart{
	float: left;
}
#clickmap-stats .piechart.easyPieChart span{
	font-weight: normal;
}
#clickmap-stats p{
	margin: 0;
	padding: 7px 2px 2px 10px;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap: ;
}
.clickbadge {
	display: block;
	position: absolute;
	background: #f33;
	width: 70px;
	background: #383838;
	box-sizing: border-box;
	font-size: 10px;
	color: #f9f9f9;
	text-align: left;
	height: 20px;
	overflow: hidden;
	cursor: pointer;
	z-index: 1;
	opacity: 0.8;
}
.clickbadge:hover {
	color: #f9f9f9;
	z-index: 10;
	opacity: 1;
}
.clickbadge span {
	position: relative;
	display: inline-block;
	max-width: 68px;
	margin: 1px;
	padding: 0 2px;
	text-align: right;
	color: #383838;
	background: #f9f9f9;
	box-sizing: border-box;
}
.clickbadge.clickbadge-outside span {
	text-indent: -9999px;
}
#ui-datepicker-div{
	width: 230px;
}
.fixed-optionbar #mailster_iframe{
	margin-top: 38px;
}
#mailster_template #iframe-wrap {
	-webkit-transition: margin-right .15s ease-in-out;
	-moz-transition: margin-right .15s ease-in-out;
	-ms-transition: margin-right .15s ease-in-out;
	-o-transition: margin-right .15s ease-in-out;
	transition: margin-right .15s ease-in-out;
	margin-right: 0px;
	border: 1px solid #DFDFDF;
}
.rtl #mailster_template #iframe-wrap {
	-webkit-transition: margin-left .15s ease-in-out;
	-moz-transition: margin-left .15s ease-in-out;
	-ms-transition: margin-left .15s ease-in-out;
	-o-transition: margin-left .15s ease-in-out;
	transition: margin-left .15s ease-in-out;
	margin-left: 0px;
}
#mailster_template .show-modules #iframe-wrap {
	margin-right: 170px;
}
.rtl #mailster_template .show-modules #iframe-wrap {
	margin-right: 0px;
	margin-left: 170px;
}
#mailster_template a.toggle-modules{
	-webkit-transition: margin-left .15s ease-in-out;
	-moz-transition: margin-left .15s ease-in-out;
	-ms-transition: margin-left .15s ease-in-out;
	-o-transition: margin-left .15s ease-in-out;
	transition: margin-left .15s ease-in-out;
	border: 1px solid;
	border-color: #fff #fff #DFDFDF #DFDFDF;
	background: #fff;
	padding: 5px;
	z-index: 98;
	margin-left: -40px;
	margin-top: -2px;
	color: #a8a8a8;
	position: absolute;
	display: block;
}
#mailster_template .show-modules a.toggle-modules{
	display: none !important;
}
#module-selector:hover a.toggle-modules{
	display: block !important;
}
.rtl #mailster_template a.toggle-modules{
	-webkit-transition: margin-right .15s ease-in-out;
	-moz-transition: margin-right .15s ease-in-out;
	-ms-transition: margin-right .15s ease-in-out;
	-o-transition: margin-right .15s ease-in-out;
	transition: margin-right .15s ease-in-out;
	border-color: #fff #DFDFDF #DFDFDF #fff;
	margin-left: 0;
	margin-right: -40px;
}
#mailster_template a.toggle-modules:hover{
	color: #686868;
}
#mailster_template .show-modules a.toggle-modules{
	margin-left: -30px;
}
.rtl #mailster_template .show-modules a.toggle-modules{
	margin-left: 0;
	margin-right: -30px;
}
#mailster_template a.toggle-modules:before{
	content: '\e81a';
}
#mailster_template .show-modules a.toggle-modules:before{
	content: '\e819'
}
#mailster_template .inside iframe#mailster_iframe {
	-webkit-transition: height .25s ease-in-out;
	-moz-transition: height .25s ease-in-out;
	-ms-transition: height .25s ease-in-out;
	-o-transition: height .25s ease-in-out;
	transition: height .25s ease-in-out;
	margin-top: -3px;
	margin-bottom: -4px;
}
#mailster_template .inside #template-wrap.load{
	cursor: progress !important;
}
#mailster_template a.mailster-btn {
	display: none;
}
#mailster_template:hover a.mailster-btn,.ie #mailster_template a.mailster-btn, .touch #mailster_template a.mailster-btn,.ie #mailster_template .show-modules #module-selector {
	display: block;
}
#module-selector{
	-webkit-transition: width .15s ease-in-out;
	-moz-transition: width .15s ease-in-out;
	-ms-transition: width .15s ease-in-out;
	-o-transition: width .15s ease-in-out;
	transition: width .15s ease-in-out;
	right: 0;
	position: absolute;
	z-index: 99;
	bottom: 0;
	top: 40px;
	background: #fff;
}
.rtl #module-selector{
	left: 0;
	right: initial;
}
#mailster_template .show-modules #module-selector {
	width: 180px;
}
#mailster_template #module-selector {
	width: 0;
}
#module-selector .inner{
	position: relative;
	overflow: scroll;
	overflow-y: auto;
	overflow-x: hidden;
	height: 94%;
}
#mailster_template .inner #template-wrap.load, #mailster_template .inner #template-wrap.load *{
	cursor: progress !important;
}
.fixed-optionbar #module-selector{
	right: 321px;
	top: 90px;
	position: fixed;
}
.rtl.fixed-optionbar #module-selector{
	left: 321px;
	right: initial;
}
.fixed-optionbar #module-selector .inner{
	height: 99%;
}
.fixed-optionbar #post-body.columns-1 #module-selector{
	right: 21px;
}
.rtl.fixed-optionbar #post-body.columns-1 #module-selector{
	left: 21px;
	right: initial;
}
.show-modules #module-selector #module-search-wrap{
	width: 170px;
}
#module-selector #module-search-wrap{
	-webkit-transition: width .15s ease-in-out;
	-moz-transition: width .15s ease-in-out;
	-ms-transition: width .15s ease-in-out;
	-o-transition: width .15s ease-in-out;
	transition: width .15s ease-in-out;
	width: 0;
	overflow: hidden;
}
#module-selector #module-search-wrap #module-search{
	margin: 1px 11px;
	width: 158px;
}
#module-selector #module-search-wrap #module-search-remove{
	text-decoration: none;
	position: absolute;
	right: 14px;
	top: 2px;
	padding: 2px;
	display: none;
}
#module-selector #module-search-wrap:hover #module-search-remove{
	display: block;
}

#module-selector ul {
	margin: 0;
	padding: 0;
}
#mailster_template #template-wrap.load #module-selector {
	opacity: 0.2;
}
#module-selector ul li {
	display: block;
	margin: 0;
	float: none;
}
#module-selector ul li a.mailster-btn {
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	display: block;
	position: static;
	padding: 0 3px;
	margin: 2px 10px 2px 10px;
	box-sizing: border-box;
	min-height: 24px;
	line-height: 24px;
	border-radius: 2px;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 160px;
	text-align: center;
}
#module-selector ul li a.mailster-btn.has-screenshot {
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: relative;
}
#module-selector ul li a.mailster-btn.has-screenshot span {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(43, 43, 43, 0.6);
	color: #fff;
	border-radius: 0 0 2px 2px;
	line-height: 22px;
	opacity: 0;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
#module-selector ul li:hover a.mailster-btn.has-screenshot span {
	opacity: 1;
}
#module-selector ul li:hover a.mailster-btn {
	background-color: #fafafa !important;
	border: 1px solid #999;
	color: #23282d;
	box-shadow: inset 0 1px 0 rgba( 255,255,255, 0.2 ), 0 1px 0 rgba( 0, 0, 0, 0.08 );
}
#module-selector ul li.ui-draggable-dragging{
	background-color: red;
}
#module-selector ul li.ui-draggable-dragging a.mailster-btn {
	height: 100px;
	width: 200px;
	padding-top: 40px;
}
@media only screen and (max-width: 850px){
	#mailster_template a.toggle-modules{
		margin-left: -32px;
		margin-top: 0;
	}
	#module-selector{
		border-left: 1px solid #e5e5e5;
		border-right: 0;
		right: 10px;
		top: 42px;
	}
	.fixed-optionbar #module-selector{
		right: 28px;
	}
	#module-selector ul li a.mailster-btn {
		margin: 2px 0px 2px 10px;
	}
}
@media screen and (max-width: 782px) {

	.fixed-optionbar #mailster_template a.toggle-modules{
		margin-left: -27px;
	}
	#mailster_details #stats li.receivers {
		line-height: 220px;
		height: 140px;
	}
	#mailster_details #stats li label{
		max-width: 20%;
		min-width: 80px;
	}
	#mailster_details table th{
		display: block;
		width: auto;
		border-bottom: 0;
	}
	#mailster_details table td.nopadding {
		display: block;
		width: auto;
	}
	#recipients-list .show-receiver-detail{
		width: 120px;
	}
	#recipients-list table {
		margin-top: 0;
	}
	#recipients-list .receiver-detail-data {
		margin-left: 80px;
	}
	#recipients-list .user_image{
		width: 50px;
		height: 50px;
		background-size: 50px 50px;
	}
	#recipients-list .receiver-detail-data h4 a {
		visibility: visible;
		font-size: 16px;
	}
	.filter-list {
		position: relative;
		height: auto;
		background-color: #fff;
	}
	.filter-list label{
		padding: 3px 0;
		display: block;
	}
	.ajax-list-header a.recipients-order{
		position: absolute;
		top: 10px;
		right: 10px;
	}
	#mailster_details .environment label{
		margin-right: 0;
		padding: 3px 0;
		display: block;
	}
	#mailster_details .showdetails{
		margin-top: -20px;
		font-size: 130%;
	}
	#countries_table span.country{
		display: none;
	}
	#mailster_details .geolocation label:last-child{
		display: none;
	}
	#mailster_details #countries_table tbody tr td{
		padding: 6px;
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 32),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {


	#recipients-list td.loading {
		-webkit-background-size: 20px 20px;
		-moz-background-size: 20px 20px;
		background-size: 20px 20px;
		background-image: url(../img/loading_2x.gif) !important;
	}
	.progress span.bar{
		background: url(../img/progress_2x.gif);
		-webkit-background-size: 15px 20px;
		-moz-background-size: 15px 20px;
		background-size: 15px 20px;
	}
	.spam-score .progress span.bar{
		background: url(../img/score_2x.png);
		background-size: 258px 26px;
	}
}
