.wrap .form-table th {
	font-weight: normal !important;
	line-height: 35px;
}

#wpcontent
{
	background: #fff;
}

.emptycheckbox {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0px 7px;
}

.one-custom-field
{
	margin: 10px 0px 0px 0px;
	text-align: left;
	padding-left: 20px;
}

.cfrequired {
	margin-left: 10px !important;
}

.remove_cfield
{
	vertical-align: top;
	cursor: pointer;
	margin-top: 5px;
}

.longinput {
	width: 585px;
}

.custom_field_section_html {
	width: 865px;
}

.custom_field_section_html>div:not(.emptycheckbox) {
	display: inline-block;
	width: 90%;
}

.one-custom-field textarea {
	width: 780px;
	height: 250px;
}

.customhtml_position {
	text-align: left;
	margin-top: 10px;
}

.customhtml-tip {
	font-size: 12px;
	font-style: italic;
}

.customhtml_position input[type=radio] {
	margin-left: 20px;
	margin-right: 5px;
}

.customhtml_position label {
    margin-bottom: 40px;
    display: inline-block;
	font-size: 12px;
}

.ms-connect-button {
	vertical-align: bottom;
}

.help-dialogs {
	text-align: center;
}

.help-dialogs .code {
	width: 100%;
	background: #ccc;
}

.modal-survey_page_modal_survey_participants h3 sup {
    font-size: 10px;
    background-color: #CC4242;
    padding: 0px 10px;
    margin-left: 10px;
    margin-top: -15px;
    position: absolute;
    color: #fff;
    border-radius: 100px;
}

.ms_inner_wpeditor {
	height: 700px;
}

.connect_msg {
	font-size: 12px;
    margin-left: 10px;
    margin-top: 5px;
    display: inline-block;
}

.autoresponse_senderemail input {
	width: 70% !important;
}

.autoresponse_details {
	margin-bottom: 20px;
}

.ms-settings-checkbox {
	vertical-align: text-top !important;
}

.wrap .form-table td label
{
	vertical-align: text-top;
}

.help_link {
    float: right;
    margin-top: -40px;
}

.help_link a {
	padding: 5px 10px 5px 10px;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
	font-size: 12px;
    font-weight: bold;
    border: 1px solid #42CC6C;
    color: #080808;
    margin-right: 10px;
}

#modal_survey_tabs
{
	margin-bottom: 300px;
}

.duplicate-notice {
	display: none;
	color: #fc0303;
}

.import-notice {
	color: #fc0303;
}

#dsurvey_name {
	width: 100%;
}

.ao-accordion h4 {
	display: none !important;
}

.qo-accordion h4 {
	display: none !important;
}

#wpbody .wrap, #screen_preloader
{
	min-height: 500px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
}

.pantherius-jquery-ui.wrap>.title-border h3 {
	font-size: 1.6em !important;
}

.text input[type=checkbox] {
	width: 15px;
}

.text input, .text select {
	width: 100%;
}
 
.thankyou {
	width: 100% !important;
}

textarea.thankyou {
	height: 100px;
}

#modal_survey_accordion {
	padding-bottom: 20px;
}

#modal_survey_accordion h3 {
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	text-shadow: 0px 0px 0px #aaa;
	text-align: left;
	font-size: 12px;
}

#modal_survey_accordion .left_half {
	display: inline-block;
	width: 55%;
	vertical-align: top;
}

#modal_survey_accordion .text {
	display: block;
	font-size: 10px;
	color: #5D5D5D;
	font-weight: bold;
	width: 100%;
	text-align: left;
	padding-top: 10px;
}

#modal_survey_accordion .right_half {
	display: inline-block;
	width: 30%;
	float: right;
	margin: 0px 5%;
}

.add_custom_fields, .add_custom_fields_textarea, .add_custom_fields_radio, .add_custom_fields_select {
	cursor: pointer;
	display: inline-block;
	padding: 10px;
	margin: 3px !important;
}

.add_custom_fields:hover {
	background: #A5A6A8;
	cursor: pointer;
	color: #000;
	border: 1px solid #ccc;
}

.custom_field_section {
	text-align: center;
}

.custom_field_section>div {
	margin: 10px 5px !important;
}

#setting_customcss {
	height: auto !important;
}

.question_text {
	vertical-align: middle;
	min-height: 100px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

.remove_answer, .add_answer, .add_question, .dup_question, .add_open_answer
{
	cursor: pointer;
	display: block;
	float: right;
	margin-right: 5px;
}

.open_answer_style {
	border: 1px solid #E4EA89 !important;
}

.open_answers_accordion h4 {
	background: none !important;
	border: none !important;
}

.open_answers_accordion div {
	border: none !important;
	padding: 0px !important;
}

.open_answers_accordion table {
	width: 100%;
}

.open_answers_accordion td {
	padding: 5px;
	font-size: 10px;
}

.ms-checkbox {
	width: auto !important;
}

.autocomplete_container {
}

.converttextarea_container {
	padding: 0px 0px 15px 0px;
	display: inline-block;
	margin-left: 20px;
}

.answer_status {
	opacity: 0.7;
}

a.answer_options, 
.answer_options img, 
a.answer_options:focus, 
.answer_options img:focus, 
a.answer_options:active, 
.answer_options img:active,
a.answer_status, 
.answer_status img, 
a.answer_status:focus, 
.answer_status img:focus, 
a.answer_status:active, 
.answer_status img:active,
a.question_options, .question_options img, 
a.question_options:focus, 
.question_options img:focus, 
a.question_options:active, 
.question_options img:active {
	-moz-outline-style: none !important;
    outline:none !important;
    outline: 0 !important;
	border-style: none !important;
	color:#fff; /*different color than regular*/
	background-color:#fff; /*different color than regular*/
	outline-style:none;
	box-shadow:none;
	border-color:transparent;
}

.ao-accordion .imageelement {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

.ao-accordion .imageelement img {
	max-width: 100%;
}

.qo-accordion .imageelement {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

.qo-accordion .imageelement img {
	width: 100%;
}

.left_aopts {
	width: 35%;
	display: inline-block;
	vertical-align: top;
	min-width: 200px;
	margin: 0px;
}

.right_aopts {
	display: inline-block;
	vertical-align: top;
	padding: 0px !important;
	width: 55%;
	font-size: 12px;
	margin: 0px 0px 0px 5%;
}

.right_aopts label span {
	vertical-align: sub;
	margin-left: 5px;
}

.right_aopts input {
	margin: 3px;
}

.left_qopts {
	width: 35%;
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	min-width: 200px;
	margin: 0px;
}

.right_qopts {
	display: inline-block;
	vertical-align: top;
	padding: 0px !important;
	font-size: 12px;
	width: 55%;
	margin: 0px 0px 0px 5%;
}

.right_qopts .question_tooltip, .right_aopts .answer_tooltip {
    margin: 10px 0px 0px 0px;
    width: 100%;	
}

.right_qopts .question_tooltip span, .right_aopts .answer_tooltip span {
    display: block;
    margin: 5px 0px;	
}

.right_qopts .question_tooltip textarea, .right_aopts .answer_tooltip textarea {
	width: 100%;
    height: 100px;
	padding: 5px !important;
}

.right_qopts label span {
	vertical-align: sub;
	margin-left: 5px;
}

.right_qopts input {
	margin: 3px;
}

.smallinput {
	width: 60px;
}

.answer_options, .answer_status {
	vertical-align: text-top;
}

.ao-accordion {
	border-top: 1px solid #ccc !important;
	margin-top: 10px !important;
	text-align: center;
}

.ao-accordion .ui-accordion-content {
	border-color: #ccc !important;
}

.qo-accordion {
	border-top: 1px solid #ccc !important;
	margin-top: 10px !important;
}

.qo-accordion .ui-accordion-content {
	border-color: #ccc !important;
}

span.ans_nmo {
  width: 40px;
  display: inline-block;
  text-align: right;
}

.answer_options img,
.answer_status img,
.question_options img {
	width: 16px;
	height: 16px;
	padding: 0px 5px;
	vertical-align: sub;
}

.question-area {
	margin-left: 25px;
}

.delete_open_answer {
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.delete_open_answer  img{
	margin-left: 10px;
	cursor: pointer;
}

.open_answers_accordion {
	text-align: left;
	margin: 10px !important;
}

.open_answers_accordion  tr:nth-child(odd)
{
	background: #ececec;
}

.open_answers_accordion tr:nth-child(even)
{
	background: #fff;
}


.add_question, .dup_question, #modal_survey_accordion legend
{
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-align: left;
	margin-left: 5px;
	margin-bottom: 10px;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.remove_answer img, .add_answer img, .add_question img, .dup_question img, .add_open_answer img
{
	padding-top: 5px;
}

.dup_question img {
		width: 16px;
}

.added_answers input[type="text"] {
	width: 40%;
}

.canvas_graph {
}

.questions_block {
	width: 100%;
}

.shortcode_section {
	display: inline-block;
	float:right;
	font-size: 12px;
	margin-top: 10px;
}
.answer_count:before
{
	content:url("../img/users.png");
	position: absolute;
	margin-top: -5px;
	margin-left: -30px;
}

.answer_count
{
	font-size: 12px;
	margin-left: 15px;
}

.modal_survey_preview {
	float: left;
    background: url("../img/select.png") repeat scroll center center transparent;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #444444;
    cursor: pointer;
    height: 30px;
    width: 30px;
	margin-top: 12px;
	margin-left: 20px;
}

.one_question .added_answers, .one_question .default_answer {
	font-size: 12px;
	padding: 5px 0px;
}

.modal_survey_preview1002
{
	background-color: #000000;
}

.modal_survey_preview1003
{
	background-color: #5D5D5D;
}

.font_family
{
	width: 150px;
}

.play_button
{
	margin-top: 20px;
	cursor: pointer;
	text-align: center;
	width: 100%;
}

.play_button img {
	width: 100px;
	margin: 0 auto;
}

.ms-color-settings {
	margin-left: 25px;
}

.targets {
    margin:0 auto;
    text-align: center;
    border: 1px solid #ccc;
    background: #f8f8f8;
    margin: 0 auto;
    border-radius: 4px;
    width:auto;
    padding:10px;
}

.target_text {
    margin: 0px auto;
    margin-top: 40%;
    background: #f8f8f8;
    width: 70px;
    border: 1px solid #ddd;
    padding: 2px;
    border-radius: 2px;
    color: #111;
}

.target {
   border: 1px solid;
   margin: 0px 10%;
   width: 150px;
   height: 150px;
   display:inline-block;
}

#target {
   border-radius: 150px;
}

.resul.ddlinkt {
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   padding:12px;
   padding-left: 15px;
   margin: 10px 0px;
   border: 1px solid #ddd;
   background: #f8f8f8;
}

#gradX {
    height: 200px; 
    margin: 100px 34%;  
	display:none;
	position: absolute;
	z-index: 10;
	left:0%;
	top:0%;
}   

#gradx_show_code {
	display: none;
}

.inner
{
	margin-left: 3px;
	width: 24px;
	height: 19px;
	margin-top: 3px;
	background: linear-gradient(top , rgb(255, 255, 255) 35% , rgb(204, 204, 204) 70%);
	background: -o-linear-gradient(top , rgb(255, 255, 255) 35% , rgb(204, 204, 204) 70%);
	background: -ms-linear-gradient(top , rgb(255, 255, 255) 35% , rgb(204, 204, 204) 70%);
	background: -moz-linear-gradient(top , rgb(255, 255, 255) 35% , rgb(204, 204, 204) 70%);
	background: -webkit-linear-gradient(top , rgb(255, 255, 255) 35% , rgb(204, 204, 204) 70%);
}

.ui-slider-range
{ 
	background: #5D5D5D; 
}
 
.ui-slider-horizontal
{ 
	background: #CCCCCC; 
	border: 1px solid #5D5D5D;
}
 
.ui-slider-handle
{ 
	border: 1px solid #5D5D5D;
	cursor: pointer;
}

.modal_survey_sliders
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.modal_survey_sliders.half
{
	width: 45%;
	margin-right: 10px;
	display: inline-block;
}

.modal_survey_sliders.full
{
	width: 100%;
	display: block;
}

#saved-survey-controls {
	position: fixed;
	z-index: 99999;
	top: 30%;
	right: -170px;
	background: rgb(26, 188, 156);
	border-radius: 5px;
}

#saved-survey-controls span {
    vertical-align: bottom;
    color: #000;
    display: inline-block;
    font-weight: bold;
    padding: 10px 0px;
    font-size: 13px;
    margin-left: 10px;
}

#saved-survey-controls img {
	width: 30px;
	height: 30px;
}

#saved-survey-controls a {
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	display: block;
	position: relative;
	width: 200px;
	vertical-align: middle;
	text-decoration: none;
    background: rgb(26, 188, 156);
    border-radius: 5px;
    padding: 5px;	
}

#saved-survey-controls a:hover {
	margin-left: -120px;
}

.addednow {
	transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;	
}

.modal_survey_sliders input {
	border: 0px solid transparent !important;
}

::-webkit-input-placeholder {
   color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ccc;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;  
}

:-ms-input-placeholder {  
   color: #ccc;  
}

.style-configuration .modal_survey_checkbox {
	width: 45% !important;
}

.configuration_accordion:nth-of-type( 1 ) {
	width: 29%;
}

.configuration_accordion:nth-of-type( 2 ) {
	width: 39%;
	margin-left: 13px !important;
    margin-right: 13px !important;	
}

.configuration_accordion:nth-of-type( 3 ) {
	width: 29%;
}

.configuration_accordion {
	margin: 0 auto !important;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 0px !important;
}

.additional-options-accordion {
	margin-top: 20px !important;
}

.rightfloat {
	float: right;
}

.configuration_accordion hr {
	padding: 10px 0px;
	width: 100%;
	box-shadow: 0px 1px 0px #ececec;
	border: 0px solid transparent;
	display: inline-block;
	margin: 0px 0px;
}

.modal_survey_sliders input[type=text] {
	width: 100%;
}

.configuration_accordion .ui-accordion-content {
	padding: 15px 15px 60px 15px !important;
	height: 675px !important;
}

.configuration_accordion .ui-accordion-header-icon {
	display: none;
}

.configuration_accordion h4 {
    height: 14px;
    font-size: 12px;
}

.modal_survey_sliders input
{
	height: 14px;
	font-size: 10px !important;
	border: 0px;
	padding:0px;
	color: #000000;
	margin-top: 5px;
	margin-bottom: 5px;
	box-shadow: 0px 0px 0px 0px !important;
}

.modal_survey_checkbox
{
	float: left;
	width: 140px;
	margin-left: 5px;
	margin-top: 17px;
}

.ui-effects-wrapper {
	display: none !important;
}

#bglock
{
	position: fixed;
	display:none;
	top:0px;
	left:0px;
	z-index:999998;
	width:100%;
	height:100%;
	background:#000000;
	filter: alpha(opacity=80);
	-khtml-opacity: 0.8;
	-moz-opacity: 0.8;
	opacity: 0.8;
}

#survey .cl_survey
{
	position: absolute;
	right: 20px;
	top: 0px;
	cursor: pointer;
}

#survey .cl_top_survey
{
	position: absolute;
	right: 20px;
	bottom: 0px;
	cursor: pointer;
}

#ui-datepicker-div
{
	z-index: 2 !important;
}
#modal_survey_accordion .ui-accordion .ui-accordion-content
{
	vertical-align: middle;
	overflow: hidden !important;
}

.ui-accordion .ui-accordion-content {
	overflow: hidden !important;
}

.export-personal {
	margin-bottom: 200px;
}

.open_answers_accordion .click-nav2 {
	height: 190px;
}

.new_condition_line {
	font-size: 12px;
}

.one_condition_line .remove_condition img, .one_condition_line .edit_condition img {
	vertical-align: text-top;
}

.conditions .conds {
	width: 350px;
	height: 28px;
}

.conditions .relation {
	width: 150px;
	height: 28px;
}

.conditions .condvalue {
	width: 100px;
	height: 28px;
}

.conditions .action {
	width: 350px;
	height: 28px;
}

.conditions .actionvalue {
	width: 100%;
    height: 100px;
}

.edit_condition, .remove_condition {
    margin-right: 10px;
    vertical-align: middle;	
}

.hrline {
	display: block;
    width: 100%;
    height: 2px;
    background: #ececec;
    margin: 20px 0px;
}

.conditions h4, .participants_form h4, .ms_accordion_more_api h4, .endcontent_accordion h4 {
	height: 14px;
	font-size: 12px;
}

.modal-survey-ui textarea {
	padding: 10px;
}

.participants_form_help {
    height: 14px;
    padding: 10px;
    margin: 20px 0px;
	display: inline-block;
    font-size: 12px;
    background: #F0FB9B !important;
    text-decoration: none;
}

.getid {
    cursor: pointer;
}

.ms_accordion_more_api h4>span, .participants_form h4>span, .conditions h4>span, .endcontent_accordion h4>span {
	font-size: 10px;
	line-height: 14px;
	float: right;
	color: #E8E7E7;
    margin-right: 20px;
}

.participants_form, .ms_accordion_more_api, .endcontent_accordion {
	margin-top: 10px !important;
}

.ms_accordion_more_api>div>div>div
{
	border-bottom: 1px solid #ececec;
	padding: 10px 0px;
}

.ms_accordion_more_api .text, .participants_form .text, .endcontent_accordion .text {
    display: inline-block !important;
    font-size: 10px !important;
    color: #5D5D5D !important;
    font-weight: bold !important;
    text-align: left !important;
    padding-top: 7px !important;
    padding-left: 10px !important;
    float: none !important;
    clear: both !important;
}

.modal-survey_page_modal_survey_savedforms .wrap .aright
{
	margin-left: 30px;
	display: table;
}

.modal-survey_page_modal_survey_savedforms .group {
    display: block !important;
}

.modal-survey_page_modal_survey_savedforms .wrap .dnone
{
	display: none !important;
}

.shortfield
{
	width: 200px !important;
}

.tinynote
{
	padding: 0px;
	margin-top: -20px;
	margin-left: 40px;
	color: #5E5E5E;
	font-size: 10px;
	display: inline;
}
 
.tinyfield
{
	width: 150px !important;
}

.one_condition_line {
	margin: 10px 0px;
	font-size: 12px;
}

.new_condition_line input, .new_condition_line select {
	height: 22px;
	vertical-align: baseline;
}

.new_condition_line img {
	padding-top: 5px;
	position: absolute;
}

.click-download
{
	display: inline-block;
	vertical-align: sub;
	margin-left: 20px;
}

.click-nav {
	margin-bottom: 10px;
}

.click-nav, .click-nav2 {
	display: inline-block;
}
.click-nav ul, .click-nav2 ul {
	font-weight:900;
	display: inline-block;
}

.click-nav ul li, .click-nav2 ul li {
	position: relative;
	list-style: none;
	cursor: pointer;
	z-index: 2;
	margin: 0px !important;
}

.click-nav ul li ul, .click-nav2 ul li ul {
	position:absolute;
	left:0;
	right:0;
	z-index: 9999; 
	background: #fff;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-radius: 5px;
}
.click-nav ul .clicker, .click-nav2 ul .clicker {
	position:relative;
	background:#2284B5;
	color:#FFF;
}
.click-nav ul .clicker:hover, .click-nav ul .active, .click-nav2 ul .clicker:hover, .click-nav2 ul .active {
	background:#196F9A;
}
.click-nav ul li a, .click-nav2 ul li a {
	transition:background-color 0.2s ease-in-out;
	-webkit-transition:background-color 0.2s ease-in-out;
	-moz-transition:background-color 0.2s ease-in-out;
	display:block;
	padding:5px 10px; 
	font-size: 10px;background:#FFF;
	color:#333;
	text-decoration:none;
}
.click-nav ul li a:hover, .click-nav2 ul li a:hover {
	background:#F2F2F2;
}

/* Fallbacks */
.click-nav .no-js ul, .click-nav2 .no-js ul {
	display:none;
}
.click-nav .no-js:hover ul, .click-nav2 .no-js:hover ul {
	display:block;
}

#add_new_survey {
	margin: 1px;
}

#error_log {
	margin-left: 10px;
}

#button-container {
	text-align: center;
	width: 100px;
	display: inline-block;
	vertical-align: middle;
}

.modal-survey-list-table {
	width: 100%;
}

.modal-survey-list-table thead {
	text-align: left;
	background: #5d5d5d;
	color: #fff;
	padding-left: 5px;
}

.modal-survey-list-table tbody td {
	text-align: left;
	padding: 8px 18px !important;
	color: #000;
}

.modal-survey-list-table th:nth-child(1) {
	width: 100px;
}

.modal-survey-list-table th:nth-child(3) {
	width: 100px;
}

.modal-survey-list-table th:nth-child(4) {
	width: 65px !important;
}

.modal-survey-list-table th:nth-child(5) {
	width: 65px !important;
}

.modal-survey-list-table th:nth-child(6) {
	width: 100px;
}

.modal-survey-list-table th:nth-child(7) {
	width: 50px !important;
}

.modal-survey-list-table th:nth-child(8) {
	width: 50px !important;
}

.modal-survey-list-table-participants th:nth-child(8) {
	width: 85px !important;
}

.modal-survey-list-table th:nth-child(9) {
	width: 120px !important;
}

.modal-survey-list-table tbody  tr:nth-child(odd) {
	background: #ececec;
}

.modal-survey-list-table tbody tr:nth-child(even) {
	background: #fff;
}

.modal-survey-list-table-participants th:nth-child(1) {
	width: 20px !important;
}

.modal-survey-list-table-participants th:nth-child(2) {
	width: 50px !important;
}

.modal-survey-list-table-participants th:nth-child(3) {
	width: 200px !important;
}

.modal-survey-list-table-participants th:nth-child(4) {
	width: 200px !important;
}

.modal-survey-list-table-participants th:nth-child(5) {
	width: 65px !important;
}
 
.modal-survey-list-table-participants th:nth-child(6) {
	width: 65px !important;
}

.modal-survey-import-row {
	margin: 0px 0px 20px 0px;
	font-size: 14px !important;
}

.settings_field {
	width: 200px;
	display: inline-block;
}

.modal_survey_import_form {
	width: 600px;
	margin-top: 27px;
}

.import_survey-submit {
	display: inline-block;
}

.modal_survey_import_form input[type=file]{
	width: 255px;
}

.title-border {
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}

.wrap-padding {
	padding: 0px 26px 26px 26px;
}

.button {
	margin: 1px !important;
}

.nquestion {
	margin: 2px 5px 10px 0px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
{
	border: 0px !important;
	background: none !important;
}

.modal-survey-list-table a
{
	margin: 3px;
}

.modal-survey-list-table img
{
	width: 18px;
}

.wrap .arrow_box {
	position: absolute;
	background: #ececec;
	border: 1px solid #c2e1f5;
	padding: 0px;
	margin: -25px 0px 0px 350px;
	border-radius: 0px 3px 3px 0px;
}

.wrap .arrow_box2 {
	position: absolute;
	background: #ececec;
	border: 1px solid #c2e1f5;
	padding: 0px;
	margin: -28px 0px 0px 350px;
	border-radius: 0px 3px 3px 0px;
}

.wrap .arrow_box p, .wrap .arrow_box2 p {
	font-size: 10px;
	padding: 5px;
	margin: 0px;
}

.wrap .arrow_box:after, .arrow_box:before, .wrap .arrow_box2:after, .wrap .arrow_box2:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.wrap .arrow_box:after, .wrap .arrow_box2:after {
	border-color: rgba(236, 236, 236, 0);
	border-right-color: #ececec;
	border-width: 21px;
	margin-top: -21px;
}
.wrap .arrow_box:before, .wrap .arrow_box2:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #c2e1f5;
	border-width: 22px;
	margin-top: -22px;
}

.ms-user-panel {
	display: inline-block;
	width: 20%;
	padding-right: 1.5%;
	text-align: right;
	vertical-align: top;
}

.ms-userstat-panel {
	display: inline-block;
	width: 70%;
	padding-left: 2%;
	vertical-align: top;
	border-left: 1px solid #ececec;
}

.ms-userstat-panel-buttons {
	text-align: center;
	padding-right: 8%;
}

.ms-userstat-panel-buttons select {
	width: 35%;
}

.ms-userstat-panel-buttons input {
	width: 20%;
}

.chart-personal {
	display: inline-block;
	width: 45%;
}

.chart-global {
	display: inline-block;
	width: 45%;
	margin-left: 2%;
}

.text-results {
	display: inline-block;
	width: 95%;
}

.chart-personal p, .chart-global p, .text-results p {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
    background-color: #1abc9c;
    padding: 6px 5px;
    color: #fff;
    border-radius: 4px;
}

.text-results p, .ms-plain-results {
	margin-right: 20px;
	border-bottom: 1px solid #cecece;
	
}

.ms-user-avatar {
	border: 2px solid #ececec;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.ms-details {
	margin: 10px 10px 0px 15px;
	text-align: right;
}

.ms-details .title {
	text-decoration: underline;
	font-size: 10px;
}

.ms-details .data {
	font-weight: bold;
	font-size: 12px;
}

.ms-details .data  a {
	text-decoration: none;
    color: #000;
}

.dt-buttons {
    float: right !important;
    margin-left: 20px;
}

a.dt-button {
    height: 25px;
    line-height: 1;
}

#ms-participants-tabs {
    border: 0px solid transparent;
}

#ms-participants-tabs .ui-tabs-nav {
	border: 0px solid transparent;
	background: transparent;
	margin-top: -15px;
	padding: 0px 10px;
	margin-right: 20px;
}

#ms-participants-tabs .ui-tabs-nav li {
	border-top-width: 0;
	border-bottom-width: 1px;
	border-radius: 0px 0px 3px 3px;
	border-color: #ececec;
}

#ms-participants-tabs .ui-state-default {
	background: #1abc9c;
}

#ms-participants-tabs .ui-state-active {
	background: #fff;
}

#ms-participants-tabs .ui-state-active a {
	outline: 0 !important;
	outline: none !important;
}

#ms-participants-tabs .ui-tabs-nav {
    background: transparent !important;
}

#ms-participants-tabs .ui-tabs-nav li {
	font-size: 12px !important;
}

.delete_samesession_link {
    display: inline-block;
    margin: 15px !important;
}

.nodata {
	margin-top: 250px;
}

.completion_time {
	margin-top: 20px;
	display: block;
}

.remove_answerimage_button, .answer-image-upload {
	width: 100% !important;
	margin: 0px !important;
	padding: 0px !important;
}

.optscontainer {
	margin: 10px 0px 0px 0px !important;
	text-align: left;
}

.optsinput {
	width: 100% !important;
	display: block !important;
	margin: 5px 0px 0px 0px !important;
	height: 25px !important;
}

.question_category_container, .answer_category_container {
	display: none;
}

.shortselect select {
	width: 220px;
	height: 38px;
}

.img-pos-cont {
	margin-top: 10px;
}

.img-pos-cont label {
	margin-right: 15px;
    margin-top: 10px;
    display: inline-block;
}

.shortinput input[type=text] {
	width: 220px;
}

.form-table input[type=radio], .form-table input[type=checkbox] {
	margin-left: 10px;
}

.final-result {
	margin-top: 20px;
	font-size: 12px;
	text-align: right;
}

.final-score-title, .final-time-title {
	font-weight: 600;
}

.modal_survey_checkbox-advanced {
	width: 100%;
	display: block;
	margin: 0px 0px 20px 0px;
}

.final-time-title {
	margin-left: 20px;
}

.modal-survey_page_modal_survey_participants .export-progress {
	display: none;
}

.whoansweredthis {
	text-decoration: none;
}

h3 span.question-subheader {
    text-align: left;
    width: 500px;
    position: absolute;
    display: inline-block;
    color: #a5a5a5;
    left: 0px;
    margin-left: 200px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.demo-template {
	display: inline-block;
	width: 400px;
	border: 1px solid #ececec;
	background: #f5f3f3;
	border-radius: 7px;
	margin: 30px 5px 10px 0px;
	height: 110px;
	padding: 10px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
	-webkit-transition: all 2s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.demo-title {
	font-size: 16px;
	font-weight: bold;
	margin: 10px 10px 20px 10px;
}

.demo-desc {
	margin: 0px 10px;
	font-size: 12px;
	height: 55px;
}

.demo-install {
	margin: 0px 10px;
}

.demo-bg1:hover {
	background: #ff8a8a;
}

.demo-bg2:hover {
	background: #c28aff;
}

.demo-bg3:hover {
	background: #bad2bd;
}

.demo-bg4:hover {
	background: #8affa3;
}

.demo-bg5:hover {
	background: #edff8a;
}

.demo-bg6:hover {
	background: #8adfff;
}

.demo-bg7:hover {
	background: #ffd5e3;
}

.demo-bg8:hover {
	background: #bbb7bb;
}

.demo-install .button:disabled {
	background-color: grey;
}