.modal-survey-container {
    display: flex !important;
    display:-webkit-flex !important;
    display:-moz-flex !important;
    display:-ms-flexbox !important;
    flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	justify-content: center;
	-webkit-justify-content: space-between;
}

.form-preloader {
	height: 20px;
	margin-top: 10px;
}

.survey_table {
	display: flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;	
	justify-content: space-between;
	-webkit-justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.survey_element {
	margin: 10px;
	text-align: center;
	min-height: 32px;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	width: 100%;
}

.alldisplay {
	margin-top: 20px;
}

.eachdisplay {
	flex-direction: row;
}

.survey-results img {
	max-width: 50px;
}

.endcontent .survey-results {
	margin: 0px 10px 30px 10px;
}

.survey_answer_image {
	object-fit: contain;
	vertical-align: middle;
}

.survey_question_image {
	width: auto;
	vertical-align: middle;
	padding: 0px 10px;
}

.survey_question, .survey_form {
	display: flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
	flex: 1;
	-webkit-flex: 1;
	font-weight: bold;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}

.endcontent {
	display: flow-root; 
}

.survey_endcontent {
	display: flow-root;
	font-weight: bold;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}

.send-participant-form-container {
	position: initial !important;
    padding: 0px !important;
	display: inline-block !important;
	margin: 15px 0px !important;
}

.survey_question span, .survey_form span, .survey_endcontent span {
	position: relative !important;
	display: inline-block !important;
	line-height: 2 !important;
	padding: 3px 10px !important;
}

.modal-survey-container .displaychart {
	margin: 0 auto;
}

.send-participant-form-container img {
	box-shadow: 0px 0px 0px transparent !important;
	border: none !important;
	vertical-align: text-bottom !important;
	padding: 0px 40px !important;
}

.survey-progress-bar {
	width: 100%;
	display: table;
	padding: 0px !important;
}

.survey-progress-bar .survey-progress-ln {
	background: #5d5d5d;
	height: 10px;
	margin: 0px 10px;
	padding: 0px !important;
	display: table-caption;
	color: #fff;
	text-align: center;
	border: 1px solid #ececec;
	border: 0px solid transparent !important;
}

.survey-progress-bar .survey-progress-ln2 {
	height: 100%;
	padding: 0px !important;
	margin: -8px 10px !important;
	display: block;
}

.survey-progress-ln2  .progress {
	margin-top: 0px !important;
}

.survey-progress-bar .survey-progress-ln .progress_counter {
	display: block;
	width: 35px;
	-webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
	background: #fff;
	border-radius: 3px;
	font-size: 12px;
	padding: 3px;
	height: 10px;
	line-height: 1;
	color: #000;
	position: relative;
	z-index: 9999;
	border: 1px solid #ececec;
	margin: -4px auto;
}

.ms_rating_question {
	vertical-align: middle;
	width: auto !important;
	display: flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;	
}

.survey_rating {
	width: 32px !important;
	height: 32px !important;
	display: inline-block !important;
	margin: 0px 5px 0px 5px;
	font-size: 14px !important;
    line-height: 32px !important;
    font-weight: bold !important;
    border: 0px solid transparent !important;
    background-repeat: no-repeat !important;
}

.survey_open_answers[data-tooltip]:before {
	margin-left: -20px !important;
}

.survey_rating:hover {
	width: 32px;
	height: 32px;
	display: inline-block;
}

.survey-progress-ln2   .progress {
	padding: 0px !important;
	border: 0px solid transparent !important;
}

.survey-progress-bar  .progress {
	height: 6px;
	margin-right: 10px;
	display: block;
	background-color: #fff;
	width: 0px;
	-webkit-transition: width .5s ease-in-out 0s;
	-moz-transition: width .5s ease-in-out 0s;
	-ms-transition: width .5s ease-in-out 0s;
	-o-transition: width .5s ease-in-out 0s;
	transition: width .5s ease-in-out 0s;
}

@-webkit-keyframes countNumber {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:-1000px;
    }
}

.survey_question .text-on-top, .survey_answers .text-on-top {
    position: absolute !important;
    z-index: 1;
    background: rgba(0,0,0,0.6);
    color: #fff;	
    padding: 5px 10px !important;
    border-radius: 5px;
}

.nextstyle.survey_answer_choice {
	display: table-cell !important;
	position: absolute !important;
	box-shadow: 0px 0px 0px transparent !important;
	background: none !important;
	border: 0px !important;
	border-radius: 0px !important;
	height: auto !important;
	top: 50%;
	right: 10px;
	margin: -12px 0px 0px 0px !important;
	padding: 0px !important;
	width: auto !important;
}

.nextstyle1.survey_answer_choice {
	display: block !important;
	box-shadow: 0px 0px 0px transparent !important;
	background: none !important;
	border: 0px !important;
	border-radius: 0px !important;
	height: auto !important;
	text-align: right !important;
	padding: 0px 20px !important;
	float: right;
}

.nextstyle2.survey_answer_choice {
	box-shadow: 0px 0px 0px transparent !important;
	margin: 5px;
}

.nextstyle2.passive {
	opacity: 0.5;
	cursor: not-allowed !important;
}

.nextstyle2.active {
	opacity: 1;
	cursor: pointer;
}

.backstyle.survey_answer_choice_back {
	display: table-cell !important;
	position: absolute !important;
	box-shadow: 0px 0px 0px transparent !important;
	background: none !important;
	border: 0px !important;
	border-radius: 0px !important;
	height: auto !important;
	top: 50%;
	left: 10px;
	margin: -12px 0px 0px 0px !important;
	padding: 0px !important;
	width: auto !important;
}

.backstyle1.survey_answer_choice_back {
	display: block !important;
	box-shadow: 0px 0px 0px transparent !important;
	background: none !important;
	border: 0px !important;
	border-radius: 0px !important;
	height: auto !important;
	text-align: left !important;
	padding: 0px 20px !important;
	float: left;
}

.backstyle2.survey_answer_choice_back {
	box-shadow: 0px 0px 0px transparent !important;
	margin: 5px;
}

.survey_answer_choice img, .survey_answer_choice_back img {
	width: 24px;
	height: 24px;
	margin: 0 auto;
	box-shadow: 0px 0px 0px !important;
	vertical-align: top !important;
	border-radius: 0px !important;
}

.survey_header
{
	padding-bottom: 0px !important;
	margin: 50px 0px 10px 0px !important;
}

.ms-chart .survey_header
{
	text-align: center;
}

#survey_preloader {
	text-align: right;
	display: block;
	width: 100%;
	top: 50%;
	margin-top: -10px;
	position: absolute;
}

#survey_preloader img {
	margin-right: 15px !important;
	box-shadow: 0px 0px 0px !important;
	border-radius: 0px !important;
	width: 24px;
	height: 24px;
}

#survey_preloader_multi {
	text-align: right;
	display: block;
	width: 100%;
	top: 50%;
}

#survey_preloader_multi img {
	margin-right: 15px !important;
	box-shadow: 0px 0px 0px !important;
	border-radius: 0px !important;
	width: 24px;
	height: 24px;
}

.ms-imgpos2 {
	-ms-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse;
	-webkit-flex-wrap: wrap-reverse;	
}

.ms-imgpos1 {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;	
	-webkit-flex-wrap: wrap;
}

.ms-imgpos {
}

.ms-imgpos1 span, .ms-imgpos2 span {
	width: 100%;
}

.survey_answers {
	text-decoration: none;
	flex: 1;
	-webkit-flex: 1;
	display: flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;	
	margin: 5px;
	cursor: pointer;
	width: 100px;
	line-height: 2;
	position: relative;
	vertical-align: middle;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

.survey_open_answers .survey_answer_image {
    display: block;
    margin: 10px auto;
}

.survey_answers.selected:not(.survey_rating) {
	-moz-box-shadow:    1px 1px 2px 0px #000000 !important;
	-webkit-box-shadow: 1px 1px 2px 0px #000000 !important;
	box-shadow:         1px 1px 2px 0px #000000 !important;
  }

.survey_answers input[type=text] {
	background-color: transparent;
	border: 0px;
	width: 100%;
	vertical-align: middle;
	margin: 0px !important;
}

.each-question {
	width: 100%;
}

.hide-important {
	display: none !important;
}

.ahoverstyle1selected span:before {
	content:'\00B7';
	position: absolute;
	font-weight: bold;
	font-size: 20px;
	opacity: 1;
	height: 50%;
	vertical-align: top;
	margin-left: -10px;
	line-height: 0;
	top: 50%;
}

.ahoverstyle2selected {
	font-weight: bold;
	opacity: 1;
}

.ahoverstyle3selected {
	opacity: 1;
	text-decoration: underline;
}

.ahoverstyle4selected {
	font-weight: bold;
	opacity: 1;
	text-decoration: underline;
}

.ahoverstyle5selected span:before {
	content:'\00bb';
	position: absolute;
	font-size: 20px;
	opacity: 1;
	height: 50%;
	vertical-align: middle;
	left: -20px;
	line-height: 0;
	margin-top: -2px;
	top: 50%;
}

.ahoverstyle5selected span:after {
	content:'\00ab';
	position: absolute;
	font-size: 20px;
	opacity: 1;
	height: 50%;
	margin-top: -2px;
	vertical-align: middle;
	right: -20px;
	line-height: 0;
	top: 50%;

}

.ahoverstyle6selected span:before {
	content:'\00bb';
	position: absolute;
	font-size: 20px;
	opacity: 1;
	height: 50%;
	vertical-align: middle;
	margin-left: -20px;
	line-height: 0;
	margin-top: -2px;
	top: 50%;
}

.ahoverstyle7selected span:before {
	content:'\203A';
	position: absolute;
	font-size: 20px;
	opacity: 1;
	height: 50%;
	vertical-align: middle;
	left: -20px;
	line-height: 0;
	margin-top: -2px;
	top: 50%;
}

.ahoverstyle7selected span:after {
	content:'\2039';
	position: absolute;
	font-size: 20px;
	opacity: 1;
	height: 50%;
	margin-top: -2px;
	vertical-align: middle;
	margin-left: 10px;
	line-height: 0;
	top: 50%;
}

.ahoverstyle8selected span:before {
	content:'\203A';
	position: absolute;
	font-size: 20px;
	opacity: 1;
	height: 50%;
	vertical-align: middle;
	margin-left: -20px;
	line-height: 0;
	margin-top: -2px;
	top: 50%;
}

.ahoverstyle9 span:before {
	content: url( "../img/cb_box.png" );
	position: absolute;
	font-size: 20px;
	opacity: 1;
	height: 50%;
	vertical-align: middle;
	margin-left: -20px;
	line-height: 0;
	margin-top: -7px;
	top: 50%;
}

.ahoverstyle9selected span:before {
	content: url( "../img/cb_checked.png" );
	position: absolute;
	font-size: 20px;
	opacity: 1;
	height: 50%;
	vertical-align: middle;
	margin-left: -20px;
	line-height: 0;
	margin-top: -7px;
	top: 50%;
}

.single.ahoverstyle10 span:before {
	content: url( "../img/radio_box.png" );
	position: absolute;
	font-size: 20px;
	opacity: 1;
	height: 50%;
	vertical-align: middle;
	margin-left: -25px;
	line-height: 0;
	margin-top: -11px;
	top: 50%;
}

.single.ahoverstyle10selected span:before {
	content: url( "../img/radio_checked.png" );
	position: absolute;
	font-size: 25px;
	opacity: 1;
	height: 50%;
	vertical-align: middle;
	margin-left: -25px;
	line-height: 0;
	margin-top: -11px;
	top: 50%;
}

.multiple.ahoverstyle10 span:before {
	content: url( "../img/cb_box.png" );
	position: absolute;
	font-size: 20px;
	opacity: 1;
	height: 50%;
	vertical-align: middle;
	margin-left: -20px;
	line-height: 0;
	margin-top: -7px;
	top: 50%;
}

.multiple.ahoverstyle10selected span:before {
	content: url( "../img/cb_checked.png" );
	position: absolute;
	font-size: 20px;
	opacity: 1;
	height: 50%;
	vertical-align: middle;
	margin-left: -20px;
	line-height: 0;
	margin-top: -7px;
	top: 50%;
}

.ahoverstyle11 span:before {
	content: url( "../img/cb_box2.png" );
	position: absolute;
	font-size: 20px;
	opacity: 1;
	height: 50%;
	vertical-align: middle;
	margin-left: -20px;
	line-height: 0;
	margin-top: -8px;
	top: 50%;
}

.ahoverstyle11selected span:before {
	content: url( "../img/cb_checked2.png" );
	position: absolute;
	font-size: 20px;
	opacity: 1;
	height: 50%;
	vertical-align: middle;
	margin-left: -20px;
	line-height: 0;
	margin-top: -8px;
	top: 50%;
}

.ahoverstyle12 span:before {
	content: url( "../img/cb_box3.png" );
	position: absolute;
	font-size: 20px;
	opacity: 1;
	height: 50%;
	vertical-align: middle;
	margin-left: -20px;
	line-height: 0;
	margin-top: -7px;
	top: 50%;
}

.ahoverstyle12selected span:before {
	content: url( "../img/cb_checked3.png" );
	position: absolute;
	font-size: 20px;
	opacity: 1;
	height: 50%;
	vertical-align: middle;
	margin-left: -20px;
	line-height: 0;
	margin-top: -7px;
	top: 50%;
}

@media (hover: hover) {
	.survey_answers:hover {
		cursor: pointer;
		vertical-align: middle;
		opacity: 0.7;
		transform: none;
		transition-duration: 0s;
	}

	.ahoverstyle1:hover span:before {
		content:'\00B7';
		position: absolute;
		font-weight: bold;
		font-size: 20px;
		opacity: 1;
		height: 50%;
		vertical-align: top;
		margin-left: -10px;
		line-height: 0;
		top: 50%;
	}

	.ahoverstyle2:hover {
		font-weight: bold;
		opacity: 1;
	}

	.ahoverstyle3:hover {
		opacity: 1;
		text-decoration: underline;
	}

	.ahoverstyle4:hover {
		font-weight: bold;
		opacity: 1;
		text-decoration: underline;
	}

	.ahoverstyle5:hover span:before {
		content:'\00bb';
		position: absolute;
		font-size: 20px;
		opacity: 1;
		height: 50%;
		vertical-align: middle;
		left: -20px;
		line-height: 0;
		margin-top: -2px;
		top: 50%;
	}

	.ahoverstyle5:hover span:after {
		content:'\00ab';
		position: absolute;
		font-size: 20px;
		opacity: 1;
		height: 50%;
		margin-top: -2px;
		vertical-align: middle;
		right: -20px;
		line-height: 0;
		top: 50%;
	}

	.ahoverstyle6:hover span:before {
		content:'\00bb';
		position: absolute;
		font-size: 20px;
		opacity: 1;
		height: 50%;
		vertical-align: middle;
		margin-left: -20px;
		line-height: 0;
		margin-top: -2px;
		top: 50%;
	}

	.ahoverstyle7:hover span:before {
		content:'\203A';
		position: absolute;
		font-size: 20px;
		opacity: 1;
		height: 50%;
		vertical-align: middle;
		left: -20px;
		line-height: 0;
		margin-top: -2px;
		top: 50%;
	}

	.ahoverstyle7:hover span:after {
		content:'\2039';
		position: absolute;
		font-size: 20px;
		opacity: 1;
		height: 50%;
		margin-top: -2px;
		vertical-align: middle;
		right: -20px;
		line-height: 0;
		top: 50%;
	}

	.ahoverstyle8:hover span:before {
		content:'\203A';
		position: absolute;
		font-size: 20px;
		opacity: 1;
		height: 50%;
		vertical-align: middle;
		margin-left: -20px;
		line-height: 0;
		margin-top: -2px;
		top: 50%;
	}

	.ahoverstyle9:hover span:before {
		content: url( "../img/cb_checked.png" );
		position: absolute;
		font-size: 20px;
		opacity: 1;
		height: 50%;
		vertical-align: middle;
		margin-left: -20px;
		line-height: 0;
		margin-top: -7px;
		top: 50%;
	}

	.single.ahoverstyle10:hover span:before {
		content: url( "../img/radio_checked.png" );
		position: absolute;
		font-size: 20px;
		opacity: 1;
		height: 50%;
		vertical-align: middle;
		margin-left: -25px;
		line-height: 0;
		margin-top: -11px;
		top: 50%;
	}

	.multiple.ahoverstyle10:hover span:before {
		content: url( "../img/cb_checked.png" );
		position: absolute;
		font-size: 20px;
		opacity: 1;
		height: 50%;
		vertical-align: middle;
		margin-left: -20px;
		line-height: 0;
		margin-top: -7px;
		top: 50%;
	}

	.ahoverstyle11:hover span:before {
		content: url( "../img/cb_checked2.png" );
		position: absolute;
		font-size: 20px;
		opacity: 1;
		height: 50%;
		vertical-align: middle;
		margin-left: -20px;
		line-height: 0;
		margin-top: -8px;
		top: 50%;
	}

	.ahoverstyle12:hover span:before {
		content: url( "../img/cb_checked3.png" );
		position: absolute;
		font-size: 20px;
		opacity: 1;
		height: 50%;
		vertical-align: middle;
		margin-left: -20px;
		line-height: 0;
		margin-top: -7px;
		top: 50%;
	}
}


.survey_rating:hover:before, .ms_rating_question:hover:before {
	content:'' !important;
	opacity: 1 !important;
	position: absolute;
	font-weight: bold;
	font-size: 20px;
	height: 50%;
	vertical-align: top;
	margin-left: -10px;
	line-height: 0;
	top: 50%;
}

.survey_rating:hover, .ms_rating_question:hover {
	opacity: 1 !important;
}

.question_rating_output {
	height:32px;
	margin: 10px 0px;
}

.question_rating_output>span {
	vertical-align: top;
	display: inline-block;
}

.ms_ratingvalue {
	font-size: 12px;
	vertical-align: middle !important;
	line-height: 32px;
	height: 32px;
	display: inline-block;
	margin-left: 10px;
}

.ms-next-question, .ms-next-back {
    -webkit-transition: none !important;
    transition: none !important;
}
	
/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 105%;
  margin-bottom: 5px;
  padding: 7px;
  min-width: 100px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 105%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

img.rating_output {
	border-radius: 0px !important;
	border: none !important;
	box-shadow: 0px 0px 0px !important;
}

.survey_row
{
	display: table-row;
}

#bglock
{
	position: fixed;
	display:none;
	top:0px;
	left:0px;
	z-index:999998;
	width:100%;
	height:100%;
	background:#000000;
	filter: alpha(opacity=80);
	-khtml-opacity: 0.8;
	-moz-opacity: 0.8;
	opacity: 0.8;
}

.modal-survey-container .cl_survey
{
	position: absolute;
	right: 10px;
	top: -15px;
	cursor: pointer;
}

.closeimg_small {
	width: 14px;
	height: 14px;
	top: -5px !important;
}

.closeimg_medium {
	width: 18px;
	height: 18px;
	top: -10px !important;
}

.closeimg_large {
	width: 24px;
	height: 24px;
	top: -15px !important;
}

.modal-survey-container .cl_top_survey {
	position: absolute;
	right: 10px;
	bottom: -10px;
	cursor: pointer;
}

.survey-results .progress {
	filter: none !important;
	width: 100%;
	position: relative;
	overflow: hidden;
	height: 22px;
	background: none repeat scroll 0% 0% rgb(239, 239, 239);
	box-shadow: none;
	border-radius: 2px 2px 2px 2px;
	border: 1px solid rgb(213, 213, 213);
} 

.survey-results .process {
	margin-top: 20px;
}

.survey-results .process p {
	margin: 0px 0px 0px 0px !important;
	text-align: left;
}

.ms-participant-form input::-webkit-input-placeholder {
  color: #a2a2a2;
}
.ms-participant-form input::-moz-placeholder {
  color: #a2a2a2;
}
.ms-participant-form input:-ms-input-placeholder {
  color: #a2a2a2;
}
.ms-participant-form input:-moz-placeholder {
  color: #a2a2a2;
}

.survey-results .right {
	float: right;
}

.survey-results .progress .badge {
	padding-left: 9px;
	padding-right: 9px;
	border-radius: 9px 9px 9px 9px;
	background-color: rgb(58, 135, 173);
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	color: rgb(255, 255, 255);
	vertical-align: baseline;
	white-space: nowrap;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}

.survey-results .progress .bar {
	background-color: rgb(91, 192, 222);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	position: absolute;
	overflow: hidden;
	border-radius: 2px 2px 2px 2px;
	font-size: 11px;
	font-weight: bold;
	line-height: 13px;
	padding: 5px 0px 4px;
	width: 0;
	height: 100%;
	color: rgb(255, 255, 255);
	float: left;
	text-align: center;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15) inset;
	-moz-box-sizing: border-box;
	-webkit-transition: width 1.6s ease 2s;
	transition: width 1.6s ease 2s;
}

.lineprocess {
	margin-top: 5px;
}

.lineprocess p {
	margin: 0px 0px 0px 0px !important;
	display: inline-block;
	width: 30%;
	vertical-align: middle;
}

.lineprogress {
	filter: none !important;
	height: 5px;
	width: 60%;
	display: inline-block;
	border-radius: 1px;
	border: 1px solid rgb(213, 213, 213);
} 

.lineprocess .badge {
	display: inline-block;
	padding: 0px;
	vertical-align: middle;
	font-size: 11px;
	width: 100%;
}

.lineprogress .bar {
	background-color: rgb(91, 192, 222);
	filter: none !important;
	overflow: hidden;
	border-radius: 2px 2px 2px 2px;
	font-size: 11px;
	font-weight: bold;
	line-height: 3px;
	padding: 2px 0px 1px;
	width: 0%;
	height: 100%;
	color: rgb(255, 255, 255);
	float: left;
	text-align: center;
	transition: width 1.6s ease 0s;
}

.lineprogress .perc {
	margin-top: -10px;
	font-size: 12px;
	display: inline-block;
	position: absolute;
	padding: 1px 3px;
	border: 1px solid #e1e2e3;
	background: #FFF;
	border-radius: 3px;
}

.survey_tooltip {
	font-size: 12px !important;
	padding: 3px !important;
	box-shadow: 0px 0px 0px 0px transparent !important;
	border-radius: 3px !important;
	border: 1px solid #e1e2e3 !important;
}

.ms-question-row {
	display: block;
}

.ms-question-text {
	display: inline-block;
	font-size: 16px;
	padding: 30px 0px 10px 0px;
	width: 95%;
	font-weight: bold;
}

.ms-question-block1 {
	display: inline-block;
	width: 0%;
}

.ms-question-block2 {
	font-size: 12px;
    padding: 0px 0px 20px 20px;
}

.ms-answer-row {
	display: block;
    color: #000;
	padding: 3px 5px;
}

.ms-answer-text {
	display: inline-block;
	font-size: 12px;
	padding: 3px;
	width: 65%;
}

.ms-answer-row-selected {
	font-size: 12px;
    background-color: #F5F4F4;
    padding: 3px 5px;
    color: #000;
    border-radius: 4px;
	border: 1px solid #969696;
}

.ms-answer-count, .ms-answer-percentage, .ms-answer-score {
	display: inline-block;
	width: 10%;
	text-align: right;
}

.inactive_msanswer {
	display: none !important;
}

.modal-survey-embed .ms-participant-form {
	width: 100%;	
}

.ms-participant-form {
	width: 90%;
	text-align: center;
    margin: 10px auto;
}

.survey_element.survey_question {
    margin-bottom: 5px;
	margin-top: 20px;
	flex-basis: auto;
	flex-basis: 100%;
	width: 100%;
}

.ms-participant-form input:not(.ms-custom-checkbox, .ms-custom-radiobox) {
	width: 100% !important;
	display: inline-block;
	margin-right: 10px;
	border: 1px solid rgb(204, 204, 204);
}

.ms-custom-checkbox-field {
	height: 30px;
}

.ms-custom-checkbox-field input {
	vertical-align: text-top;
	cursor: pointer;
}

.ms-custom-checkbox-field label {
	vertical-align: text-top;
	margin-left: 5px;
	cursor: pointer;
}

.ms-participant-form a.send-participant-form {
	width: 20%;
	cursor: pointer;
    border-radius: 3px;
    background: #82b440;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
	margin: 5px 0px 0px 0px !important;
}

.ms-form-name, .ms-form-email {
}

.autoembed-msurvey {
	padding: 20px 0px;
}

.modal-survey-embed .ms-participant-form input:not(.ms-custom-checkbox, .ms-custom-radiobox) {
	width: 100% !important;
	max-width: 100% !important;
	display: block;
}

.ms-custom-checkbox {
	display: block;
}
	
.modal-survey-embed .send-participant-form-container, .ms-next-question-container {
	width: 100%;
	margin: 0px !important;
	text-align: center;
}

.ms-next-question-container {
	margin-top: 20px !important;
}

.modal-survey-embed .send-participant-form.button {
	display: block !important;
	text-align: center;
	border-radius: 3px !important;
}

.ms-next-question, .ms-next-back {
	display: inline-block;
    margin: 0px 5px;
}

.correct-mark img {
	width: 16px;
	height: 16px;
}

.correct-mark {
	position: absolute;
	margin-left: -25px;
	margin-top: 2px;
}

.modal-survey-embed .ms-participant-form a.send-participant-form {
	width: 100% !important;
	display: block !important;
	padding: 10px 0px;
	margin: 5px 0px 0px 0px !important;
	border-radius: 3px !important;
}

.one-ms-custom-radio-field {
	cursor: pointer;
}

.one-ms-custom-radio-field label {
    margin-left: 5px;
    vertical-align: middle;
	cursor: pointer;
	vertical-align: text-top;
}

.modal-survey-container p {
    margin: 10px 0px;
}

textarea.open_text_answer {
    margin: 0px !important;
    width: 100%;
    height: 100%;
	display: inline-block !important;
    vertical-align: middle;	
}

.legendDiv {
	margin-top: 20px;
    position: absolute;
}

.legendDiv li {
	list-style: none;
	color: #000;
}

.legendDiv li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

input.ms-form-name, input.ms-form-email {
    margin: 5px 0px 0px 0px !important;
    width: 100% !important;
    font-size: 14px;
    line-height: 30px;
    text-indent: 10px;
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-ring-css {
	background: none;
	margin: 0 auto;
	width: 120px;
	height: 120px;
	text-align: center;
	position: absolute;
    z-index: 9999;
	margin-top: -70px;
}

.uil-ring-css .quiztimer {
	position: absolute;
	display: block;
	width: 60px;
	height: 60px;
	top: 20px;
	left: 21px;
	border-radius: 80px;
	box-shadow: 0 6px 0 0 #59ebff;
	-ms-animation: uil-ring-anim 1s linear infinite;
	-moz-animation: uil-ring-anim 1s linear infinite;
	-webkit-animation: uil-ring-anim 1s linear infinite;
	-o-animation: uil-ring-anim 1s linear infinite;
	animation: uil-ring-anim 1s linear infinite;
}

.qtdisplay {
    font-size: 30px;
    margin-top: 40px;
    margin-left: -20px;
}

.ms-custom-field input, .ms-custom-field textarea, .ms-custom-field select:not(.ms-custom-checkbox input) {
	margin: 0px !important;
}
.ms-custom-field {
	margin: 5px 0px 0px 0px !important;
}

.ms-custom-textarea-field textarea, .ms-custom-text-field input, .ms-custom-select-field select, .ms-form-name, .ms-form-email {
    text-indent: 10px;
	width: 100%;
}
	
.ms-custom-textarea-field textarea {
	padding: 10px 0px !important;
}
	
.ms-custom-radio-field {
	margin: 5px auto;
	text-align: center;
}

.ms-custom-radio-field input[type=radio] {
    display: inline-block !important;
    width: auto !important;
    vertical-align: middle;
}

.ms-a-label{
	position: relative;
}

.ms-a-hidelabel {
	display: none;
}

.participant-form-confirmation {
	margin: 15px 0px 10px 0px;	
}

.participant-form-confirmation, .participant-form-confirmation label {
	text-align: left;
}

.participant-form-confirmation label {
	vertical-align: top;
	cursor: pointer;
}

.participant-form-confirmation input[type=checkbox] {
	width: auto !important;
	vertical-align: top;
	cursor: pointer;
}

.one-ms-custom-radio-field {
    display: inline-block !important;
    width: auto !important;
    margin: 5px 20px;
}

.ms-custom-field input::-webkit-input-placeholder, .ms-custom-field textarea::-webkit-input-placeholder, .ms-form-name::-webkit-input-placeholder, .ms-form-email::-webkit-input-placeholder {
    opacity: 0.5;
}
.ms-custom-field input:-moz-placeholder, .ms-custom-field textarea:-moz-placeholder, .ms-form-name:-moz-placeholder, .ms-form-email:-moz-placeholder {
    /* FF 4-18 */
    opacity: 0.5;
}
.ms-custom-field input::-moz-placeholder, .ms-custom-field textarea::-moz-placeholder, .ms-form-name::-moz-placeholder, .ms-form-email::-moz-placeholder {
    /* FF 19+ */
    opacity: 0.5;
}
.ms-custom-field input:-ms-input-placeholder, .ms-custom-field textarea:-ms-input-placeholder, .ms-form-name:-ms-input-placeholder, .ms-form-email:-ms-input-placeholder {
    /* IE 10+ */
    opacity: 0.5;
}

.warning-icon {
}

.warning-icon2 {
}

.warning-icon:before {
	content: '!';
	background: #fc0303;
	width: 20px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	line-height: 1.5;
	position: absolute;
	margin-left: -25px;
	border-radius: 100%;
	height: 20px;
	-webkit-animation: all .2s ease-in 0s;
	-moz-animation: all .2s ease-in 0s;
	-o-animation: all .2s ease-in 0s;
	-ms-animation: all .2s ease-in 0s;
	animation: all .2s ease-in 0s;
	-webkit-animation-name: warning-anim; 
	-ms-animation-name: warning-anim; 
	-o-animation-name: warning-anim; 
	-moz-animation-name: warning-anim; 
	animation-name: warning-anim;
	margin-top: 7px;
}

.ms-custom-checkbox-field.warning-icon:before {
	margin-top: 0px !important;
}

.warning-icon2:before {
	content: '!';
	background: #fc0303;
	width: 20px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	line-height: 1.5;
	position: absolute;
	margin-left: -25px;
	border-radius: 100%;
	height: 20px;
	-webkit-animation: all .2s ease-in 0s;
	-moz-animation: all .2s ease-in 0s;
	-o-animation: all .2s ease-in 0s;
	-ms-animation: all .2s ease-in 0s;
	animation: all .2s ease-in 0s;
	-webkit-animation-name: warning-anim; 
	-ms-animation-name: warning-anim; 
	-o-animation-name: warning-anim; 
	-moz-animation-name: warning-anim; 
	animation-name: warning-anim;
}

@-webkit-keyframes warning-anim {
	0%  { 
		opacity: 0; 
		-webkit-transform: scale(0);
		}
	100% { 
		opacity: 1; 
		-webkit-transform: scale(1);
		}
}

@-moz-keyframes warning-anim {
	0%  { 
		opacity: 0; 
		-moz-transform: scale(0);
		}
	100% { 
		opacity: 1; 
		-moz-transform: scale(1);
		}
}

@-ms-keyframes warning-anim {
	0%  { 
		opacity: 0; 
		-ms-transform: scale(0);
		}
	100% { 
		opacity: 1; 
		-ms-transform: scale(1);
		}
}

@-o-keyframes warning-anim {
	0%  {
		opacity: 0; 
		-o-transform: scale(0);
		}
	100% { 
		opacity: 1; 
		-o-transform: scale(1);
		}
}

@keyframes warning-anim {
	0%  { 
		opacity: 0; 
		transform: scale(0);
		}
	100% { 
		opacity: 1; 
		transform: scale(1);
		}
}

@media only screen and (max-width: 1024px) and (min-width: 100px)
{
	.survey_element
	{
		font-size: 12px !important;
	}
	
	.modal-survey-container {
		width: 100% !important;
		margin-left: 0px !important;
		/* display: flex !important; */
		/* flex-wrap: wrap */
}

	.ms-participant-form input {
		width: 100% !important;
		display: block;
		margin: 5px auto !important;
	}
	
	.send-participant-form-container {
		width: 100%;
		margin: 5px 0px 0px 0px !important;
	}

	.ms-participant-form a.send-participant-form {
		width: 100% !important;
		display: block !important;
	}
	
    img.survey_answer_image {
		object-fit: contain;
    }	
}

	*::-ms-backdrop, .modal-survey-container { display: block !important; }
	*::-ms-backdrop, .survey_table.endcontent { display: block !important; }
	.survey_answer_image, .survey_question_image { width: 100%; }