.pp-gravity-form {
    .gform_wrapper {
        .gform_footer {
            margin: 0;
            padding: 0;
        }
        ul.gform_fields li.gfield {
            padding: 0;
        }
        textarea {
            padding: 0;
        }
        .gform_footer,
        .gform_page_footer {
            input.button,
            input[type="submit"] {
                margin: 0;
            }
        }
        .gform_page_footer {
            input[type="button"] {
                margin-right: 4px;
            }
            input[type="submit"] {
                margin-left: 4px;
            }
        }
    }
    &.title-description-hide {
        .gform_heading {
            display: none;
        }
    }
    &.labels-hide {
        .gform_wrapper .top_label .gfield_label,
        .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label {
            display: none;
        }
    }
    .gform_footer,
    .gform_page_footer {
        input[type="submit"],
        input[type="button"] {
            background: #428bca;
            border: none;
            display: inline-block;
            padding: 10px 15px;
        }
    }
}
.pp-gravity-form-button-full-width .gform_wrapper {
    .gform_footer,
    .gform_page_footer {
        input[type="submit"] {
            width: 100%;
        }
    }
    .gform_page_footer {
        input[type="submit"] {
            margin-top: 20px;
        }
    }
}
.pp-gravity-form-pagination-buttons-full-width .gform_wrapper {
    .gform_page_footer {
        input[type="button"] {
            margin-top: 20px;
            width: 100%;
        }
    }
}