.woocommerce .discounts_table { width: 100%; line-height: 2em; margin: 20px 10px; }
.woocommerce .discounts_table tr { border-bottom: 1px solid #ccc; }
.woocommerce .discounts_table tr.alt { background-color: #fafafa }
.woocommerce .discounts_table th { font-weight: bold; text-align:left; padding-left: 10px; }
.woocommerce .discounts_table td { text-align:left; padding-left: 10px !important; }
.woocommerce .discounts_table th.discounts_table_label { background-color: #f0f0f0; text-align: center; }
.woocommerce .estimated_cost_wrap { margin-top: 1em }
.woocommerce .estimated_cost, .woocommerce .estimated_cost_note { padding-top: 1em; }