.njba-content-grid-section-wrapper h1,h2,h3,h4,h5,h6,p,ul{margin: 0px;}
a , a:hover a:focus , a:active{	text-decoration:none;}
.njba-filter-dective{display: none;}
.njba-image-responsive{display:block;max-width:100%;height:auto;}
.njba-blog-posts-col-2 { width: 16.66%;float: left; }
.njba-blog-posts-col-5 { width: 20%;float: left; }
.njba-blog-posts-col-3 { width: 25%;float: left; }
.njba-blog-posts-col-4 { width: 33.33%; float: left;}
.njba-blog-posts-col-6 { width: 50%; float: left;}
.njba-blog-posts-col-12 { width: 100%;float: left; }
.njba-blog-row img {width: 100%;}
.njba-blog-posts-masonry h1,
.njba-blog-posts-masonry h2,
.njba-blog-posts-masonry h3,
.njba-blog-posts-masonry h4,
.njba-blog-posts-masonry h5,
.njba-blog-posts-masonry h6{margin: 0;}
.njba-blog-posts-grid h1,
.njba-blog-posts-grid h2,
.njba-blog-posts-grid h3,
.njba-blog-posts-grid h4,
.njba-blog-posts-grid h5,
.njba-blog-posts-grid h6{margin: 0;}
.njba-blog-posts-carousel h1,
.njba-blog-posts-carousel h2,
.njba-blog-posts-carousel h3,
.njba-blog-posts-carousel h4,
.njba-blog-posts-carousel h5,
.njba-blog-posts-carousel h6{margin: 0;}
.njba-blog-posts-grid .njba-post-wrapper {padding: 10px;}
.njba-pl-view {height: auto;overflow: hidden;position: relative;  width: 100%;}
/*Style 1 */
.njba-blog-posts-masonry .njba-content-grid,
.njba-blog-posts-grid .njba-content-grid,
.njba-blog-posts-carousel .njba-content-grid{background-color: #ffffff; margin: 15px 0;border: 1px solid #a7cb00;box-shadow: 0 0 5px 0 #5f5f5f;padding: 16px; position: relative;overflow: hidden;transition: all 0.3s;}
.njba-content-grid-image {overflow: hidden;}
.njba-content-grid-contant h1 {font-size: 20px;padding: 10px 0; font-weight: normal;}
.njba-content-grid-contant ul {list-style: none;padding: 0;}
.njba-content-grid-contant ul li {display: inline-block;color: #afafaf;}
.njba-content-grid-contant ul li a {color: #afafaf;display: inline-block;font-size: 14px;text-transform: capitalize;}
.njba-content-grid-contant ul li span {display: inline-block;color: #afafaf;margin: 0 5px;}
.njba-content-grid-section-wrapper .njba-content-grid-contant ul li:last-child span { display: none !important;}
.njba-content-grid-contant p {font-size: 15px;font-weight: normal;line-height: 24px;padding: 10px 0;}
.njba-style-1 .njba-content-grid:hover {box-shadow: 0 0 6px 3px #5f5f5f;}
.njba-content-grid-section-wrapper .njba-flip-box-wrap.njba-style-1 .njba-face.njba-front .njba-flip-box-section{padding: 15px;background: #F9F9F9;border: 1px solid #eeeeee;margin: 0;}
.njba-content-grid-section-wrapper ul {list-style: none;padding: 0;    margin: 0;}
.njba-content-grid-section-wrapper ul li {display: inline-block;color: #afafaf;}
.njba-content-grid-section-wrapper ul li span {display: inline-block;color: #afafaf;margin: 0 5px;}
.njba-flip-box-wrap.njba-style-1 h1 {font-size: 20px;padding: 10px 0;font-weight: normal;}
.njba-style-1 .njba-content-grid-contant.njba-content-grid-contant_section { background-color: rgba(15, 181, 179, 1); bottom: 0;left: 0;position: absolute;right: 0;text-align: center;top: 0;z-index: 1;padding: 10px;transform: scaley(0);opacity: 0;transition: all 0.3s;}
.njba-style-1 .njba-content-grid:hover .njba-content-grid-contant.njba-content-grid-contant_section{opacity:1;transform:scaley(1);}
.njba-style-1 .njba-content-grid-contant.njba-content-grid-contant_section .njba-content-grid-vertical-center{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}
.njba-style-1 .njba-content-grid-contant.njba-content-grid-contant_section .njba-content-grid-contant-sub {
    display: table;
    height: 100%;
    width: 100%;
}
/*Style 2*/
.njba-style-2 .njba-content-grid {padding: 0;}
.njba-style-2 .njba-content-grid-contant h1{padding:0 0 5px;}
.njba-style-2 .njba-content-grid-contant ul li span,
.njba-style-2 .njba-content-grid-contant ul li {font-size: 12px;}
.njba-style-2 .njba-content-grid-contant ul li a {font-size: 12px;}
.njba-style-2 .njba-content-grid-image{float: left;width: 50%;}
.njba-style-2 .njba-content-grid-contant{float:left;width:50%;padding:15px;}
/*Style 3*/
.njba-style-3 .njba-content-grid {margin: 0;}
.njba-style-3 .njba-content-grid-contant h1{color:#fff;	}
.njba-style-3 .njba-content-grid-contant ul li span{color:#fff;}
.njba-style-3 .njba-content-grid-contant ul li a,
.njba-style-3 .njba-content-grid-contant ul li{color: #fff;font-size:15px;}
.njba-style-3 .njba-content-grid{padding:0;border: none;box-shadow:none;}
.njba-style-3 .njba-content-grid:hover .njba-content-grid-contant{opacity:1;transform:scaley(1);}
.njba-style-3 .njba-content-grid:hover .njba-content-grid-image img{transform:scale(1.5) rotate(20deg);	}
.njba-style-3 .njba-content-grid .njba-content-grid-image img{transform:scale(1) rotate(0deg);transition:all 0.3s;}
.njba-style-3 .njba-content-grid-vertical-center {display: table-cell;height: 100%; vertical-align: middle; width: 100%;}
.njba-style-3 .njba-content-grid-contant-sub {display: table;height: 100%;width: 100%;}
.njba-blog-posts-grid .njba-style-3 .njba-content-grid-contant,
.njba-blog-posts-masonry .njba-style-3 .njba-content-grid-contant,
.njba-blog-posts-carousel .njba-style-3 .njba-content-grid-contant{background-color:rgba(15, 181, 179, 1);bottom: 0;left: 0;position: absolute;right: 0;text-align: center;top: 0;z-index: 1;	padding:10px;transform:scaley(0);opacity:0;	transition:all 0.3s;}
.njba-blog-posts-flipbox .njba-style-1 .njba-face.njba-back,
.njba-blog-posts-flipbox .njba-style-3 .njba-face.njba-back,
.njba-blog-posts-flipbox .njba-style-6 .njba-face.njba-back{background-color:rgba(15, 181, 179, 1);padding: 15px;}
/*Style 4*/
.njba-style-4 .njba-content-grid {position: relative;padding: 0;border: none;box-shadow: none;background: none;overflow: visible;}
.njba-style-4 .njba-content-grid-overlay-image {position: relative;    overflow: hidden;}
.njba-style-4 .njba-content-grid-overlay {position: absolute;background-color: rgba(0,0,0,0.5);left: 0;right: 0;top: 0;bottom: 0;}
.njba-style-4 .njba-content-grid-overlay-wrapper {display: table;width: 100%;height: 100%;text-align: center;}
.njba-style-4 .njba-content-grid-contant {vertical-align: middle;width: 100%;height: 100%;display: table-cell;padding: 15px;}
.njba-style-4 .njba-content-grid-contant h1{color:#fff;}
.njba-style-4 .njba-content-grid-category {left: 0;margin: 0 auto;position: absolute;right: 0;text-align: center;bottom: -25px;}
.njba-style-4 .njba-content-grid .njba-content-grid-image img {transform: scale(1) rotate(0deg);transition: all 0.3s;}
.njba-style-4 .njba-content-grid:hover .njba-content-grid-image img {transform:scale(1.5) rotate(20deg);}
/*Style 5*/
.njba-style-5 .njba-content-grid {margin: 0;padding: 0; border: none;box-shadow: none;}
.njba-style-5 .njba-content-grid .njba-content-grid-contant.njba-content-grid-contant_section,
.njba-style-6 .njba-content-grid .njba-content-grid-contant.njba-content-grid-contant_section,
.njba-style-7 .njba-content-grid .njba-content-grid-contant.njba-content-grid-contant_section { background-color: rgba(15, 181, 179, 1); bottom: 0;left: 0;position: absolute;right: 0;text-align: center;top: 0;z-index: 1;padding: 10px;transform: scaley(0);opacity: 0;transition: all 0.3s;
}
.njba-style-5 .njba-content-grid:hover .njba-content-grid-contant,
.njba-style-6 .njba-content-grid:hover .njba-content-grid-contant,
.njba-style-7 .njba-content-grid:hover .njba-content-grid-contant{opacity:1;transform:scaley(1);}
.njba-style-5 .njba-content-grid:hover .njba-content-grid-image img,
.njba-style-6 .njba-content-grid:hover .njba-content-grid-image img,
.njba-style-6 .njba-content-grid:hover .njba-content-grid-image img{transform:scale(1.5) rotate(20deg); }
.njba-style-5 .njba-content-grid-contant.njba-content-grid-contant_section .njba-content-grid-vertical-center,
.njba-style-6 .njba-content-grid-contant.njba-content-grid-contant_section .njba-content-grid-vertical-center,
.njba-style-7 .njba-content-grid-contant.njba-content-grid-contant_section .njba-content-grid-vertical-center {display: table-cell;height: 100%;vertical-align: middle;width: 100%;}
.njba-style-5 .njba-content-grid-contant.njba-content-grid-contant_section .njba-content-grid-contant-sub,
.njba-style-6 .njba-content-grid-contant.njba-content-grid-contant_section .njba-content-grid-contant-sub,
.njba-style-7 .njba-content-grid-contant.njba-content-grid-contant_section .njba-content-grid-contant-sub {display: table; height: 100%;width: 100%;}
.njba-style-5 .vertical_title {position: absolute; right: 0px; top: 0px; width: 42px; height: 100%;color: #ffffff; text-align: center;font-size: 16px; font-family: 'Montserrat', sans-serif;padding: 0px;text-transform: uppercase;letter-spacing: 5px;writing-mode: tb-rl; -ms-writing-mode: tb-rl;
    -moz-writing-mode: vertical-rl; -ms-writing-mode: vertical-rl;-moz-transform: rotate(0deg);-o-transform: rotate(0deg);-ms-transform: rotate(0deg); white-space: nowrap; display: block; bottom: 0; margin: 0;background: #3a303b;}
.njba-blog-posts-flipbox .njba-style-5 .njba-face.njba-back{background-color:rgba(15, 181, 179, 1);padding: 15px;}
.njba-style-5 .vertical_title span {margin: 0 12px 0 0;display: block;}
.njba-style-5 .vertical_title span i{color:#fd4a45; font-size:10px;}
.njba-style-5 .njba_front_inner { position: absolute; left: 22px; top: 22px; width: 70px;height: 70px;border-radius: 50%;text-align: center; background:#ae7c55;}
.njba-style-5 .njba_front_inner span {color: #fff; font-size: 18px;font-family: 'Montserrat', sans-serif;line-height: 22px;margin: 12px 0 0;display: block;text-transform: uppercase;text-align: center;}
.njba-style-5 .njba-content-grid-contant h1{padding:0px 0 10px;}
/**Style 6*/
.njba-style-6 .njba_front_inner .njba_count {width: 100%;height: 76px;font-size: 16px;color: #333333;font-weight: bold;font-family: 'Montserrat', sans-serif;padding: 10px 0 0 0;position: absolute;top: 0;left: 0;right: 0;    text-align: center;}
.njba-style-6 .njba-flip-box-section.njba-flip-box-section-vertical-middle {position: relative;}
.njba-style-6 .horizontal_title{position: absolute;bottom: 30px;left: 0;right: 0;color: #ffffff;font-size: 20px;font-weight: 600;text-align: center;}
.njba-style-7 .horizontal_title  {position: absolute;bottom: 30px;left: 0;right: 0;color: #ffffff;font-size: 20px;font-weight: 600;text-align: center;}
.njba-content-grid-section-wrapper .njba-flip-box-wrap.njba-style-6 .njba-face.njba-front .njba-flip-box-section,
.njba-style-6 .njba-content-grid.njba-content-grid-wrapper{padding: 15px;background: #F9F9F9;border: 1px solid #eeeeee;margin: 0;}
.njba-style-6 .njba_front_inner {position: absolute;background-color: rgba(0,0,0,0.2);left: 0;right: 0;top: 0;bottom: 0;}
/**Style 7*/
.njba-style-7 .njba-content-grid {padding: 0;margin: 0;}
.njba-blog-posts-flipbox .njba-style-7 .njba-face.njba-back{background: linear-gradient(#08f74d,#32a7f8);padding: 15px;}
.njba-style-7 .horizontal_title  {position: relative;top:0;bottom: auto;left: 0;right: 0;color: #ffffff;font-size: 20px;font-weight: 600;z-index: 1;display: table-cell;height: 100%;width: 100%;vertical-align: middle;}
.njba-style-7 .njba_front_inner_wraper{display: table;width: 100%;height: 100%;}
.njba-style-7 .njba_front_inner {background-color: rgba(0,0,0,0.5);position: absolute;top: 0;bottom: 0;left: 0;right: 0;}
/*For Carousel*/
.njba-blog-posts-carousel.njba-blog-posts-carousel-loaded .bx-wrapper .bx-next i,
.njba-blog-posts-carousel.njba-blog-posts-carousel-loaded .bx-wrapper .bx-prev i{display: block;text-align: center;line-height: 35px;}
.njba-blog-posts-carousel.njba-blog-posts-carousel-loaded .bx-wrapper .bx-controls-direction a.bx-next,
.njba-blog-posts-carousel.njba-blog-posts-carousel-loaded .bx-wrapper .bx-controls-direction a.bx-prev {height: 35px; margin-top: -20px;outline: 0 none;position: absolute;top: 50%;width: 35px;z-index: 99;font-size: 35px;background: #000000;text-indent: 0;
    line-height: 40px;display: block;color: #ffffff;}
.njba-blog-posts-carousel.njba-blog-posts-carousel-loaded .bx-wrapper .bx-controls-direction a.bx-next {right: -40px;}
.njba-blog-posts-carousel.njba-blog-posts-carousel-loaded .bx-wrapper .bx-controls-direction a.bx-prev {left: -40px;}
.njba-blog-posts-carousel.njba-blog-posts-carousel-loaded .bx-wrapper .bx-controls-direction a:active,
.njba-blog-posts-carousel.njba-blog-posts-carousel-loaded .bx-wrapper .bx-controls-direction a:focus,
.njba-blog-posts-carousel.njba-blog-posts-carousel-loaded .bx-wrapper .bx-controls-direction a:hover {text-decoration: none;}
/*Pagination**/
.njba-pagination {float: left;width: 100%;}
.njba-pagination ul.page-numbers {list-style: none;margin: 0;padding: 0;text-align: center;}
.njba-pagination ul.page-numbers li {display: inline-block;list-style: none;margin: 0;padding: 0;}
.njba-pagination li a.page-numbers:hover,
.njba-pagination li span.current{background: #f5f5f5;text-decoration: none;}
.njba-pagination li a.page-numbers,
.njba-pagination li span.page-numbers {border: 1px solid #e6e6e6;display: inline-block;padding: 5px 10px;margin: 0 0 5px;}
.njba-content-post-grid #infscr-loading,
.njba-blog-posts-masonry #infscr-loading {visibility: hidden;opacity: 0;}
div#post-loading img {width: 50px;}
div#infscr-loading {visibility: hidden;opacity: 0;}
div#post-loading {text-align: center;position: absolute;bottom: 10px;left: 0;right: 0;}
/*Masonary Filters**/
ul.njba-masonary-filters {padding: 0;text-align: center;margin-bottom: 40px;}
ul.njba-masonary-filters > li {border-style: none;display: inline-block;cursor: pointer;margin-bottom: 5px;background: #EFEFEF;color: #808080;margin-right: 5px;margin-left: 5px;padding: 12px;border-radius: 2px;}
ul.njba-masonary-filters > li:last-of-type { margin-right: 0;}
ul.njba-masonary-filters > li.njba-masonary-current {color: #ffffff;background: #000000;}
/**Flipbox**/
.fl-builder-edit .njba-flip-box-wrap{pointer-events: none;}
.njba-content-grid-section-wrapper .njba-face {opacity: 0;}
.njba-content-grid-section-wrapper .njba-flip-box-wrap {
    display: block;
    text-align: center;
    position: relative;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px
}
.njba-content-grid-section-wrapper .njba-flip-box-wrap .njba-flip-box {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d
}
.njba-content-grid-section-wrapper .njba-flip-box-wrap .njba-flip-box {
    height: 100%;
    position: relative;
    display: block;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.njba-content-grid-section-wrapper .njba-flip-box-wrap .njba-back,
.njba-content-grid-section-wrapper .njba-flip-box-wrap .njba-front {
    padding: 0;
    height: 100%;
    margin-bottom: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-duration: 800ms;
    -moz-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    -ms-transition-duration: 800ms;
    transition-duration: 800ms;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.njba-content-grid-section-wrapper .njba-flip-box-wrap .njba-front {
    z-index: 9;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden
}
.njba-content-grid-section-wrapper .njba-flip-box-wrap .njba-front * {
 -webkit-backface-visibility: hidden;
 -moz-backface-visibility: hidden;
 -o-backface-visibility: hidden;
 -ms-backface-visibility: hidden;
 backface-visibility: hidden;
}
.njba-content-grid-section-wrapper .njba-flip-box-wrap .njba-back {
    position: absolute;
    top: 0;
    z-index: -1
}
.njba-content-grid-section-wrapper .njba-style-1 .njba-flip-box-wrap .njba-back {
   position: absolute;
    top: 15px;
    z-index: -1;
    left: 0;
    padding: 0 15px;
}
.njba-content-grid-section-wrapper .njba-flip-box-wrap:hover .njba-back {
    z-index: 1
}
.njba-content-grid-section-wrapper .njba-flip-box-wrap .njba-flip-box .njba-face-text-title,
.njba-content-grid-section-wrapper .njba-flip-box-wrap .njba-flip-box .njba-back-text-title {
    display: block;
}
.njba-content-grid-section-wrapper .njba-flip-box-wrap .njba-back .njba-back-flip-box-section-content {
    overflow: hidden
}
.njba-content-grid-section-wrapper .njba-flip-box-wrap .njba-flip-box-section-content * {
    margin: 0;
}
.njba-content-grid-section-wrapper .njba-flip-box-wrap .njba-back .njba-back-flip-box-section-content * {
    margin: 0;
}
.njba-content-grid-section-wrapper .njba-flip-box-wrap .flip_link {
    display: block;
    position: relative
}
.njba-content-grid-section-wrapper .njba-flip-box-wrap .flip_link a {
   
    display: inline-block;
    margin: 10px auto 0;
    padding: .3em .6em;
    text-decoration: none;
    cursor: pointer;
   
}
.njba-content-grid-section-wrapper .njba-flip-box-wrap .flip_link a:active,
.njba-content-grid-section-wrapper .njba-flip-box-wrap .flip_link a:hover,
.njba-content-grid-section-wrapper .njba-flip-box-wrap .flip_link a:visited {
    text-decoration: none;
}
.njba-content-grid-section-wrapper .njba-flip-box-wrap .ifb-auto-height .njba-face {
    overflow: hidden
}
.njba-content-grid-section-wrapper .njba-custom-height .njba-face {
    height: 100%;
}
.njba-content-grid-section-wrapper .njba-flip-box-wrap .ifb-auto-height .njba-face .ifb-desc-back,
.njba-content-grid-section-wrapper .njba-flip-box-wrap .njba-custom-height .njba-face .ifb-desc-back {
    max-height: 45%;
    max-height: -webkit-calc(100% - 55px);
    max-height: -moz-calc(100% - 55px);
    max-height: calc(100% - 55px);
    position: relative;
    overflow: hidden
}
.njba-content-grid-section-wrapper .njba-flip-box-wrap .njba-jq-height .njba-back p {
    max-height: 100%;
    overflow: visible;
    display: block
}
.njba-content-grid-section-wrapper .njba-flip-box-wrap .njba-jq-height .njba-back {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    bottom: 0
}
 
.njba-content-grid-section-wrapper .njba-flip-box-wrap .horizontal_flip_left .njba-hover .njba-back,
.njba-content-grid-section-wrapper .njba-flip-box-wrap .horizontal_flip_right .njba-front,
.njba-content-grid-section-wrapper .njba-flip-box-wrap .horizontal_flip_right .njba-hover .njba-back,
.njba-content-grid-section-wrapper .njba-flip-box-wrap .horizontal_flip_left .njba-front {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
}
.njba-content-grid-section-wrapper .njba-flip-box-wrap .horizontal_flip_left .njba-hover .njba-front,
.njba-content-grid-section-wrapper .njba-flip-box-wrap .horizontal_flip_right .njba-back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg)
}
.njba-content-grid-section-wrapper .njba-flip-box-wrap .horizontal_flip_left .njba-back, 
.njba-content-grid-section-wrapper .njba-flip-box-wrap .horizontal_flip_right .njba-hover .njba-front {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg)
}
.njba-content-grid-section-wrapper .njba-flip-box-wrap .vertical_flip_bottom .njba-hover .njba-back,
.njba-content-grid-section-wrapper .njba-flip-box-wrap .vertical_flip_top .njba-hover .njba-back,
.njba-content-grid-section-wrapper .njba-flip-box-wrap .vertical_flip_top .njba-front, 
.njba-content-grid-section-wrapper .njba-flip-box-wrap .vertical_flip_bottom .njba-front{
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg)
}
.njba-content-grid-section-wrapper .njba-flip-box-wrap .vertical_flip_top .njba-back, 
.njba-content-grid-section-wrapper .njba-flip-box-wrap .vertical_flip_bottom .njba-hover .njba-front {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg)
}
.njba-content-grid-section-wrapper .njba-flip-box-wrap .vertical_flip_bottom .njba-back,
.njba-content-grid-section-wrapper .njba-flip-box-wrap .vertical_flip_top .njba-hover .njba-front {
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
    transform: rotateX(-180deg)
}
.njba-content-grid-section-wrapper .njba-flip-box-wrap .njba-back,
.njba-content-grid-section-wrapper .njba-flip-box-wrap .njba-front {
    display: block;
    width: 100%
}
.njba-content-grid-section-wrapper .njba-flip-box-section {
    display: block;
    position: relative;
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
}
.njba-content-grid-section-wrapper .njba-flip-box-section.njba-flip-box-section-vertical-middle {
    vertical-align: middle !important;
    top: 50%;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%)
}
@media (max-width: 990px){
.njba-blog-posts-col-2 { width: 50%;float: left; }
.njba-blog-posts-col-5 { width: 50%;float: left; }
.njba-blog-posts-col-3 { width: 50%;float: left; }
.njba-blog-posts-col-4 { width: 50%; float: left;}
.njba-blog-posts-col-6 { width: 50%; float: left;}
.njba-blog-posts-carousel.njba-blog-posts-carousel-loaded .bx-wrapper .bx-controls-direction a.bx-next {right: 0px;}
.njba-blog-posts-carousel.njba-blog-posts-carousel-loaded .bx-wrapper .bx-controls-direction a.bx-prev {left: 0px;}
	
}
@media (max-width: 768px){
	.njba-blog-posts-carousel.njba-blog-posts-carousel-loaded .bx-wrapper .bx-controls-direction a.bx-next {right: -10px;}
	.njba-blog-posts-carousel.njba-blog-posts-carousel-loaded .bx-wrapper .bx-controls-direction a.bx-prev {left: -10px;}
}
@media (max-width: 767px){
.njba-blog-posts-col-2 { width: 100%;float: left; }
.njba-blog-posts-col-5 { width: 100%;float: left; }
.njba-blog-posts-col-3 { width: 100%;float: left; }
.njba-blog-posts-col-4 { width: 100%; float: left;}
.njba-blog-posts-col-6 { width: 100%; float: left;}
.njba-style-3 .njba-content-grid {margin: 0 auto;max-width: 450px;}
.njba-style-2 .njba-content-grid-image ,.njba-style-2 .njba-content-grid-contant{width:100%;}
	
}
@media (max-width: 550px){
	.njba-blog-posts-carousel.njba-blog-posts-carousel-loaded .bx-wrapper .bx-controls-direction a.bx-next {right: -15px;}
	.njba-blog-posts-carousel.njba-blog-posts-carousel-loaded .bx-wrapper .bx-controls-direction a.bx-prev {left: -15px;}
}
@media (max-width: 375px){
	
	.njba-blog-posts-carousel.njba-blog-posts-carousel-loaded .bx-wrapper .bx-controls-direction a.bx-next {right: -20px;}
	.njba-blog-posts-carousel.njba-blog-posts-carousel-loaded .bx-wrapper .bx-controls-direction a.bx-prev {left: -20px;}
}
