.woopack-products-carousel div.products div.product,
.woopack-products-carousel div.products div.product:hover {
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.woopack-products-carousel div.products {
    clear: both;
	padding-top: 0;
}
.woopack-products-carousel div.products::after,
.woopack-products-carousel div.products::before {
    content: ' ';
    display: table;
}

.woopack-products-carousel div.products::after {
    clear: both;
}

.woopack-products-carousel div.products div.first {
    clear: both;
}

.woopack-products-carousel div.products div.last {
    margin-right: 0;
}

.woopack-products-carousel span.onsale {
    min-height: 0;
    min-width: 0;
}

.woopack-products-carousel .products ul,
.woopack-products-carousel div.products {
    margin: 0 0 1em;
    padding: 0;
    list-style: none outside;
    clear: both;
}

.woopack-products-carousel .products ul::after,
.woopack-products-carousel .products ul::before,
.woopack-products-carousel div.products::after,
.woopack-products-carousel div.products::before {
    content: ' ';
    display: table;
}

.woopack-products-carousel .products ul::after,
.woopack-products-carousel div.products::after {
    clear: both;
}

.woopack-products-carousel .products ul li,
.woopack-products-carousel div.products {
    list-style: none outside;
}

.woopack-products-carousel .woopack-category-title,
.woopack-products-carousel .woopack-product-title,
.woopack-products-carousel h3 {
    margin: 0;
    font-size: 20px;
}

.woopack-products-carousel a {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.woopack-products-carousel div.products div.product a img {
    height: auto;
    display: block;
    box-shadow: none;
}
.woopack-products-carousel div.products div.product .woopack-product-image a {
    position: relative;
    display: inline-block;
}
.woopack-products-carousel div.products div.product strong {
    display: block;
}

.woopack-products-carousel div.products div.product .star-rating {
    font-size: .857em;
}

.woopack-products-carousel div.products  .woopack-product-action a,
.woopack-products-carousel div.products   .woopack-product-action a.add_to_cart_button,
.woopack-products-carousel div.products  .woopack-product-action a.added_to_cart {
	display: inline-block !important;
    transition: 0.3s ease-in-out;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce a.added_to_cart,
.woocommerce button.button,
.woocommerce input.button {
    font-size: 100%;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: .618em 1em;
    font-weight: 700;
    border-radius: 3px;
    left: auto;
    color: #515151;
    background-color: #ebe9eb;
    border: 0;
    white-space: nowrap;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    text-shadow: none
}

.woopack-products-carousel div.products div.product .price {
    color: #77a464;
    display: block;
    font-weight: 400;
    margin-bottom: 0;
    font-size: .857em;
}

.woopack-products-carousel div.products div.product .price del {
    color: inherit;
    opacity: .5;
    display: inline-block!important;
}

.woopack-products-carousel div.products div.product .price ins {
    background: 0 0;
    font-weight: 700;
}

.woopack-products-carousel div.products div.product .price .from {
    font-size: .67em;
    margin: -2px 0 0 0;
    text-transform: uppercase;
    color: rgba(132,132,132,.5);
}