#mainwp-ga-tips {
    display: none;
}
.mainwp-ga-tut, #mainwp-ga-tips {
    display: none;
}

.mainwp_ext_info_box {
    background-color: #fff;
    border: 1px Solid #e5e5e5;
    padding: 1em;
    margin-bottom: 1em;
    text-decoration: none !important;
}

.mainwp_ext_info_box a {
    text-decoration: none !important;
}
#mainwp-ga-settings-page-form .postbox a{
    text-decoration: none;
}

#wpbody-content #mainwp_tab-general #dashboard-widgets.columns-3 .postbox #mainwp_ga_metabox_buttons #mainwp_widget_ga_site{
    width: 99%;
    margin-top:10px;    
}
#mainwp_ga_metabox_buttons .button-ga-select{    
    float:right;
}
#wpbody-content #mainwp_tab-general #dashboard-widgets.columns-3 #mainwp_ga_metabox_buttons .button-ga-select{
     float:none;
}
#wpbody-content #mainwp_tab-general #dashboard-widgets.columns-3 #mainwp_ga_metabox_buttons .button-ga-add,
#wpbody-content #mainwp_tab-general #dashboard-widgets.columns-3 #mainwp_ga_metabox_buttons .button-ga-refresh
{
     width: 48%;
}

