.wf-clearfix:before,
.wf-clearfix:after {
    content: " ";
    display: table
}

.wf-clearfix:after {
    clear: both
}

.wf-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    text-transform: uppercase;
    padding: .4rem 1rem;
    font-size: .875rem;
    line-height: 1.3125rem;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media (min-width: 768px) {
    .wf-btn {
        padding: .5rem 1.25rem;
        font-size: .875rem;
        line-height: 1.3125rem;
        border-radius: 4px
    }
}

.wf-btn:focus,
.wf-btn.wf-focus,
.wf-btn:active:focus,
.wf-btn:active.wf-focus,
.wf-btn.wf-active:focus,
.wf-btn.wf-active.wf-focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.wf-btn:hover,
.wf-btn:focus,
.wf-btn.wf-focus {
    color: #00709e;
    text-decoration: none
}

.wf-btn:active,
.wf-btn.wf-active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.wf-btn.wf-disabled,
.wf-btn[disabled],
.wf-btn[readonly],
fieldset[disabled] .wf-btn {
    cursor: not-allowed;
    -webkit-box-shadow: none;
    box-shadow: none
}

a.wf-btn {
    text-decoration: none
}

a.wf-btn.wf-disabled,
fieldset[disabled] a.wf-btn {
    cursor: not-allowed;
    pointer-events: none
}

.wf-btn-default {
    color: #00709e;
    background-color: #fff;
    border-color: #00709e
}

.wf-btn-default:focus,
.wf-btn-default.focus {
    color: #00709e;
    background-color: #e6e6e6;
    border-color: #00161f
}

.wf-btn-default:hover {
    color: #00709e;
    background-color: #e6e6e6;
    border-color: #004561
}

.wf-btn-default:active,
.wf-btn-default.active,
.wf-open>.wf-btn-default.wf-dropdown-toggle {
    color: #00709e;
    background-color: #e6e6e6;
    border-color: #004561
}

.wf-btn-default:active:hover,
.wf-btn-default:active:focus,
.wf-btn-default:active.focus,
.wf-btn-default.active:hover,
.wf-btn-default.active:focus,
.wf-btn-default.active.focus,
.wf-open>.wf-btn-default.wf-dropdown-toggle:hover,
.wf-open>.wf-btn-default.wf-dropdown-toggle:focus,
.wf-open>.wf-btn-default.wf-dropdown-toggle.focus {
    color: #00709e;
    background-color: #d4d4d4;
    border-color: #00161f
}

.wf-btn-default:active,
.wf-btn-default.wf-active,
.wf-open>.wf-btn-default.wf-dropdown-toggle {
    background-image: none
}

.wf-btn-default.wf-disabled,
.wf-btn-default[disabled],
.wf-btn-default[readonly],
fieldset[disabled] .wf-btn-default {
    color: #777;
    background-color: #fff;
    border-color: #e2e2e2;
    cursor: not-allowed
}

.wf-btn-default.wf-disabled:hover,
.wf-btn-default.wf-disabled:focus,
.wf-btn-default.wf-disabled.wf-focus,
.wf-btn-default[disabled]:hover,
.wf-btn-default[disabled]:focus,
.wf-btn-default[disabled].wf-focus,
.wf-btn-default[readonly]:hover,
.wf-btn-default[readonly]:focus,
.wf-btn-default[readonly].wf-focus,
fieldset[disabled] .wf-btn-default:hover,
fieldset[disabled] .wf-btn-default:focus,
fieldset[disabled] .wf-btn-default.wf-focus {
    background-color: #fff;
    border-color: #00709e
}

.wf-btn-default .wf-badge {
    color: #fff;
    background-color: #00709e
}

.wf-btn-primary {
    color: #fff;
    background-color: #00709e;
    border-color: #005e85
}

.wf-btn-primary:focus,
.wf-btn-primary.focus {
    color: #fff;
    background-color: #004c6b;
    border-color: #000405
}

.wf-btn-primary:hover {
    color: #fff;
    background-color: #004c6b;
    border-color: #003347
}

.wf-btn-primary:active,
.wf-btn-primary.active,
.wf-open>.wf-btn-primary.wf-dropdown-toggle {
    color: #fff;
    background-color: #004c6b;
    border-color: #003347
}

.wf-btn-primary:active:hover,
.wf-btn-primary:active:focus,
.wf-btn-primary:active.focus,
.wf-btn-primary.active:hover,
.wf-btn-primary.active:focus,
.wf-btn-primary.active.focus,
.wf-open>.wf-btn-primary.wf-dropdown-toggle:hover,
.wf-open>.wf-btn-primary.wf-dropdown-toggle:focus,
.wf-open>.wf-btn-primary.wf-dropdown-toggle.focus {
    color: #fff;
    background-color: #003347;
    border-color: #000405
}

.wf-btn-primary:active,
.wf-btn-primary.wf-active,
.wf-open>.wf-btn-primary.wf-dropdown-toggle {
    background-image: none
}

.wf-btn-primary.wf-disabled,
.wf-btn-primary[disabled],
.wf-btn-primary[readonly],
fieldset[disabled] .wf-btn-primary {
    color: #fff;
    background-color: #59a2c0;
    border-color: #5996b0;
    cursor: not-allowed
}

.wf-btn-primary.wf-disabled:hover,
.wf-btn-primary.wf-disabled:focus,
.wf-btn-primary.wf-disabled.wf-focus,
.wf-btn-primary[disabled]:hover,
.wf-btn-primary[disabled]:focus,
.wf-btn-primary[disabled].wf-focus,
.wf-btn-primary[readonly]:hover,
.wf-btn-primary[readonly]:focus,
.wf-btn-primary[readonly].wf-focus,
fieldset[disabled] .wf-btn-primary:hover,
fieldset[disabled] .wf-btn-primary:focus,
fieldset[disabled] .wf-btn-primary.wf-focus {
    background-color: #00709e;
    border-color: #005e85
}

.wf-btn-primary .wf-badge {
    color: #00709e;
    background-color: #fff
}

.wf-btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}

.wf-btn-success:focus,
.wf-btn-success.focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625
}

.wf-btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}

.wf-btn-success:active,
.wf-btn-success.active,
.wf-open>.wf-btn-success.wf-dropdown-toggle {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}

.wf-btn-success:active:hover,
.wf-btn-success:active:focus,
.wf-btn-success:active.focus,
.wf-btn-success.active:hover,
.wf-btn-success.active:focus,
.wf-btn-success.active.focus,
.wf-open>.wf-btn-success.wf-dropdown-toggle:hover,
.wf-open>.wf-btn-success.wf-dropdown-toggle:focus,
.wf-open>.wf-btn-success.wf-dropdown-toggle.focus {
    color: #fff;
    background-color: #398439;
    border-color: #255625
}

.wf-btn-success:active,
.wf-btn-success.wf-active,
.wf-open>.wf-btn-success.wf-dropdown-toggle {
    background-image: none
}

.wf-btn-success.wf-disabled,
.wf-btn-success[disabled],
.wf-btn-success[readonly],
fieldset[disabled] .wf-btn-success {
    color: #fff;
    background-color: #95d195;
    border-color: #8bca8b;
    cursor: not-allowed
}

.wf-btn-success.wf-disabled:hover,
.wf-btn-success.wf-disabled:focus,
.wf-btn-success.wf-disabled.wf-focus,
.wf-btn-success[disabled]:hover,
.wf-btn-success[disabled]:focus,
.wf-btn-success[disabled].wf-focus,
.wf-btn-success[readonly]:hover,
.wf-btn-success[readonly]:focus,
.wf-btn-success[readonly].wf-focus,
fieldset[disabled] .wf-btn-success:hover,
fieldset[disabled] .wf-btn-success:focus,
fieldset[disabled] .wf-btn-success.wf-focus {
    background-color: #5cb85c;
    border-color: #4cae4c
}

.wf-btn-success .wf-badge {
    color: #5cb85c;
    background-color: #fff
}

.wf-btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da
}

.wf-btn-info:focus,
.wf-btn-info.focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85
}

.wf-btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc
}

.wf-btn-info:active,
.wf-btn-info.active,
.wf-open>.wf-btn-info.wf-dropdown-toggle {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc
}

.wf-btn-info:active:hover,
.wf-btn-info:active:focus,
.wf-btn-info:active.focus,
.wf-btn-info.active:hover,
.wf-btn-info.active:focus,
.wf-btn-info.active.focus,
.wf-open>.wf-btn-info.wf-dropdown-toggle:hover,
.wf-open>.wf-btn-info.wf-dropdown-toggle:focus,
.wf-open>.wf-btn-info.wf-dropdown-toggle.focus {
    color: #fff;
    background-color: #269abc;
    border-color: #1b6d85
}

.wf-btn-info:active,
.wf-btn-info.wf-active,
.wf-open>.wf-btn-info.wf-dropdown-toggle {
    background-image: none
}

.wf-btn-info.wf-disabled,
.wf-btn-info[disabled],
.wf-btn-info[readonly],
fieldset[disabled] .wf-btn-info {
    color: #fff;
    background-color: #94d6ea;
    border-color: #87d1e7;
    cursor: not-allowed
}

.wf-btn-info.wf-disabled:hover,
.wf-btn-info.wf-disabled:focus,
.wf-btn-info.wf-disabled.wf-focus,
.wf-btn-info[disabled]:hover,
.wf-btn-info[disabled]:focus,
.wf-btn-info[disabled].wf-focus,
.wf-btn-info[readonly]:hover,
.wf-btn-info[readonly]:focus,
.wf-btn-info[readonly].wf-focus,
fieldset[disabled] .wf-btn-info:hover,
fieldset[disabled] .wf-btn-info:focus,
fieldset[disabled] .wf-btn-info.wf-focus {
    background-color: #5bc0de;
    border-color: #46b8da
}

.wf-btn-info .wf-badge {
    color: #5bc0de;
    background-color: #fff
}

.wf-btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}

.wf-btn-warning:focus,
.wf-btn-warning.focus {
    color: #fff;
    background-color: #ec971f;
    border-color: #985f0d
}

.wf-btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512
}

.wf-btn-warning:active,
.wf-btn-warning.active,
.wf-open>.wf-btn-warning.wf-dropdown-toggle {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512
}

.wf-btn-warning:active:hover,
.wf-btn-warning:active:focus,
.wf-btn-warning:active.focus,
.wf-btn-warning.active:hover,
.wf-btn-warning.active:focus,
.wf-btn-warning.active.focus,
.wf-open>.wf-btn-warning.wf-dropdown-toggle:hover,
.wf-open>.wf-btn-warning.wf-dropdown-toggle:focus,
.wf-open>.wf-btn-warning.wf-dropdown-toggle.focus {
    color: #fff;
    background-color: #d58512;
    border-color: #985f0d
}

.wf-btn-warning:active,
.wf-btn-warning.wf-active,
.wf-open>.wf-btn-warning.wf-dropdown-toggle {
    background-image: none
}

.wf-btn-warning.wf-disabled,
.wf-btn-warning[disabled],
.wf-btn-warning[readonly],
fieldset[disabled] .wf-btn-warning {
    color: #fff;
    background-color: #f5ca8c;
    border-color: #f4c37c;
    cursor: not-allowed
}

.wf-btn-warning.wf-disabled:hover,
.wf-btn-warning.wf-disabled:focus,
.wf-btn-warning.wf-disabled.wf-focus,
.wf-btn-warning[disabled]:hover,
.wf-btn-warning[disabled]:focus,
.wf-btn-warning[disabled].wf-focus,
.wf-btn-warning[readonly]:hover,
.wf-btn-warning[readonly]:focus,
.wf-btn-warning[readonly].wf-focus,
fieldset[disabled] .wf-btn-warning:hover,
fieldset[disabled] .wf-btn-warning:focus,
fieldset[disabled] .wf-btn-warning.wf-focus {
    background-color: #f0ad4e;
    border-color: #eea236
}

.wf-btn-warning .wf-badge {
    color: #f0ad4e;
    background-color: #fff
}

.wf-btn-danger {
    color: #fff;
    background-color: #930000;
    border-color: #7a0000
}

.wf-btn-danger:focus,
.wf-btn-danger.focus {
    color: #fff;
    background-color: #600000;
    border-color: #000
}

.wf-btn-danger:hover {
    color: #fff;
    background-color: #600000;
    border-color: #3c0000
}

.wf-btn-danger:active,
.wf-btn-danger.active,
.wf-open>.wf-btn-danger.wf-dropdown-toggle {
    color: #fff;
    background-color: #600000;
    border-color: #3c0000
}

.wf-btn-danger:active:hover,
.wf-btn-danger:active:focus,
.wf-btn-danger:active.focus,
.wf-btn-danger.active:hover,
.wf-btn-danger.active:focus,
.wf-btn-danger.active.focus,
.wf-open>.wf-btn-danger.wf-dropdown-toggle:hover,
.wf-open>.wf-btn-danger.wf-dropdown-toggle:focus,
.wf-open>.wf-btn-danger.wf-dropdown-toggle.focus {
    color: #fff;
    background-color: #3c0000;
    border-color: #000
}

.wf-btn-danger:active,
.wf-btn-danger.wf-active,
.wf-open>.wf-btn-danger.wf-dropdown-toggle {
    background-image: none
}

.wf-btn-danger.wf-disabled,
.wf-btn-danger[disabled],
.wf-btn-danger[readonly],
fieldset[disabled] .wf-btn-danger {
    color: #fff;
    background-color: #b95959;
    border-color: #a95959;
    cursor: not-allowed
}

.wf-btn-danger.wf-disabled:hover,
.wf-btn-danger.wf-disabled:focus,
.wf-btn-danger.wf-disabled.wf-focus,
.wf-btn-danger[disabled]:hover,
.wf-btn-danger[disabled]:focus,
.wf-btn-danger[disabled].wf-focus,
.wf-btn-danger[readonly]:hover,
.wf-btn-danger[readonly]:focus,
.wf-btn-danger[readonly].wf-focus,
fieldset[disabled] .wf-btn-danger:hover,
fieldset[disabled] .wf-btn-danger:focus,
fieldset[disabled] .wf-btn-danger.wf-focus {
    background-color: #930000;
    border-color: #7a0000
}

.wf-btn-danger .wf-badge {
    color: #930000;
    background-color: #fff
}

.wf-btn-callout {
    font-weight: 600;
    text-transform: uppercase
}

.wf-btn-callout-subtle {
    font-weight: 400;
    text-transform: uppercase
}

.wf-btn-link {
    color: #00709e;
    font-weight: normal;
    border-radius: 0
}

.wf-btn-link,
.wf-btn-link:active,
.wf-btn-link.wf-active,
.wf-btn-link[disabled],
fieldset[disabled] .wf-btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.wf-btn-link,
.wf-btn-link:hover,
.wf-btn-link:focus,
.wf-btn-link:active {
    border-color: transparent
}

.wf-btn-link:hover,
.wf-btn-link:focus {
    color: #003a52;
    text-decoration: underline;
    background-color: transparent
}

.wf-btn-link[disabled]:hover,
.wf-btn-link[disabled]:focus,
fieldset[disabled] .wf-btn-link:hover,
fieldset[disabled] .wf-btn-link:focus {
    color: #777;
    text-decoration: none
}

.wf-btn-lg,
.wf-btn-group-lg>.wf-btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 6px
}

.wf-btn-sm,
.wf-btn-group-sm>.wf-btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.wf-btn-xs,
.wf-btn-group-xs>.wf-btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.wf-btn-block {
    display: block;
    width: 100%
}

.wf-btn-block+.wf-btn-block {
    margin-top: 5px
}

input[type="submit"].wf-btn-block,
input[type="reset"].wf-btn-block,
input[type="button"].wf-btn-block {
    width: 100%
}

.wf-btn-group,
.wf-btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle
}

.wf-btn-group>.wf-btn,
.wf-btn-group-vertical>.wf-btn {
    position: relative;
    float: left
}

.wf-btn-group>.wf-btn:hover,
.wf-btn-group>.wf-btn:focus,
.wf-btn-group>.wf-btn:active,
.wf-btn-group>.wf-btn.wf-active,
.wf-btn-group-vertical>.wf-btn:hover,
.wf-btn-group-vertical>.wf-btn:focus,
.wf-btn-group-vertical>.wf-btn:active,
.wf-btn-group-vertical>.wf-btn.wf-active {
    z-index: 2
}

.wf-btn-group .wf-btn+.wf-btn,
.wf-btn-group .wf-btn+.wf-btn-group,
.wf-btn-group .wf-btn-group+.wf-btn,
.wf-btn-group .wf-btn-group+.wf-btn-group {
    margin-left: -1px
}

.wf-btn-toolbar {
    margin-left: -5px
}

.wf-btn-toolbar:before,
.wf-btn-toolbar:after {
    content: " ";
    display: table
}

.wf-btn-toolbar:after {
    clear: both
}

.wf-btn-toolbar .wf-btn,
.wf-btn-toolbar .wf-btn-group,
.wf-btn-toolbar .wf-input-group {
    float: left
}

.wf-btn-toolbar>.wf-btn,
.wf-btn-toolbar>.wf-btn-group,
.wf-btn-toolbar>.wf-input-group {
    margin-left: 5px
}

.wf-btn-group>.wf-btn:not(:first-child):not(:last-child):not(.wf-dropdown-toggle) {
    border-radius: 0
}

.wf-btn-group>.wf-btn:first-child {
    margin-left: 0
}

.wf-btn-group>.wf-btn:first-child:not(:last-child):not(.wf-dropdown-toggle) {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0
}

.wf-btn-group>.wf-btn:last-child:not(:first-child),
.wf-btn-group>.wf-dropdown-toggle:not(:first-child) {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0
}

.wf-btn-group>.wf-btn-group {
    float: left
}

.wf-btn-group>.wf-btn-group:not(:first-child):not(:last-child)>.wf-btn {
    border-radius: 0
}

.wf-btn-group>.wf-btn-group:first-child:not(:last-child)>.wf-btn:last-child,
.wf-btn-group>.wf-btn-group:first-child:not(:last-child)>.wf-dropdown-toggle {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0
}

.wf-btn-group>.wf-btn-group:last-child:not(:first-child)>.wf-btn:first-child {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0
}

.wf-btn-group .wf-dropdown-toggle:active,
.wf-btn-group.wf-open .wf-dropdown-toggle {
    outline: 0
}

.wf-btn-group>.wf-btn+.wf-dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px
}

.wf-btn-group>.wf-btn-lg+.wf-dropdown-toggle,
.wf-btn-group-lg.wf-btn-group>.wf-btn+.wf-dropdown-toggle {
    padding-left: 12px;
    padding-right: 12px
}

.wf-btn-group.open .wf-dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.wf-btn-group.open .wf-dropdown-toggle.wf-btn-link {
    -webkit-box-shadow: none;
    box-shadow: none
}

.wf-btn .wf-caret {
    margin-left: 0
}

.wf-btn-lg .wf-caret,
.wf-btn-group-lg>.wf-btn .wf-caret {
    border-width: 5px 5px 0;
    border-bottom-width: 0
}

.wf-dropup .wf-btn-lg .wf-caret,
.wf-dropup .wf-btn-group-lg>.wf-btn .wf-caret {
    border-width: 0 5px 5px
}

.wf-btn-group-vertical>.wf-btn,
.wf-btn-group-vertical>.wf-btn-group,
.wf-btn-group-vertical>.wf-btn-group>.wf-btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%
}

.wf-btn-group-vertical>.wf-btn-group:before,
.wf-btn-group-vertical>.wf-btn-group:after {
    content: " ";
    display: table
}

.wf-btn-group-vertical>.wf-btn-group:after {
    clear: both
}

.wf-btn-group-vertical>.wf-btn-group>.wf-btn {
    float: none
}

.wf-btn-group-vertical>.wf-btn+.wf-btn,
.wf-btn-group-vertical>.wf-btn+.wf-btn-group,
.wf-btn-group-vertical>.wf-btn-group+.wf-btn,
.wf-btn-group-vertical>.wf-btn-group+.wf-btn-group {
    margin-top: -1px;
    margin-left: 0
}

.wf-btn-group-vertical>.wf-btn:not(:first-child):not(:last-child) {
    border-radius: 0
}

.wf-btn-group-vertical>.wf-btn:first-child:not(:last-child) {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0
}

.wf-btn-group-vertical>.wf-btn:last-child:not(:first-child) {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.wf-btn-group-vertical>.wf-btn-group:not(:first-child):not(:last-child)>.wf-btn {
    border-radius: 0
}

.wf-btn-group-vertical>.wf-btn-group:first-child:not(:last-child)>.wf-btn:last-child,
.wf-btn-group-vertical>.wf-btn-group:first-child:not(:last-child)>.wf-dropdown-toggle {
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0
}

.wf-btn-group-vertical>.wf-btn-group:last-child:not(:first-child)>.wf-btn:first-child {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0
}

.wf-btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate
}

.wf-btn-group-justified>.wf-btn,
.wf-btn-group-justified>.wf-btn-group {
    float: none;
    display: table-cell;
    width: 1%
}

.wf-btn-group-justified>.wf-btn-group .wf-btn {
    width: 100%
}

.wf-btn-group-justified>.wf-btn-group .wf-dropdown-menu {
    left: auto
}

[data-toggle="buttons"]>.wf-btn input[type="radio"],
[data-toggle="buttons"]>.wf-btn input[type="checkbox"],
[data-toggle="buttons"]>.wf-btn-group>.wf-btn input[type="radio"],
[data-toggle="buttons"]>.wf-btn-group>.wf-btn input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none
}

.wf-pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px
}

.wf-pagination>li {
    display: inline
}

.wf-pagination>li>a,
.wf-pagination>li>span {
    position: relative;
    float: left;
    padding: .5rem 1.25rem;
    line-height: 1.42857;
    text-decoration: none;
    color: #00709e;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px
}

.wf-pagination>li:first-child>a,
.wf-pagination>li:first-child>span {
    margin-left: 0;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.wf-pagination>li:last-child>a,
.wf-pagination>li:last-child>span {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.wf-pagination>li>a:hover,
.wf-pagination>li>a:focus,
.wf-pagination>li>span:hover,
.wf-pagination>li>span:focus {
    z-index: 2;
    color: #003a52;
    background-color: #e2e2e2;
    border-color: #ddd
}

.wf-pagination>.wf-active>a,
.wf-pagination>.wf-active>a:hover,
.wf-pagination>.wf-active>a:focus,
.wf-pagination>.wf-active>span,
.wf-pagination>.wf-active>span:hover,
.wf-pagination>.wf-active>span:focus {
    z-index: 3;
    color: #fff;
    background-color: #00709e;
    border-color: #00709e;
    cursor: default
}

.wf-pagination>.wf-disabled>span,
.wf-pagination>.wf-disabled>span:hover,
.wf-pagination>.wf-disabled>span:focus,
.wf-pagination>.wf-disabled>a,
.wf-pagination>.wf-disabled>a:hover,
.wf-pagination>.wf-disabled>a:focus {
    color: #777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed
}

.wf-pagination-lg>li>a,
.wf-pagination-lg>li>span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33333
}

.wf-pagination-lg>li:first-child>a,
.wf-pagination-lg>li:first-child>span {
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.wf-pagination-lg>li:last-child>a,
.wf-pagination-lg>li:last-child>span {
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.wf-pagination-sm>li>a,
.wf-pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5
}

.wf-pagination-sm>li:first-child>a,
.wf-pagination-sm>li:first-child>span {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.wf-pagination-sm>li:last-child>a,
.wf-pagination-sm>li:last-child>span {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px
}

#wf-adminbar-icon {
    float: left;
    width: 20px;
    height: 30px;
    background-image: url(../images/wordfence-logo-16x16.png);
    background-repeat: no-repeat;
    background-position: left center
}

#wpadminbar .wf-notification-counter {
    display: inline;
    background-color: inherit
}

#wpadminbar .wf-notification-counter span.wf-count {
    padding: 1px 7px 1px 6px !important;
    border-radius: 50%;
    color: #fff;
    background-color: #fcb214
}

#wpadminbar .ab-sub-wrapper #wp-admin-bar-wordfence-menu-default .ab-item {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

#wpadminbar .ab-sub-wrapper #wp-admin-bar-wordfence-menu-default .ab-item .wf-adminbar-submenu-title {
    -webkit-flex-grow: 1;
    flex-grow: 1
}

#wpadminbar .ab-sub-wrapper #wp-admin-bar-wordfence-menu-default .ab-item .wf-notification-counter {
    display: block
}

#wpadminbar .ab-sub-wrapper #wp-admin-bar-wordfence-menu-default .ab-item .wf-adminbar-status {
    width: 1.25rem;
    font-size: 1.25rem;
    text-align: center
}

#wpadminbar .ab-sub-wrapper #wp-admin-bar-wordfence-menu-default .ab-item .wf-adminbar-status-neutral {
    color: #9f9fa0
}

#wpadminbar .ab-sub-wrapper #wp-admin-bar-wordfence-menu-default .ab-item .wf-adminbar-status-good {
    color: #16bc9b
}

#wpadminbar .ab-sub-wrapper #wp-admin-bar-wordfence-menu-default .ab-item .wf-adminbar-status-bad {
    color: #ffd10a
}

#adminmenu .update-plugins.wf-menu-badge {
    background-color: #fcb214 !important
}

.wf-hidden {
    display: none !important
}

.wfpopover {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 106000;
    display: none;
    max-width: 276px;
    padding: 1px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-break: auto;
    line-height: 1.42857;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    font-size: 14px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
}

.wfpopover.wf-top {
    margin-top: -10px
}

.wfpopover.wf-right {
    margin-left: 10px
}

.wfpopover.wf-bottom {
    margin-top: 10px
}

.wfpopover.wf-left {
    margin-left: -10px
}

.wfpopover-title {
    margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0
}

.wfpopover-content {
    padding: 9px 14px
}

.wfpopover>.wf-arrow,
.wfpopover>.wf-arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.wfpopover>.wf-arrow {
    border-width: 11px
}

.wfpopover>.wf-arrow:after {
    border-width: 10px;
    content: ""
}

.wfpopover.wf-top>.wf-arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: #999;
    border-top-color: rgba(0, 0, 0, 0.25);
    bottom: -11px
}

.wfpopover.wf-top>.wf-arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: #fff
}

.wfpopover.wf-right>.wf-arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-left-width: 0;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, 0.25)
}

.wfpopover.wf-right>.wf-arrow:after {
    content: " ";
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: #fff
}

.wfpopover.wf-bottom>.wf-arrow {
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    top: -11px
}

.wfpopover.wf-bottom>.wf-arrow:after {
    content: " ";
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: #fff
}

.wfpopover.wf-left>.wf-arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999;
    border-left-color: rgba(0, 0, 0, 0.25)
}

.wfpopover.wf-left>.wf-arrow:after {
    content: " ";
    right: 1px;
    border-right-width: 0;
    border-left-color: #fff;
    bottom: -10px
}