/*
Theme Name: Handwritten
Theme URI: http://premium.wpmudev.org
Author: Cole (Incsub), Maniu (Incsub)
Author URI: http://premium.wpmudev.org
Description: Responsive theme with: max width 650px, max content width 580px, header image support
Version: 1.5
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

body, .body_style, h1, h2, h3, h4, h5, h6, td {
	font-family:Georgia, Arial, Sans-serif;
}
body, .body_style {
	font-size:12px;
	color:#ALTERNATIVE_COLOR;
}
.body_style {
	background-color:#BG_COLOR;
}


.holder {
	padding:2.5%;
}
.width {
	max-width:650px;
}
.content_main {
	border:1px solid #cccccc;
	background:url('images/header.jpg') top right no-repeat #ffffff;
}


.from, .branding_html {
	font-size:16px;
	font-weight: bold;
	padding:15px 14% 20px 5%;
}
.title {
	font-size: 40px;
	line-height: 50px;
	margin:0px;
	padding:20px 14% 0 5%;
	font-weight: bold;
}
.separator_holder {
	padding:15px 5%;
}
.separator {
	border-bottom:1px solid #cccccc;
}
.email_content, .email_content table, .email_content h1, .email_content h2, .email_content h3, .email_content h4, .email_content h5, .email_content h6 {
	color: #BODY_COLOR;
}
.email_content, .contact_info {
	padding:15px 35px 10px;
}
p {
	font-size:12px;
	line-height:22px;
}
.contact_info {
	font-family: monospace;
	padding: 0 5% 35px;
}
.view_link {
	text-align: center;
}
.view_link a {
	line-height: 25px;
}


.content_footer {
	text-align: center;
	text-shadow: -1px -1px 0px #ffffff;
	font-weight: bold;
}
.site-link {
	padding-top:20px;
}


/* 381945-1536242933-au */