.njba-post-tile-post .njba-post-tile-image {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100%;
	position: relative;
	overflow: hidden;
	margin: 0;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	
}
.njba-post-tile-post:hover .njba-post-tile-image {
	-webkit-transform: scale(1.1);
  	-moz-transform: scale(1.1);
  	-o-transform: scale(1.1);
  	-ms-transform: scale(1.1); /* IE 9 */
  	transform: scale(1.1);
}
.njba-post-tile-post .njba-post-tile-image a:last-child:before {
    content: "";
    display: block;
    height: 70%;
    width: 100%;
    position: absolute;
	bottom: 0;
    z-index: 1;
   
}
.njba-post-tile-post .njba-post-tile-image a:last-child:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
	bottom: 0;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
.njba-post-tile-post:hover .njba-post-tile-image a:last-child:before {
	background-color: rgba(0,0,0,.1);
}
.njba-post-tile-post .njba-post-tile-image img {
	display: block;
	height: auto;
	opacity: 1;
	transition: transform 0.3s ease, opacity 0.3s;
    -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s;
	transition-timing-function: ease !important;
}
.njba-post-tile-post:hover .njba-post-tile-image img {
	transform: scale3d(1.1,1.1,1);
    -webkit-transform: scale3d(1.1,1.1,1);
    -moz-transform: scale3d(1.1,1.1,1) rotate(.02deg);
}
.njba-post-tile-post .njba-post-tile-text {
	position: absolute;
	bottom: 0;
    pointer-events: none;
    z-index: 1;
    width: 100%;
}
.njba-post-tile-post .njba-post-tile-info,
.njba-post-tile-meta {
	width: 80%;    margin: 0 0 0 20px;
}
