.ame-image-preview {
	border: 1px dashed #b4b9be;
	text-align: center;
	background: #f1f1f1;
	line-height: 0;

	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	img {
		max-width: 100%;
	}
}

.ame-image-preview-placeholder {
	display: inline-block;
	padding: 10px;
	line-height: normal;
}

.ame-image-selector-actions {
	display: block;
	margin-top: 0.8em;
}

.ame-remove-image-link {
	line-height: 28px; //Must match the height of a secondary button.
	margin-left: 1em;
}