$internalBoxMargin: 12px;
$sidebarWidth: 300px;

.ame-form-box {
	box-sizing: border-box;
	background: white;
	border: 1px solid #E5E5E5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);

	margin-bottom: 20px;
	margin-top: 0.5em;
	padding: 0;
}

.ame-form-box-header {
	padding: 8px $internalBoxMargin;
	border-bottom: 1px solid #eee;

	h2, h3 {
		margin: 0;
		font-size: 14px;
	}
}

.ame-form-box-content {
	margin: $internalBoxMargin;
}

.ame-form-box-field {
	margin: 15px 0;
}

.ame-form-box-field-title {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	padding-right: 10px;

	font-weight: 600;
	font-size: 14px;
}

.ame-form-box-field-content {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ame-form-box-full-width-content {
	width: 100%;
}

.ame-form-box-main-column {
	width: 600px;
	float: left;
	margin-right: 15px;
}

.ame-form-box-sidebar-column {
	width: $sidebarWidth;
	float: left;
}