.woopack-clear:before,
.woopack-clear:after {
	content: " ";
	display: table;
}
.woopack-clear:after {
	clear: both;
}
.woopack-product-category,
.woopack-product-category .product-category-inner,
.woopack-product-category .woopack-product-category__img {
	position: relative;
	top: 0;
}

.woopack-product-category .product-category-inner > .woopack-product-category__link {
	display: block;
	outline: none;
	text-decoration: none !important;
}

/* Style - 1  */
.woopack-product-category .product-category-style-1 .woopack-product-category__img img {
	opacity: 1;
}
.woopack-product-category .product-category-style-1 .woopack-product-category__content {
	position: absolute;
	top: 0%;
}
.woopack-product-category .product-category-style-1 .woopack-product-category__title,
.woopack-product-category .product-category-style-1 .woopack-product-category__description {
	margin-bottom: 0;
}
.woopack-product-category .product-category-style-1 .woopack-product-category__description_wrapper,
.woopack-product-category .product-category-style-1 .woopack-product-category__button_wrapper {
	opacity: 0;
	visibility: hidden;
}

/* Style - 2  */
.woopack-product-category .product-category-style-2 .woopack-product-category__title {
	margin-top: 0px;
}

/* Style - 3 & 4 */
.woopack-product-category .product-category-style-3 .woopack-product-category__content,
.woopack-product-category .product-category-style-4 .woopack-product-category__content {
	position: absolute;
	top: 0%;
}
.woopack-product-category .product-category-style-3 .woopack-product-category__title_wrapper,
.woopack-product-category .product-category-style-4 .woopack-product-category__title_wrapper {
	position: relative;
	left: 0%;
	right: 0%;
	width: 100%;
}
.woopack-product-category .product-category-style-3 .woopack-product-category__title,
.woopack-product-category .product-category-style-4 .woopack-product-category__title {
	margin-top: 0;
	margin-bottom: 10px;
}
.woopack-product-category .product-category-style-3 .woopack-product-category__description_wrapper,
.woopack-product-category .product-category-style-3 .woopack-product-category__button_wrapper,
.woopack-product-category .product-category-style-4 .woopack-product-category__description_wrapper,
.woopack-product-category .product-category-style-4 .woopack-product-category__button_wrapper {
	opacity: 0;
	visibility: hidden;
	width: 100%;
}
.woopack-product-category .product-category-style-3 .woopack-product-category__description,
.woopack-product-category .product-category-style-4 .woopack-product-category__description {
	margin-bottom: 0;
}

/* Style - 5 */
.woopack-product-category .product-category-style-5 .woopack-product-category__button_wrapper {
	display: none;
}
.woopack-product-category .product-category-style-5 .woopack-product-category__content {
	position: absolute;
	top: 0%;
}
.woopack-product-category .product-category-style-5 .woopack-product-category__title {
	margin-top: 0;
	margin-bottom: 10px;
}
.woopack-product-category .product-category-style-5 .woopack-product-category__description {
	margin-top: 0 !important;
	margin-bottom: 0;
}

/* Style - 7 & 8 */
.woopack-product-category .product-category-style-8 .woopack-product-category__content,
.woopack-product-category .product-category-style-7 .woopack-product-category__content {
	position: absolute;
	top: 0;
	text-align: center;
}
.woopack-product-category .product-category-style-8 .woopack-product-category__content:before,
.woopack-product-category .product-category-style-7 .woopack-product-category__content:before {
	top: 5%;
	right: 0;
	bottom: 5%;
	left: 0;
	-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
}
.woopack-product-category .product-category-style-8 .woopack-product-category__content:after,
.woopack-product-category .product-category-style-7 .woopack-product-category__content:after {
	top: 0px;
	right: 5%;
	bottom: 0;
	left: 5%;
	-webkit-transform-origin: 100% 0;
		transform-origin: 100% 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
}
.woopack-product-category .product-category-style-8 .woopack-product-category__content:before,
.woopack-product-category .product-category-style-8 .woopack-product-category__content:after,
.woopack-product-category .product-category-style-7 .woopack-product-category__content:before,
.woopack-product-category .product-category-style-7 .woopack-product-category__content:after {
	content: "";
	position: absolute;
	opacity: 0;
}
.woopack-product-category .product-category-style-8:hover .woopack-product-category__content:before,
.woopack-product-category .product-category-style-8:hover .woopack-product-category__content:after,
.woopack-product-category .product-category-style-7:hover .woopack-product-category__content:before,
.woopack-product-category .product-category-style-7:hover .woopack-product-category__content:after {
	opacity: 1;
	-webkit-transform: scale(1);
		transform: scale(1);
}
.woopack-product-category .product-category-style-8 .woopack-product-category__title_wrapper,
.woopack-product-category .product-category-style-7 .woopack-product-category__title_wrapper {
	display: table-row;
	vertical-align: middle;
}
.woopack-product-category .product-category-style-8 .woopack-product-category__title,
.woopack-product-category .product-category-style-7 .woopack-product-category__title {
	margin: 0px;
}
.woopack-product-category .product-category-style-8 .woopack-product-category__description,
.woopack-product-category .product-category-style-7 .woopack-product-category__description {
	margin: 0;
}
/* .woopack-product-category .product-category-style-8 .woopack-product-category__button_wrapper,
.woopack-product-category .product-category-style-7 .woopack-product-category__button_wrapper {
	display: none;
} */

/*
*********************
*	Hover Effect
*********************
*/

/* Style - 1 */
.woopack-product-category .product-category-style-1:hover .woopack-product-category__title_wrapper,
.woopack-product-category .product-category-style-1:hover .woopack-product-category__description_wrapper,
.woopack-product-category .product-category-style-1:hover .woopack-product-category__button_wrapper {
	opacity: 1;
	visibility: visible;
}
