@import url("//localhost/wpplugins/wp-content/plugins/media-grid/css/frontend.min.css?v=6.05");
@import url("//localhost/wpplugins/wp-content/plugins/media-grid/css/lightbox.min.css?v=6.05");

@import url("//localhost/wpplugins/wp-content/plugins/media-grid/js/jquery.galleria/themes/mediagrid/galleria.mediagrid.css?v=6.05");
@import url("//localhost/wpplugins/wp-content/plugins/media-grid/js/lc-micro-slider/lc-micro-slider.min.css?v1.3");



            #mg_lb_loader .mg_loader {
                transform: 			scale(0.9) translateZ(0);
                -webkit-transform: 	scale(0.9) translateZ(0);
            }
            .mgl_1, .mgl_2, .mgl_3, .mgl_4 {
                background-color: #777;
                width: 11px;
                height: 11px;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 1px;
                
                -webkit-animation: mg_loader 2s infinite ease-in-out;
                animation: mg_loader 2s infinite ease-in-out;
            }
            .mg_loader div {
                background-color: #888888;
            }
            #mg_lb_wrap .mg_loader div {
                background-color: #333333;
            }
            .mgl_2 {
                -webkit-animation-delay: -0.5s;
                animation-delay: -0.5s;
            }
            .mgl_3 {
                -webkit-animation-delay: -1s;
                animation-delay: -1s;
            }
            .mgl_4 {
                -webkit-animation-delay: -1.5s;
                animation-delay: -1.5s;
            }
            @-webkit-keyframes mg_loader {
                25% { -webkit-transform: translate3d(15px, 0, 0) rotate(-90deg) scale(0.3); }
                50% { -webkit-transform: translate3d(15px, 15px, 0) rotate(-180deg); }
                75% { -webkit-transform: translate3d(0, 15px, 0) rotate(-270deg) scale(0.3); }
                100% { -webkit-transform: rotate(-360deg); }
            }
            @keyframes mg_loader {
                25% { transform:  translate3d(15px, 0, 0) rotate(-90deg) scale(0.3); } 
                50% { transform: translate3d(15px, 15px, 0) rotate(-179deg); } 
                75% { transform: translate3d(0, 15px, 0) rotate(-270deg) scale(0.3); } 
                100% { transform: rotate(-360deg); }
            }
            


.mg_box { 
  border-width: 0 5px 5px 0; 
}
.mg_rtl_mode .mg_box {
	left: calc((15px + 5px) * -1) !important;
}
.mg_items_container {
	width: calc(100% + 20px + 5px);
}
.mg_items_container.mg_not_even_w {
	width: calc(100% + 20px + 5px + 1px);	
}



.mgis_w_1_1 {width: calc(100% - 20px);}.mgis_h_1_1 {padding-bottom: calc(100% - 20px - 5px);}.mgis_w_1_2 {width: calc(49.9% - 10px);}.mgis_h_1_2 {padding-bottom: calc(49.9% - 10px - 5px);}.mgis_w_1_3 {width: calc(33.29% - 7px);}.mgis_h_1_3 {padding-bottom: calc(33.29% - 7px - 5px);}.mgis_w_2_3 {width: calc(66.58% - 13px);}.mgis_h_2_3 {padding-bottom: calc(66.58% - 13px - 5px);}.mgis_w_1_4 {width: calc(25% - 5px);}.mgis_h_1_4 {padding-bottom: calc(25% - 5px - 5px);}.mgis_w_3_4 {width: calc(74.99% - 15px);}.mgis_h_3_4 {padding-bottom: calc(74.99% - 15px - 5px);}.mgis_w_1_5 {width: calc(20% - 4px);}.mgis_h_1_5 {padding-bottom: calc(20% - 4px - 5px);}.mgis_w_2_5 {width: calc(39.9% - 8px);}.mgis_h_2_5 {padding-bottom: calc(39.9% - 8px - 5px);}.mgis_w_3_5 {width: calc(59.9% - 12px);}.mgis_h_3_5 {padding-bottom: calc(59.9% - 12px - 5px);}.mgis_w_4_5 {width: calc(79.9% - 16px);}.mgis_h_4_5 {padding-bottom: calc(79.9% - 16px - 5px);}.mgis_w_1_6 {width: calc(16.58% - 3px);}.mgis_h_1_6 {padding-bottom: calc(16.58% - 3px - 5px);}.mgis_w_5_6 {width: calc(83.29% - 17px);}.mgis_h_5_6 {padding-bottom: calc(83.29% - 17px - 5px);}.mgis_w_1_7 {width: calc(14.28% - 3px);}.mgis_h_1_7 {padding-bottom: calc(14.28% - 3px - 5px);}.mgis_w_1_8 {width: calc(12.5% - 3px);}.mgis_h_1_8 {padding-bottom: calc(12.5% - 3px - 5px);}.mgis_w_1_9 {width: calc(11.11% - 2px);}.mgis_h_1_9 {padding-bottom: calc(11.11% - 2px - 5px);}.mgis_w_1_10 {width: calc(10% - 2px);}.mgis_h_1_10 {padding-bottom: calc(10% - 2px - 5px);} 

.mg_mobile_mode .mgis_m_w_1_1 {width: calc(100% - 20px);}.mg_mobile_mode .mgis_m_h_1_1 {padding-bottom: calc(100% - 20px - 5px);}.mg_mobile_mode .mgis_m_w_1_2 {width: calc(49.9% - 10px);}.mg_mobile_mode .mgis_m_h_1_2 {padding-bottom: calc(49.9% - 10px - 5px);}.mg_mobile_mode .mgis_m_w_1_3 {width: calc(33.29% - 7px);}.mg_mobile_mode .mgis_m_h_1_3 {padding-bottom: calc(33.29% - 7px - 5px);}.mg_mobile_mode .mgis_m_w_2_3 {width: calc(66.58% - 13px);}.mg_mobile_mode .mgis_m_h_2_3 {padding-bottom: calc(66.58% - 13px - 5px);}.mg_mobile_mode .mgis_m_w_1_4 {width: calc(25% - 5px);}.mg_mobile_mode .mgis_m_h_1_4 {padding-bottom: calc(25% - 5px - 5px);}.mg_mobile_mode .mgis_m_w_3_4 {width: calc(74.99% - 15px);}.mg_mobile_mode .mgis_m_h_3_4 {padding-bottom: calc(74.99% - 15px - 5px);} 






.mg_box_inner {
	border-style: solid;
    padding: 3px;
	background: #ccc;
    border: 0px solid #444; 
}



.mgi_overlays {
    top: 3px; 
    right: 3px; 
    bottom: 3px; 
    left: 3px;
}
.mgi_primary_ol,
.mg_inl_slider_wrap .lcms_content,
.mg_inl_slider_wrap .lcms_nav span {
	background: #fff;
}
.mg_inl_slider_wrap .lcms_content {
	background: rgba(255,255,255, 0.85); 
    box-shadow: 0 0 0 1px #fff inset;
}
.mg_box:hover .mgi_primary_ol,
.mg_touch_on .mgi_primary_ol {
   
	opacity: 0;
	filter: alpha(opacity=0) !important;
	 
}
.mgi_item_type_ol {
	border-bottom-color: #474747;
}
span.mg_overlay_tit,
.mg_inl_slider_wrap .lcms_content,
.mg_inl_slider_wrap .lcms_nav span:before,
.mg_inl_slider_wrap .lcms_play span:before {
	color: #222;
}
.mg_overlay_tit {
	background: rgba(255,255,255, 0);
    text-shadow: 0px 0 0px #222;
}
.mg_overlay_tit,
.mg_inl_slider_wrap .lcms_content {    	
	    font-size: 15px;
}
.mg_mobile_mode .mg_overlay_tit,
.mg_mobile_mode .mg_inl_slider_wrap .lcms_content {
	font-size: 13px;
}
.mg_overlay_tit:before {
	border-bottom-color: #222;
}


.mgi_item_type_ol span:before {
    color: ;
}



.mg_box_inner, 
.mg_box .mg_media_wrap,
.mgi_overlays,
.mg_inl_txt_media_bg,
.mg_inl_slider_wrap .lcms_content,
.mg_inl_slider_wrap .lcms_nav *,
.mg_inl_slider_wrap .lcms_play {
  border-radius: 2px;
}
.mg_tu_attach .mgi_txt_under {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;	
}






.mgi_txt_under {
    color: #333;	
    padding-top: 	6px !important;
    padding-right: 	10px;
    padding-bottom: 10px;
    padding-left: 	6px;
}
.mg_def_txt_under {  	
	    font-size: 15px;
}
.mg_mobile_mode .mg_def_txt_under {
	font-size: 15px;
}
.mg_tu_attach .mgi_txt_under {
	 background: #ccc;
	 
	  
}
.mg_tu_detach .mgi_txt_under {
	margin-top: 3px;
}



.mg_inl_txt_contents {
    padding: 0 15px 0 15px;
    border-width: 15px 0 15px 0;
}
.mg_grid_wrap:not(.mg_mobile_mode) .mgis_h_auto .mg_inl_txt_media_bg,
.mg_mobile_mode .mgis_m_h_auto .mg_inl_txt_media_bg {
	top: 3px;
    bottom: 3px;
   	left: 3px;
    right: 3px; 
}


.mg_sh_inl_video video {
	background-color: #000;
}




.mg_grid_wrap:not(.mg_mobile_mode) .mg_spacer_hidden_desktop,
.mg_mobile_mode .mg_spacer_hidden_mobile {
    max-width: 0 !important;
    max-height: 0 !important;
    padding: 0 !important;
}




.mg_filters_wrap .mgf,
.mgf_search_form input, .mgf_search_form i:before {	
	color: #444;
    font-size: 14px;
}
.mg_filters_wrap .mgf,
.mgf_search_form input {
	}
.mg_mobile_mode .mg_filters_wrap .mgf,
.mg_mobile_mode .mgf_search_form input, .mg_mobile_mode .mgf_search_form i:before {	
	font-size: 12px;
}

.mg_filters_wrap .mgf:hover,
.mgf_search_form:hover input, .mgf_search_form:hover i:before {		
	color: #666 !important;
}
.mg_filters_wrap .mgf.mgf_selected, .mg_filters_wrap .mgf.mgf_selected:hover,
.mgf_search_form:focus input, .mgf_search_form:focus i:before {		
	color: #222 !important;
}
.mg_textual_filters .mgf_selected {
	text-shadow: 0 0.01em 0 #222;
}
.mg_button_filters .mgf,
.mg_textual_filters .mgf:after {	
	background-color: #fff;
}  
.mg_button_filters .mgf,
.mgf_search_form input {
    border: 2px solid #999999;
    border-radius: 2px;
}

.mg_button_filters .mgf:hover,
.mg_textual_filters .mgf:hover:after,
.mgf_search_form input:hover {	
	background-color: #fff;
}
.mg_button_filters .mgf:hover,
.mgf_search_form input:hover {	   
    border-color: #666;
}

.mg_button_filters .mgf_selected, .mg_button_filters .mgf_selected:hover,
.mg_textual_filters .mgf_selected:after, .mg_textual_filters .mgf_selected:hover:after,
.mgf_search_form input:focus {	
	background-color: #fff;
}
.mg_button_filters .mgf_selected, .mg_button_filters .mgf_selected:hover,
.mgf_search_form input:focus {	   
    border-color: #555;
}

.mg_mobile_mode .mg_dd_mobile_filters .mgf_inner.mgf_dd_expanded .mgf {
	border-bottom-color: rgba(153,153,153, 0.5);	
}

.mg_left_filters:not(.mg_mobile_mode) .mg_above_grid,
.mg_right_filters:not(.mg_mobile_mode) .mg_above_grid {
	width: 160px;
    min-width: 160px;
}
.mg_left_filters:not(.mg_mobile_mode) .mg_items_container {
    border-left-width: 160px;
}
.mg_right_filters:not(.mg_mobile_mode) .mg_items_container {
    border-right-width: 160px;
}
.mg_left_filters:not(.mg_mobile_mode) > .mg_loader {
	-webkit-transform: 	translateX(80px);
	-ms-transform: 		translateX(80px);
	transform: 			translateX(80px);
} 
.mg_right_filters:not(.mg_mobile_mode) > .mg_loader {
	-webkit-transform: 	translateX(-80px);
    -ms-transform: 		translateX(-80px);
    transform: 			translateX(-80px);
}


.mgf_search_form input, 
.mgf_search_form i:before {	
	color: #888;
    background-color: #eee;
    border-color: #eee}
.mgf_search_form:hover input, 
.mgf_search_form input:focus, .mgf_search_form:hover input:focus,
.mgf_search_form:hover i:before {
	color: #666;
    background-color: #eee;
	border-color: #eee}	

.mgf_search_form input::-webkit-input-placeholder {color: #888;}
.mgf_search_form input:-ms-input-placeholder {color: #888;}
.mgf_search_form input::placeholder {color: #888;}


.mgf_search_form:hover input::-webkit-input-placeholder,
.mgf_search_form input:focus::-webkit-input-placeholder,
.mgf_search_form:hover input:focus::-webkit-input-placeholder {
	color: #666;
} 

.mgf_search_form:hover input:-ms-input-placeholder,
.mgf_search_form input:focus::-ms-input-placeholder,
.mgf_search_form:hover input:focus:-ms-input-placeholder {
	color: #666;
}

.mgf_search_form:hover input::placeholder,
.mgf_search_form input:focus::placeholder,
.mgf_search_form:hover input:focus::placeholder {
	color: #666 !important;
}


.mg_mobile_mode .mg_dd_mobile_filters .mgf_inner {
	border: 2px solid #999999;
    border-radius: 2px;
    color: #444;
}


.mg_no_results:before {
	background-color: #fff;
    box-shadow: 0 0 0 1px #999 inset;
    border-radius: 2px;
    color: #444;
}



.mg_pag_wrap {
	text-align: center;
}
.mg_right_filters:not(.mg_mobile_mode) .mg_pag_wrap {
    right: 160px;
}
.mg_left_filters:not(.mg_mobile_mode) .mg_pag_wrap {
	left: 160px;
}
.mg_pag_wrap > * {
	color: #666666;
    background-color: #ffffff;
	border: 1px solid #bbbbbb;
    border-radius: 2px;
}
.mg_pag_wrap > *:not(.mg_pag_disabled):not(.mg_nav_mid):hover,
.mg_sel_pag, .mg_sel_pag:hover {
	color: #eeeeee;
    background-color: #efefef;
	border-color: #aaaaaa;
}
.mg_pag_standard .mg_prev_page:before, .mg_pag_onlynum .mg_prev_page:before,
.mg_pag_standard .mg_next_page:before, .mg_pag_onlynum .mg_next_page:before {
	background: #aaaaaa;
}
#mg_lb_loader {
	border-radius: 18%;
}
#mg_lb_background {
	background:  #fff;  
}
#mg_lb_background.mg_lb_shown,
#mg_lb_background.google_crawler {
	
	opacity: 0.7;
    filter: alpha(opacity=0);}
#mg_lb_contents {
	width: 70%;max-width: 960px;border-radius: 0px;padding: 52px 20px 20px;}
.mg_item_title {
	font-size: 20px;
    }
.mg_item_text {
    font-size: 16px;
    line-height: 24px;
}
.mg_item_text,
ul.mg_cust_options {
	}


/* inner commands */
#mg_lb_ins_cmd_wrap {
	    left: 20px;
    right: 20px;
        
    }
 
	#mg_lb_contents {
		padding-top: 52px;
	}
 


/* texts responsivity */
@media screen and (max-width: 860px) { 
    .mg_item_title {
        font-size: 17px;
    }
    .mg_item_text {
        font-size: 14px;
    }
} 



/* inner lb cmd boxed */


/* lb rounded closing btn */
.mg_layout_full .mg_item_content {
	padding: 14px 2px 2px;	
}
.mg_lb_layout:not(.mg_layout_full) .mg_item_content {
    padding: 2px;
}
@media screen and (max-width: 860px) { 
    .mg_lb_layout:not(.mg_layout_full) .mg_item_content {
		padding: 14px 2px 2px !important;	
	}		
}

/* side text - desktop mode - inside cmd - top padding */
@media screen and (min-width: 860px) { 
    .mg_lb_layout:not(.mg_layout_full) .mg_item_content {
        padding-top: 3px !important;	
    }
}


/* colors - shadow */
#mg_lb_contents,
#mg_lb_loader {
    color: #333;background-color: #fff;box-shadow: 0 2px 5px rgba(15, 15, 15, 0.25);}
#mg_lb_loader {
		box-shadow: 0px 2px 5px rgba(10, 10, 10, 0.5);	
    }
.mg_cust_options,
#mg_lb_comments_wrap {
	border-color: #ccc;
}


/* icons and loader */
.mg_close_lb:before, .mg_nav_prev > i:before, .mg_nav_next > i:before,
.mg_galleria_slider_wrap .galleria-thumb-nav-left:before, .mg_galleria_slider_wrap .galleria-thumb-nav-right:before,
#mg_socials span:before,
#mg_woo_item_added i:before {
	color: #333333;
}
 

/* navigation elements background color and border radius */
.mg_lb_nav_side *,
.mg_lb_nav_side_basic,
.mg_lb_nav_top > i, .mg_lb_nav_top > div, .mg_lb_nav_top > div *,
#mg_top_close {
	background-color: #fff; 
}




#mg_lb_background.mg_lb_shown {
    animation: mg_lb_bg_showup 0.5s forwards ease; 
    -webkit-animation: mg_lb_bg_showup 0.5s forwards ease;	
}

@-webkit-keyframes mg_lb_bg_showup {
    0% 		{-webkit-transform: translateY(60%) scale(0);}
    100% 	{-webkit-transform: translateY(0) scale(1);}
}
@keyframes mg_lb_bg_showup {
    0%		{transform: translateY(60%) scale(0);}
    100% 	{transform: translateY(0) scale(1);}
}



    #mg_lb_contents.mg_lb_pre_show_prev,
    #mg_lb_contents.mg_lb_pre_show_next,
    #mg_lb_contents.mg_lb_switching_prev,
    #mg_lb_contents.mg_lb_switching_next,
    #mg_lb_contents.mg_closing_lb {
        -webkit-transform: 	scale(0.95) translate3d(0,8px,0);
        transform: 			scale(0.95) translate3d(0,8px,0);
        
        -webkit-transition: opacity .25s ease-in, transform .5s ease; 
        transition: 		opacity .25s ease-in, transform .5s ease; 
    }
    #mg_lb_contents.mg_lb_shown {
        -webkit-transition: opacity .25s ease-in, transform .5s ease; 
        transition: 		opacity .25s ease-in, transform .5s ease; 
    }



.mg_item_featured .easyzoom-notice,
.mg_item_featured .easyzoom-flyout {
	background: #fff;
    color: #333; 
}


.mg_galleria_slider_wrap .galleria-counter {display: none !important;}