/* LIGHTBOX */

#mg_lb_wrap * {
	-moz-box-sizing: content-box;
	box-sizing: content-box;	
}



#mg_lb_loader,
#mg_lb_contents {
	opacity: 0;
	-webkit-font-smoothing: antialiased;
}
#mg_lb_loader {
	height: 74px;
	width: 74px;
	border-radius: 6px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -37px;
	margin-left: -37px;
	z-index: 99985;
	
	-webkit-transform: 	scale(0.75) translate3d(0,7px,0);
	transform: 			scale(0.75) translate3d(0,7px,0);
	
	-webkit-transition: opacity .25s ease-in, transform .5s cubic-bezier(0.680, 0, 0.265, 1); 
	transition: 		opacity .25s ease-in, transform .5s cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}
#mg_lb_loader.mg_lb_shown, /* lightbox loader and lightbox - default state */
#mg_lb_contents.mg_lb_shown {
	opacity: 1;
	
	-webkit-transform: 	scale(1) translate3d(0,0,0);
	transform: 			scale(1) translate3d(0,0,0);
}
#mg_lb_scroll_helper {
	background: transparent;
	position: absolute; 
	z-index: 99989; 
	height: 100%;
    left: 0;
    top: 0;
	bottom: 0;
    width: 100%;
}
#mg_lb_wrap {
	width: 100%;
	display: none;
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	background: transparent;
	z-index: 999990;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: center;
	padding: 0 10px;
	
	-moz-box-sizing: border-box;
     box-sizing: border-box; 
}
#mg_lb_wrap > * {
	text-align: left;	
}
#mg_lb_wrap:before {
	content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;	
}
#mg_lb_background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	z-index: 999975;
	opacity: 0;
	
	-webkit-transition: opacity .3s ease, height 0s linear .2s; 
	-ms-transition: 	opacity .3s ease, height 0s linear .2s; 
	transition: 		opacity .3s ease, height 0s linear .2s;  
}
#mg_lb_background.mg_lb_shown {
	height: 100%;
	-webkit-transition: opacity .4s ease .05s, height 0s linear 0s; 
	-ms-transition: 	opacity .4s ease .05s, height 0s linear 0s; 
	transition: 		opacity .4s ease .05s, height 0s linear 0s; 
}
#mg_lb_contents {
	min-width: 280px;
	height: auto;
	min-height: 30px;
	margin: 60px 0;
	overflow: visible;
	z-index: 999990;
	position: relative;
	top: 0;
	padding: 52px 22px 22px;
	
	display: inline-block;
	vertical-align: middle;
	
	-moz-box-sizing: border-box;
     box-sizing: border-box; 
}
.mg_item_featured {
	min-height: 100px;
	position: relative;
	overflow: hidden;
}
.mg_lb_img_auto_w > div > img {
	width: auto !important;
	display: block;
    margin: auto;	
}
#mg_lb_feat_img_wrap {
	overflow: visible;
	position: relative;
	background: no-repeat center center transparent;
	background-size: cover;
	
	opacity: 0;
}
.mg_lb_img_fill {
	max-width: none !important;
	width: auto !important;
	position: relative;
	left: 50%;
	transform: translateX(-50%);	
}


/* WP video/audio player */
.mg_me_player_wrap * {
	outline: none !important;	
}
.mg_me_player_wrap .mejs-container,
.mg_me_player_wrap .mejs-mediaelement video {
	min-width: 100%;	
	max-width: 100%;
}
.mg_me_player_wrap .mejs-controls,
.mg_me_player_wrap .mejs-volume-slider {
	background: #313131 !important;		
}
.mg_me_player_wrap .mejs-poster {
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	max-width: 100%;
	min-width: 100%;
}
.mg_me_player_wrap .mejs-time-slider {
	margin: 6px 15px 5px !important;	
}
.mg_me_player_wrap .mejs-time-total,
.mg_me_player_wrap .mejs-time-total > span:not(.mejs-time-handle):not(.mejs-time-float) {
	height: 8px !important;
	border-radius: 0 !important;
}
.mg_me_player_wrap .mejs-time-handle {
	min-height: 12px;
	min-width: 12px;
	top: -2px !important;
	border-radius: 50% !important;
	display: inline-block !important;	
	border: none !important;
	background-color: #fefefe !important;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.mg_me_player_wrap .mejs-time-handle:before {
	content: "";
	display: block;
	width: 4px;
	height: 4px;
	background: #999;
	border-radius: 50%;
	position: relative;
	top: 4px;
	left: 4px;	
}
.mg_me_player_wrap .mejs-time-float {
	line-height: 13px !important;
	border-radius: 2px !important;
	border: none !important;	
}
.mg_me_player_wrap .mejs-time-slider {
	background: #4e4e4e !important;	
}
.mg_me_player_wrap .mejs-time-loaded {
	background: #545454 !important;
}
.mg_me_player_wrap .mejs-time-current {
	background: #b2b2b2 !important;
}
.mg_me_player_wrap .mejs-overlay {
	min-width: 100%;
}

.mg_me_player_wrap .mejs-volume-slider {
	left: 1px !important; 	
}
.mg_me_player_wrap .mejs-controls .mejs-volume-slider {
	height: 65px !important;
	top: -65px !important;	
}
.mg_me_player_wrap .mejs-controls .mejs-volume-slider .mejs-volume-total {
	height: 50px !important;	
}
.mg_me_player_wrap .mejs-controls .mejs-volume-slider .mejs-volume-current {
	max-height: 50px;	
}
.mg_me_player_wrap .mejs-controls .mejs-volume-slider .mejs-volume-handle {
	top: 6px;	

}


.mg_me_player_wrap .mejs-button button {
	background: none !important;	
}
.mg_me_player_wrap .mejs-button button:before {	
	font-family: "fontawesome";	
	font-size: 13px;
	position: relative;
	top: 2px;
	color: #fefefe;
}
.mg_me_player_wrap .mejs-mg-prev button:before {content: "\f04a";}
.mg_me_player_wrap .mejs-play button:before {content: "\f04b";}
.mg_me_player_wrap .mejs-pause button:before {content: "\f04c";}
.mg_me_player_wrap .mejs-mg-next button:before {content: "\f04e";}
.mg_me_player_wrap .mejs-mute button:before {content: "\f028"; font-size: 14px;}
.mg_me_player_wrap .mejs-unmute button:before {content: "\f026"; font-size: 14px;}
.mg_me_player_wrap .mejs-fullscreen-button button:before {content: "\f065";}
.mg_me_player_wrap .mejs-fullscreen-button.mejs-unfullscreen button:before {content: "\f066" !important;}
.mg_me_player_wrap .mejs-mg-loop-button button:before {content: "\f01e";} .mg_me_player_wrap .mejs-mg-loop-off button:before {color: #999 !important;}
.mg_me_player_wrap .mejs-mg-tracklist-button button:before {content: "\f00b"; font-size: 14px;} .mg_me_player_wrap .mejs-mg-tracklist-off button:before {color: #999 !important;}

.mg_me_player_wrap .mejs-mg-prev button {
	margin-right: 0;	
}
.mg_me_player_wrap .mejs-mg-next button {
	margin-left: 0;	
}
.mg_me_player_wrap audio,
.mg_me_player_wrap video {
	min-width: 100%;	
}
.mg_me_player_wrap .mejs-container-fullscreen .mejs-container, 
.mg_me_player_wrap .mejs-container-fullscreen video {
	min-width: 100%;
	min-height: 100%;	
	background: #000;
}
		

.mg_me_player_wrap .mejs-offscreen,
.mg_me_player_wrap .mejs-overlay-loading,
.mg_me_player_wrap.mg_self-hosted-video > video,
.mg_me_player_wrap.mg_self-hosted-video > img {
	display: none !important;	
}


/* audio tracklist */
.mg_lb_audio .mg_item_featured {
	padding-bottom: 30px;	
}
.mg_lb_audio .mg_media_wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	vertical-align: bottom;
}
.mg_lb_audio_player {
	position: relative;
	z-index: 10;
	top: calc(100% - 30px);
}
.mg_lb_audio .mg_audio_tracklist {
	position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    max-height: calc(100% - 30px);
    z-index: 8;
    overflow: auto;
	
	-webkit-transition: bottom .55s ease; 
	-ms-transition: 	bottom .55s ease; 
	transition: 		bottom .55s ease;	
}
.mg_lb_audio .mg_audio_tracklist.mg_iat_shown {
	bottom: 30px;	
}

.mg_audio_tracklist,
.mg_audio_tracklist * {
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;	
}
.mg_audio_tracklist {
	text-align: left;
	margin: 0 !important;
	padding: 0 !important;
	list-style: none !important;
	background: #373737;
	color: #ddd;
	font-size: 15px;
}
.mg_audio_tracklist li {
	cursor: pointer;	
	padding: 5px 10px 6px 42px;
	font-size: 13px;
	line-height: normal;
	border-top: 1px solid #515151;
	position: relative;

	-webkit-transition: background-color .2s ease, color .2s ease; 
	-ms-transition: 	background-color .2s ease, color .2s ease;
	transition: 		background-color .2s ease, color .2s ease;
}
.mg_audio_tracklist li:before {
	content: attr(rel);
	position: absolute;
	top: -1px;
	left: 0;
	bottom: 0;
	width: 17px;
	line-height: 28px;
	padding: 0 7px; 
	font-size: 15px;
	text-align: center;
	z-index: 10;
	background: #535353;
	border-top: 1px solid #373737;
}
.mg_audio_tracklist li:first-child:before {
	border: none;
}
.mg_audio_tracklist li:hover {
	background-color: #3c3c3c;
	color: #fefefe;
}
.mg_audio_tracklist li.mg_current_track {
	background-color: #434343 !important;	
	color: #fff !important;
}

/* soundcloud embed */
.mg_item_featured .mg_soundcloud_embed {
	width: 100%;
	height: 166px;
	margin-top: 7px;	
}
.mg_inl_audio .mg_soundcloud_embed {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.mg_inl_audio.mg_item_no_ol .mg_soundcloud_embed {
	z-index: 10;
}


/* custom attributes */
.mg_cust_options {
	list-style: none;
	margin: 0 0 10px;
	padding: 5px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}	
.mg_cust_options li {
	padding: 2px 0;	
	margin-left: 5px;
	font-size: 98%;
	overflow: hidden;
    
	overflow-wrap: break-word;
	word-wrap: break-word;
	
	-webkit-hyphens: 	auto;
	-ms-hyphens: 		auto;
	-moz-hyphens: 		auto;
	hyphens: 			auto;
}
.mg_cust_options .mg_cust_opt_icon {
	font-size: 14px;
    width: 19px;	
}
.mg_cust_options span {
	font-weight: bold;
	padding-right: 3px;	
}
.mg_cust_options span:after {
	content: ":";
}
.mg_cust_options .mg_wc_rating span {
	padding-right: 8px;	
}
.mg_cust_options .mg_wc_rating i {
	padding-right: 3px;	
}
.mg_cust_options li i {
	opacity: 0.9;
}

.mg_item_title {
	font-size: 20px;
	font-weight: bold;	
	margin: 0 0 10px 0;
	line-height: normal;
	padding: 0;
}
.mg_item_text {
	-webkit-hyphens: auto;  
    -moz-hyphens: auto;  
    hyphens: auto;  
	overflow: hidden;
	line-height: normal;
}
.mg_item_text img {
	max-width: 100%;
	width: auto;
}
.mg_item_text > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}



/* woocommerce price and cart button */
#mg_woo_cart_btn_wrap {
	border: none;
	padding: 0;
	margin: 0;	
	display: inline-block;
	width: auto;
}
.mg_wc_atc_wrap {
	margin: 5px 0 20px;	
}
.mg_wc_atc_wrap .amount {
	padding-right: 13px;
    font-size: 1.3em;
    font-weight: 600;
    line-height: normal;
	position: relative;
	text-align: center;
	line-height: normal;
	top: 2px;
}
.mg_wc_atc_wrap del {
	opacity: 0.6;	
}
.mg_wc_atc_wrap ins {
	background: none !important;	
}

.mg_layout_full .mg_wc_atc_wrap br {
	display: none;	
}
@media screen and (max-width:860px) { 
	.mg_layout_full .mg_wc_atc_wrap br {
		display: initial;	
	}	
}

#mg_woo_cart_btn_wrap [name=mg_wc_atc_variations_dd] {
	min-width: 166px;
	width: 100%;
	padding: 5px;
	margin: 5px 0 13px;
	max-width: 100%;
	font-size: 1em;
	line-height: normal;	
	box-sizing: border-box;
}
.mg_wc_atc_wrap [name=mg_wc_atc_quantity] {
	width: 35px;
	height: auto;
	margin-right: 13px;	
	margin-top: 9px;	
	padding: 5px 5px 5px 7px;
	border: 2px solid #ccc;
	border-radius: 2px;
	font-size: 1em;
	line-height: normal;
}
#mg_woo_cart_btn_wrap [name=mg_wc_atc_variations_dd],
.mg_wc_atc_wrap [name=mg_wc_atc_quantity] {
	border: 2px solid #ccc;
	border-radius: 2px;
	
	-webkit-transition: border-color .2s ease; 
	-ms-transition: 	border-color .2s ease; 
	transition: 		border-color .2s ease;
}


.mg_wc_atc_btn {
	font-size: 1.12em;
	line-height: normal;
	padding: 7px 13px;
	position: relative;
	bottom: -1px;
	border-radius: 3px;
	background: #ccc;
	color: #3a3a3a;
	text-decoration: none;	
	
	-webkit-transition: all .2s ease; 
	-ms-transition: 	all .2s ease; 
	transition: 		all .2s ease;
}
.mg_wc_atc_btn:hover {
	color: #555;
	background: #e3e3e3;
	text-decoration: none;		
}
.mg_wc_atc_btn:hover,
.mg_wc_atc_btn.mg_wc_atc_btn_disabled,
.mg_wc_atc_btn.mg_wc_atc_btn_acting {
	background-color: #e3e3e3;
	color: #555;
}
.mg_wc_atc_btn.mg_wc_atc_btn_disabled,
.mg_wc_atc_btn.mg_wc_atc_btn_acting {	
	cursor: not-allowed;
}
.mg_wc_atc_btn.mg_wc_atc_btn_acting {
	cursor: progress;	
}
.mg_wc_atc_btn i {
	padding-right: 6px;	
}

.mg_wc_atc_descr {
	margin-top: 12px;	
}
.mg_wc_atc_descr > p:last-of-type {
	margin-bottom: 0;
}

p.mg_wc_atc_response {
	margin: -8px 0 20px;
	padding: 8px 13px 8px 10px;
	font-size: 1.03em;	
	border-radius: 2px;
	line-height: normal;
	color: #fdfdfd;
}
.mg_layout_full p.mg_wc_atc_response {
	display: inline-block;
}
p.mg_wc_atc_response i {
	padding-right: 10px;	
}
p.mg_wc_atc_response a,
p.mg_wc_atc_response a:hover
p.mg_wc_atc_response a:visited {
	color: #fdfdfd;	
	text-decoration: none;
	opacity: 0.8;
	
	-webkit-transition: opacity .2s ease; 
	-ms-transition: 	opacity .2s ease; 
	transition: 		opacity .2s ease; 
}
p.mg_wc_atc_response a:hover {
	opacity: 1;	
}
.mg_wc_atc_success {
	background-color: #4d9629;	
}
.mg_wc_atc_error {
	background-color: #cc3333;
}



/* google crawler and preview - show lightbox */
#mg_lb_wrap.google_crawler #mg_lb_contents {
	opacity: 1;
}
#mg_lb_background.google_crawler {
	height: 100%;	
}


/* comments wrapper */
#mg_lb_comments_wrap {
	border-top: 1px solid #ccc;
	margin-top: 20px;
}
.mg_lb_disqus_cw {
	padding-top: 11px;	
}
.mg_lb_disqus_cw.mg_lbcw_has_socials {
	padding-bottom: 5px;
}
.mg_lb_fb_cw {
    padding-top: 10px;	
}
.mg_lb_fb_cw.mg_lbcw_has_socials {
	border-bottom: 1px solid #ccc;
	margin-bottom: 6px;
	padding-bottom: 3px;
}



/*** LIGHTBOX TEXTS SHOWINGS ***/
.mg_lb_txt_fx.mg_item_content > * {
	opacity: 0;
	-webkit-font-smoothing: antialiased;
	
	-webkit-transform: translate3d(0,5px,0);
	transform: translate3d(0,5px,0);	

	-webkit-animation: 	mg_lb_side_text .4s ease-out .45s forwards;
	animation:			mg_lb_side_text .4s ease-out .45s forwards;		
}
.mg_lb_txt_fx .mg_item_title {
	-webkit-transform: translate3d(6px,0,0);
	transform: translate3d(6px,0,0);	
}
.mg_cust_options {
	-webkit-animation-delay: .65s !important;	
	animation-delay: .65s !important;	
}
.mg_item_text {
	-webkit-animation-delay: .8s !important;	
	animation-delay: .8s !important;	
}
#mg_lb_comments_wrap {
	-webkit-animation-delay: 1s !important;	
	animation-delay: 1s !important;		
}
#mg_socials {
	-webkit-animation-delay: 1.2s !important;	
	animation-delay: 1.2s !important;	
}
@-webkit-keyframes mg_lb_side_text {
    100% {
        opacity: 1;
		-webkit-transform: translate3d(0,0,0);
    }
}
@keyframes mg_lb_side_text {
    100% {
        opacity: 1;
		transform: translate3d(0,0,0);
    }
}


/*** LIGHTBOX COMMANDS STYLES ***/ 
.mg_close_lb:before, 
.mg_nav_prev > i:before,
.mg_nav_next > i:before {
	position: relative;
	color: #888;
	display: inline-block;

	-webkit-transition: all .2s ease-in-out; 
	-ms-transition: 	all .2s ease-in-out; 
	transition: 		all .2s ease-in-out; 
	
	font-family: 'lcweb-media';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.mg_close_lb:before {content: "\e616";}
.mg_nav_prev > i:before {content: "\e617";}
.mg_nav_next > i:before {content: "\e618";}

.mg_nav_prev > i:before,
.mg_nav_next > i:before {
	opacity: 0.3;
}
.mg_close_lb, 
.mg_nav_prev.mg_nav_active > i,
.mg_nav_next.mg_nav_active > i {
	cursor: pointer;
	display: inline-block;
}
.mg_close_lb:before, 
.mg_nav_prev.mg_nav_active > i:before,
.mg_nav_next.mg_nav_active > i:before {
	opacity: 0.8;
}
.mg_close_lb:hover:before, 
.mg_nav_prev.mg_nav_active:hover > i:before,
.mg_nav_next.mg_nav_active:hover > i:before {
	opacity: 1;
}

/* inside */
#mg_lb_ins_cmd_wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 52px;
}
#mg_lb_inside_nav,
#mg_inside_close {
	top: 50%;
	margin-top: -14px;	
}
#mg_lb_inside_nav > div {
    overflow: hidden;
}
@media screen and (max-width:500px) { /* hide texts under 500px */
	#mg_lb_inside_nav > div > div {
		display: none !important;
	}
}
#mg_inside_close {
	cursor: pointer;
	display: block; 
    height: 28px;
    width: 28px;
	position: absolute;
	right: 0px;	
	z-index: 999;
	
	-webkit-transition: all .2s ease; 
	-ms-transition: 	all .2s ease; 
	transition: 		all .2s ease; 
}
#mg_inside_close:hover {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);	
}
#mg_inside_close:before {
	font-size: 22px;
	top: 3px;
    left: 3px;
	display: block;
}
#mg_lb_inside_nav {
    position: absolute;
	height: 28px;
	left: 0;
	right: 40px;
	z-index: 989;
}
#mg_lb_inside_nav > * > i {
	width: 28px;
	height: 28px;
	display: inline-block;
	text-align: center;
}
#mg_lb_inside_nav > * > i:before {
	font-size: 18px;
	top: 4px;
	left: 0;
	text-align: center;
}
.mg_inside_nav_prev {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.mg_inside_nav_next {
	position: absolute;
	top: 0px;
	left: 35px;
	right: 0;
	z-index: 2;
}
#mg_lb_inside_nav > * > div {
	display: inline-block;
	position: absolute;
	top: 1px;
	cursor: pointer;
	width: auto; 
	font-size: 15px;
    line-height: 26px;
	right: 20px;
	
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	
	opacity: 0;
	transform:			translateX(20px);
	-ms-transform: 		translateX(20px);
	-webkit-transform: 	translateX(20px);
	
	-webkit-transition: all .2s ease-in; 
	-ms-transition: 	all .2s ease-in; 
	transition: 		all .2s ease-in; 
}
#mg_lb_inside_nav > .mg_inside_nav_prev > div {
	left: 85px;
}
#mg_lb_inside_nav > .mg_inside_nav_next > div {
	left: 50px;
}
#mg_lb_inside_nav > *:hover > div {
	opacity: 1;
	
	transform:			translateX(0);
	-ms-transform: 		translateX(0);
	-webkit-transform: 	translateX(0);
}

/* top */
#mg_top_close {
	cursor: pointer;
	display: block; 
    height: 50px;
    width: 50px;
	position: fixed;
    top: 0px;
	right: 0px;	
	z-index: 99997;
	text-align: center;
}
#mg_top_close:before {
	font-size: 24px;
	top: 11px;
}
#mg_lb_top_nav {
	display: block; 
    position: fixed;
    top: 0px;
	left: 0px;
	z-index: 99996;
}
#mg_lb_top_nav > * > i {
	width: 38px;
	height: 50px;
	display: inline-block;
	text-align: center;
	
	-webkit-transition: border-radius .2s linear; 
	-ms-transition: 	border-radius .2s linear; 
	transition: 		border-radius .2s linear; 
}
#mg_lb_top_nav > * > i:before {
	font-size: 19px;
	top: 14px;
}
#mg_lb_top_nav:hover i {
	border-radius: 0 !important;	
}
.mg_top_nav_prev {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.mg_top_nav_next {
	position: absolute;
	top: 0;
	left: 38px;
	z-index: 2;
}
#mg_lb_top_nav > * > div {
	display: inline-block;
	position: absolute;
	top: 0px;
	cursor: pointer;
	width: 300px;
	padding: 13px 20px 13px; 
	
	transform:			translateY(-100%);
	-ms-transform: 		translateY(-100%);
	-webkit-transform: 	translateY(-100%);
	
	-webkit-transition: transform .3s ease-out; 
	-ms-transition: 	transform .3s ease-out; 
	transition: 		transform .3s ease-out; 
}
#mg_lb_top_nav > .mg_top_nav_prev > div {
	left: 80px;
}
#mg_lb_top_nav > .mg_top_nav_next > div {
	left: 42px;
}
#mg_lb_top_nav > *:hover > div {
	transform:			translateY(0);
	-ms-transform: 		translateY(0);
	-webkit-transform: 	translateY(0);
}

#mg_lb_top_nav > * > div img {
	display: inline-block;
	position: absolute;
	left: 100%;
	top: -100%;
	max-height: 100%;
	cursor: pointer;

	-webkit-transition: all .3s ease-out .1s; 
	-ms-transition: 	all .3s ease-out .1s; 
	transition: 		all .3s ease-out .1s;  
}
#mg_lb_top_nav > *:hover > div img {
	top: 0;
}

/* side */
.mg_side_nav {
    position: fixed;
	height: 68px;
	width: 50px;
    margin-top: -34px;
	top: 50%;
	z-index: 99996;


	-webkit-transition: all .3s ease-out .35s; 
	-ms-transition: 	all .3s ease-out .35s; 
	transition: 		all .3s ease-out .35s;  
}
.mg_side_nav:hover {
	width: 340px;

	-webkit-transition-delay: .0s;
	-ms-transition-delay: .0s;
	transition-delay: .0s;		
}
.mg_side_nav > * {
	position: absolute;
	top: 0;	
}
.mg_nav_active.mg_side_nav > div,
.mg_nav_active.mg_side_nav > img,
.mg_nav_active.mg_side_nav > span {
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;	
}
.mg_side_nav > i {
	width: 40px;
	height: 100%;
	display: inline-block;
	text-align: center;
	position: absolute;
	z-index: 4;
	background: none !important;
}
.mg_side_nav > i:before {
	font-size: 19px;
	top: 26px;
}
.mg_side_nav > span {
	width: 42px;
	height: 100%;
	display: inline-block;
	position: absolute;
	z-index: 1;
	box-sizing: border-box !important;
	
	-webkit-transition: all .3s ease-in-out 0.3s; 
	-ms-transition: 	all .3s ease-in-out 0.3s;
	transition: 		all .3s ease-in-out 0.3s;
}
.mg_side_nav_prev.mg_nav_active:hover span {
	border-top-right-radius: 0 !important;	
}
.mg_side_nav_next.mg_nav_active:hover span {
	border-top-left-radius: 0 !important;	
}
.mg_side_nav_prev, .mg_side_nav_prev > i, .mg_side_nav_prev > span {left: 0;}
.mg_side_nav_prev.mg_nav_active:hover > span {width: 340px;}
.mg_side_nav_next, .mg_side_nav_next > i, .mg_side_nav_next > span {right: 0;}
.mg_side_nav_next.mg_nav_active:hover > span {width: 340px;}
.mg_side_nav > div {
	z-index: 3;
	background: none !important;
}
.mg_side_nav > img {z-index: 2;}

.mg_side_nav.mg_nav_active:hover > div,
.mg_side_nav.mg_nav_active:hover > img {
	-webkit-transition-delay: .3s;
	transition-delay: .3s;	
	cursor: pointer;
}
.mg_side_nav.mg_nav_active:hover > span {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.mg_side_nav_prev > div {
	padding: 13px 15px 13px 50px; 
	left: -300px;
	
	-webkit-transform: 	translate3d(-10px, -50%, 0);
	-ms-transform: 		translate(-10px, -50%);
	transform: 			translate3d(-10px, -50%, 0);
}
.mg_side_nav_next > div {
	padding: 13px 50px 13px 15px;
	text-align: right;
	left: 300px;
	
	-webkit-transform: 	translate3d(10px, -50%, 0);
	-ms-transform: 		translate(10px, -50%);
	transform: 			translate3d(10px, -50%, 0);
}
.mg_side_nav_prev > img {
	left: 0;
	padding: 0;
}
.mg_side_nav_next > img {
	right: 0;
	padding: 0;
}
.mg_side_nav > div {
	position: relative;
	width: 335px;
	top: 50%;
	opacity: 0;

	-webkit-transition: transform .2s ease-in-out .2s, opacity .2s linear .2s, left 0s ease-in-out .3s; 
	-ms-transition: 	transform .2s ease-in-out .2s, opacity .2s linear .2s, left 0s ease-in-out .3s; 
	transition: 		transform .2s ease-in-out .2s, opacity .2s linear .2s, left 0s ease-in-out .3s; 
}
.mg_side_nav.mg_nav_active:hover > div {
	opacity: 1;

	-webkit-transform: 	translate3d(0, -50%, 0);
	-ms-transform: 		translate(0, -50%);
	transform: 			translate3d(0, -50%, 0);
	
	-webkit-transition: transform .2s ease-in-out .2s, opacity .2s linear .2s, left 0s ease-in-out .0s; 
	-ms-transition: 	transform .2s ease-in-out .2s, opacity .2s linear .2s, left 0s ease-in-out .0s; 
	transition: 		transform .2s ease-in-out .2s, opacity .2s linear .2s, left 0s ease-in-out .0s; 
}
.mg_side_nav_prev.mg_nav_active:hover > div {
	left: 0;	
}
.mg_side_nav_next.mg_nav_active:hover > div {
	left: 5px;	
}
.mg_side_nav > img {	
	position: absolute;
	width: 340px;
	margin-top: -120px;
	
	-webkit-transform: 	rotateX(-90deg) perspective(1000px);
	-ms-transform: 		rotateX(-90deg) perspective(1000px);
	transform: 			rotateX(-90deg) perspective(1000px);
	
	-webkit-transform-origin: 	0 100%;
	-ms-transform-origin: 		0 100%;
	transform-origin: 			0 100%;
	
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	
	-webkit-transition: all .2s linear; 
	-ms-transition: 	all .2s linear; 
	transition: 		all .2s linear; 
}
.mg_side_nav.mg_nav_active:hover > img {
	-webkit-transform: 	rotateX(0deg);
	-ms-transform: 		rotateX(0deg);
	transform: 			rotateX(0deg);
}


/* side - simple */
.mg_lb_nav_side_basic {
    position: fixed;
	height: 68px;
	width: 44px;
    margin-top: -34px;
	top: 50%;
	z-index: 99996;


	-webkit-transition: all .3s ease-out; 
	-ms-transition: 	all .3s ease-out; 
	transition: 		all .3s ease-out;  
}
.mg_lb_nav_side_basic > i {
	display: inline-block;
	text-align: center;
	position: absolute;
	z-index: 4;
	background: none !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.mg_lb_nav_side_basic > i:before {
	display: inline-block;
    font-size: 19px;
    line-height: normal;
    top: 50%;
	
	-webkit-transform: 	translateY(-50%);
	-ms-transform: 		translateY(-50%);
    transform: 			translateY(-50%);
	
	-webkit-transition: all .4s ease; 
	-ms-transition: 	all .4s ease; 
	transition: 		all .4s ease;
}

.mg_lb_nav_side_basic.mg_nav_active:hover > i:before {
	-webkit-transform: 	translateY(-50%) rotateX(180deg);
	-ms-transform: 		translateY(-50%) rotateX(180deg);
    transform: 			translateY(-50%) rotateX(180deg);
}
.mg_side_basic_nav_prev {
	margin-left: 15px;		
}
.mg_side_basic_nav_prev, .mg_side_basic_nav_prev * {
	left: 0;
}
.mg_side_basic_nav_next {
	margin-right: 15px;	
}
.mg_side_basic_nav_next, .mg_side_basic_nav_next * {
	right: 0;
}
.mg_lb_nav_side_basic {
	width: 44px;
	height: 100%;
	display: inline-block;
	position: absolute;
	box-sizing: border-box !important;
	
	-webkit-transition: all .3s ease-in-out 0.3s; 
	-ms-transition: 	all .3s ease-in-out 0.3s;
	transition: 		all .3s ease-in-out 0.3s;
}



/* featured + text area and socials */
#mg_lb_contents .mg_item_content {
	-moz-box-sizing: border-box;
	box-sizing: border-box;		
}
#mg_lb_contents .mg_item_featured,
#mg_lb_contents .mg_item_content > div,
#mg_lb_contents .mg_item_content > ul { 
    transition: 		all .6s ease-in-out; 
    -webkit-transition: all .6s ease-in-out;
	-ms-transition: 	all .6s ease-in-out; 
}
#mg_socials {
	margin-top: 15px;	
	float: left;
	height: 25px;
}
#mg_socials ul {
	list-style: none;	
	margin: 0;
	padding: 0;
}
#mg_socials ul li { 
	margin: 0 5px 0 0;
	display: inline-block;
	width: 25px;
	height: 25px;
	padding: 0;
}
#mg_socials ul li a,
#mg_socials ul li span { 
	-webkit-transition: all .2s linear; 
	-ms-transition: all .2s linear; 
	transition: all .2s linear;   





	display: inline-block;
	width: 25px;
	height: 25px;
	padding: 0;
}
#mg_socials ul li span {
	opacity: 0.8;
}
#mg_socials ul li span:hover {
	opacity: 1;
}


/*** lightbox social styles ***/
#mg_socials span:before {
	font-family: 'lcweb-media';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}

/* old one with images */
#mg_socials.mgls_old ul #mg_fb_share span {
	background: url(../img/socials_sprite.png) no-repeat -75px -25px transparent;		
}
#mg_socials.mgls_old ul #mg_fb_share span:hover {
	background: url(../img/socials_sprite.png) no-repeat -75px 0px transparent;		
}

#mg_socials.mgls_old ul #mg_tw_share span {
	background: url(../img/socials_sprite.png) no-repeat -50px -25px transparent;		
}
#mg_socials.mgls_old ul #mg_tw_share span:hover {
	background: url(../img/socials_sprite.png) no-repeat -50px 0px transparent;		
}

#mg_socials.mgls_old ul #mg_pn_share span {
	background: url(../img/socials_sprite.png) no-repeat -25px -25px transparent;	
}
#mg_socials.mgls_old ul #mg_pn_share span:hover {
	background: url(../img/socials_sprite.png) no-repeat -25px 0px transparent;		
}
#mg_socials.mgls_old ul #mg_gp_share span {
	background: url(../img/socials_sprite.png) no-repeat 0px -25px transparent;	
}
#mg_socials.mgls_old ul #mg_gp_share span:hover {
	background: url(../img/socials_sprite.png) no-repeat 0px 0px transparent;		
}

/* minimal icons */
#mg_socials.mgls_minimal span:before {font-size: 20px; text-align: center;}
#mg_socials.mgls_minimal #mg_fb_share span:before {content: "\e60d";}
#mg_socials.mgls_minimal #mg_tw_share span:before {content: "\e610";}
#mg_socials.mgls_minimal #mg_gp_share span:before {content: "\e60a"; font-weight: bold;}
.mgls_minimal #mg_pn_share span:before {content: "\e615";}



/* rounded icons */
#mg_socials.mgls_rounded span:before {font-size: 22px;}
#mg_socials.mgls_rounded #mg_fb_share span:before {content: "\e60f";}
#mg_socials.mgls_rounded #mg_tw_share span:before {content: "\e612";}
#mg_socials.mgls_rounded #mg_gp_share span:before {content: "\e60c";}
#mg_socials.mgls_rounded #mg_pn_share span:before {content: "\e613";}

/* squared icons */
#mg_socials.mgls_squared span:before {font-size: 22px;}
#mg_socials.mgls_squared #mg_fb_share span:before {content: "\e60e";}
#mg_socials.mgls_squared #mg_tw_share span:before {content: "\e611";}
#mg_socials.mgls_squared #mg_gp_share span:before {content: "\e60b";}
#mg_socials.mgls_squared #mg_pn_share span:before {content: "\e614";}



/* FULL WIDTH LAYOUT */
.mg_layout_full .mg_content_left {
	width: 28%;	
	float: left;
	margin-right: 3.5%;	
}
.mg_layout_full .mg_item_text {
	float: right;
	width: 68.5%;	
}
.mg_layout_full .mg_widetext {
	float: none;
	width: auto;	
}


/* SIDETEXT LAYOUT */
.mg_lb_layout:not(.mg_layout_full) > div > div {
	display: table-cell;	
}
.mg_lb_layout:not(.mg_layout_full) .mg_item_content {
	vertical-align: top;
}
.mg_lb_layout:not(.mg_layout_full) .mg_cust_options {
	margin-bottom: 20px;
}

/* 66-34 - text on right */
div.mg_layout_side_tripartite div.mg_item_featured {
	float: left;
	width: 65%;	
}
div.mg_layout_side_tripartite div.mg_item_content {
	float: right;
	width: 35%;	
	padding-left: 3% !important;
}

/* 66-34 - text on left */
div.mg_layout_side_tripartite_tol div.mg_item_featured {
	float: right;
	width: 65%;	
}
div.mg_layout_side_tripartite_tol div.mg_item_content {
	float: left;
	width: 35%;	
	padding-right: 3% !important;
}

/* 50-50 - text on right */
div.mg_layout_side_bipartite div.mg_item_featured {
	float: left;
	width: 50%;	
}
div.mg_layout_side_bipartite div.mg_item_content {
	float: right;
	width: 50%;	
	padding-left: 3% !important;
}

/* 50-50 - text on left */
div.mg_layout_side_bipartite_tol div.mg_item_featured {
	float: right;
	width: 50%;	
}
div.mg_layout_side_bipartite_tol div.mg_item_content {
	float: left;
	width: 50%;	
	padding-right: 3% !important;
}



/* LIGHTBOX RESPONSIVE */
@media screen and (max-width:860px) { 
	#mg_lb_contents {
		margin: 30px 0;	
	}
	.mg_lb_layout:not(.mg_layout_full) > div > div {
		display: block;	
		float: none;
	}
	.mg_lb_layout:not(.mg_layout_full) .mg_item_featured {
		width: 100%;	
	}
	.mg_lb_layout:not(.mg_layout_full) .mg_item_content {
		padding: 15px 5px 0px;	
		width: auto;
	}	
	.mg_lb_layout:not(.mg_layout_full) .mg_content_left {
		width: 28%;	
		float: left;
		margin-right: 2%;	
	}
	.mg_lb_layout:not(.mg_layout_full) .mg_item_text {
		float: right;
		width: 100%;
	}
	.mg_lb_layout:not(.mg_layout_full) .mg_item_content {
		margin-left: 0;
		padding: 15px 0 0;
		width: 100%; 	
	}
	
	/****/
	
	.mg_layout_full .mg_content_left,
	.mg_layout_full .mg_item_text {
		width: auto;	
		float: none;	
	}
	.mg_layout_full .mg_cust_options {
		margin-bottom: 20px;	
	}
	
	/* hide external navs */
	#mg_lb_top_nav, .mg_side_nav, #mg_top_close {
    	display: none !important;	
    }
    #mg_lb_ins_cmd_wrap {
    	display: block !important;
    }
}


/* SINGLE IMAGE & SLIDER */
.mg_item_featured img {
	width: 100%;
	max-width: 100%;
	border-radius: 2px;	
}
.mg_galleria_slider_wrap .galleria-errors {
	display: none !important;	
}
.mg_galleria_slider_wrap .galleria-stage {
	position: absolute !important;
}


/* IFRAME VIDEO POSTER */
#mg_lb_video_poster {
	position: absolute;
    width: 100%;
	height: 100%;
    z-index: 10;
	cursor: pointer;
	
	background-position: center center;
	background-repeat: no-repeat;
	
	-webkit-background-size: cover;
	background-size: cover;
}
#mg_lb_video_wrap img {
	display: none !important;

	max-width: 0 !important;
	max-height: 0 !important;
	visibility: hidden !important;	
}
#mg_ifp_ol,
.mg_galleria_slider_wrap .galleria-videoicon,
.mg_self-hosted-video .mejs-overlay-button {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 50%;
	top: 50%;
    border-radius: 50%;
	margin-top: -30px;
	margin-left: -30px;
	background: #050505;
	background: rgba(10,10,10, 0.7);
	border: 3px solid #fff;
	color: #fff;
	opacity: 0.7;

	transition: 		opacity .2s ease-in-out; 
    -webkit-transition: opacity .2s ease-in-out; 
	-ms-transition: 	opacity .2s ease-in-out; 	
}
#mg_ifp_ol {
	z-index: 20;	
}
#mg_ifp_ol:before {
	font-size: 31px;
    position: relative;
    top: 15px;
    left: 21px;
}
.mg_self-hosted-video .mejs-overlay-button:before {
	content: "";
	display: inline-block;	
	border-style: solid;
}
.mg_galleria_slider_wrap .galleria-videoicon i,
.mg_self-hosted-video .mejs-overlay-button:before {
	border-width: 13px 0 13px 24px !important;
	margin: 18px 0 0 21px !important;
	border-color: transparent transparent transparent #fff;
}
.mg_sh_inl_video .mejs-overlay-button:before {
	position: relative;
	top: -3px;
	left: -3px;	
}
#mg_lb_video_wrap:hover #mg_ifp_ol,
.mg_galleria_slider_wrap .galleria-stage:hover .galleria-videoicon,
.mg_self-hosted-video:hover .mejs-overlay-button {
	opacity: 0.9;
}
@media screen and (max-width:420px) {
	#mg_lb_video_wrap {
		min-height: 100px;	
	}
}



/* ISOTOPE STYLES */
.mg_isotope .mg_isotope-item {
  -webkit-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
          transition-duration: 0.7s;
}
.mg_isotope .mg_isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
      -ms-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}
.mg_shown { /* Isotope Filtering */
  z-index: 2;
}


/* ESAYZOOM integration */
.mg_lb_img_zoom:before, .mg_lb_img_zoom:after {
	position: absolute;
	top: 13px;
	left: 13px;
	text-align: center;
	display: inline-block;
	width: 45px;
	height: 45px;
	background: rgba(20, 20, 20, 0.3);

	text-shadow: 0 0 2px #333;
	color: #fff;
	border-radius: 2px;

	font-family: 'fontawesome';
	
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	content: "\f00e";
    font-size: 28px;
	line-height: 43px;
	z-index: 10;
}
.mg_lb_img_zoom:after {
	z-index: 15;
	color: #fff;
	background: none;
	
	/*-webkit-animation: 	mg_liz_icon 1.6s ease-in-out .8s infinite;
	animation: 			mg_liz_icon 1.6s ease-in-out .8s infinite;*/			
}
@-webkit-keyframes mg_liz_icon {
    0% {opacity: 0.8; -webkit-transform: scale(1) translateZ(0);}
	75%, 100% {opacity: 0; -webkit-transform: scale(1.4) translateZ(0);}
}
@keyframes mg_liz_icon {
	0% {opacity: 0.8; transform: scale(1) translateZ(0);}
	75%, 100% {opacity: 0; transform: scale(1.4) translateZ(0);}
}

.mg_item_featured .easyzoom {
	position: relative;
	display: inline-block;
	zoom: 1; /* required by JS plugin */
}
.mg_item_featured .easyzoom img {
	vertical-align: bottom;
}
.mg_item_featured .easyzoom.is-loading img 	{cursor: progress !important;}
.mg_item_featured .easyzoom.is-error  img 	{cursor: not-allowed !important;}
.mg_item_featured .easyzoom-flyout img,
.mg_item_featured .easyzoom.is-ready img {
	cursor: crosshair !important;
}
.mg_item_featured .easyzoom-notice {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 150;
	width: 10em;
	margin: -1em 0 0 -5em;
	line-height: 2em;
	text-align: center;
	background: #fff;
	box-shadow: 0 0 6px #888;
}
.mg_item_featured .easyzoom-flyout {
	position:absolute;
	z-index: 100;
	overflow: hidden;
	background: #fff;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.mg_item_featured .easyzoom-flyout > img {
    max-width: none;
    width: auto;
}
.mg_item_featured .easyzoom--overlay .easyzoom-flyout {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}