.pp-post-tile-post .pp-post-tile-image {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100%;
	position: relative;
	overflow: hidden;
	margin: 0;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	will-change: transform;
}
.pp-post-tile-post:hover .pp-post-tile-image {
	-webkit-transform: scale(1.1);
  	-moz-transform: scale(1.1);
  	-o-transform: scale(1.1);
  	-ms-transform: scale(1.1); /* IE 9 */
  	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand')"; /* IE8 */
   	filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand'); /* IE6 and 7 */
	transform: scale(1.1);
}
.pp-post-tile-post .pp-post-tile-image a:last-child:before {
    content: "";
    display: block;
    height: 70%;
    width: 100%;
    position: absolute;
	bottom: 0;
    z-index: 1;
    background: -moz-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(40%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.7)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
    background: -o-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 40%,rgba(0,0,0,.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
}
.pp-post-tile-post .pp-post-tile-image a:last-child:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
	bottom: 0;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
.pp-post-tile-post:hover .pp-post-tile-image a:last-child:before {
	background-color: rgba(0,0,0,.1);
}
.pp-post-tile-post .pp-post-tile-image img {
	display: block;
	height: auto;
	opacity: 1;
	transition: transform 0.3s ease, opacity 0.3s;
    -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s;
	transition-timing-function: ease !important;
}
.pp-post-tile-post:hover .pp-post-tile-image img {
	transform: scale3d(1.1,1.1,1);
    -webkit-transform: scale3d(1.1,1.1,1);
    -moz-transform: scale3d(1.1,1.1,1) rotate(.02deg);
}
.pp-post-tile-post .pp-post-tile-text {
	position: absolute;
	bottom: 0;
    pointer-events: none;
    z-index: 1;
    width: 100%;
}
.pp-post-tile-post .pp-post-tile-info {
	width: 80%;
    margin: 0 0 0 20px;
}
.pp-post-tile-group:before,
.pp-post-tile-group:after {
	content: "";
	display: table;
}
.pp-post-tile-group:after {
	clear: both;
}