.bsf-aiosrs-pro {
	max-width: 1200px;
}

.bsf-aiosrs-pro .aiosrs-help-link {
	font-size: 1.2em;
}

.bsf-aiosrs-pro .aiosrs-help-link:focus {
	box-shadow: none;
}

.bsf-aiosrs-pro .form-table th {
	width: 280px;
}

.bsf-aiosrs-pro .select2-selection__choice {
    line-height: 1.7;
}

.bsf-aiosrs-pro .select2-container * {
	vertical-align: middle;
}
.bsf-aiosrs-pro .select2-container .select2-selection__choice__remove {
	vertical-align: initial;
}

.wp-schema-pro-global-schemas .form-table select,
.wp-schema-pro-general-settings .form-table input[type="text"],
.wp-schema-pro-general-settings .form-table select,
.wp-schema-pro-advanced-settings .form-table select,
.wp-schema-pro-social-profiles .form-table input[type="url"] {
    min-width: 50%;
}

#wp-schema-pro-setting-links {
    margin-top: 10px;
    margin-left: 5px;
}

#wp-schema-pro-setting-links a {
    text-decoration: none;
    box-shadow: none;
}

#wp-schema-pro-setting-links a.active {
    color: inherit;
    pointer-events: none;
    font-weight: 600;
}

.wp-schema-pro-general-settings .custom-field-wrapper {
    display: inline-block;
    width: 48%;
    vertical-align: middle;
}

.wp-schema-pro-general-settings .site-logo-custom-wrap {
    vertical-align: top;
}

/**
 * Custom Image Select
 */
.wp-schema-pro-general-settings .image-field-wrap {
	position: relative;
	display: inline-block;
}

.wp-schema-pro-general-settings .aiosrs-image-select .dashicons {
	font-size: 1.2em;
	width: 1em;
	height: 1em;
	line-height: 1em;
	margin-right: 5px;
	vertical-align: middle;
}

.wp-schema-pro-general-settings .aiosrs-image-remove {
	display:none;
	position: absolute;
	background: rgba(255,255,255,.7);
	right: 0;
}

.wp-schema-pro-general-settings .aiosrs-image-remove {
	font-size: 15px;
	width: 1em;
	height: 1em;
}

.wp-schema-pro-general-settings .bsf-custom-image-selected .aiosrs-image-select {
	display: none;
}

.wp-schema-pro-general-settings .bsf-custom-image-selected .aiosrs-image-remove {
	display: inline-block;
}

.wp-schema-pro-general-settings .bsf-custom-image-selected .aiosrs-image-select.img {
	max-width: 100%;
	display: inline-block;
}

.wp-schema-pro-general-settings .bsf-custom-image-selected .aiosrs-image-select.img img {
	max-height: 50px;
}

.wp-schema-pro-general-settings .bsf-custom-image-selected .aiosrs-image-select.img img {
	vertical-align: middle;
	max-width: 300px;
}


/**
 * Repeater Style
 */
.aiosrs-pro-repeater-table-wrap {
	position: relative;
	margin-bottom: 1em;
    border: 1px solid #f1f1f1;
    padding: 10px;
}

.aiosrs-pro-repeater-table-wrap .bsf-repeater-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 2px;
	border: 1px solid #f1f1f1;
}

.bsf-repeater-add-new-btn {
	float: right;
	width: 100px;
}

.aiosrs-pro-repeater-table-wrap .form-table th,
.aiosrs-pro-repeater-table-wrap .form-table td {
	border: 0;
	padding: 0;
	width: 100%;
	display: inline-block;
}

.aiosrs-pro-repeater-table-wrap .form-table td input,
.aiosrs-pro-repeater-table-wrap .form-table td select {
    min-width:70%;
}

.bsf-aiosrs-schema-type-wrap .aiosrs-pro-repeater-table-wrap:first-of-type:last-of-type .bsf-repeater-close {
	opacity: .3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	pointer-events: none;
}

/**
 * Tooltip
 */
.wp-schema-pro-tooltip-wrapper {
	position: relative;
	display: inline-block;
}
.wp-schema-pro-tooltip-wrapper .wp-schema-pro-tooltip-description {
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	position: absolute;
	background: #333;
	color: #dedede;
	left: calc( 100% - 2.4em );
	bottom: calc(100% - .75em);
	border-radius: 3px;
	box-shadow: 0px 0px 1px 0px #333;
	font-weight: normal;
    min-width: 300px;
    z-index: 9999;
}

.wp-schema-pro-tooltip-wrapper .wp-schema-pro-tooltip-icon {
	cursor: pointer;
	font-size: 18px;
}

.wp-schema-pro-tooltip-wrapper.activate .wp-schema-pro-tooltip-icon {
	pointer-events: none;
}

.wp-schema-pro-tooltip-wrapper .dashicons.dashicons-arrow-down {
	position: absolute;
	font-size: 3em;
	top: calc(100% - .5em);
	left: 0;
	color: #333;
	line-height: initial;
	z-index: -1;
}

.wp-schema-pro-tooltip-wrapper.activate .wp-schema-pro-tooltip-description {
    opacity: 1;
    visibility: visible;
    bottom: calc( 100% + .75em );
}

.wp-schema-pro-tooltip-wrapper .wp-schema-pro-tooltip-content {
    padding: 8px 12px;
}

.wp-schema-pro-tooltip-wrapper h2.wp-schema-pro-tooltip-heading ~ .wp-schema-pro-tooltip-content {
    min-height: 50px;
}

.wp-schema-pro-tooltip-wrapper h2.wp-schema-pro-tooltip-heading {
    color: #dedede;
    font-weight: 600;
    border-bottom: 1px solid #eee;
}
.wp-schema-pro-tooltip-wrapper .wp-schema-pro-tooltip-content a {
    text-decoration: none;
    box-shadow: none;
    font-size: inherit;
}

.wp-schema-pro-tooltip-wrapper .wp-schema-pro-tooltip-content img {
	max-width: 100%;
}

.wp-schema-pro-tooltip-wrapper .wp-schema-pro-tooltip-content .tooltip-image {
    margin-top: 10px;
}

.tooltip-with-image-wrapper .wp-schema-pro-tooltip-wrapper .wp-schema-pro-tooltip-description {
    min-width: 400px;
}

.rtl .wp-schema-pro-tooltip-wrapper .wp-schema-pro-tooltip-description {
    right: calc( 100% - 2.4em );
    left: 0;
}

.rtl .wp-schema-pro-tooltip-wrapper .dashicons.dashicons-arrow-down {
    right: 0;
}

.hndle .wp-schema-pro-tooltip-wrapper .wp-schema-pro-tooltip-icon {
	color: #f00;
}
.hndle .wp-schema-pro-tooltip-wrapper .wp-schema-pro-tooltip-icon:before {
	content: "\f534";
}

.wp-schema-pro-yoast-compatibilty-wrap th {
	display: flex;
}

.wp-schema-pro-yoast-compatibilty-wrap td {
	vertical-align: top;
	padding-top: 20px;
}

.wp-schema-pro-tooltip-content ol {
	margin-top: .5em;
}

@media screen and ( min-width: 783px ) {
	.wp-schema-pro-tooltip-wrapper {
		float: right;
	}
	.rtl .wp-schema-pro-tooltip-wrapper {
		float: left;
	}
	.hndle .wp-schema-pro-tooltip-wrapper .wp-schema-pro-tooltip-description {
		min-width: 400px;
	}
	.hndle .wp-schema-pro-tooltip-wrapper {
		float: none;
	}
}