#hide-opening-hours {
	h3 {
		margin: 1.33em 0;
		font-size: 1em;
	}

	.opening-hours,
	.opening-hours-second {
		clear: both;
	}
}

#opening-hours-container{
	.opening-hours,
	.opening-hours-second {
		clear: both;
	}
}

#wpseo-local-metabox {
	legend,
	label {
		&.textinput {
			float: left;
			width: 150px;
			line-height: 1.5em;
		}
	}

	legend {
		&.textinput {
			padding: 0;
			line-height: 28px;
		}
	}

	.opening-hours {
		fieldset {
			padding-bottom: 10px;
		}
	}

	.opening-hours-second {
		padding-top: 5px;

		select {
			// margin: 0 0.5em;
		}
	}

	.yoast-local-seo-field-desc {
		margin-left: 150px;
	}

	select {
		margin: 0;
		padding: 0;
	}
}

.wpseo_media_icon {
	display: inline-block;
	width: 20px;
	height: 18px;
	margin: 0 3px 0 0;
	background: url(../../images/sprite-buttons.png) no-repeat;
	vertical-align: text-top;
}

.wpseo_icon_map {
	width: 12px;
	background-position: 0 0;
}

.wpseo_icon_address {
	width: 18px;
	background-position: 0 -25px;
}

.wpseo_icon_opening_hours {
	width: 17px;
	background-position: 0 -50px;
}

.wpseo_icon_storelocator {
	width: 18px;
	background-position: 0 -75px;
}

.opening-hours {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.wpseo_open_24h {
	padding: 5px;
	font-style: italic;
}

.wpseo_local_input {
	display: flex;
	align-items: center;
	margin: 0 0 15px;
	width: 700px;
	> label {
		min-width: 200px;
	}
	.before {
		order: 5;
	}
	input.textinput {
		order: 10;
		margin-bottom: 0;
		width: auto;
		flex: 1;
	}
	.after {
		order: 20;
	}
}

.select2-container {
	margin: 0 0 15px;
}

@media screen and (max-width: 782px) {
	.wpseo_media_icon {
		margin-left: -3px;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
	.wpseo_media_icon {
		background-image: url( ../../images/sprite-buttons@2x.png);
		background-size: 18px 92px;
	}
}

.yoast-seo-local__maptype{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
	padding: 10px 0;

	&__radio {
		flex: {
			grow: 0;
			shrink: 1;
			basis: calc( 50% - 10px );
		}

		input[type="radio"] {
			display: none;

			&:checked {
				+ label {
					font-weight: 600;
					img {
						box-shadow: 0 0 20px rgba( 0, 0, 0, 0.5 );
					}
				}
			}
		}

		label {
			width: 100%;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			padding: 4px 0;
		}
		span {
			display: block;
			width: 100%;
			text-align: center;
		}
	}
}

.page-wpseo_local {
	label.checkbox {
		float: left;
		width: 200px;
		margin: 5px 0;
	}
}